

/* GLOBAL */
html.tablet .game_cards_clear {
	display: none;
}

html.tablet .maincontent {
	width: unset !important;
	margin: 24px auto !important;
	padding: 0px var(--gpSpace-Gutter);
	max-width: 1120px;
}


/* LIST */


/* Title */
html.tablet .profile_badges_header_title {
	font: var(--gpText-HeadingMedium);
	color: white;
}

/* Row items */
html.tablet .badges_sheet .badge_row {
	margin: unset;
	border: none;
	background: none;
	padding: unset;
	border-radius: unset;
	background-color: var(--gpBackground-DarkSoft);
	margin-bottom: 12px;
}

html.tablet .badges_sheet .badge_row .badge_row_inner {
	border-radius: unset;
	background: none;
	padding: 16px 16px;
}

html.tablet .badges_sheet .badge_row.is_link:hover {
	border: none;
}

html.tablet .badges_sheet .badge_row.is_link:hover,
html.tablet .badges_sheet .badge_row.depressed {
	background: none;
	background-color: var(--gpBackground-DarkMedium);
	box-shadow: unset;
}

html.tablet .badges_sheet .badge_row:focus-within {
	background-color: var(--gpBackground-DarkMedium);
}

html.tablet .badges_sheet .badge_row .badge_row_inner .badge_content {
	padding: unset;
}

html.tablet .badges_sheet .badge_row .badge_row_inner .badge_title {
	font: var(--gpText-HeadingSmall);
	font-weight: 500;
}

html.tablet .badges_sheet .badge_row .badge_row_inner .badge_current {
	margin-right: 12px;
}

html.tablet .badges_sheet .badge_row .badge_row_inner .how_to_get_card_drops_ctn {
	display: none;
}

html.tablet .badges_sheet .badge_row .badge_row_inner .badge_title_stats_content {
	display: flex;
	flex-direction: row-reverse;
	column-gap: 8px;
}

html.tablet .badges_sheet .badge_row .badge_row_inner .badge_progress_card.owned,
html.tablet .badges_sheet .badge_row .badge_row_inner .badge_progress_card.unowned {
	display: flex;
	margin: unset;
	border: none;
	padding: unset;
	border-radius: 2px;
}

html.tablet .badges_sheet .badge_row .badge_row_inner .badge_progress_card.owned {
	box-shadow: var(--gpShadow-Small);
}

html.tablet .badges_sheet .badge_row .badge_row_inner .badge_progress_card.unowned {
	border: dashed 1px rgba(255,255,255, 0.3);
	background-color: var(--gpBackground-DarkHard);
}

/* xp block */
html.tablet .profile_xp_block {
	border-radius: unset;
	background: none;
	border: 2px solid var(--gpBackground-LightMedium);
	margin: 0px 0px 12px;
	padding: 16px;
}

html.tablet .profile_xp_block_remaining_bar {
	background-color: var(--gpBackground-DarkMedium);
}

html.tablet .profile_xp_block_remaining_bar_progress {
	background: var(--gpColor-Blue);
}



/* CONTAINER */
html.tablet .badge_row.depressed {
	box-shadow: unset;
	border-radius: unset;
	background: unset;
	padding: unset;
	border: none;
}


/* Title */
html.tablet .badge_title {
	font: var(--gpText-HeadingMedium);
	font-weight: 500;
}

html.tablet .badge_title_rule {
	display: none;
}

html.tablet .badge_row_inner {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

html.tablet .badge_title_stats {
	font-size: unset;
	color: unset;
	position: absolute;
	top: 16px;
	right: 16px;
}

html.tablet .badge_title_row {
	padding: unset;
	height: unset;
}


/* Badge */
html.tablet .gamecard_details {
	padding: unset;
}

html.tablet .gamecard_details .badge_info,
html.tablet .badges_sheet .badge_empty {
	border: 2px solid var(--gpBackground-LightMedium);
	border-radius: unset;
	max-width: unset;
	padding: 10px;
	margin: unset;
	display: flex;
	align-items: center;
	column-gap: 12px;
}

html.tablet .badge_empty_circle {
	float: unset;
	margin: unset;
	border-color: var(--gpStoreGrey);
}

html.tablet .badge_empty_right {
	margin: unset;
}

html.tablet .badge_empty_name {
	color: var(--gpStoreLightGrey);
	font: var(--gpText-BodyMedium);
}


/* Footer */
html.tablet .badge_detail_tasks.footer {
	display: none;
}




/* CARDS */
html.tablet .badge_card_set_cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 16px;
	row-gap: 32px;
}

html.tablet .badge_card_set_card {
	margin: 0px;
	width: unset;
	padding: 0px;
	/* background: var(--gpBackground-DarkSoft); */
}

html.tablet .game_card_ctn {
	margin-bottom: 12px;
	display: flex;
	border-radius: var(--gpCorner-Large);
	overflow: hidden;
	box-shadow: var(--gpShadow-Small);
	transition: box-shadow 0.4s ease;
	height: auto;
}

html.tablet .game_card_ctn.gpfocus:not( .badge_card_set_card.unowned .game_card_ctn ) {
	box-shadow: 0px 24px 32px 0px rgba(0,0,0,0.4);
}

html.tablet .badge_card_set_text {
	color: unset;
	margin: unset;
}

html.tablet .game_card_unowned_border {
	display: none;
}

html.tablet .badge_card_set_card.unowned img.gamecard {
	opacity: 0.3;
}

html.tablet .badge_card_set_card.unowned .badge_card_set_text {
	opacity: 0.4;
}




/* TASKS */
html.tablet .badge_detail_tasks {
	margin: unset;
	padding: unset;
	background: none;
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}




/* FRIENDS */
html.tablet .badge_friends_have_earned {
	padding: unset;
}

html.tablet .playerAvatar a {
	display: flex;
}




/* CARDS TO COLLECT */
html.tablet .badge_cards_to_collect {
	display: flex;
	flex-direction: column;
	row-gap: 6px;
	padding-top: 16px;
	border-top: 1px solid var(--gpBackground-LightSoft);
}

html.tablet .gamecards_inventorylink {
	padding: unset;
	margin: unset;
	display: flex;
	gap: 6px;
}

html.tablet .badge_card_to_collect {
	margin: unset;
	padding: 12px 16px;
	background-color: var(--gpBackground-LightSofter);
	min-height: unset;
	display: flex;
	gap: 16px;
	transition: background-color 0.2s ease;
}

html.tablet .badge_card_to_collect.gpfocus {
	background-color: var(--gpBackground-LightSoft);
}

html.tablet .badge_card_set_unowned {
	position: unset;
	margin: unset;
}

html.tablet .badge_card_to_collect_info {
	flex: auto;
	padding: unset;
	display: flex;
	flex-direction: column;
}

html.tablet .badge_card_to_collect_header {
	color: unset;
	margin: unset;
}

html.tablet .badge_card_set_text,
html.tablet .badge_card_to_collect_info {
	font: var(--gpText-BodyMedium);
	color: var(--gpStoreLighterGrey);
}

html.tablet .badge_card_to_collect_links {
	display: flex;
	flex-direction: column;
	row-gap: 6px;
	position: absolute;
	top: 16px;
	right: 16px;
}

html.tablet .badge_card_to_collect_links > a {
	margin: unset;
}



/* TEXT OVERRIDES */
html.tablet .badge_card_set_title {
	font: var(--gpText-BodyLarge);
	font-weight: 500;
	color: white;
}



/* NEW MODAL FOR TRADING CARDS */
html.tablet .newmodal_content a {
	display: flex;
}

html.tablet .newmodal_content a img {
	width: 100%;
	height: auto;
}