
#mainBody {
	max-width:958px;
	margin:0 auto;
	padding:0;
	text-align:left;
}

#userNumbers {
	font-weight:bold;
	padding-top:13px;
	color:#4d4d4d;
}

#iTotalAccounts {
	color:#bebebe;
}

#iAccountsInGame {
	color:#8BC53F;
}

#iAccountsOnline {
	color:#62A7E3;
}

#iAccountsInChat {
	color:#bebebe;
}

#lowerContents {
	margin:0;
	padding:0;
	width:958px;
	background-image:url('https://community.cloudflare.steamstatic.com/public/images/skin_1/homeBoxBG.gif');
}

#lowerLeftContents {
	margin-left:5px;
	background-position:top left;
	background-repeat: no-repeat;
	width:681px;
	min-height:179px;
	height:179px;
	padding-top:325px;
}

#screenshots_detail_link {
	text-align:center;
	margin-top:-43px;
	margin-bottom:10px;
}

#screenshots_detail_a,#screenshots_detail_a:visited,#screenshots_detail_a:active {
	color:#697958;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	text-decoration:none;
}
#screenshots_detail_a:hover {
	text-decoration:underline;
}


#lowerLeftColLeft {
	padding-left:17px;
	padding-right:18px;
}

#lowerLeftColRight {
	float:right;
	left:18px;
	width:314px;
	padding-left:15px;
}

#lowerLeftColLeft h2 {
	color:#898989;
	font-weight:bold;
	font-size:15px;
}

.halfBreak {
	padding:4px 0px 12px 1px;
}

#lowerLeftColLeft {
	color:#6a6a6a;
	font-weight:bold;
	font-size:15px;
}

#lowerLeftColLeft a,#lowerLeftColLeft a:hover,#lowerLeftColLeft a:visited,#lowerLeftColLeft a:active {
	color:#ebebeb;
	font-weight:bold;
	font-size:15px;
}	

#lowerRightContents {
	float:right;
	width:254px;
	margin:0;
	padding:0;
	padding-right:5px;
	padding-top:10px;
}

#lowerRightContents h1 {
	margin:0;
	padding:0;
	font-size:11px;
	color:#e1e1e1;
	font-weight:normal;
}

#rightActionBlockHeader {
	width:254px;
	height:9px;
	margin:0;
	padding:0;
	background-image:url('https://community.cloudflare.steamstatic.com/public/images/skin_1/rightActionBlockHeader.gif');
}
#rightActionBlockFooter {
	width:254px;
	height:9px;
	margin:0;
	margin-bottom:20px;
	padding:0;
	background-image:url('https://community.cloudflare.steamstatic.com/public/images/skin_1/rightActionBlockFooter.gif');
}
#rightActionBlock {
	width:254px;
	margin:0;
	padding:0;
	padding-bottom:6px;
	background-image:url('https://community.cloudflare.steamstatic.com/public/images/skin_1/rightActionBlockBG.gif');
	background-repeat:repeat-y;
}

#rightActionBlock.rightBlock_oauth {
	padding-left: 8px;
}

.captcha_oauth {
	width: 210px;
}

#rightActionBlock label {
	display:block;
	color:#898989;
	font-size:12px;
	margin:0;
	padding:0;
	padding-left:12px;
}


#rightActionBlock label.smallLabel {
	display:block;
	color:#898989;
	font-size:9px;
	margin:0;
	padding:0;
	padding-left:12px;
}

#rightActionBlock label.checkboxLabel {
	display:inline;
	color:#898989;
	font-size:12px;
	margin:0;
	padding:0;
	padding-left:5px;
}

#rightActionBlock h2 {
	margin:0;
	padding:0;
	font-size:11px;
	font-weight:bold;
	color:#ff0000;
	padding-left:12px;
	padding-top:5px;
}

#rightActionBlock p{
	margin:0;
	padding:0;
	padding-top:12px;
	padding-bottom:2px;
	font-size: 11px;
	color: #7c7c7c;
	padding-left:12px;
	padding-right:10px;
}

#rightSetupBlockHeader {
	width:254px;
	height:8px;
	margin:0;
	padding:0;
	background-image:url('https://community.cloudflare.steamstatic.com/public/images/skin_1/rightStatsBlockHeader.gif');
}
#rightSetupBlockFooter {
	width:254px;
	height:8px;
	margin:0;
	margin-bottom:8px;
	padding:0;
	background-image:url('https://community.cloudflare.steamstatic.com/public/images/skin_1/rightStatsBlockFooter.gif');
}
#rightSetupBlock {
	width:254px;
	height:78px;
	margin:0;
	padding:0;
	background-image:url('https://community.cloudflare.steamstatic.com/public/images/skin_1/rightStatsBlockBG.gif');
	background-repeat:repeat-y;
}

#rightSetupBlock p{
	margin:0;
	padding:0;
	padding-bottom:0px;
	font-size: 11px;
	color: #7c7c7c;
	padding-left:12px;
	padding-right:10px;
}

.rightLowBlockHeader {
	width:254px;
	height:8px;
	margin:0;
	padding:0;
	background-image:url('https://community.cloudflare.steamstatic.com/public/images/skin_1/rightStatsBlockHeader.gif');
}
.rightLowBlockFooter {
	width:254px;
	height:8px;
	margin:0;
	margin-bottom:12px;
	padding:0;
	background-image:url('https://community.cloudflare.steamstatic.com/public/images/skin_1/rightStatsBlockFooter.gif');
}
.rightLowBlock {
	width:254px;
	margin:0;
	padding:0;
	background-image:url('https://community.cloudflare.steamstatic.com/public/images/skin_1/rightStatsBlockBG.gif');
	background-repeat:repeat-y;
}

.rightLowBlock p{
	margin:0;
	padding:0;
	padding-bottom:0px;
	font-size: 12px;
	color: #7c7c7c;
	padding-left:12px;
	padding-right:10px;
	padding-bottom:4px;
	
}

.boldWhite {
	font-weight:bold;
	color:#ebebeb;
}	

.rightLowBlock a,.rightLowBlock a:hover,.rightLowBlock a:active,.rightLowBlock a:visited {
	color:#ebebeb;
	font-weight:bold;
	text-decoration:none;
}

.rightLowBlock h2 {
	margin:0;
	padding:0;
	font-size: 13px;
	font-weight:bold;
	color: #8bc53f;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
}	

#rightTakeTour {
	width:254px;
	margin:0;
	padding:0;
	padding-left:12px;
	color:#bebebe;
	font-size:12px;
}

#dashBreak {
	margin:0;
	padding:0;
	margin-top:5px;
	margin-bottom:12px;
	margin-left:10px;
}

#captchaImg {
	margin-left:12px;
	margin-top: 1px;
	margin-bottom: 6px;
}

input.textField {
	margin-top:-2px;
	margin-bottom:6px;
	padding:2px;
	width: 200px;
}
input.textField,input.subImage, .checkboxRow {
	margin-left:12px;
}
input.checkField {
	margin-left:20px;
	margin-bottom:4px;
}
input.subImage {
	margin-top:6px;
	border:0;
}

.checkboxRow {
	padding: 8px 0px;
}

#rightActionBlock .checkboxRow label {
	display: inline;
	padding-left: 4px;
}

.rightLowBlock ul {
	list-style:none;
	margin:0 0 0 20px;
	padding:6px 10px 4px 0px;
	font-size:11px;
	color:#939393;
}

.rightLowBlock li {
	margin:0;
	padding:0;
	padding-left:13px;
	margin-bottom:7px;
	background-image:url('https://community.cloudflare.steamstatic.com/public/images/skin_1/bulletArrow.gif');
	background-repeat:no-repeat;
	background-position:0px 5px;
}

p.ulTitle {
	padding:0;
	margin:0;
	padding-left:13px;
	font-size:11px;
	color:#939393;
}

#lowerContents h1 {
	margin:0;
	padding:0;
	font-size:24px;
	font-weight:bold;
	color:#e1e1e1;
	padding-left:8px;
	padding-bottom:4px;
}

#lowerBlurbs h2 {
	margin:0;
	padding:0;
	font-size: 13px;
	font-weight:bold;
	color: #8bc53f;
	padding-left:10px;
	padding-right:10px;
}	

#lowerBlurbs p {
	margin:0;
	padding:0;
	padding-top:4px;
	padding-bottom:4px;
	font-size: 12px;
	color: #7c7c7c;
	padding-left:10px;
	padding-right:10px;
}

a.linkBlue,a.linkBlue:Hover,a.linkBlue:visited,a.linkBlue:active {
	font-size: 12px;
}

.blurbsGreyHR {
	margin:0;
	padding:0;
	height:1px;
	margin-top:8px;
	margin-bottom:8px;
	margin-left:10px;
	margin-right:10px;
	background-color:#383839;
}

#setupButton {
	padding-top:8px;
	padding-left:5px;
}

#loggedInText {
	font-size: 12px;
	color: #bebebe;
	padding-left:10px;
	line-height:18px;
}

#loggedInName {
	font-weight:bold;
	font-size: 12px;
	color: #bebebe;
}

#captchaLabel
{
	clear:none;
	float:left;
	line-height:17px;
}

#captchaRefresh
{
	clear:none;
	float:right;
	padding-top:3px;
	padding-right:36px;
	font-size:10px;
	line-height:12px;
}

#captchaRefreshImg 
{
	vertical-align:middle;
}

.OpenID_ImageHeader
{
	height: 60px;
}

.OpenID_Subheader
{
	background-image:url('https://community.cloudflare.steamstatic.com/public/images/header/lowerBarBG.gif');
	background-repeat:repeat-x;
	color:#344C5F;
	margin:1px 0 0;
	padding:0 0 0 111px;
	position:relative;

	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background-position: 0px -28px;
	height: 8px;
}

.OpenID_MainHeaderBody
{
	height: auto;
	padding-bottom: 24px;
	width: 958px;
	margin: 0;
	background-image: url('https://community.cloudflare.steamstatic.com/public/images/skin_1/homeBoxTopper.gif');
	text-align: left;
}

.OpenID_MainHeaderBody h1 {
	margin:0;
	padding:0;
	font-size:26px;
	font-weight:normal;
	color:#e1e1e1;
	padding-left:24px;
	padding-bottom:4px;
	padding-top:24px;
}

.OpenID_MainHeaderBody p {
	margin:0;
	padding:0;
	padding-right:140px;
	font-size:15px;
	font-weight:bold;
	color:#6a6a6a;
	line-height:18px;
	padding-left:24px;
	padding-bottom:4px;
}

.OpenID_LowerLeftContents
{
	margin-left:5px;
	background-position:top left;
	background-repeat:none;
	width:681px;
	min-height: 480px;
	height:480px;
	padding-top: 24px
}

.OpenID_Highlight
{
	color: #EBEBEB;
	font-size: 13px;
	font-weight: bold;
}

.OpenID_HighlightSmall
{
	color: #EBEBEB;
	font-size: 11px;
	font-weight: bold;
}

.OpenID_LowerHeader
{
	color: #EBEBEB;
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: bold;
}

.OpenID_Legal
{
	font-size:11px;
	margin-top: 40px;
}

.OpenID_Logout
{
	color: #959595;
	font-size: 12px;
}

.OpenID_Logout a
{
	color: #959595;
	font-size: 12px;
}

#login_btn_wait {
	margin-left: 12px;
}


.mainLoginPanel {

	margin-top: 17px;

	padding: 10px 15px;
	margin-bottom: 10px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

background: -webkit-linear-gradient( top, rgba( 64, 128, 183, 0.4) 5%, rgba( 64, 128, 183, 0.2) 95%);
	background: linear-gradient( to bottom, rgba( 64, 128, 183, 0.4) 5%, rgba( 64, 128, 183, 0.2) 95%);


	box-shadow: 0px 0px 3px 0px rgba(20,20,20,0.75);

}

.mainLoginPanel_china {
	width: 100%;
	border: 1px solid #000000;
	border-radius: 3px;
	margin-top: 17px;
background: -webkit-linear-gradient( top, #000 5%, #111 95%);
	background: linear-gradient( to bottom, #000 5%, #111 95%);
}

.mainLoginPanelDivider {
	width: 2px;
	height: 150px;
	margin: 10px;
	float: left;
	background-image: url( https://community.cloudflare.steamstatic.com/public/images/skin_1/signin_divider.jpg );
}

.mainLoginLeftPanel {
	min-width: 350px;
	max-width: 400px;
	float: left;
	padding: 17px 20px;
}
.mainLoginLeftPanel>p {
	font-size: 14px;
}

.mainLoginRightPanel {
	width: 314px;
	float: left;
	padding: 17px 20px;
}
.mainLoginRightPanel>p {
	font-size: 14px;
}
.mainLoginRightPanel>.createInfo {
	height: 202px;
}
.mainLoginRightPanel>.createInfo>p {
	font-size: 14px;
}

.mainLoginLeftPanel>h1, .mainLoginRightPanel>.createInfo>h1 {
	color: #ffffff;
	font-size: 22px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			font-weight: normal;
}

.mainLoginLeftPanel>p, .mainLoginRightPanel>.createInfo>p {
	margin-top: 0px;
}

.PSNLink {
	margin-top: 30px;
}
.PSNLink>a {
	color: #dddddd;
	text-decoration: underline;
}

.PSNTitle {
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	font-family: Arial,Helvetica,sans-serif;
}


input.textField {
	margin: 0px;


	color: #BFBFBF;
	outline: none;
	padding: 4px 6px;

	background-color: rgba( 0, 0, 0, 0.4 );

}

.checkboxRow {
	margin: 0px;
	padding-top: 4px;
}

.checkboxContainer {
	margin-bottom: 15px;
	height: 31px;
}


.forgotHelper {
	float: left;
	height: 18px;
	padding-top: 15px;
}

#login_btn_signin, #login_btn_wait {
}

.mainLoginLeftPanel_signin {
	width: 250px;
	float: left;
}
.mainLoginLeftPanel_signin>label {
	font-size: 13px;
	color: #2f89bc;
}

.mainLoginLeftPanel_captcha {
	float: left;
	width: 210px;
}

#error_display {
	color: #D2A63B;
}
.smallLabel {
	padding-top: 4px;
	font-size: 11px;
}

#captchaRefresh {
	padding-right: 5px;
	padding-top: 0px;
	margin-bottom: 7px;
}
#captchaImg {
	margin-left: 0px;
	margin-bottom: 2px;
}
#CaptchaFormArea>label {
	font-size: 14px;
}

.whyJoinLeft {
	float: left;
	width: 315px;
	padding-top: 65px;
	padding-left: 20px;
}
.whyJoinLeft>h1 {
	color: #ffffff;
	font-size: 18px;
	font-weight:bold;
}

.whyJoinLeft>ul {
	line-height: 22px;
	font-size: 14px;
	color: #b0aeac;
}

.whyJoinRight {
	float: left;
	width: 616px;
	padding-top: 0;
	position: relative;
}

.whyJoinRight img {
	width: 100%;
}
.whyJoinRight>#userNumbers {
	position: absolute;
	top: 65px;
	left: 0;
	right: 0;
	font-size: 18px;
	padding: 0;
	text-align: center;
}

.whyJoin_china {
	width: 100%;
	padding-top: 65px;
	margin-left: -340px;
}



@media screen and (max-width: 910px)
{
	html.responsive .mainLoginPanel,
	html.responsive .whyJoinLeft {
		padding-left: 2%;
		padding-right: 2%;
		margin-left: 1%;
		margin-right: 1%;
	}
	html.responsive .mainLoginLeftPanel,
	html.responsive .mainLoginRightPanel {
		padding: 0;
		min-width: 0;
	}
	/* why is every element floated? */
	html.responsive .mainLoginLeftPanel_signin,
	html.responsive .mainLoginLeftPanel_captcha,
	html.responsive #captchaRefresh,
	html.responsive .forgotHelper,
	html.responsive .whyJoinRight,
	html.responsive .mainLoginRightPanel {
		width: auto;
		float: none;

	}
	html.responsive .mainLoginLeftPanel
	{
		overflow: hidden;
		min-width: 48%;
	}
	html.responsive .mainLoginRightPanel
	{
		overflow: hidden;
		padding-left: 20px;
	}

	html.responsive .mainLoginLeftPanel_captcha {
		margin-bottom: 12px;
	}

	html.responsive input[type=text],
	html.responsive input[type=password] {
		font-size: 16px;
	}

	html.responsive #captchaExplanation {
		display: none;
	}

	html.responsive .mainLoginRightPanel>.createInfo {
		height: auto;
	}

	html.responsive .whyJoinLeft {
		padding-right: 0;
		margin-right: -40px;
		width: auto;
	}

	html.responsive .whyJoinRight {
		padding-top: 20px;
		height: auto;
		width: auto;
		overflow: hidden;
	}
}

@media screen and (max-width: 730px)
{
	html.responsive .whyJoinRight>#userNumbers {
		font-size: 16px;
		top: 13%;
	}
}

@media screen and (max-width: 641px)
{
	html.responsive .whyJoinLeft {
		float: none;
		width: auto;
		padding: 0;
		margin-right: 0;
	}
	html.responsive .whyJoinRight {
		padding: 0;
	}
}


@media screen and (max-width: 500px )
{
	html.responsive .mainLoginLeftPanel,
	html.responsive .mainLoginRightPanel
	{
		float: none;
		width: auto;
		padding: 0;
	}
	html.responsive .mainLoginPanelDivider {
		float: none;
		background: #000000;
		width: 95%;
		margin: 20px auto;
		height: 1px;
	}
}


@media screen and (max-width: 400px)
{
	html.responsive .whyJoinRight>#userNumbers {
		font-size: 14px;
	}
}

body.waitforauth #mainBody {
	display: none;
}