
@media screen and ( min-width: 501px ) and ( max-width: 910px ) {

	/* SUMMARY BOX */
	html.responsive #topSummaryBoxContent {
		border-radius: unset;
		color: var(--gpStoreLightestGrey);
		min-height: unset;
		padding: 16px;
		background: unset;
		border: 1px solid var(--gpBackground-LightMedium);
		color: var(--gpStoreLighterGrey);
		margin: 24px 0px 12px;
	}

	html.responsive #topSummaryLeft br {
		display: none;
	}

	html.responsive #topSummaryLeft {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}

	html.responsive #topSummaryLeft a {
		font: var(--gpText-BodyMedium);
		padding: 6px 12px;
		background-color: var(--gpBackground-LightSoft);
		border-radius: var(--gpCorner-Medium);
		transition: all 0.2s ease;
	}

	html.responsive #topSummaryLeft a:hover {
		background-color: var(--gpBackground-LightMedium);
	}

	html.responsive #topSummaryLeft a.gpfocus {
		background-color: white;
		color: black;
		border-radius: 0px;
	}

	html.responsive #topSummaryRowItem {
		display: flex;
		gap: 4px;
	}

	html.responsive #tsblTitle,
	html.responsive #tsblVal {
		float: unset;
		width: unset;
		color: unset;
		line-height: unset;
		display: inline;
	}

	html.responsive #tsblVal {
		color: var(--gpStoreLightestGrey);
	}

	/* Progresion bar */
	html.responsive #topSummaryAchievements {
		padding: unset;
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}

	html.responsive .achieveBarProgress {
		background-color: var(--gpColor-Blue);
	}

	html.responsive .achieveBar {
		padding: unset;
		background-color: var(--gpBackground-LightSoft);
		border: none;
	}




	/* HIDE NAV */
	html.responsive #tabs {
		display: none;
	}

	html.responsive #subtabs {
		display: none;
	}



	/* ACHIEVEMENT LIST */
	html.responsive .achievements_list {
		display: flex;
		flex-direction: column;
		row-gap: 6px;
	}

	html.responsive .achieveRow {
		padding: 8px;
		min-height: unset;
		margin: unset;
		display: flex;
		background: var(--gpBackground-LightSoft);
		align-items: center;
	}

	html.responsive .achieveImgHolder {
		position: unset;
		top: unset;
		display: flex;
	}

	html.responsive .achieveImgHolder img,
	html.responsive .CachieveImgHolder img {
		width: 64px;
		height: 64px;
	}

	html.responsive .achieveTxtHolder {
		flex: auto;
		padding: unset;
		padding: 0px 16px;
		padding-right: 0px;
		background: none;
	}

	html.responsive .achieveTxt {
		padding: unset;
	}

	html.responsive .achieveTxt h3 {
		font: var(--gpText-HeadingSmall);
		font-weight: 500;
		color: white;
	}

	html.responsive .achieveTxt h5 {
		font: var(--gpText-BodyMedium);
		color: var(--gpStoreLighterGrey);
		max-height: unset;
	}

	html.responsive .achieveUnlockTime {
		font: var(--gpText-BodyMedium);
		color: var(--gpStoreLightGrey);
		text-align: right;
	}

}