
#BG_top {
	position:relative;
	background-image:url('https://community.cloudflare.steamstatic.com/public/images/skin_1/bg_top.gif');
	background-repeat:no-repeat;
	width:958px;
	height:98px;
	text-align: left;
	margin: 0 auto;
}
#BG_bottom {
	background-image:url('https://community.cloudflare.steamstatic.com/public/images/skin_1/bg_bottom.gif');
	background-repeat:repeat-y;
	width:958px;
	text-align:left;
	margin: 0 auto;
}
#BG_top h2 {
	font-weight:normal;
	margin:0;
	padding:0;
	padding-top:21px;
	font-size: 26px;
	color: #898989;
	padding-left:17px;
}
#BG_top h1 {
	font-weight:normal;
	font-size: 26px;
	color: #e1e1e1;
	margin:0;
	padding:0;
	padding-top:0px;
	padding-bottom:5px;
	padding-left:17px;
}
#mainContents {
	max-width:936px;
	margin:0;
	padding:0;
	text-align:left;
	padding-left:17px;
	padding-top:10px;
}
.emptyMessage {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 32px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.gameListLogo {
	float:left;
	margin-right:16px;
}

h4 {
	padding:0;
	margin:0;
	padding-top:10px;
	padding-bottom:2px;
	color:#bebebe;
	font-weight:normal;
	font-size: 12px;
}

h5 {
	padding:0;
	margin:0;
	padding-top:2px;
	padding-bottom:2px;
	color:#56707f;
	font-weight:normal;
	font-size: 12px;
}

h6 {
	color:#56707f;
	font-weight:normal;
	font-size:12px;
	margin:0;
	padding:0;
	padding-bottom:15px;
}

.statsLink {
	font-weight:normal;
	font-size: 10px;
}

.returnLink {
	margin:0;
	padding:0;
	margin-bottom:20px;
	margin-left:3px;
	font-size: 11px;
}

.games_list_tabs {
	height: 25px;
}

.games_list_tab, a.games_list_tab {
	display: block;
	float: left;
	color: #ffffff;
	background-color: #3a3a3a;
	line-height: 25px;
	padding: 0px 12px;
	margin-left: 9px;

	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
}

a.games_list_tab:hover {
	text-decoration: none;
}

.games_list_tab_content {
	background-image: url( https://community.cloudflare.steamstatic.com/public/images/skin_1/gameList_tab_fade.png );
	background-position: top;
	background-repeat: no-repeat;
	width: 924px;
	padding-left: 6px;
	padding-right: 6px;
	margin-left: -6px;
	padding-top: 47px;
}

.gameListRow {
	min-height: 69px;
	height: auto;
	margin-bottom: 4px;
	background: rgba( 0, 0, 0, 0.2 );
	padding: 8px;
	overflow: hidden;
}

.gameListRowLogo {
	float: left;
	width: 184px;
	margin-right: 8px;
	position: relative;
}

.gameListRowLogo img {
	width: 100%;
	height: auto;
	max-height: 69px;
}

.gameListRowLogo .gameLogo, .gameLogoHolder_default .gameLogo {
	background: transparent;
}

.gameListRowLogo.ds_flagged .ds_flag {
	top: auto;
	bottom: 20%;
}
.gameListRowLogo.ds_flagged .gameLogo a {
	display: block;
	background: #141f2c;
	width: 184px;
	height: 69px;
}

.gameListRowLogo.ds_flagged img {
	opacity: 0.3;
}

.gameListRowItem {
	font-size: 11px;
	color: #7092a5;
	position: relative;
	padding: 5px 0px 0px 0px;
	height: auto;
}

.gameListItemActive {
    /* background-image: url( https://community.cloudflare.steamstatic.com/public/images/remote/Desk_ActiveBG.png ); */
	background: #1f3748;
}

.gameListItemInstalled {
	/* background-image: url( https://community.cloudflare.steamstatic.com/public/images/remote/Desk_InstalledBG.png ); */
}

.recentAchievements
{
	float:right;
	line-height: 14px;
}

.recentAchievementsImg {
padding-left:3px;
padding-top:3px;
}

.gameListRowItemName {
color: #ffffff;
font-size: 14px;
font-weight: normal;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		padding: 0px;
margin: 0;
}

.games_list_tab.active {
background-color: #4e4e4d;
}

#gameslist_controls {
	line-height: 24px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 6px;
}

.common_filter_ctn {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 6px;
}

.save_button_nag {
	margin-top: 5px;
}

.sort_message {
	white-space: nowrap;
	color: #8F98A0;
}

#wishlist_sort_options {
text-align: right;

}

.sort_options_label {
	display: inline;
}

.sort_options {
color: #8F98A0;
margin-bottom: 6px;
}

.sort_options .selected_sort {
color: #fff;
}

.sort_options a {
text-decoration: underline;
color: #67c1f5;
}

.sort_options a:hover {
color: #EBEBEB;
}


/*
* DISCOUNTS & PRICES
*/


.price, .match_price {
	font-family:tahoma, helvetica, arial, trebuchet ms, sans-serif;
	font-size: 11px;
	color: #fff;
}

.discount_block {
	position: relative;
	background-color: #000000;
}

.discount_pct {
	background-color: #4c6b22;
	color: #ffffff;
}

.discount_original_price {
	font-family:tahoma, helvetica, arial, trebuchet ms, sans-serif;
	color: #626366;
	text-decoration: line-through;
}

.discount_final_price {
	font-family:tahoma, helvetica, arial, trebuchet ms, sans-serif;
	color: #d6d7d8;
}

.discount_block_large {
	width: 157px;
	height: 41px;
}

.discount_block_large .discount_pct {
	position: absolute;
	left: 0px;
	width: 94px;
	height: 41px;
	font-size: 38px;
	text-align: center;
}

.discount_block_large .discount_original_price {
	position: absolute;
	left: 102px;
	top: 4px;
	font-size: 12px;
}

.discount_block_large .discount_final_price {
	position: absolute;
	left: 102px;
	top: 18px;
	font-size: 16px;
}

.discount_block_inline {
	display: inline;
	font-family:tahoma, helvetica, arial, trebuchet ms, sans-serif;
	padding: 1px 0px;
}

.discount_block_inline div {
	display: inline;
	padding: 1px 2px;
}


/* cart button */

.storepage_btn_ctn {
	margin-top: 10px;
}

.btn_storepage {
	float: right;
	position: relative;
	height: 34px;
}

.btn_storepage .btn_storepage_left, .btn_storepage .btn_storepage_right {
	position: absolute;
	width: 2px;
	height: 34px;
	top: 0px;

	background-image: url( https://community.cloudflare.steamstatic.com/public/images/storeImages/btn_storepage_corners.png );
}

.btn_storepage .btn_storepage_left {
	background-position: left;
	left: 0px;
}

.btn_storepage .btn_storepage_right {
	background-position: right;
	right: 0px;
}

.btn_storepage a.btn_storepage_content {
	display: inline-block;
	height: 34px;

	font-size: 11px;
	color: #ffffff;
	text-align: center;

	padding: 0px 11px;
	line-height: 34px;

	background-image: url( https://community.cloudflare.steamstatic.com/public/images/storeImages/btn_storepage_repeat.png );
	background-repeat: repeat-x;

	text-transform: uppercase;
}


.btn_storepage a.btn_storepage_content:hover {
	text-decoration: none;
}

div.hover {
	position: absolute;
	z-index: 400;
	top: 40px;
	left: 400px;
	text-align:left;
}

.hover_box {
	border: 1px solid #82807c;
	background-color: #3b3938;
	width: 256px;

	color: #b0aeac;
	font-size: 12px;
}

.hover_box .content {
	padding: 16px;
}

.hover_box h4 {
	color: #FFFFFF;
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 8px;
}

.hover_box p, .hover_box .hover_body_block {
	margin-top: 8px;
	margin-bottom: 8px;
}

.hover_box .rule {
	border-bottom: 1px solid #82807c;
}

#global_hover .hover_arrow {
	width: 26px;
	height: 13px;
	background-image: url( https://community.cloudflare.steamstatic.com/public/images/skin_1/hover_arrow_up.gif );
	background-repeat: no-repeat;
	position: absolute;
	top: 1px;
	left: 16px;
	z-index:500;
}

#global_hover_content h1 {
	color:#cccccc;
	font-weight:bold;
	font-size:13px;
	margin:0;
	padding:0;
	margin-bottom:5px;
}

/* link, stats, recommend popups */
/* duped and modified from header language dropdown */

.menuico {
	float:left;
}

.menutxt {
	margin-top:-5px;
}

.menuarrow {
	padding-left:8px;
	vertical-align: middle;
}

.popup_block2 {
	z-index: 900;
	position: absolute;
	text-align:left;
}

.popup_block2 .popup_body2 {
	background: -webkit-linear-gradient( top, #e3eaef 5%, #c7d5e0 95%);
	background: linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);
	box-shadow: 0 0 5px #000;
	position: relative;
	z-index:900;
}

.popup_menu2 a.popup_menu_item2 {
	display: block;
	padding: 5px 12px;
	color: #ffffff;
	z-index:990;
	white-space: nowrap;
}

.popup_menu2 a.bottom {
	border-bottom: 1px solid #82807c;
}

.popup_menu2 a.popup_menu_item2:hover {
	color: #ffffff;
	background-color:#222d3d;
	text-decoration: none;
}

.popup_body2 h5 {
	font-size: 10px;
	font-weight: bold;
	color: #212d3d;
	z-index:999;
	white-space: nowrap;
}

a.popup_menu_item2:hover h5 {
	color: #ffffff;
	text-decoration: none;
	white-space: nowrap;
}

.pullup_item {
	display: inline-block;
	background-color: rgba( 103, 193, 245, 0.2 );
	padding:3px 8px 0px 0px;
	border-radius: 2px;
	cursor: pointer;
	line-height: 18px;
	color: #66c0f4;
}
.pullup_item:hover, a.pullup_item:hover {
	background-color: rgba( 102, 192, 244, 0.4 );
	color: #ffffff;
}

a.pullup_item {
	color: #66c0f4;
}

.menu_ico {
	display: inline-block;
	vertical-align: top;
	padding: 1px 7px 0 6px;
}

.bottom_controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	margin-bottom: -6px;
}

.bottom_controls > *:not(:last-child) {
	margin-right: 6px;
}

.bottom_controls > * {
	margin-bottom: 6px;
}

/* recommendations */


.recommendationRow {
	padding-left: 208px;
	min-height: 77px;
	margin-bottom: 32px;
	position: relative;
}

.recommendationRowContent {

}

a.recommendation_btn, a.recommendation_imgbtn
{
	display: inline-block;
	line-height: 22px;
	height: 22px;
	color: #82807c;
	font-size: 11px;
	background-color: #1a1a1a;

	border-radius: 3px;
	-moz-border-radius: 3px;
}

a.recommendation_btn.lighter
{
	background-color: #262626;
	color: #b0aeac;
}

a.recommendation_btn
{
	padding: 0px 6px;
}

a.recommendation_btn:hover, a.recommendation_imgbtn:hover
{
	text-decoration: none;
	background-color: #97c0e3;
	color: #3c3d3e;
}

.quote_serif
{
	font-family: Georgia, serif;
}

.quote
{
	padding: 11px 11px;
	border: 1px solid #3c3d3e;
	color: #d6d7d8;
	font-size: 14px;
	font-style: italic;
	line-height: 19px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 5px;
	max-height: 450px;
	overflow: auto;
	overflow-x: hidden;
}

.recommendationButtons {
	float: right;
}

.recommendationDate {
	color: #626467;
	font-size: 11px;
	padding-bottom: 10px;
}
.recommendationDate a {
	color: #b0aeac;
}

.wishlistRow.sortableRow {
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
}

.wishlistRow.sortableRow.inDrag {
	cursor: move;
	cursor: grabbing;
	cursor: -moz-grabbing;
}

.wishlistRow {
	position: relative;
	min-height: 70px;
	margin-bottom: 15px;
	padding: 8px 1%;

	font-size: 11px;
	color: #56707f;
	background-color: rgba( 84, 133, 183, 0.2);
}
.wishlistRow:hover {
	background-color: rgba( 117, 204, 255, 0.3);
}

.wishlistRow .bottom_controls {
	left: 0;
}

.wishlistRankCtn {
	float: left;
	min-height: 50px;
	margin-right: 8px;
	overflow: hidden;
	padding-top: 4px;
}

div.wishlist_rank_ro, input.wishlist_rank {

	line-height: 24px;
	font-weight: bold;
	text-align: right;
	font-size: 16px;

	color: #ffffff;
	padding-right: 9px;
	width: 29px;
	height: 24px;
	padding-top: 4px;
}

input.wishlist_rank {
	border: none;
	background-color: rgba( 0, 0, 0, 0.2 );
	border-radius: 3px;
	border: 1px solid rgba( 0, 0, 0, 0.3);
	box-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.2);
	padding-top: 0px;
}


.wishlistRowLogo {
	float: left;
	width: 189px;
	max-width: 40%;
}

.wishlistRow h4 {
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			color: #ffffff;
	padding-top: 4px;
}

.wishlist_rank.userEdited {
}

.wishlistRowItem {
	overflow: hidden;
}


.gameListPriceData {
	float: right;
	text-align: right;

	padding-right: 4%;
	padding-top: 19px;
}

.storepage_btn_alt {
	display: none;
}

@media screen and (max-width: 600px )
{
	html.responsive .storepage_btn_ctn {
		display: none;
	}

	html.responsive .storepage_btn_alt {
		display: inline-block;
	}

	html.responsive .wishlistRankCtn {
		min-height: 0;
	}
}

a.btn_visit_store
{
	display: inline-block;
	line-height: 26px;
	height: 26px;
	color: #cccccc;
	font-size: 11px;
	background-color: #2c2c2d;
	border: 1px solid #404040;
	padding: 0px 12px;

	text-transform: uppercase;

	border-radius: 3px;
	-moz-border-radius: 3px;
}

a.btn_visit_store:hover
{
	text-decoration: none;
}


.btn_save
{
	display: inline-block;
	background-image: url( https://community.cloudflare.steamstatic.com/public/images/skin_1/btn_gradient.png );
	background-repeat: repeat-x;
	background-align: top;
	background-color: #262626;

	border: 1px solid #8bc53f;
	color: #8bc53f;

	width: 78px;
	height: 18px;

	line-height: 18px;
	font-size: 11px;
	text-align: center;

	cursor: pointer;
}

.btn_save.disabled
{
	border-color: #707070;
	color: #707070;
	cursor: default;
}

.save_actions_enabled, .save_actions_disabled {
	margin-bottom: 13px;
}

.save_actions_enabled .btn_save {
	float: left;
	margin-right: 9px;
}

#BG_bottom {
	position: relative;
}

#wishlist_comic {
	position: absolute;
	right: 8px;
	top: -92px;
}

body.migrated_profile_page #wishlist_comic {
	top: -121px;
}

@media screen and ( max-width: 910px ) {
	html.responsive #wishlist_comic {
		display: none;
	}
}

.wishlist_empty_notice {
	padding: 0px 12px;
}

.wishlist_empty_notice p a {
	font-size: 1em;
}

.scroll_bar {
	color: #85837C;
	position: relative;
	height: 26px;
	line-height: 26px;
	text-align: center;
	background-color: rgba( 0, 0, 0, 0.2 );
	text-transform: uppercase;
	font-size: 10px;
	margin-bottom: 3px;
}

.scroll_bar > .button {
	position: absolute;
	height: 26px;
	width: 100px;
	top: 0px;
	color: #B0AEAC;
	cursor: pointer;
}

.scroll_bar > .button a {
	color: #B0AEAC;
}

.scroll_bar > .button a:hover {
	text-decoration: none;
}

.scroll_bar > .button.right {
	right: 0px;
	border-left: 1px solid black;
}

.scroll_bar > .button.left {
	left: 0px;
	border-right: 1px solid black;
}

.scroll_bar > .info {
	margin: 0 auto 0 auto;
	color: #626366;
}

#games_list_row_container {
	overflow: hidden;
	position: relative;
}

.page_size_link {
	cursor: pointer;
	color: #fff
}

.page_size_link.active {
	color: #939393;
	cursor: default;
}

/*
 * Client connection
 */

#clientConnBlock {
	margin-bottom: 5px;
}

#clientConnGameBlocks {
    overflow: hidden;
    margin: 8px;
}

.clientConnArea {
    display: block;
    position: relative;
    overflow: hidden;
    color: #D0D0D0;
    z-index: 2;
	border-radius: 3px;
	padding: 8px 12px;

	background: #5e5c5c;
	background: -webkit-linear-gradient( top, #374858 5%, #263646 95%);
	background: linear-gradient( to bottom, #374858 5%, #263646 95%);
}

.clientConnArea #fullstretch {
    width: 100%;
    height: 100%;
}

.clientConnAdIcon {
    float: left;
    vertical-align: middle;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.clientConnAdIcon img {
    width: 32px;
    height: 32px;
}

.clientConnAdTextBlock {
    vertical-align: middle;
    margin: 8px;
    margin-left: 4px;
    margin-top: 16px;
    white-space: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
}

.clientConnMiddleBlock {
}

.clientConnRightBlock {
	text-align: center;
}

.clientConnHeaderText {
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
    color: #ffffff;
}

.clientConnMachineText {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-top: 4px;
}

.clientConnMachineBar {
    font-size: 13px;
    font-weight: bold;
    color: #A0A0A0;
    vertical-align: top;
}

.clientConnChangingText {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 4px;
}

.changingProgressBar {
    display: block;
    text-align: center;
    white-space: nowrap;
    margin-top: 4px;
}

h5.hours_played {
	height: 15px;
}

.clientConnStatusBlock {
    text-align: center;
    margin-top: 12px;
}

.clientConnStatusIcon {
    vertical-align: middle;
}

.clientConnStatusText {
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 12px;
    color: #FFFFFF;
    margin: 0;
}

.clientConnItemBlock {
    float: right;
	white-space: nowrap;
}

.clientConnItemTextBlock {
    display: inline-block;
	vertical-align: top;
}

.clientConnItemText {
    color: #FFFFFF;
    text-align: right;
    font-size: 12px;
    margin: 2px;
}

.clientConnItemIcon {
    display: inline-block;
    width: 40px;
    height: 26px;
	padding-top: 6px;
	cursor: pointer;
	background-size: 40px 32px;
}

.clientConnItemIcon.install {
	background-size: 40px 64px;
	background-position: center top;
	background-repeat: no-repeat;
}

.clientConnItemIcon.install:hover {
	background-size: 40px 64px;
	background-position: center bottom ;
	background-repeat: no-repeat;
}

#uninstallConfirm {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.uninstallConfirmButton {
    display: inline-block;
    width: 40%;
    background-color: #606060;
    color: #FFFFFF;
    margin: 12px;
    margin-top: 24px;
    border-radius: 4px;
    overflow: hidden;
    vertical-align: middle;
    font-size: 24px;
}

.color_uninstalled {
    color: #A0A0A0;
}

.color_disabled {
    color: #898989;
}

.thinBlackBorder {
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    overflow: hidden;
}

#clientConnDropdownIcon {
    float: right;
    width: 32px;
    height: 32px;
    margin-left: 16px;
}

.changingGameListRowLogo {
    position: absolute;
    left: 10px;
}

.changingGameLogoHolder {
    position: relative;
    width: 144px;
    height: 58px;
	background: rgba( 0, 0, 0, 0.5 );
}

.changingGameLogo {
    position: absolute;
    top: 4px;
    left: 4px;
}

.changingGameLogo img {
    width: 136px;
    height: 50px;
}

.changingGameListRow {
    padding-left: 160px;
    min-height: 62px;
}

.changingGameListRowItem {
    border: 1px solid #454545;
    padding: 4px;
    font-size: 11px;
    color: #939393;
    position: relative;
}

.changingGameListRowItem h4 {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
}


#mainContents {
	padding: 0;
}

.sectionTabsHR {
	display: none;
}

.games_list {
	clear: both;
	padding-top: 10px !important;
}

.gameListRow.followed .follow_game_btn, .gameListRow.notfollowed .unfollow_game_btn {
	display: none;
}

.followed_game_actions {
	padding-top: 18px;
}

@media screen and ( max-width: 600px ) {
	html.responsive .bottom_controls {
		clear: left;
		padding-top: 4px;
	}

	html.responsive #gameslist_controls {
		flex-direction: column;
		align-items: flex-start;
	}
}

@media screen and ( max-width: 500px ) {
	html.responsive .gameListRowItem, html.responsive .wishlistRowItem {
		overflow: visible;
		height: auto;
	}

	html.responsive .gameListRow {
		padding: 8px 1%;
	}

	html.responsive .gameListRowLogo {
		width: 160px;
	}
}

@media screen and ( max-width: 730px ) {
	html.responsive .recentAchievements {
		display: none;
	}
}