
/* GLOBAL */
html.tablet .profile_leftcol {
	padding: 0px var(--gpSpace-Gutter);
}

html.tablet .profile_rightcol {
	padding: 0px var(--gpSpace-Gutter);
	background: none;
	backdrop-filter: unset;
}

html.tablet .actual_persona_name {
	font-weight: 700;
}

html.tablet .profile_content {
	padding: 0px;
	max-width: 1120px;
}

html.tablet .profile_header_bg {
	max-width: 1120px;
}

html.tablet .profile_customization {
	border-radius: unset;
}

html.tablet .profile_customization_header {
	font: var(--gpText-BodySmall);
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: unset;
	padding: 12px;
}


/* White link */
html.tablet .game_info_achievement_summary a.whiteLink,
html.tablet .recentgame_quicklinks a.whiteLink,
html.tablet .profile_summary_footer span.whiteLink {
	padding: 6px 12px;
	background-color: #ffffff20;
	border-radius: var(--gpCorner-Medium);
	transition: all 0.2s ease;
}

html.tablet .game_info_achievement_summary a.whiteLink:hover,
html.tablet .recentgame_quicklinks a.whiteLink:hover,
html.tablet .profile_summary_footer span.whiteLink:hover {
	color: #FFFFFF;
	background-color: #ffffff30;
}

html.tablet .game_info_achievement_summary a.whiteLink.gpfocus,
html.tablet .recentgame_quicklinks a.whiteLink.gpfocus,
html.tablet .profile_summary_footer span.whiteLink.gpfocus {
	color: black;
	background-color: white;
	border-radius: 0px;
}

/* TODO: Create new link style for Deck to replace above */




/* VALVE EMPLOYEE HEADER */
html.tablet .profile_header_valve_employee {
	padding:8px;
	margin-bottom: 0px;
	margin-left: calc(0px - var(--gpSpace-Gutter));
	margin-right: calc(0px - var(--gpSpace-Gutter));

}

html.tablet .profile_header_valve_employee_desc {
	font-weight: 400;
	opacity: 0.8;
}



/* HEADER */
html.tablet .profile_header_content {
	padding-right: unset;
	padding: 24px 0px 0px;
	width: 100%;
	min-height: 190px;
}

html.tablet .profile_header_bg_texture {
	max-width: unset;
}

html.tablet .profile_header {
	padding: 0px var(--gpSpace-Gutter) 16px;
	max-width: unset;
}

html.tablet .profile_summary_footer {
	display: flex;
}

html.tablet .profile_header .persona_name {
	font-weight: 400;
}

html.tablet .profile_header .persona_name .namehistory_link {
	display: none;
}

html.tablet .persona_level_btn {
	display: flex;
	margin-bottom: 4px;
	background-color: rgba( 0, 0, 0, 0.3 );
	padding: 8px 16px;
	backdrop-filter: blur(12px);
}

html.tablet .profile_header_badgeinfo .persona_level {
	margin-bottom: 0px;
	display: flex;
	align-items: center;
	gap: 8px;
}

html.tablet .profile_header_badge {
	backdrop-filter: blur(12px);
	border-radius: 0px;
}

html.tablet .friendPlayerLevel {
	margin-top: 0px;
}

html.tablet .profile_header_actions {
	display: flex;
	column-gap: 6px;
}

/* Add friend button */
html.tablet .btn_profile_action {
	flex: auto;
}

html.tablet .btn_profile_action,
html.tablet .btn_profile_action span {
	transition: all 0.2s ease;
}

html.tablet .btn_profile_action.gpfocus {
	background: white;
	border-radius: 0px;
}

html.tablet .btn_profile_action.gpfocus span {
	color: black;
}

html.tablet .header_real_name_spacer {
	height: 28px;
}

html.tablet .profile_header .profile_summary {
	height: unset;
	overflow: scroll;
	max-height: 140px;
	margin: unset;
	padding: 8px 0px;
	-webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1.0) 8px, rgba(0, 0, 0, 1.0) calc(100% - 8px), rgba(0, 0, 0, 0) 100%);
	scroll-padding: 16px 0px;
}

/* TODO: Re-enable after solving the header panel direction */
html.tablet .profile_summary_footer {
	display: none;
}



/* STATUS */
html.tablet .responsive_status_info {
	margin-top: 0px;
	background: none;
	border-bottom: 1px solid #FFFFFF20;
	border-top: 1px solid #FFFFFF20;
	padding: 12px 0px;
	margin: 12px 0px;
	margin-top: 0px;
}

html.tablet .profile_in_game_header {
	font: var(--gpText-HeadingSmall);
	font-weight: 500;
}

html.tablet .responsive_status_info .profile_in_game {
	display: flex;
	align-items: baseline;
	gap: 12px;
	margin: unset;
}

html.tablet .responsive_status_info .profile_in_game_name,
html.tablet .responsive_status_info .profile_ban_status,
html.tablet .responsive_status_info .profile_in_game_broadcastpreview,
html.tablet .responsive_status_info .profile_in_game_joingame {
	margin: unset;
}



/* BUCKETS */
html.tablet .responsive_count_link_area {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	column-gap: 6px;
	margin-left: calc( 0px - var(--gpSpace-Gutter) );
	margin-right: calc( 0px - var(--gpSpace-Gutter) );
	scroll-padding-left: var(--gpSpace-Gutter);
	scroll-padding-right: var(--gpSpace-Gutter);
	padding: 0px var(--gpSpace-Gutter);
}

html.tablet .responsive_count_link_area::after {
	content: "\00a0";
	min-width: var(--gpSpace-Gutter);
}

html.tablet .responsive_count_link_area > div {
	backdrop-filter: blur(12px);
}

html.tablet .profile_item_links {
	display: flex;
	column-gap: 6px;
	margin: 8px 0px;
}

html.tablet #responsive_groupfriends_element_ctn {
	display: flex;
	column-gap: 6px;
	margin: 8px 0px;
}

html.tablet .profile_awards {
	display: flex;
	gap: 6px;
	margin: 8px 0px;
}

html.tablet .profile_badges {
	display: flex;
	gap: 6px;
	margin: 8px 0px;
}

html.tablet .profile_count_link,
html.tablet .profile_count_link_preview_ctn {
	float: unset;
	width: 160px;
	scroll-snap-align: start;
	margin: 0px;
	height: 96px;
	box-shadow: unset;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background: rgba( 0, 0, 0, 0.5 );
	padding: 8px;
}

html.tablet .profile_count_link_preview {
	height: 100px;
	overflow: hidden;
	line-height: unset;
}




/* CUSTOMISATION AREA */
html.tablet .profile_customization_area {
	margin-top: 24px;
}

html.tablet .favoritegroup_avatar a {
	display: flex;
}

html.tablet .profile_customization_block {
	padding: 12px;
}

html.tablet .showcase_content_bg {
	border-radius: unset;
	padding: 12px;
}

html.tablet .profile_customization {
	transition: background-color 0.2s ease;
}

html.tablet .profile_customization.gpfocus {
	background-color: rgba(0, 0, 0, 0.5);
}



/* SHOWCASE */
html.tablet .showcase_slot a {
	display: flex;
}

html.tablet .showcase_achievement a {
	display: flex;
}



/* RECENT ACTIVITY */
html.tablet .recent_game .game_info .game_info_cap {
	margin-right: 16px;
}

html.tablet .game_info_cap a {
	display: flex;
}

html.tablet .game_info_achievement a {
	display: flex;
}

html.tablet .recent_game .game_info .game_name {
	font: var(--gpText-BodyLarge);
}

html.tablet .profile_recentgame_header {
	background: none;
	margin: unset;
	padding: 12px 0px 8px;
	display: flex;
	align-items: baseline;
	width: 100%;
	gap: 12px;
}

html.tablet .profile_content h2 {
	font: var(--gpText-HeadingSmall);
	font-weight: 500;
	color: white;
}

html.tablet .recentgame_quicklinks h2 {
	font: var(--gpText-BodyLarge);
	font-weight: 400;
	opacity: 0.6;
}

html.tablet .recent_game {
	border-radius: unset;
	margin-bottom: 16px;
}

html.tablet .link_separator {
	display: none;
}

html.tablet .game_info_details {
	font: var(--gpText-BodyMedium);
}

html.tablet .game_info_achievement_summary .ellipsis {
	font: var(--gpText-BodyMedium);
}

html.tablet .game_info_achievements_only_ctn .game_info_achievements_summary_area {
	width: 420px;
}




/* USER CONTENT */

/* Header */
html.tablet #mainContents_sharedfiles {
	padding-top: 0px;
}

html.tablet .sharedfiles_header_ctn {
	padding: 24px var(--gpSpace-Gutter) 12px;
	background-color: var(--gpStoreDarkerGrey);
}

html.tablet #BG_top_sharedfiles {
	padding: unset;
	margin: unset;
	min-height: unset;
	margin-bottom: 8px;
}

html.tablet .sectionTabs {
	margin-left: 0px !important;
}

html.tablet #HeaderUserBreadcrumbs {
	font: var(--gpText-HeadingLarge);
	padding: unset;
	padding-bottom: 4px;
	margin-left: 16px;
	border-bottom: 1px solid var(--gpBackground-LightSoft);
}

html.tablet #HeaderUserBreadcrumbs .HeaderUserInfoSection {
	font: var(--gpText-BodyMedium);
}

html.tablet #FilterContainer {
	padding: unset;
	padding-top: 8px;
	margin-left: 16px;
	display: flex;
	align-items: center;
	column-gap: 8px;
}

html.tablet #tabs_basebg_workshop {
	padding: 0px var(--gpSpace-Gutter);
	min-height: unset;
	margin-top: 12px;
	width: unset;
	display: flex;
	flex-direction: row-reverse;
}

html.tablet .workshopBrowsePagingInfo {
	font: var(--gpText-BodyMedium);
	opacity: 0.8;
}

html.tablet .sharedfiles_usercontrol_ctn {
	display: flex;
	align-items: center;
	column-gap: 6px;
}

html.tablet .sharedfiles_usercontrol_ctn .favoritesRadioText {
	background-color: var(--gpBackground-LightSofter);
	border-radius: var(--gpCorner-Medium);
	display: flex;
    align-items: center;
    column-gap: 4px;
    padding: 4px 12px 4px 6px;
	transition: background-color 0.2s ease, border-radius 0.2s ease;
}

html.tablet .sharedfiles_usercontrol_ctn .favoritesRadioText:hover {
	background-color: var(--gpBackground-LightSoft);
}

html.tablet .sharedfiles_usercontrol_ctn .favoritesRadioText.gpfocus {
	background-color: var(--gpBackground-LightMedium);
	border-radius: 0px;
}

html.tablet .sharedfiles_usercontrols_label {
	color: var(--gpStoreLighterGrey);
	font: var(--gpText-BodyLarge);
}

html.tablet div.sharedfiles_filterselect {
	color: var(--gpStoreLighterGrey);
	font: var(--gpText-BodyLarge);
	height: unset;
	border: unset;
}

html.tablet div.sharedfiles_filterselect div.option {
	font: var(--gpText-BodyLarge);
	height: unset;
}


/* Containers */
html.tablet #tabs_basebg {
	margin: 24px var(--gpSpace-Gutter);
	min-height: unset;
}

html.tablet #BG_bottom_sharedfiles {
	max-width: unset;
}

html.tablet #leftContents {
	width: unset;
}

html.tablet #profileBlock {
	width: 100% !important;
}


/* No results */
html.tablet .view_inventory_page {
	background-color: unset;
}

html.tablet .view_inventory_page.inventory_msg_ctn,
html.tablet #NoItemsContainer {
	height: unset;
	min-height: unset;
	border: 2px solid var(--gpBackground-LightMedium);
	font: var(--gpText-BodyLarge);
	color: var(--gpStoreLighterGrey);
	padding: 32px 32px;
	background-color: unset;
}

html.tablet .inventory_msg_content {
	padding: 0px;
	font: var(--gpText-BodyLarge);
	color: var(--gpStoreLighterGrey);
}


/* Guides */
html.tablet .workshopItemCollectionContainer {
	box-shadow: unset;
	background: none;
	border-radius: unset;
}

html.tablet .workshopItemCollectionContainer .workshopItemCollection {
	box-shadow: unset;
	background: none;
	background-color: var(--gpBackground-Neutral-LightSofter);
}

html.tablet .workshopItemCollectionContainer .workshopItemCollection .workshopItemDetails {
	width: 100%;
	padding-top: unset;
}

html.tablet .workshopItemCollectionContainer .workshopItemCollection .workshopItemTitle {
	font: var(--gpText-HeadingSmall);
	font-weight: 500;
	max-width: unset;
}

html.tablet .workshopItemCollectionContainer .workshopItemCollection .workshopItemAuthorLine {
	font: var(--gpText-BodyMedium);
	color: var(--gpStoreLightestGrey);
	opacity: 0.8;
}

html.tablet .workshopItemCollectionContainer .workshopItemCollection .workshopItemAuthorLine span {
	color: var(--gpStoreLightestGrey)
}

html.tablet .workshopItemCollectionContainer .workshopItemCollection .workshopItemShortDesc {
	font: var(--gpText-BodyLarge);
	color: var(--gpStoreLightestGrey);
}


/* Videos */
html.tablet #ScreenshotManagementControlsTop {
	display: flex;
	align-items: center;
	padding: 0px 0px 12px 0px;
}

html.tablet #ScreenshotManagementControlsTop .ScreenshotManagementLabel {
	margin: unset;
	text-transform: unset;
}

html.tablet #ScreenshotManagementControlsTop #SharedFileDisplaySelect {
	margin: unset;
}


/* Screenshots */
html.tablet #instructions_main_container {
	width: unset;
	background-color: unset;
	border: unset;
	margin: unset;
	padding: unset;
}

html.tablet #instructions_main {
	margin: unset;
	margin-right: auto;
}

html.tablet #instructions_main h2 {
	font: var(--gpText-HeadingMedium);
	font-weight: 400;
	color: var(--gpStoreLightestGrey);
	width: 90%;
}

html.tablet #BatchScreenshotManagement {
	padding-bottom: 24px;
}


/* Workshop items */
html.tablet .workshopBrowseItems {
	grid-column-gap: 4px;
	grid-row-gap: 4px;
	margin-bottom: 12px;
	grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (min-width:  1280px) {
	html.tablet .workshopBrowseItems {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 1920px) {
	html.tablet .workshopBrowseItems {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}

html.tablet .workshopBrowseItems .workshopItem {
	padding: 12px;
	box-sizing: border-box;
	background-color: var(--gpBackground-DarkSoft);
	margin: unset;
	transition: background-color 0.2s ease;
}

html.tablet .workshopBrowseItems .workshopItem.gpfocus {
	background-color: var(--gpBackground-DarkHard);
}

html.tablet .workshopBrowseItems .workshopItem a {
	display: flex;
}

html.tablet .workshopBrowseItems .workshopItem a .workshopItemPreviewHolder {
	box-shadow: var(--gpShadow-Medium);
	margin: unset;
	width: 100%;
	height: unset;
}

html.tablet .workshopBrowseItems .workshopItem a .workshopItemPreviewHolder .workshopItemPreviewImage {
	width: 100%;
	max-height: unset;
}

html.tablet .workshopBrowseItems .workshopItem.gpfocus .workshopItemTitle {
	color: white;
}

html.tablet .workshopBrowseItems .workshopItem .item_link {
	margin-top: 6px;
}

html.tablet .workshopBrowseItems .workshopItem .workshopItemTitle {
	font: var(--gpText-BodyLarge);
	margin-top: 0px;
	color: var(--gpStoreLightestGrey);
	transition: color 0.2s ease;
}


html.tablet .workshopItem .workshopItemAuthorName {
	max-width: 100%;
}

html.tablet .workshopItem .workshopItemAuthorName a.workshop_author_link {
	display: inline-flex;
}

html.tablet .workshopItemSubscriptionControls {
	visibility: visible !important;
	position: relative;
}

html.tablet .user_action_history_icon.subscribed {
	display: none !important;
}

html.tablet .user_action_history_icon.favorited {
	margin-top: 4px;
}
