

.review_list h1 {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			font-size: 21px;
	font-weight: normal;
	border-bottom: 1px solid #445f7f;
	color: #fff;
	padding: 20px 0 5px 0;
}

.workshopBrowsePagingControls {
	float: right;

}

.workshopBrowsePaging {
	line-height: 34px;
}

.review_box {
	position: relative;
	border-top: 1px solid #425a76;
background: -webkit-linear-gradient( 30deg, rgba(97,100,101,0.3) 5%,rgba(226,244,255,0.3) 95%);
	background: linear-gradient( 60deg, rgba(97,100,101,0.3) 5%,rgba(226,244,255,0.3) 95%);

	margin-bottom: 26px;
}

.review_box_bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-repeat:no-repeat;
	background-size: cover;
	-webkit-mask-image: radial-gradient( ellipse farthest-corner at 80px 80px, rgba( 0,0,0, 1 ) 0%, rgba( 0,0,0, 0.6 ) 20%, rgba( 0,0,0, 0.3 ) 34%, rgba( 0, 0, 0, 0 ) 64% );
	mix-blend-mode: screen;
	filter: blur(40px) saturate(2);
	opacity: 0.7;
}

.review_box .header {
	padding: 8px 9px;
	font-size: 12px;
	color: #8f98a0;
	border-bottom: 1px solid rgba(226, 230, 234, 0.1);
	background: rgba(0, 0, 0, 0.1);
	display: flex;
}

.review_box .header .review_award_ctn {
	margin-left: 10px;
	display: flex;
	flex-wrap: wrap;
}
.review_box .header .review_award {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 0px 2px 0px 2px;
	margin: 0 2px;
	cursor: pointer;
	line-height: 30px;
	height: 30px;
}
.review_box .header .review_award:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.review_box .header .review_award_icon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.review_box .header .review_award_count {
	color: #66c0f4;
	font-size: 13px;
	vertical-align: middle;
	font-weight: bold;
	padding: 3px;
}
.review_box .header .review_award_count.hidden {
	display: none;
}

.review_box .reward_btn_icon {
	vertical-align: middle;
	height: 16px;
	margin-right: 2px;
}

.review_box .leftcol {
	width: 184px;
	float: left;
	max-width: 35%;
	margin: 8px;
}

.review_box .leftcol img {
	width: 100%;
}

.review_box .rightcol {
	overflow: hidden;
	position: relative;
	display: block;
}

.review_box .vote_header {
	min-height: 44px;
	margin: 8px 8px 13px 8px;
	overflow: hidden;
	background: rgba( 0, 0, 0, 0.2 );
}

.review_box .vote_header .title {
	font-size: 16px;
	color: #d6d7d8;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			padding: 5px 0 0 0;
}

.review_box .vote_header .hours {
	font-size: 12px;
	color: #d6d7d8;

}

.review_box .vote_header .thumb {
	float: left;
	margin-right: 10px;
	width: 44px;
	height: 44px;
}
.review_box .vote_header .thumb > a > img {
	width: 44px;
	height: 44px;
}

.review_box .vote_header .review_source {
	float: right;
	margin-right: 5px;
	margin-top: 15px;
	opacity: 0.5;
}

.review_box .vote_header .majority_deck {
	float: right;
	margin-right: 5px;
	margin-top: 15px;
	opacity: 0.5;
}

.review_box .content {
	margin: 0 8px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			font-size: 13px;
	color: #c6d4df;
	overflow-wrap: break-word;

	clear: left;	/* in responsive mode, will drop below the game logo */
}


.review_box .content.failed_content_check {
	font-style: italic;
}

.review_box .posted {
	font-size: 10px;
	font-style: italic;
	color: #8f98a0;
	margin: 19px 8px 8px 8px;
}

.review_box .hr {
	background-color: #363f4c;
	height: 1px;
}

.review_box .control_block {
	padding: 8px;
	line-height: 22px;
	font-size: 12px;
	color: #8f98a0;
}

.review_box .control_block .text {
	display: inline-block;
	margin-right: 9px;
	color: #8f98a0;
	font-size: 12px;
}

.review_box .early_access_review {
	margin-left: 8px;
}


#rightContents
{
	position: relative;
	float: right;
	width:295px;
	margin:0;
	padding:0;
	padding-top:0;
	margin-top: 20px;
}

.review_list #leftContents {
	max-width: 640px;
	width: auto;
	float: none;
}

#rightContents .box {
	background: #1b1b1b;
	background: rgba(27,27,27,.36);
	padding: 10px 10px 10px 11px;
	margin: 29px 0 10px 0;
}

.giantNumber {
	display: inline-block;
	font-size: 48px;
	color: #fff;
	vertical-align: text-top;
}

.giantNumberSubhead {
	font-size: 11px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: text-top;
	margin-top: 6px;
}

.miniReviewBlock {
	background-color: #3c3d3e;
	border-radius: 3px;
	padding: 4px;
	margin-bottom: 5px;

	line-height: 0px;
}

.miniReviewBlock:first-child {
	margin-top: 10px;
}

.miniReviewBlock > * {
	vertical-align: top;
}

.miniReviewBlock .postedBlock {
	display: inline-block;
	margin: 7px 0 0 8px;
	line-height: normal;
	font-size: 12px;


}

.miniReviewBlock .postedBlock a,  .miniReviewBlock .postedBlock a:hover {
	color: #828282;
	text-decoration: none;
}

.miniReviewBlock  a .miniDate {
	color: #fff;
	text-decoration: none;
}

.miniReviewBlock .thumb {
	margin-left: 3px;
}

.sectionTabsHR {
	display: none;
}

/* dynamic select */
.review_box .control_block .dselect_container {
	color: #b0aeac;
	text-shadow: 1px 1px 0px #000;
	font-size: 12px;
}

.review_box .control_block .dselect_container {
	display: inline-block;
	position: relative;

}

.dselect_container a, .dselect_container a:hover, .dselect_container a:active, .dselect_container a:visited
{
	font-size: 12px;
	line-height: 22px;
	text-decoration: none;
	font-weight: normal;
}

a.trigger, a.activetrigger {
	background: url(https://community.fastly.steamstatic.com/public/images/skin_1/arrowDn9x5.gif) no-repeat scroll right center;
	border-right: 7px solid #000; /* HAAAAAX! */
	display:inline-block;
	vertical-align: middle;

	color: #B0AEAC;
	height: 22px;
	padding-left:8px;
	padding-right: 20px;
	overflow: hidden;


	background-color: #000;
	border-radius: 3px;
	color: #e1e1e1;

}

.dropcontainer ul {
	background-color: #000;
	border-radius: 3px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	list-style-type:none;
	margin:0;
	padding:5px 5px;

	position:absolute;
	line-height: 22px;
	z-index: 999999;

	overflow: auto;
	overflow-x: hidden;

	white-space: nowrap;
	max-height: 306px;
}

.dropdownhidden{
	display: none;
}
.dropdownvisible{
	top:-4px;
	display: block;
}
.dropcontainer ul li {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.dropcontainer ul a {
	padding-left:2px;
	padding-right:2px;
	display:block;
	text-decoration:none;
	color:#e1e1e1;
	line-height: 22px;
	height: 22px;
}
.dropcontainer a.highlighted_selection {
	background:#3196FF;
	color: #FFFFFF;
	text-decoration: none;
}
.dropcontainer{
	position:relative;
}

@media screen and (max-width: 910px)
{

	html.responsive .review_list #rightContents {
		float: none;
		width: auto;
	}


}

	html.responsive.gamepad .review_list #rightContents {
		float: none;
		width: auto;
	}


@media screen and (max-width: 910px )
{

	html.responsive .review_list #rightContents .box {
		display: block;
	}

	html.responsive .box .review_stat {
		float: left;
		margin-right: 24px;
	}
	html.responsive .box .review_stat:last-child {
		margin-right: 0;
	}
}

@media screen and (max-width: 600px)
{
	html.responsive .review_box .rightcol {
		overflow: visible;
	}
}
