
h3 {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			margin-bottom: 3px;
}
h4 {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			margin-bottom: 3px;
	color: #67c1f5;
	font-size: 14px;
	font-weight: normal;
}
#profileBlock p.initial {
	margin-top: 4px;
}
.page_title
{
	font-size: 28px;
	color: white;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			margin-top: 20px;
}

.page_desc
{
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-top: 1px solid #2c3f58;
}

	.page_desc > P {
		margin-top: 0px;
	}

.enabled_features
{
	color: #66c0f4;
	text-transform: uppercase;
	font-size: 12px;
}

.enabled_features_desc
{
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 20px;
}

.info_row {
	display: flex;
	flex-direction: row;
}

.feature_icon
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	margin-right: 8px;
	border: 1px solid #66c0f470;
	border-radius: 4px;
}

.feature_icon svg {
	width: 36px;
	height: 36px;
	fill: #66c0f4;
}

.feature_body
{
	float: left;
	width: 582px;
}

.feature_title
{
	color: #66c0f4;
	font-size: 14px;
	margin-bottom: 4px;
}

.feature_desc
{
	font-size: 13px;
	padding-bottom: 20px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			color: #acb2b8;
}

.service_providers
{
	padding-bottom: 20px;
}

.service_provider_row
{
	background: none;
}

.service_provider_category_name
{
	text-transform: uppercase;
	padding-bottom: 0px;
	margin-bottom: 10px;
	margin-top: 15px;
	color: #bbbbbb;
	border-bottom: 1px solid #444444;
}

.service_provider_name
{
	font-weight: normal;
	font-size: 15px;
	color: #67c1f5;
}

.service_provider_description
{
	padding-bottom: 10px;
}

.service_provider_request
{
	font-size: 12px;
	padding-bottom: 20px;
	border-top: 1px solid #444444;
	padding-top: 4px;
}
.ws_about_big_button_ctn {
	position: relative;
	margin-bottom: 30px;
	margin-top: -20px;
}
a.ws_about_big_button {
	width: 172px;
	height: 113px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #000;

	float: left;

	padding: 26px 16px 10px 16px;

	text-align: center;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		
	background: -webkit-linear-gradient( top, #294767 5%, #1f3449 95%);
	background: linear-gradient( to bottom, #294767 5%, #1f3449 95%);

}
a.ws_about_big_button.one,
a.ws_about_big_button.two {
	margin-right: 12px;
}
a.ws_about_big_button:hover {
	background: -webkit-linear-gradient( top, #316cab 5%, #1e4265 95%);
	background: linear-gradient( to bottom, #316cab 5%, #1e4265 95%);
}
a.ws_about_big_button:hover span,
#profileBlock a.ws_about_big_button:hover p {
	color: #fff;
}

a.ws_about_big_button span {
	font-size: 21px;
	color: #66c0f4;
	line-height: 19px;
}
#profileBlock a.ws_about_big_button p {
	font-size: 13px;
	color: #4784a7;
	margin-top: 0px;
}
.ws_about_content_area {
	background: rgba( 0, 0, 0, 0.2 );
	padding: 1px 16px 16px 16px;
	border-top: 1px solid #2c3f58;
	margin-bottom: 20px;
}

.ws_about_content_area .feature_body {
	width: 555px;
}
.FAQ {
	margin-left: 12px;
}
.FAQ_Q {
	font-size: 13px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: bold; /* bold */

			line-height: 16px;
}
.FAQ_A {
	font-size: 13px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			margin-bottom: 12px;
	line-height: 16px;
}
.rightDetailsBlock span {
	font-size: 11px;
	color: #505a64;
	margin-left: 27px;
	width: 249px;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
}
.primary_panel_border.panel_margin_none {
	margin-top: 0px;
}
