@define shortduration: 0.25s;
@define shortmedduration: 0.3s;
@define mediumduration: 0.4s;
@define longduration: 1.7s;

@keyframes 'profilecontent-perspective'
{
	from
	{
		perspective-origin: 60% 50% invert;
	}

	10%
	{
		perspective-origin: 64% 52% invert;
	}

	15%
	{
		perspective-origin: 64% 52% invert;
	}
	
	25%
	{
		perspective-origin: 66% 55% invert;
	}

	50%
	{
		perspective-origin: 68% 60% invert;
	}

	75%
	{
		perspective-origin: 63% 52% invert;
	}

	80%
	{
		perspective-origin: 63% 52% invert;
	}

	to	
	{
		perspective-origin: 60% 50% invert;
	}
}

#CommunityWrapper
{
	transition-property: transform, position, opacity;
	transition-duration: mediumduration;
	transition-delay: 0s;
	transition-timing-function: linear;
	
	opacity: 0.0;
}

#CommunityWrapper.ProfileVisible
{
	transform: translatey( 0px );
	opacity: 1.0;
}


.StackDepth2 #CommunityWrapper.ProfileInvisible,
.StackDepth3 #CommunityWrapper.ProfileInvisible
{
	transform: translatey( 1080px );
	opacity: 0.0;
}

#CommunityWrapper ProfilePanel
{
	transform: translatey( 202px );
	opacity: 1.0;
}

#CommunityWrapper ProfilePanel#FriendActivity
{
	transform: translatey( 1080px );
	opacity: 0.0;
}

.StackDepth2 #CommunityWrapper.ActivityFocused ProfilePanel#FriendActivity,
.StackDepth3 #CommunityWrapper.ActivityFocused ProfilePanel#FriendActivity
{
	transform: translatey( 202px );
	opacity: 1.0;
}

#CommunityWrapper.ActivityFocused ProfilePanel#Profile
{
	transform: translatey( 1080px );
	opacity: 0.0;
}

#SpoofNotice
{
	font-size: 32px;
	horizontal-align: right;
	padding-right: 80px;
	padding-top: 150px;
	color: #fe4a0bff;
}

#CommunityNavBar
{
	width: 100%;
	height: 80px;
	margin-top: 126px;
	padding-left: 92px;
	padding-right: 100px;
	opacity: 0.0;

	flow-children: right;

	transition-property: transform, position, opacity;
	transition-duration: mediumduration;
	transition-delay: 0s;
	transition-timing-function: linear;

}

.StackDepth2 .ProfileVisible #CommunityNavBar,
.StackDepth3 .ProfileVisible #CommunityNavBar,
{
	opacity: 1.0;
}

#CommunityNavBar Label
{
	font-size: 41px;

	color: tcexitrow;
	opacity: 0.45;


	transition-property: opacity, color;
	transition-duration: 0.3s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;

}

#CommunityNavBar Button:Focus Label
{
	color: tcexitrowfocus;
	opacity: 1.0;
}

#CommunityNavBar .Selected Label
{
	opacity: 1.0;
}

#CommunityNavBar Button:hover Label
{
	opacity: 0.7;
}

#CommunityNavBar Button.Selected:hover Label
{
	opacity: 1.0;
}

#CommunityNavBar Button
{
	padding-left: 10px;
	padding-right: 10px;	
	box-shadow: box_shadow_off_color -4.5px -4.5px 16px 10px;
	border: 5px solid #0d1c2200;
	color: carousel_title;
	background-color: #0d192100;

	transition-property: border, blur, background-color, color, transform, max-width, box-shadow;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;


	margin: 5px;
	margin-right: 30px;
}	

#CommunityNavBar Button:focus
{
	opacity: 1.0;
	color: black;
	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdff ), to( #bdbfbfff ) );
	padding-left: 10px;
	padding-right: 10px;

	// Remove border, so we dont transition border out on focus lost, that looks weird.
	transition-property: blur, background-color, color, max-width, transform;

	transform: translatez( 0px );
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;
	
	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.StackDepth1 ProfilePanel #ProfileContent.ProfileLoading,
.StackDepth2 ProfilePanel #ProfileContent.ProfileLoading,
.StackDepth3 ProfilePanel #ProfileContent.ProfileLoading
{
	transition-duration: 0.3s;
	opacity: 0.0;
}

.StackDepth2 ProfilePanel #ProfileContent.ProfileLoading.LoadingVisible,
.StackDepth3 ProfilePanel #ProfileContent.ProfileLoading.LoadingVisible
{
	opacity: 1.0;
}

ProfilePanel
{
	width: 100%;
	height: 100%;

	opacity: 0.0;

	perspective-origin: 62% 5% invert;
	
	transition-property: transform, position, opacity;
	transition-duration: mediumduration;
	transition-delay: 0s;
	transition-timing-function: linear;
}

.ProfileVisible ProfilePanel
{
	opacity: 1.0;
	
}

.ProfileInvisible ProfilePanel
{
	opacity: 0.0;
}

ProfilePanel #ProfileContent,
ProfilePanel #ContentRow
{
	width: 100%;
	height: 100%;

	perspective: 1000;
	animation-name: profilecontent-perspective;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;

	opacity: 0.0;
	opacity-mask: url( "file://{images}/background_alpha_mask.png" ) 1.0;

	transform-origin: 0% 0% parent-relative;
	//transform: translatey(1080px);

	transition-property: transform, position, opacity, opacity-mask;
	transition-duration: mediumduration;
	transition-delay: 0.2s;
	transition-timing-function: ease-in-out;

}

.StackDepth2 ProfilePanel #ProfileContent,
.StackDepth3 ProfilePanel #ProfileContent,
.StackDepth2 ProfilePanel #ContentRow,
.StackDepth3 ProfilePanel #ContentRow
{
	opacity: 1.0;
	animation-name: none;
	animation-duration: 0s;

	opacity-mask: url( "file://{images}/background_alpha_mask.png" ) 0.0;

	transform: translateX( 0px );
}

@keyframes 'background-visible'
{
	0%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 1.0;
	}
}

.StackDepth2 ProfilePanel #ProfileContent,
.StackDepth3 ProfilePanel #ProfileContent
{
	opacity-mask: url( "file://{images}/background_alpha_mask.png" ) 0.0;
	transform: translatex( 0px );
	animation-name: none;
}


.StackDepth2 CommunityWrapper.ProfileVisible ProfilePanel,
.StackDepth3 CommunityWrapper.ProfileVisible ProfilePanel
{
	transform: translate3d( 0px, 202px, 0px );
}

ProfilePanel .ProfileBackground
{
	width: 75%;
	height: 75%;
	
	position: 12.5% 12.5% 0%;

	pre-transform-scale2d: 1.33333;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: mediumduration;
	transition-delay: 0s;
	transition-timing-function: linear;
}

.StackDepth2 .ProfileVisible .ProfilePanel .ProfileBackground,
.StackDepth3 .ProfileVisible .ProfilePanel .ProfileBackground
{
	animation-name: background-visible;
	animation-duration: mediumduration;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;

	opacity: 1.0;
}

.ProfileVisible .ProfilePanel #UpperRow
{
	width: 100%;
	height: 122px;
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;

}

ProfilePanel #Loading
{
	width: 100%;
	height: 100%;
}

#Loading #LoadingStatus
{
	align: center top;
	margin-top: 300px;
	width: 80%;
	text-align: center;

	color: detailsdatalabel;
	font-size: 32px;
}


ProfilePanel .Throbber
{
	width: 120px;
	height: 120px;
	horizontal-align: center;
	margin-top: 350px;
	opacity-mask: url( "file://{images}/browser/reticle_mask.png" );
	background-image: url( "file://{images}/browser/reticle.webm" );
	background-repeat: no-repeat no-repeat;
	background-size: 100% 100%;

	animation-name: background-visible;
	animation-duration: mediumduration;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;

	opacity: 1.0;
}
