<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string>steam_osx</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>fr</string>
		<string>it</string>
		<string>ko</string>
		<string>es</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
		<string>ru</string>
		<string>th</string>
		<string>ja</string>
		<string>pt</string>
		<string>pl</string>
		<string>da</string>
		<string>nl</string>
		<string>fi</string>
		<string>no</string>
		<string>sv</string>
		<string>hu</string>
		<string>cs</string>
		<string>ro</string>
	</array>
	<key>CFBundleIconFile</key>
	<string>Steam.icns</string>
	<key>LSEnvironment</key>
	<dict>
		<key>LC_ALL</key>
		<string>en_US.UTF-8</string>
	</dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts/</string>
	<key>CFBundleIdentifier</key>
	<string>com.valvesoftware.steam</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>steam</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.valvesoftware.steam</string>
		</dict>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>Steam</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>ST3M</string>
	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
</dict>
</plist>
