/*	friends screen css style */

@define friendsitemmainlistbkgnd_from: #f2f2f2ff;
@define friendsitemmainlistbkgnd: gradient( linear, 0% 0%, 100% 100%, from( friendsitemmainlistbkgnd_from ), to( #cbcbcbde ) );
@define friendschatmsgsbkgnd: gradient( linear, 10% 0%, 0% 100%, from( #10101040 ), to( #10101090 ) );
@define friendsverticalscrollpad: 18px;
@define friendsitemsecondaryfocus: gradient( linear, 0% 0%, 100% 100%, from( #caccccff  ), to( #aaacacce ) );
@define ui_common_control3: gradient( linear, 0% 0%, 0% 100%, from( #4b7696aa ), to( #365b7866 ) );
/* below this number suppress the search box on friends */
@define friendslisthidesearch: 10;

Friends
{
	perspective: 1000;
	perspective-origin: 50% 50%;
	position: 0px 0px 0%;
	width: 1920px;
	height: 1080px;
	visibility: visible;

	font-family: platformfont;

	animation-duration: 1.6s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-direction: normal;

	transition-property: opacity, transform !immediate;
	transition-duration: 0.4s;
	transition-timing-function: linear;

	opacity: 1.0;
	transform: translateX( 0px );
}

Friends.BehindMessageBox.FriendsInputTextEntry
{
	opacity: 1.0;
	blur: none;
}

Friends.SlideAwayToLeft
{
	opacity: 0.0;
	transform-origin: 0% 0% parent-relative;
	transform: translateX( -1920px ) rotateX( 45deg ) translateZ( -1000px );
}

Friends.SlideAwayToRight
{
	opacity: 0.0;
	transform-origin: 0% 0% parent-relative;
	transform: translateX(  1920px ) rotateX( 45deg ) translateZ( -1000px );
}

Friends.FriendsProfileDetailsVisible #BodyWrapper
{
	opacity: 0.25;
	blur: gaussian( 2, 2, 1 );
	
	transition-property: opacity, blur;
	transition-duration: 0.3s !immediate;
	transition-timing-function: linear;
}

#FriendsMainBodyColumnsContainer
{
	padding-left: 85px;
	padding-right: 85px;
	width: 100%;
	height: 932px;

	transform: translatey( 41px );
	flow-children: right;
}

#FriendsMainBodyColumnLeft
{
	width: 865px;
	margin-right: 0px;
	margin-left: 13px;
	height: 899px;
	flow-children: down;
}

Friends.BehindMessageBox.FriendsInputTextEntry #FriendsMainBodyColumnLeft
{

	transition-property: opacity;
	transition-duration: 0.5s !immediate;
	transition-timing-function: ease-in-out;
}

#FriendsChatDialogContainer
{
	width: 829px;
	height: fit-children;
	flow-children: none;
}

FriendsChatDialog
{
	width: 829px;
	margin-left: 5px;
	height: fit-children;
	flow-children: down;
}

FriendsChatDialog.ZeroFriends
{
	opacity: 0.0;
}

FriendsChatDialog.AnimationRightColumn
{
	animation-duration: 0.28s;
	animation-timing-function: linear;
	animation-iteration-count: 1;

	transition-property: opacity;
	transition-duration: 0.0s;
	transition-delay: 0.28s;
	transition-timing-function: linear;
}

FriendsChatDialog.AnimationRightColumn.Top
{
	animation-name: right-column-animation-show-from-top;
}

FriendsChatDialog.AnimationRightColumn.Bottom
{
	animation-name: right-column-animation-show-from-bottom;
}

FriendsChatDialog.AnimationRightColumn.Normal
{
	animation-direction: normal;
	opacity: 1.0;
}

FriendsChatDialog.AnimationRightColumn.Reverse
{
	animation-direction: reverse;
	opacity: 0.0;
}

FriendsChatDialog.ClanChatDisabled
{
	opacity: 0.0;
}

FriendsChatDialog.ClanChatDisabled.AnimationRightColumn
{
	animation-name: none;
	animation-duration: 0.0s;
	opacity: 0.0;
}

@keyframes 'right-column-animation-show-from-top'
{
	from
	{
		opacity: 0.0;
// 	transform: translatex( -30px ) translatez( -1000px ) translatey( -300px );
		blur: gaussian( 7, 7, 2 );
	}

	50%
	{
		opacity: 0.5;
// 	transform: translatex( -15px ) translatez( -700px ) translatey( -150px );
		blur: gaussian( 7, 7, 2 );
	}

	to
	{
		opacity: 1.0;
//	transform: ;
		blur: none;
	}
}

@keyframes 'right-column-animation-show-from-bottom'
{
	from
	{
		opacity: 0.0;
		transform: translatex( -30px ) translatey( 930px );
		blur: gaussian( 7, 7, 2 );
	}

	10%
	{
		opacity: 0.0;
		transform: translatex( -30px ) translatey( 930px );
		blur: gaussian( 7, 7, 2 );
	}

	50%
	{
		opacity: 0.5;
		transform: translatex( -15px ) translatey( 420px );
		blur: gaussian( 3.5, 3.5, 1 );
	}

	to
	{
		opacity: 1.0;
		transform-origin: 0% 0% parent-relative;
		transform: rotatex( 0deg );
		blur: none;
	}
}

#FriendsMainBodyLeftHeader
{
	height: 118px;
	width: 100%;
	flow-children: right;
	margin-right: friendsverticalscrollpad;
}

#FriendsMainBodyRightHeader
{
	height: 94px;
	margin-bottom: 8px;
	margin-top: 12px;
	width: 92%;
	flow-children: right;
}

#ChatWithXLabel
{
	width: 350px;
}

#StartVoiceChatBtn
{
	vertical-align: bottom;
	horizontal-align: right;
	flow-children: right;
}

.FriendsMainBodyRightHeaderText
{
	vertical-align: bottom;
	white-space: nowrap;
	font-weight: bold;
	font-size: 27px;
	margin-left: 8px;
	margin-bottom: 1px;
	color: #d8d8d8ff;
	text-overflow: ellipsis;
}

#StartVoiceChatBtn Label
{
	font-weight: light;
	font-size: 24px;
	margin-top: 4px;
	color: friendsonline_lightbg_to;
}

#StartVoiceChatBtnBegin
{
	visibility: visible;
}

#StartVoiceChatBtnEnd
{
	visibility: collapse;
}

.VoiceChatActive #StartVoiceChatBtnBegin
{
	visibility: collapse;
}

.VoiceChatActive #StartVoiceChatBtnEnd
{
	visibility: visible;
}

#StartVoiceChatBtn Image
{
	vertical-align: center;
	width: 50px;
	height: 36px;
	margin-left: 10px;
}

#FriendsMainBodyChatContainer
{
	width: 100%;
	height: 674px;
	flow-children: down;
	margin-bottom: 9px;
	border-radius: 0px;
	padding-bottom: 0px;

	background-color: #1a578023;

}

#FriendsMainBodyChatMessages
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	flow-children: down;
	overflow: squish scroll;
	padding-right: 16px;
	margin-right: 2px;
	padding-top: 4px;
	margin-left: 8px;

	opacity-mask-scroll-up: url( "file://{images}/friends/friends_list_mask_fade_top.png" );
	opacity-mask-scroll-down: url( "file://{images}/friends/friends_list_mask_fade_bottom.png" );
	opacity-mask-scroll-up-down: url( "file://{images}/friends/friends_list_mask_fade_both.png" );
}

#FriendsMainBodyChatMessages Label
{
	margin-top: 2px;
	font-weight: medium;
	font-size: 27px;
	color: #ffffff33;
	width: 100%;
}

#FriendsVoiceChatControls
{
	height: 78px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	flow-children: right;
	visibility: collapse;
}

.VoiceChatActive #FriendsVoiceChatControls
{
	visibility: visible;
}

#FriendsVoiceChatControls Image
{
	vertical-align: center;
}

.VoiceChatOnHold .VoiceBar
{
	background-color: #44444420;
}

#OthersVoice
{
	vertical-align: center;
	margin-left: 15px;
	color: ui_common_control_border;
	font-size: 20px;
}

#FriendsMainBodyInputGroup
{
	height: 106px;
	width: 100%;
	flow-children: right;
	vertical-align: bottom;
}

#FriendsMainBodyInputTextArea
{
	width: fill-parent-flow(1.0);
	height: 106px;
	overflow: squish scroll;
	white-space: normal;
	opacity: 0.85;

	padding-left: 8px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 28px;
	font-weight: normal;
	text-overflow: clip;
	color: friendsitemmainlistbkgnd_from;
	background-color: friendschatinputbkgnd_text;

	border-width: 5px;
	border-color: friendstab;
	border-style: solid;
	border-radius: 0px;

	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#FriendsMainBodyInputTextArea:hover
{
	opacity: 1.0;
}

#FriendsMainBodyInputTextArea:descendantfocus
{
	color: applabelselectedsolid;
	
	transition-duration: 0.4s !immediate;

	border-color: #cececeff;
	background-color: friendsitemmainlistbkgnd;

	animation-name: main-button-glow-movement-no-fill;
	//animation-name: links-and-more-button-focus;
	animation-duration: 1.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;

	transition-property: background-color, border;
	transition-duration: 0.3s !immediate;
	transition-timing-function: ease-in-out;
}

#FriendsMainBodyInputTextArea:hover:disabled
{
	background-color: friendschatinputbkgnd_text;
}




#FriendsMainBodyInputSendButton
{
	vertical-align: center;
	horizontal-align: right;
	height: 106px;
	min-width: 106px;
	font-weight: light;
	font-size: 24px;
	color: tclegendlabel;
	white-space: nowrap;
	padding: 8px;
	margin-left: 8px;
	background-color: friendstab;
	// friendsonline_lightbg;
	color: friendsitemmainlistbkgnd_from;

	border-radius: 0px;

	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

}

#FriendsMainBodyInputSendButton:hover
{
	background-color: friendstabcurrentselection;
}

.FriendChatDisabled #FriendsMainBodyInputSendButton:hover
{
	background-color: friendschatinputbkgnd;
}


#FriendsMainBodyStatusGroup
{
	margin-top: 18px;
	margin-bottom: -2px;
	height: 18px;
	font-weight: light;
	font-size: 21px;
	font-family: platformfont;
	height: 60px;
	transform: translateY( 00px );
	color: tclegendlabel;
	white-space: nowrap;
	flow-children: down;
	vertical-align: bottom;

}

#FriendsMainBodyStatusGroupLeft
{
	color: friendsitemmainlistbkgnd_from;
	width: 70%;
	horizontal-align: right;
	text-align: right;
	transform: translateY( 0px );
	visibility: collapse;
}

#FriendsMainBodyStatusGroupRight
{
	text-align: right;
	horizontal-align: right;
	width: 100%;
	visibility: collapse;
	transform: translateY( 0px );
}

#FriendsMainBodyInputSendButton Label
{
	vertical-align: center;
	horizontal-align: center;
}

FriendsSelfHeader
{
	flow-children: right;
	margin-bottom: 4px;
	margin-top: 6px;
}

FriendsSelfHeader.Offline Label
{
	color: friendsoffline_darkbg;
}

FriendsSelfHeader.Online Label
{
	color: friendsonline_darkbg;
}

FriendsSelfHeader.InGame Label
{
	color: friendsingame_darkbg;
}

FriendsSelfHeader.Golden Label
{
	color: friendsgolden_darkbg;
}

.FriendsMyAvatar
{
	margin-left: 20px;
	margin-bottom: 6px;
	margin-top: 6px;
	height: 90px;
	width: 90px;
	border-width: 4px;
	border-style: solid;
	border-radius: 0px;
	box-shadow: fill #eeeeee00 -4.5px -4.5px 6px 9px;

	transition-property: box-shadow;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

#FriendsMyItem
{
	transform: translateX( 0px );
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

#FriendsMyItem:hover
{
	transform: translateX( 10px );
}

.FriendsListItemAvatar,
.RollupPendingInvites .LeftMainListItem.PendingInviteRollup #MyAvatar
{
	margin-left: 2px;
	margin-top: 3px;
	height: 90px;
	width: 90px;
	border-width: 4px;
	border-style: solid;
	border-radius: 0px;
	box-shadow: inset #00000099 0px 0px 12px 0px;
}

.ChatItemAvatar
{
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom: 2px;
	height: 90px;
	width: 90px;
	border-width: 4px;
	border-style: solid;
	border-radius: 0px;
	box-shadow: inset #00000099 0px 0px 12px 0px;
}


#FriendsMyNameAndStateContainer
{
	margin-left: 14px;
	margin-right: 14px;
	margin-bottom: 4px;
	width: 320px;
	opacity-mask: url( "file://{images}/friends/friends_list_item_panel_labels_mask.tga" );
	vertical-align: bottom;
	flow-children: down;
}

#FriendsMyNameAndStateContainer Label
{
	text-overflow: clip;
}

.FriendsListItemPanelLabels
{
	margin-left: 14px;
	margin-right: 14px;
	width: fill-parent-flow( 1.0 );
	opacity-mask: url( "file://{images}/friends/friends_list_item_panel_labels_mask.tga" );
	vertical-align: bottom;
	flow-children: down;
}

.RollupPendingInvites .LeftMainListItem.PendingInvite
{
	visibility: collapse;
	opacity: 0.0;
}

.RollupPendingInvites .LeftMainListItem.PendingInviteRollup
{
	visibility: visible;
	opacity: 1.0;
}

.RollupPendingInvites .LeftMainListItem.PendingInviteRollup #FriendPanelImage,
.RollupPendingInvites .LeftMainListItem.PendingInviteRollup #FriendPanelLabels,
.LeftMainListItem.SearchEntry #FriendPanelLabels,
.LeftMainListItem.SearchEntry #Indicator,
.LeftMainListItem.CommunitySearchEntry #FriendStatus,
.LeftMainListItem.CommunitySearchEntry #FriendStatusDetail,
{
	visibility: collapse;
	opacity: 0.0;
}

.RollupPendingInvites .LeftMainListItem.PendingInviteRollup #PendingInvitesDesc
{
	transition-property: transform, color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	margin-left: 10px;
	transform: translatex(  0px );

	width: 500px;
	font-weight: normal;
	font-size: 24px;
	vertical-align: center;
	color: friendsoffline_darkbg;
}

.RollupPendingInvites .LeftMainListItem.PendingInviteRollup:focus #PendingInvitesDesc
{
	transform: translatex( 11px );
	color: friendsoffline_lightbg;
}

.RollupPendingInvites .LeftMainListItem.PendingInviteRollup #MyAvatar
{
	visibility: collapse;
	border-color: friendsoffline_solid;
}


.LeftMainListItem AvatarImage, .LeftMainListItem #FriendPanelLabels
{
	transform: translatex( -7px );

	transition-property: transform, pre-transform-scale2d;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}


.LeftMainListItem.CurrentSelection AvatarImage, .LeftMainListItem.CurrentSelection #FriendPanelLabels
{
	transform: translatex( 5px );
}

.FriendsListItemPanelLabels Label
{
	text-overflow: clip;
}

.FriendsMyName
{
	width: 100%;
	font-weight: bold;
	font-size: 27px;
	margin-top: 2px;
	margin-bottom: 2px;
	white-space: nowrap;
}

.FriendsMyState
{
	width: 100%;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 2px;
	white-space: nowrap;
}

.FriendsListItemPersonaName
{
	width: 100%;
	font-weight: bold;
	font-size: 27px;
	height: 35px;
	margin-top: 1px;
	margin-bottom: 0px;
	white-space: nowrap;
	transition-property: pre-transform-scale2d, transform;
	transition-duration: 0.2s !immediate;
	transition-timing-function: ease-in-out;
}

.FriendsListItemStatus
{
	width: 100%;
	opacity: 0.85;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 1px;
	white-space: nowrap;

	transition-property: pre-transform-scale2d, transform;
	transition-duration: 0.2s !immediate;
	transition-timing-function: ease-in-out;
}

.FriendsListItemStatusDetail
{
	width: 100%;
	opacity: 0.85;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 1px;
	white-space: nowrap;
	transition-property: pre-transform-scale2d, transform;
	transition-duration: 0.2s !immediate;
	transition-timing-function: ease-in-out;
}

.LeftMainListItem
{
	flow-children: right;
	width: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-right: friendsverticalscrollpad;
	border-color: #00000000;
	padding-top: 4px;
	padding-bottom: 5px;
	padding-left: -2px;
	border-style: solid;
	border-width: 5px;
	padding-left: 0px;
	margin-left: 10px;
	transform: translateX( 10px );
	height: 114px;

	transition-property: background-color, border, box-shadow, pre-transform-scale2d, transform, opacity, height;
	transition-duration: 0.2s !immediate;
	transition-timing-function: ease-in-out;
}

.LeftMainListItem:hover
{
 	pre-transform-scale2d: 1.0;	
 	transform: translatex( 17px );
}

.LeftMainListItem:focus
{
	background-color: friendsitemmainlistbkgnd;
	border-color: #ffffffff;
	transform: translateX( 0px );
}

.LeftMainListItem:focus:hover 
{
 	pre-transform-scale2d: 1.0;	
 	transform: translatex( 0px );
}

.LeftMainListItem.CurrentSelection:hover 
{
 	pre-transform-scale2d: 1.0;	
 	transform: translatex( 10px );
}



.LeftMainListItem:focus:hover .FriendsListItemPersonaName, .LeftMainListItem:focus:hover .FriendsListItemStatus, .LeftMainListItem:focus:hover .FriendsListItemStatusDetail
{
	pre-transform-scale2d: 1.0;	
 	transform: translatex( 0px );
}

.LeftMainListItem:hover .FriendsListItemAvatar
{
	box-shadow: inset #00000099 0px 0px 12px 0px;
}

.LeftMainListItem:descendantfocus:hover .FriendsListItemAvatar
{
	box-shadow: inset #00000099 0px 0px 12px 0px;
}

#FriendsMainBodyListContainer:descendantfocus .LeftMainListItem.CurrentSelection
{
	transition-duration: 0.4s !immediate;

	border-color: #cececeff;
	background-color: friendsitemmainlistbkgnd;
	transform: translateX( 0px );

	animation-name: main-button-glow-movement-no-fill;
	//animation-name: links-and-more-button-focus;
	animation-duration: 1.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;

	transition-property: background-color, transform, border;
	transition-duration: 0.3s !immediate;
	transition-timing-function: ease-in-out;
}

.LeftMainListItem.CurrentSelection:descendantfocus
{
	animation-name: links-and-more-button-focus;
}

//secondary focus in the list
.LeftMainListItem.CurrentSelection
{
	transition-duration: 0.2s;

	background-color: simplebutton;
	border-color: #ffffff00;
	transform: translateX( 0px );
	transition-property: background-color, transform, border;
	transition-duration: 0.3s !immediate;
	transition-timing-function: ease-in-out;
}

.LeftMainListItem.Offline Label
{
	color: friendsoffline_darkbg;
}

GroupListItem.LeftMainListItem.Offline Label
{
	color: #DDDDDDFF;

	transition-property: color, pre-transform-scale2d, transform;
	transition-duration: 0.2s !immediate;
	transition-timing-function: ease-in-out;
}

GroupListItem.LeftMainListItem.Offline Label.FriendsListItemStatus
{
	color: #999999FF;
}



.LeftMainListItem.Online Label
{
	color: friendsonline_darkbg;
}

.LeftMainListItem.Online:descendantfocus Label
{
	color: friendsonline_lightbg;
}

.LeftMainListItem.InGame Label
{
	color: friendsingame_darkbg;
}

.LeftMainListItem.Golden Label
{
	color: friendsgolden_darkbg;
}

.LeftMainListItem.CurrentSelection.Online Label
{
	color: friendsonline_darkbg;
}

.LeftMainListItem.CurrentSelection.Online:descendantfocus Label
{
	color: friendsonline_lightbg;
}

.LeftMainListItem.InGame:descendantfocus Label
{
	color: friendsingame_lightbg;
}

.LeftMainListItem.CurrentSelection.InGame Label
{
	color: friendsingame_darkbg;
}

.LeftMainListItem.CurrentSelection.InGame:descendantfocus Label
{
	color: friendsingame_lightbg;
}

.LeftMainListItem.CurrentSelection.Golden Label
{
	color: friendsgolden_darkbg;
}

.LeftMainListItem.CurrentSelection.Offline Label
{
	color: #99999999;
}

.LeftMainListItem.CurrentSelection.Offline:descendantfocus Label
{
	color: applabelselectedsolid;
}

// GroupListItem.LeftMainListItem.CurrentSelection.Offline Label
GroupListItem.LeftMainListItem.Offline:focus Label
{
	color: applabelselectedsolid;
}

GroupListItem.LeftMainListItem.Offline:focus Label.FriendsListItemStatus
{
	color: #555555FF;
}

#FriendsMainBodyLeftHeaderButtons
{
	vertical-align: bottom;
	horizontal-align: right;
	margin-right: 15px;
	flow-children: right;
}

#FriendsMainBodyLeftHeaderButtons:focus
{
	transition-duration: 0.23s !immediate;
		
	color: #000000ff;
	
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffffff ), to( #bdbfbfff ) ); 
	
	box-shadow: box_shadow_off_color -4.5px -4.5px 16px 9px;
	
	transition-duration: 0.23s;
	transition-timing-function: linear;
	animation-name: main-button-glow-movement-no-fill;
	animation-duration: 1.7s;
	animation-delay: 0.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

#FriendsMainBodyLeftHeaderButtons:descendantfocus .FriendsMainBodyHeaderButton.CurrentSelection
{
	background-color: friendstabcurrentselection;
	border-color: #ffffff00;	
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;
	
	transition-duration: 0.23s;
	transition-timing-function: linear;
	animation-name: main-button-glow-movement-no-fill;
	animation-duration: 1.7s;
	animation-delay: 0.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.FriendsMainBodyHeaderButton
{
	font-weight: normal;
	font-size: 24px;
	color: #000000ff;
	white-space: nowrap;
	padding-top: 12px;
	background-color: friendstab;
	margin-left: 15px;

	transition-property: background-color, color, box-shadow;
	transition-timing-function: ease-out;
	transition-duration: 0.23s !immediate;
}

.FriendsMainBodyHeaderButton.CurrentSelection
{
	color: #f2f2f2ff;
	background-color: friendstabcurrentselection;
	box-shadow: box_shadow_off_color -5px -5px 6px 10px;
}

.FriendsMainBodyHeaderButton.CurrentSelection:hover
{
	color: #f2f2f2ff;
	background-color: friendstabcurrentselection;
	box-shadow: box_shadow_off_color -5px -5px 6px 10px;
	
	transition-duration: 0.23s;
	transition-timing-function: linear;

}

.FriendsMainBodyHeaderButton:hover
{
	transition-duration: 0.23s !immediate;
	color: #f2f2f2ff;
	background-color: friendstabcurrenthover;
	box-shadow: box_shadow_off_color -5px -5px 6px 10px;
	
}

.FriendsMainBodyHeaderButton:active
{
	transition-duration: 0.23s !immediate;
	color: #f2f2f2ff;
	background-color: friendstabcurrentselection;
	box-shadow: box_shadow_off_color -5px -5px 6px 10px;
}

.FriendsMainBodyHeaderButton Label
{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#FriendsMainBodyLeftHeaderUnderline
{
	width: 100%;
	height: 5px;
	margin-right: friendsverticalscrollpad;
	margin-left: 10px;
	margin-bottom: 0px;
	background-color: friendstabdivider;
}

#FriendsMainBodyListContainer
{
	width: 100%;
	height: 100%;
	flow-children: none;
}

#FriendsMainBodyFriendsList
{
	width: 100%;
	height: 100%;
	flow-children: down;
	overflow: squish scroll;

	padding-top: 6px;
	opacity-mask-scroll-up: url( "file://{images}/friends/friends_list_mask_fade_top.png" );
	opacity-mask-scroll-down: url( "file://{images}/friends/friends_list_mask_fade_bottom.png" );
	opacity-mask-scroll-up-down: url( "file://{images}/friends/friends_list_mask_fade_both.png" );
}

.MainBodyLeftList
{
	opacity: 0.0;
	
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.MainBodyLeftList.CurrentSelection
{
	opacity: 1.0;
}

#FriendsMainBodyGroupsList
{
	width: 100%;
	height: 100%;
	flow-children: down;
	overflow: squish scroll;
	padding-top: 6px;
	opacity-mask-scroll-up: url( "file://{images}/friends/friends_list_mask_fade_top.png" );
	opacity-mask-scroll-down: url( "file://{images}/friends/friends_list_mask_fade_bottom.png" );
	opacity-mask-scroll-up-down: url( "file://{images}/friends/friends_list_mask_fade_both.png" );

}

#FriendsMainBodyChatMessages
{
	font-size: 26px;
	font-weight: normal;
	color: #d0d0d0ff;

	line-height: 33px;
}

.ChatMsgMyOwn
{
	font-weight: bold;
	color: friendsonline_solid;
}

.ChatMsgOffline
{
	font-weight: bold;
	color: friendsoffline_solid;
}

.ChatMsgOnline
{
	font-weight: bold;
	color: friendsonline_solid;
}

.ChatMsgInGame
{
	font-weight: bold;
	color: friendsingame_darkbg;
}

.ChatMsgGolden
{
	font-weight: bold;
	color: friendsgolden_darkbg;
}

.ChatMsgHistorical
{
	font-weight: normal;
	color: #7c7c7cff;
}

.ChatMsgMessageBody
{
	font-weight: normal;
	color: #f0f0f0ff;
}

.ChatMsgMessageBodyMyOwn
{
	font-weight: normal;
	color: #a0a0a0ff;
}

.ChatMsgFailureExplanation
{
	color: #ffffff66;
}

a.ChatMsgMessageBodyMyOwn
{
	color: link;
}

a.ChatMsgMessageBodyMyOwn:hover
{
	color: link;
	text-decoration: underline;
}

a.ChatMsgMessageBody
{
	color: linkbright;
}

a.ChatMsgMessageBody:hover
{
	color: linkbright;
	text-decoration: underline;
}




FriendsIndicatorContainer
{
	horizontal-align: right;
	vertical-align: center;
	margin-bottom: 11px;
	margin-right: 20px;
	flow-children: right;
	font-weight: medium;
	font-size: 24px;
}

.LeftMainListItem FriendsIndicatorContainer Label.FriendIndicatorContainedText
{
	color: friendsoffline_solid;
	vertical-align: bottom;
	margin-right: 10px;
	
	visibility: collapse;
}

.LeftMainListItem FriendsIndicatorContainer Label.FriendIndicatorContainedImageWithText
{
	text-align: center;
	font-size: 18px;
	padding-right: 8px;
	padding-top: 2px;
	margin: 1px;
	width: 40px;
	height: 40px;

	background-color: #A0A0A0ff;
	color: #303030ff;
	
	visibility: collapse;
}

.LeftMainListItem.CurrentSelection FriendsIndicatorContainer Label.FriendIndicatorContainedText,
.LeftMainListItem.CurrentSelection FriendsIndicatorContainer Label.FriendIndicatorContainedImageWithText
{
	color: #999999ff;
}

#FriendIndicatorContainedImageChat
{
	opacity-mask: url( "file://{images}/friends/friends_indicator_chat.png" );
}
#FriendIndicatorContainedImageVoiceChat,
#FriendIndicatorContainedImageVoiceChatDialing,
#FriendIndicatorContainedImageVoiceChatRinging
{
	opacity-mask: url( "file://{images}/friends/friends_indicator_voicechat.png" );
}
#FriendIndicatorContainedImageVoiceChatOnHold
{
	opacity-mask: url( "file://{images}/friends/friends_indicator_voicehold.tga" );
}
#FriendIndicatorContainedImageGameInvite
{
	opacity-mask: url( "file://{images}/friends/friends_indicator_gameinvite.png" );
}
#FriendIndicatorContainedImageFriendRequest
{
	opacity-mask: url( "file://{images}/friends/friends_indicator_friendrequest.png" );
}

FriendsIndicatorContainer.Chat #FriendIndicatorContainedImageChat
{
	visibility: visible;
}
FriendsIndicatorContainer.VoiceChat #FriendIndicatorContainedImageVoiceChat
{
	visibility: visible;
}
FriendsIndicatorContainer.VoiceChat.VoiceChatOnHold #FriendIndicatorContainedImageVoiceChat
{
	visibility: collapse;
}
FriendsIndicatorContainer.VoiceChat.VoiceChatOnHold #FriendIndicatorContainedImageVoiceChatOnHold
{
	visibility: visible;
}
FriendsIndicatorContainer.GameInvite #FriendIndicatorContainedImageGameInvite
{
	visibility: visible;
}
FriendsIndicatorContainer.FriendRequest #FriendIndicatorContainedImageFriendRequest
{
	visibility: visible;
}
FriendsIndicatorContainer.GroupRequest #FriendIndicatorContainedImageGroupRequest
{
	visibility: visible;
}

FriendsIndicatorContainer.Chat #FriendIndicatorContainedTextChat
{
	visibility: visible;
}
FriendsIndicatorContainer.VoiceChat #FriendIndicatorContainedTextChat,
FriendsIndicatorContainer.VoiceChatDialing #FriendIndicatorContainedTextChat,
FriendsIndicatorContainer.VoiceChatRinging #FriendIndicatorContainedTextChat,
FriendsIndicatorContainer.VoiceChatOnHold #FriendIndicatorContainedTextChat,
FriendsIndicatorContainer.GameInvite #FriendIndicatorContainedTextChat,
FriendsIndicatorContainer.FriendRequest #FriendIndicatorContainedTextChat,
FriendsIndicatorContainer.GroupRequest #FriendIndicatorContainedTextChat,
{
	visibility: collapse;
}
FriendsIndicatorContainer.VoiceChat #FriendIndicatorContainedTextVoiceChat
{
	visibility: visible;
}
FriendsIndicatorContainer.VoiceChatDialing #FriendIndicatorContainedTextVoiceChat,
FriendsIndicatorContainer.VoiceChatRinging #FriendIndicatorContainedTextVoiceChat,
FriendsIndicatorContainer.VoiceChatOnHold #FriendIndicatorContainedTextVoiceChat,
FriendsIndicatorContainer.GameInvite #FriendIndicatorContainedTextVoiceChat,
FriendsIndicatorContainer.FriendRequest #FriendIndicatorContainedTextVoiceChat,
FriendsIndicatorContainer.GroupRequest #FriendIndicatorContainedTextVoiceChat,
{
	visibility: collapse;
}
FriendsIndicatorContainer.VoiceChatDialing #FriendIndicatorContainedTextVoiceChatDialing
{
	visibility: visible;
}
FriendsIndicatorContainer.VoiceChatRinging #FriendIndicatorContainedTextVoiceChatDialing,
FriendsIndicatorContainer.VoiceChatOnHold #FriendIndicatorContainedTextVoiceChatDialing,
FriendsIndicatorContainer.GameInvite #FriendIndicatorContainedTextVoiceChatDialing,
FriendsIndicatorContainer.FriendRequest #FriendIndicatorContainedTextVoiceChatDialing,
FriendsIndicatorContainer.GroupRequest #FriendIndicatorContainedTextVoiceChatDialing,
{
	visibility: collapse;
}
FriendsIndicatorContainer.VoiceChatRinging #FriendIndicatorContainedTextVoiceChatRinging
{
	visibility: visible;
}
FriendsIndicatorContainer.VoiceChatOnHold #FriendIndicatorContainedTextVoiceChatRinging,
FriendsIndicatorContainer.GameInvite #FriendIndicatorContainedTextVoiceChatRinging,
FriendsIndicatorContainer.FriendRequest #FriendIndicatorContainedTextVoiceChatRinging,
FriendsIndicatorContainer.GroupRequest #FriendIndicatorContainedTextVoiceChatRinging,
{
	visibility: collapse;
}
FriendsIndicatorContainer.VoiceChatOnHold #FriendIndicatorContainedTextVoiceChatOnHold
{
	visibility: visible;
}
FriendsIndicatorContainer.GameInvite #FriendIndicatorContainedTextVoiceChatOnHold,
FriendsIndicatorContainer.FriendRequest #FriendIndicatorContainedTextVoiceChatOnHold,
FriendsIndicatorContainer.GroupRequest #FriendIndicatorContainedTextVoiceChatOnHold,
{
	visibility: collapse;
}
FriendsIndicatorContainer.GameInvite #FriendIndicatorContainedTextGameInvite
{
	visibility: visible;
}
FriendsIndicatorContainer.FriendRequest #FriendIndicatorContainedTextGameInvite,
FriendsIndicatorContainer.GroupRequest #FriendIndicatorContainedTextGameInvite
{
	visibility: collapse;
}
FriendsIndicatorContainer.FriendRequest #FriendIndicatorContainedTextFriendRequest
{
	visibility: visible;
}

FriendsIndicatorContainer.GroupRequest #FriendIndicatorContainedTextGroupRequest
{
	visibility: visible;
}


.LeftMainListItem.CurrentSelection:descendantfocus FriendsIndicatorContainer Label.FriendIndicatorContainedText
{
	color: #303030ff;
}

.LeftMainListItem.CurrentSelection FriendsIndicatorContainer Label.FriendIndicatorContainedText
{
	wash-color: #ffffffff;
	background-color: none;
}


.LeftMainListItem.CurrentSelection:descendantfocus FriendsIndicatorContainer Label.FriendIndicatorContainedImageWithText
{
	background-color: #303030ff;
	color: friendsoffline_solid;
}

.LeftMainListItem.CurrentSelection FriendsIndicatorContainer Label.FriendIndicatorContainedImageWithText
{

	wash-color: #ffffffff;
}
.AddFriendMsgBox #MsgBoxDescriptionArea
{
	flow-children: down;
}

.AddFriendMsgBox TextEntry
{
	width: 100%;
	margin-top: 30px;
	padding-top: 10px;
	height: 60px;
}

.AddFriendMsgBox TextEntry:focus,
.DaisyWheelVisible TextEntry
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #dbdcdd ), to( #fdfdfd ) );

	color: applabelselectedsolid;
}

.AddFriendMsgBox #MsgBoxButtons
{
	margin-top: 20px;
}

.AddFriendMsgBox #MsgBoxBodyRegion
{
	width: 860px;
	z-index: 10000;

	transition-property: transform;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
	box-shadow: fill #00000044 -4px -4px 8px 8px;
}

.AddFriendMsgBox.DaisyWheelVisible #MsgBoxBodyRegion
{
	transform: translatex( 480px );
}



.ScreenSaverMode #Friends
{
	opacity: 0.0;

	transition-property: opacity, transform;
	transition-duration: 1.4s, 0.3s !immediate;
	transition-timing-function: linear;
}


#FriendsMainBodyStatusGroupLeft
{
	height: 30px;
	vertical-align: bottom;
}

#FriendsMainBodyStatusGroupRight
{
	height: 30px;
	vertical-align: bottom;
}

.FriendsActionsMsgBox .MsgBoxDescriptionArea
{
	flow-children: down;
}

.FriendsActionsMsgBox .MsgBoxDescriptionArea .FriendsOptionWrapper, 
.FriendsActionsMsgBox .MsgBoxDescriptionArea .MsgBoxButton
{
	margin-bottom: 10px;
}

.FriendsActionsMsgBox .FriendsOptionWrapper
{
	width: 100%;
	flow-children: right;
}

.FriendsOptionWrapper DropDown
{
	width: 328px;
	height: 54px;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.2s;
	border-width: 5px;

}

.FriendsOptionWrapper Label
{
	margin-left: 10px;
	color: detailsdatalabelfocus;
}

.FriendsOptionWrapper .FriendsOptionLabel
{
	width: 252px;
	font-size: 28px;
	margin-top: 8px;
	margin-left: 20px;
}

#MsgBoxButtonArea DropDown Label
{
	margin-left: 0px;
	margin-right: 30px;
	margin-top: 0px;
}




DropDownMenu.DropDownMenuVisible
{
	z-index: msgbox_contextmenu_zindex;
	width: 328px;
}

.FriendsActionsMsgBox #MsgBoxButtons
{
	flow-children: down;
	horizontal-align: left;
	width: 100%;
	margin-top: 0px;
}

.FriendsActionsMsgBox #MsgBoxButtons Button
{
	padding-left: 10px;
	text-align: left;
}


.FriendsActionsMsgBox #ButtonClose
{
	margin-top: 6px;
	margin-bottom: 0px;
	horizontal-align: left;
	min-width: 100px;
}

.FriendsActionsMsgBox .MsgBoxDescriptionArea
{
	padding-top: 20px;
}

#MsgBoxBodyRegion
{
	width: 700px;
}

#MsgBoxHeader

{
	margin-left: 10px;	
	margin-top: 10px;
}

DropDownMenu
{
	height: 200px;
	overflow: squish scroll;
	border-width: 5px;

}

#ButtonEditProfile, #ButtonAddAFriend
{
	width: 610px;
	text-align: left;
}

#MsgBoxButtons Button Label
{
	horizontal-align: left;
	text-transform: none;
}


.FriendsOptionWrapper DropDown:hover
{
	pre-transform-scale2d: 1.05;
}

#RightStickHint
{
	opacity: 0.0;

	horizontal-align: right;

	color: #ffffff33;
	font-size: 22px;

	margin-top: 3px;
	margin-right: 3px;
	height: 30px;

	transition-property: opacity; 
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;

}

.URLsInChatBody #RightStickHint
{
	opacity: 1.0;
}

.InviteFriendsDialog #FriendsList
{
	height: 560px;
	width: 600px;
	flow-children: down;
	overflow: squish scroll;
	
	opacity-mask-scroll-up: url( "file://{images}/friends/friends_list_mask_fade_top.png" );
	opacity-mask-scroll-down: url( "file://{images}/friends/friends_list_mask_fade_bottom.png" );
	opacity-mask-scroll-up-down: url( "file://{images}/friends/friends_list_mask_fade_both.png" );
}

.InviteFriendsDialog #FriendsList AvatarImage
{
	width: 90px;
	height: 90px;
	border-width: 4px;
	border-style: solid;
	border-radius: 6px;
	box-shadow: inset #00000099 0px 0px 12px 0px;
}

.InviteFriendsDialog FriendInvitePanel
{
	margin-top: 8px;
	margin-bottom: 4px;
	margin-right: 26px;
	flow-children: right;
	padding-top: 8px;
	padding-left: 4px;
	border-width: 0px;
	height: 106px;
}

.InviteFriendsDialog FriendInvitePanel #Avatar
{
	margin-left: 10px;
}

FriendInvitePanel #FriendPanelLabels
{
	flow-children: down;
	height: 100%;
}

FriendInvitePanel:descendantfocus,
FriendInvitePanel:descendantfocus:hover,
.LeftMainListItem:descendantfocus:hover
{
	transform: translateX( 0px );
	background-color: action_module;

	animation-name: main-button-glow-movement-no-fill;
	//animation-name: links-and-more-button-focus;
	animation-duration: 1.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;

	transition-property: background-color, border;
	transition-duration: 0.3s !immediate;
	transition-timing-function: ease-in-out;
}

FriendInvitePanel Button
{
	border-style: solid;
	border-width: 4px;
	border-color: #00000000;
	font-size: 28px;
	margin: 4px;
	padding-left: 4px;
	padding-right: 4px;

	transition-property: pre-transform-scale2d;
	transition-duration: 0.23s;
	transition-timing-function: ease-in-out;
	background-color: simplebuttonsolid_vertical;
}

FriendInvitePanel Button:hover
{
	pre-transform-scale2d: 1.03;
}

FriendInvitePanel Button:focus
{
	border-style: solid;
	border-width: 4px;
	border-color: #cececeff;
	background-color: friendsitemmainlistbkgnd;

	transition-property: background-color, border;
	transition-duration: 0.3s !immediate;
	transition-timing-function: ease-in-out;
}

FriendInvitePanel.Disabled Button
{
	opacity: 0.0;
}

FriendInvitePanel #InviteSent
{
	opacity: 0.0;
	font-size: 28px;
}

FriendInvitePanel.Disabled #InviteSent
{
	opacity: 1.0;
}

FriendInvitePanel #FriendPanelLabels Button #InviteLabel
{
	color: applabelsolid;
}

FriendInvitePanel #FriendPanelLabels #InviteSent
{
	color: friendsoffline_solid;
	margin-left: 4px;
}

FriendInvitePanel #FriendPanelLabels Button:focus #InviteLabel
{
	color: friendsoffline_lightbg;
}

FriendInvitePanel #FriendPanelLabels #FriendPersonaName
{
	margin-left: 4px;
	width: 100%;
}

/* the search text entry in the friends ui */
.LeftMainListItem.SearchEntry #SearchEntry
{
	vertical-align: center;
	margin-left: 30px;
	width: 500px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 27px;
	text-overflow: clip;
}

/* friend entries hidden by a search */
.LeftMainListItem.FilterInvisible
{
	opacity: 0.0;
	height: 0px;
}

/* the help text inside the search entry */
#SearchEntry Label
{
	width: 500px;
	font-style: italic;
	font-weight: normal;
	color: friendsoffline_darkbg;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#SearchEntry:descendantfocus Label
{
	opacity: 0.0;

}

.LeftMainListItem.SearchEntry:descendantfocus Label,
.LeftMainListItem.SearchEntry:descendantfocus:hover Label
{
	color: white;
}

.LeftMainListItem.SearchEntry:focus #SearchEntry Label
{
	color: black;
}

#SearchEntry.HasInput Label
{
	opacity: 0.0;
}

.LeftMainListItem.SearchEntry
{
	height: 75px;
	margin-top: 5px;
}

TextEntry:focus
{
	animation-name: none;
	color: blue;
}

TextEntry.CurrentSelection Label
{
	color: white;
}

.LeftMainListItem.SearchEntry.descendantfocus, .LeftMainListItem.SearchEntry.CurrentSelection:hover, 
{
	background-color: friendsitemmainlistbkgnd;
}

.LeftMainListItem.SearchEntry #FriendPanelImage
{
	background-image: url( "file://{images}/friends/friends_search.png" );
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	margin-left: 24px;
	margin-top: 8px;
	border-width: 0px;
	box-shadow: none;
	wash-color: none;
}

.LeftMainListItem.CommunitySearchEntry #FriendPanelImage
{
	background-image: url( "file://{images}/friends/friends_search.png" );
	background-repeat: no-repeat;
	background-position: left 25px top 25px;
	height: 90px;
	width: 90px;
	border-width: 4px;
	border-style: solid;
	border-radius: 0px;
	box-shadow: fill #eeeeee00 -4.5px -4.5px 6px 9px;
	background-color: #111111ff;

	transition-property: box-shadow;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.LeftMainListItem.SearchEntry:descendantfocus,
.LeftMainListItem.SearchEntry:descendantfocus:hover
{
	background-color: none;
	animation-name: none;
	transform: translateX( 0px );
	}

.LeftMainListItem.SearchEntry:descendantfocus #FriendPanelImage
.LeftMainListItem.SearchEntry:descendantfocus:hover #FriendPanelImage
{
	wash-color: black;
	}

.LeftMainListItem.SearchEntry #SearchEntry
{
	transform: translateX( 0px );
	transition-duration: 0.2s;
	transition-property: transform;
	transition-timing-function: ease-in-out;
}

.LeftMainListItem.SearchEntry:descendantfocus #SearchEntry
{
	transform: translateX( 5px );
}


.LeftMainListItem.SearchEntry #SearchEntry
{
	background-color: none;
}

.LeftMainListItem.SearchEntry:focus #SearchEntry
{
	color: black;
}

.LeftMainListItem.CommunitySearchEntry.SearchEmpty
{
	opacity: 0.0;
}

.LeftMainListItem.CommunitySearchEntry #FriendPanelLabels
{
	height: 100%;
}

.LeftMainListItem.CommunitySearchEntry
{
	height: 114px;
}

.LeftMainListItem.CommunitySearchEntry.SearchEmpty
{
	height: 0px;
}

.LeftMainListItem.CommunitySearchEntry #FriendPersonaName
{
	margin-top: 30px;
	margin-left: 0px;
	color: friendsoffline_darkbg;
	text-overflow: clip;
}

.LeftMainListItem.CommunitySearchEntry:descendantfocus #FriendPersonaName
{	
	color: friendsoffline_lightbg;
}