/* Styles for community background on main menu */

/*@define bgcolor: #00000000;
@define bgcolorwash: white;
@define bgcolorwashmedium: white;
@define bgcolorwashlight: white;*/


#CommunityFriendsStrip, #CommunityFeedStrip
{
	width: 1920px;
	height: 1080px;

	perspective-origin: 62% 5% invert;
}

#CommunityFeedStrip
{
	height: 610px;
	vertical-align: bottom;
}

OverlayBasePanel #CommunityFriendsStrip
{
	height: 800px;
	margin-top: -158px;
}

#CommunityFeedStrip
{
	opacity: 0.0;
}

.CommunityVisible:descendantfocus #CommunityFeedStrip
{
	opacity: 1.0;
}

#CommunityFriendsStripWrapper, #CommunityFeedStripWrapper
{
	perspective: 1000;
	z-index: -1000;
	
	width: 1920px;
	height: 1080px;
	
	perspective-origin: 62% 5% invert;
}

#CommunityFeedStripWrapper
{
	height: 480px;
}

#CommunityFriendsStripWrapperBackground, #CommunityFeedStripWrapperBackground
{
	width: 1920px;
	height: 1080px;

	transition-property: transform, opacity, position, desaturation;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

#CommunityFeedStripWrapperBackground
{
	height: 480px;
}

.CommunityFriendsCarousel
{
	animation-name: communityfriends-perspective;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal; 
	
	pre-transform-scale2d: 1.0;
	
	transition-property: transform, pre-transform-scale2d, blur, opacity, desaturation;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;

}

.CommunityFriendsCarousel, .CommunityFeedCarousel
{
	perspective: 1000;
	width: 2220px;
	height: 100%;
	margin-top: 0px;
	overflow: noclip clip;
	opacity: 0.8;
	desaturation: 0.3;
	transition-property: desaturation, opacity, position, blur, transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	opacity-mask: url( "file://{images}/background_alpha_mask.png" );

	pre-transform-scale2d: 1.0;

	transition-property: transform, pre-transform-scale2d, blur, opacity, desaturation;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;

}

.CommunityFeedCarousel
{
	height: 350px;
	width: 2620px;
	margin-top: 0px;
	flow-children: right;
	opacity: 0.0;

	transform: translatez( -600px );
}

.CommunityVisible:descendantfocus .CommunityFriendsCarousel
{
	position: -150px -380px 0px;
	animation-name: none;
	perspective-origin: 50% 50%;
}


.CommunityVisible:descendantfocus .CommunityFeedCarousel
{
	position: -350px 170px 0px;
	animation-name: none;
	perspective-origin: 50% 50%;
}


.CommunityFriendsStripWrapperBackgroundBaseVisible
{
	visibility: visible;
	transform-origin: 0% 0% parent-relative;
	transform: rotateZ( -32deg ) rotateX( 30deg ) translate3d( 0px, 580px, 230px ) ;
	opacity: 1.0;	
}

.CommunityVisible:descendantfocus .CommunityFriendsStripWrapperBackgroundBaseVisible
{
	transform-origin: 0% 0% parent-relative;
	transform: rotateZ( 0deg ) translate3d( 0px, 200px, 0px );
	opacity: 1.0;
}
OverlayBasePanel .CommunityVisible:descendantfocus .CommunityFriendsStripWrapperBackgroundBaseVisible
{
	padding-top: 200px;
	transform-origin: 0% 0% parent-relative;
	transform: rotateZ( 0deg ) translate3d( 0px, 0px, 0px );
	opacity: 1.0;	
}


.CommunityFriendsStripWrapperBackgroundBaseInvisible
{
	opacity: 0.0;
}

.CommunityFriendsTransitionDownAndOff
{
	transform-origin: 0% 0% parent-relative;
	transform: translateY( 800px ) translateZ( 0px ) rotateZ( -32deg ) rotateX( 30deg ) translate3d( 0px, 580px, 230px ) ;
	desaturation: 0.3;
	opacity: 0.0;
}

.CommunityFriendsTransitionLeftAndOff
{
	transform-origin: 0% 0% parent-relative;
	transform: translateX( -1000px ) translateY( 200px ) translateZ( 0px ) rotateZ( -32deg ) rotateX( 30deg ) translate3d( 0px, 580px, 230px ) ;
	desaturation: 0.3;
	opacity: 0.0;
}

.CommunityFriendsTransitionRightAndOff
{
	transform-origin: 0% 0% parent-relative;
	transform: translateX( 1000px ) translateY( -200px ) translateZ( 0px ) rotateZ( -32deg ) rotateX( 30deg ) translate3d( 0px, 580px, 230px ) ;
	desaturation: 0.3;
	opacity: 0.0;
}

@keyframes 'communityfriends-perspective'
{
	from
	{
		perspective-origin: 60% 50% invert;
	}

	10%
	{
		perspective-origin: 64% 52% invert;
	}

	15%
	{
		perspective-origin: 64% 52% invert;
	}
	
	25%
	{
		perspective-origin: 66% 55% invert;
	}

	50%
	{
		perspective-origin: 68% 60% invert;
	}

	75%
	{
		perspective-origin: 63% 52% invert;
	}

	80%
	{
		perspective-origin: 63% 52% invert;
	}

	to	
	{
		perspective-origin: 60% 50% invert;
	}
}



.CommunityVisible:descendantfocus .CommunityFriendStripItem
{
	border-radius: 0px;
	padding-top: 50px;
	opacity: 1.0;
	desaturation: 0.0;
	margin-left: 0px;
	margin-right: 0px;
	box-shadow: #00000000 0px 0px 0px 0px;
}

.CommunityFriendStripItem
{
	transform: translate3d( 646px, 368px, -490px );
	blur: gaussian( 1.4 );
	opacity: 0.8;
	box-shadow: #00000000 0px 0px 0px 0px;

	transition-property: opacity, box-shadow, transform, opacity-mask, background-color, position, border, opacity, blur, pre-transform-scale2d;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}



.CommunityFriendStripItem0
{
	transform: translate3d( 766px, -45px, 120px );
	blur: none;
	opacity: 1.0;
}

.CommunityFriendStripItem6
{
	transform: translate3d( 1010px, 142px, 30px );
	desaturation: 0.2;
	blur: none;
	opacity: 1.0;

}

.CommunityFriendStripItem3
{
	transform: translate3d( 1258px, 55px, -350px );
	blur: gaussian( 1.25 );
	opacity: 0.7;
	desaturation: 0.1;
}

.CommunityFriendStripItem10
{
	transform: translate3d( 908px, -246px, -350px );
	blur: gaussian( 1.8 );
	opacity: 0.7;
	desaturation: 0.3;
}

.CommunityFriendStripItem4
{
	transform: translate3d( 380px, -25px, 100px );
	blur: none;
	opacity: 1.0;
	desaturation: 0.2;
}

.CommunityFriendStripItem1
{
	transform: translate3d( 506px, 120px, -80px );
	desaturation: 0.2;
	blur: gaussian( 0.7 );
	opacity: 1.0;
}
.CommunityFriendStripItem8
{
	transform: translate3d( 440px, -185px, -375px );
	blur: gaussian( 1.3 );
	opacity: 0.8;
	desaturation: 0.4;
}

.CommunityFriendStripItem7
{
	transform: translate3d( 626px, -380px, -380px );
	desaturation: 0.6;
	blur: gaussian( 1.6 );
	opacity: 0.4;
}
.CommunityFriendStripItem2
{
	pre-transform-scale2d: 0.9;
	background-color: #00000000;
	blur: gaussian( 8, 8, 2 );

	desaturation: 0.3;
	border-radius: 2px;
}



.CommunityFriendStripItem5
{
	transform: translate3d(626px, 246px, -600px );
	blur: gaussian( 2.2 );
	opacity: 0.3;
	desaturation: 0.4;
}

.CommunityFriendStripItem15
{
	transform: translate3d( -28px, -20px, -186px );
	blur: gaussian( 4 );
	opacity: 0.5;
	desaturation: 0.7;
}

.CommunityFriendStripItem9
{
	transform: translate3d( 324px, 250px, -200px );
	desaturation: 0.5;
	blur: gaussian( 1.5 );
	opacity: 0.9;
}

.CommunityFriendStripItem11
{
	transform: translate3d( 270px, -200px, -270px );
	desaturation: 0.7;
	blur: gaussian( 1.2 );
	opacity: 0.7;
}

.CommunityFriendStripItem12
{
	transform: translate3d( 122px, 100px, -50px );
	desaturation: 0.5;
	blur: gaussian( 3.2 );
	opacity: 0.8;
}

.CommunityFriendStripItem13
{
	transform: translate3d( 300px, 105px, -120px );
	blur: gaussian( 1.1 );
	opacity: 0.8;
	desaturation: 0.4;
}

.CommunityFriendStripItem14
{
	transform: translate3d( 938px, 25px, -550px );
	blur: gaussian( 1.8 );
	opacity: 0.3;
	desaturation: 0.4;

}

.CommunityFriendStripItemOverCount
{
	transform: translate3d( 908px, 68px, 20px );
	desaturation: 0.1;
	blur: none;
	opacity: 0.0;
}

.CommunityVisible:descendantfocus .CommunityFriendStripItem
{
	transform: translatez(-500px);
	opacity: 1.0;
	blur: none;
	desaturation: 0.0;
	pre-transform-scale2d: 1.0;
}

.CommunityVisible:descendantfocus .CommunityFriendStripItem
{
	max-width: 330px;
	margin-left: 20px;
	margin-right: 20px;
}

.CommunityVisible:descendantfocus .CommunityFriendStripItem:descendantfocus
{
	transform: translatez(0px);
}

