.ContainerPanelFlowDown
{
	width: 100%;
	flow-children: down;
}

.ContextMenuBody Label.QuitSectionHeader
{
	font-size: 22px;	
	color: #5FB9FDff;
	margin-bottom: 5px;
	margin-left: 20px;
}

.QuitSectionSpacer
{
	height: 16px;
}

.AlwaysVisible
{
	visibility: visible;
}

.ControllerActive .ControllerActiveVisible
{
	visibility: visible;
}

.ControllerActive .ControllerActiveHidden
{
	visibility: collapse;
}

.ControllerActiveVisible
{
	visibility: collapse;
}

.ControllerActiveHidden
{
	visibility: visible;
}

.System
{
    visibility: collapse;
}

.SystemCanSuspend
{
    visibility: visible;
}

.SystemCanRestart
{
    visibility: visible;
}

.SystemCanShutdown
{
    visibility: visible;
}

.NotLoggedIn .NotLoggedInHidden, .SteamOS.SteamOS_EnableDesktop.NotLoggedIn #QuitBigPicture
{
	visibility: collapse;
}

.LoggedIn .NotLoggedInHidden
{
	visibility: visible;
}

.OfflineMode
{
	visibility: collapse;
}

.GoOfflineVisible .OfflineMode.GoOffline
{
	visibility: visible;
}

.GoOnlineVisible .OfflineMode.GoOnline
{
	visibility: visible;
}

.DisableOfflineShortcut #QuitGoOffline,
.DisableOfflineShortcut #QuitGoOnline
{
	visibility: collapse;
}

.SteamOS .ExitButtons
{
	visibility: collapse;
}

.SteamOS.Windows .ExitButtons
{
	visibility: visible;
}


.SteamOS.SteamOS_EnableDesktop #QuitBigPicture
{
	visibility: visible;
}

.SteamOS.Windows #QuitBigPicture
{
	visibility: collapse;
}

// Unfortunate but we have to specialize all the other selectors for this usecase
.SystemButton .QuitDialogInOverlay,
.QuitDialogInOverlay #QuitBigPicture,
.QuitDialogInOverlay .SteamOS.SteamOS_EnableDesktop #QuitBigPicture,
.QuitDialogInOverlay #QuitExitSteam,
.QuitDialogInOverlay .HasHDMIInput #SwitchToHDMIInput,
.QuitDialogInOverlay #QuitChangeUser,
.QuitDialogInOverlay .HorizontalRule,
{
	visibility: collapse;
}

.QuitDialogInOverlay #QuitExitGame,
.QuitDialogInOverlay #TurnControllerOff,
.QuitDialogInOverlay #QuitShutdown
{
	visibility: visible;
}

#SwitchToHDMIInput
{
	visibility: collapse;
}

.HasHDMIInput #SwitchToHDMIInput
{
	visibility: visible;
}

.SteamOS #QuitSleep
{
	visibility: collapse;
}

#ZeroTracker
{
	visibility: collapse;
}

.VRModeActive #ZeroTracker
{
	visibility: visible;
}

.StreamingActive .StreamingVisible
{
	visibility: visible;
}

.StreamingActive .StreamingHidden
{
	visibility: collapse;
}

.StreamingVisible
{
	visibility: collapse;
}

.StreamingHidden
{
	visibility: visible;
}

.StreamingClientCanSuspend
{
    visibility: visible;
}

#MusicControllerPanel:descendantfocus .SystemButton:hover
{
	transition-duration: 0.25s !immediate;

	border-width: 5px;
	border-style: solid;
	border-color: #fdfefef0;
	color: tcexitrowfocus;

	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdff ), to( #bdbfbfff ) );

	// Remove border, so we dont transition border out on focus lost, that looks weird.
	transition-property: blur, background-color, color, transform;

	transform: translatez( 0px );
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

#MusicControllerPanel:descendantfocus .SystemButton Label,
{
	transform: translateX( -12px );
	transition-duration: 0.23s;
	transition-timing-function: ease-in;
	transition-property: transform;
}

#MusicControllerPanel:descendantfocus .SystemButton:hover Label, #MusicControllerPanel:descendantfocus .SystemButton:focus Label,
{
	transform: translateX( 2px );
	color: applabelselected;

}

#QuitDialogButtonParent
{
	position: 41% 30% 0px;
}