@define shortduration: 0.25s;
@define shortmedduration: 0.3s;
@define mediumduration: 0.4s;
@define longduration: 1.7s;

@define paddinghorz: 200px;
@define buttonwidth: 480px;
@define buttonheight: 50px;
@define controlgaphorz: 25px;
@define controlgapvert: 18px;


.WizardPanel
{
	opacity: 0.0;
	background-color: settingsbackgroundgradient;

	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: ease-in-out;
	width: 100%;
	height: 100%;
}

.WizardPanel:descendantfocus
{
	// Temp work around for a bug that causes full screen banding on Windows
	// opacity: 1.0;
	opacity: 0.99;
}

.WizardPanel.Destructing
{
	opacity: 0.0;
}

.WizardPanel.BehindMessageBox:descendantfocus,
.WizardPanel.BehindAnotherMsgBox:descendantfocus
{
	transition-property: blur, desaturation, opacity, wash-color, transform !immediate;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;

	desaturation: 0.4;
	blur: gaussian( 1.5 );
	wash-color: #00000066;
}

.WizardPanel.BehindMessageBox.BehindDaisyWheel:descendantfocus,
.WizardPanel.BehindAnotherMsgBox.BehindDaisyWheel:descendantfocus
{
	blur: none;
	desaturation: 0.0;
	wash-color: #00000000;
}

.ScreenSaverMode .WizardPanel, .WizardPanel.ShowingProgress
{
	opacity: 0.0;
	transition-duration: 0.4s;
	transition-property: opacity;
}

#MainBackground
{
	flow-children: down;
}

#TitleBackground
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#111f2c), color-stop( 0.35, #142332 ), color-stop( 0.70, #0a131a ), to(#000000) );
	background-image: url("file://{images}/store/slideshow_glow.png");
	background-repeat: no-repeat no-repeat;
	background-position: left 0px top 75px;
	height: 150px;
	width: 100%;
}

#DescriptionBackground
{
	width: 100%;
	height: 100%;

	background-color: none;
	background-size: auto;
	background-position: left 0px top -150px;
}

.WizardChildTitle
{
	font-size: 78px;
	font-family: platformfont;

	margin-top: 76px;
	color: white;
}

.SteamPad .OOBEControllerHintImage
{
	background-image: url("file://{images}/steampad_navigationtip.png");
	background-repeat: no-repeat no-repeat;
	background-position: left 900px top 220px;
}

.OOBEControllerHintTitle
{
	position: 760px 572px 0px;
	width: 675px;
	transform: translateY( 40px );
	text-align: left;
}

.OOBEControllerHintBody
{
	position: 760px 612px 0px;
	width: 675px;
	text-align: left;
	transform: translateY( 40px );
}

.WizardChildDescription
{
	padding-top: 50px;
	width: 1350px;
	padding-bottom: 20px;
	font-size: 36px;
	font-family: platformfont;
	font-weight: light;
	color: #b0b4b7;
	opacity: 0.8;
}

.SteamPadSpecific
{
	visibility: collapse;
}

.SteamPad .SteamPadSpecific
{
	visibility: visible;
}

#WizardButtons
{
	vertical-align: bottom;
	height: 200px;
	width: 100%;
	flow-children: right;
}

.SSAFlowRight
{
	flow-children: right;
	width: 100%;
}


.WizardButton
{
	width: buttonwidth;
	height: buttonheight;
	padding-left: 8px;

	border-width: 5px;
	border-style: solid;

	// Linux/Mac bug: border-radius != 0 results in no border - will fix
	//border-radius: 2px;
	border-radius: 0px;

	border-color: none;

	background-color: simplebutton;

	transition-property: background-color, box-shadow;
	pre-transform-scale2d: 1.0;
	box-shadow: box_shadow_off_color -4.5px -4.5px 16px 9px;
	transition-duration: 0.23s;
}

.WizardButton.GapRight
{
	margin-right: controlgaphorz;
}

.WizardButton.GapBottom
{
	margin-bottom: controlgaphorz;
}

.WizardButton:descendantfocus
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#f2f2f2), to(#bdbdbd) );
	border-color: white;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
	z-index: 100;
}

.WizardButton:hover
{
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;
	z-index: 100;
}

.WizardButton:disabled:hover
{
	box-shadow: box_shadow_off_color -4.5px -4.5px 16px 9px;
}

.WizardButton Label
{
	margin-bottom: 4px;
	padding-top: 5px;
	padding-right: 10px;
	color: white;
	font-size: 24px;
	font-family: platformfont;
	border-width: 0px;
	vertical-align: center;
}

.WizardButton:focus Label
{
	color: black;
}

#RecommendedList .WizardButton
{
	background-color: none;	
}

#RecommendedList .WizardButton:hover
{
	box-shadow: none;
}

#RecommendedList .WizardButton:descendantfocus
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#f2f2f2), to(#bdbdbd) );	
}


#ButtonCheckboxNext .TickBox
{
	height: 60px;
	width: 60px;
	background-color: #001218;
	vertical-align: center;
}

.CheckBox:Selected .TickBox
{
	background-image: url( "file://{images}/store/Icon_CheckDefault.png" );
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.CheckBox Label,.RadioButton Label
{
	padding-left: 50px;
}

.WizardLabel,.RadioButton Label
{
	font-size: 24px;
	font-family: platformfont;
	color: tcstatictext;
	margin-bottom: 4px;
}

ToggleButton .WizardLabel
{
	margin-bottom: 10px; /* restore default */
}

.Radiobutton Label
{
	vertical-align: center;
}

.RadioButton
{
	horizontal-align: left;
	width: buttonwidth;
	height: buttonheight;
	margin-top: 8px;
	margin-bottom: 8px;

	box-shadow: box_shadow_off_color -2px -2px 4px 4px;

	border-style: solid;
	border-width: 5px;
	border-color: #3d414200;

	pre-transform-scale2d: 1.0;

	transition-property: border, blur, background-color, color, transform, pre-transform-scale2d, box-shadow;
	transition-timing-function: ease-out;
}

.RadioButton:focus
{
	transition-duration: 0.25s !immediate;

	border-width: 5px;
	border-style: solid;
	border-color: #fdfefef0;
	z-index: 1000;

	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdff ), to( #bdbfbfff ) );

	pre-transform-scale2d: 1.0;
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.RadioButton
{
	height: 48px;
	margin-bottom: 4px;
	margin-top: 4px;
}

.RadioButton .RadioBox
{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	vertical-align: center;
	background-color: ui_common_control;
}

.RadioButton:Selected .RadioBox
{
	background-image: url( "file://{images}/store/Icon_RadioDefault.png" );
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.RadioButton Label
{
	padding-left: 52px;
	color: detailsdatalabel;
	width: 100%;
	text-overflow: clip;
	white-space: nowrap;

	margin-top: 3px;
	transform: translatex(-7px);
	transition-property: color, transform;
	transition-duration: 0.23s;
	transition-timing-function: ease-in;
}

.RadioButton:hover Label
{
	color: applabelsolid;
	transform: translatex(0px);
}

.RadioButton:focus Label
{
	color: #000000ff;
	transform: translatex(0px);
}

.WizardTextEntry
{
	width: buttonwidth;
	height: buttonheight;

	border-width: 5px;
	border-style: solid;

	// Linux/Mac bug: border-radius != 0 results in no border - will fix
	//border-radius: 2px;

	box-shadow: box_shadow_off_color -4.5px -4.5px 16px 9px;

	border-color: none;
	background-color: ui_common_control;
	transition-property: box-shadow, transform, border, background-color;
	transition-duration: 0.23s;


	font-size: 24px;
	padding-top: 6px;
	font-family: platformfont;
	color: white;

	pre-transform-scale2d: 1.0;
}
.WizardTextEntry.ErrorState
{
	background-color: error_bgcolor;
	color: black;
	border-color: none;
}

.WizardTextEntry.GapRight
{
	margin-right: controlgaphorz;
}

.WizardTextEntry.GapBottom
{
	margin-bottom: controlgaphorz;
}

.WizardTextEntry:descendantfocus
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#f2f2f2), to(#bdbdbd) );
	border-color: white;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;	
}

.WizardTextEntry.ErrorState:descendantfocus
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#f2f2f2), to(#bdbdbd) );
}

.WizardTextEntry:hover
{
	box-shadow: box_shadow_off_color -4.5px -4.5px 16px 9px;
}

.WizardTextEntry:disabled:hover
{
	box-shadow: box_shadow_off_color -4.5px -4.5px 16px 9px;
}

.WizardErrorLabel
{
	font-size: 24px;
	font-family: platformfont;
	color: error_color;
}

.WizardButton:disabled
{
	desaturation: 0.0;
	blur: gaussian( 0.7 );
	opacity: 0.55;
	border-color: none;
	box-shadow: none;
	animation-name: none;
}

.WizardButton:disabled Label,.CheckBox:disabled .TickBox,.RadioButton:disabled Label
{
	color: tcstatictext;
}

.WizardButton.ButtonHidden
{
	visibility: collapse;
}

#ChildContainer
{
	width: 100%;
	height: 100%;
}

.WizardChild
{
	flow-children: down;
	padding-left: paddinghorz;
	padding-right: paddinghorz;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: ease-in-out;
	width: 100%;
	height: 100%;
}

.FlowNone
{
	flow-children: none;
}

.FlowDown
{
	flow-children: down;
}

.WizardChild.ChildVisible
{
	opacity: 1.0;
}

.InputContainerDown
{
	flow-children: down;
}

.InputContainerDown.GapRight
{
	margin-right: controlgaphorz;
}

.InputContainerDown.GapDown
{
	margin-bottom: controlgapvert;
	width: 100%;
}

.InputContainerRight
{
	flow-children: right;
}

.InputContainerRight.GapRight
{
	margin-right: controlgaphorz;
}

.InputContainerRight.GapDown
{
	margin-bottom: controlgaphorz;
}

#ThrobberContainer
{
	margin-top: 260px;
	horizontal-align: center;
}

.Throbber
{
	opacity: 1.0;
	width: 130px;
	height: 130px;
	horizontal-align: center;
	opacity-mask: url( "file://{images}/browser/reticle_mask_80_80.png" );
	background-image: url( "file://{images}/browser/reticle_80_80.webm" );
	background-repeat: no-repeat no-repeat;
	background-size: 100% 100%;
}

OOBENetworkSettingsWizardChild SettingsPanel_Network.SettingsSection
{
	margin-top: 0px;
}


