Protobufs/google/
.support/

*.wav
*.tmp
*.webm

ClientExtracted/steam_osx
ClientExtracted/ubuntu12_32/steam
ClientExtracted/ubuntu12_64/steam
ClientExtracted/steam/drivercheck/
ClientExtracted/ThirdPartyLegalNotices.doc

# Ignore all translations
ClientExtracted/**/*_brazilian*.[ht]*
ClientExtracted/**/*_finnish*.[ht]*
ClientExtracted/**/*_japanese*.[ht]*
ClientExtracted/**/*_romanian*.[ht]*
ClientExtracted/**/*_thai*.[ht]*
ClientExtracted/**/*_bulgarian*.[ht]*
ClientExtracted/**/*_french*.[ht]*
ClientExtracted/**/*_koreana*.[ht]*
ClientExtracted/**/*_russian*.[ht]*
ClientExtracted/**/*_turkish*.[ht]*
ClientExtracted/**/*_czech*.[ht]*
ClientExtracted/**/*_german*.[ht]*
ClientExtracted/**/*_korean*.[ht]*
ClientExtracted/**/*_schinese*.[ht]*
ClientExtracted/**/*_danish*.[ht]*
ClientExtracted/**/*_greek*.[ht]*
ClientExtracted/**/*_norwegian*.[ht]*
ClientExtracted/**/*_spanish*.[ht]*
ClientExtracted/**/*_dutch*.[ht]*
ClientExtracted/**/*_hungarian*.[ht]*
ClientExtracted/**/*_polish*.[ht]*
ClientExtracted/**/*_swedish*.[ht]*
ClientExtracted/**/*_italian*.[ht]*
ClientExtracted/**/*_portuguese*.[ht]*
ClientExtracted/**/*_tchinese*.[ht]*
ClientExtracted/**/*_ukrainian*.[ht]*
