[submodule "DumpStrings"]
	path = DumpStrings
	url = https://github.com/xPaw/DumpStrings
	shallow = true
[submodule "SteamKit"]
	path = SteamKit
	url = https://github.com/SteamRE/SteamKit
	shallow = true
[submodule "tools/hermes-dec"]
	path = tools/hermes-dec
	url = https://github.com/P1sec/hermes-dec
	shallow = true
