parameters:
	level: max
	checkExplicitMixed: false
	checkFunctionNameCase: true
	checkUnionTypes: false
	reportMaybes: true
	paths:
		- update.php
		- extract_json_from_webpack.php
		- generate_urls_from_html.php
