@define shortduration: 0.25s;
@define shortmedduration: 0.3s;
@define mediumduration: 0.4s;
@define longduration: 1.7s;

#CommunityWrapper
{
	transition-property: transform, desaturation, opacity, position, blur, opacity-mask;
	transition-duration: mediumduration;
	transition-delay: 0s;
	transition-timing-function: linear;

	height: 100%;

	vertical-align: bottom;
	
	opacity: 0.0;
}

#CommunityWrapper.CommunityVisible
{
	opacity: 1.0;
}


.StackDepth2 #CommunityWrapper.CommunityInvisible,
.StackDepth3 #CommunityWrapper.CommunityInvisible
{
	transform: translatey( 1080px );
	opacity: 0.0;
}

#CommunityWrapper CommunityPanel
{
	opacity: 0.0;
}

.StackDepth1 CommunityPanel #CommunityContent.CommunityLoading,
.StackDepth2 CommunityPanel #CommunityContent.CommunityLoading,
.StackDepth3 CommunityPanel #CommunityContent.CommunityLoading
{
	transition-duration: 0.3s;
	opacity: 0.0;
}

.StackDepth1 CommunityPanel #CommunityContent.CommunityLoading.LoadingVisible,
.StackDepth2 CommunityPanel #CommunityContent.CommunityLoading.LoadingVisible,
.StackDepth3 CommunityPanel #CommunityContent.CommunityLoading.LoadingVisible
{
	opacity: 1.0;
}

CommunityPanel
{
	width: 100%;
	height: 958px;
	vertical-align: bottom;

	opacity: 0.0;

	perspective-origin: 62% 5% invert;
	
	transition-property: transform, position, opacity;
	transition-duration: mediumduration;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}

#CommunityWrapper:descendantfocus .CommunityVisible
{
	opacity: 1.0;
}

.CommunityInvisible, #CommunityWrapper CommunityPanel.CommunityInvisible
{
	opacity: 0.0;
}

CommunityPanel #CommunityContent,
CommunityPanel #ContentRow
{
	width: 100%;
	height: 100%;

	opacity: 0.0;
	/*opacity-mask: url( "file://{images}/background_alpha_mask.png" ) 1.0;*/

	transform-origin: 0% 0% parent-relative;
	transition-property: transform, position, opacity, pre-transform-scale2d, opacity-mask;
	transition-duration: mediumduration;
	transition-delay: 0.2s;
	transition-timing-function: ease-in-out;
}

.StackDepth2 CommunityPanel #CommunityContent,
.StackDepth3 CommunityPanel #CommunityContent,
.StackDepth2 CommunityPanel #ContentRow,
.StackDepth3 CommunityPanel #ContentRow
{
	opacity: 1.0;


	transform: translateX( 0px );
}

@keyframes 'background-visible'
{
	0%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 1.0;
	}
}

.StackDepth2 CommunityPanel #CommunityContent,
.StackDepth3 CommunityPanel #CommunityContent
{
	transform: translatex( 0px );
}


.StackDepth2 CommunityWrapper.CommunityVisible CommunityPanel,
.StackDepth3 CommunityWrapper.CommunityVisible CommunityPanel
{
}

CommunityPanel .CommunityBackground
{
	width: 75%;
	height: 75%;
	
	position: 12.5% 12.5% 0%;

	pre-transform-scale2d: 1.33333;

	opacity: 0.0;

	transition-property: opacity;
	transition-duration: mediumduration;
	transition-delay: 0s;
	transition-timing-function: linear;
}

#OverlayBasePanel .CommunityVisible .CommunityPanel .CommunityBackground,
.StackDepth2 .CommunityVisible .CommunityPanel .CommunityBackground,
.StackDepth3 .CommunityVisible .CommunityPanel .CommunityBackground
{
	animation-name: background-visible;
	animation-duration: mediumduration;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: normal;

	opacity: 1.0;
}

.CommunityVisible .CommunityPanel #UpperRow
{
	width: 100%;
	height: 122px;
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;

}

CommunityPanel #Loading
{
	width: 100%;
	height: 100%;
}

.StackDepth1 CommunityPanel #Loading
{
	opacity: 0.0;
}

#Loading #LoadingStatus
{
	align: center top;
	margin-top: 300px;
	width: 80%;
	text-align: center;

	color: detailsdatalabel;
	font-size: 32px;
}

CommunityPanel LoadingThrobber
{
	horizontal-align: center;
	margin-top: 350px;

	opacity: 1.0;
	pre-transform-scale2d: 0.85;
}

CommunityPanel#CommunityMarketItemPicker
{
	width: 100%;

	background-image: url( "file://{images}/profile/activity_bg_wash.png" );
	background-size: 100% 100%;
	box-shadow: #000000aa -4px -4px 8px 8px;

	transition-property: transform, position, opacity;
	transition-duration: mediumduration;
	transition-delay: 0s;
	transition-timing-function: linear;
}

#CommunityMarketItemPicker
{
	transition-property: transform;
	transition-timing-function: ease-out;
	transition-duration: 0.23s;
}


#Offline
{
	opacity: 0.0;
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: 0.23s;
	transition-delay: 0.23s;

	padding-bottom: 50px;
}

#OfflineMessage
{
	flow-children: down;
	width: 100%;
	vertical-align: center;
}

#OverlayBasePanel.Offline #Loading,
.Offline.StackDepth2 #Loading,
.Offline.StackDepth3 #Loading
{
	opacity: 0.0;
}

#OverlayBasePanel.Offline #Offline,
.Offline.StackDepth2 #Offline,
.Offline.StackDepth3 #Offline
{
	opacity: 1.0;
	transition-delay: 0.0s;
}

#OfflineStatus1,
#OfflineStatus2
{
	color: tcstatictext;
	horizontal-align: center;

	max-width: 75%;
	margin-bottom: 20px;
	text-align: center;
}

#OfflineStatus1
{
	font-size: largefontsize;
}

#OfflineStatus2
{
	font-size: medfontsize;
	height: 200px;
}
	


#CommunityWrapper CommunityPanel
{
	transform: translate3d( 0px, 1280px, 1000px );
}

.StackDepth1 #CommunityWrapper #CommunityMenu,
.StackDepth2 #CommunityWrapper #CommunityMenu
{
	transform: none;
}

#CommunityWrapper CommunityPanel.CommunityVisible
{
	transform: none;
}

#OverlayBasePanel #CommunityGameHub #CommunityContent
{
	opacity: 1.0;
}

#OverlayBasePanel #CommunityGameHub.CommunityVisible
{
	opacity: 1.0;
}


#CommunityWrapper .MarketPanel
{
	width: 2120px;
	margin-left: -100px;
	margin-right: -100px;
	padding-left: 100px;
	padding-right: 100px;

	box-shadow: #000000aa -4px -4px 8px 8px;
}

#CommunityWrapper.MarketStackDepth1 #CommunityMarket,
#CommunityWrapper.MarketStackDepth2 #CommunityMarket,
#CommunityWrapper.MarketStackDepth2 #CommunityMarketItemPicker,
#CommunityWrapper.MarketStackDepth2 #CommunityMarketDetails
{
	transform: translate3d( 0px, -100px, -100px );
}

#CommunityWrapper.MarketStackDepth2 #CommunityMarketItemPicker:descendantfocus,
#CommunityWrapper.MarketStackDepth2 #CommunityMarketItemPicker.CommunityLoading
{
	transform: none;
}

#CommunityMarketBuyDialog
{
	background-image: url("file://{images}/profile/activity_bg_wash.png");
	background-size: 100% 100%;
}

#CommunityAppHubPopup
{
	height: 100%;
	width: 100%;
	z-index: 1000;

	transition-property: pre-transform-scale2d, transform;
	transition-duration: shortduration;
	transition-timing-function: ease-in-out;
}

#CommunityAppHubPopup LoadingThrobber
{
	horizontal-align: center;
	vertical-align: center;

	transition-property: opacity;
	transition-duration: shortduration;
}

#CommunityAppHubPopup LoadingThrobber.LoadComplete
{
	opacity: 0.0;
}


