/*	background image test panel styles */

// test image is 108x62

BackgroundImageTest
{
	width: 1000px;
	height: 100%;
	background-color: white;
	overflow: squish scroll;
	flow-children: down;
}

Label
{
	margin-top: 10px;
	color: black;
}

BackgroundImageTest Panel
{
	margin: 10px;
	background-color: green;
	width: 100%;
	height: 300px;
}

.SingleImageDefault
{
	background-image: url("file://{images}/default.tga");
}

.SingleImageCenter
{
	background-image: url("file://{images}/default.tga");
	background-position: center;
	background-repeat: repeat-x;
}

.SingleImageRight
{
	background-image: url("file://{images}/default.tga");
	background-position: right top;
	background-repeat: repeat-y;
}

.SinglePercent
{
	background-image: url("file://{images}/default.tga");
	background-position: 75% 50%;
	background-repeat: no-repeat;
	background-size: 400px 150px;
}

.MultipleOffset
{
	background-image:	url("file://{images}/default.tga"),
						url("file://{images}/default.tga");
			
	background-repeat: no-repeat;
	background-position: left 15px top 40px, right 124px bottom 102px;
}

.SingleImageRound
{
	background-image: url("file://{images}/default.tga");
	background-repeat: round;
}

.SingleImageSpace
{
	background-image: url("file://{images}/default.tga");
	background-repeat: space;
	background-size: 30% 30%;
}

.MultipleKeywordAlign
{
	background-image:	url("file://{images}/default.tga"),
						url("file://{images}/default.tga"),
						url("file://{images}/default.tga"),
						url("http://cdn.store.steampowered.com/public/images/hardware/logo_gaming_evolved2.png"),
						url("http://cdn.store.steampowered.com/public/images/hardware/logo_gaming_evolved2.png"),
						url("http://cdn.store.steampowered.com/public/images/hardware/logo_gaming_evolved2.png"),
						url("file://{images}/default.tga"),
						url("file://{images}/default.tga"),
						url("file://{images}/default.tga");

	background-repeat: no-repeat;
	background-position:	left top, center top, right top,
							left center, center, right,
							left bottom, center bottom, right bottom;
}

.ImageAndMovie
{
	background-image: url("file://{images}/default.tga"), url( "file://{movies}/Background1080p.webm" );
	background-repeat: no-repeat, repeat;
	background-size: 100% 100%, 50% 50%;
}
