html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* html body{
	padding-left: 1px;
}

body {
	font-family: arial, sans-serif;
	color: #cccccc;
	background-color: #000000;
	overflow-y: scroll;
	font-size: 14px;
	line-height: 18px;
}

img{
	border: 0px;
	margin: 0px;
	padding: 0px;
	outline: none;
}

a{
	border: 0px;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: #2db2e6;
	font-size: 14px;
	font-family: arial, sans-serif;
	outline: none;
}

a:hover{
	cursor: pointer;
	text-decoration: underline;
}

a:active{
	outline: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
	margin-top: 6px;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
	font-weight: bold;
	font-size: 26px;
	margin: 22px 0;
}

h3{
	font-size: 22px;
}

h3 a.posttitle {
	font-size: 22px;
	color: #ffffff;
	text-decoration: none;
}

h3 a.posttitle:hover {
	text-decoration: underline;
}

h4{
	text-transform: uppercase;
	font-size:14px;
}

p{
	margin-bottom: 6px;
}

blockquote{
	margin-left: 22px;
}

.italic{
	font-style: italic;
}

.left_col_content li{
	margin-bottom: 20px;
}

#awards li{
	margin-bottom: 40px;
}

.award_content{
	float: left;
	width: 470px;
}

/*  backgrounds */
.background{
	/*background-image: url(http://media.steampowered.com/apps/portal2/media/p2_bg_v2.jpg);
	background-repeat: no-repeat;*/
	background-image: url(../images/tile_bg.jpg);
	background-repeat: repeat-y;
	background-position: center top;
	background-color: #000000;
}

.about_background{
	background-image: url(../images/about_bg_2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #000000;
}

.blog_background{
	/*background-image: url(../images/blog_bg.jpg);
	background-repeat: no-repeat;*/
	background-image: url(../images/tile_bg.jpg);
	background-repeat: repeat-y;
	background-position: center top;
	background-color: #000000;
}

.press_background{
	background-image: url(../images/press_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #000000;
}

.awards_background{
	background-image: url(../images/awards_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #000000;
}

.media_background{
	background-image: url(../images/media_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #000000;
}

.preorders_background{
	background-image: url(../images/preorders_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #000000;
}

.vday_background{
	background-image: url(../images/vday_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #000000;
}

/* container */
.container{
	width: 923px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}


/* header */

.navigation {
	background-image: url(../images/navigation_bg.png);
	background-repeat: no-repeat;
	height: 147px;
	/*width: 923px;*/
	padding-left: 27px;
	padding-top: 30px;
}


/* navigation */

.top_nav{
	position: absolute;
	top: 27px;
	right: 16px;
	margin-top: 0px;
	width: 485px;
	height: 114px;
	display: block;
	padding: 0px;
}

.top_nav span{
	display: none;
}

.nav_home {
	float:left;
	display: block;
	width: 71px;
	height: 114px;
	background: url("../images/navigation-sprite.png") no-repeat 0px 0px;
	overflow: hidden;
}

.nav_home:hover {
	background-position: 0 -114px;
}

.nav_home_active{
	float:left;
	display: block;
	width: 71px;
	height: 114px;
	background: url("../images/navigation-sprite.png") no-repeat 0 -114px;
}

.nav_about {
	float:left;
	display: block;
	width: 72px;
	height: 114px;
	background: url("../images/navigation-sprite.png") no-repeat -69px 0;
}

.nav_about:hover {
	background-position: -69px -114px;
}

.nav_about_active{
	float:left;
	display: block;
	width: 72px;
	height: 114px;
	background: url("../images/navigation-sprite.png") no-repeat -69px -114px;
}

.nav_blog {
	float:left;
	display: block;
	width: 65px;
	height: 114px;
	background: url("../images/navigation-sprite.png") no-repeat -142px 0;
}

.nav_blog:hover {
	background-position: -142px -114px;
}

.nav_blog_active {
	float:left;
	display: block;
	width: 65px;
	height: 114px;
	background: url("../images/navigation-sprite.png") no-repeat -142px -114px;
}

.nav_press {
	float:left;
	display: block;
	width: 72px;
	height: 114px;
	background: url("../images/navigation-sprite.png") no-repeat -207px 0;
}

.nav_press:hover {
	background-position: -207px -114px;
}

.nav_awards {
	float:left;
	display: block;
	width: 85px;
	height: 114px;
	background: url("../images/navigation-sprite.png") no-repeat -470px 0;
}

.nav_awards:hover {
	background-position: -470px -114px;
}

.nav_awards_active {
	float:left;
	display: block;
	width: 85px;
	height: 114px;
	background: url("../images/navigation-sprite.png") no-repeat -470px -114px;
}

.nav_media {
	float:left;
	display: block;
	width: 190px;
	height: 114px;
	background: url("../images/navigation-sprite.png") no-repeat -279px 0;
}

.nav_media:hover {
	background-position: -279px -114px;
}

.nav_media_active {
	float:left;
	display: block;
	width: 190px;
	height: 114px;
	background: url("../images/navigation-sprite.png") no-repeat -279px -114px;
}


/* showcase */

.showcase{
	height: 516px;
	padding: 0px 27px 0px 27px;
	line-height: 0;
	position: relative;
}

.showcase_about {
	height: 415px;
	padding: 27px 27px 0px 27px;
	line-height: 0;
}

.buyitnow{
	height: 525px;
	width: 283px;
	position: absolute;
	right: 27px;
	display: block;
	margin: -2px 0 0 0px;
	overflow:hidden;
}

#buy_it_now{
	display: block;
	width: 283px;
	height: 120px;
	background: url("../images/buy_it_now.png") no-repeat 0 0;
}

#buy_it_now:hover {
	background-position: 0  -120px;
}



.homebot{
	position: absolute;
	left: 26px;
	top: -39px;
	z-index: 10;
}

.video_screen{
	position: absolute;
	left: 125px;
	top: 214px;
	z-index: 10;
}

.watch_trailer_now{
	display: block;
	position: absolute;
	top: 27px;
	width: 294px;
	z-index: 20;
}


/* content */

.main_content{
	background-image: url(../images/showcase_bg.png);
	background-repeat: no-repeat;
	background-color: #000000;
	/*width: 923px;*/
	width: 869px;
	padding: 27px;
	position: relative;
}

.main_content h3{
	margin-bottom: 8px;
}

.content_container{
	min-height: 240px;
	width: 900px;
}


.spotlight{
	width:555px;
	position: relative;
	float: left;

}

.spotlight img{
	margin-bottom: 20px;
}

.left_col_content{
	width:555px;
	position: relative;
	float: left;
}

.left_col_content img{
	margin-bottom: 20px;
}

.headlines{
	width: 285px;
	position: relative;
	float: left;
	margin-left: 27px;
}

.headlines img{
	margin-bottom: 15px;
}

.headlines li{
	margin-bottom: 10px;
	
}

.date{
	color: #1f7b9f;
	margin: 6px 0 20px 0;
	font-size: 14px;
}

.bold_link{
	font-weight: bold;
}

.bold{
	font-weight: bold;
}

.content_title{
	margin-bottom: 20px;
}

.read_more{
	background: url("../images/triangle.png") no-repeat 0px 70%;
	padding: 2px 0 0 14px;
	margin-left: 3px;
}

.quote_source{
	color: #a8a8a8;
	font-size: 14px;
	margin-right: 3px;
}

.bold_quote{
	font-weight: bold;
	line-height: 1.3;
	font-size: 16px;
}

.posthr {
	margin: 20px 0 20px 0 !important;
}

.release_date{
	color: #6b6b6b;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 6px;
}

/* sidebar */

.sidebar{
	height: 680px;
	width: 183px;
	float: right;
	display: block;
	/*margin: -27px 54px 0 0px;*/
	margin: -28px 133px 0 0px;
	/*position: absolute;
	left: 608px;
	top: 52px;*/
}

.sidebar span{
	display: none;
}

.sidebar_preorder{
	line-height: 0;
}

.rss{
	margin-bottom: 14px;
	position: relative;
}

.sidebar hr{
	margin: 2px 0 2px 0;
}

.sidebar a{
	font-weight:bold;
}


#sidebar_preorder{
	display: block;
	width: 282px;
	height: 64px;
	background: url("../images/buyithere.png") no-repeat 0px 0px;
}

#sidebar_preorder:hover {
	background-position: 0 -64px;
}

.triangle_image{
	height: 10px;
	display: inline;
	vertical-align: text-bottom;
	margin: 0px 2px 0 2px;
}

.press_logo{
	margin-bottom: 0px !important;
	margin-right: 8px;
	display:inline;
	float: left;
}

.title_small{
	height: 34px;
}

/* media page */

#FlashID{
	z-index: 200;
	display: block;
	position: relative;
}

.trailers{
	width: 586px;
	height: 500px;
	float:left;
}

.movie_container{
	border: 1px solid #878a8b;
	width:658px;
	height:372px;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
	z-index: 160;
}

.movie_thumbnail_image{
	width: 172px;
	height: 93px;
	margin-right: 20px;
	border: 2px solid #2db2e6;
}

.movie_thumbnail_image_active{
	width: 176px;
	height: 97px;
	margin-right: 20px;
	border: none;
}

.movie_thumbnail_image_on{
	width: 172px;
	height: 93px;
	margin-right: 20px;
	border: 2px solid #c1c3c2;
}


.movieThumb{
	width: 172px;
	height: 100px;
	margin-right: 20px;
	float: left;
	margin-bottom:30px;
}

.movieThumbTitle{
	height: 20px;
	width: 180px;
	margin-right: 20px;
	color: #2db2e6;
	font-size: 10px;
	font-family: arial, sans-serif;
	font-weight: bold;
	outline: none;
	letter-spacing: -.2px;
}

.movieThumbTitleActive{
	height: 20px;
	width: 180px;
	margin-right: 20px;
	color: #c0c1c3;
	font-size: 10px;
	font-family: arial, sans-serif;
	font-weight: bold;
	outline: none;
	letter-spacing: -.2px;
	
}

.trailer_container{
	border: 1px solid #878a8b;
}

.trailer_controls_container{
	display: block;
	z-index: 150;
	position: absolute;
	left: 142px;
	margin-top: 30px;
}

.trailer_controls_container a{
	position: absolute;
	left: 0px;
	top: -33px;
	text-align: left;
	font-weight: bold
}

.trailer_tint{
	display:block;
	background: url("../images/trailer_tint.png");
	background-repeat:repeat-x;
	background-repeat:repeat-y;
	background-position: center top;
	position: absolute;
	height: 1165px;
	width: 1128px;
	top:0px;
	left:0px;
	z-index: 90;
	overflow: hidden;
}

.close_trailer{
	z-index: 110;
}

.screenshots{
	width: 310px;
	height: 290px;
	float:left;
}


.screenshot{
	
	height:372px;
}

/* 81x81px 20 margin*/
.screenshot_thumb img{
	width: 77px;
	height: 77px;
	margin: 0 20px 13px 0;
	border: 2px solid #2db2e6;
	float: left;
	overflow: hidden;
}

.screenshot_thumb_active img{
	width: 77px;
	height: 77px;
	margin: 0px 20px 13px 0px;
	float: left;
	overflow: hidden;
	border: 2px solid #c1bfc0;
}

.comics{
	width: 310px;
	height: 650px;
	float:left;
}

.comic_container{
	float: left;
	width: 150px;
}

.music{
	margin-top: 40px;
}

.comic_thumb{
	border: 2px solid #2db2e6;
}
/* footer */

.footer{
	clear: both;
	height: 140px;
	padding-top: 35px;
	display: block;
}

.footer img{
	margin-right: 77px;
}

.footer_copy{
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	width: 720px;
	position: absolute;
	left: 175px;
	padding-top: 5px;
}

.showcase_editorkeys {
	margin-top: 32px;
}

.overlay_header {
	font-weight: bold;
	font-size: 32px;
	padding: 16px 16px 16px 16px;
	display:inline-block;
	color:white;
	background-color: #2c7c9c;
}

.table_header {
	font-weight: bold;
	color: #2db2e6;
	font-size: 16px;
	margin-top: 24px;
}

.editorkey_action {
	font-weight: bold;
	line-height: 1.3;
	font-size: 14px;
}

.editorkey td {
	width: 300px;
}

.normal_list {
	list-style: decimal;
	margin: 12px 0 0 24px;
	padding: 0;
}

.normal_list b {
	color: white;
}