.gameRow {
	height: 44px;
	overflow: hidden;
	border-bottom: 1px solid rgb(39, 74, 90);
	white-space: nowrap;
	-webkit-user-select: none;
}

.gamesLogoBlock {
	height: 32px;
	width: 86px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 6px;
	margin-bottom: 6px;
	background-image: url(steam-remote-resource://library_default.png);
	background-size: auto 32px;
	background-position: center center;
	background-repeat: no-repeat;
}

.gamesLogo {
	height: 32px;
	width: 86px;
	display: inline;
}

.gamesDescription * {
	color: #8BC1E8;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gamesDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gamesTitle {
	font-size: 17px;
}

.gamesStatus {
	font-size: 14px;
	font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", Helvetica, Arial, Verdana, sans-serif
}

#gamesListNoUser {
	font-size: 16px;
	margin-top: 16px;
	margin-left: 16px;
}
