#playerControls {
	height: 62px;
	overflow: hidden;
	-webkit-user-select: none;
	white-space: nowrap;
}

#playerControls a {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 62px;
	height: 62px !important;
	border: 0px;
	display: block;
	float: left;
}

.controlsButton {
		width: 29px !important;
}

#controlsRepeatButton.offState { background-image: url('images/remote_playControls_repeat.png'); }
#controlsRepeatButton.onState { background-image: url('images/remote_playControls_repeat_on.png'); }
#controlsShuffleButton.offState { background-image: url('images/remote_playControls_shuffle.png'); }
#controlsShuffleButton.onState { background-image: url('images/remote_playControls_shuffle_on.png'); }
#controlsRepeatButton { background-image: url('images/remote_playControls_repeat.png'); }
#controlsForwardTrackButton { background-image: url('images/remote_playControls_forwardTrack.png'); }
#controlsBackTrackButton { background-image: url('images/remote_playControls_backTrack.png'); }

#controlsPlayButton {
	width: 65px !important;
}

#controlsPlayButton.offState {
	background-image: url('images/remote_playControls_playButton.png');
}

#controlsPlayButton.onState {
	background-image: url('images/remote_playControls_pauseButton.png');
}

#controlsVolumeBar {
	background-image: url('images/remote_playControls_volumeBar.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 62px;
	height: 62px !important;
	width: 118px !important;
	float: left;
	border: 0px;
}

#controlsVolumeBar #controlsVolumeScrubber {
	position: relative;
	top: 19px;

	background-image: url('images/remote_playControls_volumeScrubber.png');
	width: 24px !important;
	height: 24px !important;
	background-size: auto 24px;
	border: 0px;
}

.controlsSpacer {
	background-image: url('images/remote_playControls_leftSpacer.png');
	height: 62px !important;
	width: 11px;
	background-size: auto 62px;
	float: left;
}