._8DSX9d1ihrMSeZUFC9elD {
  overflow: hidden;
  flex-grow: 1;
}
._1FCh_hPFNuwj9vrVDMOvMC {
  display: flex;
}
.TwihVkmmqI5XLg6P4fpwF {
  list-style: none;
  padding: 0;
  margin: 0;
}
._1GkKPFI1K10GLg9538MMAF {
  width: 26px;
  height: 16px;
}
._3sRe2CGQBgablPBz9Bc9c2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(103, 193, 245, 0.1);
  color: #66c0f4;
  padding-right: 8px;
}
._3sRe2CGQBgablPBz9Bc9c2:hover,
:hover > ._3sRe2CGQBgablPBz9Bc9c2 {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  background: #67c1f5;
  background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
}
._2079QFhY02KJ4KxGMltDNJ {
  color: #8f98a0;
  margin-top: 6px;
  margin-bottom: 4px;
  display: inline-block;
  padding-left: 38px;
}
._2WWlH-JTbq_f1PEyooC78U {
  list-style-type: none;
  padding-left: 0;
}
._1RmibngWLogcFmO93kGFgq {
  padding-left: 38px;
  display: flex;
  text-decoration: none;
}
.ny6hWVK6ii05H200KRhds {
  font-weight: 400;
  font-size: 12px;
  padding: 6px 8px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 500px) {
  .responsive_page_content .ny6hWVK6ii05H200KRhds {
    font-size: 14px;
  }
}
.gamepad ._8DSX9d1ihrMSeZUFC9elD .ny6hWVK6ii05H200KRhds {
  font-size: 14px;
  color: #1a9fff;
}
.gamepad ._8DSX9d1ihrMSeZUFC9elD ._3sRe2CGQBgablPBz9Bc9c2 {
  background: unset;
  font-size: 14px;
}
.gamepad ._8DSX9d1ihrMSeZUFC9elD ._29jQMo9DGCmcSKyDIC3V7M {
  background: unset;
}
.gamepad ._8DSX9d1ihrMSeZUFC9elD .TwihVkmmqI5XLg6P4fpwF li a.gpfocus,
.gamepad ._8DSX9d1ihrMSeZUFC9elD ._1FCh_hPFNuwj9vrVDMOvMC.gpfocus {
  background-color: #3b5a7280;
}
.gamepad
  ._8DSX9d1ihrMSeZUFC9elD
  .TwihVkmmqI5XLg6P4fpwF
  li
  a.gpfocus
  .ny6hWVK6ii05H200KRhds,
.gamepad
  ._8DSX9d1ihrMSeZUFC9elD
  ._1FCh_hPFNuwj9vrVDMOvMC.gpfocus
  .ny6hWVK6ii05H200KRhds {
  color: #fff;
}
._29jQMo9DGCmcSKyDIC3V7M {
  padding: 0px 6px;
  display: flex;
  color: #fff;
  background: #101822;
  align-items: center;
}
a._2xmH7agKi37v9kwFHi093S {
  color: #fff;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(217, 217, 217, 0.1);
}
