.nominationandvote_SteamAwardContainer_jBtX5 {
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 24px;
  margin-bottom: 40px;
  border-radius: 4px;
  position: relative;
  border: solid 1px #000;
  background-size: cover;
  color: #fff;
  background-repeat: no-repeat;
}
.nominationandvote_InLibraryView_1G81P
  .nominationandvote_SteamAwardContainer_jBtX5 {
  margin: 24px;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SVGIcon_DialogCheck_1IRgd {
  fill: #fad569;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardHeader_2TvWH {
  box-sizing: border-box;
  position: relative;
  padding: 16px;
  font-size: 12px;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardHeader_2TvWH
  .nominationandvote_SteamAwardHeaderImage_3dsTJ {
  position: absolute;
  bottom: -15px;
  right: -10px;
  max-width: 100%;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardHeader_2TvWH
  .nominationandvote_SteamAwardMainCtn_3CUAM {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardHeader_2TvWH
  .nominationandvote_SteamAwardMainTitle_6gN_u {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 36px;
  line-height: 36px;
  padding-right: 90px;
  padding-bottom: 10px;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardHeader_2TvWH
  .nominationandvote_SteamAwardSubTitle_3SuAg {
  position: relative;
  text-transform: uppercase;
  color: #fff;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardHeader_2TvWH
  .nominationandvote_SteamAwardLearnMore_TqZmn {
  color: #c9d3d9;
  margin-left: 12px;
  text-transform: uppercase;
  font-style: normal;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardHeader_2TvWH
  .nominationandvote_SteamAwardLearnMore_TqZmn:hover {
  color: #fff;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardHeader_2TvWH
  .nominationandvote_SteamAwardLearnMore_TqZmn.nominationandvote_BottomRight_3VSBr {
  margin-left: auto;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardHeader_2TvWH
  .nominationandvote_SteamAwardHeaderText_30-fH {
  position: relative;
  padding-top: 15px;
  width: 85%;
  color: #fff;
  font-size: 14px;
  font-style: italic;
  display: flex;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardHeader_2TvWH
  .nominationandvote_SteamAwardHeaderText_30-fH
  .nominationandvote_LinkText_1dQJW {
  color: #ebebeb;
  text-decoration: underline;
  font-style: normal;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardHeader_2TvWH
  .nominationandvote_SteamAwardHeaderText_30-fH
  .nominationandvote_LinkText_1dQJW:hover {
  color: #fff;
}
@media screen and (max-width: 620px) {
  .nominationandvote_SteamAwardContainer_jBtX5
    .nominationandvote_SteamAwardHeader_2TvWH
    .nominationandvote_SteamAwardHeaderText_30-fH {
    display: none;
  }
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v {
  padding: 0px;
  color: #fff;
  font-size: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardVotePrompt_38kTM {
  text-transform: uppercase;
  margin-bottom: 4px;
  letter-spacing: 0.05em;
  margin-left: 15px;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardCategoryTitle_3hZED {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  margin: auto 0;
  width: 100%;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardCategoryTitle_3hZED.nominationandvote_VotingTitle_at4wS {
  text-align: left;
  font-size: 20px;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardCategoryDesc_3bu8i {
  display: block;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardVoteButtonArea_2gvv6 {
  border-radius: 4px;
  padding: 0px 20% 6px 0px;
  margin-top: 20px;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardVoteButtonArea_2gvv6
  .nominationandvote_SteamAwardVoteButton_kTsuK {
  border: none;
  margin: 12px 0px 6px;
  padding: 0px;
  cursor: pointer;
  font-size: 13px;
  background: transparent;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardVoteButtonArea_2gvv6
  .nominationandvote_SteamAwardVoteButton_kTsuK
  .nominationandvote_SteamAwardVoteButtonText_Zzla_ {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: 600;
  padding: 5px 10px;
  color: #fff;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardVoteButtonArea_2gvv6
  .nominationandvote_SteamAwardVoteButton_kTsuK:hover
  .nominationandvote_SteamAwardVoteButtonText_Zzla_ {
  border: 2px solid #fff;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardVoteButtonArea_2gvv6
  .nominationandvote_SteamAwardVoteButtonSubmitted_39ziF {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  border: none;
  margin: 12px 0px 6px;
  padding: 0px;
  cursor: pointer;
  font-size: 13px;
  background: transparent;
  box-sizing: border-box;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardVoteButtonArea_2gvv6
  .nominationandvote_SteamAwardVoteButtonSubmitted_39ziF
  .nominationandvote_SteamAwardVoteButtonText_Zzla_ {
  border: 1px solid #fff;
  background: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: 600;
  padding: 5px 10px;
  color: #355a5f;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardNominateButton_VcFKW {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 4px 6px 0px;
  margin: 20px 15px 15px 15px;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardNominateButton_VcFKW:hover {
  border: 1px solid #fff;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardNominateButton_VcFKW
  .DialogCheckbox {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  margin: auto 0;
  max-width: 22px;
  width: 100%;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardNominateButton_VcFKW
  .nominationandvote_SteamAwardCategoryDesc_3bu8i {
  margin-left: 0px;
}
@media screen and (max-width: 620px) {
  .nominationandvote_SteamAwardContainer_jBtX5
    .nominationandvote_SteamAwardVoteWidget_2-t3v
    .nominationandvote_SteamAwardNominateButton_VcFKW
    .nominationandvote_SteamAwardCategoryDesc_3bu8i {
    width: 100%;
  }
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardLinkToNominationPage_3XWCw {
  margin-top: 4px;
  text-decoration: underline;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 12px;
}
.nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardLinkToNominationPage_3XWCw
  a {
  color: #fff;
  font-size: 12px;
}
.nominationandvote_SteamAwardVoteCheckBox_LFbd4 {
  display: flex;
}
.nominationandvote_SteamAwardModalGameTitle_3hBdP {
  color: #fff;
}
.nominationandvote_ExpiredEventHeader_3e-YK {
  font-size: 16px;
  color: #c9d3d9;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 10px;
  background: rgba(30, 33, 38, 0.5);
}
.EventDetail .nominationandvote_SteamAwardContainer_jBtX5 {
  max-width: 713px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
}
.steam_awards_vote_section .nominationandvote_SteamAwardContainer_jBtX5 {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
}
.steam_awards_vote_section
  .nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardHeader_2TvWH
  .nominationandvote_SteamAwardHeaderImage_3dsTJ {
  height: 180px;
}
.steam_awards_vote_section
  .nominationandvote_SteamAwardContainer_jBtX5
  .nominationandvote_SteamAwardHeader_2TvWH
  .nominationandvote_SteamAwardMainTitle_6gN_u {
  font-size: 28px;
  line-height: 28px;
}
.steam_awards_vote_section .nominationandvote_AwardCategoriesCtn_GCwk0 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 95%;
}
.steam_awards_vote_section
  .nominationandvote_AwardCategoriesCtn_GCwk0
  .nominationandvote_SteamAwardVoteWidget_2-t3v {
  flex-grow: 1;
}
.steam_awards_vote_section
  .nominationandvote_AwardCategoriesCtn_GCwk0
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardVoteButtonArea_2gvv6 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0px;
}
.steam_awards_vote_section
  .nominationandvote_AwardCategoriesCtn_GCwk0
  .nominationandvote_SteamAwardVoteWidget_2-t3v
  .nominationandvote_SteamAwardVoteButtonArea_2gvv6
  .nominationandvote_SteamAwardCategoryTitle_3hZED {
  padding-left: 8px;
}
:root {
  --basicui-header-height: 0px;
}
body.v6.partner_events {
  background: #24282e;
}
.partnereventdisplay_EventDetailsPageContainer_3PgWN {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #24282e;
}
@media screen and (min-width: 940px) {
  .partnereventdisplay_EventDetailsPageContainer_3PgWN .AppPartnerEventsBanner {
    display: none;
  }
}
.partnereventdisplay_EventBackgroundBlurCtn_2CdA5 {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.partnereventdisplay_EventBackgroundBlur_eti5E {
  background-repeat: no-repeat;
  width: 100%;
  height: 68%;
  opacity: 0.2;
  position: absolute;
  filter: blur(32px) saturate(0.9);
}
.LowPerfMode .partnereventdisplay_EventBackgroundBlur_eti5E {
  display: none;
}
.partnereventdisplay_EventBackgroundBlur_eti5E.GamepadMode,
.GamepadMode .partnereventdisplay_EventBackgroundBlur_eti5E {
  filter: unset;
}
.partnereventdisplay_DetailArtworkAgeAppropriate_1Oz9X {
  position: relative;
}
.partnereventdisplay_DetailArtworkAgeNotAppropriate_3hUSm
  .partnereventdisplay_EventCoverImageBlr_d3mE9 {
  filter: blur(30px) saturate(0.9);
}
.partnereventdisplay_DetailArtworkAgeNotAppropriate_3hUSm
  .partnereventdisplay_EventBackgroundBlur_eti5E {
  background: #1f2126;
  background-image: none !important;
  opacity: 1;
}
.partnereventdisplay_EventBodyCtn_elmDq {
  position: relative;
  padding-bottom: 8vw;
}
.partnereventdisplay_EventBodyPosition_14R9N {
  max-width: 1065px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px auto;
  position: relative;
}
@media screen and (max-width: 500px) {
  .partnereventdisplay_EventBodyPosition_14R9N {
    padding-left: 0px;
    padding-right: 0px;
  }
  .partnereventdisplay_EventBodyPosition_14R9N .OtherEventsCtn {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.partnereventdisplay_EventBody_mnHzq {
  margin-top: -6vw;
  width: 100%;
  min-height: 600px;
  background-color: #25282e;
  background-image: radial-gradient(ellipse at top left, #42454c, #25282e);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1920px) {
  .partnereventdisplay_EventBody_mnHzq {
    margin-top: -113px;
  }
}
.partnereventdisplay_EventBody_mnHzq
  .partnereventdisplay_EventBackgroundBlur_eti5E {
  position: absolute;
  z-index: 0;
  filter: blur(32px) saturate(0.9);
  opacity: 0.2;
  left: 0;
}
.partnereventdisplay_EventBroadcastCtn_2S6h- {
  z-index: 3;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 940px;
}
.partnereventdisplay_EventColumns_2exTf {
  display: flex;
  position: relative;
  z-index: 2;
}
.partnereventdisplay_EventCoverImageCtn_2vmBm {
  overflow: hidden;
  height: 26vw;
  max-height: 510px;
  width: 100%;
  position: relative;
}
.partnereventdisplay_NoTitleArtwork_jE6OX
  .partnereventdisplay_EventCoverImageCtn_2vmBm {
  height: 16vw;
}
.partnereventdisplay_ScreenshotInsteadOfCover_13ojN
  .partnereventdisplay_EventCoverImageCtn_2vmBm {
  height: 20vw;
}
.partnereventdisplay_EventCoverImage_2JgmJ,
.partnereventdisplay_EventCoverImageBackground_3KoBG {
  background-size: cover;
  background-repeat: no-repeat;
  height: 32vw;
  max-height: 622px;
  width: 100%;
  top: -22%;
  max-width: 1920px;
  position: absolute;
}
.partnereventdisplay_InLibraryView_3X6U9
  .partnereventdisplay_EventCoverImage_2JgmJ,
.partnereventdisplay_InLibraryView_3X6U9
  .partnereventdisplay_EventCoverImageBackground_3KoBG {
  display: block;
  min-width: unset;
  top: -51px;
  background-size: cover;
  background-position-x: center;
  background-position-y: -47px;
  background-repeat: no-repeat;
  height: 219px;
  margin-bottom: -51px;
  width: 100%;
  opacity: 1;
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-mask-image: unset;
  mask-image: unset;
}
@media screen and (max-width: 940px) {
  .partnereventdisplay_InLibraryView_3X6U9
    .partnereventdisplay_EventCoverImage_2JgmJ,
  .partnereventdisplay_InLibraryView_3X6U9
    .partnereventdisplay_EventCoverImageBackground_3KoBG {
    height: 25vw;
    top: -5vw;
    margin-bottom: -5vw;
  }
}
.partnereventdisplay_InEditor_30FDo .partnereventdisplay_EventCoverImage_2JgmJ,
.partnereventdisplay_InEditor_30FDo
  .partnereventdisplay_EventCoverImageBackground_3KoBG {
  height: 129px;
  position: relative;
  top: -28px;
  margin-bottom: -28px;
}
.partnereventdisplay_EventCoverImageBackground_3KoBG {
  background-color: #25292e;
  object-fit: cover;
  object-position: center top;
}
.partnereventdisplay_EventCoverImageFuzz_2FT4u {
  position: absolute;
  filter: blur(30px);
  height: 32vw;
  width: 100%;
}
.partnereventdisplay_InLibraryView_3X6U9
  .partnereventdisplay_EventCoverImageFuzz_2FT4u {
  display: none;
}
.partnereventdisplay_InLibraryView_3X6U9
  .partnereventdisplay_EventCoverImage_2JgmJ.partnereventdisplay_NoTitleArtwork_jE6OX {
  height: 100%;
  opacity: 0.4;
  position: absolute;
  filter: blur(12px);
}
.partnereventdisplay_LibraryEventTitleContainer_2gdgU {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
html.tablet .partnereventdisplay_LibraryEventTitleContainer_2gdgU {
  backdrop-filter: blur(32px);
}
@media screen and (max-width: 910px) {
  .partnereventdisplay_LibraryEventTitleContainer_2gdgU {
    backdrop-filter: blur(32px);
  }
}
.partnereventdisplay_EventCoverImageBlr_d3mE9 {
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 32vw;
  object-fit: cover;
  object-position: center top;
}
@media screen and (min-width: 1920px) {
  .partnereventdisplay_EventCoverImageBlr_d3mE9 {
    height: 614px;
  }
}
.partnereventdisplay_CoverImageGradient_3izb2 {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.partnereventdisplay_EventDetailTitleImg_2mX1j {
  width: 100%;
}
.partnereventdisplay_EventDetailTitleDesc_AxPxb {
  text-align: left;
  width: 280px;
  padding: 3px 24px 24px 0px;
  align-items: flex-start;
}
@media screen and (max-width: 940px) {
  body .partnereventdisplay_EventColumns_2exTf {
    flex-direction: column;
  }
  body .partnereventdisplay_EventDetailTitleDesc_AxPxb {
    order: 1;
    width: calc(100% - 50px);
    margin: 0px 1px;
    padding-left: 24px;
    background: rgba(0, 0, 0, 0.2);
  }
  body
    .partnereventdisplay_EventDetailTitleDesc_AxPxb
    .partnereventdisplay_EventDetailsSticky_2-KJD {
    display: flex;
    flex-direction: column;
  }
  body
    .partnereventdisplay_EventDetailTitleDesc_AxPxb
    .partnereventdisplay_EventDetailUserType_3xnQd {
    display: none;
  }
  body
    .partnereventdisplay_EventDetailTitleDesc_AxPxb
    .partnereventdisplay_EventDetailGameCallToAction_JkS80 {
    display: none;
  }
  body
    .partnereventdisplay_EventDetailTitleDesc_AxPxb
    .partnereventdisplay_EventDetailTimeInfo_3Z41s {
    margin-bottom: 0px;
  }
  body .partnereventdisplay_EventDetailsDescription_Y1sHn {
    width: 100%;
    order: 2;
  }
  body
    .partnereventdisplay_EventDetailsDescription_Y1sHn
    .partnereventdisplay_EventDetailsBody_3v0cw {
    border-right: none;
    padding-right: 0px;
  }
}
.partnereventdisplay_EventDetailsSticky_2-KJD {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}
.partnereventdisplay_EventDetailsGame_2iGXx {
  font-size: 18px;
  color: #eaeaeb;
  width: 280px;
  height: 130px;
  background-color: #000;
  background-size: cover;
  margin-bottom: 0px;
}
.partnereventdisplay_EventDetailsAvatar_3PfOP {
  height: 184px;
  width: 184px;
  margin-bottom: 20px;
}
.partnereventdisplay_GameActions_1sOkh {
  display: flex;
  flex-direction: row;
  max-height: 38px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: 24px;
}
.partnereventdisplay_GameActions_1sOkh .partnereventdisplay_ActionButton_1HIrM {
  flex: 1;
  margin-top: 0;
}
.partnereventdisplay_GameActions_1sOkh .partnereventdisplay_Ownership_2nzI3 {
  width: 50%;
  padding: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: center;
}
.partnereventdisplay_EventDetailsType_2PV9A {
  color: #adaeb2;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.partnereventdisplay_EventDetailsDescription_Y1sHn {
  padding: 24px;
  box-sizing: border-box;
  flex-grow: 1;
}
.partnereventdisplay_EventDetailTitle_2_4FS {
  font-size: 33px;
  line-height: 36px;
  font-weight: 200;
  color: #eaeaeb;
}
.partnereventdisplay_InLibraryView_3X6U9
  .partnereventdisplay_EventDetailTitle_2_4FS {
  font-size: 24px;
  margin-top: 12px;
}
.partnereventdisplay_InLibraryView_3X6U9
  .partnereventdisplay_EventDetailTitle_2_4FS:hover {
  cursor: pointer;
  color: #fff;
}
html.tablet .partnereventdisplay_EventDetailTitle_2_4FS {
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 8px;
}
@media screen and (max-width: 910px) {
  .partnereventdisplay_EventDetailTitle_2_4FS {
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 8px;
  }
}
.partnereventdisplay_InLibraryView_3X6U9.partnereventdisplay_InEditor_30FDo
  .partnereventdisplay_EventDetailTitle_2_4FS {
  font-size: 14px;
}
.partnereventdisplay_InLibraryView_3X6U9.partnereventdisplay_InEditor_30FDo
  .partnereventdisplay_EventDetailTimeInfo_3Z41s,
.partnereventdisplay_InLibraryView_3X6U9.partnereventdisplay_InEditor_30FDo
  .partnereventdisplay_EventDetailTimeInfo_3Z41s
  > div
  > div,
.partnereventdisplay_InLibraryView_3X6U9.partnereventdisplay_InEditor_30FDo
  .partnereventdisplay_EventDetailTitleContainer_35gM9
  > div,
.partnereventdisplay_InLibraryView_3X6U9.partnereventdisplay_InEditor_30FDo
  .partnereventdisplay_EventDetailTitleContainer_35gM9
  > div
  > span {
  font-size: 7px;
}
.partnereventdisplay_InLibraryView_3X6U9.partnereventdisplay_InEditor_30FDo
  .partnereventdisplay_EventDetailsSubTitle_6k4NE {
  font-size: 10px;
}
.partnereventdisplay_InLibraryView_3X6U9.partnereventdisplay_InEditor_30FDo
  .partnereventdisplay_EventDetailsBody_3v0cw {
  font-size: 7.9px;
  line-height: 11px;
}
.partnereventdisplay_InLibraryView_3X6U9.partnereventdisplay_InEditor_30FDo
  .AppSummaryWidgetCtn {
  width: 900px;
  transform: scale(0.48);
  transform-origin: top left;
}
.partnereventdisplay_EventDetailsSubTitle_6k4NE {
  font-size: 22px;
  line-height: 25px;
  color: #adaeb2;
}
.partnereventdisplay_EventDetailsBody_3v0cw {
  padding-right: 24px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 19px;
  min-height: 600px;
  color: #cfd2d3;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 688px;
}
.partnereventdisplay_LibraryEventBodyContainer_2ZgLv
  .partnereventdisplay_EventDetailsBody_3v0cw {
  border-right: unset;
  position: relative;
  padding-right: unset;
  user-select: text;
  max-width: unset;
}
.partnereventdisplay_EventDetailsBody_3v0cw img {
  max-width: 100%;
}
.partnereventdisplay_EventDetailsBody_3v0cw a:not(.LinkButton) {
  color: #80bcd2;
  text-decoration: none;
  padding-bottom: 0px;
}
.partnereventdisplay_EventDetailsBody_3v0cw a:hover {
  color: #fff;
  text-decoration: none;
}
.partnereventdisplay_EventDetailsPageContainer_3PgWN.partnereventdisplay_lang_zh-cn_299Pk
  .partnereventdisplay_EventDetailsBody_3v0cw
  b,
.partnereventdisplay_EventDetailsPageContainer_3PgWN.partnereventdisplay_lang_ko_3h28O
  .partnereventdisplay_EventDetailsBody_3v0cw
  b,
.partnereventdisplay_EventDetailsPageContainer_3PgWN.partnereventdisplay_lang_ja_2WrMm
  .partnereventdisplay_EventDetailsBody_3v0cw
  b,
.partnereventdisplay_EventDetailsPageContainer_3PgWN.partnereventdisplay_lang_zh-tw_3BdFR
  .partnereventdisplay_EventDetailsBody_3v0cw
  b {
  color: #c7e5ff;
}
.partnereventdisplay_AppSocialLinksCtn_VDEod {
  margin-top: 42px;
}
.partnereventdisplay_AppSocialLinks_1VT5_ {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 12px;
}
.partnereventdisplay_AppSocialLink_Lda0T {
  margin-right: 20px;
  width: 32px;
  height: auto;
  opacity: 0.6;
}
.partnereventdisplay_AppSocialLink_Lda0T:hover {
  opacity: 1;
}
.partnereventdisplay_LibraryEventBodyContainer_2ZgLv {
  padding: 24px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  min-height: 300px;
}
.partnereventdisplay_LibraryEventBodyContainer_2ZgLv.GamepadMode,
.GamepadMode .partnereventdisplay_LibraryEventBodyContainer_2ZgLv {
  backdrop-filter: blur(32px);
}
.partnereventdisplay_LibraryEventBodyContainer_2ZgLv
  .partnereventdisplay_EventBackgroundBlur_eti5E {
  position: absolute;
  opacity: 0.2;
}
.partnereventdisplay_EventDetailTitleContainer_35gM9 {
  padding: 24px;
  position: relative;
  z-index: 2;
}
.partnereventdisplay_InLibraryView_3X6U9
  .partnereventdisplay_EventDetailTitleContainer_35gM9 {
  padding: 16px 24px 12px 24px;
  background: radial-gradient(
    ellipse at bottom center,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0) 80%
  );
}
.partnereventdisplay_EventDetailTimeInfo_3Z41s {
  margin-bottom: 24px;
}
.partnereventdisplay_EventDetailTimeInfo_3Z41s
  .partnereventdisplay_StartDate_2v1tk,
.partnereventdisplay_EventDetailTimeInfo_3Z41s
  .partnereventdisplay_EndDate__nCWF {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 940px) {
  .partnereventdisplay_EventDetailTimeInfo_3Z41s {
    display: flex;
    flex-direction: row;
  }
  .partnereventdisplay_EventDetailTimeInfo_3Z41s
    .partnereventdisplay_StartDate_2v1tk,
  .partnereventdisplay_EventDetailTimeInfo_3Z41s
    .partnereventdisplay_EndDate__nCWF {
    display: flex;
    flex-direction: row;
  }
  .partnereventdisplay_EventDetailTimeInfo_3Z41s
    .partnereventdisplay_MultiDateAndTime_jsynt {
    display: flex;
    flex-direction: row;
  }
  .partnereventdisplay_EventDetailTimeInfo_3Z41s
    .partnereventdisplay_MultiDateAndTime_jsynt
    .partnereventdisplay_RightSideTitles_2PqSq,
  .partnereventdisplay_EventDetailTimeInfo_3Z41s
    .partnereventdisplay_MultiDateAndTime_jsynt
    .partnereventdisplay_DisplayAdminPanel_Title_3mA-- {
    font-size: 12px;
    margin-right: 4px;
  }
  .partnereventdisplay_EventDetailTimeInfo_3Z41s
    .partnereventdisplay_MultiDateAndTime_jsynt
    .partnereventdisplay_DateAndTime_2X9VM {
    margin-right: 10px;
  }
}
@media screen and (max-width: 700px) {
  .partnereventdisplay_EventDetailTimeInfo_3Z41s
    .partnereventdisplay_MultiDateAndTime_jsynt {
    display: flex;
    flex-direction: column;
  }
}
.partnereventdisplay_InLibraryView_3X6U9
  .partnereventdisplay_EventDetailTimeInfo_3Z41s {
  font-size: 12px;
  margin-bottom: 0;
  color: #868f98;
}
.partnereventdisplay_InLibraryView_3X6U9
  .partnereventdisplay_EventDetailTimeInfo_3Z41s
  div {
  display: flex;
}
.partnereventdisplay_RightSideTitles_2PqSq,
.partnereventdisplay_DisplayAdminPanel_Title_3mA-- {
  font-size: 11px;
  font-weight: 200;
  color: #b1b4b9;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4px;
}
.partnereventdisplay_InLibraryView_3X6U9
  .partnereventdisplay_RightSideTitles_2PqSq,
.partnereventdisplay_InLibraryView_3X6U9
  .partnereventdisplay_DisplayAdminPanel_Title_3mA-- {
  display: none;
}
.partnereventdisplay_EventDetailTimeInfo_3Z41s
  .partnereventdisplay_DateAndTime_2X9VM {
  display: flex;
  flex-direction: row;
  color: #dadadb;
  margin-bottom: 20px;
}
.partnereventdisplay_EventDetailTimeInfo_3Z41s
  .partnereventdisplay_DateAndTime_2X9VM
  > span {
  color: #6a737c;
  padding: 0px 4px;
}
.partnereventdisplay_NoDateAndTime_2hmi0,
.partnereventdisplay_DateAndTime_2X9VM {
  margin-bottom: 8px;
}
.partnereventdisplay_NoDateAndTime_2hmi0 {
  font-style: italic;
}
.partnereventdisplay_AppSummaryCtn_1kEXu {
  width: 100%;
  border-top: 1px dotted #6d6e70;
  background: linear-gradient(#1b1d21, rgba(27, 29, 33, 0));
  padding-top: 36px;
  padding-bottom: 42px;
}
.partnereventdisplay_AppSummaryCtn_1kEXu
  .partnereventdisplay_EventBodyPosition_14R9N {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 940px) {
  .partnereventdisplay_AppSummaryCtn_1kEXu
    .partnereventdisplay_EventBodyPosition_14R9N {
    display: block;
  }
}
.partnereventdisplay_AppSummaryWidgetTitleCtn_19R8i {
  flex-grow: 2;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
}
.partnereventdisplay_AppSummaryWidgetTitleCtn_19R8i
  .partnereventdisplay_Title_2Xjut {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4px;
  font-size: 13px;
}
@media screen and (max-width: 500px) {
  .partnereventdisplay_AppSummaryWidgetTitleCtn_19R8i
    .partnereventdisplay_Title_2Xjut {
    margin-left: 16px;
  }
}
.partnereventdisplay_AppSummaryWidgetCtn_2cY3h {
  flex-grow: 2;
  flex-basis: 0;
  margin-right: 16px;
  padding: 16px;
  background-image: radial-gradient(ellipse at top left, #42454c, #25282e);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
@media screen and (max-width: 940px) {
  .partnereventdisplay_AppSummaryWidgetCtn_2cY3h {
    width: 100%;
    box-sizing: border-box;
    margin-right: 0;
  }
}
.partnereventdisplay_DisplayAdminPanel_2tK-z {
  position: relative;
  z-index: 2;
  padding-top: 50px;
}
.partnereventdisplay_DisplayAdminPanel_ctn_3_RH8 {
  padding: 16px;
  border-radius: 5px;
  background: #707061;
  display: flex;
  flex-wrap: wrap;
}
.partnereventdisplay_DisplayAdminPanel_Title_3mA-- {
  color: #ff0;
  padding-right: 20px;
}
.partnereventdisplay_DisplayAdminPanel_Spacer_d3tBR {
  padding-right: 10px;
}
.partnereventdisplay_AdminButton_307ys {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.partnereventdisplay_EditorStatsCtn_jWmiq {
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(30, 33, 38, 0.5);
}
.partnereventdisplay_EditorStatsCtn_jWmiq
  .partnereventdisplay_VisibilityNote_EP4DQ {
  color: orange;
}
.partnereventdisplay_EditorStatsRow_BN0_B {
  display: flex;
  justify-content: space-between;
}
.partnereventdisplay_SteamBlog_3JpZt {
  visibility: hidden;
}
.partnereventdisplay_LunarNewYearHeader_3hCjp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU {
  position: relative;
  width: 95%;
  max-width: 1300px;
  display: flex;
  padding: 10px 0px;
  transition-duration: 0.23s;
  transition-timing-function: ease-in-out;
  background-color: none;
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_TokenBalanceContainer__bxB9 {
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_TokenBalanceContainer__bxB9
  .partnereventdisplay_TokenBalance_1PrEM {
  margin-left: 12px;
  text-align: center;
  background-color: #dd3e3e;
  padding: 5px 20px;
  border-radius: 3px;
  display: block;
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM {
  position: relative;
  margin: 45px 8px 0 8px;
  margin-top: 45px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM
  .partnereventdisplay_BackingRect_2GYms {
  background-color: none;
  margin-top: 100px;
  height: 60px;
  width: 100%;
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM
  .partnereventdisplay_Envelope_1KZOM {
  position: absolute;
  z-index: 1;
  top: 30px;
  padding-top: 12px;
  height: 400px;
  left: 8%;
  right: 8%;
  transition: transform 0.15s;
  background-image: url("https://cdn.cloudflare.steamstatic.com/store/promo/lunar2020/redenvelope.png?v=2");
  background-size: 100%;
  background-position-y: 0px;
  background-repeat: no-repeat;
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM
  .partnereventdisplay_Envelope_1KZOM
  .partnereventdisplay_GiftLabel_3_7is {
  font-size: 18px;
  color: #ffb321;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM
  .partnereventdisplay_OpenState_1MB4P {
  z-index: 2;
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 20px;
  border-radius: 3px;
  background: #dd3e3e;
  color: #eeeeeeaa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM
  .partnereventdisplay_OpenState_1MB4P:hover {
  cursor: pointer;
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM.partnereventdisplay_Opened_2J2Iy
  .partnereventdisplay_Envelope_1KZOM {
  background-image: url("https://cdn.cloudflare.steamstatic.com/store/promo/lunar2020/redenvelopeback.png");
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM.partnereventdisplay_Opened_2J2Iy
  .partnereventdisplay_Envelope_1KZOM
  .partnereventdisplay_GiftLabel_3_7is {
  display: none;
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM.partnereventdisplay_Opened_2J2Iy
  .partnereventdisplay_OpenState_1MB4P {
  background: rgba(221, 62, 62, 0.5);
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM.partnereventdisplay_Opened_2J2Iy
  .partnereventdisplay_OpenState_1MB4P:hover {
  filter: brightness(120%);
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM.partnereventdisplay_Locked_2k7p5
  .partnereventdisplay_Envelope_1KZOM {
  filter: brightness(0.6);
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM.partnereventdisplay_Locked_2k7p5
  .partnereventdisplay_OpenState_1MB4P {
  filter: brightness(0.6);
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM.partnereventdisplay_Unlocked_1lSjY:hover
  .partnereventdisplay_Envelope_1KZOM {
  transform: rotateZ(6deg) scale(1.2);
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM.partnereventdisplay_Unlocked_1lSjY
  .partnereventdisplay_OpenState_1MB4P,
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM.partnereventdisplay_NeedLogin_2MzBw
  .partnereventdisplay_OpenState_1MB4P {
  color: #eee;
  filter: none;
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM.partnereventdisplay_Unlocked_1lSjY
  .partnereventdisplay_OpenState_1MB4P:hover,
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_EnvelopeArea_1o2eU
  .partnereventdisplay_EnvelopeContainer_2tzMM.partnereventdisplay_NeedLogin_2MzBw
  .partnereventdisplay_OpenState_1MB4P:hover {
  filter: brightness(120%);
}
.partnereventdisplay_LunarNewYearHeader_3hCjp
  .partnereventdisplay_BottomMessage_3Bupu {
  z-index: 3;
  height: 32px;
  padding-top: 18px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #ffb321;
  pointer-events: none;
  text-shadow: 4px 4px 18px rgba(0, 0, 0, 0.5);
  background: radial-gradient(
    50% 100% at 50% 100%,
    #000000 0%,
    rgba(0, 0, 0, 0) 50%
  );
}
.partnereventdisplay_VO_2yIQ8.partnereventdisplay_VO_2yIQ8.partnereventdisplay_VO_2yIQ8.partnereventdisplay_VO_2yIQ8.partnereventdisplay_VO_2yIQ8.partnereventdisplay_VO_2yIQ8 {
  background-color: darkred;
  margin: 4px;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p {
  padding: 0px;
  background-color: #000;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_Container_GU0r1 {
  padding: 24px 40px 12px;
  display: flex;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_Container_GU0r1
  .partnereventdisplay_Column_2PfQR {
  display: flex;
  flex-direction: column;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_VideoBox_3g8bV {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 250px;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_VideoBox_3g8bV
  .partnereventdisplay_CoinText_3tOxn {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
  top: 180px;
  left: 0;
  width: 50%;
  padding: 4px;
  border: 2px solid #ffb321;
  font-size: 14px;
  font-weight: bold;
  color: #ffb321;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 1s ease-in-out 2s;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_VideoBox_3g8bV
  .partnereventdisplay_CoinText_3tOxn.partnereventdisplay_Visible_2dVnV {
  opacity: 1;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_VideoBox_3g8bV
  .partnereventdisplay_LunarNewYearOpenEnvelopeVideo_2C0eO {
  position: absolute;
  left: -260px;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_StoryHeader_17xU_ {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #f85757;
  padding-bottom: 4px;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_StorySubHeader_lnGG0 {
  font-weight: bold;
  font-size: 12px;
  color: #f85757;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_StoryText_2j7gt {
  padding: 24px 0px;
  white-space: pre-wrap;
  font-size: 12px;
  line-height: 19px;
  color: #ccc;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_StoryPicture_G_Tvq {
  flex: 1;
  min-width: 200px;
  background-color: darkred;
  margin-left: 24px;
  flex-grow: 0;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_StoryPicture_G_Tvq
  img {
  display: block;
}
@media screen and (max-width: 620px) {
  .DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
    .partnereventdisplay_StoryPicture_G_Tvq {
    display: none;
  }
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_CheckBackText_1W1JL {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #f85757;
  padding: 4px 0px 24px 24px;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_DancingRat_3bNpM {
  width: 150px;
  align-self: center;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_Links_361ou {
  margin-left: auto;
  padding: 12px 36px 24px;
  display: flex;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_Links_361ou
  .partnereventdisplay_MarketLink_3fjva {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 4px;
  padding: 5px 20px;
  border-radius: 3px;
  background: #dd3e3e;
  color: #eee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  white-space: nowrap;
}
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_Links_361ou
  .partnereventdisplay_MarketLink_3fjva:hover,
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_Links_361ou
  .partnereventdisplay_MarketLinkhover_21osb
  a,
.DialogContent.partnereventdisplay_LunarNewYearOpenEnvelopeVideoDialog_qi-8p
  .partnereventdisplay_Links_361ou
  .partnereventdisplay_MarketLink_3fjva
  a:hover {
  filter: brightness(120%);
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .partnereventdisplay_LunarNewYearHeader_3hCjp
    .partnereventdisplay_EnvelopeArea_1o2eU {
    width: 100%;
  }
}
.partnereventdisplay_ReadMoreCnt_d_R9N {
  padding-top: 20px;
}
.partnereventdisplay_ReadMoreCnt_d_R9N .LinkButton {
  background-color: #2681da;
  font-size: 16px;
  color: #fff;
}
.partnereventdisplay_VerticalLocalDateAndTime_1QFMN {
  display: flex;
  flex-direction: column;
}
