@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap);
.suggestdialog_mentionDialogPosition_1bkUR {
  position: absolute;
  left: 0;
  right: 0;
}
.suggestdialog_mentionDialogPosition_1bkUR.GamepadMode,
.GamepadMode .suggestdialog_mentionDialogPosition_1bkUR {
  bottom: 40px;
  z-index: 10;
}
.suggestdialog_mentionDialog_3cYwT {
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  background: #2c3036;
  padding: 12px 0px 12px 12px;
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.6705882353);
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.suggestdialog_mentionDialog_3cYwT.GamepadMode,
.GamepadMode .suggestdialog_mentionDialog_3cYwT {
  padding: 4px 0px 2px 4px;
}
.suggestdialog_mentionDialog_3cYwT:focus {
  outline: none;
}
.suggestdialog_mentionSearchText_3YEqW {
  color: #818181;
  margin-bottom: 10px;
  font-size: 12px;
}
.suggestdialog_suggestOption_2vKza {
  color: #adaeaf;
  transition-property: padding-left, color;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
  line-height: 26px;
  cursor: pointer;
  margin-top: 0px;
  padding-left: 22px;
  margin-right: 12px;
  overflow: hidden;
}
.suggestdialog_suggestOption_2vKza.GamepadMode,
.GamepadMode .suggestdialog_suggestOption_2vKza {
  margin-bottom: 4px;
  font-size: 10px;
  line-height: 12px;
  padding-left: 20px;
  overflow: visible;
}
.suggestdialog_suggestOption_2vKza.GamepadMode.suggestdialog_mentionSearchOption_3KZn9.suggestdialog_manyMatches_3Y9oJ,
.GamepadMode
  .suggestdialog_suggestOption_2vKza.suggestdialog_mentionSearchOption_3KZn9.suggestdialog_manyMatches_3Y9oJ {
  font-size: 10px;
  line-height: 12px;
}
.suggestdialog_suggestOption_2vKza.GamepadMode.suggestdialog_selected_vuyQs,
.GamepadMode .suggestdialog_suggestOption_2vKza.suggestdialog_selected_vuyQs {
  padding-left: 24px;
}
.suggestdialog_suggestOption_2vKza .suggestdialog_nickname_35J9N {
  color: #6e6e6e;
}
.suggestdialog_suggestOption_2vKza.suggestdialog_selected_vuyQs {
  color: #dfe3e6;
  background-color: #434953;
  padding-left: 30px;
}
span.suggestdialog_mentionSearchMatch_mBrO4 {
  color: #dfe3e6;
}
.emoticonsuggestion_Emoticon_Toggle_3XueY {
  margin-right: 8px;
  border-radius: 3px;
  cursor: pointer;
  padding: 4px 6px;
}
.emoticonsuggestion_Emoticon_Toggle_3XueY.emoticonsuggestion_Active_2JoNK {
  background: #777;
}
.emoticonsuggestion_Emoticon_3dAJw {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  padding: 0 4px;
}
.bbcodesuggestions_BBCode_Toggle_1MrSR {
  margin-right: 8px;
  border-radius: 3px;
  cursor: pointer;
  padding: 4px 6px;
}
.bbcodesuggestions_BBCode_Toggle_1MrSR.bbcodesuggestions_Active_3tFqQ {
  background: #777;
}
.bbcodesuggestions_BBCode_2DSQu {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  padding: 0 4px;
}
.reorderablelist_WhitelistNumber_1ZU2Q {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #2a2e34;
  margin-right: 8px;
}
.reorderablelist_WhitelistCtn_7i0GR {
  margin-bottom: 8px;
  margin-top: 8px;
}
.reorderablelist_WhitelistRow_3m2mx {
  display: flex;
  align-items: center;
  background-color: #333740;
  padding: 4px;
  margin-bottom: 2px;
  user-select: none;
  box-sizing: border-box;
}
.reorderablelist_Grabbable_1_TyG {
  cursor: grab;
}
.reorderablelist_Grabbing_2Ir2N {
  cursor: grabbing;
}
.reorderablelist_DisabledGrab_2VzwU {
  cursor: not-allowed;
}
.reorderablelist_WhitelistAvatar_29uaB {
  margin-right: 8px;
}
.reorderablelist_ButtonCtn_27xG1 {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
:root {
  --main-text-color: #dbe2e6;
  --main-light-blue-background: #93b3c8;
  --main-text-on-light-blue: rgb(209, 209, 209);
  --main-top-image-bg: #1f2126;
  --main-editor-bg-color: #363a43;
  --main-editor-text-color: #e6e7e8;
  --main-editor-input-bg-color: #30333b;
  --main-editor-section-title-color: #a3a3a3;
}
.bbcodeeditor_DragTarget_2Mg-b {
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.4);
}
.bbcodeeditor_DragOnTopOfMe_3-WTT {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.bbcodeeditor_DescriptionCtn_3uiaP {
  border: 2px solid rgba(0, 0, 0, 0);
  margin: -2px;
}
.bbcodeeditor_DescriptionCtn_3uiaP.bbcodeeditor_DragTarget_2Mg-b {
  border: 2px dashed #06beff;
}
.bbcodeeditor_EventEditorLinkInput_2tulF {
  position: relative;
  width: 600px;
  margin-right: 14px;
  margin-top: 20px;
}
.bbcodeeditor_EventEditorLinkInput_2tulF input {
  width: calc(100% - 20px);
  color: #dfe3e6;
  background: rgba(59, 63, 72, 0.5);
  border: none;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  border-radius: 3px;
}
.bbcodeeditor_EventEditorLinkInput_2tulF input:focus {
  background: rgba(67, 73, 83, 0.6);
  box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.6666666667);
  padding-left: 11px;
  outline: none;
}
.bbcodeeditor_DefaultEditor_36qAa {
  border: none;
  outline-width: 0;
  padding: 10px;
  background-color: var(--main-editor-input-bg-color);
  box-shadow: 0 0 5px #000 inset;
  color: var(--main-editor-text-color);
  font-size: 14px;
  overflow-x: hidden;
}
.bbcodeeditor_ImportHTMLCtn_3uM5Y {
  position: relative;
  margin-right: 14px;
  min-width: calc(40vw - 40px);
}
.bbcodeeditor_ImportHTMLCtn_3uM5Y .bbcodeeditor_ImportHTMLTextArea_2NOGR {
  width: calc(100% - 12px);
  height: 200px;
  margin: 4px 0px;
  background-color: #1e2025;
  border: solid 1px #000;
  outline-width: 0;
  box-shadow: 1px 1px rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  color: gray;
}
.bbcodeeditor_ImportHTMLCtn_3uM5Y .bbcodeeditor_ImportHTMLConvertButtons_1nQUA {
  padding: 5px;
  margin-left: 5px;
  display: inline-block;
  width: 30%;
  line-height: 22px;
}
.bbcodeeditor_ImportHTMLCtn_3uM5Y .bbcodeeditor_ImportHTMLCheckBoxLine_20sWo {
  padding-top: 5px;
  padding-bottom: 5px;
}
.bbcodeeditor_ImportHTMLCtn_3uM5Y .bbcodeeditor_OptionRow_14XQ_ {
  display: flex;
  flex-direction: column;
}
.bbcodeeditor_TextEditorToolBarContainer_2aKjH {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bbcodeeditor_TextEditorToolBarContainer_2aKjH > span,
.bbcodeeditor_TextEditorToolBarContainer_2aKjH
  > img.bbcodeeditor_EmoteOuter_1DZyi {
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  color: #afafaf;
  background-color: #3d4450;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-right: 2px;
  margin-bottom: 5px;
}
.bbcodeeditor_TextEditorToolBarContainer_2aKjH > span:hover,
.bbcodeeditor_TextEditorToolBarContainer_2aKjH
  > img.bbcodeeditor_EmoteOuter_1DZyi:hover {
  background-color: #4f5763;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}
.bbcodeeditor_TextEditorToolBarContainer_2aKjH > span img,
.bbcodeeditor_TextEditorToolBarContainer_2aKjH
  > img.bbcodeeditor_EmoteOuter_1DZyi {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.bbcodeeditor_YouTubeInput_20wVy {
  position: relative;
  width: 600px;
  margin-right: 14px;
}
.bbcodeeditor_YouTubeInput_20wVy input[type="text"] {
  width: calc(100% - 20px);
  color: #dfe3e6;
  background: rgba(59, 63, 72, 0.5);
  border: none;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  border-radius: 3px;
}
.bbcodeeditor_YouTubeInput_20wVy input[type="text"]:focus {
  background: rgba(67, 73, 83, 0.6);
  box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.6666666667);
  padding-left: 11px;
  outline: none;
}
.bbcodeeditor_YouTubePreviewInsertOption_2yhsl {
  padding: 2px;
  margin-bottom: 2px;
  background-color: rgba(57, 61, 71, 0.5);
  color: #e5e5e5;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bbcodeeditor_YouTubePreviewInsertOption_2yhsl input {
  margin-right: 5px;
}
.bbcodeeditor_YouTubePreviewInsertOption_2yhsl span {
  padding-left: 10px;
}
.bbcodeeditor_YouTubePreviewInsertOption_2yhsl label {
  cursor: pointer;
}
.bbcodeeditor_YouTubePreviewInsertOption_2yhsl label > span {
  vertical-align: super;
}
.bbcodeeditor_EmoteOuter_1DZyi {
  min-width: initial;
  color: unset;
  background-color: unset;
  border: unset;
  display: unset;
  cursor: hand;
}
.bbcodeeditor_DropDownScroll_3bxky {
  max-height: 400px;
  overflow: hidden scroll;
}
.bbcodeeditor_InsertSpeakerCtn_DC83j {
  margin-top: 16px;
}
.bbcodeeditor_InsertSpeakerCtn_DC83j .bbcodeeditor_TitleGroup_2VErp {
  display: flex;
  flex-direction: row;
}
.bbcodeeditor_InsertSpeakerCtn_DC83j .bbcodeeditor_TitleGroup_2VErp > div {
  flex-grow: 1;
}
.bbcodeeditor_InsertSpeakerCtn_DC83j
  .bbcodeeditor_TitleGroup_2VErp
  > div:not(:first-of-type) {
  margin-left: 10px;
}
.bbcodeeditor_InsertSpeakerCtn_DC83j .bbcodeeditor_AssociateRowCtn_2uHPn {
  display: flex;
  flex-direction: row;
}
.bbcodeeditor_InsertSpeakerCtn_DC83j
  .bbcodeeditor_AssociateRowCtn_2uHPn
  button:not(:first-of-type) {
  margin-left: 10px;
}
.bbcodeeditor_InsertSpeakerCtn_DC83j .bbcodeeditor_PhotoCtn_1B9kW {
  margin-top: 16px;
}
.bbcodeeditor_InsertSpeakerCtn_DC83j .bbcodeeditor_AboutCtn_3GgiF {
  margin-top: 16px;
}
.bbcodeeditor_InsertSpeakerCtn_DC83j .bbcodeeditor_PreviewCtn_3C8BW {
  margin-top: 16px;
}
.bbcodeeditor_BBCodeEditorInputStyles_1Fpu1 textarea {
  color: #cfcfcf;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
  border-radius: 3px;
}
.bbcodeeditor_BBCodeEditorInputStyles_1Fpu1 input {
  color: #cfcfcf;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
  border-radius: 3px;
  padding: 7px;
}
.cropmodal_CropImage_3Mto6 {
  position: relative;
  margin: 0px auto;
}
.cropmodal_CropPreviewGroup_1d4RW {
  margin: 10px auto;
}
.cropmodal_CropPreviewLabel_3gxY- {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.clanimagechooser_ImagesOuterContainer_seVYs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 732px;
  background: #000;
}
.clanimagechooser_ImagesOuterContainer_seVYs::-webkit-scrollbar-thumb {
  background: #3d4450;
}
.clanimagechooser_Hilight_1bs5j {
  font-weight: bold;
  color: green;
}
.clanimagechooser_ImageContainer_dkWWh {
  text-align: center;
  width: 180px;
  display: inline-block;
  position: relative;
  max-height: 168px;
  overflow: hidden;
  padding: 4px;
}
.clanimagechooser_Image_2M4oA {
  height: 100px;
  width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.clanimagechooser_ImageFilename_EazUb {
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
  font-size: 12px;
}
.clanimagepickandresize_Image_2W_Gz {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.eventbbcodesketchfab_sketchfab_play_overlay_image_3MwaE {
  position: absolute;
  left: 83px;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background-image: url("/public/shared/images/sharedfiles/sketchfab_play.png");
  background-size: 100%;
  background-position-y: 0px;
  background-repeat: no-repeat;
}
.eventbbcodesketchfab_sketchfabmodelembedded_2_Smm {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 20px;
}
.eventbbcodesketchfab_sketchfabmodelembedded_2_Smm iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.eventbbcodesketchfab_dynamiclink_box_2-x_d {
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  background: -webkit-linear-gradient(
    60deg,
    rgba(87, 92, 104, 0.3) 5%,
    rgba(255, 255, 255, 0.05) 95%
  );
  background: linear-gradient(
    60deg,
    rgba(87, 92, 104, 0.3) 5%,
    rgba(255, 255, 255, 0.05) 95%
  );
  border-radius: 6px;
  padding: 8px;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
  overflow: hidden;
}
.eventbbcodesketchfab_dynamiclink_preview_3d1cc {
  float: left;
  margin-right: 14px;
  max-height: 88px;
  max-width: 75%;
}
.eventbbcodesketchfab_dynamiclink_content_1HFFK {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 300;
  color: silver;
  text-shadow: 0 0 16px #000;
  font-size: 13px;
  line-height: normal;
  text-align: left;
  display: flow-root;
}
.eventbbcodesketchfab_dynamiclink_name_2NgPQ {
  font-size: 15px;
  color: #aad8ec;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 300;
  border-bottom: 1px dotted rgba(109, 207, 246, 0.6);
  padding-bottom: 0px;
  display: inline-block;
  margin-bottom: 6px;
}
.eventbbcodesketchfab_dynamiclink_type_t-mzc {
  color: #c6d4df;
}
.eventbbcodesketchfab_dynamiclink_author_e66Tt {
  height: 16px;
  font-size: 12px;
  color: #95a6b2;
  margin-bottom: 4px;
}
.loyaltyrewarditemembed_Ctn_2di0m {
  width: 100px;
}
.buttonBack___1mlaL,
.buttonFirst___2rhFr,
.buttonLast___2yuh0,
.buttonNext___2mOCa,
.buttonNext___3Lm3s,
.dot___3c3SI {
  cursor: pointer;
}
.image___xtQGH {
  display: block;
  width: 100%;
  height: 100%;
}
.spinner___27VUp {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  animation-name: spin___S3UuE;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border: 4px solid #a9a9a9;
  border-top-color: #000;
  border-radius: 30px;
}
@keyframes spin___S3UuE {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.container___2O72F {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.overlay___IV4qY {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  cursor: zoom-in;
  transition:
    opacity 0.3s,
    transform 0.3s;
}
.hover___MYy31,
.loading___1pvNI,
.zoom___3kqYk {
  opacity: 1;
}
.imageLoadingSpinnerContainer___3UIPD {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
}
.slide___3-Nqo {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 0;
  margin: 0;
  list-style-type: none;
}
.slide___3-Nqo:focus {
  outline: none !important;
}
.slideHorizontal___1NzNV {
  float: left;
}
[dir="rtl"] .slideHorizontal___1NzNV {
  direction: rtl;
  transform: scaleX(-1);
}
.slideInner___2mfX9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.focusRing___1airF {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  pointer-events: none;
  outline-width: 5px;
  outline-style: solid;
  outline-color: Highlight;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  .focusRing___1airF {
    outline-style: auto;
    outline-color: -webkit-focus-ring-color;
  }
}
.horizontalSlider___281Ls {
  position: relative;
  overflow: hidden;
  touch-action: pan-y pinch-zoom;
}
[dir="rtl"] .horizontalSlider___281Ls {
  direction: ltr;
  transform: scaleX(-1);
}
.horizontalSliderTray___1L-0W {
  overflow: hidden;
  width: 100%;
}
.verticalSlider___34ZFD {
  position: relative;
  overflow: hidden;
}
.verticalSliderTray___267D8 {
  overflow: hidden;
}
.verticalTray___12Key {
  float: left;
}
.verticalSlideTrayWrap___2nO7o {
  overflow: hidden;
}
.sliderTray___-vHFQ {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sliderAnimation___300FY {
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: transform;
}
.masterSpinnerContainer___1Z6hB {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
}
.eventdescriptionstorecapsule_AppSummaryWidgetCtn_2WIqq {
  flex-grow: 2;
  flex-basis: 0;
}
.carousel_carouselNavButton_1KK5N {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none !important;
  display: flex;
  cursor: pointer;
  padding: 0px;
}
.carousel_carouselNavButton_1KK5N:hover svg {
  opacity: 1;
}
.carousel_carouselNavButton_1KK5N:disabled svg {
  opacity: 0.1;
  filter: none;
}
.carousel_carouselNavButton_1KK5N.carousel_left_gLIfz {
  transform: rotateZ(180deg);
}
.carousel_carouselNavButton_1KK5N svg {
  opacity: 0.7;
  transition:
    opacity 0.2s ease-in-out,
    filter 0.2s ease-in-out;
  fill: #fff;
}
.carousel_carouselBtnCtn_aqswv {
  display: flex;
  z-index: 1;
  align-items: center;
  position: absolute;
  padding: 0px;
  width: 50px;
  top: 0px;
  bottom: 0px;
}
.carousel_carouselBtnCtn_aqswv.carousel_left_gLIfz {
  left: -68px;
}
.carousel_carouselBtnCtn_aqswv.carousel_right_1qWih {
  right: -68px;
}
.carousel_carouselBtnCtn_aqswv svg {
  width: 50px;
  height: 50px;
}
.BasicUI .carousel_carouselBtnCtn_aqswv {
  display: none;
}
.carousel_carouselBody_2M7XO {
  display: flex;
  flex-direction: column;
  position: relative;
}
.carousel_sliderBody_gtnxY {
  position: relative;
}
.SaleSectionCarousel .carousel__slider {
  padding: 10px 0px;
  margin: -10px -7px 0px -7px;
}
html.responsive.touch .SaleSectionCarousel .carousel__slider {
  margin: 0;
}
@media screen and (max-width: 910px) {
  html:not(.force_desktop) .SaleSectionCarousel .carousel__slider {
    margin: 0;
  }
}
.BasicUI .SaleSectionCarousel .carousel__slider {
  padding: unset;
}
.BasicUI .carousel_slideTrayCustomize_2rRBe {
  column-gap: 12px;
}
.carousel_breadcrumbContainer_1nhaj {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.carousel_pipList_3oTuB {
  display: flex;
  flex-flow: row;
}
.carousel_pipScrollerContainer_1C-B8 {
  display: flex;
  flex-direction: row;
  height: 35px;
  margin: 2px 10px 0px 10px;
}
.BasicUI .carousel_pipScrollerContainer_1C-B8 {
  display: none;
}
.contenthubmaincarousel .carousel_pipScrollerContainer_1C-B8 {
  max-width: 940px;
  width: 100%;
  margin: 0px auto;
}
.carousel_pipScrollerContainer_1C-B8 .carousel_pipScrollButton_vy7Kr {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.carousel_pipScrollerContainer_1C-B8
  .carousel_pipScrollButton_vy7Kr.carousel_left_gLIfz {
  padding-left: 0px;
  padding-right: 20px;
}
.carousel_pipScrollerContainer_1C-B8 .carousel_pipScrollButton_vy7Kr svg {
  height: 30px;
}
.carousel_pipScrollerContainer_1C-B8 .carousel_scrollNavDiv_13TQ_ {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
}
.carousel_pipScrollerContainer_1C-B8
  .carousel_scrollNavDiv_13TQ_
  .carousel_scrollNavButton_1GLi1 {
  width: 100%;
  height: 100%;
}
.carousel_pipScrollerContainer_1C-B8 .carousel_pipScroller_GXWYa {
  position: relative;
  flex-grow: 1;
  height: 100%;
}
.carousel_pipScrollerContainer_1C-B8
  .carousel_pipScroller_GXWYa
  .carousel_scrollBackground_3-RYo {
  position: absolute;
  left: 0px;
  top: 17px;
  bottom: 17px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.13);
  margin: auto 0;
}
.carousel_pipScrollerContainer_1C-B8
  .carousel_pipScroller_GXWYa
  .carousel_scrollForeground_yJM1K {
  position: absolute;
  top: 16px;
  bottom: 16px;
  background-color: rgba(255, 255, 255, 0.35);
  transition: left right;
  transition-duration: 0.4s;
}
.carousel_pipContainer_373Zi {
  padding-top: 10px;
}
.carousel_pipContainer_373Zi .carousel_pip_3Bznr {
  width: 28px;
  height: 25px;
  position: relative;
}
.carousel_pipContainer_373Zi .carousel_pip_3Bznr .carousel_pipNumber_2_JtJ {
  position: absolute;
  top: 3px;
  left: 0px;
  right: 0px;
  text-align: center;
}
.carousel_pip_3Bznr {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none !important;
  cursor: pointer;
  width: 18px;
  height: 15px;
  opacity: 0.3;
  padding: 1px 2px;
  margin: 0px;
  transition: opacity 0.2s;
}
.carousel_pip_3Bznr img {
  width: 100%;
  height: 100%;
}
.carousel_pip_3Bznr.carousel__dot--selected {
  opacity: 1;
}
.carousel_innerSlide_Kx5A5 div {
  outline-width: 0px;
}
.carousel_DisableSliderMotion_3la_1 {
  transition: none;
}
.vodplayer_BroadcastCtn_3YzMi {
  position: relative;
  margin: 0 auto;
  max-width: 940px;
}
.vodplayer_BroadcastCtn_3YzMi .videoContainer {
  height: unset;
  width: unset;
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
.vodplayer_BroadcastCtn_3YzMi .BroadcastPlaceholderImg {
  position: absolute;
  width: 100%;
}
.vodplayer_BroadcastCtn_3YzMi .videoSrc {
  width: 100%;
  height: auto;
  border-left: none;
  border-right: none;
  background-color: unset;
}
.scrollsnapcarousel_ScrollSnapCarousel_17m-P {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}
.cloudfileuploadbutton_Ctn_MKp7i {
  position: relative;
}
.partnereventdialog_ErrorStyles_2TszC,
.partnereventdialog_ErrorStylesWithIcon_1mcSA {
  color: #c44848;
}
.partnereventdialog_ErrorIconLayout_15HwA,
.partnereventdialog_ErrorStylesWithIcon_1mcSA,
.partnereventdialog_ErrorStylesBackground_3Ht2e {
  padding: 10px;
  padding-left: 42px;
  background-image: url("/public/images//sharedfiles/icons/icon_warning.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
}
.partnereventdialog_ErrorStylesBackground_3Ht2e {
  background-color: #472025;
}
.partnereventdialog_ErrorStyles_2TszC > div,
.partnereventdialog_ErrorStylesWithIcon_1mcSA > div {
  display: inline;
  color: #d78484;
}
.partnereventdialog_WarningStyles_1C_Im,
.partnereventdialog_WarningStylesWithIcon_3p5KO {
  color: #b8860b;
}
.partnereventdialog_WarningIconLayout_3POKG,
.partnereventdialog_WarningStylesWithIcon_3p5KO,
.partnereventdialog_WarningStylesBackground_2MAql {
  padding: 10px;
  padding-left: 42px;
  background-image: url("/public/images//sharedfiles/icons/icon_warning.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
}
.partnereventdialog_WarningStylesBackground_2MAql {
  background-color: #b8860b;
  color: #fff;
}
.partnereventdialog_WarningStylesBackground_2MAql
  .partnereventdialog_Stuck_2JqXL {
  position: sticky;
  top: 89px;
  z-index: 1;
}
.partnereventdialog_InfoStyles_2Zq0U,
.partnereventdialog_InfoStylesWithIcon_2TYAo {
  color: #556b2f;
}
.partnereventdialog_InfoIconLayout_qgVd4,
.partnereventdialog_InfoStylesWithIcon_2TYAo,
.partnereventdialog_InfoStylesBackground_3YqPi {
  padding: 10px;
  padding-left: 42px;
  background-image: url("/public/images//sharedfiles/icons/icon_spoiler_tag.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
}
.partnereventdialog_InfoStylesBackground_3YqPi {
  background-color: #556b2f;
  color: #fff;
}
.partnereventdialog_InfoStylesBackground_3YqPi .partnereventdialog_Stuck_2JqXL {
  position: sticky;
  top: 89px;
  z-index: 1;
}
.partnereventdialog_Padding_2oWai {
  padding-top: 10px;
}
.ModalPosition_Content .partnereventdialog_NotTooWideModal_3P6Se.DialogContent {
  width: initial;
}
.ModalPosition_Content
  .partnereventdialog_NotTooWideModal_3P6Se.DialogContent
  .DialogContent_InnerWidth
  > form {
  padding-right: 8px;
}
.cloudfileuploadprogress_UploadPreviewContainer_2IhGM {
  position: absolute;
  bottom: 72px;
  left: 16px;
  min-width: 260px;
  background: #2c3036;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 10px 32px 0px rgba(0, 0, 0, 0.6705882353);
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cloudfileuploadprogress_UploadPreviewContainer_2IhGM img {
  border-radius: 4px;
  box-shadow: 0 0 4px 1px #000;
  margin-right: auto;
  margin-left: auto;
}
.cloudfileuploadprogress_UploadPreviewContainer_2IhGM
  .cloudfileuploadprogress_SVGIcon_Video_2TqYK {
  fill: #788a92;
  background-color: rgba(0, 0, 0, 0.2666666667);
  border-radius: 4px;
  height: 150px;
  width: 100%;
}
.cloudfileuploadprogress_UploadPreviewContainer_2IhGM
  .cloudfileuploadprogress_SVGIcon_Video_2TqYK
  path {
  transform: scale(0.85);
  transform-origin: 50% 50%;
}
.cloudfileuploadprogress_UploadPreview_120Qu {
  max-height: 200px;
  max-width: 250px;
}
.cloudfileuploadprogress_FileUploadFileName_2bbAV {
  flex: 1;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
  user-select: none;
  text-align: center;
  max-width: 250px;
}
.cloudfileuploadprogress_FileUploadCancel_2MPbU {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
  border-radius: 3px;
  background-color: rgba(67, 73, 83, 0.9);
  padding: 4px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5333333333);
}
.cloudfileuploadprogress_FileUploadCancel_2MPbU
  .cloudfileuploadprogress_SVGIcon_X_Line_3ad65
  line {
  stroke: #fff;
}
.cloudfileuploadprogress_FileUploadCancel_2MPbU:hover {
  background-color: rgba(92, 100, 114, 0.9);
}
.cloudfileuploadprogress_FileUploadBtn_3gPV- {
  user-select: none;
  margin-top: 5px;
  background: #ccc;
  color: #000;
  border-radius: 10px;
  padding: 3px;
  line-height: 8px;
  font-size: 10px;
  vertical-align: middle;
  text-align: center;
}
.cloudfileuploadprogress_FileUploadBtn_3gPV-:hover {
  background: #fff;
}
.cloudfileuploadprogress_FileUploadProgressContainer_ZZt3E {
  position: absolute;
  width: 250px;
  bottom: 55px;
  background: #2c3036;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 10px 32px 0px rgba(0, 0, 0, 0.6705882353);
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.cloudfileuploadprogress_FileUploadProgressBarContainer_1J8k7 {
  width: 100%;
  height: 10px;
}
.cloudfileuploadprogress_FileUploadProgressName_1c12o {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
  user-select: none;
  text-align: center;
  width: 100%;
}
.claimitemshared_CheckMark_3HeHP {
  height: 32px;
}
.claimitemshared_DialogCtn_ltlR6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.claimitemshared_EquipCtn_2_8bZ {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.claimitemshared_EquipCtn_2_8bZ button.DialogButton {
  padding: 0px 12px;
}
.sharewithfriends_Container_8f6EQ {
  background-color: #1c1e26;
  padding: 10px;
}
.sharewithfriends_SmallAvatar_kzjfl {
  max-width: 32px;
  max-height: 32px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  border-radius: 3px;
}
.sharewithfriends_ShareDescription_mhpsV {
  width: calc(100% - 20px);
  height: 200px;
}
.sharewithfriends_ShareLink_2DzSq {
  text-overflow: ellipsis;
  overflow: hidden;
}
.steamavatar_avatarHolder_1YGAH {
  height: 36px;
  width: 36px;
  display: flex;
  margin: 0px 0px;
  transform: scale(0.86, 0.86) translateX(0px);
  transition-property: transform;
  transition-duration: 0.34s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.19, 2.28);
  flex-direction: row;
  flex-shrink: 0;
}
.steamavatar_avatarHolder_1YGAH.X-Small {
  height: 28px;
  width: 28px;
}
.steamavatar_avatarHolder_1YGAH.Medium {
  height: 36px;
  width: 36px;
}
.steamavatar_avatarHolder_1YGAH.MediumLarge {
  height: 48px;
  width: 48px;
}
.steamavatar_avatarHolder_1YGAH.Large {
  height: 84px;
  width: 84px;
}
.steamavatar_avatarHolder_1YGAH.X-Large {
  height: 92px;
  width: 92px;
}
.steamavatar_avatarHolder_1YGAH.FillArea {
  height: 100%;
  width: 100%;
}
.ChatSpeaker.ChatRoomSpeaker .steamavatar_avatarHolder_1YGAH {
  transform: scale(1, 1) translateX(0px);
}
.steamavatar_avatarHolder_1YGAH .steamavatar_avatarStatus_1yIzy.right,
.steamavatar_avatarHolder_1YGAH .steamavatar_avatarStatus_1yIzy.bottom {
  display: block !important;
}
.ingame .steamavatar_avatarStatus_1yIzy {
  background: linear-gradient(
    to bottom,
    rgb(140, 214, 29) 0%,
    rgb(161, 244, 16) 30%,
    rgb(161, 244, 16) 70%,
    rgb(140, 214, 29) 100%
  );
}
.ingame .steamavatar_avatarStatus_1yIzy.GamepadMode,
.GamepadMode .ingame .steamavatar_avatarStatus_1yIzy {
  background: #59bf40;
}
.offline .steamavatar_avatarStatus_1yIzy.GamepadMode,
.GamepadMode .offline .steamavatar_avatarStatus_1yIzy {
  background: #67707b;
}
.ingame .X-Large .steamavatar_avatarStatus_1yIzy {
  background: #bff02b;
}
.watchingbroadcast .steamavatar_avatarStatus_1yIzy {
  background: linear-gradient(
    to bottom,
    rgb(156, 143, 212) 0%,
    rgb(156, 143, 212) 30%,
    rgb(156, 143, 212) 70%,
    rgb(156, 143, 212) 100%
  );
}
.online .steamavatar_avatarStatus_1yIzy {
  background: linear-gradient(
    to bottom,
    rgb(109, 207, 246) 0%,
    rgb(109, 207, 246) 30%,
    rgb(109, 207, 246) 70%,
    rgb(109, 207, 246) 100%
  );
}
.online .steamavatar_avatarStatus_1yIzy.GamepadMode,
.GamepadMode .online .steamavatar_avatarStatus_1yIzy {
  background: #4cb4ff;
}
.awayOrSnooze .steamavatar_avatarStatus_1yIzy {
  -webkit-mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-y;
  -webkit-mask-size: 5px 5px;
  mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-y;
  mask-size: 5px 5px;
  opacity: 0.75;
}
.awayOrSnooze .steamavatar_avatarStatus_1yIzy.GamepadMode,
.GamepadMode .awayOrSnooze .steamavatar_avatarStatus_1yIzy {
  opacity: 1;
}
.steamavatar_avatarStatus_1yIzy.right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2px;
}
.steamavatar_avatarStatus_1yIzy.right.GamepadMode,
.GamepadMode .steamavatar_avatarStatus_1yIzy.right {
  width: 3px;
  right: -3px;
}
.steamavatar_avatarStatus_1yIzy.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
}
.steamavatar_avatarStatus_1yIzy.bottom.GamepadMode,
.GamepadMode .steamavatar_avatarStatus_1yIzy.bottom {
  height: 3px;
  bottom: -3px;
}
.awayOrSnooze .steamavatar_avatarStatus_1yIzy.bottom {
  -webkit-mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-x;
  mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-x;
}
.awayOrSnooze .X-Large .steamavatar_avatarStatus_1yIzy.bottom {
  mask-size: 6px 6px;
  opacity: 1;
}
.steamavatar_avatar_1p_Qr {
  border: 1px solid #383c43;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.3);
  transition: filter 0.24s ease-in-out;
}
.steamavatar_avatar_1p_Qr.GamepadMode,
.GamepadMode .steamavatar_avatar_1p_Qr {
  border: 0px solid rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
}
.steamavatar_avatarFrame_3atbN {
  position: absolute;
  top: 0;
}
.steamavatar_avatarFrame_3atbN .steamavatar_avatarFrameImg_338kJ {
  width: 100%;
  height: 100%;
}
.steamavatar_avatarHolder_1YGAH .steamavatar_avatarFrame_3atbN {
  transform: scale(1.2);
}
