.twitchembed_VideoReviewCtn_nNaTz {
  max-width: 940px;
  padding-bottom: 20px;
}
.twitchembed_VideoReviewCtn_nNaTz .twitchembed_YouTubePreviewImage__mxmF {
  height: 100%;
}
.twitchembed_VideoReviewCtn_nNaTz
  .twitchembed_YouTubePreviewImage__mxmF
  .YoutubePreviewPlay {
  width: 15%;
}
.twitchembed_TwitchPlayer_Ny5PH {
  width: 100%;
  position: relative;
}
.twitchembed_TwitchPlayer_Ny5PH iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: block;
}
.youtubepreviewimage_YoutubePreviewImage_MzScK {
  position: relative;
  width: 100%;
  height: 250px;
}
.youtubepreviewimage_YoutubePreviewImage_MzScK img {
  transition: opacity 0.24s ease-in-out;
  opacity: 0.6;
  display: block;
}
.youtubepreviewimage_YoutubePreviewImage_MzScK .YoutubePreviewImage {
  height: 100%;
}
.youtubepreviewimage_YoutubePreviewImage_MzScK .YoutubePreviewPlay {
  position: absolute;
  width: 25%;
  height: 25%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.youtubepreviewimage_YoutubePreviewImage_MzScK .YoutubePreviewPlay svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
.youtubepreviewimage_YoutubePreviewImage_MzScK .VideoHintText {
  position: absolute;
  background: #fff;
  color: #000;
  top: 55px;
  right: 50%;
  transform: translate(50%);
  border-radius: 2px;
  padding: 0 6px;
  opacity: 0;
  transition: opacity 0.24s ease-in-out, transform 0.24s ease-in-out;
}
.youtubepreviewimage_YoutubePreviewImage_MzScK:hover img {
  opacity: 1;
}
.youtubepreviewimage_YoutubePreviewImage_MzScK:hover .YoutubePreviewPlay {
  opacity: 1;
}
.youtubepreviewimage_YoutubePreviewImage_MzScK:hover .YoutubePreviewPlay svg {
  filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}
.youtubepreviewimage_YoutubePreviewImage_MzScK:hover .YoutubePreviewImage {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}
.youtubepreviewimage_YoutubePreviewImage_MzScK:hover .VideoHintText {
  transform: translate(50%, -10px);
  opacity: 1;
}
.youtubepreviewimage_YoutubePlayer_3uK6c {
  width: 100%;
  position: relative;
  padding: 56.25% 0 0 0;
}
.youtubepreviewimage_YoutubePlayer_3uK6c iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: block;
}
.eventrow_OtherEventsCtn_1qNsZ {
  margin-top: 8vw;
}
.eventrow_OtherEventsCtn_1qNsZ .eventrow_OtherEvents_MainImageCtn_1_8oy {
  width: 100%;
  height: auto;
  max-height: 197px;
  position: relative;
  overflow: hidden;
}
.eventrow_OtherEvents_2ioeM {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 910px) {
  .eventrow_OtherEvents_2ioeM {
    min-width: 320px;
    scroll-snap-align: start;
  }
}
.BasicUI .eventrow_OtherEvents_2ioeM {
  min-width: unset;
  scroll-snap-align: unset;
}
.center_row_trgt.ItemCount_1 .eventrow_OtherEvents_2ioeM {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .center_row_trgt.ItemCount_1 .eventrow_OtherEvents_2ioeM {
    width: 100%;
  }
}
.eventrow_OtherEvents_EventCtn_17gGs {
  display: block;
  height: auto;
  margin-bottom: 8px;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-width: 200px;
  background-image: radial-gradient(ellipse at top left, #42454c, #25282e);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
.eventrow_OtherEvents_EventCtn_17gGs:not(:last-child) {
  margin-right: 8px;
}
.eventrow_OtherEvents_EventCtn_17gGs:hover
  .eventrow_OtherEvents_MainImage_3xf4A {
  transform: scale(1.1);
}
.BasicUI .eventrow_OtherEvents_EventCtn_17gGs {
  margin: unset;
  border-radius: unset;
  box-shadow: var(--gpShadow-Medium);
  min-width: var(--gpWidth-3colcap);
}
.SaleSectionCarouselPadding .eventrow_OtherEvents_EventCtn_17gGs {
  margin: 0px 8px 0px 8px;
}
@media screen and (max-width: 910px) {
  .SaleSectionCarouselPadding .eventrow_OtherEvents_EventCtn_17gGs {
    margin: 0px 16px 0px 0px;
  }
}
.BasicUI .SaleSectionCarouselPadding .eventrow_OtherEvents_EventCtn_17gGs {
  margin: unset;
}
.eventrow_OtherEvents_BGImage_3rp-l {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  opacity: 0.4;
  filter: blur(10px);
}
.BasicUI .eventrow_OtherEvents_BGImage_3rp-l {
  filter: unset;
}
.eventrow_OtherEvents_BGImage_3rp-l::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}
.BasicUI .eventrow_OtherEvents_BGImage_3rp-l::after {
  backdrop-filter: blur(32px);
}
.eventrow_OtherEvents_ContentCtn_3QaFW {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.eventrow_OtherEvents_MainImageCtn_1_8oy {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.eventrow_OtherEvents_MainImage_3xf4A {
  width: 100%;
  height: auto;
  position: relative;
  left: 0px;
  transition: transform 0.4s ease-out;
  top: 0px;
  display: block;
}
.eventrow_OtherEvents_TextCtn_2AVL1 {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  height: 61px;
  padding: 12px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
.BasicUI .eventrow_OtherEvents_TextCtn_2AVL1 {
  padding: 12px 16px;
  padding-bottom: 48px;
}
.eventrow_OtherEvents_TextCtn_2AVL1.eventrow_OtherEvents_TextCtn_2AVL1 {
  box-sizing: content-box;
}
.eventrow_OtherEvents_TextTitle_3Zufl {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  max-height: 39px;
  margin-bottom: 4px;
  overflow: hidden;
}
.items_in_row_4 .eventrow_OtherEvents_TextTitle_3Zufl {
  line-height: 16px;
  max-height: 32px;
}
.eventrow_UpcomingCtn_--lM7 {
  color: #07bfff;
}
.eventrow_OtherEvents_SubTitle_2UUNj {
  font-size: 13px;
  max-height: 30px;
  overflow: hidden;
}
.items_in_row_4 .eventrow_OtherEvents_SubTitle_2UUNj {
  display: none;
}
@media screen and (max-width: 900px) {
  .eventrow_OtherEvents_SubTitle_2UUNj {
    display: none;
  }
}
.eventrow_HoversEnabled_34Nxj:hover .eventrow_OtherEvents_MainImage_3xf4A,
.eventrow_HoversEnabled_34Nxj:hover
  .eventrow_PartnerEventRowCapsule_MainImage_2bZBn {
  transform: scale(0.98);
  filter: blur(3px) brightness(0.7);
  z-index: 0;
}
.eventrow_HoversEnabled_34Nxj:hover .eventrow_EventSummaryContainer_3PdWg {
  background-color: rgba(21, 22, 25, 0.7);
}
.eventrow_HoversEnabled_34Nxj:hover
  .eventrow_EventSummaryContainer_3PdWg
  .eventrow_EventSummaryText_h5tE8 {
  filter: blur(0);
  transform: scale(1);
  color: #fff;
}
.eventrow_HoversEnabled_34Nxj:hover
  .eventrow_EventSummaryContainer_3PdWg
  .eventrow_EventSummaryType_1Fp_l {
  filter: blur(0);
  color: #289cff;
  transform: scale(1);
}
.eventrow_EventSummaryContainer_3PdWg {
  position: absolute;
  top: 0;
  background-color: rgba(21, 22, 25, 0);
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 0.24s ease-in-out;
}
.eventrow_EventSummaryText_h5tE8 {
  margin: 10px 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0);
  line-height: 20px;
  font-weight: 300;
  overflow: hidden;
  filter: blur(5px);
  user-select: none;
  text-rendering: optimizeSpeed;
  transform: scale(1);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: filter 0.24s ease-in-out, transform 0.24s ease-in-out,
    color 0.24s ease-in-out;
}
.items_in_row_4 .eventrow_EventSummaryText_h5tE8 {
  line-height: 16px;
}
.eventrow_EventSummaryType_1Fp_l {
  margin: 20px 20px 0 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(40, 156, 255, 0);
  overflow: hidden;
  filter: blur(5px);
  user-select: none;
  text-rendering: optimizeSpeed;
  transform: scale(1);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: filter 0.24s ease-in-out, transform 0.24s ease-in-out,
    color 0.24s ease-in-out;
}
.eventrow_OtherEvents_EventCtn_17gGs.eventrow_HorizontalEvent_1RS0b {
  display: flex;
  background: radial-gradient(
    100% 80% at 64% 95%,
    rgba(107, 115, 127, 0.3) 0%,
    rgba(62, 70, 80, 0.5) 20%,
    rgba(36, 40, 47, 0.5) 100%
  );
}
.eventrow_OtherEvents_EventCtn_17gGs.eventrow_HorizontalEvent_1RS0b
  .eventrow_OtherEvents_TextCtn_2AVL1 {
  margin-left: 8px;
}
.eventrow_OtherEvents_EventCtn_17gGs.eventrow_HorizontalEvent_1RS0b
  .eventrow_OtherEvents_MainImageCtn_1_8oy {
  max-height: 167px;
  max-width: 358px;
}
.eventrow_OtherEvents_EventCtn_17gGs.eventrow_HorizontalEvent_1RS0b
  .eventrow_HorizontalSummary_3_1Qo {
  color: #929799;
  font-size: 13px;
  position: relative;
  padding-top: 4px;
  max-width: 600px;
  max-height: 38px;
  overflow: hidden;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.eventrow_OtherEvents_EventCtn_17gGs.eventrow_HorizontalEvent_1RS0b
  .eventrow_HorizontalTitle_1m9zE {
  font-size: 18px;
  font-weight: 300;
  color: #ccc;
  line-height: 20px;
}
.eventrow_OtherEvents_EventCtn_17gGs.eventrow_HorizontalEvent_1RS0b
  .eventrow_HorizontalDescriptionCtn_2s9cB {
  flex-direction: row;
}
.eventrow_OtherEvents_EventCtn_17gGs.eventrow_HorizontalEvent_1RS0b
  .eventrow_HorizontalDescription_Dc9KC {
  text-transform: uppercase;
  color: rgba(40, 156, 255, 0.8);
  font-size: 12px;
  display: initial;
  margin-right: 4px;
}
.eventrow_AppCapsuleImage_2vo-l.eventrow_AppCapsuleImage_2vo-l.eventrow_AppCapsuleImage_2vo-l {
  width: 120px;
  box-shadow: 2px 2px 10px #000;
}
.BasicUI
  .eventrow_AppCapsuleImage_2vo-l.eventrow_AppCapsuleImage_2vo-l.eventrow_AppCapsuleImage_2vo-l {
  box-shadow: var(--gpShadow-Medium);
}
.eventrow_AppCapsuleCtn_1kYha {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -10px;
  left: 10px;
  width: calc(100% - 20px);
}
.BasicUI .eventrow_AppCapsuleCtn_1kYha {
  top: 10px;
  left: 0px;
  width: unset;
  justify-content: unset;
  column-gap: 12px;
}
.eventrow_AppCapsuleImageHover_rcwMf {
  flex-shrink: 0;
  margin-right: -2px;
  z-index: 1;
}
.BasicUI .eventrow_AppCapsuleImageHover_rcwMf {
  margin-right: unset;
}
.BasicUI .eventrow_AppCapsuleImageHover_rcwMf a {
  display: flex;
}
.eventrow_AppCapsulePrice_Jq75m {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  flex-shrink: 1;
}
.BasicUI .eventrow_AppCapsulePrice_Jq75m {
  background: unset;
  flex-direction: row;
  column-gap: 4px;
}
.eventrow_AppCapsulePrice_Jq75m span {
  font-size: 12px;
  line-height: 17px;
  padding: 0px 8px;
  box-sizing: border-box;
  width: 100%;
}
.BasicUI .eventrow_AppCapsulePrice_Jq75m span {
  font-size: unset;
  line-height: unset;
}
.eventrow_AppCapsulePrice_Jq75m span:first-child {
  padding-top: 2px;
  padding-bottom: 2px;
}
.BasicUI .eventrow_AppCapsulePrice_Jq75m span:first-child {
  padding-top: unset;
}
.eventrow_AppCapsulePrice_Jq75m span:last-child {
  padding-bottom: 2px;
  padding-top: 2px;
}
.BasicUI .eventrow_AppCapsulePrice_Jq75m span:last-child {
  padding-bottom: unset;
}
.curatorlist_CuratorListCtn_2gWFd {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.curatorlist_CuratorListCtn_2gWFd .curatorlist_CuratorMoreCtn_16t3P {
  margin-top: 60px;
}
.curatorlist_CuratorListCtn_2gWFd .curatorlist_CuratorMoreCtn_16t3P a {
  text-decoration: underline;
  font-size: 14px;
}
.curatorlist_TopReviewInfo_3SZBz {
  font-size: 25px;
  padding-bottom: 40px;
}
.BasicUI .curatorlist_TopReviewInfo_3SZBz {
  padding-bottom: 24px;
}
.curatorlist_SaleBanner_1wbf- {
  margin-top: 20px;
  max-width: 100%;
  transform: scale(1);
  transition: transform 0.21s ease-in-out;
}
.curatorlist_SaleBanner_1wbf-:hover {
  transform: scale(1.03);
}
.curatorlist_Title_1MhFd,
.curatorlist_Blurb_rrcHS {
  color: #fff;
  font-family: "Motiva Sans", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.BasicUI .curatorlist_Title_1MhFd,
.BasicUI .curatorlist_Blurb_rrcHS {
  text-shadow: unset;
}
.curatorlist_Title_1MhFd {
  font-size: 46px;
  line-height: 49px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 14px;
}
.BasicUI .curatorlist_Title_1MhFd {
  font: var(--gpText-HeadingLarge);
  margin: 16px 0px 4px;
}
.curatorlist_Blurb_rrcHS {
  font-size: 20px;
  line-height: 25px;
  font-weight: 200;
  margin-bottom: 30px;
}
.BasicUI .curatorlist_Blurb_rrcHS {
  font: var(--gpText-BodyLarge);
  color: var(--gpStoreLightestGrey);
  margin: 0px;
}
.curatorlist_VideoReviewCtn_Rojwr {
  max-width: 940px;
  padding-bottom: 20px;
}
.curatorlist_VideoReviewCtn_Rojwr .curatorlist_YouTubePreviewImage_eObSf {
  height: 100%;
}
.curatorlist_VideoReviewCtn_Rojwr
  .curatorlist_YouTubePreviewImage_eObSf
  .YoutubePreviewPlay {
  width: 15%;
}
.curatorlist_CuratorList_1VI6G {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}
.curatorlist_CuratorList_1VI6G.curatorlist_CuratorListGrid_qJM6j {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px 16px;
}
.BasicUI .curatorlist_CuratorList_1VI6G {
  grid-gap: 12px;
}
.curatorlist_CuratorReview_31hoQ {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  display: flex;
  margin: 0px;
  background: linear-gradient(195deg, #323c41, #15161a);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}
.curatorlist_CuratorReview_31hoQ .curatorlist_CapsuleCtn_MY9Lk {
  width: 350px;
  flex: none;
}
.curatorlist_CuratorListGrid_qJM6j .curatorlist_CuratorReview_31hoQ {
  flex-direction: column;
}
.curatorlist_CuratorListGrid_qJM6j
  .curatorlist_CuratorReview_31hoQ
  .curatorlist_CapsuleCtn_MY9Lk {
  width: 100%;
}
.BasicUI .curatorlist_CuratorReview_31hoQ {
  background: var(--gpStoreDarkestGrey);
  box-shadow: var(--gpShadow-Medium);
}
.curatorlist_YouTubeCapsule_1siEs .curatorlist_YouTubeCtn_1uz1W {
  position: relative;
  height: 0;
  padding: 46.7391304348% 0 0 0;
  overflow: hidden;
}
.curatorlist_YouTubeCapsule_1siEs .curatorlist_YouTubeCtn_1uz1W:hover {
  overflow: unset;
}
.curatorlist_YouTubeCapsule_1siEs
  .curatorlist_YouTubeCtn_1uz1W
  .curatorlist_YouTubePreviewImage_eObSf,
.curatorlist_YouTubeCapsule_1siEs .curatorlist_YouTubeCtn_1uz1W .YoutubePlayer {
  position: absolute;
  top: 0;
}
.curatorlist_YouTubeCapsule_1siEs
  .curatorlist_YouTubeCtn_1uz1W
  .curatorlist_YouTubePreviewImage_eObSf:hover,
.curatorlist_YouTubeCapsule_1siEs
  .curatorlist_YouTubeCtn_1uz1W
  .YoutubePlayer:hover {
  z-index: 3;
}
.curatorlist_YouTubeCapsule_1siEs .curatorlist_YouTubeCapsuleBottomBar_1d9Mp {
  position: relative;
  display: flex;
  padding-left: 12px;
  height: 30px;
  background-color: #000;
}
.curatorlist_YouTubeCapsule_1siEs
  .curatorlist_YouTubeCapsuleBottomBar_1d9Mp
  .curatorlist_GameImageCtn_220F7 {
  width: 20%;
  position: relative;
  margin-right: 4px;
}
.curatorlist_YouTubeCapsule_1siEs
  .curatorlist_YouTubeCapsuleBottomBar_1d9Mp
  .curatorlist_GameImageCtn_220F7
  .curatorlist_GameImage_7gTF4 {
  position: absolute;
  bottom: -12px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.curatorlist_YouTubeCapsule_1siEs
  .curatorlist_YouTubeCapsuleBottomBar_1d9Mp
  .curatorlist_FullWidth_3ditF {
  flex: 1;
}
.curatorlist_ReviewTextSection_1597W {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.9);
  padding: 20px 12px 12px 12px;
  flex-shrink: 1;
  margin-left: 8px;
}
.BasicUI .curatorlist_ReviewTextSection_1597W {
  padding: 16px 12px;
}
.curatorlist_CuratorListGrid_qJM6j .curatorlist_ReviewTextSection_1597W {
  margin-left: 0;
  margin-bottom: 16px;
}
.curatorlist_ReviewTextSection_1597W .curatorlist_GameTitle_nl2T_ {
  font-size: 22px;
  font-weight: 500;
}
.BasicUI .curatorlist_ReviewTextSection_1597W .curatorlist_GameTitle_nl2T_ {
  font: var(--gpText-HeadingSmall);
  font-weight: 500;
  color: #fff;
}
.curatorlist_ReviewTextSection_1597W
  .curatorlist_RecommendationTypeAndDate_2lz6u {
  display: flex;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 4px;
}
.curatorlist_ReviewTextSection_1597W
  .curatorlist_RecommendationTypeAndDate_2lz6u
  .curatorlist_Recommended_3v9Qi {
  color: #66c0f4;
}
.curatorlist_ReviewTextSection_1597W
  .curatorlist_RecommendationTypeAndDate_2lz6u
  .curatorlist_NotRecommended_3iOGo {
  color: #f49866;
}
.curatorlist_ReviewTextSection_1597W
  .curatorlist_RecommendationTypeAndDate_2lz6u
  .curatorlist_Informational_261Fh {
  color: #f5df67;
}
.curatorlist_ReviewTextSection_1597W
  .curatorlist_RecommendationTypeAndDate_2lz6u
  .curatorlist_Recommended_3v9Qi,
.curatorlist_ReviewTextSection_1597W
  .curatorlist_RecommendationTypeAndDate_2lz6u
  .curatorlist_NotRecommended_3iOGo,
.curatorlist_ReviewTextSection_1597W
  .curatorlist_RecommendationTypeAndDate_2lz6u
  .curatorlist_Informational_261Fh {
  margin-right: 8px;
}
.curatorlist_ReviewTextSection_1597W
  .curatorlist_RecommendationTypeAndDate_2lz6u
  .curatorlist_ReviewDate_HCiYl {
  text-transform: none;
  color: rgba(255, 255, 255, 0.7);
}
.curatorlist_ReviewTextSection_1597W .curatorlist_ReviewBlurb_1y_bx {
  margin: 10px 0;
  font-size: 15px;
  line-height: 19px;
  color: #bdc1ca;
}
.curatorlist_FullReviewLink_3_8G- {
  display: flex;
  font-size: 11px;
}
.curatorlist_FullReviewLink_3_8G- .curatorlist_FullReviewAnchor_3pWCN {
  text-decoration: underline;
}
.curatorlist_FullReviewLink_3_8G- .curatorlist_FullReviewDomain_2R37N {
  margin-left: 6px;
  color: rgba(255, 255, 255, 0.7);
}
.breadcrumbs_BreadContainer_1QPim {
  color: #56707f;
  font-size: 12px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  padding-top: 10px;
}
.breadcrumbs_BreadContainer_1QPim a {
  color: #8f98a0;
}
.breadcrumbs_BreadContainer_1QPim a:hover {
  color: #fff;
  text-decoration: none;
}
.curatorminiheader_BreadContainer_GkVFI {
  padding-top: 0px;
  margin-top: -2px;
  margin-bottom: -4px;
}
