._2b4ehY-W6zKuz_RcJb_bFS {
  padding: 12px 0px;
}
._1IgJ0p8H9jPJgPosle6xdl {
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 5px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5;
}
._2qr1fNbf66KPlKVUK9DPxU,
._1B2KFfSCeANfYXihoXz87_ {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  background-color: #3b5a7280;
  align-items: center;
  transition: background-color 0.2s ease;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 1280px) {
  ._2qr1fNbf66KPlKVUK9DPxU,
  ._1B2KFfSCeANfYXihoXz87_ {
    padding: 16px 24px;
  }
}
._2qr1fNbf66KPlKVUK9DPxU:focus-within,
._1B2KFfSCeANfYXihoXz87_:focus-within {
  background-color: #678ba670;
}
._2qr1fNbf66KPlKVUK9DPxU {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
._2qr1fNbf66KPlKVUK9DPxU ._1VhpnbFYLe10F8k2MVp3eU {
  font-size: 14px;
}
._3OZo0-lBqXXl_Q3-LziNYZ {
  padding-left: 10px;
  text-decoration: underline;
}
._2yDLeYzL4M39ePif4Ul1Yt {
  padding-right: 8px;
  vertical-align: middle;
}
.EEiwnhVESZ3uAla6gxdWx {
  width: 100%;
  padding: 4px 10px;
  box-sizing: border-box;
  height: 28px;
  display: flex;
  gap: 6px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.EEiwnhVESZ3uAla6gxdWx ._3OSxYULWzrAMAy-23ME-9A {
  background-color: #7f919f;
  font-size: 12px;
}
.EEiwnhVESZ3uAla6gxdWx a:hover {
  cursor: pointer;
}
._3OSxYULWzrAMAy-23ME-9A {
  font-size: 1.3em;
}
._1VhpnbFYLe10F8k2MVp3eU {
  font-size: 16px;
}
._3OSxYULWzrAMAy-23ME-9A,
._1VhpnbFYLe10F8k2MVp3eU {
  padding: 6px 12px;
  color: #fff;
  background-color: #1a9fff;
  border-radius: 2px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.32);
  transition-property: color, background-color, border-radius;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  display: flex;
}
._3OSxYULWzrAMAy-23ME-9A:hover,
._1VhpnbFYLe10F8k2MVp3eU:hover {
  color: #fff;
  background-color: #0bf;
  cursor: pointer;
}
._3OSxYULWzrAMAy-23ME-9A.gpfocus,
._1VhpnbFYLe10F8k2MVp3eU.gpfocus {
  background-color: #fff;
  border-radius: 0px;
  color: #000;
}
._1L5OrJt5Qmz72xonU9kKTD {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}
._2FOcPhc2gnErLhxGlQncbM {
  display: flex;
  flex-direction: column;
  font: var(--gpText-HeadingLarge);
  color: #fff;
}
._2VgfBN70pLZljMun7XnnWG {
  padding-left: 8px;
}
._2VgfBN70pLZljMun7XnnWG ._2yDLeYzL4M39ePif4Ul1Yt {
  padding-top: 1px;
  width: 26px;
}
._1UgyrmTFb1T9F8H51kik4_ {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
._24aj-c7_9H2LMUYLu8QEM3,
._1eAfSXEODH2zKNDDbUn6r0 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-height: 85vh;
}
._24aj-c7_9H2LMUYLu8QEM3 ._2MFHaDHNKij7paYeA1qHOl,
._24aj-c7_9H2LMUYLu8QEM3 ._3E4i98om4rbI6sTqxbpDpW,
._1eAfSXEODH2zKNDDbUn6r0 ._2MFHaDHNKij7paYeA1qHOl,
._1eAfSXEODH2zKNDDbUn6r0 ._3E4i98om4rbI6sTqxbpDpW {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
  padding-right: 15px;
}
._24aj-c7_9H2LMUYLu8QEM3 ._2MFHaDHNKij7paYeA1qHOl::-webkit-scrollbar,
._1eAfSXEODH2zKNDDbUn6r0 ._2MFHaDHNKij7paYeA1qHOl::-webkit-scrollbar {
  display: none;
}
._24aj-c7_9H2LMUYLu8QEM3 ._3E4i98om4rbI6sTqxbpDpW::-webkit-scrollbar,
._1eAfSXEODH2zKNDDbUn6r0 ._3E4i98om4rbI6sTqxbpDpW::-webkit-scrollbar {
  display: inline;
  padding-left: 20px;
}
.i-kKrKZVSgnseMWG_XxVw {
  padding-bottom: 10px;
  display: inline-flex;
  font-size: 14px;
  word-break: break-word;
  color: #fff;
  width: 100%;
}
._1dRcOfzoJ-cl7DcDBnuC8w {
  padding-bottom: 10px;
  font-size: 14px;
  color: #fff;
}
._1dRcOfzoJ-cl7DcDBnuC8w ._2NlWspdb3o2jG8uqIpSX2P {
  font-weight: bold;
  color: #59bf40;
}
._1dRcOfzoJ-cl7DcDBnuC8w ._3b8fs4YCVuY88p9lYr6R9n {
  font-weight: bold;
  color: #ffc82c;
}
._1dRcOfzoJ-cl7DcDBnuC8w ._34NkCNjIGkKCte3fX0wnRY {
  font-weight: bold;
  color: #7c8ea3;
}
._2HWJLa1cVWBiFNz3loij {
  vertical-align: middle;
  font-size: 14px;
}
._2HWJLa1cVWBiFNz3loij ._2NlWspdb3o2jG8uqIpSX2P {
  color: #59bf40;
}
._2HWJLa1cVWBiFNz3loij ._3b8fs4YCVuY88p9lYr6R9n {
  color: #ffc82c;
}
._2HWJLa1cVWBiFNz3loij ._34NkCNjIGkKCte3fX0wnRY {
  color: #7c8ea3;
}
._1GQvTe7N-bhSS62k81jYE1 {
  height: 1px;
  background-color: #5b5b5b;
  width: 100%;
  margin-bottom: 15px;
}
._256fLpALMl5YHFGBANHEhU {
  height: 20px;
  width: 20px;
  padding-right: 15px;
  flex-shrink: 0;
}
.c1yG_FhoHVjWX9Ra5ZQQN {
  display: flex;
  flex-direction: row;
  padding: 7px 0px;
}
._336YAKjWURkatkWeI8exDf {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
}
._2BejwemJWjg_YdRiboYb34 {
  padding-left: 35px;
  padding-bottom: 5px;
  font-style: italic;
  display: inline-flex;
  font-size: 14px;
  color: #a9a9a9;
  word-break: break-word;
}
._1pC8tdJs_ppbeIZKK-PQ3x svg {
  vertical-align: bottom;
  height: 18px;
  width: 18px;
}
._1pC8tdJs_ppbeIZKK-PQ3x {
  padding-left: 10px;
  display: inline-block;
}
._3Ewxr4rKzhC1rcpCJrChFg {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
  margin-top: 4px;
  margin-bottom: 4px;
}
._2xqA7_YYWeGOEvIz4v6DSI {
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
}
._2JTRYQHyc7L6jjyuphKo60 {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yIDRWMjBWMjRMNyAyMEgyNFY0SDJaTTM0IDEyVjMyTDI5IDI4SDEyVjI0SDI4VjEySDM0WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin-right: 8px;
  opacity: 0.8;
}
._2aB9HGm37I5Nil9Ox3Ghyd {
  vertical-align: middle;
}
._1cm6kVu4NqfeEsRAY6HzJO {
  vertical-align: middle;
  color: var(--gpStoreLightestGrey);
  font-size: 14px;
  line-height: 20px;
}
._2SV_emIfYqd0FE4cPJTbfF .I3P4egf0HS1dH4Qr3vAoV {
  color: #0e141b;
}
._2SV_emIfYqd0FE4cPJTbfF ._39K5gSyYSvElXia1c4nZ0v {
  color: #fff;
}
._2e0FqbLmhlb64J5-4lLSSS .I3P4egf0HS1dH4Qr3vAoV {
  color: #fff;
}
._2e0FqbLmhlb64J5-4lLSSS ._39K5gSyYSvElXia1c4nZ0v {
  color: #0e141b;
}
._2Q-494zOM44tLzSjdRMtdS {
  color: #fff;
}
._3sifyV5fpgllCyioV_lnwf {
  width: auto;
  height: 16px;
}
._3-w0RfsV9P9mAjMsKeXGkY {
  width: auto;
  height: 22px;
}
._3jE5H2qSvKRcJXGS8CwctO {
  width: auto;
  height: 36px;
}
._2sFpIRxSZYFPum-eB7PsGE._3sifyV5fpgllCyioV_lnwf {
  margin-right: 20px;
}
._3Z36hMlC0g5rhADc86JeV8 {
  display: flex;
  flex-direction: column;
  margin: 0;
}
._3Z36hMlC0g5rhADc86JeV8.kwzRJNhtPiQO0D4Wn0PLU {
  animation-name: _2iT5lTDKhbxllUncFnJhS0;
}
._3Z36hMlC0g5rhADc86JeV8.kwzRJNhtPiQO0D4Wn0PLU * {
  animation-name: _2iT5lTDKhbxllUncFnJhS0 !important;
  stroke-dasharray: initial !important;
  stroke-dashoffset: initial !important;
  stroke-width: 5px !important;
  opacity: 1 !important;
}
._3Z36hMlC0g5rhADc86JeV8.kwzRJNhtPiQO0D4Wn0PLU ._3-sjxBwrq1aRP-xn0Pwx37 path {
  stroke-width: 0 !important;
}
._3Z36hMlC0g5rhADc86JeV8.M4pF_ij_g5aN0m2FqZc7u {
  flex-direction: row;
}
._3Z36hMlC0g5rhADc86JeV8 ._7MdwTzlZhzNS1NzYBn7Sk,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber path {
  width: 100%;
  height: 100%;
  position: relative;
}
._3Z36hMlC0g5rhADc86JeV8 ._7MdwTzlZhzNS1NzYBn7Sk {
  align-self: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
._3Z36hMlC0g5rhADc86JeV8._29-XTCJVnFYwvPS6oJ6liL ._7MdwTzlZhzNS1NzYBn7Sk {
  width: 32px;
  height: 32px;
}
._3Z36hMlC0g5rhADc86JeV8._1yqSoIPxWwEa9VRtAQdhdy ._7MdwTzlZhzNS1NzYBn7Sk {
  width: 64px;
  height: 64px;
}
._3Z36hMlC0g5rhADc86JeV8._1u2tLqxQCBluyLGN_QvmRf ._7MdwTzlZhzNS1NzYBn7Sk {
  width: 92px;
  height: 92px;
}
.Yi4EMhptGPt8XWnnnT_nC {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
._1ZlvfuG4Q4e9GfTYNuNI5b,
._3Z36hMlC0g5rhADc86JeV8 ._1ZlvfuG4Q4e9GfTYNuNI5b {
  color: #3d85c8;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  user-select: none;
  margin-top: 8px;
  font-weight: 500;
}
._3Z36hMlC0g5rhADc86JeV8._1yqSoIPxWwEa9VRtAQdhdy ._1ZlvfuG4Q4e9GfTYNuNI5b {
  margin-top: 4px;
}
._3Z36hMlC0g5rhADc86JeV8._29-XTCJVnFYwvPS6oJ6liL ._1ZlvfuG4Q4e9GfTYNuNI5b {
  margin-top: 2px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber._3ebLcY6yz7RZRSTq7EK5Lo {
  filter: blur(3px);
  position: absolute;
  left: 0;
  top: 0px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber._3ebLcY6yz7RZRSTq7EK5Lo path {
  stroke: #4375fd;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber path {
  stroke: #67c1f5;
  animation-name: _3SEk8c3qDYTigYcVaGHzE8;
  animation-duration: 0.7s;
  stroke-linecap: butt;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3M8ArwlB5FKwDNDos_gbXp,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3H7At8KqRfv4ttYb4hHZmf {
  stroke-dashoffset: 0;
  stroke-dasharray: 116;
  stroke-width: 6px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3H7At8KqRfv4ttYb4hHZmf {
  opacity: 1;
  stroke: #3b8bb9;
  stroke-width: 6px;
  transform-origin: 50% 50%;
  stroke-linecap: round;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3M8ArwlB5FKwDNDos_gbXp {
  display: none;
}
@keyframes _3SEk8c3qDYTigYcVaGHzE8 {
  to {
    stroke-dashoffset: -232;
  }
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2FWWtb-RoV2eWwZb_2ZPr- {
  animation-name: _1-rlbGjslOZcEUwLtOMFS5;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 1;
  stroke-width: 0;
}
@keyframes _1-rlbGjslOZcEUwLtOMFS5 {
  0% {
    fill: rgba(103, 193, 245, 0);
  }
  50% {
    fill: rgba(103, 193, 245, 0.05);
  }
  100% {
    fill: rgba(103, 193, 245, 0);
  }
}
._3Z36hMlC0g5rhADc86JeV8
  .SVGIcon_Throbber
  ._3znUFhu51nKns1e7TS-OBI
  ._1oQUOQrI5F662TJKj8jekS,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3znUFhu51nKns1e7TS-OBI circle {
  stroke: #67c1f5;
  animation-name: _3oqZEXhIGxrXv-k0LZdnuL;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 67% 36%;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3znUFhu51nKns1e7TS-OBI circle {
  animation-name: _3veQroNYTh9QYnoChKR3i1;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3-sjxBwrq1aRP-xn0Pwx37 path {
  fill: #67c1f5;
  stroke-width: 0;
  animation-name: _3veQroNYTh9QYnoChKR3i1;
  animation-duration: 3s;
  animation-delay: -0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes _3oqZEXhIGxrXv-k0LZdnuL {
  0% {
    opacity: 0;
    transform: scale(0.75);
    stroke-width: 4px;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
  100% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
}
@keyframes _3veQroNYTh9QYnoChKR3i1 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._1gQteFwGxkIYjnc1R4AL_t,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3DXeREA7bfuQHY6ZAO5R7z,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._5VEyIcKdWadQBWrX_4GCB,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber .wOdFmL5yGGcFtnTeTPuAN,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3JmyzD1dUjgGEcteE8b03N,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3QwXntItGtkPzHCFTKc5On,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2Yhvqy6YdHoDKOcEV54b81,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3HcIUW0RNk5mvnktXyklQD,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2fn3JdojytIMXkgwwLUB,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2gCCIKg5sL-lL99W0oqlJ6,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._1SrtWs_sS-Wy3tdC3r9KPR,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2P5xsTUWq0FH2XucpPH7p,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3zYDaDqGDHQ_1O4RQC5I9V,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2_KYJ4u1lx7hqumdoEPrUC,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3N41HATXmBYltNBZ9VLB5N {
  animation-name: _1wAwc7KLLRgbm44_3xm4ie;
  animation-duration: 3s;
  stroke-dasharray: 150 950;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3N41HATXmBYltNBZ9VLB5N {
  animation-delay: 0s;
  opacity: 0.06;
  stroke-width: 0.5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2_KYJ4u1lx7hqumdoEPrUC {
  animation-delay: -0.1s;
  opacity: 0.13;
  stroke-width: 1px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3zYDaDqGDHQ_1O4RQC5I9V {
  animation-delay: -0.2s;
  opacity: 0.2;
  stroke-width: 1.5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2P5xsTUWq0FH2XucpPH7p {
  animation-delay: -0.3s;
  opacity: 0.26;
  stroke-width: 2px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._1SrtWs_sS-Wy3tdC3r9KPR {
  animation-delay: -0.4s;
  opacity: 0.33;
  stroke-width: 2.5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2gCCIKg5sL-lL99W0oqlJ6 {
  animation-delay: -0.5s;
  opacity: 0.4;
  stroke-width: 3px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2fn3JdojytIMXkgwwLUB {
  animation-delay: -0.6s;
  opacity: 0.46;
  stroke-width: 3.5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3HcIUW0RNk5mvnktXyklQD {
  animation-delay: -0.7s;
  opacity: 0.53;
  stroke-width: 4px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2Yhvqy6YdHoDKOcEV54b81 {
  animation-delay: -0.8s;
  opacity: 0.6;
  stroke-width: 4.5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3QwXntItGtkPzHCFTKc5On {
  animation-delay: -0.9s;
  opacity: 0.66;
  stroke-width: 5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3JmyzD1dUjgGEcteE8b03N {
  animation-delay: -1s;
  opacity: 0.73;
  stroke-width: 5.5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber .wOdFmL5yGGcFtnTeTPuAN {
  animation-delay: -1.1s;
  opacity: 0.8;
  stroke-width: 6px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._5VEyIcKdWadQBWrX_4GCB {
  animation-delay: -1.2s;
  opacity: 0.86;
  stroke-width: 6.5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3DXeREA7bfuQHY6ZAO5R7z {
  animation-delay: -1.3s;
  opacity: 0.93;
  stroke-width: 7px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._1gQteFwGxkIYjnc1R4AL_t {
  animation-delay: -1.4s;
  opacity: 1;
  stroke-width: 7.5px;
}
@keyframes _1wAwc7KLLRgbm44_3xm4ie {
  100% {
    stroke-dashoffset: -1100;
  }
}
._29-XTCJVnFYwvPS6oJ6liL {
  width: 36px;
  height: 36px;
}
._1yqSoIPxWwEa9VRtAQdhdy {
  width: 64px;
  height: 64px;
}
._1u2tLqxQCBluyLGN_QvmRf {
  width: 92px;
  height: 92px;
}
._2jzZM2psF7_vBjlIDursjn {
  width: 120px;
  height: 120px;
}
._1DFOT-9kxLv8eKb1pLdpgs {
  width: 240px;
  height: 240px;
}
._34XSshkALVD06dF8SeeOq {
  opacity: 0;
  transition: opacity 1s;
}
._34XSshkALVD06dF8SeeOq._1ziaTBu8AaZL6yQ50_GkKQ {
  opacity: 1;
}
.tAKvsRBaqaemRb6OJSM0o img {
  width: 100%;
}
.MjesDaM8ySIdAujGZPACn {
  display: flex;
  flex-direction: row;
  max-width: 320px;
}
.MjesDaM8ySIdAujGZPACn._22e4AKyxOJI3L9WZ-500_Z {
  max-width: 320px;
  background: #000;
  padding: 16px;
}
.MjesDaM8ySIdAujGZPACn ._3l1i_Ji2LHF9uLUsIA-6s2 {
  flex: 1;
}
.MjesDaM8ySIdAujGZPACn ._2Go5et-asyUXbKbuW0dECU {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.MjesDaM8ySIdAujGZPACn ._2Go5et-asyUXbKbuW0dECU .z4dAWecplX4aV9qPQNIQS {
  flex: 1;
  margin-right: 16px;
}
.MjesDaM8ySIdAujGZPACn
  ._2Go5et-asyUXbKbuW0dECU
  .z4dAWecplX4aV9qPQNIQS._2Bw1IVbdzXaD8JNOgVdzVe {
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-bottom: 12px;
}
.MjesDaM8ySIdAujGZPACn
  ._2Go5et-asyUXbKbuW0dECU
  .z4dAWecplX4aV9qPQNIQS._3LE9RI5JpeV3aUS6kkG4Y_ {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 12px;
}
.MjesDaM8ySIdAujGZPACn ._2Go5et-asyUXbKbuW0dECU ._314E_Djw7uBgNuk_9y6f5g {
  width: 16px;
  height: 16px;
  padding: 8px;
  background: linear-gradient(to right, #47bfff 5%, #1a8cc2 60%);
  border-radius: 3px;
}
._19qBNOVq73zhQhb1wP9w63 {
  margin-bottom: 15px;
}
._19qBNOVq73zhQhb1wP9w63 ._3eHSMKzTRL-1bzKry-AW_E {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #808285;
  margin-bottom: 3px;
}
._19qBNOVq73zhQhb1wP9w63 .nZkW2-OtbRBDwVDWS4ei8 {
  line-height: 21px;
  font-size: 20px;
}
._19qBNOVq73zhQhb1wP9w63 ._1oP0wSsWgMaOYbVWCy8eQF {
  color: #fff;
}
._3-olbnxO5LbbL6mSzamhw3 {
  font-weight: 300;
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 23px;
  color: #dedede;
}
._3Th0VAeLiIAxqsFn74j3EA {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #dedede;
}
button.DialogButton.lKVYBV_ioKj9Y_FKlMvqu {
  width: 140px;
}
.x6aCtZFZ3cDnCSJMJI0OB {
  color: #8f98a0;
  margin-bottom: 6px;
}
._1NUmCql50oyQsRv2rxSvr1 {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
._38m8DGDKcTxyFKbuvEpMIx {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(103, 193, 245, 0.1);
  color: #66c0f4;
}
._38m8DGDKcTxyFKbuvEpMIx._3InqRBbbAXO4WJ35-ou6cl {
  color: #82f466;
}
._38m8DGDKcTxyFKbuvEpMIx.H8PWxseAXhM6PapqoU5jP {
  color: #ffc82c;
}
._38m8DGDKcTxyFKbuvEpMIx._3Q8sxkN3baZIWYOXUGEwpZ {
  color: #82f466;
}
._38m8DGDKcTxyFKbuvEpMIx.zD5C0Xyh3lZRY_mRIRpVA {
  background: #9d8b5e;
  color: #fff;
}
._38m8DGDKcTxyFKbuvEpMIx:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  background: #67c1f5;
  background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
}
._5bHD6q5nDA6TLrWbE5Hvx {
  font-weight: 400;
  font-size: 12px;
  padding: 6px 8px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
._5bHD6q5nDA6TLrWbE5Hvx._3Q8sxkN3baZIWYOXUGEwpZ {
  color: #69a712;
}
._28V2e4qcBKMUfwPNxuJevO {
  padding: 0px 6px;
  display: flex;
  background: #101822;
}
._28V2e4qcBKMUfwPNxuJevO.zD5C0Xyh3lZRY_mRIRpVA {
  background: #7c6e4a;
}
._28V2e4qcBKMUfwPNxuJevO.H8PWxseAXhM6PapqoU5jP {
  background: #ffc82c;
}
._28V2e4qcBKMUfwPNxuJevO > svg {
  width: 26px;
  height: 16px;
  align-self: center;
}
._28V2e4qcBKMUfwPNxuJevO > svg.BOCK_85Q7zCMjhmqqf182 {
  height: 20px;
}
._28V2e4qcBKMUfwPNxuJevO > svg._2xOzFrnkKmDSLNhuD5Ke5e {
  width: 22px;
  padding-left: 2px;
  padding-right: 2px;
  transition: none;
}
._1F4_sw07miPTtc8CNasbvN {
  padding: 5%;
  background: linear-gradient(90deg, #15202d 0%, #0e141c 100%);
}
._2Z38-sqi_66Ock18gKwsUm {
  margin-top: 12px;
}
._3coXqS7LWcc1GxjOIORLPW {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 32px;
}
._3Ci-mcHPf9PwcjjvzB0v-2 {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 12px;
  margin-top: 2px;
}
._3nByihRHvBVf4L5_bEg2dR {
  margin-top: 14px;
  margin-bottom: 2px;
}
._2pO7EB1Gl4_IN2uoWkJ-bM {
  padding: 0px 6px;
  display: flex;
  width: 26px;
  height: 16px;
  align-self: center;
}
._11_KaesMs-enCJ0GS0trTR {
  transform: rotate(-15deg);
}
._2TD1tfeH-GO6CqFXxRd-Rm {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(217, 217, 217, 0.1);
}
._11C_jcbfitrasoPZxY7vXc {
  color: #fff;
  margin-right: 2px;
}
