._3szjUMH5QeRwtXAsLRcWt9 {
  width: 100%;
  height: 6px;
  background-color: var(--color-progress-bar-background);
  border-radius: 2px;
  overflow: hidden;
}
._3szjUMH5QeRwtXAsLRcWt9::after {
  content: "";
  display: block;
  width: calc(100% * var(--percent));
  height: 100%;
  background-color: var(--color-progress-bar-foreground);
}
._3szjUMH5QeRwtXAsLRcWt9._3DjdoQj5NoknowwV5t5JPN::after {
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  );
  background-color: var(--color-progress-bar-foreground);
  background-position-x: 0px;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: _2SA1xV5w3BGirkDWosGYoX 2s linear infinite forwards;
}
._3szjUMH5QeRwtXAsLRcWt9._3DjdoQj5NoknowwV5t5JPN._3G7KLhFOuTiHW-fGxtWtRs::after {
  width: 100%;
  background-color: transparent;
}
@keyframes _2SA1xV5w3BGirkDWosGYoX {
  0% {
    background-position-x: calc(0% - 250px);
  }
  100% {
    background-position-x: calc(100% + 250px);
  }
}
._3wMS41OoTPnZyEddTVwzy_ {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
._3wMS41OoTPnZyEddTVwzy_._3t_UEZDy1QxxcYfn3TTvD2 svg {
  filter: drop-shadow(0 0 2px #000000) drop-shadow(0 0 16px #1a9fff)
    drop-shadow(10px 10px 16px #1a9fff);
}
._1LXqxVtAL8Lmy7J7rLSVit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(77deg, #758393, #8d9cad);
  box-shadow: 0px 1px 10px #203345;
  border-radius: 4px;
  width: fit-content;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  position: fixed;
  min-width: 300px;
}
.BasicUI ._1LXqxVtAL8Lmy7J7rLSVit {
  width: auto;
  position: initial;
  transform: none;
  z-index: 0;
}
.co4IP1iV1813n9UgG3h5f {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #e5e5e5;
  cursor: pointer;
  transition: color .1s ease;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin: 0 25px 0 0;
}
.co4IP1iV1813n9UgG3h5f:hover {
  color: #fff;
}
.co4IP1iV1813n9UgG3h5f:hover svg {
  transform: scale(1.2);
}
.co4IP1iV1813n9UgG3h5f svg {
  margin-right: 8px;
  height: 24px;
  width: 24px;
  fill: #fff;
  transition: transform .2s ease-in-out;
}
.ZyOLslFdmnVjR1OGpRaue {
  width: 80px;
}
.bfN8kdqVDI58Ly1qiSuT_ {
  width: 12px;
  vertical-align: middle;
  cursor: pointer;
  margin-left: auto;
  display: flex;
}
._1FD7rgQVEqkzjDjzYa-1BC {
  vertical-align: sub;
  margin-left: 10px;
}
.nibodjvvrm86uCfnnAn4g {
  height: 36px;
  width: 36px;
  display: flex;
  margin: 0px 0px;
  transform: scale(0.86, 0.86) translateX(0px);
  transition-property: transform;
  transition-duration: .34s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.19, 2.28);
  flex-direction: row;
  flex-shrink: 0;
}
.nibodjvvrm86uCfnnAn4g.X-Small {
  height: 28px;
  width: 28px;
}
.nibodjvvrm86uCfnnAn4g.Medium {
  height: 36px;
  width: 36px;
}
.nibodjvvrm86uCfnnAn4g.MediumLarge {
  height: 48px;
  width: 48px;
}
.nibodjvvrm86uCfnnAn4g.Large {
  height: 84px;
  width: 84px;
}
.nibodjvvrm86uCfnnAn4g.X-Large {
  height: 92px;
  width: 92px;
}
.nibodjvvrm86uCfnnAn4g.FillArea {
  height: 100%;
  width: 100%;
}
.ChatSpeaker.ChatRoomSpeaker .nibodjvvrm86uCfnnAn4g {
  transform: scale(1, 1) translateX(0px);
}
.nibodjvvrm86uCfnnAn4g ._3xUpb5DWXPFNcHHIcv-9pe.right,
.nibodjvvrm86uCfnnAn4g ._3xUpb5DWXPFNcHHIcv-9pe.bottom {
  display: block !important;
}
.ingame ._3xUpb5DWXPFNcHHIcv-9pe {
  background: linear-gradient(
    to bottom,
    #8cd61d 0%,
    #a1f410 30%,
    #a1f410 70%,
    #8cd61d 100%
  );
}
.ingame ._3xUpb5DWXPFNcHHIcv-9pe.GamepadMode,
.GamepadMode .ingame ._3xUpb5DWXPFNcHHIcv-9pe {
  background: #59bf40;
}
.offline ._3xUpb5DWXPFNcHHIcv-9pe.GamepadMode,
.GamepadMode .offline ._3xUpb5DWXPFNcHHIcv-9pe {
  background: #67707b;
}
.ingame .X-Large ._3xUpb5DWXPFNcHHIcv-9pe {
  background: #bff02b;
}
.watchingbroadcast ._3xUpb5DWXPFNcHHIcv-9pe {
  background: linear-gradient(
    to bottom,
    #9c8fd4 0%,
    #9c8fd4 30%,
    #9c8fd4 70%,
    #9c8fd4 100%
  );
}
.online ._3xUpb5DWXPFNcHHIcv-9pe {
  background: linear-gradient(
    to bottom,
    #6dcff6 0%,
    #6dcff6 30%,
    #6dcff6 70%,
    #6dcff6 100%
  );
}
.online ._3xUpb5DWXPFNcHHIcv-9pe.GamepadMode,
.GamepadMode .online ._3xUpb5DWXPFNcHHIcv-9pe {
  background: #4cb4ff;
}
.awayOrSnooze ._3xUpb5DWXPFNcHHIcv-9pe {
  -webkit-mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-y;
  -webkit-mask-size: 5px 5px;
  mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-y;
  mask-size: 5px 5px;
  opacity: 0.75;
}
.awayOrSnooze ._3xUpb5DWXPFNcHHIcv-9pe.GamepadMode,
.GamepadMode .awayOrSnooze ._3xUpb5DWXPFNcHHIcv-9pe {
  opacity: 1;
}
._3xUpb5DWXPFNcHHIcv-9pe.right {
  position: absolute;
  top: 0;
  bottom: 0;
  inset-inline-end: 0;
  width: 2px;
}
._3xUpb5DWXPFNcHHIcv-9pe.right.GamepadMode,
.GamepadMode ._3xUpb5DWXPFNcHHIcv-9pe.right {
  width: 3px;
  inset-inline-end: -3px;
}
._3xUpb5DWXPFNcHHIcv-9pe.bottom {
  position: absolute;
  bottom: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  height: 2px;
}
._3xUpb5DWXPFNcHHIcv-9pe.bottom.GamepadMode,
.GamepadMode ._3xUpb5DWXPFNcHHIcv-9pe.bottom {
  height: 3px;
  bottom: -3px;
}
.awayOrSnooze ._3xUpb5DWXPFNcHHIcv-9pe.bottom {
  -webkit-mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-x;
  mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-x;
}
.awayOrSnooze .X-Large ._3xUpb5DWXPFNcHHIcv-9pe.bottom {
  mask-size: 6px 6px;
  opacity: 1;
}
._3h-QRJGxnVOIExtHD1R0f2 {
  border: 1px solid #383c43;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.3);
  transition: filter .24s ease-in-out;
}
._3h-QRJGxnVOIExtHD1R0f2.GamepadMode,
.GamepadMode ._3h-QRJGxnVOIExtHD1R0f2 {
  border: 0px solid transparent;
  height: 100%;
  width: 100%;
}
.X_mJE4BYV5StDPwZhSiAu {
  position: absolute;
  top: 0;
}
.X_mJE4BYV5StDPwZhSiAu ._3fM0F85j3aWVzr4RJM9-eu {
  width: 100%;
  height: 100%;
}
.nibodjvvrm86uCfnnAn4g .X_mJE4BYV5StDPwZhSiAu {
  transform: scale(1.2);
}
.-HlDBB290kjpl61uUmRed {
  display: block;
  margin-bottom: 16px;
}
._2bT8irkKNnA5sxFG3MUXzH {
  object-fit: contain;
  display: block;
  width: 100%;
  top: 0;
  max-width: 100%;
  cursor: pointer;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  transform: scale(1);
  filter: saturate(0.85);
  transition: transform .21s ease-in-out, filter .21s ease-in-out;
}
._2bT8irkKNnA5sxFG3MUXzH:hover {
  filter: saturate(1);
  transform: scale(1.03);
}
.sGy-bB7uqEt4Hoe7U5iA1 {
  width: 1053px;
}
.mhii5hgMCQvO2tXOUdWPQ {
  display: none;
}
@media screen and (max-width: 940px) {
  .-HlDBB290kjpl61uUmRed {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .sGy-bB7uqEt4Hoe7U5iA1 {
    display: none;
  }
  .mhii5hgMCQvO2tXOUdWPQ {
    display: block;
    margin-bottom: 10px;
  }
}
