._3hJp_KxGfvcuBqWfaf-SG- {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
._3hJp_KxGfvcuBqWfaf-SG-:hover ._36Ep17J5IbAH9RqeTWa3Do {
  display: block;
}
._2ykD7mgR5-KRsYdM3I-JX9 {
  object-fit: fill;
  height: 100%;
  width: 100%;
  transition: opacity 0.6s ease 1s;
  opacity: 0;
  position: absolute;
}
._2SJkcB2oxKVh5rSLllpCrB {
  height: 100%;
  width: 100%;
  transition: opacity 0.6s ease 1s;
  opacity: 1;
  position: absolute;
}
._2b7SFRnkwN997n8tmPQbqF {
  position: absolute;
  z-index: 5;
  cursor: pointer;
}
._2b7SFRnkwN997n8tmPQbqF svg {
  width: 130px;
  height: auto;
}
._36Ep17J5IbAH9RqeTWa3Do {
  position: absolute;
  z-index: 5;
  right: 0;
  font-size: 13px;
  color: #fff;
  display: none;
}
._1GFC6TjYjXSR-MxCQkocw {
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  backdrop-filter: blur(6px);
  color: #dcdedf;
  scrollbar-width: none;
}
._1GFC6TjYjXSR-MxCQkocw ._1hQVCEKKm0686F2TQ5jKqZ {
  color: #1a9fff;
  cursor: pointer;
  transition: color 0.1s ease;
}
._1GFC6TjYjXSR-MxCQkocw ._1hQVCEKKm0686F2TQ5jKqZ:hover {
  color: #fff;
}
._1GFC6TjYjXSR-MxCQkocw ::-webkit-scrollbar {
  display: none;
}
.BasicUI ._1GFC6TjYjXSR-MxCQkocw {
  height: calc(100vh - 40px);
}
._2swWHiHYqMtbnwdXp4A-wT {
  height: 100%;
  width: 100%;
}
._2o_YH7iQcoTiVzhbh6shv6 {
  background: linear-gradient(180deg, #2a475e 0%, #1b2838 80%);
  display: flex;
  scroll-snap-align: center;
  overflow: hidden;
  margin: 0 auto;
  outline: none;
  transition: transform ease;
  transition-duration: 0.5s;
}
@media screen and (min-width: 960px) {
  ._2o_YH7iQcoTiVzhbh6shv6 {
    transform: scale(0.92);
  }
}
._2o_YH7iQcoTiVzhbh6shv6._2Xpm2jluqpPhvZkt4qV2la {
  transition-duration: 0.6s;
  transform: scale(1);
}
._1s3BJHclED7lkUNMZsGt50 {
  position: relative;
  margin: auto 0px;
  animation-name: _308QKMPfcc661MUswJKlCt;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  animation-delay: 0s;
}
.BasicUI ._1s3BJHclED7lkUNMZsGt50 {
  max-width: initial;
}
@keyframes _308QKMPfcc661MUswJKlCt {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
._2XCS5oeY4-ddcFgh5cOruf {
  position: relative;
  width: 70%;
  min-width: 70%;
  height: 100%;
}
._2XCS5oeY4-ddcFgh5cOruf ._2vb6rnNxdzE01NeBM5YdEi {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 2px;
  z-index: 1;
  background-color: #99d4ff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
  padding: 2px 6px;
  opacity: 0;
  transform: translateX(calc(-100% - 8px));
  transition:
    opacity 0.2s cubic-bezier(0.32, 0, 0.67, 0),
    transform 0.2s cubic-bezier(0.32, 0, 0.67, 0);
}
._2XCS5oeY4-ddcFgh5cOruf ._2vb6rnNxdzE01NeBM5YdEi._2EDE0vOBIh9RPCPHvbgs_n {
  opacity: 1;
  transform: translateX(0px);
  transition:
    opacity 0.1s ease,
    transform 0.2s ease;
}
._2XCS5oeY4-ddcFgh5cOruf ._2mYU2X9tzK4C92Xu5L72wF {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}
._2E1O4WYjWuzY7dNtYgcgO4 {
  color: #fff;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: default;
}
._2E1O4WYjWuzY7dNtYgcgO4 ._3LnWP6csXkd0C81SKVx1z6 {
  padding: calc(8px + 0.6vw);
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  row-gap: 8px;
  overflow: scroll;
  -webkit-mask-image: linear-gradient(black 94%, transparent);
  scrollbar-width: none;
}
.BasicUI ._2E1O4WYjWuzY7dNtYgcgO4 ._3LnWP6csXkd0C81SKVx1z6 {
  padding: 12px;
}
._1Qn-xpwWsz9uDh7keTa5_e {
  color: #fff;
  display: flex;
}
._1Qn-xpwWsz9uDh7keTa5_e ._1TDRhABqDQLl136zPciHCp {
  width: calc(20px + 3vw);
  height: calc(30px + 4.5vw);
  margin-right: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
}
@media screen and (max-width: 1200px) {
  ._1Qn-xpwWsz9uDh7keTa5_e ._1TDRhABqDQLl136zPciHCp {
    display: none;
  }
}
._1Qn-xpwWsz9uDh7keTa5_e ._35mWvKHX_Weq1W6CNnB-qW {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
._1Qn-xpwWsz9uDh7keTa5_e ._35mWvKHX_Weq1W6CNnB-qW ._3KC4Wk41W4rHQrtLDPRWaW {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  color: #fff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  ._1Qn-xpwWsz9uDh7keTa5_e ._35mWvKHX_Weq1W6CNnB-qW {
    font-size: 15px;
  }
}
._1t4JVhBNqhvqwALl67ZbJ4 {
  display: flex;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(
    to right,
    black calc(100% - 32px),
    transparent calc(100% - 8px)
  );
  margin-right: -16px;
  overflow: hidden;
  min-height: 21px;
}
.BasicUI ._1t4JVhBNqhvqwALl67ZbJ4 {
  margin-right: -12px;
}
._1t4JVhBNqhvqwALl67ZbJ4 .UNDKTpLih2ZEzV2uoExnM {
  background: rgba(14, 20, 27, 0.3);
  border-radius: 2px;
  font-size: 12px;
  margin-right: 4px;
  padding: 2px 6px;
  color: var(--gpStoreLighterGrey);
}
._2lVXSaQlYWCt5Qiljpw2LG .ReviewScore {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  padding: unset;
}
.BasicUI ._2lVXSaQlYWCt5Qiljpw2LG .ReviewScore {
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  ._2lVXSaQlYWCt5Qiljpw2LG .ReviewScore {
    font-size: 12px;
  }
}
.FGuCnuJCMLeJqxHKPRzPh {
  padding: 0;
  border-top: 1px solid #acb2c924;
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
  overflow: hidden;
}
._1HcOXSc7ZslGPDMKsqeBKz {
  flex-grow: 1;
}
._3I77jXI6J1pDAIej5-hW9Y {
  font-size: 12px;
  color: var(--gpStoreLighterGrey);
  margin-bottom: 2px;
  margin-top: 0px;
  display: flex;
}
.qKF9PlhJmugxbs5G5Riyo {
  align-self: flex-start;
}
.qKF9PlhJmugxbs5G5Riyo svg {
  width: 12px;
  fill: var(--gpStoreLighterGrey);
  vertical-align: text-top;
  margin-right: 5px;
}
._2OinPLGN1p5S6s1Xe7f-VZ {
  font-size: 12px;
  margin-bottom: -8px;
}
.BasicUI ._2OinPLGN1p5S6s1Xe7f-VZ {
  display: none;
}
._2bIsfpoa-eV0PgvvU5OZ4h {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: calc(8px + 0.6vw);
  padding-top: 0px;
}
._2bIsfpoa-eV0PgvvU5OZ4h ._10l0MHL_aG0U61HtflsHNz {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
._2bIsfpoa-eV0PgvvU5OZ4h ._10l0MHL_aG0U61HtflsHNz ._19cHbMq9PdFCW_3QFPwc9b {
  flex-grow: 1;
}
._2bIsfpoa-eV0PgvvU5OZ4h ._1XcPEQrnVxyreWHDFGh6Z9 {
  display: flex;
  gap: 3%;
}
._2TOx2eR7ThuU0OEKVeK9Nx {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
}
._2TOx2eR7ThuU0OEKVeK9Nx::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(64px);
}
._3ZUUI1o3Fji-5Qrb9UW659 {
  width: 100%;
  height: 100%;
}
._2e3_oKhctL2kiv8plDyrEy {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  z-index: 0;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 16px;
  background-color: rgba(33, 52, 71, 0.6);
  opacity: 0;
  backdrop-filter: blur(0px);
  transition: opacity 0.2s ease 0.1s;
}
._2e3_oKhctL2kiv8plDyrEy._2EDE0vOBIh9RPCPHvbgs_n {
  opacity: 1;
  backdrop-filter: blur(40px);
  transition: opacity 0.2s ease;
  z-index: 100;
}
._2e3_oKhctL2kiv8plDyrEy ._130E6kcqrzNENM_e5lXWGn {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
  position: absolute;
  width: 100%;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  opacity: 0;
  transform: translateY(32px);
  transition:
    opacity 0.1s ease-in,
    transform 0.15s ease-in;
}
._2e3_oKhctL2kiv8plDyrEy ._130E6kcqrzNENM_e5lXWGn ._1QXC5CNnvMV-AjMX17LEZd {
  font-size: 20px;
  font-weight: 500;
}
._2e3_oKhctL2kiv8plDyrEy ._130E6kcqrzNENM_e5lXWGn ._3RVP5s8xFVx-TdiJVcjwpH {
  font-size: 14px;
  opacity: 0.8;
  padding-bottom: 16px;
  border-bottom: 1px solid #acb2c924;
  width: 50%;
  text-align: center;
}
.BasicUI
  ._2e3_oKhctL2kiv8plDyrEy
  ._130E6kcqrzNENM_e5lXWGn
  .wC564vWsox_ycv5ypDufV {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: unset;
}
._2e3_oKhctL2kiv8plDyrEy ._130E6kcqrzNENM_e5lXWGn._2EDE0vOBIh9RPCPHvbgs_n {
  opacity: 1;
  transform: translateY(0px);
  transition:
    opacity 0.3s ease,
    transform 0.4s ease;
}
._3bAqJJ-foVitSEpb9xFPYK {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
._1SpsGsdAn1eZ-3UlS2Ae5Y {
  vertical-align: text-top;
}
.M522oEeyn-bo6wj_JyDQ3 {
  display: flex;
  flex-direction: column;
  color: var(--gpStoreLighterGrey);
  justify-content: center;
  align-items: center;
  row-gap: 12px;
  user-select: none;
  flex: auto;
}
.M522oEeyn-bo6wj_JyDQ3 .W4ekXIN9jxzThHQkPOuiC {
  font-size: calc(12px + 0.8vw);
  text-align: center;
  color: #fff;
  font-weight: 700;
}
.M522oEeyn-bo6wj_JyDQ3 ._8PO3T1uPD2sskE7fyj_bP {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
}
.M522oEeyn-bo6wj_JyDQ3 ._1b0jZ4K0RB0I0ENvYTlHty {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  max-width: 720px;
}
.M522oEeyn-bo6wj_JyDQ3
  ._1b0jZ4K0RB0I0ENvYTlHty
  ._12SabxrAEFweNs36zYUA0G:nth-child(2) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.M522oEeyn-bo6wj_JyDQ3 ._1b0jZ4K0RB0I0ENvYTlHty ._12SabxrAEFweNs36zYUA0G {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px;
  padding-bottom: 0px;
}
.M522oEeyn-bo6wj_JyDQ3
  ._1b0jZ4K0RB0I0ENvYTlHty
  ._12SabxrAEFweNs36zYUA0G
  ._1vnt8x0_S3ZYgCDxhwk9Zu {
  font-weight: 700;
  font-size: 12px;
}
.M522oEeyn-bo6wj_JyDQ3
  ._1b0jZ4K0RB0I0ENvYTlHty
  ._12SabxrAEFweNs36zYUA0G
  .-Q4Axz0-oCVdqx-HyClje {
  font-size: calc(22px + 0.4vw);
  color: #fff;
  font-weight: 800;
}
.M522oEeyn-bo6wj_JyDQ3
  ._1b0jZ4K0RB0I0ENvYTlHty
  ._12SabxrAEFweNs36zYUA0G
  ._1FQzN1EB30CmChaOQl4FJ3 {
  font-size: 14px;
}
.M522oEeyn-bo6wj_JyDQ3 ._1hRNcV1b-eZd3lNr6oI9VV {
  display: flex;
  column-gap: 8px;
  margin-top: 1vw;
}
._24gmm3gM0Km6XYQtbgKs8g {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  padding-left: 16px;
  align-items: center;
  align-self: normal;
  animation-name: _2Gt6GkC0b34_LEEd95aMXd;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
._24gmm3gM0Km6XYQtbgKs8g._2xo1mKKqIA_FTpvTu9-bhE {
  margin-top: 40px;
}
.YW9PrtoZAcR2gHNWf3_rG {
  display: flex;
  padding: 8px;
  padding-left: 16px;
  align-items: center;
  align-self: normal;
  font-size: 12px;
  opacity: 0.7;
}
.YW9PrtoZAcR2gHNWf3_rG ._3bCDZVQlDJ8YnLQLC-CzwC {
  color: #fff;
  text-decoration: underline;
}
@keyframes _2Gt6GkC0b34_LEEd95aMXd {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
._3bCDZVQlDJ8YnLQLC-CzwC {
  display: inline-block;
  color: #1a9fff;
  cursor: pointer;
  padding: 2px 4px;
  transition:
    color 0.1s ease,
    background-color 0.1s ease;
}
._3bCDZVQlDJ8YnLQLC-CzwC:hover {
  color: #fff;
  background-color: #acb2c924;
  border-radius: 2px;
}
._3bCDZVQlDJ8YnLQLC-CzwC:visited {
  color: #1a9fff;
}
._3bCDZVQlDJ8YnLQLC-CzwC.gpfocus {
  color: #fff;
  background-color: #acb2c924;
}
._3UbRlxSTJEmIefFmWrlqoB {
  display: flex;
  column-gap: 8px;
}
._19cHbMq9PdFCW_3QFPwc9b {
  min-width: 10px;
  color: #dcdedf;
  font-size: 16px;
  line-height: 20px;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  position: relative;
  background-color: #acb2c924;
  cursor: pointer;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  padding: 8px 16px;
  transition:
    background-color 0.1s ease,
    border-radius 0.1s ease;
}
._19cHbMq9PdFCW_3QFPwc9b._1yh4oNhQcC0bRP3IZCPkPb {
  opacity: 0.4;
  cursor: default;
}
._19cHbMq9PdFCW_3QFPwc9b._1ZYKEu44O80nIIoL2UpqY6 {
  background-color: #1a9fff;
  color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}
._19cHbMq9PdFCW_3QFPwc9b._1ZYKEu44O80nIIoL2UpqY6:hover:not(
    ._1yh4oNhQcC0bRP3IZCPkPb
  ) {
  background-color: #0bf;
}
._19cHbMq9PdFCW_3QFPwc9b.uZjq4gPY7W1sLpncBvF_S {
  background-color: #59bf40;
}
._19cHbMq9PdFCW_3QFPwc9b.SD-xULu43Og64mhCqi-hh {
  padding: 12px 40px;
}
._19cHbMq9PdFCW_3QFPwc9b svg {
  width: 16px;
  transition: fill 0.1s ease;
}
._19cHbMq9PdFCW_3QFPwc9b:hover:not(._1yh4oNhQcC0bRP3IZCPkPb) {
  background-color: #acb2c947;
}
._19cHbMq9PdFCW_3QFPwc9b.gpfocus {
  background-color: #fff;
  border-radius: 0px;
}
._19cHbMq9PdFCW_3QFPwc9b.gpfocus svg {
  fill: #0e141b;
}
@media screen and (max-width: 1200px) {
  ._19cHbMq9PdFCW_3QFPwc9b {
    font-size: 13px;
    line-height: 15px;
  }
}
._1kgdoykEjmj1HD-vK-Ljp5 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%) scale(0.92);
  border-radius: 50%;
  display: none;
  background-color: rgba(103, 112, 123, 0.6);
  backdrop-filter: blur(24px);
  box-shadow:
    0px 12px 16px rgba(0, 0, 0, 0.3),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  transition:
    background-color ease,
    box-shadow ease,
    transform ease,
    opacity ease;
  transition-duration: 0.3s;
}
._1kgdoykEjmj1HD-vK-Ljp5 svg {
  width: 32px;
  height: 32px;
  color: #fff;
  transition: color ease;
  transition-duration: 0.3s;
}
._1kgdoykEjmj1HD-vK-Ljp5:hover {
  background-color: #fff;
  box-shadow:
    0px 16px 18px rgba(0, 0, 0, 0.4),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  transform: translateY(-50%) scale(1);
  transition-duration: 0.06s;
}
._1kgdoykEjmj1HD-vK-Ljp5:hover svg {
  transition-duration: 0.06s;
  color: #0e141b;
}
._1kgdoykEjmj1HD-vK-Ljp5._1hqwMmNNA3kIQjARtartBc {
  display: flex;
}
._1kgdoykEjmj1HD-vK-Ljp5:active {
  opacity: 0.9;
  transform: translateY(-50%) scale(0.96);
}
._1kgdoykEjmj1HD-vK-Ljp5._1ZHCC8f9izvSQQmPp_Eypj {
  right: 2vw;
}
._1kgdoykEjmj1HD-vK-Ljp5._1ZHCC8f9izvSQQmPp_Eypj svg {
  margin: 20px 18px 20px 22px;
}
._1kgdoykEjmj1HD-vK-Ljp5._3BctdD5E_AKBT6H4LnamxK {
  left: 2vw;
}
._1kgdoykEjmj1HD-vK-Ljp5._3BctdD5E_AKBT6H4LnamxK svg {
  margin: 20px 22px 20px 18px;
}
.BasicUI ._1kgdoykEjmj1HD-vK-Ljp5 {
  display: none;
}
._3wqiWOivjfAAvQoxlfz8a8 {
  display: flex;
  margin: 4px 0px 0px 0px;
  column-gap: 4px;
}
.II031elGhwJaddnX6q1XI img {
  width: 28px;
}
.WBWfZf2g2j5nsEYOaj6wC {
  font-size: 12px;
  color: var(--gpStoreLighterGrey);
  margin-bottom: 2px;
  font-weight: 700;
}
._2oeoSHx3W89cVkmrwtH9Nx {
  display: flex;
}
._2eNyYCFzBoljqX6LsIkF9s {
  width: 80px;
  box-shadow: var(--gpShadow-Small);
  margin-right: 5px;
  display: block;
}
._3MS2G4FwHHBpQbqdIL8iHk {
  font-size: 12px;
  color: var(--gpStoreLighterGrey);
}
.kOfo-820yKLRs2Pus89kJ {
  display: flex;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(
    to right,
    black calc(100% - 32px),
    transparent calc(100% - 8px)
  );
  margin-right: -16px;
  margin-top: 2px;
}
._2FiP4-8V1dSUc9PgRos4Lb {
  font-weight: bold;
}
.Kzj5Imp3SCGHJSD-O5VVr {
  font-size: 12px;
  color: var(--gpStoreLighterGrey);
  padding: 0;
  line-height: 18px;
}
._36Qbj4GIdrhv2f_uX7vsLZ {
  display: flex;
  background: #83beec1f;
  padding: 16px 1vw;
  align-items: center;
  color: var(--gpStoreLighterGrey);
  width: 28%;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
}
._36Qbj4GIdrhv2f_uX7vsLZ ._3wa0dk07B7jK4ewgy8yxJu {
  transform: rotate(-10deg);
  filter: drop-shadow(0px 8px 6px #00000022);
}
@media screen and (max-width: 1400px) {
  ._36Qbj4GIdrhv2f_uX7vsLZ ._3wa0dk07B7jK4ewgy8yxJu {
    width: 100px;
  }
}
@media screen and (max-width: 1400px) {
  ._36Qbj4GIdrhv2f_uX7vsLZ {
    font-size: 14px;
  }
}
._1SxI5ayhi5f2b4w_SthlVG {
  font-weight: 700;
}
._2a8FgCmh-veVpUTOZeCtd6 {
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  min-width: 200px;
  border-radius: 3px;
  padding: 3px 20px 3px 3px;
}
._2a8FgCmh-veVpUTOZeCtd6 ._3HMhzN_MiPPWODIFbdnJUO {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4px;
}
.ContentHubMainCarouselCapsule .WBWfZf2g2j5nsEYOaj6wC {
  font-size: 15px;
}
._1IvtAxW82ld9UeJbL3ZsOi {
  text-align: center;
  margin-top: 16px;
}
._1IvtAxW82ld9UeJbL3ZsOi ._2f92W7wZ-CFPAcp8T5RURM {
  margin-left: 4px;
  margin-right: 4px;
  opacity: 30%;
}
._1IvtAxW82ld9UeJbL3ZsOi ._2oIovOj2h79JrSKRJENJ7H {
  opacity: 80%;
}
._1IvtAxW82ld9UeJbL3ZsOi .n2UAYkLpCKtsqZYHTKWn_ {
  opacity: 0%;
}
._1hDU6OrNPboWPC_QOXnFAn {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  font-weight: bold;
  opacity: 80%;
}
._1LXqxVtAL8Lmy7J7rLSVit {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #121b24;
  box-shadow: 0px 1px 0px #203345;
  border-radius: 4px;
  width: fit-content;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  position: fixed;
  min-width: 300px;
}
.BasicUI ._1LXqxVtAL8Lmy7J7rLSVit {
  width: auto;
  position: initial;
  transform: none;
  z-index: 0;
}
.co4IP1iV1813n9UgG3h5f {
  color: #1a9fff;
  cursor: pointer;
  transition: color 0.1s ease;
  font-size: 14px;
  margin: 0 15px;
}
.co4IP1iV1813n9UgG3h5f:hover {
  color: #fff;
}
.ZyOLslFdmnVjR1OGpRaue {
  width: 80px;
}
.bfN8kdqVDI58Ly1qiSuT_ {
  width: 12px;
  vertical-align: middle;
  cursor: pointer;
  margin-left: auto;
  display: flex;
}
._1FD7rgQVEqkzjDjzYa-1BC {
  vertical-align: sub;
  margin-left: 10px;
}
