._2Jd3MGaOu0C9Ydswf8Q4Tn {
  padding-top: 5px;
}
._2Jd3MGaOu0C9Ydswf8Q4Tn h2 {
  font-family: "Motiva Sans", Arial, Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 2px;
  font-weight: normal;
  padding-top: 2px;
}
@media screen and (max-width: 910px) {
  ._3YyCpH32HRhZtt4BOM5wM5 {
    margin-top: 58px;
  }
}
._1HP0yfVUrZ-TPBYhiQkye2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: -21px;
  margin-top: -5px;
}
._3n8swQFM3I_ARVM_5bPhAs {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  padding: 2px 15px;
  line-height: normal;
  width: fit-content;
  cursor: pointer;
  position: relative;
  bottom: 30px;
}
._3n8swQFM3I_ARVM_5bPhAs:hover {
  border: 1px solid #fff;
}
._1snIw0RvJduvDtqpmwtKJ9 {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow-x: auto;
}
.BasicUI ._1snIw0RvJduvDtqpmwtKJ9 {
  margin: unset;
  gap: var(--gpSpace-Gap);
}
._2vEwZPNBe2qcTuxZf5cpiD {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mq3ROvmcn5_HdCKG6JXDa {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.mq3ROvmcn5_HdCKG6JXDa svg {
  height: 20px;
  width: 20px;
  fill: #fff;
}
._1TRFtE8IfXpDQ_loHnB_bU {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 5px 15px;
  line-height: normal;
  width: fit-content;
  cursor: pointer;
}
._1TRFtE8IfXpDQ_loHnB_bU:hover {
  border: 1px solid #fff;
}
._1cSpOjJvmGfNyu_HSwichZ {
  position: relative;
}
._8NQ9LUIbLO71H08qAYXDd {
  position: relative;
}
.HRcOMhFkaVvhc6JpjMSNL {
  position: relative;
  border-top: 1px solid #3d4450;
  padding-top: 10px;
}
._3MI2hkWsuzXcyDAibpwe7B {
  width: 100%;
  padding: 20px 10px 10px 10px;
  box-sizing: border-box;
  background: rgba(59, 63, 72, 0.5);
  margin-bottom: 8px;
  border-radius: 4px;
}
._3MI2hkWsuzXcyDAibpwe7B ._1ZsnsCKJmsJuCu04nd93lM {
  font-size: 19px;
  color: #fff;
  line-height: 19px;
  font-weight: 300;
  margin-right: 12px;
}
._3MI2hkWsuzXcyDAibpwe7B.h-qBFnVYUuO1I4P-cSkTz {
  background: rgba(57, 78, 38, 0.5);
}
._3MI2hkWsuzXcyDAibpwe7B.h-qBFnVYUuO1I4P-cSkTz ._2vXmupKkh6p2BaA0K6CB5O {
  display: block;
}
._3MI2hkWsuzXcyDAibpwe7B.aBLy2PQkdVwQn6JBG8BN8 {
  background: rgba(157, 78, 38, 0.5);
}
._3MI2hkWsuzXcyDAibpwe7B.aBLy2PQkdVwQn6JBG8BN8 ._2vXmupKkh6p2BaA0K6CB5O {
  display: block;
}
._2vXmupKkh6p2BaA0K6CB5O {
  color: #d2e885;
  font-size: 11px;
}
._10_gLIbT6bnwWVSfTW2WSX {
  color: #e8bd85;
  font-size: 11px;
}
._10_gLIbT6bnwWVSfTW2WSX.nNzd6ujTYg6p9F7pRvFWy {
  display: block;
}
._3NT8sO_AexM1KIu_MODBhK {
  min-width: 150px;
  width: 30%;
  margin-bottom: 8px;
}
._3lbycruUbHtprPAsZH1xvl {
  min-width: 150px;
}
.iN4AtnUn7apNTMq-bbs1m {
  width: 100%;
  align-items: center;
}
.iN4AtnUn7apNTMq-bbs1m > div {
  flex-grow: 1;
}
.iN4AtnUn7apNTMq-bbs1m > a {
  height: fit-content;
  margin-left: 12px;
}
._1ZZ510SPBPFH5AkrGEHFfu {
  color: darkred;
}
._1XamDYGOmN-CAK2C5na9a5 {
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin: 8px 0px;
  color: #fff;
}
._2Hlrm7BUntwygz545o3zQI a {
  margin-top: 8px;
  display: inline-block;
}
.admin_content textarea._2mOAhPzeuYmAf5zGBOdp7F {
  width: 80vw;
  max-width: 570px;
  height: 400px;
  cursor: text;
  background: transparent;
  color: wheat;
  font-size: 14px;
  border: 1px solid #464c58;
  padding: 10px;
  border-radius: 4px;
}
._13jSBmDO_a-9t1cIUiiQGm {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  justify-content: start;
}
._13jSBmDO_a-9t1cIUiiQGm ._3HssDlgWiXjyOyu8qdcc-K {
  margin-right: 4px;
  display: block;
}
._13jSBmDO_a-9t1cIUiiQGm ._2jvHrB2MnyHMk3_BUfXjgt {
  margin-left: auto;
  text-decoration: underline;
}
._13jSBmDO_a-9t1cIUiiQGm ._2jvHrB2MnyHMk3_BUfXjgt:hover {
  color: #fff;
  cursor: pointer;
}
.g_9tLawSDdTk6NiUPTRzd {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(59, 63, 72, 0.5);
  color: #dfe3e6;
  font-size: 14px;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0px 0px 16px 0px;
  padding: 6px 6px 6px 12px;
  border: none;
  border-radius: 3px;
}
.g_9tLawSDdTk6NiUPTRzd ._2jkBiax2j-5uGiCq-TfyS0 {
  font-weight: 400;
  margin-right: 4px;
}
.g_9tLawSDdTk6NiUPTRzd ._2zsMrGyxcvlo1yieM1i0d8 {
  flex-grow: 1;
  text-transform: capitalize;
}
._3P-ffy_ncZSHdpLyO6f0qi {
  min-height: 250px;
}
._2lc8mXoJp_A_p2dgalucda {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
._29RNNuE5kdZltMEtl37JLr {
  max-width: 50px;
}
._2D4XHyOtJNCevYR8usMUTn {
  width: 100%;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  background: #262626;
  margin-bottom: 8px;
  box-sizing: border-box;
  padding: 12px;
}
._2D4XHyOtJNCevYR8usMUTn .GKustVJ6kwH-yfSnQEsoc {
  max-width: 600px;
  min-width: 300px;
}
._1s_ElWG5sLvC6jn5bmx5lY {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
._1eWgIJNhXTPC8_jGAIqKPo {
  color: darkred;
}
.f6z__AuHw6SOG9zsY2oKr {
  margin-bottom: 10px;
}
.f6z__AuHw6SOG9zsY2oKr > div {
  display: inline;
}
.f6z__AuHw6SOG9zsY2oKr > span {
  display: block;
}
._3nNMeqxuySIiNcmt7YEXb7 {
  cursor: pointer;
}
._1YGfWUDh8ed60wRQsWWNIF {
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 6px;
}
.rH1DtJyqgJLBkBSxST7Pr {
  color: darkred;
}
._4HRKpSC9YY7qtf41FvW0t {
  padding: 10px;
}
._4HRKpSC9YY7qtf41FvW0t .qY07Ts46PtC9f_CkGYbuw {
  min-width: 160px;
}
._3oU1yN2Yb-ZuT2P5rHAev9 {
  background-color: #a9a9a9;
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}
._3oU1yN2Yb-ZuT2P5rHAev9 a:hover {
  color: aqua;
}
._3oU1yN2Yb-ZuT2P5rHAev9 .VcJpZMvg6yg6gvjet_lOL ._1RqKA7hTv6bcBGrMlmJBgz,
._3oU1yN2Yb-ZuT2P5rHAev9 .VcJpZMvg6yg6gvjet_lOL .qd-K7NHXOsYzDV3efizgo {
  background: #800;
}
._3oU1yN2Yb-ZuT2P5rHAev9 .VcJpZMvg6yg6gvjet_lOL ._1RqKA7hTv6bcBGrMlmJBgz:hover,
._3oU1yN2Yb-ZuT2P5rHAev9 .VcJpZMvg6yg6gvjet_lOL .qd-K7NHXOsYzDV3efizgo:hover {
  background: #a00;
}
._34-bq70a3KzZ-vVd1v8whZ {
  background-color: #f5dcaf;
}
._3LUrW7wuVtojLL2n5z-MO5 {
  color: darkred;
}
._36tP88olexdONuQPMAH7wS {
  height: fit-content;
  position: relative;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}
._36tP88olexdONuQPMAH7wS img {
  width: 400px;
  height: 255px;
}
._36tP88olexdONuQPMAH7wS:hover {
  box-shadow: 0 0 12px #000;
}
._16oQL8__nFx7gB4SyJaXss {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #eaa;
  text-transform: uppercase;
  text-shadow: 0 0 20px #000;
}
._1onVFUCJL4w1GOc9-5H6Me {
  box-sizing: border-box;
  width: 400px;
  height: 255px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #eaa;
  text-transform: uppercase;
  text-shadow: 0 0 20px #000;
}
._2mRup7CUbcaFul1JHh9EZE {
  display: flex;
  flex-direction: row;
  color: #000;
  padding: 12px;
  width: 100%;
}
._1O0y5744ePZj3bJR1znj1i {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 33%;
}
._1O0y5744ePZj3bJR1znj1i ._3ahHdkXDTdAX8N8qrlTO2A {
  font-size: 21px;
  display: inline-block;
  margin-bottom: 6px;
  color: #000;
}
._1O0y5744ePZj3bJR1znj1i ._3ahHdkXDTdAX8N8qrlTO2A:hover {
  color: #008;
}
._2BaxWyhld4ybAPEQ6OWPMr {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 33%;
  padding-left: 10px;
}
._2BaxWyhld4ybAPEQ6OWPMr ._38IkFA1-NC1J4Nksi3nRFA {
  color: green;
}
._2BaxWyhld4ybAPEQ6OWPMr ._2oUPYZHA2_Ta4GuTcTZbgd {
  color: #ff0;
}
.VcJpZMvg6yg6gvjet_lOL {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 33%;
  padding-left: 10px;
}
.VcJpZMvg6yg6gvjet_lOL button {
  margin-bottom: 10px;
}
._2JGGc489-CEXdtyThZ-oQB {
  margin-top: 15px;
}
._2JGGc489-CEXdtyThZ-oQB input[type="checkbox"] + label {
  background-color: tan;
  padding: 4px;
  color: #000;
}
._2JGGc489-CEXdtyThZ-oQB input[type="checkbox"]:checked + label {
  background-color: green;
  padding: 4px;
  color: #fff;
}
._1OG__rbIbfwvZHVxRtcncy {
  font-size: 25px;
}
._2IJ__vdWVbYb-buHnhzfnA {
  padding: 0px;
}
._2X75q8B3vbGNtefxcW3jV7 {
  font-weight: bolder;
}
._2X75q8B3vbGNtefxcW3jV7 div {
  width: fit-content;
}
._2X75q8B3vbGNtefxcW3jV7 a {
  color: #000;
  font-size: 14px;
  display: inline-block;
}
._2X75q8B3vbGNtefxcW3jV7 a:hover {
  color: #008;
}
._1rVmL1div0uHwyMqwlJixh {
  width: 150px;
  height: auto;
}
._1rVmL1div0uHwyMqwlJixh:hover {
  box-shadow: 0 0 12px #000;
}
.aaFuCFgI5Fl32h2pWEEfN {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.yJw1iGP3a49nfGpsJLTX {
  font-weight: bold;
  font-size: 14px;
}
.xSOgV1OP-kC1LOJB_U6Lh {
  max-width: 200px;
}
._1VSAjVr5FVxM5XYWbK0drT {
  height: 400px;
}
h4 {
  margin-bottom: 5px;
}
.wu9KrcTvKBuVbK28hlB7O {
  border: 1px gray outset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.XDAwDPCqcUwPgADyyo1I3 {
  text-transform: uppercase;
}
._2cW9NG6Q7uWRVnhAwe3juu {
  display: flex;
}
@media screen and (max-width: 910px) {
  ._3U7jaAVOEBb0gDtFK1AkVR {
    margin-top: 58px;
  }
}
._2x7zHBXixihuRXX3Rjt_0s {
  font-size: 16px;
  margin-bottom: 4px;
}
._31d_RSG49SZFyfID3s5Z4G {
  padding: 8px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  background-color: #888;
}
._1z1xtCOtqCzGGGDRR-dRFr {
  font-size: 16px;
}
.H__RKLMfFToIYF83TuW3k {
  margin-top: auto;
}
._2PcmCd2KPADlMtBUq-mAxi {
  background-color: #400;
  color: #fff;
  font-size: 14px;
  margin-top: 4px;
  padding: 6px;
  width: fit-content;
}
/*!
 * https://github.com/arqex/react-datetime
 */ .rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  min-width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}
.rdtPicker .rdtTimeToggle {
  text-align: center;
}
.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: "";
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed;
}
.rdtPicker td span.rdtOld {
  color: #999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}
.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-of-type th {
  cursor: pointer;
}
.rdtPicker thead tr:first-of-type th:hover {
  background: #eee;
}
.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}
.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}
.rdtPicker thead button {
  width: 100%;
  height: 100%;
}
td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}
.rdtCounters {
  display: inline-block;
}
.rdtCounters > div {
  float: left;
}
.rdtCounter {
  height: 100px;
}
.rdtCounter {
  width: 40px;
}
.rdtCounterSeparator {
  line-height: 100px;
}
.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}
.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}
.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}
.rdtTime td {
  cursor: default;
}
._1FFwlWIoDrtb0qdN9YUwHs {
  overflow: hidden !important;
  scrollbar-gutter: stable;
}
@media screen and (max-width: 730px) {
  ._1FFwlWIoDrtb0qdN9YUwHs {
    scrollbar-gutter: initial;
  }
}
.GXjJQihysg6S5INBKClED {
  position: relative;
  display: inline-block;
  width: auto;
  height: 32px;
}
._1dm-6uzq_x5Gqo421G3a1r {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #0e141b;
  border-radius: 28px;
  max-height: 34px;
  padding: 3px 12px;
  box-shadow: none;
  right: unset;
  overflow: hidden;
}
.BasicUI ._1dm-6uzq_x5Gqo421G3a1r {
  display: inline-flex;
}
.GXjJQihysg6S5INBKClED:hover ._1dm-6uzq_x5Gqo421G3a1r {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 10;
  width: max-content;
  overflow: visible;
  box-shadow: 0px 6px 12px rgba(11, 27, 41, 0.2);
}
html.responsive.touch .GXjJQihysg6S5INBKClED:hover ._1dm-6uzq_x5Gqo421G3a1r {
  position: relative;
  left: unset;
  transform: unset;
}
@media screen and (max-width: 910px) {
  html.responsive .GXjJQihysg6S5INBKClED:hover ._1dm-6uzq_x5Gqo421G3a1r {
    position: relative;
    left: unset;
    transform: unset;
  }
}
.GXjJQihysg6S5INBKClED:hover ._1dm-6uzq_x5Gqo421G3a1r .WishlistButtonText {
  text-shadow: none;
  text-wrap: nowrap;
  white-space: nowrap;
  font-size: 14px;
  color: #0e141b;
  font-weight: 600;
  line-height: 16px;
}
.BasicUI ._1dm-6uzq_x5Gqo421G3a1r .WishlistButtonText {
  text-shadow: none !important;
  text-wrap: nowrap;
  white-space: nowrap;
  font-size: 14px;
  color: #0e141b !important;
  font-weight: 600;
  line-height: 16px;
}
html.responsive.touch ._1dm-6uzq_x5Gqo421G3a1r .WishlistButtonText {
  text-shadow: none !important;
  text-wrap: nowrap;
  white-space: nowrap;
  font-size: 14px;
  color: #0e141b !important;
  font-weight: 600;
  line-height: 16px;
}
@media screen and (max-width: 910px) {
  html.responsive ._1dm-6uzq_x5Gqo421G3a1r .WishlistButtonText {
    text-shadow: none !important;
    text-wrap: nowrap;
    white-space: nowrap;
    font-size: 14px;
    color: #0e141b !important;
    font-weight: 600;
    line-height: 16px;
  }
}
.NVuxjpTCUClP-4RsNDDvk {
  position: relative;
  width: fit-content;
  justify-self: center;
  background: #fff;
  max-height: 32px;
  box-shadow: none;
  border-radius: 28px;
  padding: 8px 12px;
  color: #0e141b;
  right: unset;
  transition: all .2s ease-out;
}
.NVuxjpTCUClP-4RsNDDvk:hover {
  box-shadow: 0px 6px 12px rgba(11, 27, 41, 0.2);
}
.NVuxjpTCUClP-4RsNDDvk:hover .FollowGameButton {
  text-shadow: none;
  color: #0e141b;
  font-weight: 600;
}
.GWWacIf04lQysYMFJma0A {
  background: radial-gradient(
    100% 80% at 64% 95%,
    rgba(108, 119, 134, 0.4) 40%,
    rgba(83, 104, 104, 0.4) 100%
  );
  padding: 16px;
  border-radius: 4px;
}
.ATX_xEE69rX8wVxQvONEx {
  position: relative;
}
._11RwPICMOmmvNXkOq9bjPc {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 11px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
._11RwPICMOmmvNXkOq9bjPc .eh0pMnSr-nk203Ealq_Rq {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  width: 62px;
  padding-left: 14px;
  border-radius: 2px;
}
._11RwPICMOmmvNXkOq9bjPc ._3VKQ3h7Z4wO_U-Z_vXUZkk {
  font-size: 16px;
  display: inline;
  margin-left: 8px;
}
._1q98mjxkCUwQuFALsiNtD7 {
  position: relative;
}
.bEkRtFmRUW_smWksM-k9g {
  display: flex;
  color: #80caff;
  line-height: 37px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 12px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
._2LTFl4ZFuL1BeNbqYPExWv {
  display: inline;
  margin-right: 8px;
}
._2LTFl4ZFuL1BeNbqYPExWv .Z7ScP-i1XHPQn4eeFdJ3g {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  width: 62px;
  padding-left: 14px;
  border-radius: 2px;
}
._2LTFl4ZFuL1BeNbqYPExWv .chkuqox_QD6U5ID_AHTLk {
  display: inline;
  margin-left: 8px;
}
.BwHJdoHlv8wy5OypqL_b7 {
  position: relative;
  width: fit-content;
  display: inline-flex;
  background: #fff;
  max-height: 32px;
  box-shadow: none;
  border-radius: 28px;
  padding: 8px 12px;
  color: #0e141b;
  right: unset;
  transition: all .2s ease-out;
}
.BwHJdoHlv8wy5OypqL_b7 .FollowButton {
  text-shadow: none;
  color: #0e141b;
  background: #fff;
  box-shadow: none;
  font-weight: 600;
}
.BwHJdoHlv8wy5OypqL_b7 .FollowBtnText {
  font-size: 14px;
}
.BwHJdoHlv8wy5OypqL_b7 .SVGIcon_Check {
  stroke: #000;
}
.BwHJdoHlv8wy5OypqL_b7:hover .FollowButton {
  background: none;
  box-shadow: none;
  color: #0e141b;
}
.BwHJdoHlv8wy5OypqL_b7._2EcgCb9lHfl7I_MlirYLZL {
  box-shadow: 0 6px 12px rgba(11, 27, 41, 0.2);
  transform: translateY(-1px);
}
