._3oSHTIvUhbK90D9Uvj438V {
  display: flex;
  margin-bottom: 16px;
  border-bottom: 1px solid #67c1f5;
  align-items: flex-end;
  text-align: center;
  flex-wrap: wrap;
  gap: 16px;
}
._3lJb_YN8uykqLcm4eG1jRF {
  padding: 4px 12px;
  cursor: pointer;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  transition-property: border-bottom-color;
  transition-duration: .25s;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}
html.responsive.touch ._3lJb_YN8uykqLcm4eG1jRF {
  font-size: 12px;
}
@media screen and (max-width: 910px) {
  html:not(.force_desktop) ._3lJb_YN8uykqLcm4eG1jRF {
    font-size: 12px;
  }
}
._3lJb_YN8uykqLcm4eG1jRF._8XjrTFzaSA8ubHvHCu44L,
._3lJb_YN8uykqLcm4eG1jRF:hover {
  border-bottom-color: #67c1f5;
  cursor: default;
  cursor: pointer;
}
._25U4FBOpeZQAX-v-f9Yosb {
  text-transform: uppercase;
  font-size: 9px;
}
._3LaJynPDFfccGWUEtdltlt {
  font-size: 9px;
  color: #b22222;
}
._1iIRVlPDTEUMMEFuHgLGlq {
  color: #a4d007;
}
.UxdQKun4GcZ-B1NJwHevX {
  color: #e24044;
}
.E9t9jUT0k_0xGdy7HbJfd {
  color: #e76e34;
}
._1GICwsV-USjHjcokRCO32i {
  background-color: #0e141b;
  margin: 10px;
  padding: 20px;
}
._1GICwsV-USjHjcokRCO32i .AYHhNB9WZZdRWcPm20I_O {
  color: #fff;
  text-align: left;
  display: flex;
  align-items: center;
}
._1GICwsV-USjHjcokRCO32i .AYHhNB9WZZdRWcPm20I_O ._3LPMSQpCd5Dh0Tocxewoz1 {
  display: inline-block;
  vertical-align: middle;
}
._1GICwsV-USjHjcokRCO32i .AYHhNB9WZZdRWcPm20I_O ._3x3dDlfuVsF9BPonkyl0Gs {
  margin-right: 5px;
  font-weight: bold;
}
._1GICwsV-USjHjcokRCO32i .AYHhNB9WZZdRWcPm20I_O .boWA49TLaFWuuS_Ky4jMH {
  margin-right: 5px;
  margin-left: 5px;
  font-weight: bold;
  color: #1a9fff;
}
._1GICwsV-USjHjcokRCO32i .AYHhNB9WZZdRWcPm20I_O ._3BhC4y8ABw34stugO_WlSv {
  margin-right: 3px;
  display: inline-block;
  position: relative;
  top: 4px;
}
._1GICwsV-USjHjcokRCO32i .AYHhNB9WZZdRWcPm20I_O ._1NYqqNQkcNPs6ODhW3Ypqh {
  display: inline;
  white-space: nowrap;
}
._1GICwsV-USjHjcokRCO32i .EVV-aE5THCnYYlB0cbnGO {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
._1GICwsV-USjHjcokRCO32i .OKxvRrmFkD6Cbv6RU6Y7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
._1GICwsV-USjHjcokRCO32i ._1X5cbFGqhqwIKqeZJyMvCY {
  font-weight: bold;
  margin-left: 16px;
}
._1GICwsV-USjHjcokRCO32i ._32K94kiZEjBxfu4vkQbXWU {
  cursor: pointer;
  color: #1a9fff;
}
._1GICwsV-USjHjcokRCO32i .iZCbdcapOSWH8Bs2semvQ {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
}
._1GICwsV-USjHjcokRCO32i .iZCbdcapOSWH8Bs2semvQ ._34In_8oy6NEHpqq-u5b5h0 {
  flex-basis: 120px;
}
._1GICwsV-USjHjcokRCO32i .iZCbdcapOSWH8Bs2semvQ ._34In_8oy6NEHpqq-u5b5h0:hover {
  background-color: #1a9fff;
}
._1GICwsV-USjHjcokRCO32i .iZCbdcapOSWH8Bs2semvQ ._3CEsyOSHFq2lEntEwtgg1u {
  flex-basis: 120px;
}
._1GICwsV-USjHjcokRCO32i .iZCbdcapOSWH8Bs2semvQ ._3CEsyOSHFq2lEntEwtgg1u:hover {
  background-color: #de3618;
}
._1GICwsV-USjHjcokRCO32i ._20gCk09IqQIza6FC80pgIq {
  font-size: 16px;
  line-height: 18px;
}
._1GICwsV-USjHjcokRCO32i ._20gCk09IqQIza6FC80pgIq p {
  margin-bottom: 6px;
}
._3-_pKi5c78GisE2tgnAzly {
  background-color: #1f2a39;
  padding-bottom: 5px;
}
._3-_pKi5c78GisE2tgnAzly ._3zIHX47b2_-2BEnV4mv6AF {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
._3-_pKi5c78GisE2tgnAzly ._1j-XQvhcdMiYcBB3tYFDnM {
  padding: 10px 10px;
}
._3-_pKi5c78GisE2tgnAzly ._27iWdfYJ_Jr2hfkHCNphO6 {
  filter: brightness(40%);
}
._3-_pKi5c78GisE2tgnAzly ._2spwHF-2Z9jxpKmreqhL3_ {
  background-color: #0e141b;
  margin: 10px;
  padding: 16px;
  color: #fff;
  font-size: 16px;
}
._3-_pKi5c78GisE2tgnAzly ._34In_8oy6NEHpqq-u5b5h0 {
  width: auto;
  background-color: #1a9fff;
  padding: 2px 20px;
}
._3-_pKi5c78GisE2tgnAzly ._3CEsyOSHFq2lEntEwtgg1u {
  width: auto;
  background-color: #de3618;
  padding: 2px 20px;
  margin-left: 10px;
}
._3-_pKi5c78GisE2tgnAzly ._2gVuBqs4SNVBbo83R8fc23 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.kRsD9njPy9CclBtipmAzj {
  padding: 10px 0;
}
._1uvKF_UbD6VhnVdaRkXhbu {
  width: 20px;
  height: 20px;
}
._2oSTSohQ1CZIgVn7E6_0Ft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  max-width: 100%;
}
._2W_HQa5Rhf-hHITgV5H0bu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0e141b;
  background-color: #59bf40;
  font-size: 12px;
  font-weight: 600;
  height: 21px;
  width: 50px;
  text-align: center;
}
.AdQYbMq7HHJ3Jgljib9UX {
  font-size: 20px;
  overflow: hidden;
}
._3VzCnvA_1SxskuCqmZkkHA {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
._3C9nRrwzQk9qHlJx6NaXDI {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.egC2pffk2Ff-wvlnEHOqf {
  background-color: #de3618;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
._2LyGIHuQ8SFKb5T262YUvg {
  display: flex;
  flex-direction: column;
  background-color: #0e141b;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
  transition: height .5s;
}
._2LyGIHuQ8SFKb5T262YUvg .mz0H0iSlLfX7SQ7hv3kVY,
._2LyGIHuQ8SFKb5T262YUvg .mz0H0iSlLfX7SQ7hv3kVY ._3wWOEuQJ9QVG2xqb3s4xTw {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
  max-width: 100%;
}
@media screen and (max-width: 500px) {
  ._2LyGIHuQ8SFKb5T262YUvg .mz0H0iSlLfX7SQ7hv3kVY,
  ._2LyGIHuQ8SFKb5T262YUvg .mz0H0iSlLfX7SQ7hv3kVY ._3wWOEuQJ9QVG2xqb3s4xTw {
    flex-direction: column;
    overflow: hidden;
  }
}
._2LyGIHuQ8SFKb5T262YUvg ._1IeeH6Qo58UdaFJ3hkLMzs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  text-transform: uppercase;
  color: #ff0;
  font-size: 12px;
  border-style: solid;
  border-color: #ff0;
  border-width: thin;
}
._3Qa1urRRWR4tjkBSNaO8Wi._3Qa1urRRWR4tjkBSNaO8Wi {
  cursor: pointer;
  fill: #fff;
  padding: 10px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  height: 24px;
  width: 24px;
}
@media screen and (max-width: 500px) {
  ._3Qa1urRRWR4tjkBSNaO8Wi._3Qa1urRRWR4tjkBSNaO8Wi {
    width: 100%;
    background-color: #23262e;
  }
}
._3Qa1urRRWR4tjkBSNaO8Wi._3Qa1urRRWR4tjkBSNaO8Wi:hover {
  background-color: #1a9fff;
}
._3Qa1urRRWR4tjkBSNaO8Wi._3Qa1urRRWR4tjkBSNaO8Wi svg {
  transition: transform .2s ease-in-out;
  height: 18px;
  margin-top: 4px;
}
._3Qa1urRRWR4tjkBSNaO8Wi._3Qa1urRRWR4tjkBSNaO8Wi.r0ToHd0tmv46GM00Lr0a_ svg {
  transform: rotateZ(180deg);
  transition: transform .2s ease-in-out;
}
.O_QQdR2Hi2oq9k3mKRAQl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  background-color: #0e141b;
  padding: 8px 24px;
  height: 84px;
}
.O_QQdR2Hi2oq9k3mKRAQl ._2hzB3GB7oJwh8smVP_Jjsq {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  padding: 8px 24px;
  margin: 8px;
  max-width: 200px;
}
.O_QQdR2Hi2oq9k3mKRAQl ._2hzB3GB7oJwh8smVP_Jjsq svg {
  height: 32px;
  width: auto;
}
a:hover {
  color: #fff;
}
._3VYLj7Kf9u3FCG4cI1gnM7,
._1JFlDaoGEUJH6J-nks7h-3 {
  background-color: #0e141b;
  margin-top: 10px;
  margin-bottom: 18px;
  padding: 12px 12px 18px 12px;
  display: flex;
  flex-direction: column;
}
._3VYLj7Kf9u3FCG4cI1gnM7 ._3GXpDskii1UGmRC-JIajGR,
._1JFlDaoGEUJH6J-nks7h-3 ._3GXpDskii1UGmRC-JIajGR {
  display: flex;
  align-self: flex-end;
  cursor: pointer;
  justify-content: center;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 80ms ease-in;
  width: 24px;
}
._3VYLj7Kf9u3FCG4cI1gnM7 ._3GXpDskii1UGmRC-JIajGR svg,
._1JFlDaoGEUJH6J-nks7h-3 ._3GXpDskii1UGmRC-JIajGR svg {
  height: 18px;
  width: 18px;
  margin-right: 0px;
}
._3VYLj7Kf9u3FCG4cI1gnM7 ._3GXpDskii1UGmRC-JIajGR:hover,
._1JFlDaoGEUJH6J-nks7h-3 ._3GXpDskii1UGmRC-JIajGR:hover {
  background-color: #de3618;
}
._3VYLj7Kf9u3FCG4cI1gnM7 ._2HfX7xCmrFI48UShMW9H7k,
._1JFlDaoGEUJH6J-nks7h-3 ._2HfX7xCmrFI48UShMW9H7k {
  text-align: center;
  color: #fff;
  margin: 18px;
}
._3VYLj7Kf9u3FCG4cI1gnM7 ._1YrjrkSMcrtL9YsMwaq-ky {
  font-size: 24px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
._3VYLj7Kf9u3FCG4cI1gnM7 ._2MucXf7fH6QXYLpMhmrT8S {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
._3VYLj7Kf9u3FCG4cI1gnM7 ._2MucXf7fH6QXYLpMhmrT8S button {
  flex: 1 1 5em;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
}
._3VYLj7Kf9u3FCG4cI1gnM7 ._2MucXf7fH6QXYLpMhmrT8S button:hover {
  background-color: #1a9fff;
}
._1JFlDaoGEUJH6J-nks7h-3 ._1YrjrkSMcrtL9YsMwaq-ky {
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
}
._1JFlDaoGEUJH6J-nks7h-3 ._1YrjrkSMcrtL9YsMwaq-ky .Be14tb8AvIFhQgzHQ2Gw7 {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
._1JFlDaoGEUJH6J-nks7h-3 ._1YrjrkSMcrtL9YsMwaq-ky ._5DVuU_EZQ7FWM_Gs2mObd {
  font-size: 20px;
  color: #1a9fff;
}
._1JFlDaoGEUJH6J-nks7h-3 ._1jIMhV96QtN_-zMiSXwe8U {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
._1JFlDaoGEUJH6J-nks7h-3 ._14G2MX9wX6jZwm4vRY9uZ- {
  display: flex;
  align-items: center;
  padding: 4px 14px;
  border-style: none;
  border-width: thin;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
._1JFlDaoGEUJH6J-nks7h-3 ._14G2MX9wX6jZwm4vRY9uZ- input {
  margin-left: 5px;
}
._1JFlDaoGEUJH6J-nks7h-3 .MzHevEd7isedooX-dErvr {
  margin-right: 8px;
}
.IZ-EC_FBcyFeQM2ZdsOfn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.IZ-EC_FBcyFeQM2ZdsOfn ._5DVuU_EZQ7FWM_Gs2mObd {
  font-size: 20px;
  color: #1a9fff;
}
.IZ-EC_FBcyFeQM2ZdsOfn .MzHevEd7isedooX-dErvr {
  margin-right: 8px;
  margin-left: 20px;
}
.IZ-EC_FBcyFeQM2ZdsOfn ._1Ja4dF0wi9qfpZpCIbSb-U {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
._2ABK2CdU7SYpNUQL2ZSddE {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  gap: 10px;
}
._2ABK2CdU7SYpNUQL2ZSddE ._2yH7U_to45JvL82cS0kLO_ {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
}
._2ABK2CdU7SYpNUQL2ZSddE ._2yH7U_to45JvL82cS0kLO_ ._5DVuU_EZQ7FWM_Gs2mObd {
  color: #59bf40;
}
._1X3V1K6d_Smanitk41kTtC ._1G0KkUtCmwE6qlPSgXMXIj {
  display: flex;
  justify-content: center;
  background-color: #1f2a39;
  margin-top: 10px;
  margin-bottom: 10px;
}
._1X3V1K6d_Smanitk41kTtC ._1G0KkUtCmwE6qlPSgXMXIj .SVGIcon_Button {
  width: 40px;
  height: 40px;
  fill: rgba(255, 255, 255, 0.66);
  padding: 20px 0px;
}
._1X3V1K6d_Smanitk41kTtC ._10bmoN5pr9IoO7oOL8fSJ0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2a39;
  border-style: dotted;
  border-color: #87cefa;
  border-width: thin;
  padding: 20px 20px;
}
._1X3V1K6d_Smanitk41kTtC ._10bmoN5pr9IoO7oOL8fSJ0 ._1wpqyKESN_wEn81FPDQ94h {
  align-self: flex-end;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
._1X3V1K6d_Smanitk41kTtC ._10bmoN5pr9IoO7oOL8fSJ0 ._1YrjrkSMcrtL9YsMwaq-ky {
  padding: 10px 0px 20px 0px;
  padding-right: 10px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
._1X3V1K6d_Smanitk41kTtC ._10bmoN5pr9IoO7oOL8fSJ0 .T0rj6BcIrWI_LupPa0Krq {
  color: crimson;
  margin-bottom: 20px;
  text-align: center;
}
._1X3V1K6d_Smanitk41kTtC ._10bmoN5pr9IoO7oOL8fSJ0 ._10qEfACVIhYw-jJZWn4F7G {
  margin-bottom: 20px;
  text-align: center;
}
._1X3V1K6d_Smanitk41kTtC ._10bmoN5pr9IoO7oOL8fSJ0 ._1jIMhV96QtN_-zMiSXwe8U {
  display: flex;
  align-items: center;
}
._1X3V1K6d_Smanitk41kTtC ._10bmoN5pr9IoO7oOL8fSJ0 ._2Z5KMxr37lGmQOHfyK7uXu {
  border: 1px solid #1a9fff;
  background: rgba(0, 0, 0, 0.2);
}
._1X3V1K6d_Smanitk41kTtC ._10bmoN5pr9IoO7oOL8fSJ0 ._1PqTYpV-fONsTV2vNQlpPW {
  margin-top: 10px;
}
._1X3V1K6d_Smanitk41kTtC ._10bmoN5pr9IoO7oOL8fSJ0 .LOswIy4swgXiAV3TibgcO {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 10px;
}
._1X3V1K6d_Smanitk41kTtC ._10bmoN5pr9IoO7oOL8fSJ0 .ikBZQxjgLua65wWg99hcW {
  background-color: green;
  margin-top: 10px;
}
._1X3V1K6d_Smanitk41kTtC ._10bmoN5pr9IoO7oOL8fSJ0 ._2UvjLeiLbL0VdXxQ48cdDm {
  display: flex;
  flex-direction: row;
  align-items: center;
}
._1X3V1K6d_Smanitk41kTtC
  ._10bmoN5pr9IoO7oOL8fSJ0
  ._2UvjLeiLbL0VdXxQ48cdDm
  ._3s-ErxnICuPZvoWoVW2_Kr {
  margin-right: 10px;
}
._1X3V1K6d_Smanitk41kTtC
  ._10bmoN5pr9IoO7oOL8fSJ0
  ._2UvjLeiLbL0VdXxQ48cdDm
  .UkN21FQZ2LHSovqod6EG7 {
  margin-left: 40px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
._1X3V1K6d_Smanitk41kTtC ._10bmoN5pr9IoO7oOL8fSJ0 ._2SSgCAiCn56XkIDHnLrry6 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}
._1X3V1K6d_Smanitk41kTtC ._2hzB3GB7oJwh8smVP_Jjsq {
  padding: 0px 20px;
  width: auto;
  margin-right: 20px;
  background-color: #006400;
}
._1X3V1K6d_Smanitk41kTtC ._15nCumxrzH9OacfaL6NRGn {
  padding: 0px 20px;
  width: auto;
}
.JR6QKI9nDOVWuQsyrwBX.JR6QKI9nDOVWuQsyrwBX {
  min-width: 35vw;
}
._21OW_bu1x6BeYWyN4DWfhk {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
._21OW_bu1x6BeYWyN4DWfhk ._2SnCfenTfnFsm3g2upYnsl {
  margin-top: 10px;
  width: 100%;
}
._21OW_bu1x6BeYWyN4DWfhk .Rz-seYcbbpBPbzlRxLnso {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
._21OW_bu1x6BeYWyN4DWfhk ._1G_Dah5zXlksozZnevEGRE {
  width: 100%;
  height: 505px;
  overflow-y: scroll;
  display: inline-block;
  position: relative;
}
._2qyKwMuoCMj5o3CO6NW_IO {
  display: flex;
}
._2qyKwMuoCMj5o3CO6NW_IO ._10uce4LBxhZ9H10UzDZRxA {
  display: flex;
  align-items: center;
  cursor: pointer;
}
._38YBcCc8c5vQ29Y2qEgng8 {
  margin-top: 10px;
}
._38YBcCc8c5vQ29Y2qEgng8 ._33XeFOAEGh3fxDuCIF4AmE {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  gap: 10px;
}
@media screen and (max-width: 500px) {
  ._38YBcCc8c5vQ29Y2qEgng8 ._33XeFOAEGh3fxDuCIF4AmE {
    flex-direction: column;
  }
}
._38YBcCc8c5vQ29Y2qEgng8 ._33XeFOAEGh3fxDuCIF4AmE ._29aYvdyJipvwIFGm7jmd8D {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  max-width: 200px;
}
._38YBcCc8c5vQ29Y2qEgng8 ._33XeFOAEGh3fxDuCIF4AmE ._2uCIU2-B87UtuBDMG0ieTU {
  padding: 0px 20px;
  width: auto;
}
._38YBcCc8c5vQ29Y2qEgng8 ._2qyKwMuoCMj5o3CO6NW_IO {
  justify-content: center;
}
._2H_R6xqjQOWNiRA9qQrhV1 {
  text-align: center;
}
._12k1ELQW10xFpZWSrbnaad {
  display: flex;
  justify-content: center;
}
._2r46bpLc_qpnLHbnayzmSG {
  height: 84px;
  width: 100%;
  display: flex;
  justify-content: center;
}
._2r46bpLc_qpnLHbnayzmSG.rE1IiJak5Yg84H2WpLPYJ {
  color: #de3618;
}
._34_DnraB5jiO2jDJudbSRN {
  position: relative;
}
._1z6ZWxnxh-VlWIVrqxYoc2 {
  padding: 0px 0px 10px 0px;
}
._2kInmhTbJ8d4tM_ShAhrbw {
  display: flex;
  align-items: center;
  padding-right: 10px;
  gap: 8px;
  height: 31px;
}
._2kInmhTbJ8d4tM_ShAhrbw ._14wvJiLS17Em5n9DNQnI0n {
  flex-grow: 1;
  padding-left: 3px;
}
._17sdi2EINuHcyjS90RFKbR svg {
  height: 20px;
  width: auto;
  display: block;
}
._2Fq1ae8YHWoFHZKQRZRJJS {
  margin-top: 10px;
}
._2Fq1ae8YHWoFHZKQRZRJJS ._2SKgwaV-ptKsHUdNFpSDOI {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
  color: #fff;
}
._2Fq1ae8YHWoFHZKQRZRJJS ._1W5zoA-Qt32wmR4cAQXU4P {
  gap: 10px;
  flex-wrap: nowrap;
  overflow: scroll;
  text-transform: none;
  border-bottom: 1px solid #1a9fff;
}
._2Fq1ae8YHWoFHZKQRZRJJS ._1W5zoA-Qt32wmR4cAQXU4P::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 500px) {
  ._2Fq1ae8YHWoFHZKQRZRJJS ._1W5zoA-Qt32wmR4cAQXU4P {
    margin-right: -6vw;
  }
  ._2Fq1ae8YHWoFHZKQRZRJJS ._1W5zoA-Qt32wmR4cAQXU4P ._2OMeCsUQ6WiH_72QYhi0I0 {
    color: #fff;
    border-bottom: 0px;
    text-transform: none;
    letter-spacing: unset;
  }
  ._2Fq1ae8YHWoFHZKQRZRJJS
    ._1W5zoA-Qt32wmR4cAQXU4P
    ._2OMeCsUQ6WiH_72QYhi0I0.ActiveTab {
    color: #67c1f5;
    padding-left: 10px;
    padding-right: 10px;
    background: linear-gradient(to top, #223d5a, transparent);
    font-weight: 600;
  }
}
._2guJiCyy6CRVp5xixbQ2hs {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
._3ayYOCw_ZCm0rF1vDVmwfO .rG9v6g24n_n7jdI7rK5zY {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 16px;
}
._3ayYOCw_ZCm0rF1vDVmwfO .rG9v6g24n_n7jdI7rK5zY ._3OIDlxU9x7bhWVKKi8wwaH {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  height: 34px;
}
._3ayYOCw_ZCm0rF1vDVmwfO .rG9v6g24n_n7jdI7rK5zY ._3OIDlxU9x7bhWVKKi8wwaH > * {
  display: inline;
}
._3ayYOCw_ZCm0rF1vDVmwfO
  .rG9v6g24n_n7jdI7rK5zY
  ._3OIDlxU9x7bhWVKKi8wwaH
  ._2odf9s6doISgveVnyo9_Km {
  display: inline;
}
._3ayYOCw_ZCm0rF1vDVmwfO
  .rG9v6g24n_n7jdI7rK5zY
  ._3OIDlxU9x7bhWVKKi8wwaH
  ._1X4chbdWPqQwoi2pg7-ebI {
  color: #1a9fff;
  font-weight: bold;
  font-size: 18px;
}
._3ayYOCw_ZCm0rF1vDVmwfO
  .rG9v6g24n_n7jdI7rK5zY
  ._3OIDlxU9x7bhWVKKi8wwaH
  ._21tUbooOHqAFZy0hfNkcnb {
  padding: 4px 10px;
  border-radius: 2px;
  background-color: rgba(240, 248, 255, 0.0705882353);
  display: flex;
  align-items: center;
}
._3ayYOCw_ZCm0rF1vDVmwfO
  .rG9v6g24n_n7jdI7rK5zY
  ._3OIDlxU9x7bhWVKKi8wwaH
  ._21tUbooOHqAFZy0hfNkcnb:hover {
  background-color: rgba(240, 248, 255, 0.151);
}
._3ayYOCw_ZCm0rF1vDVmwfO
  .rG9v6g24n_n7jdI7rK5zY
  ._3OIDlxU9x7bhWVKKi8wwaH
  ._2cXhAZJGVLrDD_TVE6hdwq {
  color: #fff;
  background-color: #3d4450;
  font-size: 16px;
  padding: 4px;
}
._3ayYOCw_ZCm0rF1vDVmwfO
  .rG9v6g24n_n7jdI7rK5zY
  ._3OIDlxU9x7bhWVKKi8wwaH
  .o6KnEAuyHthAy8wUoldpD {
  margin: 4px 0px 0px 10px;
}
._3ayYOCw_ZCm0rF1vDVmwfO
  .rG9v6g24n_n7jdI7rK5zY
  ._3OIDlxU9x7bhWVKKi8wwaH
  .o6KnEAuyHthAy8wUoldpD
  > svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
._3ayYOCw_ZCm0rF1vDVmwfO
  .rG9v6g24n_n7jdI7rK5zY
  ._3OIDlxU9x7bhWVKKi8wwaH
  ._39Ldnfxr7DlhXHZZgBVF4W {
  margin-left: 10px;
  background-color: #1a9fff;
  padding: 2px 10px;
  width: unset;
  line-height: unset;
}
._3ayYOCw_ZCm0rF1vDVmwfO
  .rG9v6g24n_n7jdI7rK5zY
  ._3OIDlxU9x7bhWVKKi8wwaH
  ._15P7ohP3vq0SmtT5d274y1 {
  margin-left: 10px;
  padding: 2px 10px;
  width: unset;
  line-height: unset;
}
._3ayYOCw_ZCm0rF1vDVmwfO ._2t7pNd3nM5_7eAiROSoaQQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
._3ayYOCw_ZCm0rF1vDVmwfO ._2t7pNd3nM5_7eAiROSoaQQ ._3hEFWv-8JvIKi_h8LRB5J9 {
  text-align: center;
  width: 80%;
}
@media screen and (max-width: 500px) {
  ._3ayYOCw_ZCm0rF1vDVmwfO ._2t7pNd3nM5_7eAiROSoaQQ ._3hEFWv-8JvIKi_h8LRB5J9 {
    width: auto;
  }
}
._3ayYOCw_ZCm0rF1vDVmwfO ._2t7pNd3nM5_7eAiROSoaQQ ._27d1EGoZsLmTLaNWaJEHVG {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  gap: 8px;
}
@media screen and (max-width: 500px) {
  ._3ayYOCw_ZCm0rF1vDVmwfO ._2t7pNd3nM5_7eAiROSoaQQ ._27d1EGoZsLmTLaNWaJEHVG {
    flex-direction: column;
    align-items: center;
  }
}
._3ayYOCw_ZCm0rF1vDVmwfO
  ._2t7pNd3nM5_7eAiROSoaQQ
  ._27d1EGoZsLmTLaNWaJEHVG
  ._7HLtNTex5cDyFF2vkhwAQ {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 24px;
  width: fit-content;
}
._3ayYOCw_ZCm0rF1vDVmwfO
  ._2t7pNd3nM5_7eAiROSoaQQ
  ._27d1EGoZsLmTLaNWaJEHVG
  ._7HLtNTex5cDyFF2vkhwAQ
  svg {
  width: 20px;
  height: 20px;
}
._3ayYOCw_ZCm0rF1vDVmwfO ._1nyw33NhAvZLTN_5qkTWsu:hover {
  background-color: #de3618;
}
._3ayYOCw_ZCm0rF1vDVmwfO ._2WPzAgrNMWbSvyCtWXSiA7:hover {
  background-color: #1a9fff;
}
._3HBvbSDPYGc6K_O32LovGq .xdQkSQDFlnZtUOE3pU4T4 {
  max-width: 45em;
  margin: 8px auto;
}
._3HBvbSDPYGc6K_O32LovGq .spLt3RYXreScsUzo4yQRa {
  max-width: 45em;
  margin: 18px auto;
  text-align: left;
  display: flex;
  gap: 18px;
  align-items: center;
}
._3HBvbSDPYGc6K_O32LovGq .spLt3RYXreScsUzo4yQRa svg {
  height: 48px;
  width: 48px;
}
._3HBvbSDPYGc6K_O32LovGq .spLt3RYXreScsUzo4yQRa ._3zUm6DMGoA_yO_qpX09tpM {
  max-width: fit-content;
  padding: 8px 18px;
  margin: 0px auto;
}
._3HBvbSDPYGc6K_O32LovGq ._12md3Zc1vL6ogBUmI1k4Jh {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
._3HBvbSDPYGc6K_O32LovGq ._12md3Zc1vL6ogBUmI1k4Jh ._2R8KFsdzOosYGjDF6ahgMK {
  text-align: center;
  padding: 16px 8px;
  margin: 16px;
  border-radius: 3px;
}
@media screen and (max-width: 500px) {
  ._3HBvbSDPYGc6K_O32LovGq ._12md3Zc1vL6ogBUmI1k4Jh ._2R8KFsdzOosYGjDF6ahgMK {
    margin: 3px;
  }
}
._3HBvbSDPYGc6K_O32LovGq
  ._12md3Zc1vL6ogBUmI1k4Jh
  ._2R8KFsdzOosYGjDF6ahgMK
  ._1hqqUWxUB1RwYN5jPH4nkd {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}
._3HBvbSDPYGc6K_O32LovGq ._12md3Zc1vL6ogBUmI1k4Jh ._2R8KFsdzOosYGjDF6ahgMK svg {
  height: 32px;
  width: auto;
}
._3HBvbSDPYGc6K_O32LovGq
  ._12md3Zc1vL6ogBUmI1k4Jh
  ._2R8KFsdzOosYGjDF6ahgMK
  ._1JrBU1ac5Cr9HZ2VrohqRJ {
  height: 16px;
  position: relative;
  top: -16px;
  background: #1a9fff;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  line-height: 16px;
  margin-top: 8px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  padding: 2px;
  margin-right: auto;
}
.hMgR2gFc_fP8LK9e2Vwvq {
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  padding: 8px 25px 25px 25px;
  font-size: 14px;
}
@media screen and (max-width: 500px) {
  .hMgR2gFc_fP8LK9e2Vwvq {
    padding: 8px 0px 25px 0px;
  }
}
.hMgR2gFc_fP8LK9e2Vwvq hr {
  border: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 16px;
}
._1t_5IvfyF8aF_tGXLkprpc ._2xRpeEOhZkwE0Gm2T2nIrX {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #464d58;
  padding: 10px 0;
  gap: 10px;
}
._1t_5IvfyF8aF_tGXLkprpc ._2xRpeEOhZkwE0Gm2T2nIrX ._3s0E2Z45PIt1bxfcerFwdD {
  align-self: flex-start;
  width: 170px;
  flex: none;
}
._1t_5IvfyF8aF_tGXLkprpc ._2xRpeEOhZkwE0Gm2T2nIrX ._3G8Ee5GQgCv2RgtSRwZSHB {
  align-self: flex-start;
  flex-grow: 1;
}
._2sKy8KMVlq2ZVtrEewVS88 {
  background-color: #0e141b;
  padding: 16px;
  margin-bottom: 24px;
  color: #fff;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 18px;
}
._2sKy8KMVlq2ZVtrEewVS88 svg {
  width: 48px;
  height: 48px;
}
._3uS4aqCTqfDSxjRsr1bSA- ._10fN6VvSPscMJyGHfvePu3 {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  margin: 16px 8px;
  padding: 16px 8px;
}
._3uS4aqCTqfDSxjRsr1bSA- ._10fN6VvSPscMJyGHfvePu3 input {
  padding: 10px;
  flex-grow: 1;
  background-color: #0e141b;
  color: #99d4ff;
  font-weight: 500;
  border: none;
}
._3uS4aqCTqfDSxjRsr1bSA- ._10fN6VvSPscMJyGHfvePu3 button {
  flex-grow: 0;
  flex-basis: 80px;
}
.JtCI1J9RW7AZBsaJV_p5E ._2gJ6mJtdYFclXTWyIArECF {
  padding: 16px 0px;
  display: flex;
  justify-content: left;
  gap: 16px;
  align-items: center;
}
.JtCI1J9RW7AZBsaJV_p5E ._2gJ6mJtdYFclXTWyIArECF ._1jANphzwbKMsFwdNGymA1 {
  font-size: 16px;
  background-color: #0e141b;
  color: #99d4ff;
  font-weight: 500;
  flex-grow: 1;
  padding: 8px;
  text-align: center;
  max-width: 200px;
}
.JtCI1J9RW7AZBsaJV_p5E ._2gJ6mJtdYFclXTWyIArECF ._38Z3nE8M3k-kUjLmv9e4Nu {
  flex-basis: 80px;
}
.JtCI1J9RW7AZBsaJV_p5E ._2gJ6mJtdYFclXTWyIArECF ._24iUjHaXmTFLxuFxA6BgTU {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
}
._2nK5N79jK_gB0gCK-fVR5k {
  color: #ffc82c;
  font-weight: 500;
}
._2ujgTTfdXjs504qXqBeqdE {
  padding: 10px 0;
}
._3oofpm2z16a0n2zyKhN-MJ {
  font-size: 16px;
  color: #b8bcbf;
  margin: 10px 5px;
}
@media screen and (max-width: 500px) {
  ._3oofpm2z16a0n2zyKhN-MJ {
    text-align: center;
  }
}
._1K1x9myo7Kli0IP_plaz9D {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 5px;
  margin-left: 5px;
  margin-bottom: 12px;
}
._1K1x9myo7Kli0IP_plaz9D .vDtJqUVxjZtCpsN9muEoX {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0px 10px;
  width: fit-content;
}
._1K1x9myo7Kli0IP_plaz9D .vDtJqUVxjZtCpsN9muEoX svg {
  width: 15px;
  height: 15px;
  padding-top: 2px;
}
._1K1x9myo7Kli0IP_plaz9D .UzQPbZ_qXs2s2AEpznJmt:hover {
  background-color: #de3618;
}
._1K1x9myo7Kli0IP_plaz9D ._2zCYLK35m4KaTz5TqLnLt3:hover {
  background-color: #de3618;
}
@media screen and (max-width: 500px) {
  ._1K1x9myo7Kli0IP_plaz9D {
    flex-direction: column;
    align-items: center;
  }
  ._1K1x9myo7Kli0IP_plaz9D .vDtJqUVxjZtCpsN9muEoX {
    width: 250px;
    padding: 3px 0px;
  }
  ._1K1x9myo7Kli0IP_plaz9D .vDtJqUVxjZtCpsN9muEoX svg {
    padding-top: 0px;
  }
}
._1K1x9myo7Kli0IP_plaz9D .wFnzmCfVh6fa9BMDuwy7J {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0px 10px;
  width: fit-content;
}
@media screen and (max-width: 500px) {
  ._1K1x9myo7Kli0IP_plaz9D .wFnzmCfVh6fa9BMDuwy7J {
    width: 250px;
    padding: 3px 0px;
  }
}
._1HWIPz6EFkHzU5EzfQMOxE {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 5px;
  margin-right: 5px;
}
@media screen and (max-width: 500px) {
  ._1HWIPz6EFkHzU5EzfQMOxE {
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
}
.-kADzwzb4TvVL8A6WOVks {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 6px;
  margin-right: 5px;
  margin-bottom: 8px;
}
.-kADzwzb4TvVL8A6WOVks .vDtJqUVxjZtCpsN9muEoX {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 24px;
  width: fit-content;
}
.-kADzwzb4TvVL8A6WOVks .vDtJqUVxjZtCpsN9muEoX svg {
  width: 20px;
  height: 20px;
}
.-kADzwzb4TvVL8A6WOVks .UzQPbZ_qXs2s2AEpznJmt:hover {
  background-color: #de3618;
}
.-kADzwzb4TvVL8A6WOVks ._2zCYLK35m4KaTz5TqLnLt3:hover {
  background-color: #de3618;
}
@media screen and (max-width: 500px) {
  .-kADzwzb4TvVL8A6WOVks {
    flex-direction: column;
    align-items: center;
  }
}
._2WflOBEXKh_U7ztmG-E4q- {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  ._2WflOBEXKh_U7ztmG-E4q- ._1TwO8yn7ASLQbAlH4osa5H > div {
    flex-direction: column;
  }
}
._2WflOBEXKh_U7ztmG-E4q- ._1TwO8yn7ASLQbAlH4osa5H,
._2WflOBEXKh_U7ztmG-E4q- .lrSecLbPDqHGdI_gp4x5C,
._2WflOBEXKh_U7ztmG-E4q- ._2R0PG64-Sn4ejGmmWHbT2a {
  padding-left: 6px;
  padding-right: 6px;
}
._2oJ9Bxj4Co72Go5Mq42_8J {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  background-color: #23262e;
}
@media screen and (max-width: 500px) {
  ._2oJ9Bxj4Co72Go5Mq42_8J {
    flex-direction: column;
  }
}
._2oJ9Bxj4Co72Go5Mq42_8J ._-8pd6RexnzXuLFobm1T_ {
  font-size: 16px;
  font-weight: bold;
}
._2oJ9Bxj4Co72Go5Mq42_8J ._4O472KmMFFSaSAt4-H58T {
  display: flex;
  align-items: center;
  gap: 8px;
}
._2oJ9Bxj4Co72Go5Mq42_8J ._257siDy9PId0Lc6msYf5YS {
  display: flex;
  gap: 8px;
}
._2oJ9Bxj4Co72Go5Mq42_8J ._257siDy9PId0Lc6msYf5YS button {
  background-color: rgba(0, 0, 0, 0);
  padding: 3px;
  height: 18px;
  width: 18px;
}
._2oJ9Bxj4Co72Go5Mq42_8J ._257siDy9PId0Lc6msYf5YS button:hover {
  background-color: #1a9fff;
}
._2oJ9Bxj4Co72Go5Mq42_8J ._257siDy9PId0Lc6msYf5YS ._2Qb3-2-5hh4aG44Uv8q7tK {
  cursor: pointer;
  height: 18px;
  width: 18px;
}
._3RbIcjnPaWTf4nrib_HPAa {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 10px;
}
._3RbIcjnPaWTf4nrib_HPAa ._3FkfJa0i5BibbYgnVlSDrQ {
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 2px 10px 2px 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  gap: 20px;
}
._3RbIcjnPaWTf4nrib_HPAa ._3FkfJa0i5BibbYgnVlSDrQ .YKTZD66mFdor5BQFmpdzy {
  display: flex;
  justify-content: center;
}
.BasicUI ._3RbIcjnPaWTf4nrib_HPAa ._3FkfJa0i5BibbYgnVlSDrQ {
  max-height: unset;
  overflow-y: hidden;
}
._1ugy_CuPjW56powwI-s6vo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._1ugy_CuPjW56powwI-s6vo ._5THBvRlV9B8tkkqRPlnFA {
  min-height: 34px;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 910px) {
  ._1ugy_CuPjW56powwI-s6vo ._5THBvRlV9B8tkkqRPlnFA {
    flex-direction: column;
  }
}
._1ugy_CuPjW56powwI-s6vo ._5THBvRlV9B8tkkqRPlnFA ._-8pd6RexnzXuLFobm1T_ {
  flex-grow: 1;
  text-transform: uppercase;
  font-weight: bold;
}
._1ugy_CuPjW56powwI-s6vo ._5THBvRlV9B8tkkqRPlnFA ._257siDy9PId0Lc6msYf5YS {
  display: flex;
  gap: 8px;
  flex: 0 0 25%;
  justify-content: flex-end;
  text-transform: capitalize;
}
._1ugy_CuPjW56powwI-s6vo
  ._5THBvRlV9B8tkkqRPlnFA
  ._257siDy9PId0Lc6msYf5YS
  button {
  padding: 0px 10px;
  box-sizing: border-box;
  text-wrap: nowrap;
}
@media screen and (max-width: 910px) {
  ._1ugy_CuPjW56powwI-s6vo ._5THBvRlV9B8tkkqRPlnFA ._257siDy9PId0Lc6msYf5YS {
    width: 100%;
  }
}
.e8fXQNSRl1DAFQiRHLK2a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  height: 40px;
  padding: 4px;
  box-sizing: border-box;
  transition: background-color 100ms ease-in-out;
  border-bottom: 2px solid #0e141b;
}
.e8fXQNSRl1DAFQiRHLK2a ._3L8NHpo6ao9nHVhHW4CJnU {
  flex-grow: 1;
}
.e8fXQNSRl1DAFQiRHLK2a._2JNwI2OBNP8taZ7Z34Tulo {
  background-color: #23262e;
}
.e8fXQNSRl1DAFQiRHLK2a._2JNwI2OBNP8taZ7Z34Tulo ._3L8NHpo6ao9nHVhHW4CJnU {
  color: #fff;
}
.e8fXQNSRl1DAFQiRHLK2a ._1HZTsnBVB3gvbCbtf4Rckz {
  height: 32px;
  width: 32px;
}
.e8fXQNSRl1DAFQiRHLK2a ._30BdYsMXN1KhvFxz_fCUrS .DialogRoundCheckboxField {
  width: 16px;
  height: 16px;
}
.e8fXQNSRl1DAFQiRHLK2a:hover {
  background-color: #23262e;
}
.Cj34zDTvglJR_N8wUJM2s {
  margin-bottom: 12px;
}
._1XMBkpG_zeKHHXvOLAWyLB {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}
._2X1GpAOA6OS_jbvfZEbmuy {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
  padding: 4px;
}
@media screen and (max-width: 500px) {
  ._2X1GpAOA6OS_jbvfZEbmuy {
    flex-direction: column;
    background-color: #23262e;
    border-radius: 3px;
  }
}
._2X1GpAOA6OS_jbvfZEbmuy ._2WgTQHCpIlhduEs0_ySokI {
  color: #1a9fff;
  font-weight: 600;
  flex: 0 0 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._2X1GpAOA6OS_jbvfZEbmuy ._30S29pj6VtyDi-6ffWPYFG {
  flex-grow: 1;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 500px) {
  ._2X1GpAOA6OS_jbvfZEbmuy ._30S29pj6VtyDi-6ffWPYFG {
    text-wrap: wrap;
  }
}
._2X1GpAOA6OS_jbvfZEbmuy ._2q90EvCIjIfUU67XpXQWua {
  flex: 0 0 25%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}
._2X1GpAOA6OS_jbvfZEbmuy:hover {
  background-color: #23262e;
}
._1EzaeIxWkbPFGeLyQ98IV8 ._-8pd6RexnzXuLFobm1T_ {
  font-size: 28px;
  margin-right: 0px;
  text-transform: none;
  font-weight: bold;
}
._1EzaeIxWkbPFGeLyQ98IV8 .DialogContent_InnerWidth {
  max-width: 672px;
}
@media screen and (min-width: 910px) {
  ._1EzaeIxWkbPFGeLyQ98IV8 {
    width: 672px;
  }
}
._1EzaeIxWkbPFGeLyQ98IV8 .DialogBodyText {
  margin-bottom: 0px;
}
._11oc_xrTDyyj9ZIxooI- {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 620px) {
  ._11oc_xrTDyyj9ZIxooI- {
    min-width: 500px;
  }
}
@media screen and (max-width: 500px) {
  ._11oc_xrTDyyj9ZIxooI- ._2arYwLUx8UfUtRcIbFfI-B {
    display: none;
  }
}
@media screen and (min-width: 501px) {
  ._11oc_xrTDyyj9ZIxooI- .y-FOnDjy_tNVLyKOnQeqk {
    display: none;
  }
}
.l1Uf2XvwgC0si0e3wdxRD {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(48, 2%);
  grid-template-rows: 30px 10px auto;
  justify-content: center;
}
.l1Uf2XvwgC0si0e3wdxRD ._2q90EvCIjIfUU67XpXQWua {
  font-size: 10px;
  padding-right: 8px;
  display: flex;
  align-items: center;
}
.l1Uf2XvwgC0si0e3wdxRD .PY2SzP1sfP0Ll0V2CzE0y {
  font-size: 10px;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-bottom: 8px;
}
.l1Uf2XvwgC0si0e3wdxRD ._68UkF7YzyOQrMl7YbBADF {
  font-size: 12px;
  grid-row: 3;
  text-align: center;
}
.l1Uf2XvwgC0si0e3wdxRD .Hour0 {
  text-align: left;
}
.l1Uf2XvwgC0si0e3wdxRD .Hour48 {
  text-align: right;
}
.l1Uf2XvwgC0si0e3wdxRD ._3kxXNsmvYCtmrscTD9Hsh0 {
  grid-row: 2;
  border-left: 1px solid #3d4450;
}
.l1Uf2XvwgC0si0e3wdxRD .HashMark40 {
  border-right: 1px solid #3d4450;
}
._1xAKt33YaSfi9TbbgpIb5T {
  cursor: pointer;
  background-color: rgba(61, 68, 80, 0.5);
}
._1xAKt33YaSfi9TbbgpIb5T:nth-child(odd) {
  background-color: #3d4450;
}
._1xAKt33YaSfi9TbbgpIb5T.qJJzOstLWPhnslUP39MVH {
  background-color: rgba(26, 159, 255, 0.8);
}
._1xAKt33YaSfi9TbbgpIb5T.qJJzOstLWPhnslUP39MVH:nth-child(odd) {
  background-color: #1a9fff;
}
._1xAKt33YaSfi9TbbgpIb5T.SBNDnArArnkjfTiY2AeNp {
  background-color: rgba(26, 159, 255, 0.6);
  cursor: default;
}
._1xAKt33YaSfi9TbbgpIb5T.SBNDnArArnkjfTiY2AeNp:nth-child(odd) {
  background-color: rgba(26, 159, 255, 0.8);
}
._2BVtRNJ-HGx7yDTjPK0EcX._2BVtRNJ-HGx7yDTjPK0EcX
  .DialogDropDown_CurrentDisplay {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.w9peVHXHbe1cE2WEnClu3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.w9peVHXHbe1cE2WEnClu3 ._3jjYvVw0DXqdRBamdby62z {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 500px) {
  .w9peVHXHbe1cE2WEnClu3 ._3jjYvVw0DXqdRBamdby62z {
    flex-direction: column;
    align-items: start;
  }
}
@media screen and (max-width: 500px) {
  .w9peVHXHbe1cE2WEnClu3 ._3jjYvVw0DXqdRBamdby62z .h80CX0NYBW4dEIMSCZBuL {
    min-width: 30%;
  }
}
.w9peVHXHbe1cE2WEnClu3 ._3r2iJrVwylbyvjWNXwKjhg {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .w9peVHXHbe1cE2WEnClu3 ._3r2iJrVwylbyvjWNXwKjhg {
    flex-direction: row;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .w9peVHXHbe1cE2WEnClu3 ._3r2iJrVwylbyvjWNXwKjhg ._1--tArXALehoeK4lZrrbA4 {
    text-align: left;
    overflow: hidden;
    white-space: normal;
    flex-grow: 1;
  }
  .w9peVHXHbe1cE2WEnClu3 ._3r2iJrVwylbyvjWNXwKjhg ._2zGFisWaeH_w7QiULc8Ag {
    flex-shrink: 0;
  }
}
.w9peVHXHbe1cE2WEnClu3 .h80CX0NYBW4dEIMSCZBuL {
  flex: 0 0 20%;
}
.w9peVHXHbe1cE2WEnClu3 ._1--tArXALehoeK4lZrrbA4 {
  flex-grow: 1;
  font-size: 14px;
  color: #fff;
  text-align: end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.w9peVHXHbe1cE2WEnClu3 ._2zGFisWaeH_w7QiULc8Ag {
  display: flex;
  justify-content: flex-end;
}
.w9peVHXHbe1cE2WEnClu3 ._2zGFisWaeH_w7QiULc8Ag a {
  color: #a7bacc;
  text-decoration: underline;
  font-size: 14px;
}
._2RfjJ6KGRqcilFY2Jlg5QZ {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
._2RfjJ6KGRqcilFY2Jlg5QZ ._2MCehGPDBVvxMCVaq2IUA5,
._2RfjJ6KGRqcilFY2Jlg5QZ ._2R0PG64-Sn4ejGmmWHbT2a {
  flex-grow: 1;
}
._2RfjJ6KGRqcilFY2Jlg5QZ ._1EHdD7W8Cvwq9lTG_Z8N-n {
  margin-right: 5px;
}
._2RfjJ6KGRqcilFY2Jlg5QZ ._1snFfw3ZgFquKvyfpzcnfk {
  padding: 0px 10px;
  box-sizing: border-box;
}
.wpR_GbuToqyTLpZsMsX3C {
  opacity: 0.5;
  position: relative;
  transition: opacity 100ms ease-in-out;
}
.wpR_GbuToqyTLpZsMsX3C:hover {
  opacity: 1;
}
.wpR_GbuToqyTLpZsMsX3C._2JNwI2OBNP8taZ7Z34Tulo {
  opacity: 1;
  outline: 2px solid #1a9fff;
}
.wpR_GbuToqyTLpZsMsX3C ._30MsmlQHLV3q3ZvN0CLSfg {
  position: absolute;
  bottom: 0;
  right: 0;
}
._2YLQ1uAUrlpbuBRLIL6ZnO {
  cursor: pointer;
  color: #67707b;
  height: 18px;
  width: 18px;
}
._2YLQ1uAUrlpbuBRLIL6ZnO._24VpjKSJH67vIJjrqQGiBn {
  color: #fff;
}
._2YLQ1uAUrlpbuBRLIL6ZnO:hover {
  color: #fff;
}
._3EmrLTvrmiuJhDHruK1InH {
  max-width: 350px;
  margin-top: 10px;
  margin-bottom: 8px;
}
._1sE_cisDa8U8UTvKWU9Jap {
  display: table;
  padding: 12px 0px;
}
._1sE_cisDa8U8UTvKWU9Jap ._2I98IhEnkkp7yb-OAZmeFR {
  display: table-row;
}
._1sE_cisDa8U8UTvKWU9Jap ._2I98IhEnkkp7yb-OAZmeFR ._3AuGnq9lNERQibR7oKltQE {
  display: table-cell;
  padding-bottom: 18px;
}
._1sE_cisDa8U8UTvKWU9Jap ._2I98IhEnkkp7yb-OAZmeFR ._3ONn74kY596zlxdOS6aIPC {
  padding-bottom: 18px;
  font-size: 12px;
  display: table-cell;
  margin-left: 21px;
}
._39LNRgxdemgkP8aWCKa6Og {
  gap: 18px;
}
._2xKXgM4yOrIS77zORU2B54 {
  cursor: pointer;
  color: #fff;
  height: 18px;
  width: 18px;
}
._2xKXgM4yOrIS77zORU2B54 svg path {
  fill: #67707b;
}
._2xKXgM4yOrIS77zORU2B54 svg:hover path {
  fill: #fff;
}
._1HPx9mmyzR0JvJprjPjyTs {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5px;
}
._1HPx9mmyzR0JvJprjPjyTs ._1snFfw3ZgFquKvyfpzcnfk._1snFfw3ZgFquKvyfpzcnfk {
  min-width: auto;
  width: 32px;
}
._1HPx9mmyzR0JvJprjPjyTs ._1QZ73K7rBNcO70omwFjI_S {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.e_tMs874rAZ2qdE84Uqfq.rdtOpen .rdtPicker {
  min-width: auto;
  width: 100%;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  position: relative;
  background: #3d4450;
  display: flex;
  align-items: center;
  justify-content: center;
}
.e_tMs874rAZ2qdE84Uqfq.rdtOpen .rdtPicker .rdtTime .rdtCounters .rdtCounter {
  width: 30px;
  padding: 2px;
}
.e_tMs874rAZ2qdE84Uqfq.rdtOpen
  .rdtPicker
  .rdtTime
  .rdtCounters
  .rdtCounter
  .rdtCount {
  font-size: 1em;
}
._2QmEXbQMp-fr7KyOPphSk4 ._39Yb4R8Nr6Q9CJ_CXvsoca {
  width: calc(100% - 30px);
  background: #23262e;
  padding: 12px;
  align-items: center;
}
._2QmEXbQMp-fr7KyOPphSk4 ._39Yb4R8Nr6Q9CJ_CXvsoca .DIAUSLue3_bmzvCwbTeIG {
  display: flex;
  border-bottom: 1px solid #3d4450;
  padding-bottom: 4px;
  margin-bottom: 4px;
}
._2QmEXbQMp-fr7KyOPphSk4
  ._39Yb4R8Nr6Q9CJ_CXvsoca
  .DIAUSLue3_bmzvCwbTeIG
  ._2fn59ljMtlie2g5NSiaVxH {
  display: table-cell;
  flex-grow: 1;
}
._2QmEXbQMp-fr7KyOPphSk4
  ._39Yb4R8Nr6Q9CJ_CXvsoca
  .DIAUSLue3_bmzvCwbTeIG
  ._2fn59ljMtlie2g5NSiaVxH
  ._2d-NRXGvXbBXFM1u3qO8HK {
  display: block;
  font-size: 13px;
}
._2QmEXbQMp-fr7KyOPphSk4
  ._39Yb4R8Nr6Q9CJ_CXvsoca
  .DIAUSLue3_bmzvCwbTeIG
  ._2fn59ljMtlie2g5NSiaVxH
  ._1CzqDvlI9BiZ34y76ZxiDP {
  font-size: 12px;
  display: block;
  margin-left: 21px;
}
._2QmEXbQMp-fr7KyOPphSk4
  ._39Yb4R8Nr6Q9CJ_CXvsoca
  .DIAUSLue3_bmzvCwbTeIG
  ._2fn59ljMtlie2g5NSiaVxH
  ._1CzqDvlI9BiZ34y76ZxiDP
  a {
  cursor: pointer;
}
._2QmEXbQMp-fr7KyOPphSk4
  ._39Yb4R8Nr6Q9CJ_CXvsoca
  .DIAUSLue3_bmzvCwbTeIG
  ._2BQ5kejzl2IpMdjad_8Zmd {
  width: 80px;
  text-align: center;
  flex: 0 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2Dst3UKiLxmHuFByhiTRzj {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
._2Dst3UKiLxmHuFByhiTRzj img {
  width: 120px;
  height: 45px;
}
._2Dst3UKiLxmHuFByhiTRzj div {
  display: block;
  font-size: 14px;
  margin-left: 20px;
  overflow-wrap: break-word;
  max-width: 200px;
}
._3Pnf9j-DVi9cm7cJ383yI1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
._3Pnf9j-DVi9cm7cJ383yI1 > .LP9H7bBiPB8N8jFzCQumL {
  display: flex;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
._35BlnGUYkm2MwN318q0gZU {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
._35BlnGUYkm2MwN318q0gZU ._1ve5nrPCrUjlbKp1PXsiJD {
  display: flex;
  justify-content: center;
}
._35BlnGUYkm2MwN318q0gZU ._2UOyb8dGbKlL6QDQiqYFoc {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}
._1o7lKXffOJjZ_CpH1bHfY- {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
._1o7lKXffOJjZ_CpH1bHfY- .LP9H7bBiPB8N8jFzCQumL {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  line-height: normal;
}
._1o7lKXffOJjZ_CpH1bHfY- ._1M5eDPxFjv1ByJEK38h5Tu {
  font-size: 18px;
  color: #fff;
}
._1o7lKXffOJjZ_CpH1bHfY- ._3x604kYqXRJbqWmeLWAHrj {
  font-size: 14px;
}
.gDwBcqV9krVb3dtAUyPfF._1tuLMqXoTmpR6w6XzgePfq {
  cursor: pointer;
}
.gDwBcqV9krVb3dtAUyPfF ._2BUegwuSTdD1TQkecqv9B3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gDwBcqV9krVb3dtAUyPfF .OchtG0jyJQXcr2o0t34q7 {
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-size: 13px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid;
  color: #fff;
}
._2wXQTbH2iavMx1sFDH_Xpn ._29VTx5sjP43UH8k1twOUgE {
  height: 24px;
  box-sizing: border-box;
  background: #171d25;
}
._1uN1cZ9U62K-VgLto02fC3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}
._1uN1cZ9U62K-VgLto02fC3 ._2wXQTbH2iavMx1sFDH_Xpn {
  max-width: 50%;
}
._24xN9g6I0FudAHqb3lnrNP {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
._259TK-AiNNlYVUpyzutBh7 {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  color: #8b929a;
  cursor: pointer;
}
._259TK-AiNNlYVUpyzutBh7._1dj3rXk2ck61UrJGt3pP9e {
  color: #fff;
}
._259TK-AiNNlYVUpyzutBh7 ._3HYMkq8Ske2dJk0k51ve3J {
  height: 16px;
  width: 16px;
}
._3-q8xJGfslyHFJUlzGes_H {
  font-size: 11px;
  padding: 0px 4px 2px 4px;
}
._15y-D2NYrFwOAZ-AfJKy6Q {
  width: 100%;
  display: flex;
  justify-content: center;
}
._3fKMV_g7GIfskW_oGQqbaD {
  color: #de3618;
}
._3EHR0vjVp91HIDN-WKXpuB {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
._3EHR0vjVp91HIDN-WKXpuB._--1j5crfWvm4vTD76qd0G {
  border: 1px solid #fff;
}
._3EHR0vjVp91HIDN-WKXpuB ._3dBfx1sV1COVdSsh7RdgMd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
._3EHR0vjVp91HIDN-WKXpuB.FmbmC2C9Se8Jqjj-uQjAw ._3dBfx1sV1COVdSsh7RdgMd {
  opacity: 1;
}
._1tVCPhzTgmUpMpErm-4mHX {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  padding: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.K6224j9GEn0UKuVD4_m0E {
  box-sizing: border-box;
  height: 100%;
}
.-padb24TteB2RGJuMHdLn {
  display: flex;
  flex-direction: row;
  gap: 5px;
  box-sizing: border-box;
  height: 100%;
}
/*!
 * https://github.com/arqex/react-datetime
 */ .rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  min-width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}
.rdtPicker .rdtTimeToggle {
  text-align: center;
}
.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: "";
  display: inline-block;
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed;
}
.rdtPicker td span.rdtOld {
  color: #999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}
.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-of-type th {
  cursor: pointer;
}
.rdtPicker thead tr:first-of-type th:hover {
  background: #eee;
}
.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}
.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}
.rdtPicker thead button {
  width: 100%;
  height: 100%;
}
td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}
.rdtCounters {
  display: inline-block;
}
.rdtCounters > div {
  float: left;
}
.rdtCounter {
  height: 100px;
}
.rdtCounter {
  width: 40px;
}
.rdtCounterSeparator {
  line-height: 100px;
}
.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}
.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}
.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}
.rdtTime td {
  cursor: default;
}
._3nHerBg5ELmarLbN--Gmpp {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
._1Y8hK5A-ASv-Y5SGGb5Em5:empty {
  display: none;
}
._1VbIwyMsiBOa0cCBINYbUo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
._2g9TrrGm4UVImhlSMi3Ab4 {
  padding: 4px;
  background-color: #1f2a39;
  min-height: 72px;
}
._2g9TrrGm4UVImhlSMi3Ab4 ._1gqAhfkhB_yUwqiMnvwFtO {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  ._2g9TrrGm4UVImhlSMi3Ab4 ._1gqAhfkhB_yUwqiMnvwFtO {
    align-items: center;
    gap: 10px;
  }
}
._2g9TrrGm4UVImhlSMi3Ab4 ._1gqAhfkhB_yUwqiMnvwFtO ._2zPRlByGX4zzYpKzhpw0dW {
  font-weight: 500;
}
._2g9TrrGm4UVImhlSMi3Ab4 ._1gqAhfkhB_yUwqiMnvwFtO .ccxwViiWCqhlNZIMKy0Dx,
._2g9TrrGm4UVImhlSMi3Ab4 ._1gqAhfkhB_yUwqiMnvwFtO ._25GJW5fEysaxc-6VinR_c_ {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 500px) {
  ._2g9TrrGm4UVImhlSMi3Ab4 ._1gqAhfkhB_yUwqiMnvwFtO .ccxwViiWCqhlNZIMKy0Dx,
  ._2g9TrrGm4UVImhlSMi3Ab4 ._1gqAhfkhB_yUwqiMnvwFtO ._25GJW5fEysaxc-6VinR_c_ {
    align-items: center;
    gap: 5px;
  }
}
._2g9TrrGm4UVImhlSMi3Ab4 ._1gqAhfkhB_yUwqiMnvwFtO .jxmvXGE_bd9-iXyJ1mBMX {
  flex-grow: 1;
  font-weight: 500;
}
._2g9TrrGm4UVImhlSMi3Ab4 ._1gqAhfkhB_yUwqiMnvwFtO ._2mypsPC8VzdlSBBGYvRd1T {
  color: #8b929a;
  padding-left: 20px;
}
@media screen and (max-width: 500px) {
  ._2g9TrrGm4UVImhlSMi3Ab4 ._1gqAhfkhB_yUwqiMnvwFtO ._2mypsPC8VzdlSBBGYvRd1T {
    padding-left: 0px;
  }
}
._2g9TrrGm4UVImhlSMi3Ab4 .d6z4dkaukQvCKtJEog0Um {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._2g9TrrGm4UVImhlSMi3Ab4 .d6z4dkaukQvCKtJEog0Um ._38w9gDJ4Dba_cpV4cRzvfe {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 5px;
  border-radius: 2px;
  background-color: #ffc82c;
  color: #0e141b;
  margin-top: auto;
  margin-bottom: auto;
}
._2g9TrrGm4UVImhlSMi3Ab4 .d6z4dkaukQvCKtJEog0Um ._2T2ciAqKK4YMDU48BrX3Py {
  display: flex;
  gap: 5px;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
}
._2g9TrrGm4UVImhlSMi3Ab4
  .d6z4dkaukQvCKtJEog0Um
  ._2T2ciAqKK4YMDU48BrX3Py
  button {
  width: fit-content;
  padding: 0px 20px;
}
._2g9TrrGm4UVImhlSMi3Ab4 .i8dlhqpE5lRgbz0R-UIRK {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding-right: 5px;
}
._2g9TrrGm4UVImhlSMi3Ab4 ._2T2ciAqKK4YMDU48BrX3Py {
  flex-grow: 0;
  flex-basis: 25%;
}
._2g9TrrGm4UVImhlSMi3Ab4 ._1M_WB3PUCjX1GT-w3A1es5 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 0;
  flex-basis: 25%;
  gap: 5px;
}
@media screen and (max-width: 500px) {
  ._2g9TrrGm4UVImhlSMi3Ab4 ._1M_WB3PUCjX1GT-w3A1es5 {
    align-items: center;
  }
}
._2g9TrrGm4UVImhlSMi3Ab4 ._1M_WB3PUCjX1GT-w3A1es5 ._2mypsPC8VzdlSBBGYvRd1T {
  color: #8b929a;
}
._3aZNXtMcw5GPCPLdGtqnlQ,
._1FS_d-SzgkBxRpPjD8P57h,
.wm_NtPLFihN_RUct8gc9h {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
._3aZNXtMcw5GPCPLdGtqnlQ .ccxwViiWCqhlNZIMKy0Dx,
._3aZNXtMcw5GPCPLdGtqnlQ ._25GJW5fEysaxc-6VinR_c_,
._1FS_d-SzgkBxRpPjD8P57h .ccxwViiWCqhlNZIMKy0Dx,
._1FS_d-SzgkBxRpPjD8P57h ._25GJW5fEysaxc-6VinR_c_,
.wm_NtPLFihN_RUct8gc9h .ccxwViiWCqhlNZIMKy0Dx,
.wm_NtPLFihN_RUct8gc9h ._25GJW5fEysaxc-6VinR_c_ {
  padding-left: 40px;
}
@media screen and (max-width: 500px) {
  ._3aZNXtMcw5GPCPLdGtqnlQ .ccxwViiWCqhlNZIMKy0Dx,
  ._3aZNXtMcw5GPCPLdGtqnlQ ._25GJW5fEysaxc-6VinR_c_,
  ._1FS_d-SzgkBxRpPjD8P57h .ccxwViiWCqhlNZIMKy0Dx,
  ._1FS_d-SzgkBxRpPjD8P57h ._25GJW5fEysaxc-6VinR_c_,
  .wm_NtPLFihN_RUct8gc9h .ccxwViiWCqhlNZIMKy0Dx,
  .wm_NtPLFihN_RUct8gc9h ._25GJW5fEysaxc-6VinR_c_ {
    padding-left: 0px;
  }
}
._3aZNXtMcw5GPCPLdGtqnlQ ._8CRZn6CXwhlJ8ODhQbkp2,
._1FS_d-SzgkBxRpPjD8P57h ._8CRZn6CXwhlJ8ODhQbkp2,
.wm_NtPLFihN_RUct8gc9h ._8CRZn6CXwhlJ8ODhQbkp2 {
  display: inline;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  ._3aZNXtMcw5GPCPLdGtqnlQ,
  ._1FS_d-SzgkBxRpPjD8P57h,
  .wm_NtPLFihN_RUct8gc9h {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.PaWyIiMaw2nN1x3vzbIPW {
  display: inline;
  padding-left: 40px;
}
@media screen and (max-width: 500px) {
  .PaWyIiMaw2nN1x3vzbIPW {
    padding-left: 0px;
  }
}
._24yzKI2Y4Kl01CPt0KotCe {
  color: #1a9fff;
  display: inline;
}
._1jx9ws3qC6giFHNd9kXKKg {
  display: inline;
}
._1c6u1vQE3mhKaPmnRAaHuL {
  display: inline;
  color: #1a9fff;
  cursor: pointer;
}
._1ZDtFPLB0QT6g3T7TTRc2I {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}
._1ZDtFPLB0QT6g3T7TTRc2I ._1NbpMdC9cNXB7ZXejpX0JO {
  padding-top: 10px;
}
._1ZDtFPLB0QT6g3T7TTRc2I ._2bwyfbue6YKiiz5sPD-aUw {
  flex-grow: 1;
  font-size: 14px;
  color: #fff;
  text-align: end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 8px;
}
._3VjPauBxHErDMNCJVlsgYs {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
._1b1sthnt2e6izmHyDW7fam {
  display: flex;
  flex-direction: column;
}
._1dfVPvR3jkg7V5wYeWqGje {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
._3Q_itK0y9iym9Rf_hRp2U4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
._1tN3Fqg4eB8P5q6VnP8zsU {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
._1tN3Fqg4eB8P5q6VnP8zsU._37RhGmL2y7OEHIbTvldv-2 {
  cursor: default;
}
._1vwoIEn92Lj8rkCnAsZInK {
  display: flex;
  flex-direction: row;
  background-color: #0e141b;
  padding: 12px;
  padding-left: 14px;
  cursor: pointer;
}
._37RhGmL2y7OEHIbTvldv-2 ._1vwoIEn92Lj8rkCnAsZInK {
  cursor: default;
}
._1vwoIEn92Lj8rkCnAsZInK:hover {
  background-color: #111820;
}
@media screen and (max-width: 500px) {
  ._1vwoIEn92Lj8rkCnAsZInK {
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
  }
  ._1vwoIEn92Lj8rkCnAsZInK ._2I7p_DHJUzX-5BTwCYcuSY {
    display: flex;
    justify-content: space-between;
    flex-basis: calc(100% - 15px);
    text-align: center;
    margin-bottom: 4px;
  }
  ._1vwoIEn92Lj8rkCnAsZInK ._2I7p_DHJUzX-5BTwCYcuSY ._5khZsbwVzrlOZXIrVdCIq {
    margin-left: 10px;
  }
}
@media screen and (min-width: 500px) {
  ._1vwoIEn92Lj8rkCnAsZInK {
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  ._1vwoIEn92Lj8rkCnAsZInK ._2I7p_DHJUzX-5BTwCYcuSY {
    flex: 2 0 30%;
    text-align: left;
    margin-right: 24px;
    align-self: start;
  }
}
._1vwoIEn92Lj8rkCnAsZInK ._2I7p_DHJUzX-5BTwCYcuSY {
  height: 40px;
}
._1vwoIEn92Lj8rkCnAsZInK ._2I7p_DHJUzX-5BTwCYcuSY ._5khZsbwVzrlOZXIrVdCIq {
  font-size: 12px;
  font-weight: bold;
}
._1vwoIEn92Lj8rkCnAsZInK .OX7BJg-jEVTFZj9J7KJxS {
  margin-bottom: 30px;
}
._1vwoIEn92Lj8rkCnAsZInK > div,
._1vwoIEn92Lj8rkCnAsZInK .OX7BJg-jEVTFZj9J7KJxS {
  flex: 1 1 0;
  height: 30px;
  border-left: 1px solid #0e141b;
  border-right: 1px solid #0e141b;
}
._1vwoIEn92Lj8rkCnAsZInK > div .zaoHrBgKPKb_8Q_YRESk5,
._1vwoIEn92Lj8rkCnAsZInK .OX7BJg-jEVTFZj9J7KJxS .zaoHrBgKPKb_8Q_YRESk5 {
  display: block;
  position: absolute;
  transform: translate(0%, 32px);
  font-size: 8px;
  text-wrap: nowrap;
}
@media screen and (max-width: 500px) {
  ._1vwoIEn92Lj8rkCnAsZInK > div .zaoHrBgKPKb_8Q_YRESk5,
  ._1vwoIEn92Lj8rkCnAsZInK .OX7BJg-jEVTFZj9J7KJxS .zaoHrBgKPKb_8Q_YRESk5 {
    display: none;
  }
}
._1kxEvVLftK9NWs_-7SKLLe {
  font-size: 12px;
  font-weight: bold;
}
._2oOtUbkUZKW62otpARvY3f {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0px 8px;
}
.AkQ21cho5ASGMCVe165gM {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  align-items: center;
  background-color: rgba(14, 20, 27, 0.6666666667);
  cursor: pointer;
  padding-top: 4px;
}
.AkQ21cho5ASGMCVe165gM ._1AKx5e4_hXQPEx3rkBwKbz {
  flex-basis: 36px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  margin-left: 10px;
  margin-top: 4px;
  margin-right: 12px;
}
.AkQ21cho5ASGMCVe165gM ._1AKx5e4_hXQPEx3rkBwKbz img {
  height: 48px;
  width: 32px;
}
.AkQ21cho5ASGMCVe165gM ._2tyLYvLUbwnf1okXNXBFG4 {
  flex-basis: 130px;
  flex-grow: 0;
  flex-shrink: 0;
  white-space: nowrap;
}
.AkQ21cho5ASGMCVe165gM .dWjmpmQNPsKL-1WrIqiMw {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
._2om9ImjdyOLWxlqRouLCL {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
._2om9ImjdyOLWxlqRouLCL a {
  box-sizing: border-box;
}
._2om9ImjdyOLWxlqRouLCL img {
  width: 100%;
  height: 100%;
}
._2gqejUUMCHd51lF8qlQ1ns {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #0e141b;
  padding: 4px;
  background: #3d4450;
}
._2gqejUUMCHd51lF8qlQ1ns img {
  height: 120px;
  width: 80px;
}
._3Jl4YQadMqVmN9rTlDoxsJ {
  opacity: 0;
}
._3Jl4YQadMqVmN9rTlDoxsJ.emNZdRnzXbk4gR0vRINf8 {
  opacity: 1;
}
