a:link {
  text-decoration: none;
}
._2ZsOR8fOOBXPuOjciIviGd {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #d75f5f;
  padding-left: 40px;
  padding-top: 8px;
}
._1DD-MN6M7fw9v4AEfy9VBS {
  margin: 0px auto;
  font-family: "Motiva Sans", Sans-serif;
  background-image: linear-gradient(#1b2838, #1b2838 400px, #1b2838 100%);
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
}
@media (max-width: 777px) {
  ._1DD-MN6M7fw9v4AEfy9VBS {
    padding: 10px;
  }
}
._1DD-MN6M7fw9v4AEfy9VBS ._1hgW6B71pwJWHd34-SX7hq {
  width: 600px;
  margin: 20px auto;
  text-align: center;
}
._1DD-MN6M7fw9v4AEfy9VBS ._1hgW6B71pwJWHd34-SX7hq ._22sY8U8gQnI5A51kM3WFa9 {
  font-size: 24px;
  color: #ddd;
  margin-bottom: 20px;
}
._1DD-MN6M7fw9v4AEfy9VBS ._1I3G6fPqwwJ-oidGEVLoH2 {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid blue;
}
._1DD-MN6M7fw9v4AEfy9VBS ._14xwk8-XHnHe6u_VgydVPK {
  flex-grow: 1;
  border: 1px solid red;
}
.b9a7bAiOQdFEDFZ6mxkus {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #171d25;
  padding: 16px;
}
.b9a7bAiOQdFEDFZ6mxkus ._3YeB68JcA4gQ-LDn4XBBny {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.b9a7bAiOQdFEDFZ6mxkus ._12dKZPgTxdY6HL7qTDFxEk {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.b9a7bAiOQdFEDFZ6mxkus ._12dKZPgTxdY6HL7qTDFxEk .zXPoPAhJfwmjV_nOL7SV_ {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.b9a7bAiOQdFEDFZ6mxkus
  ._12dKZPgTxdY6HL7qTDFxEk
  .zXPoPAhJfwmjV_nOL7SV_
  ._2DGMshGWHwcXDbedaNIwA3 {
  min-width: 100px;
}
.b9a7bAiOQdFEDFZ6mxkus ._12dKZPgTxdY6HL7qTDFxEk .zXPoPAhJfwmjV_nOL7SV_ input {
  flex-grow: 1;
}
.ymONm5807X-v0sovL8HEj {
  width: 100%;
  height: 400px;
  border: 1px solid green;
}
._1ZBMj31m_Y-GRPsCNPChA7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.x9B1cXIAi6vYDog2fs0e6 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 6px;
  background-image: radial-gradient(
    101.49% 168.36% at 1.01% 0%,
    #313d53 0%,
    #282e39 100%
  );
}
.x9B1cXIAi6vYDog2fs0e6 .aDp4xH1r3sii_t4UQehdT {
  width: 100px;
  height: 50px;
  background-size: contain;
}
.x9B1cXIAi6vYDog2fs0e6 ._1lwaOX2enleYKfev0vfeua {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.x9B1cXIAi6vYDog2fs0e6 ._1lwaOX2enleYKfev0vfeua ._3efVXI0E-Vd_yFdJS2F1hU {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
.x9B1cXIAi6vYDog2fs0e6 ._1lwaOX2enleYKfev0vfeua ._1kAkW_FkMQ4A6_bnjzCCHM {
  font-size: 14px;
  color: #aaa;
}
.zYBuUWMEj30dPwlkjPvja {
  display: flex;
  flex-direction: column;
  position: relative;
}
.zYBuUWMEj30dPwlkjPvja ._2COEoqCO8NeThLNPNJCuAQ {
  color: #b00;
  position: absolute;
  top: 12px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}
.zYBuUWMEj30dPwlkjPvja ._2COEoqCO8NeThLNPNJCuAQ:hover {
  color: #e00;
}
._3Hw6l9Am6kQRPTDVY700Hb {
  margin-bottom: 0px !important;
}
._5Z1ekC71ZkBjb8t6fB8Pg {
  margin-top: 16px !important;
}
._3QPViwZln3xT160uthGacu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  position: relative;
}
._3QPViwZln3xT160uthGacu input {
  min-width: 100px;
}
._3QPViwZln3xT160uthGacu ._1Mbwa8U5EIl-BVfj95I14m {
  width: 400px;
  position: absolute;
  top: 22px;
  left: 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
  background-color: #3d4450;
  z-index: 2;
}
._3QPViwZln3xT160uthGacu ._1Mbwa8U5EIl-BVfj95I14m .ovwUTP2fvFxOe1Fg7gjH9 {
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}
._3QPViwZln3xT160uthGacu
  ._1Mbwa8U5EIl-BVfj95I14m
  .ovwUTP2fvFxOe1Fg7gjH9._3Xj5n6rpZvxSYAZ0OZFylh {
  background-color: #dcdedf;
  color: #000;
}
._3QPViwZln3xT160uthGacu
  ._1Mbwa8U5EIl-BVfj95I14m
  .ovwUTP2fvFxOe1Fg7gjH9
  .aDp4xH1r3sii_t4UQehdT {
  width: 120px;
  height: 45px;
  background-size: contain;
}
