.image_MessageContent_1N2Wd {
  text-align: center;
  margin: 0px auto;
  width: 570px;
  padding: 0px 13px;
}
.image_GameImage_2imw0 {
  cursor: pointer;
  width: auto;
  position: relative;
  box-shadow: 0 0 10px #000;
  font-size: 0px;
  transition: box-shadow 0.25s ease-out;
}
.image_GameImage_2imw0:hover {
  box-shadow: 0 0 15px #68c0f2;
}
.image_GameImage_2imw0 img {
  max-width: 570px;
}
A:visited {
  color: #fff;
  text-decoration: none;
}
A:link {
  color: #fff;
  text-decoration: none;
}
A:hover {
  color: #fff;
  text-decoration: none;
}
A:active {
  color: #000;
  text-decoration: none;
}
.image_Legal_7NnVB {
  font-family: "Motiva Sans", Sans-serif;
  font-size: 11px;
  width: 100%;
  color: #58636a;
  text-align: left;
}
.image_MessageFooter_2h7_p {
  position: relative;
  width: auto;
  min-height: 45px;
  margin-top: 11px;
  display: flex;
  flex-direction: column;
}
.image_MessageFooter_2h7_p .image_ButtonAndPriceCtn_39vPn {
  font-family: "Motiva Sans", Sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}
.image_NoButton_2FsuD {
  flex-direction: row-reverse;
}
.image_NoButton_2FsuD .image_Btn_2utr- {
  display: none;
}
.image_NoButton_2FsuD .image_Legal_7NnVB {
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.image_Btn_2utr- {
  position: relative;
  font-family: "Motiva Sans", Sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  background-color: #56627b;
  border-radius: 3px;
  font-weight: 400;
  padding: 16px 30px 0px;
  height: 30px;
  width: fit-content;
  flex-grow: 1;
  line-height: 15px;
  transition: box-shadow 0.25s ease-out, background-color 0.25s ease-out;
}
.image_Btn_2utr-:hover {
  background-color: #427d9f;
  box-shadow: 2px 2px 10px #000;
  cursor: pointer;
}
.image_MessagePriceCtn_uhCE2 {
  margin-left: 12px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.image_MessagePriceCtn_uhCE2 .StoreSalePriceWidgetContainer {
  height: 46px;
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.3);
}
.image_Price_3TzbJ {
  height: 59px;
  width: 145px;
  display: inline-table;
  vertical-align: middle;
  position: absolute;
  text-align: center;
  right: 0px;
}
.image_NoPrice_1oXJH {
  width: 0px;
  float: right;
}
.image_PriceReal_1IET- {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  height: 33px;
  margin-top: 10px;
}
.image_PriceRealShort_2fteu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  height: 33px;
  margin-top: 10px;
}
.image_PriceRegular_2Mki7 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #999;
  text-decoration: line-through;
  position: relative;
  top: -10px;
}
.image_Strike_2hlJo {
  font-size: 14px;
  color: #666;
  text-decoration: line-through;
}
.image_ShareLinks_2_buK {
  position: absolute;
  left: 16px;
  top: 16px;
  color: #aaa;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 16px;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
}
.image_ShareLinks_2_buK img {
  vertical-align: middle;
  margin-right: 3px;
  border: none;
  opacity: 0.5;
  transition: opacity 0.15s ease-out;
}
.image_ShareLinks_2_buK img:hover {
  opacity: 1;
  transition: opacity 0.25s ease-in;
}
@media screen and (max-height: 540px) {
  .image_All_2A3DH {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .image_MessageContent_1N2Wd {
    width: 330px;
    padding: 8px;
  }
  .image_GameImage_2imw0 {
    width: 100%;
    position: relative;
    box-shadow: 0 0 6px #000;
  }
  .image_GameImage_2imw0 img {
    max-width: 330px;
  }
  .image_TextTop_76FjT,
  .image_TextBottom_otBhX {
    width: 100%;
    font-size: 14px;
    padding: 6px 6px 0px 6px;
    box-sizing: border-box;
  }
  .image_ButtonContainer_2sWLp {
    height: 32px;
    padding-top: 5px;
  }
  .image_Btn_2utr- {
    font-size: 12px;
    margin: 2px auto;
    padding: 9px 12px 0px;
    height: 17px;
    line-height: 9px;
  }
  .image_Btn_2utr-:hover {
    box-shadow: 2px 2px 6px #000;
  }
  .image_Price_3TzbJ {
    height: 34px;
  }
  .image_NoPrice_1oXJH,
  .image_Price_3TzbJ {
    width: 81px;
  }
  .image_PriceReal_1IET-,
  .image_PriceRealShort_2fteu {
    font-size: 12px;
    height: 19px;
    margin-top: 6px;
  }
  .image_PriceRealShort_2fteu {
    font-size: 7px;
  }
  .image_PriceRegular_2Mki7 {
    font-size: 7px;
    top: -6px;
  }
  .image_Legal_7NnVB {
    font-size: 7px;
    padding-bottom: 5px;
    width: 100%;
    margin-top: 4px;
    flex-grow: 1;
  }
}
html.responsive
  body.messagelist_MarketingMessagePage_1HVoK
  .responsive_page_template_content {
  padding-bottom: 0;
  min-height: auto;
}
.messagelist_MessageListPage_1N7O3 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #2a303c 0%, #222630 100%);
  display: flex;
  flex-direction: column;
}
.messagelist_MessageListPage_1N7O3 .messagelist_MessageListScroll_2RW7G {
  flex: auto;
  min-height: 0;
  overflow-y: auto;
}
.messagelist_CarouselBar_O7VJK {
  background: linear-gradient(180deg, #111318 0%, rgba(14, 16, 20, 0.46) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.messagelist_CarouselBar_O7VJK .messagelist_Content_1qtg3 {
  max-width: 570px;
  padding: 8px 20px;
  margin: 0 auto;
  height: 40px;
  display: flex;
}
.messagelist_CarouselBar_O7VJK
  .messagelist_Content_1qtg3
  .messagelist_LeftArrow_3ZyZU,
.messagelist_CarouselBar_O7VJK
  .messagelist_Content_1qtg3
  .messagelist_RightArrow_2WuPu {
  opacity: 0.1;
  width: 42px;
  height: 42px;
  color: #c6d4df;
}
.messagelist_CarouselBar_O7VJK
  .messagelist_Content_1qtg3
  .messagelist_LeftArrow_3ZyZU.messagelist_Active_cwA5j,
.messagelist_CarouselBar_O7VJK
  .messagelist_Content_1qtg3
  .messagelist_RightArrow_2WuPu.messagelist_Active_cwA5j {
  cursor: pointer;
  opacity: 1;
}
.messagelist_CarouselBar_O7VJK
  .messagelist_Content_1qtg3
  .messagelist_LeftArrow_3ZyZU.messagelist_Active_cwA5j:hover,
.messagelist_CarouselBar_O7VJK
  .messagelist_Content_1qtg3
  .messagelist_RightArrow_2WuPu.messagelist_Active_cwA5j:hover {
  color: #fff;
}
.messagelist_CarouselBar_O7VJK
  .messagelist_Content_1qtg3
  .messagelist_Spacer_COvXC {
  flex: auto;
}
.messagelist_CarouselBar_O7VJK
  .messagelist_Content_1qtg3
  .messagelist_PipContainer_3ASpk {
  display: flex;
}
.messagelist_CarouselBar_O7VJK
  .messagelist_Content_1qtg3
  .messagelist_PipContainer_3ASpk
  .messagelist_Pips_1rpuG {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-self: center;
}
.messagelist_Pip_ZQrtM {
  width: 12px;
  height: 5px;
  margin: 0 2px;
  background: rgba(198, 212, 223, 0.5);
  border-radius: 1px;
  cursor: pointer;
  transition: background 0.2s;
}
.messagelist_Pip_ZQrtM.messagelist_Active_cwA5j,
.messagelist_Pip_ZQrtM:hover {
  background: #fff;
}
.messagelist_Pip_ZQrtM.messagelist_Active_cwA5j {
  cursor: default;
}
.messagelist_MessageListContainer_33cf4 {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}
.messagelist_MessageListContainer_33cf4.messagelist_Loading_1xSKZ {
  height: 656px;
  display: flex;
  align-items: center;
}
.messagelist_MessageWrapper_152h7 {
  display: none;
}
.messagelist_MessageWrapper_152h7.messagelist_Active_cwA5j {
  display: block;
}
.messagelist_MessageWrapper_152h7.messagelist_Enter_DZICE {
  display: block;
  opacity: 0;
}
.messagelist_MessageWrapper_152h7.messagelist_EnterActive_RU-xm {
  display: block;
  opacity: 1;
  transition: opacity 200ms;
}
.messagelist_MessageWrapper_152h7.messagelist_EnterDone_3AP2Y {
  display: block;
  opacity: 1;
}
.messagelist_MessageWrapper_152h7.messagelist_Exit_2xmDI,
.messagelist_MessageWrapper_152h7.messagelist_ExitActive_32DFH {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
}
.messagelist_MessageWrapper_152h7.messagelist_ExitActive_32DFH {
  opacity: 0;
  transition: opacity 200ms;
}
.messagelist_MessageWrapper_152h7.messagelist_ExitDone_3cFXR {
  display: none;
}
