html.responsive body._1HVoKfdcaouK3kHKX2kH5t .responsive_page_template_content {
  padding-bottom: 0;
  min-height: auto;
}
html.responsive
  body._1HVoKfdcaouK3kHKX2kH5t
  .responsive_page_template_content
  div:focus,
html.responsive
  body._1HVoKfdcaouK3kHKX2kH5t
  .responsive_page_template_content
  a:focus,
html.responsive
  body._1HVoKfdcaouK3kHKX2kH5t
  .responsive_page_template_content
  span:focus {
  outline: none;
}
._1N7O3VXbkpN2z55HsSDZsi {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(
      circle at top left,
      rgba(74, 81, 92, 0.4) 0%,
      rgba(75, 81, 92, 0) 60%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.18) 0%,
      rgba(175, 81, 92, 0) 60%,
      rgba(0, 0, 0, 0) 100%
    )
    #25282e;
  display: flex;
  flex-direction: column;
}
@media (prefers-contrast: more) {
  ._1N7O3VXbkpN2z55HsSDZsi {
    background: #000;
  }
}
._1N7O3VXbkpN2z55HsSDZsi ._2RW7G8Bi-8k-29anQh8Ie8 {
  flex: auto;
  min-height: 0;
  overflow: hidden;
}
.O7VJKyPtoS7TXCr6mrwCr {
  margin-bottom: 10px;
}
.O7VJKyPtoS7TXCr6mrwCr ._1qtg3ASXX4ClYiTHPq9Tkl {
  max-width: 570px;
  padding: 8px 20px;
  margin: 0 auto;
  height: 40px;
  display: flex;
}
.O7VJKyPtoS7TXCr6mrwCr ._1qtg3ASXX4ClYiTHPq9Tkl ._3ZyZUkBq73dLvZ6zKdM9PQ,
.O7VJKyPtoS7TXCr6mrwCr ._1qtg3ASXX4ClYiTHPq9Tkl ._2WuPusSmjw_B4rfkgb-NV8 {
  opacity: 0.1;
  width: 42px;
  height: 42px;
  color: #c6d4df;
}
.O7VJKyPtoS7TXCr6mrwCr
  ._1qtg3ASXX4ClYiTHPq9Tkl
  ._3ZyZUkBq73dLvZ6zKdM9PQ.cwA5j4AsP5OB7WjWuOlFv,
.O7VJKyPtoS7TXCr6mrwCr
  ._1qtg3ASXX4ClYiTHPq9Tkl
  ._2WuPusSmjw_B4rfkgb-NV8.cwA5j4AsP5OB7WjWuOlFv {
  cursor: pointer;
  opacity: 1;
}
.O7VJKyPtoS7TXCr6mrwCr
  ._1qtg3ASXX4ClYiTHPq9Tkl
  ._3ZyZUkBq73dLvZ6zKdM9PQ.cwA5j4AsP5OB7WjWuOlFv:hover,
.O7VJKyPtoS7TXCr6mrwCr
  ._1qtg3ASXX4ClYiTHPq9Tkl
  ._2WuPusSmjw_B4rfkgb-NV8.cwA5j4AsP5OB7WjWuOlFv:hover {
  color: #fff;
}
.O7VJKyPtoS7TXCr6mrwCr ._1qtg3ASXX4ClYiTHPq9Tkl .COvXCP3wZxk_s1ho7e3WO {
  flex: auto;
}
.O7VJKyPtoS7TXCr6mrwCr ._1qtg3ASXX4ClYiTHPq9Tkl ._3ASpk2zuTuDhIXKorFGF_L {
  display: flex;
}
.O7VJKyPtoS7TXCr6mrwCr
  ._1qtg3ASXX4ClYiTHPq9Tkl
  ._3ASpk2zuTuDhIXKorFGF_L
  ._1rpuGJtVR-xrddd9ui6IWu {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-self: center;
}
.ZQrtMhZB1tpkd2bgBXyIF {
  width: 12px;
  height: 5px;
  margin: 0 2px;
  background: rgba(198, 212, 223, 0.5);
  border-radius: 1px;
  cursor: pointer;
  transition: background .2s;
}
.ZQrtMhZB1tpkd2bgBXyIF.cwA5j4AsP5OB7WjWuOlFv,
.ZQrtMhZB1tpkd2bgBXyIF:hover {
  background: #fff;
}
.ZQrtMhZB1tpkd2bgBXyIF.cwA5j4AsP5OB7WjWuOlFv {
  cursor: default;
}
._33cf4TnmCK5XdTjanW9bVf {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}
._33cf4TnmCK5XdTjanW9bVf._1xSKZdDmIvXYCmFif6fSAq {
  height: 656px;
  display: flex;
  align-items: center;
}
._152h7KWYvm_9hIyzRzh8kl {
  display: none;
}
._152h7KWYvm_9hIyzRzh8kl.cwA5j4AsP5OB7WjWuOlFv {
  display: block;
}
._152h7KWYvm_9hIyzRzh8kl.DZICERQkVmyCBP2E-PwlH {
  display: block;
  opacity: 1;
}
._152h7KWYvm_9hIyzRzh8kl.RU-xm1VaMHf9H7o1TFkVO {
  display: block;
  opacity: 1;
  transition: opacity 200ms;
}
._152h7KWYvm_9hIyzRzh8kl._3AP2YQ_mKZF-H78sMt3rKC {
  display: block;
  opacity: 1;
}
._152h7KWYvm_9hIyzRzh8kl._2xmDIRYN5Pu_eHRMjWop63,
._152h7KWYvm_9hIyzRzh8kl._32DFHj9NmyNtEK-3K3nKuX {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 1;
}
._152h7KWYvm_9hIyzRzh8kl._32DFHj9NmyNtEK-3K3nKuX {
  opacity: 0;
  transition: opacity 200ms;
}
._152h7KWYvm_9hIyzRzh8kl._3cFXRpyI9jrZ2qCySg3fiT {
  display: none;
}
._2wAKy-0ZkO_vhbiQCP9MgE {
  display: flex;
  flex-direction: column;
  margin: 0;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1QfwpLmLTSuiIRLDzdY_7l {
  animation-name: _1F0lzP-Krz_y5P9ewZEvBD;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1QfwpLmLTSuiIRLDzdY_7l * {
  animation-name: _1F0lzP-Krz_y5P9ewZEvBD !important;
  stroke-dasharray: initial !important;
  stroke-dashoffset: initial !important;
  stroke-width: 5px !important;
  opacity: 1 !important;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1QfwpLmLTSuiIRLDzdY_7l ._2qjZm0dB7I6lcRkZhNTqvD path {
  stroke-width: 0 !important;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1Sy0pXVZOdWbgouFyD2zJj {
  flex-direction: row;
}
._2wAKy-0ZkO_vhbiQCP9MgE .lYUEjD8Qh3GM_ZrZeLwpI,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber path {
  width: 100%;
  height: 100%;
  position: relative;
}
._2wAKy-0ZkO_vhbiQCP9MgE .lYUEjD8Qh3GM_ZrZeLwpI {
  align-self: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2zbyh5jEDlV5HVD3iUve-k .lYUEjD8Qh3GM_ZrZeLwpI {
  width: 32px;
  height: 32px;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2CphUsHNDgIWItNIzeIldY .lYUEjD8Qh3GM_ZrZeLwpI {
  width: 64px;
  height: 64px;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1x18vR7Qop8v8_G8qSR6CL .lYUEjD8Qh3GM_ZrZeLwpI {
  width: 92px;
  height: 92px;
}
._3IYPzqtvB2ZE7x710d5x2C {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
._21nVi2jNuF_prxLY1mAaKK,
._2wAKy-0ZkO_vhbiQCP9MgE ._21nVi2jNuF_prxLY1mAaKK {
  color: #3d85c8;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  user-select: none;
  margin-top: 8px;
  font-weight: 500;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2CphUsHNDgIWItNIzeIldY ._21nVi2jNuF_prxLY1mAaKK {
  margin-top: 4px;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2zbyh5jEDlV5HVD3iUve-k ._21nVi2jNuF_prxLY1mAaKK {
  margin-top: 2px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber._1ctjA2yjeB21eCDj_r1mVz {
  filter: blur(3px);
  position: absolute;
  left: 0;
  top: 0px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber._1ctjA2yjeB21eCDj_r1mVz path {
  stroke: #4375fd;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber path {
  stroke: #67c1f5;
  animation-name: _1O-cWE6nuIVO3x6-Onw0IU;
  animation-duration: .7s;
  stroke-linecap: butt;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1Vv--mA6PueyEKXXMTwljt,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2K0LzwjOXDopMHoqY_v_CO {
  stroke-dashoffset: 0;
  stroke-dasharray: 116;
  stroke-width: 6px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2K0LzwjOXDopMHoqY_v_CO {
  opacity: 1;
  stroke: #3b8bb9;
  stroke-width: 6px;
  transform-origin: 50% 50%;
  stroke-linecap: round;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1Vv--mA6PueyEKXXMTwljt {
  display: none;
}
@keyframes _1O-cWE6nuIVO3x6-Onw0IU {
  to {
    stroke-dashoffset: -232;
  }
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3sQFkavAEPhliH6DiFmHRH {
  animation-name: ofdi9VLSRZ5W98WsXVHiq;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 1;
  stroke-width: 0;
}
@keyframes ofdi9VLSRZ5W98WsXVHiq {
  0% {
    fill: rgba(103, 193, 245, 0);
  }
  50% {
    fill: rgba(103, 193, 245, 0.05);
  }
  100% {
    fill: rgba(103, 193, 245, 0);
  }
}
._2wAKy-0ZkO_vhbiQCP9MgE
  .SVGIcon_Throbber
  ._1LZffuoDq-N25wNHckxsf
  ._1XN6ZJ1l8nVoUxp1WnOBqw,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1LZffuoDq-N25wNHckxsf circle {
  stroke: #67c1f5;
  animation-name: _1jALk36CiS_T9Pg7vBjpIQ;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 67% 36%;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1LZffuoDq-N25wNHckxsf circle {
  animation-name: _1KvOgdKiNE9XuSYUau3hKW;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2qjZm0dB7I6lcRkZhNTqvD path {
  fill: #67c1f5;
  stroke-width: 0;
  animation-name: _1KvOgdKiNE9XuSYUau3hKW;
  animation-duration: 3s;
  animation-delay: -0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes _1jALk36CiS_T9Pg7vBjpIQ {
  0% {
    opacity: 0;
    transform: scale(0.75);
    stroke-width: 4px;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
  100% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
}
@keyframes _1KvOgdKiNE9XuSYUau3hKW {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2LGHpu_-ihfOhQwdfR3Kiy,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2FGCneH2AemMrIrZnZskw_,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1X-5j16jaQntVrZfadibyc,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1pj1Q3Ef4FdHDdl9QEtpxp,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .xFmZaMe5nZpoTc5PQBKn3,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3MGYowzMQ6TwbH3fu9SVjt,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .ktVJ42jiVhWEVV9O6z2FK,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3s_7my869lIOj-1vnqJ39y,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._11MVp53Me_frOuaJfsQ4FE,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2cl-maglen-RF0YQjShgqG,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3-JE0FpIzECzeqtd5cyjGI,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1xNIKvHdzLhBldONo6yIZs,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1S17yicfcrPc11m83ydGp3,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1-oUJqmCLOoGqVJz5dgj6J,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2tXgejjqNKy6cSX1Lv7PrG {
  animation-name: _1fs4RGcMBRzbQQirDBiFoM;
  animation-duration: 3s;
  stroke-dasharray: 150 950;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2tXgejjqNKy6cSX1Lv7PrG {
  animation-delay: 0s;
  opacity: 0.06;
  stroke-width: .5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1-oUJqmCLOoGqVJz5dgj6J {
  animation-delay: -0.1s;
  opacity: 0.13;
  stroke-width: 1px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1S17yicfcrPc11m83ydGp3 {
  animation-delay: -0.2s;
  opacity: 0.2;
  stroke-width: 1.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1xNIKvHdzLhBldONo6yIZs {
  animation-delay: -0.3s;
  opacity: 0.26;
  stroke-width: 2px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3-JE0FpIzECzeqtd5cyjGI {
  animation-delay: -0.4s;
  opacity: 0.33;
  stroke-width: 2.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2cl-maglen-RF0YQjShgqG {
  animation-delay: -0.5s;
  opacity: 0.4;
  stroke-width: 3px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._11MVp53Me_frOuaJfsQ4FE {
  animation-delay: -0.6s;
  opacity: 0.46;
  stroke-width: 3.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3s_7my869lIOj-1vnqJ39y {
  animation-delay: -0.7s;
  opacity: 0.53;
  stroke-width: 4px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .ktVJ42jiVhWEVV9O6z2FK {
  animation-delay: -0.8s;
  opacity: 0.6;
  stroke-width: 4.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3MGYowzMQ6TwbH3fu9SVjt {
  animation-delay: -0.9s;
  opacity: 0.66;
  stroke-width: 5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .xFmZaMe5nZpoTc5PQBKn3 {
  animation-delay: -1s;
  opacity: 0.73;
  stroke-width: 5.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1pj1Q3Ef4FdHDdl9QEtpxp {
  animation-delay: -1.1s;
  opacity: 0.8;
  stroke-width: 6px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1X-5j16jaQntVrZfadibyc {
  animation-delay: -1.2s;
  opacity: 0.86;
  stroke-width: 6.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2FGCneH2AemMrIrZnZskw_ {
  animation-delay: -1.3s;
  opacity: 0.93;
  stroke-width: 7px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2LGHpu_-ihfOhQwdfR3Kiy {
  animation-delay: -1.4s;
  opacity: 1;
  stroke-width: 7.5px;
}
@keyframes _1fs4RGcMBRzbQQirDBiFoM {
  100% {
    stroke-dashoffset: -1100;
  }
}
._2zbyh5jEDlV5HVD3iUve-k {
  width: 36px;
  height: 36px;
}
._2CphUsHNDgIWItNIzeIldY {
  width: 64px;
  height: 64px;
}
._1x18vR7Qop8v8_G8qSR6CL {
  width: 92px;
  height: 92px;
}
._1gYeZMYKBDqNpVuw58_LCl {
  width: 120px;
  height: 120px;
}
._3j-p4JOqdpaF4obGtIeAB {
  width: 240px;
  height: 240px;
}
.I3aEq3lbK7Pm8ujENvtri {
  opacity: 0;
  transition: opacity 1s;
}
.I3aEq3lbK7Pm8ujENvtri._2SwSJd-DlX2dRiDGxZWHI5 {
  opacity: 1;
}
._1m8iQOSVziKDHiInrfskv_ img {
  width: 100%;
}
._3ICxVDu3-Bkx9aqyLehGGP {
  position: relative;
  width: 100%;
}
.BasicUI ._3ICxVDu3-Bkx9aqyLehGGP {
  padding: 14px;
  box-sizing: border-box;
}
._3ICxVDu3-Bkx9aqyLehGGP .fRZmXDVszenGo5WnHprTJ {
  text-align: left;
  font-size: 17px;
  color: #ffffffa3;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.BasicUI ._3ICxVDu3-Bkx9aqyLehGGP .fRZmXDVszenGo5WnHprTJ {
  font-size: 12px;
  font-weight: 400;
}
._3ICxVDu3-Bkx9aqyLehGGP ._3ceduHPK-lBiZ5fsmCstLP {
  text-align: left;
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 6px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.BasicUI ._3ICxVDu3-Bkx9aqyLehGGP ._3ceduHPK-lBiZ5fsmCstLP {
  font-size: 16px;
  font-weight: 400;
}
._3ICxVDu3-Bkx9aqyLehGGP .zDfA0bzAjCUkfaQx_KvS7 {
  cursor: pointer;
  box-shadow: 0 6px 10px #000a;
  font-size: 0px;
}
._3ICxVDu3-Bkx9aqyLehGGP .zDfA0bzAjCUkfaQx_KvS7 img {
  width: 100%;
}
._2FXMECiK-1oag3HieTiKJW {
  background-color: hotpink;
  border: 1px solid;
  padding: 10px;
}
.yloqxGhIEzvGIwbQbo6KP .DialogContentFullSize .DialogContent_InnerWidth {
  overflow: hidden;
}
._1wwvw8QMJqug_-ioZdRJTC {
  width: fit-content;
  height: fit-content;
}
.PopupFullWindow ._1wwvw8QMJqug_-ioZdRJTC {
  width: calc(100vw - 48px);
}
._31XZuVC3l846TjPDScscaS {
  width: auto;
  height: auto;
  max-height: 90vh;
  max-width: 80vw;
}
._3MyspS-H5SnsUnKa3yhdtJ {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}
._1tCO1rmBfntUI0TlpTly1F {
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 50%;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.4);
}
._1tCO1rmBfntUI0TlpTly1F:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
._1tCO1rmBfntUI0TlpTly1F._1a_f8VY56CtjgePDRTaC-W {
  opacity: 0.5;
  pointer-events: none;
}

._16SknI_KfMn45zQAvi-Xrs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
._16SknI_KfMn45zQAvi-Xrs img {
  display: block;
}
._16SknI_KfMn45zQAvi-Xrs ._3Mns5ZEBThi10kv9zwdCRr {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  opacity: 0;
  transition: opacity .2s ease-in;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 5px 5px 1px 5px;
}
._16SknI_KfMn45zQAvi-Xrs:hover {
  cursor: pointer;
}
._16SknI_KfMn45zQAvi-Xrs:hover ._3Mns5ZEBThi10kv9zwdCRr {
  opacity: 0.5;
}
._1Ihp0wKLvNYkePQe0VrHnC {
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}
A:visited {
  color: #fff;
  text-decoration: none;
}
A:link {
  color: #fff;
  text-decoration: none;
}
A:hover {
  color: #fff;
  text-decoration: none;
}
A:active {
  color: #000;
  text-decoration: none;
}
._3t5WMbFCdjhi0jY_LsEmHU {
  position: relative;
  width: 100%;
  min-height: 45px;
  margin-top: 11px;
  display: flex;
  flex-direction: column;
}
._3t5WMbFCdjhi0jY_LsEmHU ._1ZbewdWkMfyxa_PdVDMoDU {
  font-family: "Motiva Sans", Sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}
._3t5WMbFCdjhi0jY_LsEmHU ._2_eDs58X0eEznR-ukDC_qt {
  font-family: "Motiva Sans", Sans-serif;
  font-size: 11px;
  width: 100%;
  color: #58636a;
  text-align: left;
}
.BasicUI ._3t5WMbFCdjhi0jY_LsEmHU ._2_eDs58X0eEznR-ukDC_qt {
  display: none;
}
._3IuUvJa9v9WI7_4WCI8-5t {
  flex-direction: row-reverse;
}
._3IuUvJa9v9WI7_4WCI8-5t ._3J3L60oPKSSmfBrQoNzGka {
  display: none;
}
._3IuUvJa9v9WI7_4WCI8-5t ._2_eDs58X0eEznR-ukDC_qt {
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
._3J3L60oPKSSmfBrQoNzGka {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Motiva Sans", Sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  background-color: #56627b;
  border-radius: 3px;
  font-weight: 400;
  padding: 0px 30px 0px;
  height: 46px;
  width: fit-content;
  flex-grow: 1;
  line-height: 19px;
  transition: box-shadow .25s ease-out, background-color .25s ease-out;
}
._3J3L60oPKSSmfBrQoNzGka:hover {
  background-color: #427d9f;
  box-shadow: 2px 2px 10px #000;
  cursor: pointer;
}
._2g5STEIbDalv8hDLrPF3f- {
  margin-left: 12px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
}
._2g5STEIbDalv8hDLrPF3f- .StoreSalePriceWidgetContainer {
  height: 46px;
  margin-top: 0px;
}
._2g5STEIbDalv8hDLrPF3f- .StoreSalePriceWidgetContainer:not(.Discounted) {
  padding: 4px 8px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
}
.G3m3RKwAqO-NG8_dvnifU {
  height: 59px;
  width: 145px;
  display: inline-table;
  vertical-align: middle;
  position: absolute;
  text-align: center;
  right: 0px;
}
._3fIuqvgfN6oD_bvpdHWEl8 {
  width: 0px;
  float: right;
}
._14BApLFAAyKDCTSv-FU3cM {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  height: 33px;
  margin-top: 10px;
}
._1E4sfQ48HHNa1aVRVPso3t {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  height: 33px;
  margin-top: 10px;
}
.lhwy7sGWsQ0H-qiGzBfVO {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #999;
  text-decoration: line-through;
  position: relative;
  top: -10px;
}
._3zM6T8KcphlmjOBnyqYGi0 {
  font-size: 14px;
  color: #666;
  text-decoration: line-through;
}
._2OxhXhvrpr4BL-kq6s7Eov {
  font-family: "Motiva Sans", Sans-serif;
  text-align: center;
  margin: 0px auto;
  max-width: 570px;
  width: calc(100vh - 150px);
  padding: 0;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.BasicUI ._2OxhXhvrpr4BL-kq6s7Eov {
  padding: 0;
  max-width: 400px;
  width: 400px;
}
._2OxhXhvrpr4BL-kq6s7Eov:hover ._1M-oJo6Qwi_taE9-LcUQXw img {
  filter: brightness(1.6) saturate(1.2);
  box-shadow: inset 0 6px 10px #000a;
}
.yNkHDKSU1gO-i7O8pRwGb {
  height: 600px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.BasicUI .yNkHDKSU1gO-i7O8pRwGb {
  position: relative;
  width: 401px;
  height: 422px;
}
._3R5wv6ya3QU6VH7qq2819z {
  box-sizing: content-box;
  cursor: pointer;
  width: auto;
  position: relative;
  box-shadow: 0 6px 10px #000a;
  font-size: 0px;
  transition: box-shadow .15s ease-out;
}
._3R5wv6ya3QU6VH7qq2819z._1M-oJo6Qwi_taE9-LcUQXw {
  pointer-events: none;
  filter: blur(20px);
  transform: scaleX(1.27) scaleY(1.22);
  position: absolute;
  -webkit-mask-image: linear-gradient(
    to top,
    transparent 0%,
    rgba(0, 0, 0, 0.7) 35%,
    transparent 75%
  );
  mask-image: linear-gradient(
    to top,
    transparent 0%,
    rgba(0, 0, 0, 0.7) 35%,
    transparent 75%
  );
}
@media (prefers-contrast: more) {
  ._3R5wv6ya3QU6VH7qq2819z._1M-oJo6Qwi_taE9-LcUQXw {
    display: none;
  }
}
._3R5wv6ya3QU6VH7qq2819z img {
  max-width: 570px;
  width: calc(100vh - 150px);
  transition-property: filter, transform, box-shadow;
  transition-duration: .25s;
  transition-timing-function: ease-out;
}
._3R5wv6ya3QU6VH7qq2819z video {
  width: 100%;
  height: 100%;
}
._2yR5YNB4D48KDMaHJC7ELs {
  position: relative;
}
._1YhdlZrF81fOxpD5J2tD7o {
  top: -20%;
  height: 100%;
}
._1YhdlZrF81fOxpD5J2tD7o img {
  height: 100%;
  width: 100%;
}
._6Tfttc004NhLDjbTDS9PC {
  display: flex;
  flex-direction: row;
  width: 570px;
  margin: 21px auto;
  padding-bottom: 21px;
  background: radial-gradient(
    50.51% 50.51% at 50% 87.88%,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.BasicUI ._6Tfttc004NhLDjbTDS9PC {
  width: 100%;
  margin: 14px;
  padding-bottom: 14px;
}
._6Tfttc004NhLDjbTDS9PC .bSrl3b6Qz1HKSithRsqvM {
  width: 78px;
  margin-right: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  flex-shrink: 0;
  cursor: pointer;
}
.BasicUI ._6Tfttc004NhLDjbTDS9PC .bSrl3b6Qz1HKSithRsqvM {
  width: 40px;
}
._6Tfttc004NhLDjbTDS9PC
  .bSrl3b6Qz1HKSithRsqvM
  .HeroCapsuleImageContainer::after {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(235, 245, 255, 0.25) 0%,
    rgba(10, 10, 10, 0) 40%,
    rgba(10, 10, 10, 0) 65%,
    rgba(10, 10, 10, 0.8) 100%
  );
  transition: opacity .3s;
  opacity: 0.5;
}
._6Tfttc004NhLDjbTDS9PC ._20PKe9KJTJC5SAbLi4Dy-Y {
  display: flex;
  flex-direction: column;
}
._6Tfttc004NhLDjbTDS9PC ._20PKe9KJTJC5SAbLi4Dy-Y .kgQI2KVBs-Y3neqiTpbvQ {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
}
._6Tfttc004NhLDjbTDS9PC ._20PKe9KJTJC5SAbLi4Dy-Y .QFFkjL-A27JtOIgIqO5dH {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 32px;
  line-height: 1.1;
  color: #fff;
  font-weight: 300;
  text-align: left;
  cursor: pointer;
}
.BasicUI
  ._6Tfttc004NhLDjbTDS9PC
  ._20PKe9KJTJC5SAbLi4Dy-Y
  .QFFkjL-A27JtOIgIqO5dH {
  font-size: 18px;
}
._6Tfttc004NhLDjbTDS9PC ._20PKe9KJTJC5SAbLi4Dy-Y ._1ddC4grHqe7uggEE2cihEv {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #c6d4df;
  gap: 0 30px;
}
.BasicUI
  ._6Tfttc004NhLDjbTDS9PC
  ._20PKe9KJTJC5SAbLi4Dy-Y
  ._1ddC4grHqe7uggEE2cihEv
  ._3J3L60oPKSSmfBrQoNzGka {
  display: none;
}
._6Tfttc004NhLDjbTDS9PC
  ._20PKe9KJTJC5SAbLi4Dy-Y
  ._1ddC4grHqe7uggEE2cihEv
  ._2T5KnJO7YB00MG9YIyfImx {
  background: linear-gradient(to right, #465064, #56627b);
  padding: 7px 16px;
  border-radius: 3px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  display: block;
  margin-top: 2px;
  font-size: 13px;
  cursor: pointer;
}
._6Tfttc004NhLDjbTDS9PC
  ._20PKe9KJTJC5SAbLi4Dy-Y
  ._1ddC4grHqe7uggEE2cihEv
  ._2T5KnJO7YB00MG9YIyfImx:hover {
  background: linear-gradient(to right, #6c778d, #6a7488);
}
.BasicUI
  ._6Tfttc004NhLDjbTDS9PC
  ._20PKe9KJTJC5SAbLi4Dy-Y
  ._1ddC4grHqe7uggEE2cihEv
  ._2T5KnJO7YB00MG9YIyfImx._3he9kmZ7_zW9VD6jkZAb1N {
  display: none;
}
._6Tfttc004NhLDjbTDS9PC
  ._20PKe9KJTJC5SAbLi4Dy-Y
  ._1ddC4grHqe7uggEE2cihEv
  .J3BmO963EVK__A5VRDAQM {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: left;
}
._6Tfttc004NhLDjbTDS9PC
  ._20PKe9KJTJC5SAbLi4Dy-Y
  ._1ddC4grHqe7uggEE2cihEv
  .J3BmO963EVK__A5VRDAQM
  span {
  display: block;
  text-transform: uppercase;
  letter-spacing: .04em;
  font-size: 13px;
  color: #fff;
  font-weight: 200;
}
@media screen and (max-height: 540px) {
  ._1Ihp0wKLvNYkePQe0VrHnC {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  ._2OxhXhvrpr4BL-kq6s7Eov {
    width: 330px;
    padding: 8px;
  }
  .BasicUI ._2OxhXhvrpr4BL-kq6s7Eov {
    width: 100%;
    height: 422px;
  }
  ._3R5wv6ya3QU6VH7qq2819z {
    width: 100%;
    position: relative;
    box-shadow: 0 0 6px #000;
  }
  ._3R5wv6ya3QU6VH7qq2819z img {
    max-width: 330px;
    width: 100%;
  }
  .BasicUI ._3R5wv6ya3QU6VH7qq2819z img {
    max-width: 100%;
  }
  ._3eCgYrG63hATLNUS2prQdu,
  ._3-KPIEC01O5ncvCQdfuTum {
    width: 100%;
    font-size: 14px;
    padding: 6px 6px 0px 6px;
    box-sizing: border-box;
  }
  ._10sC9pDV-gUZWLDMtbWFpZ {
    height: 32px;
    padding-top: 5px;
  }
  ._3J3L60oPKSSmfBrQoNzGka {
    font-size: 12px;
    margin: 2px auto;
    padding: 9px 12px 0px;
    height: 17px;
    line-height: 9px;
  }
  .BasicUI ._3J3L60oPKSSmfBrQoNzGka {
    display: none;
  }
  ._2g5STEIbDalv8hDLrPF3f- .StoreSalePriceWidgetContainer {
    height: 30px;
  }
  ._3J3L60oPKSSmfBrQoNzGka:hover {
    box-shadow: 2px 2px 6px #000;
  }
  .G3m3RKwAqO-NG8_dvnifU {
    height: 34px;
  }
  ._3fIuqvgfN6oD_bvpdHWEl8,
  .G3m3RKwAqO-NG8_dvnifU {
    width: 81px;
  }
  ._14BApLFAAyKDCTSv-FU3cM,
  ._1E4sfQ48HHNa1aVRVPso3t {
    font-size: 12px;
    height: 19px;
    margin-top: 6px;
  }
  ._1E4sfQ48HHNa1aVRVPso3t {
    font-size: 7px;
  }
  .lhwy7sGWsQ0H-qiGzBfVO {
    font-size: 7px;
    top: -6px;
  }
  ._2_eDs58X0eEznR-ukDC_qt {
    font-size: 7px;
    padding-bottom: 5px;
    width: 100%;
    margin-top: 4px;
    flex-grow: 1;
  }
}
._9H6b5yfaxlmcnHvkqtwDK {
  margin-top: 8vw;
}
._9H6b5yfaxlmcnHvkqtwDK ._2qyLPxO8_nkczRvFiaju8N {
  width: 100%;
  height: auto;
  max-height: 197px;
  position: relative;
  overflow: hidden;
}
._16DzRvjcqFcYr0NYcWmTrg {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 910px) {
  ._16DzRvjcqFcYr0NYcWmTrg {
    min-width: 320px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
.BasicUI ._16DzRvjcqFcYr0NYcWmTrg {
  min-width: unset;
  scroll-snap-align: unset;
  scroll-snap-stop: unset;
}
.center_row_trgt.ItemCount_1 ._16DzRvjcqFcYr0NYcWmTrg {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .center_row_trgt.ItemCount_1 ._16DzRvjcqFcYr0NYcWmTrg {
    width: 100%;
  }
}
._1MwNf8slOG9lOvAeOshmuu {
  display: block;
  height: auto;
  margin-bottom: 8px;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-width: 200px;
  min-height: 210px;
  background-image: radial-gradient(ellipse at top left, #42454c, #25282e);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
._1MwNf8slOG9lOvAeOshmuu:not(:last-child) {
  margin-right: 8px;
}
._1MwNf8slOG9lOvAeOshmuu:hover ._3_wKbXvT7_y5YkrtadL0I6 {
  transform: scale(1.1);
}
.BasicUI ._1MwNf8slOG9lOvAeOshmuu {
  margin: unset;
  border-radius: unset;
  box-shadow: var(--gpShadow-Medium);
  min-width: var(--gpWidth-3colcap);
}
.SaleSectionCarouselPadding ._1MwNf8slOG9lOvAeOshmuu {
  margin: 0px 8px 0px 8px;
}
@media screen and (max-width: 910px) {
  .SaleSectionCarouselPadding ._1MwNf8slOG9lOvAeOshmuu {
    margin: 0px 16px 0px 0px;
  }
}
.BasicUI .SaleSectionCarouselPadding ._1MwNf8slOG9lOvAeOshmuu {
  margin: unset;
}
._2pPj9UWoWM6h318uBN0-8X {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  opacity: 0.4;
  filter: blur(10px);
}
.BasicUI ._2pPj9UWoWM6h318uBN0-8X {
  filter: unset;
}
._2pPj9UWoWM6h318uBN0-8X::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}
.BasicUI ._2pPj9UWoWM6h318uBN0-8X::after {
  backdrop-filter: blur(32px);
}
._22jEpNTfml-w_aRJV-fKDm {
  display: flex;
  flex-direction: column;
  height: 100%;
}
._2qyLPxO8_nkczRvFiaju8N {
  width: 100%;
  max-height: 171px;
  height: auto;
  position: relative;
  overflow: hidden;
}
.ContentHubSalePage ._2qyLPxO8_nkczRvFiaju8N {
  max-height: 197px;
}
._2qyLPxO8_nkczRvFiaju8N._1kFdtNfhXozP4yI_qOv2H- img,
._3o6M87A6T172WsUE6MNvdW:hover
  ._2qyLPxO8_nkczRvFiaju8N._1kFdtNfhXozP4yI_qOv2H-
  img {
  filter: blur(30px);
  clip-path: inset(0);
}
._3_wKbXvT7_y5YkrtadL0I6 {
  width: 100%;
  height: auto;
  position: relative;
  left: 0px;
  transition: transform .4s ease-out;
  top: 0px;
  display: block;
}
._3-EtNa1Nr_737K0kglkT9C {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  height: 61px;
  padding: 12px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
.BasicUI ._3-EtNa1Nr_737K0kglkT9C {
  padding: 12px 16px;
  padding-bottom: 48px;
}
._3-EtNa1Nr_737K0kglkT9C._3-EtNa1Nr_737K0kglkT9C {
  box-sizing: content-box;
}
._2jc1DpJ_WzFtigRh5qDWce {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  max-height: 39px;
  margin-bottom: 4px;
  overflow: hidden;
}
.items_in_row_4 ._2jc1DpJ_WzFtigRh5qDWce {
  line-height: 16px;
  max-height: 32px;
}
._2CXrGPtlQh-j3aSa6XsQDI {
  color: #07bfff;
}
._1Swox5XYdeesack-J7fNLH {
  font-size: 13px;
  max-height: 30px;
  overflow: hidden;
}
.items_in_row_4 ._1Swox5XYdeesack-J7fNLH {
  display: none;
}
@media screen and (max-width: 900px) {
  ._1Swox5XYdeesack-J7fNLH {
    display: none;
  }
}
._3o6M87A6T172WsUE6MNvdW:hover ._3_wKbXvT7_y5YkrtadL0I6,
._3o6M87A6T172WsUE6MNvdW:hover .bC2Zkx7FlANno4SW8FwB- {
  transform: scale(0.98);
  filter: blur(3px) brightness(0.7);
  z-index: 0;
}
._3o6M87A6T172WsUE6MNvdW:hover ._2GYp44BuZLfKRQdeILTDC3 {
  background-color: rgba(21, 22, 25, 0.7);
}
._3o6M87A6T172WsUE6MNvdW:hover ._2GYp44BuZLfKRQdeILTDC3 .ENbI1gFgvIca6HSKAbfiJ {
  filter: blur(0);
  transform: scale(1);
  color: #fff;
}
._3o6M87A6T172WsUE6MNvdW:hover
  ._2GYp44BuZLfKRQdeILTDC3
  ._11JXznGoylLSEmZXZbgcsq {
  filter: blur(0);
  color: #289cff;
  transform: scale(1);
}
._2GYp44BuZLfKRQdeILTDC3 {
  position: absolute;
  top: 0;
  background-color: rgba(21, 22, 25, 0);
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color .24s ease-in-out;
}
.ENbI1gFgvIca6HSKAbfiJ {
  margin: 10px 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0);
  line-height: 20px;
  font-weight: 300;
  overflow: hidden;
  filter: blur(5px);
  user-select: none;
  text-rendering: optimizeSpeed;
  transform: scale(1);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: filter .24s ease-in-out, transform .24s ease-in-out, color .24s
    ease-in-out;
}
.items_in_row_4 .ENbI1gFgvIca6HSKAbfiJ {
  line-height: 16px;
}
._11JXznGoylLSEmZXZbgcsq {
  margin: 20px 20px 0 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(40, 156, 255, 0);
  overflow: hidden;
  filter: blur(5px);
  user-select: none;
  text-rendering: optimizeSpeed;
  transform: scale(1);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: filter .24s ease-in-out, transform .24s ease-in-out, color .24s
    ease-in-out;
}
._1MwNf8slOG9lOvAeOshmuu._1ruRSreC31IK4kUGUcSRDK {
  display: flex;
  background: radial-gradient(
    156.1% 79.95% at 10.31% 0%,
    #1f2f41 0%,
    #303e4f 100%
  );
  min-height: auto;
}
._1MwNf8slOG9lOvAeOshmuu._1ruRSreC31IK4kUGUcSRDK ._3-EtNa1Nr_737K0kglkT9C {
  margin-left: 8px;
}
._1MwNf8slOG9lOvAeOshmuu._1ruRSreC31IK4kUGUcSRDK ._2qyLPxO8_nkczRvFiaju8N {
  max-height: 167px;
  max-width: 358px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}
._1MwNf8slOG9lOvAeOshmuu._1ruRSreC31IK4kUGUcSRDK ._2bTWamVtbFnHovwqhlrxiV {
  color: #929799;
  font-size: 13px;
  position: relative;
  padding-top: 4px;
  max-width: 600px;
  max-height: 38px;
  overflow: hidden;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
._1MwNf8slOG9lOvAeOshmuu._1ruRSreC31IK4kUGUcSRDK .B9-wlbaW3NhZ3FQPArnkW {
  font-size: 18px;
  font-weight: 300;
  color: #ccc;
  line-height: 20px;
}
._1MwNf8slOG9lOvAeOshmuu._1ruRSreC31IK4kUGUcSRDK ._3CQtWw7qMAWImOwd8J5xHi {
  flex-direction: row;
}
._1MwNf8slOG9lOvAeOshmuu._1ruRSreC31IK4kUGUcSRDK ._2hPZwxDYhaY3SllhjeFqb_ {
  text-transform: uppercase;
  color: rgba(40, 156, 255, 0.8);
  font-size: 12px;
  display: initial;
  margin-right: 4px;
}
._3OzV3h4jW1bkLmB6TqbYmo._3OzV3h4jW1bkLmB6TqbYmo._3OzV3h4jW1bkLmB6TqbYmo {
  width: 120px;
  height: auto;
  box-shadow: 2px 2px 10px #000;
}
.BasicUI
  ._3OzV3h4jW1bkLmB6TqbYmo._3OzV3h4jW1bkLmB6TqbYmo._3OzV3h4jW1bkLmB6TqbYmo {
  box-shadow: var(--gpShadow-Medium);
}
._16au-uWHggl6G731aw_eHt {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -10px;
  left: 10px;
  width: calc(100% - 20px);
}
.BasicUI ._16au-uWHggl6G731aw_eHt {
  top: 8px;
  left: 0px;
  width: unset;
  justify-content: unset;
  column-gap: 12px;
}
.IeC3X0McKdGC79BsC3VvM {
  flex-shrink: 0;
  margin-right: -2px;
  z-index: 1;
}
.BasicUI .IeC3X0McKdGC79BsC3VvM {
  margin-right: unset;
}
.BasicUI .IeC3X0McKdGC79BsC3VvM a {
  display: flex;
}
._2-l2M5GPuxKFwV8h1tc_fH {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  flex-shrink: 1;
}
.BasicUI ._2-l2M5GPuxKFwV8h1tc_fH {
  background: unset;
  flex-direction: row;
  column-gap: 4px;
}
._2-l2M5GPuxKFwV8h1tc_fH span {
  font-size: 12px;
  line-height: 17px;
  padding: 0px 8px;
  box-sizing: border-box;
  width: 100%;
}
.BasicUI ._2-l2M5GPuxKFwV8h1tc_fH span {
  font-size: unset;
  line-height: unset;
}
._2-l2M5GPuxKFwV8h1tc_fH span:first-child {
  padding-top: 2px;
  padding-bottom: 2px;
}
.BasicUI ._2-l2M5GPuxKFwV8h1tc_fH span:first-child {
  padding-top: unset;
}
._2-l2M5GPuxKFwV8h1tc_fH span:last-child {
  padding-bottom: 2px;
  padding-top: 2px;
}
.BasicUI ._2-l2M5GPuxKFwV8h1tc_fH span:last-child {
  padding-bottom: unset;
}
._49thIpYeG08pUfNc1x_w9 {
  display: flex;
  flex-direction: row;
}
._49thIpYeG08pUfNc1x_w9:hover {
  color: #fff;
}
._78Qv2C95AM2DNCuLD5o8U {
  width: 220px;
  position: relative;
  flex-shrink: 0;
}
._78Qv2C95AM2DNCuLD5o8U video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
._2qz5D65VkY796Xw-al9f_a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  width: 220px;
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 12px;
}
._2qz5D65VkY796Xw-al9f_a ._2h0GKAYcXRP10ryZHFn79d {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 18px;
  font-weight: 400;
  background: rgba(103, 193, 245, 0.15);
  color: #67c1f5;
  width: fit-content;
  padding: 0 6px;
  border-radius: 3px;
  margin-bottom: 4px;
}
._2qz5D65VkY796Xw-al9f_a .wJ7ZiTc09km2kH4mSsZ9j {
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}
._2qz5D65VkY796Xw-al9f_a .SaleTagBlockCtn .TagBox {
  max-height: 38px;
}
.widestore ._78Qv2C95AM2DNCuLD5o8U {
  width: 275px;
}
html.responsive.touch .widestore ._78Qv2C95AM2DNCuLD5o8U {
  width: 220px;
}
@media screen and (max-width: 910px) {
  html.responsive .widestore ._78Qv2C95AM2DNCuLD5o8U {
    width: 220px;
  }
}
.widestore ._2qz5D65VkY796Xw-al9f_a {
  width: 100%;
}
._3vQ5a1hrg4SbTU1Uw3351z {
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  filter: blur(20px);
}
@media (prefers-contrast: more) {
  ._3vQ5a1hrg4SbTU1Uw3351z {
    display: none;
  }
}
._3vQ5a1hrg4SbTU1Uw3351z img {
  position: absolute;
  transform: scale(1.5) translateY(50px);
}
._3vQ5a1hrg4SbTU1Uw3351z img:first-child {
  filter: opacity(0.2);
  -webkit-mask-image: radial-gradient(
    at 50% 37%,
    rgba(0, 0, 0, 0.98),
    rgba(0, 0, 0, 0) 44%
  );
  mask-image: radial-gradient(at 50% 37%, black, rgba(0, 0, 0, 0) 44%);
}
._3vQ5a1hrg4SbTU1Uw3351z img:last-child {
  filter: opacity(0.8) blur(30px);
  -webkit-mask-image: radial-gradient(at 50% 45%, black, rgba(0, 0, 0, 0) 37%);
  mask-image: radial-gradient(at 50% 45%, black, rgba(0, 0, 0, 0) 37%);
}
._3H7i0ChQjoGWieNRcKmYea {
  display: flex;
  flex-direction: column;
  width: 570px;
  margin: 0 auto;
}
.BasicUI ._3H7i0ChQjoGWieNRcKmYea {
  width: 100%;
  padding: 0 14px 14px 14px;
  box-sizing: border-box;
}
._3H7i0ChQjoGWieNRcKmYea .HmoaKPBZvHxysTOtEt6I_ {
  width: 100%;
  text-align: left;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}
._3H7i0ChQjoGWieNRcKmYea ._3fPQtBXFQwL3xrK4zmpmyq {
  width: 100%;
  text-align: left;
  font-size: 16px;
  line-height: 1.1;
  color: #dee6ed;
  font-weight: 200;
}
.BasicUI ._3H7i0ChQjoGWieNRcKmYea ._3fPQtBXFQwL3xrK4zmpmyq {
  font-size: 14px;
}
._3H7i0ChQjoGWieNRcKmYea ._6a9d-uI8VyQTmWHS3vFI- {
  width: 100%;
  margin-top: 12px;
}
._3H7i0ChQjoGWieNRcKmYea ._2lKQioAzojICHeg5SX6fhc {
  margin-top: 12px;
}
._3H7i0ChQjoGWieNRcKmYea ._2lKQioAzojICHeg5SX6fhc .CapsuleImageCtn {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6666666667);
}
._3H7i0ChQjoGWieNRcKmYea ._1s9-9e_1KjO0xTTJNj-KuT {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}
._3H7i0ChQjoGWieNRcKmYea ._1s9-9e_1KjO0xTTJNj-KuT .CapsuleImageCtn {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6666666667);
}
._3H7i0ChQjoGWieNRcKmYea ._1s9-9e_1KjO0xTTJNj-KuT ._3H7i0ChQjoGWieNRcKmYea {
  width: calc(50% - 6px);
}
._3H7i0ChQjoGWieNRcKmYea
  ._1s9-9e_1KjO0xTTJNj-KuT
  ._3H7i0ChQjoGWieNRcKmYea:first-child {
  margin-right: 12px;
}
._3H7i0ChQjoGWieNRcKmYea .CapsuleImageCtn::after {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(235, 245, 255, 0.25) 0%,
    rgba(10, 10, 10, 0) 40%,
    rgba(10, 10, 10, 0) 65%,
    rgba(10, 10, 10, 0.8) 100%
  );
  transition: opacity .3s;
  opacity: 0.5;
}
._3H7i0ChQjoGWieNRcKmYea .CapsuleBottomBar {
  background-color: transparent;
}
div.StoreSaleWidgetTitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  -webkit-line-clamp: 2;
}
._24bJJZ8-xr8Et4DVUrr17J {
  position: absolute;
  bottom: 120px;
  width: 528px;
  height: 297px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow .25s ease-out;
}
.BasicUI ._24bJJZ8-xr8Et4DVUrr17J {
  padding-top: 56.25%;
  width: 100%;
  height: 0;
  bottom: 0;
  overflow: hidden;
}
._24bJJZ8-xr8Et4DVUrr17J:hover {
  box-shadow: 0 0 10px #000;
}
._24bJJZ8-xr8Et4DVUrr17J:hover svg {
  opacity: 1;
}
._24bJJZ8-xr8Et4DVUrr17J svg {
  width: 100px;
  height: 100px;
  position: absolute;
  fill: #fff;
  opacity: 0.8;
  transition: opacity .25s ease-out;
}
.BasicUI ._24bJJZ8-xr8Et4DVUrr17J svg {
  width: 50px;
  height: 50px;
  top: 33%;
}
._3LbyxomxMvYMy7cLThkkIf {
  width: 528px;
  height: 297px;
}
.BasicUI ._3LbyxomxMvYMy7cLThkkIf {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
._2bH_Jxh-T2YFCPBCW_pvQB {
  width: 528px;
  height: 297px;
}
.BasicUI ._2bH_Jxh-T2YFCPBCW_pvQB {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.-ap7mXqcxyhrxn5-5EaM8 {
  width: 100%;
  --gap-size: 4px;
}
@media screen and (max-width: 800px) {
  .-ap7mXqcxyhrxn5-5EaM8 {
    display: none;
  }
}
._1XVJzaNLt0tgl6Pq5QI2tK {
  width: 570px;
  --gap-size: 8px;
}
.BasicUI ._1XVJzaNLt0tgl6Pq5QI2tK {
  width: 370px;
  margin: 0 auto;
}
.BasicUI ._1XVJzaNLt0tgl6Pq5QI2tK .COp9MkmgXCc5Y3ytJM70W {
  display: none;
}
._28DkEkOjvTWfq0sU8m_i32 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}
.FATLceF4ncP8L8QnrQTXV {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 57.3%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 1px 2px 10px #000a;
}
.FATLceF4ncP8L8QnrQTXV .h0pphNa_Fdu4JUevL5V9y > img {
  border-radius: 3px;
  width: 100%;
  object-fit: cover;
}
.FATLceF4ncP8L8QnrQTXV ._20YpaGv3V_QArQyy15zAJc {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.FATLceF4ncP8L8QnrQTXV ._20YpaGv3V_QArQyy15zAJc img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
._30BxsjSFrUWCBKntWK9hPg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
._30BxsjSFrUWCBKntWK9hPg:hover {
  cursor: pointer;
}
._30BxsjSFrUWCBKntWK9hPg:hover ._2UuNsdHxhT9la27J_j3BFs {
  filter: blur(20px);
}
._30BxsjSFrUWCBKntWK9hPg:hover .ETHkFxrlPF1znTFXFtjtK {
  opacity: 1;
}
._30BxsjSFrUWCBKntWK9hPg ._2UuNsdHxhT9la27J_j3BFs {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  transition: filter .2s ease-in-out;
  filter: blur(0px);
}
._30BxsjSFrUWCBKntWK9hPg .ETHkFxrlPF1znTFXFtjtK {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  background: #324966ab;
  gap: 12px;
}
._30BxsjSFrUWCBKntWK9hPg .ETHkFxrlPF1znTFXFtjtK .udhKC-bUdlotRKphK3Fn2 {
  font-size: 26px;
  line-height: 1.1;
  font-weight: 600;
  color: #fff;
  text-align: left;
}
._30BxsjSFrUWCBKntWK9hPg .ETHkFxrlPF1znTFXFtjtK ._2e5PhNJqb68XISttHxdVF2 {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.COp9MkmgXCc5Y3ytJM70W {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-size);
}
.COp9MkmgXCc5Y3ytJM70W ._3B8X2c5pBF96hapgz03tC4 {
  cursor: pointer;
}
.COp9MkmgXCc5Y3ytJM70W .rE40TQ86G7cjVETvUYZm3 {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: calc((56.25% - 16px) / 3);
}
.COp9MkmgXCc5Y3ytJM70W .rE40TQ86G7cjVETvUYZm3 img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.h0pphNa_Fdu4JUevL5V9y {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition-property: transform, opacity;
  transition-duration: .21s;
  transition-timing-function: ease-out;
}
.h0pphNa_Fdu4JUevL5V9y img {
  width: 100%;
  height: auto;
}
.h0pphNa_Fdu4JUevL5V9y._3D99vg3-OLr6XsvxrtzhZa {
  opacity: 0;
  transform: translateX(-198px) scale(1.7) translateY(5px);
}
._2sJlIVAVWZ2I2iA6IO4pOv {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #0006;
  border: 1px solid #aaa3;
  opacity: 0.75;
  transition-property: opacity;
  transition-duration: .16s;
  transition-timing-function: ease-in-out;
}
.h0pphNa_Fdu4JUevL5V9y:hover ._2sJlIVAVWZ2I2iA6IO4pOv {
  opacity: 1;
}
.h0pphNa_Fdu4JUevL5V9y:hover ._2sJlIVAVWZ2I2iA6IO4pOv .SVGIcon_Play {
  fill: #fff;
}
._2sJlIVAVWZ2I2iA6IO4pOv .SVGIcon_Play {
  fill: #ccc;
  width: 50%;
  height: 50%;
  margin-left: 18px;
  margin-top: 15px;
  transition-property: fill;
  transition-duration: .16s;
  transition-timing-function: ease-in-out;
}
._3mzKCP4FLx7fUVeKrhZ1nn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: .26s;
  transition-timing-function: ease-in-out;
}
._3mzKCP4FLx7fUVeKrhZ1nn._3D99vg3-OLr6XsvxrtzhZa {
  opacity: 1;
  pointer-events: initial;
}
._3mzKCP4FLx7fUVeKrhZ1nn .SVGIcon_X_Line {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
._3mzKCP4FLx7fUVeKrhZ1nn .SVGIcon_X_Line line {
  stroke-width: 30px;
  stroke: #aaa;
}
._3mzKCP4FLx7fUVeKrhZ1nn .SVGIcon_X_Line:hover line {
  stroke: #fff;
}
._2LqAoKcZgpOtpoj5_URVNJ {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  top: 8px;
  left: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-property: width;
  transition-duration: .26s;
  transition-timing-function: ease-in-out;
}
.PopupFullWindow ._2LqAoKcZgpOtpoj5_URVNJ {
  width: calc(100vw - 48px);
}
._3zPl6O67BYIiFOlq7FxlJP {
  max-width: 84vw;
  max-height: 80vh;
  object-fit: contain;
  align-self: center;
  flex: 1;
}
._3zPl6O67BYIiFOlq7FxlJP:focus {
  outline: none;
}
._3HELOo0qFfDrRZ9Sa1GXeF {
  position: absolute;
  z-index: 11;
  top: -20px;
  left: 0;
  padding: 3px 4px;
  color: #fff;
  background-color: #333;
  font-size: 14px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  user-select: none;
  opacity: 0;
  transition: all .5s ease-in-out;
}
._3HELOo0qFfDrRZ9Sa1GXeF ._2YhOhoyYNbue9fEPMYPiq2 {
  font-weight: 600;
}
._3HELOo0qFfDrRZ9Sa1GXeF._2cpBClyttSkWAsgMArc0BM {
  top: 0;
  opacity: 1;
}
._1H1L2spV-tto6AJmQMSfsA {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.BasicUI ._1H1L2spV-tto6AJmQMSfsA {
  height: 370px;
}
._2iA76-Eh1ID-HXFGGR5BoH {
  height: 166px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 0;
}
.klzItvORTtJ0Eeg8ArDrN {
  max-width: 570px;
  overflow-wrap: break-word;
  hyphens: manual;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 48px;
  line-height: 1.3;
  font-weight: 800;
  background: linear-gradient(180deg, #dee1e8 28.66%, #c9ced9 75.61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.BasicUI .klzItvORTtJ0Eeg8ArDrN {
  font-size: 33px;
}
.QPZq6bu7lf50YpRKZgPCc {
  font-size: 16px;
  color: #dee1e8;
}
