.kmeCX_wpui82T0Ay3SHMK {
  font-family: "Motiva Sans", sans-serif;
  position: relative;
  width: 570px;
  height: 600px;
  overflow: hidden;
  text-align: center;
  margin: 0px auto;
  padding: 0px 13px;
  user-select: none;
  background: radial-gradient(
    136.99% 78.49% at 53.43% 10.55%,
    #642452 0%,
    #06123d 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kmeCX_wpui82T0Ay3SHMK ._1x7ZLZe4piW-DdqVrsm5Rc {
  display: flex;
  align-items: flex-start;
  top: 8px;
  margin-block-start: 20px;
}
.kmeCX_wpui82T0Ay3SHMK ._3zmnJddpZHfuRioLAQcKiy {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  font-weight: 800;
  text-align: left;
}
.kmeCX_wpui82T0Ay3SHMK .GD-gM7AAfIW0KNZGy6viX {
  color: #4ad4ff;
}
.kmeCX_wpui82T0Ay3SHMK ._3kQfW35d8vQmlimznJtDHn {
  position: absolute;
  left: -1.05%;
  right: -2.42%;
  top: -0.35%;
  bottom: -4.17%;
  opacity: 0.4;
  pointer-events: none;
}
.kmeCX_wpui82T0Ay3SHMK ._1YyUUdxLCPo7rivj2LMbsy {
  width: 80px;
  height: 50px;
  color: #fff;
}
.kmeCX_wpui82T0Ay3SHMK ._2vNb48AZCK8WI85zHtsdCY {
  fill: #4ad4ff;
}
.kmeCX_wpui82T0Ay3SHMK ._3ys0VP797mCkRyi1qy9HAV {
  position: absolute;
  right: 35px;
  bottom: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #4ad4ff;
}
.kmeCX_wpui82T0Ay3SHMK ._11HvbQQuzHlFxfOA60-Iwg {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.kmeCX_wpui82T0Ay3SHMK ._3Or4z4eTNQFrEBsv0jrVjh {
  border: 4.95px solid #4ad4ff;
  width: 99px;
  height: 99px;
  margin-bottom: 10px;
}
.kmeCX_wpui82T0Ay3SHMK ._3Or4z4eTNQFrEBsv0jrVjh img {
  width: 100%;
  height: 100%;
}
.kmeCX_wpui82T0Ay3SHMK .Vs2aJC40zq4lSl1GB9Fl_ {
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 42px;
  color: #fff;
  margin-bottom: 30px;
}
.kmeCX_wpui82T0Ay3SHMK .Vs2aJC40zq4lSl1GB9Fl_ ._1rb__jUs4xd9Symf36sR84,
.kmeCX_wpui82T0Ay3SHMK .Vs2aJC40zq4lSl1GB9Fl_ ._1V-KRTqy8PtfpmvRkySY8x {
  color: #4ad4ff;
}
.kmeCX_wpui82T0Ay3SHMK .Vs2aJC40zq4lSl1GB9Fl_ ._15WYpmISjvERUIGbPuilgB {
  padding-top: 20px;
  max-width: 400px;
}
.kmeCX_wpui82T0Ay3SHMK ._1Dve5b-rHkzuotINR4Xh7G {
  background: linear-gradient(270.05deg, #1babd8 0.05%, #4ad4ff 99.24%);
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 24px;
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 30px;
}
.kmeCX_wpui82T0Ay3SHMK ._1Dve5b-rHkzuotINR4Xh7G:hover {
  box-shadow: 2px 2px 10px #000;
  background: linear-gradient(270.05deg, #56bfdf 0.05%, #74dcfc 99.24%);
}
.kmeCX_wpui82T0Ay3SHMK ._3PEXENleI6xShkV5isURGX {
  color: rgba(229, 229, 229, 0.75);
  font-size: 18px;
  line-height: 26px;
}
.kmeCX_wpui82T0Ay3SHMK .Vs2aJC40zq4lSl1GB9Fl_,
.kmeCX_wpui82T0Ay3SHMK ._3PEXENleI6xShkV5isURGX {
  max-width: 480px;
}
@media screen and (max-width: 500px) {
  .kmeCX_wpui82T0Ay3SHMK {
    width: 100vw;
    height: 100vh;
    padding: 0px;
  }
  .kmeCX_wpui82T0Ay3SHMK ._3zmnJddpZHfuRioLAQcKiy {
    font-size: 15px;
    line-height: 15px;
  }
  .kmeCX_wpui82T0Ay3SHMK ._1YyUUdxLCPo7rivj2LMbsy {
    width: 60px;
    height: 40px;
  }
  .kmeCX_wpui82T0Ay3SHMK ._11HvbQQuzHlFxfOA60-Iwg {
    padding-top: 20px;
  }
  .kmeCX_wpui82T0Ay3SHMK ._3Or4z4eTNQFrEBsv0jrVjh {
    width: 50px;
    height: 50px;
    margin-bottom: 4px;
  }
  .kmeCX_wpui82T0Ay3SHMK .Vs2aJC40zq4lSl1GB9Fl_ {
    font-size: 20px;
    line-height: normal;
  }
  .kmeCX_wpui82T0Ay3SHMK ._1Dve5b-rHkzuotINR4Xh7G {
    font-size: 14px;
    line-height: normal;
  }
  .kmeCX_wpui82T0Ay3SHMK ._3PEXENleI6xShkV5isURGX {
    font-size: 14px;
    line-height: normal;
  }
  .kmeCX_wpui82T0Ay3SHMK ._3ys0VP797mCkRyi1qy9HAV {
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }
}
.wLcoYWskcX-WdwM80FcWd {
  background: radial-gradient(70% 100vh at 50% 50%, #0f1924 30%, #642452 77%);
}
._31M-TwCA-eNzIjYjjbbRss {
  background: radial-gradient(
    108.31% 162.89% at 18.99% -21.75%,
    #03090e 0%,
    #1b5276 52.6%
  );
}
._31M-TwCA-eNzIjYjjbbRss ._1SZVVaG7UJhS9qlgdNBRB4 {
  background: linear-gradient(135deg, #642452 0%, #06123d 100%);
}
._1tFD84W1yIF5XblONw48Er {
  background: radial-gradient(
    94.31% 143.89% at 2.99% -1.75%,
    #0578a2 0%,
    #449963 52.6%,
    #104a4a
  );
}
._2d2eXqEWJ0VqhjC3XNt955 {
  background-color: #fff;
}
.AEfs48npNOs7PsklaKQxL {
  background-image: radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      #0578a2 0%,
      #449963 52.6%,
      #104a4a
    ), url("/public/images/yearinreview/streak_bg_large.webp");
}
._2ucSwGfZ2AsP91rIgpYzVq.ActiveTab {
  background-color: rgba(103, 193, 245, 0.34);
}
._2abMWA9UNwMI6BYz8ageN {
  color: #1a9ffe;
}
._2LIZW41r4i3LCn9wYtJZFm {
  color: #1a9ffe;
}
._2VCOc-AY0D8dBOVhuBWjes._3w6ckg8P8IMl8YXkmAoE-c {
  background: radial-gradient(140% 150% at 70% 100%, #782370 10%, #0f1924 70%);
}
._2VCOc-AY0D8dBOVhuBWjes.Y5ho7ytc4Q0MFUzxAxUJE {
  background: radial-gradient(140% 150% at 70% 100%, #782370 10%, #0f1924 70%);
}
._2VCOc-AY0D8dBOVhuBWjes._1ljEln7y5NmyV8-686A5tu {
  background: radial-gradient(140% 150% at 70% 100%, #782370 10%, #0f1924 70%);
}
._2VCOc-AY0D8dBOVhuBWjes._20l6G_fpxCmwTlLTRBXvNh {
  background: radial-gradient(140% 150% at 70% 100%, #782370 10%, #0f1924 70%);
}
._2icFjx8wVXZL8n19vN1Pnt:nth-child(4) ._2VCOc-AY0D8dBOVhuBWjes,
._2icFjx8wVXZL8n19vN1Pnt:nth-child(5) ._2VCOc-AY0D8dBOVhuBWjes,
._2icFjx8wVXZL8n19vN1Pnt:nth-child(6) ._2VCOc-AY0D8dBOVhuBWjes {
  background: radial-gradient(
    182.31% 199.89% at 90.99% 107.25%,
    #2389d1 10%,
    #782370 70%,
    #0f1924 120%
  );
}
._2icFjx8wVXZL8n19vN1Pnt:nth-child(4)
  ._2VCOc-AY0D8dBOVhuBWjes
  ._2_TD0l8kMc5PQlyTiIPFpU,
._2icFjx8wVXZL8n19vN1Pnt:nth-child(5)
  ._2VCOc-AY0D8dBOVhuBWjes
  ._2_TD0l8kMc5PQlyTiIPFpU,
._2icFjx8wVXZL8n19vN1Pnt:nth-child(6)
  ._2VCOc-AY0D8dBOVhuBWjes
  ._2_TD0l8kMc5PQlyTiIPFpU {
  mix-blend-mode: unset;
  opacity: 0.8;
  -webkit-mask: radial-gradient(
    100% 100% at 50% 55%,
    black 30%,
    rgba(0, 0, 0, 0) 75%
  );
  mask: radial-gradient(100% 100% at 50% 55%, black 30%, rgba(0, 0, 0, 0) 75%);
}
._2m_pbZrGAbk7TRHDOwZJt9 {
  background: linear-gradient(147.86deg, #782370 25.78%, #05113c 101.81%);
}
._1F5_QWHvb6XSU5S7oaSGpQ {
  background: radial-gradient(
    120.31% 100.89% at 74.99% -9.75%,
    #690029 0%,
    #0b1b35,
    #060f0b
  );
}
._1tc8tBjsTsJLvWaE-jrRC3 {
  background: radial-gradient(
    101.49% 84.96% at 18% -1.96%,
    #8876cf 0%,
    #423a5a 100%
  );
}
._1tHOJGiDRW6DoHLKzI1c9G ._1OocYvosa7WJeTFjtryhW2,
.mU6TQvR7SGZ2x10Cl4uNN ._1OocYvosa7WJeTFjtryhW2 {
  background: linear-gradient(147.86deg, #782370 25.78%, #05113c 101.81%);
}
._10UIoD-XRojfRickf62ZTS {
  background: linear-gradient(14deg, #162964e0, #105662b8);
}
._3cqzPE9ojgybX_YLM2LciT._2MFzmPCaRDOMvCIKivbWEh {
  background: radial-gradient(
    120.31% 100.89% at 74.99% -9.75%,
    #0d5e1b 0%,
    #1f4e5c 52.6%,
    #0e1014
  );
}
._3cqzPE9ojgybX_YLM2LciT._2DtTVV8bRP1azZaUDiFVHW {
  background: radial-gradient(
    94.31% 143.89% at 49.99% -21.75%,
    #642452 0%,
    #06123d 52.6%,
    #0e1014
  );
}
.TEmY-_rEET_mY-UvuQx7e ._3cqzPE9ojgybX_YLM2LciT {
  background: radial-gradient(
    51.31% 143.89% at 49.99% -21.75%,
    #642452 0%,
    #06123d 52.6%
  );
}
.-cK9wrdjQGd-QRMbnBIR1 ._161UjXtlOv_RVKerItXecq {
  background: linear-gradient(45deg, #0b70598a 15%, #005580d9 55%, #941a73bd);
}
._2gfncxf5WyN1lFA6C6mrMk {
  background: radial-gradient(#17333a, #0a0d0d);
}
._1ccyh3rmp7r54UTu4Kfu4P path {
  fill: #01a4f6;
}
._3qZMf_DUVgSslwkWJnAeAk path {
  fill: #10ca70;
}
._3gW-bII_VXHVppmHWGQg66 path {
  fill: #bd97ff;
}
._1SL9gkjIROp0eotN8Hr5Xk ._2lEhYA8vvTg168yH1rNQs0.j_CK0NQKm75mWc5VPFMFc {
  background: linear-gradient(to right, #10cb6e 0%, #00a2ff 50%, #8a48f5 90%);
}
._1SL9gkjIROp0eotN8Hr5Xk ._31cdzkQ4ZCu6E177tUexf4 div:nth-of-type(1) {
  background-color: #3cdf6a;
}
._1SL9gkjIROp0eotN8Hr5Xk ._31cdzkQ4ZCu6E177tUexf4 div:nth-of-type(2) {
  background-color: #4df;
}
._1SL9gkjIROp0eotN8Hr5Xk ._31cdzkQ4ZCu6E177tUexf4 div:nth-of-type(3) {
  background-color: #e496ff;
}
._1SL9gkjIROp0eotN8Hr5Xk
  ._2WOXA55SDgHgLI62aMu8QW
  ._2j2hP_Ctg-1k6NFO-11Iev._1DEzdqjCUNYNmGO-4qZGJy,
._1SL9gkjIROp0eotN8Hr5Xk
  ._2WOXA55SDgHgLI62aMu8QW
  ._3Lp_9mbe-5YFIirm_VUkgZ._2GDYoxSn-5bhfOnWwcQDfJ._1DEzdqjCUNYNmGO-4qZGJy {
  background-color: #3cdf6a;
}
._1SL9gkjIROp0eotN8Hr5Xk
  ._2WOXA55SDgHgLI62aMu8QW
  .r2PuX38K6EeRxmQ88xzBf._2GDYoxSn-5bhfOnWwcQDfJ.a5nHY6wCEy6XcQYM0SaS4 {
  border: 4px dotted #3cdf6a;
}
._1SL9gkjIROp0eotN8Hr5Xk
  ._2WOXA55SDgHgLI62aMu8QW
  .r2PuX38K6EeRxmQ88xzBf._2GDYoxSn-5bhfOnWwcQDfJ
  ._3PPdnAvnF44YMICe8afQqk._10WCyc8Z0F62B8xlJTeioi,
._1SL9gkjIROp0eotN8Hr5Xk
  ._2WOXA55SDgHgLI62aMu8QW
  .r2PuX38K6EeRxmQ88xzBf._2GDYoxSn-5bhfOnWwcQDfJ
  ._1BwKK43gcwo28Ai0IFXKhN._10WCyc8Z0F62B8xlJTeioi {
  color: #3cdf6a;
}
._1SL9gkjIROp0eotN8Hr5Xk
  .YETzIgKqRLjMFrtO-4mzm
  ._2j2hP_Ctg-1k6NFO-11Iev._1DEzdqjCUNYNmGO-4qZGJy,
._1SL9gkjIROp0eotN8Hr5Xk
  .YETzIgKqRLjMFrtO-4mzm
  ._3Lp_9mbe-5YFIirm_VUkgZ._2GDYoxSn-5bhfOnWwcQDfJ._1DEzdqjCUNYNmGO-4qZGJy {
  background-color: #4df;
}
._1SL9gkjIROp0eotN8Hr5Xk
  .YETzIgKqRLjMFrtO-4mzm
  .r2PuX38K6EeRxmQ88xzBf._2GDYoxSn-5bhfOnWwcQDfJ.a5nHY6wCEy6XcQYM0SaS4 {
  border: 4px dotted #4df;
}
._1SL9gkjIROp0eotN8Hr5Xk
  .YETzIgKqRLjMFrtO-4mzm
  .r2PuX38K6EeRxmQ88xzBf._2GDYoxSn-5bhfOnWwcQDfJ
  ._3PPdnAvnF44YMICe8afQqk._10WCyc8Z0F62B8xlJTeioi,
._1SL9gkjIROp0eotN8Hr5Xk
  .YETzIgKqRLjMFrtO-4mzm
  .r2PuX38K6EeRxmQ88xzBf._2GDYoxSn-5bhfOnWwcQDfJ
  ._1BwKK43gcwo28Ai0IFXKhN._10WCyc8Z0F62B8xlJTeioi {
  color: #4df;
}
._1SL9gkjIROp0eotN8Hr5Xk
  ._3kJYFk_mL53rI9sBydEf4t
  ._2j2hP_Ctg-1k6NFO-11Iev._1DEzdqjCUNYNmGO-4qZGJy,
._1SL9gkjIROp0eotN8Hr5Xk
  ._3kJYFk_mL53rI9sBydEf4t
  ._3Lp_9mbe-5YFIirm_VUkgZ._2GDYoxSn-5bhfOnWwcQDfJ._1DEzdqjCUNYNmGO-4qZGJy {
  background-color: #e496ff;
}
._1SL9gkjIROp0eotN8Hr5Xk
  ._3kJYFk_mL53rI9sBydEf4t
  .r2PuX38K6EeRxmQ88xzBf._2GDYoxSn-5bhfOnWwcQDfJ.a5nHY6wCEy6XcQYM0SaS4 {
  border: 4px dotted #e496ff;
}
._1SL9gkjIROp0eotN8Hr5Xk
  ._3kJYFk_mL53rI9sBydEf4t
  .r2PuX38K6EeRxmQ88xzBf._2GDYoxSn-5bhfOnWwcQDfJ
  ._3PPdnAvnF44YMICe8afQqk._10WCyc8Z0F62B8xlJTeioi,
._1SL9gkjIROp0eotN8Hr5Xk
  ._3kJYFk_mL53rI9sBydEf4t
  .r2PuX38K6EeRxmQ88xzBf._2GDYoxSn-5bhfOnWwcQDfJ
  ._1BwKK43gcwo28Ai0IFXKhN._10WCyc8Z0F62B8xlJTeioi {
  color: #e496ff;
}
._3BT7r54MhJESU8AzMNlenV {
  background-image: radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      #02bbff34 0%,
      #ff03b33a 52.6%,
      #6aff0023
    ), url("/public/images/yearinreview/steam_logo_offset.png");
}
._12Vol7iOpxdPj9khHmvu-C {
  background: #2d73ff;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
._12Vol7iOpxdPj9khHmvu-C:hover {
  filter: brightness(110%);
  color: #fff;
}
._2k7W3c6eHM1FF2eZzLHPko._1-C7jjlJ_bFish0JBtAmO1 {
  background: radial-gradient(
    136.99% 78.49% at 53.43% 10.55%,
    #642452 0%,
    #06123d 100%
  );
}
._2k7W3c6eHM1FF2eZzLHPko._1-C7jjlJ_bFish0JBtAmO1 .qbl9w824tA4Rg_swy8lrh {
  color: #fff;
}
._2k7W3c6eHM1FF2eZzLHPko._1-C7jjlJ_bFish0JBtAmO1 .o_tcGc2hbfz8yU4SmEmrX {
  color: #4ad4ff;
}
._2k7W3c6eHM1FF2eZzLHPko._1-C7jjlJ_bFish0JBtAmO1 ._1AtgqYTkJSLJqOrCpWHra4 {
  color: #fff;
}
._2k7W3c6eHM1FF2eZzLHPko._1-C7jjlJ_bFish0JBtAmO1 ._3eOhRpPKC2bUY7DggD6axj {
  fill: #4ad4ff;
}
._2k7W3c6eHM1FF2eZzLHPko._1-C7jjlJ_bFish0JBtAmO1 ._1HA1gn9Frk0gNww6J0fIQ {
  color: #4ad4ff;
}
._2k7W3c6eHM1FF2eZzLHPko._1-C7jjlJ_bFish0JBtAmO1 ._2z6vRQoDkvMy4-in2CDkGO {
  border-color: #4ad4ff;
}
._2k7W3c6eHM1FF2eZzLHPko._1-C7jjlJ_bFish0JBtAmO1 ._1DMPjn9qVSsHxmOTOzqZ4v {
  color: #fff;
}
._2k7W3c6eHM1FF2eZzLHPko._1-C7jjlJ_bFish0JBtAmO1
  ._1DMPjn9qVSsHxmOTOzqZ4v
  ._27aW3ZXUhoCo-hrB7BsBTN,
._2k7W3c6eHM1FF2eZzLHPko._1-C7jjlJ_bFish0JBtAmO1
  ._1DMPjn9qVSsHxmOTOzqZ4v
  .OoOok9dpo33D-vJaPWu2v {
  color: #4ad4ff;
}
._2k7W3c6eHM1FF2eZzLHPko._1-C7jjlJ_bFish0JBtAmO1 ._36_yhgb9daer8pzM_3ol8M {
  background: linear-gradient(270.05deg, #1babd8 0.05%, #4ad4ff 99.24%);
  color: #fff;
}
._2k7W3c6eHM1FF2eZzLHPko._1-C7jjlJ_bFish0JBtAmO1
  ._36_yhgb9daer8pzM_3ol8M:hover {
  box-shadow: 2px 2px 10px #000;
  background: linear-gradient(270.05deg, #56bfdf 0.05%, #74dcfc 99.24%);
}
._2k7W3c6eHM1FF2eZzLHPko._1-C7jjlJ_bFish0JBtAmO1 ._2SJb0XwqKIo-DdjDrq4r2w {
  color: rgba(229, 229, 229, 0.75);
}
._3itf8y5EOGxutexNfOa8cQ {
  background: #2d73ff;
}
._3itf8y5EOGxutexNfOa8cQ:hover {
  background: #fff;
  color: #222;
}
@keyframes dO6cB-SqYkTl5OqLtW-JC {
  to {
    background-size: 120%;
  }
}
._2w-zjJjkoeDIb-C5GhTSof {
  background: radial-gradient(70% 100vh at 50% 50%, #0f1924 30%, #925801 77%);
  background-size: 100%;
  animation: dO6cB-SqYkTl5OqLtW-JC forwards;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
._10YwGIpb0ZJNaXfpGnHBt2 {
  background: radial-gradient(
    108.31% 162.89% at 18.99% -21.75%,
    #925801 0%,
    #2c0050 52.6%
  );
}
._10YwGIpb0ZJNaXfpGnHBt2 ._2GknM_LlgKxbbtN-pcTf9t {
  background: linear-gradient(135deg, #925801 0%, #2c0050 100%);
}
._1z6_Os-ntMNV2SB2jWuAKS {
  background: radial-gradient(
    94.31% 143.89% at 2.99% -1.75%,
    #925801 0%,
    #2c0050 52.6%,
    #022216
  );
}
._1YndkBDAjs6QdfA7WbPqJo {
  background-color: #fff;
}
._3rUSvxNxSynWWZDLv1Gj5f {
  background-image: radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      #925801 0%,
      #2c0050 52.6%,
      #022216
    ), url("/public/images/yearinreview/streak_bg_large.webp");
}
._19KvzLtRQ9-Q5m1uXJOkR2.ActiveTab {
  background-color: rgba(190, 240, 51, 0.34);
}
.EJneUpw0eEOyIkpmR8rKb {
  color: #c48100;
}
._2qriz4haXnDJcXhSonp6ws {
  color: #c48100;
}
._2u4ymScF_4dMRGuXqN6YWl.SK6THAegoaWx7n2L1OMSR {
  background: radial-gradient(140% 150% at 70% 100%, #c48100 10%, #0f1924 70%);
}
._2u4ymScF_4dMRGuXqN6YWl._1HWMUM4EvU8lG3lW8Wdnz3 {
  background: radial-gradient(140% 150% at 70% 100%, #c48100 10%, #0f1924 70%);
}
._2u4ymScF_4dMRGuXqN6YWl._3u55AOzBK4Gw3F9Whr2g9F {
  background: radial-gradient(140% 150% at 70% 100%, #c48100 10%, #0f1924 70%);
}
._2u4ymScF_4dMRGuXqN6YWl._30NltD8972gdutFNYCw8gE {
  background: radial-gradient(140% 150% at 70% 100%, #c48100 10%, #0f1924 70%);
}
._2pWvuCdj5il0MXggZMwLLV:nth-child(4) ._2u4ymScF_4dMRGuXqN6YWl,
._2pWvuCdj5il0MXggZMwLLV:nth-child(5) ._2u4ymScF_4dMRGuXqN6YWl,
._2pWvuCdj5il0MXggZMwLLV:nth-child(6) ._2u4ymScF_4dMRGuXqN6YWl {
  background: radial-gradient(
    182.31% 199.89% at 90.99% 107.25%,
    #925801 10%,
    #022216 70%,
    #0f1924 120%
  );
}
._2pWvuCdj5il0MXggZMwLLV:nth-child(4)
  ._2u4ymScF_4dMRGuXqN6YWl
  .KH2X2qTp8hdZp_fnGTvk_,
._2pWvuCdj5il0MXggZMwLLV:nth-child(5)
  ._2u4ymScF_4dMRGuXqN6YWl
  .KH2X2qTp8hdZp_fnGTvk_,
._2pWvuCdj5il0MXggZMwLLV:nth-child(6)
  ._2u4ymScF_4dMRGuXqN6YWl
  .KH2X2qTp8hdZp_fnGTvk_ {
  mix-blend-mode: unset;
  opacity: 0.8;
  -webkit-mask: radial-gradient(
    100% 100% at 50% 55%,
    black 30%,
    rgba(0, 0, 0, 0) 75%
  );
  mask: radial-gradient(100% 100% at 50% 55%, black 30%, rgba(0, 0, 0, 0) 75%);
}
._3B7MSTJad91FqdpvbYmYpM {
  background: conic-gradient(
    from 160deg at 113% -17%,
    #925801 30deg,
    #0a6040 71deg,
    #2c0050 125deg
  );
}
._1NReDjhB8y4CeL8J79cwG6 {
  background: radial-gradient(
    120.31% 100.89% at 74.99% -9.75%,
    #925801 0%,
    #2c0050,
    #022216
  );
}
._3_b2Ul0vfz1cfIQUGnvkgT {
  background: conic-gradient(
    from 360deg at -8% 50%,
    rgba(146, 88, 1, 0.3) 33deg,
    #2c0050 66deg,
    #022216 145deg
  );
}
._3vzUIbLPK4TC7FoOsbgo6x {
  background: #48067f;
}
._3F7PUMGMU4V8RNuW8b9NID.w_LxbT-xjHVJAG3DwLvO- {
  background: conic-gradient(
      from 87deg at -8.32% 0%,
      #693f004d 7.2531156242deg,
      rgba(0, 71, 44, 0.56) 42.3303329945deg,
      #33005c 96.4028513432deg
    ), #000;
}
._3F7PUMGMU4V8RNuW8b9NID._94te0EvHMP3bmVjDN-sRr {
  background: conic-gradient(
      from -90deg at 108.32% 100%,
      rgba(105, 63, 0, 0.29) 7.2531156242deg,
      rgba(0, 71, 44, 0.56) 24.2867588997deg,
      #33005c 62.7407902479deg
    ), #000;
}
._1rn7C8gOo19reFJ4HWbHZO ._3F7PUMGMU4V8RNuW8b9NID {
  background: radial-gradient(
    51.31% 143.89% at 49.99% -21.75%,
    #925801 10%,
    #2c0050 52.6%
  );
}
._2qarmb9HfWH9bNm4v9FONX {
  background: #2c0050;
}
@keyframes _3zLeBofiHQsX1ipOKpWIi- {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
._3cVLkHS6spdqo8eqv4d6_D {
  background: radial-gradient(#925801 0%, #150025 40%);
  background-size: 200% 200%;
  background-position: 0% 0%;
  animation: _3zLeBofiHQsX1ipOKpWIi- 15s ease infinite;
}
._3meexnu5EixWXQbNR2Xa1b path {
  fill: #008352;
}
._1_Cfxc9HkVks-YETW9ZKPc path {
  fill: #008352;
}
._3A0kFiNA546pYIag3hOb8N path {
  fill: #008352;
}
._9YqCa_ldtOJ_KRu7KJoIt ._3wtv1zTckeY6KOlu1lKPc2._1bVTXXdcxLMc56aeAwIM-7 {
  background: linear-gradient(to right, #008352 0%, #6a00df 50%, #925801 90%);
}
._9YqCa_ldtOJ_KRu7KJoIt .CuXwyUnaDZpkPXGWaDYqX div:nth-of-type(1) {
  background-color: #d67070;
}
._9YqCa_ldtOJ_KRu7KJoIt .CuXwyUnaDZpkPXGWaDYqX div:nth-of-type(2) {
  background-color: #683db4;
}
._9YqCa_ldtOJ_KRu7KJoIt .CuXwyUnaDZpkPXGWaDYqX div:nth-of-type(3) {
  background-color: #3898b0;
}
._9YqCa_ldtOJ_KRu7KJoIt
  ._18-Ta9kFnxPV3MW8MaHLGk
  ._1wfGD4gWsszIkGZXm0JDzG._2UelPoml_TdjiRoElz-jCO,
._9YqCa_ldtOJ_KRu7KJoIt
  ._18-Ta9kFnxPV3MW8MaHLGk
  ._155LdBCpt-I6Jdq8vOvIMn._1PoOpWtYx_Pi_UBEgi7M8z._2UelPoml_TdjiRoElz-jCO {
  background-color: #d67070;
}
._9YqCa_ldtOJ_KRu7KJoIt
  ._18-Ta9kFnxPV3MW8MaHLGk
  ._3So3GnRNE3gKqFMEHAvVnR._1PoOpWtYx_Pi_UBEgi7M8z.XBvd9Chzj1W3qEc48o9MF {
  border: 4px dotted #d67070;
}
._9YqCa_ldtOJ_KRu7KJoIt
  ._18-Ta9kFnxPV3MW8MaHLGk
  ._3So3GnRNE3gKqFMEHAvVnR._1PoOpWtYx_Pi_UBEgi7M8z
  ._2mv_7D9DDgIxQekwoVSx6Z._12oaMcntPSS_RU8FHUnPh6,
._9YqCa_ldtOJ_KRu7KJoIt
  ._18-Ta9kFnxPV3MW8MaHLGk
  ._3So3GnRNE3gKqFMEHAvVnR._1PoOpWtYx_Pi_UBEgi7M8z
  ._19zcQYG67jYetSV0ej2Tv._12oaMcntPSS_RU8FHUnPh6 {
  color: #d67070;
}
._9YqCa_ldtOJ_KRu7KJoIt
  .dGZz3uSYGrONY12cANPNF
  ._1wfGD4gWsszIkGZXm0JDzG._2UelPoml_TdjiRoElz-jCO,
._9YqCa_ldtOJ_KRu7KJoIt
  .dGZz3uSYGrONY12cANPNF
  ._155LdBCpt-I6Jdq8vOvIMn._1PoOpWtYx_Pi_UBEgi7M8z._2UelPoml_TdjiRoElz-jCO {
  background-color: #683db4;
}
._9YqCa_ldtOJ_KRu7KJoIt
  .dGZz3uSYGrONY12cANPNF
  ._3So3GnRNE3gKqFMEHAvVnR._1PoOpWtYx_Pi_UBEgi7M8z.XBvd9Chzj1W3qEc48o9MF {
  border: 4px dotted #683db4;
}
._9YqCa_ldtOJ_KRu7KJoIt
  .dGZz3uSYGrONY12cANPNF
  ._3So3GnRNE3gKqFMEHAvVnR._1PoOpWtYx_Pi_UBEgi7M8z
  ._2mv_7D9DDgIxQekwoVSx6Z._12oaMcntPSS_RU8FHUnPh6,
._9YqCa_ldtOJ_KRu7KJoIt
  .dGZz3uSYGrONY12cANPNF
  ._3So3GnRNE3gKqFMEHAvVnR._1PoOpWtYx_Pi_UBEgi7M8z
  ._19zcQYG67jYetSV0ej2Tv._12oaMcntPSS_RU8FHUnPh6 {
  color: #683db4;
}
._9YqCa_ldtOJ_KRu7KJoIt
  ._3XPjE1fVUnsM0vm4eb80hV
  ._1wfGD4gWsszIkGZXm0JDzG._2UelPoml_TdjiRoElz-jCO,
._9YqCa_ldtOJ_KRu7KJoIt
  ._3XPjE1fVUnsM0vm4eb80hV
  ._155LdBCpt-I6Jdq8vOvIMn._1PoOpWtYx_Pi_UBEgi7M8z._2UelPoml_TdjiRoElz-jCO {
  background-color: #3898b0;
}
._9YqCa_ldtOJ_KRu7KJoIt
  ._3XPjE1fVUnsM0vm4eb80hV
  ._3So3GnRNE3gKqFMEHAvVnR._1PoOpWtYx_Pi_UBEgi7M8z.XBvd9Chzj1W3qEc48o9MF {
  border: 4px dotted #3898b0;
}
._9YqCa_ldtOJ_KRu7KJoIt
  ._3XPjE1fVUnsM0vm4eb80hV
  ._3So3GnRNE3gKqFMEHAvVnR._1PoOpWtYx_Pi_UBEgi7M8z
  ._2mv_7D9DDgIxQekwoVSx6Z._12oaMcntPSS_RU8FHUnPh6,
._9YqCa_ldtOJ_KRu7KJoIt
  ._3XPjE1fVUnsM0vm4eb80hV
  ._3So3GnRNE3gKqFMEHAvVnR._1PoOpWtYx_Pi_UBEgi7M8z
  ._19zcQYG67jYetSV0ej2Tv._12oaMcntPSS_RU8FHUnPh6 {
  color: #3898b0;
}
._1ujDQYkFU24pcZA1ZGeGME {
  background-image: radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      #d3d9203a 0%,
      #d3d9203a 52.6%,
      #d3d9203a
    ), url("/public/images/yearinreview/steam_logo_offset.png");
}
._2rDtQVS8ZlIw7YqmTAyNmm {
  background: #925801;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
._2rDtQVS8ZlIw7YqmTAyNmm:hover {
  filter: brightness(110%);
  color: #fff;
}
._28xhDkykmhFaIAt4QQdn_p._3kq0hsM0tSCDBxOeX-hZha {
  background: radial-gradient(
    98.31% 133.89% at 12.99% 12.25%,
    #925801 10%,
    #2c0050 62.6%,
    #022216 90%
  );
}
._28xhDkykmhFaIAt4QQdn_p._3kq0hsM0tSCDBxOeX-hZha ._2jlbTLneTvBnboYMvfVaUD {
  color: #c48100;
}
._28xhDkykmhFaIAt4QQdn_p._3kq0hsM0tSCDBxOeX-hZha ._2OhWL3dLnJXdCGjYk3fEFj {
  color: #c48100;
}
._28xhDkykmhFaIAt4QQdn_p._3kq0hsM0tSCDBxOeX-hZha ._14dybFtjTMF7Zk63_bgxQW {
  color: #c48100;
}
._28xhDkykmhFaIAt4QQdn_p._3kq0hsM0tSCDBxOeX-hZha ._3-RXvInFsNpERFnXTsYJyD {
  fill: #c48100;
}
._28xhDkykmhFaIAt4QQdn_p._3kq0hsM0tSCDBxOeX-hZha ._1hMTHVqQqQR6H8O-L-1l06 {
  color: #c48100;
}
._28xhDkykmhFaIAt4QQdn_p._3kq0hsM0tSCDBxOeX-hZha ._8e85nNcJJGww2CphGMQtW {
  border-color: #c48100;
  border-radius: 2px;
}
._28xhDkykmhFaIAt4QQdn_p._3kq0hsM0tSCDBxOeX-hZha ._1vGwbHGNBIZhsvIsHfW2VJ {
  color: #f1f1f1;
}
._28xhDkykmhFaIAt4QQdn_p._3kq0hsM0tSCDBxOeX-hZha
  ._1vGwbHGNBIZhsvIsHfW2VJ
  ._2zTjbc9r9LZ2vU3J8mkvdS {
  color: #c48100;
}
._28xhDkykmhFaIAt4QQdn_p._3kq0hsM0tSCDBxOeX-hZha
  ._1vGwbHGNBIZhsvIsHfW2VJ
  .X5blfXMgUPst2QE8pzH8B {
  color: #f1f1f1;
}
._28xhDkykmhFaIAt4QQdn_p._3kq0hsM0tSCDBxOeX-hZha ._3YUlc6lbVRqgBTztta_9TL {
  background: linear-gradient(135deg, #c48100 0%, #925801 100%);
  color: #f1f1f1;
  font-weight: 600;
  letter-spacing: 1px;
}
._28xhDkykmhFaIAt4QQdn_p._3kq0hsM0tSCDBxOeX-hZha
  ._3YUlc6lbVRqgBTztta_9TL:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #c48100 0%, #925801 100%);
}
._28xhDkykmhFaIAt4QQdn_p._3kq0hsM0tSCDBxOeX-hZha ._1qc70O9sIUpckqH-jveYLN {
  color: #f1f1f1;
  opacity: 0.7;
}
._1AcAxWWu9yo7s4gOpoGGn0 {
  background: #925801;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
._1AcAxWWu9yo7s4gOpoGGn0:hover {
  filter: brightness(110%);
  color: #fff;
}
@keyframes _3FyW_RSMfp3r4eHfuMQIA5 {
  to {
    background-size: 120%;
  }
}
._3_yJrtI9CnRo7Vqso02WhP {
  background: radial-gradient(70% 100vh at 50% 50%, #0f1924 30%, #01787f 77%);
  background-size: 100%;
  animation: _3FyW_RSMfp3r4eHfuMQIA5 forwards;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
._11WV2YgKiO-25bj14xN4nF {
  background: radial-gradient(
    108.31% 162.89% at 18.99% -21.75%,
    #01a2ab 0%,
    #bf404c 52.6%
  );
}
._11WV2YgKiO-25bj14xN4nF .aNFQO7OXrOXD4-a8kfVGc {
  background: linear-gradient(135deg, #01a2ab 0%, #bf404c 100%);
}
.Lge6g_6u-62TV_cVPD7Ui {
  background: radial-gradient(
    94.31% 143.89% at 2.99% -1.75%,
    #01a2ab 0%,
    #0f1924 52.6%,
    #01787f
  );
}
.Lge6g_6u-62TV_cVPD7Ui .fA_EY16-08_b1VWyI-yWb {
  background-image: url("/public/images/yearinreview/streak_bg_large.webp");
  opacity: 0.1;
}
._2Xt_oaIv9INpfrjOEmjGxJ {
  background-color: #fff;
}
._2v18EtoQUMe9VTbnzTG8td.ActiveTab {
  background-color: rgba(190, 240, 51, 0.34);
}
.cpHihmjgrbGMnejVUXb7P {
  color: #15c6cf;
}
._2JN-hnKtHVoX9X7YXp-EBq {
  color: #15c6cf;
}
.zbwndVO7JL53kSxjqeLcs:nth-child(1) ._2WPcf3wXBhMImWLz22RXmV {
  background: radial-gradient(140% 150% at 70% 100%, #01787f 10%, #602026 70%);
}
.zbwndVO7JL53kSxjqeLcs:nth-child(2) ._2WPcf3wXBhMImWLz22RXmV {
  background: radial-gradient(140% 150% at 70% 100%, #01a2ab 10%, #0f1924 70%);
}
.zbwndVO7JL53kSxjqeLcs:nth-child(3) ._2WPcf3wXBhMImWLz22RXmV {
  background: radial-gradient(140% 150% at 70% 100%, #01a2ab 10%, #0f1924 70%);
}
.zbwndVO7JL53kSxjqeLcs:nth-child(4) ._2WPcf3wXBhMImWLz22RXmV,
.zbwndVO7JL53kSxjqeLcs:nth-child(5) ._2WPcf3wXBhMImWLz22RXmV,
.zbwndVO7JL53kSxjqeLcs:nth-child(6) ._2WPcf3wXBhMImWLz22RXmV {
  background: radial-gradient(
    182.31% 199.89% at 90.99% 107.25%,
    #602026 10%,
    #005155 70%,
    #0f1924 120%
  );
}
.zbwndVO7JL53kSxjqeLcs:nth-child(4)
  ._2WPcf3wXBhMImWLz22RXmV
  .DZcTcsyLmBEj_dmGqve9,
.zbwndVO7JL53kSxjqeLcs:nth-child(5)
  ._2WPcf3wXBhMImWLz22RXmV
  .DZcTcsyLmBEj_dmGqve9,
.zbwndVO7JL53kSxjqeLcs:nth-child(6)
  ._2WPcf3wXBhMImWLz22RXmV
  .DZcTcsyLmBEj_dmGqve9 {
  mix-blend-mode: unset;
  opacity: 0.8;
  -webkit-mask: radial-gradient(
    100% 100% at 50% 55%,
    black 30%,
    rgba(0, 0, 0, 0) 75%
  );
  mask: radial-gradient(100% 100% at 50% 55%, black 30%, rgba(0, 0, 0, 0) 75%);
}
._37goiEY1KefzjRKUKkEWgo {
  background: radial-gradient(
    120.31% 100.89% at 74.99% -9.75%,
    #01a2ab 0%,
    #bf404c,
    #01787f
  );
}
.dtzDI1loGbf-ScWbiNsMj {
  background: #cc6670;
}
._1_03H_PiAx5_TIA2Y4OOn0 .XkDtww__eYTaxTvGXlhip {
  display: block;
  filter: blur(160px);
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0.6;
}
._1_03H_PiAx5_TIA2Y4OOn0.BdBfXPzFQrAIMxXLgo95x {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    #003a3d 10%,
    #01787f 30%,
    black 120%
  );
}
._1_03H_PiAx5_TIA2Y4OOn0.mU0ZPKqgrodRiIqDDPRJN {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    #003a3d 10%,
    #01787f 30%,
    black 120%
  );
}
._2U1A0BOBmU2Tm96VMDbN3y ._1_03H_PiAx5_TIA2Y4OOn0 {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    #003a3d 10%,
    #01787f 30%,
    black 120%
  );
}
.WBgtvXrESMem0KVSCFohg {
  background: #bf404c;
}
@keyframes _3_0UA8g5haRH050dhrXY1c {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.p2yOPk8RjNL2sgYPVdUl9 {
  background: radial-gradient(#01a2ab 0%, #00191a 40%);
  background-size: 300% 200%;
  background-position: 0% 0%;
  animation: _3_0UA8g5haRH050dhrXY1c 15s ease infinite;
}
._3Xt_rws_Lz4-TXJH-R3wXI {
  background: radial-gradient(
    125% 125% at -8% 50%,
    #01a2ab 10%,
    #003a3d 50%,
    #01787f 100%
  );
}
._3Xt_rws_Lz4-TXJH-R3wXI ._3-uWyGRhRgXQz4UayHqn62 span {
  color: #cc6670;
}
._1Ary1qr2Dt1ycwBGxfz0fq path {
  fill: #01a2ab;
}
._1ghrcKVRru_utFcofkcTbk path {
  fill: #01a2ab;
}
._3dUH0KBuoVtpr5alU3jY9M path {
  fill: #01a2ab;
}
.-giyIxoOslRPNdoAe4UfS .-A2NwyQKoK0uC_zGHLI1N._2l9tBf3n2J5llJPTTog4kT {
  background: linear-gradient(to right, #602026 0%, #cc6670 50%, #01a2ab 90%);
}
.-giyIxoOslRPNdoAe4UfS ._2R5I8QSZYVS2f-anYNfg-3 div:nth-of-type(1) {
  background-color: #34f3fe;
}
.-giyIxoOslRPNdoAe4UfS ._2R5I8QSZYVS2f-anYNfg-3 div:nth-of-type(2) {
  background-color: #cc6670;
}
.-giyIxoOslRPNdoAe4UfS ._2R5I8QSZYVS2f-anYNfg-3 div:nth-of-type(3) {
  background-color: #f4d760;
}
.-giyIxoOslRPNdoAe4UfS
  ._2GcnpaqNIZSrMhYtfj_-y0
  ._1N16zDKyMMVJzQKmHNX50G.XZe2fdvY-JGoNhdNV-l1x,
.-giyIxoOslRPNdoAe4UfS
  ._2GcnpaqNIZSrMhYtfj_-y0
  ._3QSJmi9aPGptdgOEFi2gzE._2Gsb4esS301xmkHX7WT_uO.XZe2fdvY-JGoNhdNV-l1x {
  background-color: #34f3fe;
}
.-giyIxoOslRPNdoAe4UfS
  ._2GcnpaqNIZSrMhYtfj_-y0
  ._2xcH0was3XiZQ5EOfgXfXJ._2Gsb4esS301xmkHX7WT_uO._3hMPpTvRMmLyPRK1zxB-Ra {
  border: 4px dotted #34f3fe;
}
.-giyIxoOslRPNdoAe4UfS
  ._2GcnpaqNIZSrMhYtfj_-y0
  ._2xcH0was3XiZQ5EOfgXfXJ._2Gsb4esS301xmkHX7WT_uO
  ._1to-w6RT2f-vQQ459T4H8J._1io-EPyTr2q37DmZS-Iv2u,
.-giyIxoOslRPNdoAe4UfS
  ._2GcnpaqNIZSrMhYtfj_-y0
  ._2xcH0was3XiZQ5EOfgXfXJ._2Gsb4esS301xmkHX7WT_uO
  .pcHKKuXoww1KZ7a_1F--u._1io-EPyTr2q37DmZS-Iv2u {
  color: #34f3fe;
}
.-giyIxoOslRPNdoAe4UfS
  ._1uknQZ7Xmx7VQ1da9Gc4n2
  ._1N16zDKyMMVJzQKmHNX50G.XZe2fdvY-JGoNhdNV-l1x,
.-giyIxoOslRPNdoAe4UfS
  ._1uknQZ7Xmx7VQ1da9Gc4n2
  ._3QSJmi9aPGptdgOEFi2gzE._2Gsb4esS301xmkHX7WT_uO.XZe2fdvY-JGoNhdNV-l1x {
  background-color: #cc6670;
}
.-giyIxoOslRPNdoAe4UfS
  ._1uknQZ7Xmx7VQ1da9Gc4n2
  ._2xcH0was3XiZQ5EOfgXfXJ._2Gsb4esS301xmkHX7WT_uO._3hMPpTvRMmLyPRK1zxB-Ra {
  border: 4px dotted #cc6670;
}
.-giyIxoOslRPNdoAe4UfS
  ._1uknQZ7Xmx7VQ1da9Gc4n2
  ._2xcH0was3XiZQ5EOfgXfXJ._2Gsb4esS301xmkHX7WT_uO
  ._1to-w6RT2f-vQQ459T4H8J._1io-EPyTr2q37DmZS-Iv2u,
.-giyIxoOslRPNdoAe4UfS
  ._1uknQZ7Xmx7VQ1da9Gc4n2
  ._2xcH0was3XiZQ5EOfgXfXJ._2Gsb4esS301xmkHX7WT_uO
  .pcHKKuXoww1KZ7a_1F--u._1io-EPyTr2q37DmZS-Iv2u {
  color: #cc6670;
}
.-giyIxoOslRPNdoAe4UfS
  ._2gXOsiXV8vP0Ujd_ic1j_r
  ._1N16zDKyMMVJzQKmHNX50G.XZe2fdvY-JGoNhdNV-l1x,
.-giyIxoOslRPNdoAe4UfS
  ._2gXOsiXV8vP0Ujd_ic1j_r
  ._3QSJmi9aPGptdgOEFi2gzE._2Gsb4esS301xmkHX7WT_uO.XZe2fdvY-JGoNhdNV-l1x {
  background-color: #f4d760;
}
.-giyIxoOslRPNdoAe4UfS
  ._2gXOsiXV8vP0Ujd_ic1j_r
  ._2xcH0was3XiZQ5EOfgXfXJ._2Gsb4esS301xmkHX7WT_uO._3hMPpTvRMmLyPRK1zxB-Ra {
  border: 4px dotted #f4d760;
}
.-giyIxoOslRPNdoAe4UfS
  ._2gXOsiXV8vP0Ujd_ic1j_r
  ._2xcH0was3XiZQ5EOfgXfXJ._2Gsb4esS301xmkHX7WT_uO
  ._1to-w6RT2f-vQQ459T4H8J._1io-EPyTr2q37DmZS-Iv2u,
.-giyIxoOslRPNdoAe4UfS
  ._2gXOsiXV8vP0Ujd_ic1j_r
  ._2xcH0was3XiZQ5EOfgXfXJ._2Gsb4esS301xmkHX7WT_uO
  .pcHKKuXoww1KZ7a_1F--u._1io-EPyTr2q37DmZS-Iv2u {
  color: #f4d760;
}
.aI_Il7gY1Syqm796Upnp9 {
  background-image: radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      #d3d9203a 0%,
      #d3d9203a 52.6%,
      #d3d9203a
    ), url("/public/images/yearinreview/steam_logo_offset.png");
}
.hRwmhfYcSqvrvsdGJuU4J {
  background: #01a2ab;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
.hRwmhfYcSqvrvsdGJuU4J:hover {
  filter: brightness(110%);
  color: #fff;
}
._2duB07TZK47UjB_dhb3uK3.XbqPSndbEUkqiStSowtZK {
  background: linear-gradient(-23deg, black 0%, #003a3d 70%, #01787f 98%);
}
._2duB07TZK47UjB_dhb3uK3.XbqPSndbEUkqiStSowtZK ._352X1_lNn7pW_yScNLvtb6 {
  color: #01a2ab;
}
._2duB07TZK47UjB_dhb3uK3.XbqPSndbEUkqiStSowtZK ._1avfzaLCwU_U1NmpVbFSST {
  color: #01a2ab;
}
._2duB07TZK47UjB_dhb3uK3.XbqPSndbEUkqiStSowtZK ._1Ao61JGqV1c_QgX5WaSiQ8 {
  color: #01a2ab;
}
._2duB07TZK47UjB_dhb3uK3.XbqPSndbEUkqiStSowtZK ._1OT6cjmQVBFsHOR0plxmms {
  fill: #01a2ab;
}
._2duB07TZK47UjB_dhb3uK3.XbqPSndbEUkqiStSowtZK ._3ChmiAgSUsYOIDUGcx2ID3 {
  color: #01a2ab;
}
._2duB07TZK47UjB_dhb3uK3.XbqPSndbEUkqiStSowtZK ._2Cjn2QF0ijeU0iZlbggit2 {
  border-color: #01a2ab;
  border-radius: 2px;
}
._2duB07TZK47UjB_dhb3uK3.XbqPSndbEUkqiStSowtZK .qoG_vuXOr_yl9HwMqT6rV {
  color: #f1f1f1;
}
._2duB07TZK47UjB_dhb3uK3.XbqPSndbEUkqiStSowtZK
  .qoG_vuXOr_yl9HwMqT6rV
  ._2w7Tb0xkf0VinWQKTn63_4 {
  color: #cc6670;
}
._2duB07TZK47UjB_dhb3uK3.XbqPSndbEUkqiStSowtZK ._2IfJlTSfJ9B2O7GrLSHZEu {
  background: linear-gradient(135deg, #01a2ab 0%, #01a2ab 100%);
  color: #f1f1f1;
  font-weight: 600;
  letter-spacing: 1px;
}
._2duB07TZK47UjB_dhb3uK3.XbqPSndbEUkqiStSowtZK ._2IfJlTSfJ9B2O7GrLSHZEu:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #01a2ab 0%, #01a2ab 100%);
}
._2duB07TZK47UjB_dhb3uK3.XbqPSndbEUkqiStSowtZK ._3OaR0S3fMP3IqzGQkLo2LL {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  color: #f1f1f1;
  margin-bottom: 30px;
}
.BasicUI
  ._2duB07TZK47UjB_dhb3uK3.XbqPSndbEUkqiStSowtZK
  ._3OaR0S3fMP3IqzGQkLo2LL {
  font-size: 20px;
}
.e2J3CJVLkCcWuogJlnJqA {
  background: #01a2ab;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
.e2J3CJVLkCcWuogJlnJqA:hover {
  filter: brightness(110%);
  color: #fff;
}
._1FQxwxnbfp1DQRGwxjKNTx {
  background: radial-gradient(70% 100vh at 50% 50%, #0f1924 30%, #4e0020 77%);
  background-size: 100%;
  animation: TdC9bwyeuoQ1F5DT8KspI forwards;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ifq_ya-yHyDQyuEtHXvkd {
  background: radial-gradient(
    108.31% 162.89% at 18.99% -21.75%,
    #a62858 0%,
    #8fb100 52.6%
  );
}
.ifq_ya-yHyDQyuEtHXvkd ._14GpYsrLIrccl99_xXb_lH {
  background: linear-gradient(135deg, #a62858 0%, #8fb100 100%);
}
._2CzT2Ue4ljkWrfhI95JkJt {
  background: radial-gradient(
    94.31% 143.89% at 2.99% -1.75%,
    #a62858 0%,
    #0f1924 52.6%,
    #887176
  );
}
._2CzT2Ue4ljkWrfhI95JkJt ._3bIVDFjju4u0AOB48TTZ7H {
  background-image: url("/public/images/yearinreview/streak_bg_large.webp");
  opacity: 0.1;
}
._36Dty1V8Yk45GKPQ12JNl9 {
  background-color: #fff;
}
._2scTLgHhWMusg9Lj2H9F0M.ActiveTab {
  background-color: rgba(190, 240, 51, 0.34);
}
._3i6QbKsUrNIRm_9L1iM1w1 {
  color: #e23477;
}
.eMxpUkfmNZqXHXyEOpi9- {
  color: #ceff00;
}
.Cw99TswABdwpty4wDm6Kv:nth-child(1) ._3ng4jeWCIrH3Xf7gVbo758 {
  background: radial-gradient(140% 150% at 70% 100%, #0f1924 10%, #4e0020 70%);
}
.Cw99TswABdwpty4wDm6Kv:nth-child(2) ._3ng4jeWCIrH3Xf7gVbo758 {
  background: radial-gradient(140% 150% at 70% 100%, #511f34 10%, #0f1924 70%);
}
.Cw99TswABdwpty4wDm6Kv:nth-child(3) ._3ng4jeWCIrH3Xf7gVbo758 {
  background: radial-gradient(140% 150% at 70% 100%, #511f34 10%, #0f1924 70%);
}
.Cw99TswABdwpty4wDm6Kv:nth-child(4) ._3ng4jeWCIrH3Xf7gVbo758,
.Cw99TswABdwpty4wDm6Kv:nth-child(5) ._3ng4jeWCIrH3Xf7gVbo758,
.Cw99TswABdwpty4wDm6Kv:nth-child(6) ._3ng4jeWCIrH3Xf7gVbo758 {
  background: radial-gradient(
    182.31% 199.89% at 90.99% 107.25%,
    #a62858 10%,
    #887176 70%,
    #0f1924 120%
  );
}
.Cw99TswABdwpty4wDm6Kv:nth-child(4)
  ._3ng4jeWCIrH3Xf7gVbo758
  .cX2moiqfYAa9h4c6c6J56,
.Cw99TswABdwpty4wDm6Kv:nth-child(5)
  ._3ng4jeWCIrH3Xf7gVbo758
  .cX2moiqfYAa9h4c6c6J56,
.Cw99TswABdwpty4wDm6Kv:nth-child(6)
  ._3ng4jeWCIrH3Xf7gVbo758
  .cX2moiqfYAa9h4c6c6J56 {
  mix-blend-mode: unset;
  opacity: 0.8;
  -webkit-mask: radial-gradient(
    100% 100% at 50% 55%,
    black 30%,
    rgba(0, 0, 0, 0) 75%
  );
  mask: radial-gradient(100% 100% at 50% 55%, black 30%, rgba(0, 0, 0, 0) 75%);
}
._2Zo5vVWEoZeXCAmvmNWdtA {
  background: radial-gradient(
    120.31% 100.89% at 74.99% -9.75%,
    #a62858 0%,
    #8fb100,
    #bea5aa
  );
}
._1fLHP2iu-xMwF39bB2FE-f {
  background: #a62858;
}
._2jMh7hzYtvCju1bimc2DCR ._1tKfGHKLUsuVr003d2jG4X {
  display: block;
  filter: blur(160px);
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0.6;
}
._2jMh7hzYtvCju1bimc2DCR._3mCsh4BkMCnav5CzdFeIln {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    black 10%,
    #0f1924 120%
  );
}
._2jMh7hzYtvCju1bimc2DCR._22nJMbrt7AfGR1wKoLVXIK {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    black 10%,
    #0f1924 120%
  );
}
._5gZaiaeySvC8QDwQUkDgQ ._2jMh7hzYtvCju1bimc2DCR {
  background: radial-gradient(
    128.31% 109.89% at 83.99% 104.25%,
    black 10%,
    #0f1924 120%
  );
}
._2UjU_Bqh7WIemfgCvlD1FN {
  background: #8fb100;
}
@keyframes _1uF_mJ2NoHHxjt8B6TtKTU {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
._2mkvkIYg5LeZ2ktuk6BK-w {
  background: radial-gradient(#a62858 0%, #0f1924 40%);
  background-size: 300% 200%;
  background-position: 0% 0%;
  animation: _1uF_mJ2NoHHxjt8B6TtKTU 15s ease infinite;
}
._1Iak9Ls621_J54UW4a9Q_1 {
  background: radial-gradient(
    125% 125% at -8% 50%,
    #a62858 10%,
    #1d000c 50%,
    #4e0020 100%
  );
}
._1Iak9Ls621_J54UW4a9Q_1 .wszKcm7YBxzCAlfaWiTAH span {
  color: #ceff00;
}
._3d7jJ_skoesQRY7KoMAF8e path {
  fill: #a62858;
}
._2xTquiP8toNtUfqV0AVDkf path {
  fill: #a62858;
}
.QYeU8JjvH6xQr-aFK1efW path {
  fill: #a62858;
}
._3Bpyxk-Np66shUkJs80vvZ ._1f8MtfTqD8Az_GM0JB7Rzc.Q3vogB-yAyTY5rGGiGQYX {
  background: linear-gradient(to right, #8fb100 0%, #a62858 90%);
}
._3Bpyxk-Np66shUkJs80vvZ .kSadYHEssRMc4gjfKBIi2 div:nth-of-type(1) {
  background-color: #34f3fe;
}
._3Bpyxk-Np66shUkJs80vvZ .kSadYHEssRMc4gjfKBIi2 div:nth-of-type(2) {
  background-color: #cc6670;
}
._3Bpyxk-Np66shUkJs80vvZ .kSadYHEssRMc4gjfKBIi2 div:nth-of-type(3) {
  background-color: #f4d760;
}
._3Bpyxk-Np66shUkJs80vvZ
  ._1tqxZtHc4QXKcJycbqiAOE
  ._1bcbwF6Vo3DZxm6-DI847n._1noZDX1h45XBp4xI-eaLWz,
._3Bpyxk-Np66shUkJs80vvZ
  ._1tqxZtHc4QXKcJycbqiAOE
  ._2C_3vOW-fgB1JljQ5WDf_u._3JvBPAurzZ-YFQ1kn-AcUI._1noZDX1h45XBp4xI-eaLWz {
  background-color: #34f3fe;
}
._3Bpyxk-Np66shUkJs80vvZ
  ._1tqxZtHc4QXKcJycbqiAOE
  ._2z9mUmuJfjxc9yzKSUZVp-._3JvBPAurzZ-YFQ1kn-AcUI._1B56xMSY38kOHC5b7if0NZ {
  border: 4px dotted #34f3fe;
}
._3Bpyxk-Np66shUkJs80vvZ
  ._1tqxZtHc4QXKcJycbqiAOE
  ._2z9mUmuJfjxc9yzKSUZVp-._3JvBPAurzZ-YFQ1kn-AcUI
  ._2oPIePedWi_UM8nqs9Krd_._39goClLihc9ZPYV3YaUFxh,
._3Bpyxk-Np66shUkJs80vvZ
  ._1tqxZtHc4QXKcJycbqiAOE
  ._2z9mUmuJfjxc9yzKSUZVp-._3JvBPAurzZ-YFQ1kn-AcUI
  ._1R6sP2SKKVCDceGJzjiu9q._39goClLihc9ZPYV3YaUFxh {
  color: #34f3fe;
}
._3Bpyxk-Np66shUkJs80vvZ
  ._20rUBA-R0plfPxLoz-AaTt
  ._1bcbwF6Vo3DZxm6-DI847n._1noZDX1h45XBp4xI-eaLWz,
._3Bpyxk-Np66shUkJs80vvZ
  ._20rUBA-R0plfPxLoz-AaTt
  ._2C_3vOW-fgB1JljQ5WDf_u._3JvBPAurzZ-YFQ1kn-AcUI._1noZDX1h45XBp4xI-eaLWz {
  background-color: #cc6670;
}
._3Bpyxk-Np66shUkJs80vvZ
  ._20rUBA-R0plfPxLoz-AaTt
  ._2z9mUmuJfjxc9yzKSUZVp-._3JvBPAurzZ-YFQ1kn-AcUI._1B56xMSY38kOHC5b7if0NZ {
  border: 4px dotted #cc6670;
}
._3Bpyxk-Np66shUkJs80vvZ
  ._20rUBA-R0plfPxLoz-AaTt
  ._2z9mUmuJfjxc9yzKSUZVp-._3JvBPAurzZ-YFQ1kn-AcUI
  ._2oPIePedWi_UM8nqs9Krd_._39goClLihc9ZPYV3YaUFxh,
._3Bpyxk-Np66shUkJs80vvZ
  ._20rUBA-R0plfPxLoz-AaTt
  ._2z9mUmuJfjxc9yzKSUZVp-._3JvBPAurzZ-YFQ1kn-AcUI
  ._1R6sP2SKKVCDceGJzjiu9q._39goClLihc9ZPYV3YaUFxh {
  color: #cc6670;
}
._3Bpyxk-Np66shUkJs80vvZ
  ._3fE1LfsvZ6TSFOmBIX-hnd
  ._1bcbwF6Vo3DZxm6-DI847n._1noZDX1h45XBp4xI-eaLWz,
._3Bpyxk-Np66shUkJs80vvZ
  ._3fE1LfsvZ6TSFOmBIX-hnd
  ._2C_3vOW-fgB1JljQ5WDf_u._3JvBPAurzZ-YFQ1kn-AcUI._1noZDX1h45XBp4xI-eaLWz {
  background-color: #f4d760;
}
._3Bpyxk-Np66shUkJs80vvZ
  ._3fE1LfsvZ6TSFOmBIX-hnd
  ._2z9mUmuJfjxc9yzKSUZVp-._3JvBPAurzZ-YFQ1kn-AcUI._1B56xMSY38kOHC5b7if0NZ {
  border: 4px dotted #f4d760;
}
._3Bpyxk-Np66shUkJs80vvZ
  ._3fE1LfsvZ6TSFOmBIX-hnd
  ._2z9mUmuJfjxc9yzKSUZVp-._3JvBPAurzZ-YFQ1kn-AcUI
  ._2oPIePedWi_UM8nqs9Krd_._39goClLihc9ZPYV3YaUFxh,
._3Bpyxk-Np66shUkJs80vvZ
  ._3fE1LfsvZ6TSFOmBIX-hnd
  ._2z9mUmuJfjxc9yzKSUZVp-._3JvBPAurzZ-YFQ1kn-AcUI
  ._1R6sP2SKKVCDceGJzjiu9q._39goClLihc9ZPYV3YaUFxh {
  color: #f4d760;
}
._3LwhtMUR2vVFHRvyRMNxGK {
  background-image: radial-gradient(
      94.31% 143.89% at 2.99% -1.75%,
      #e23477 0%,
      #d3d9203a 52.6%,
      #8fb100
    ), url("/public/images/yearinreview/steam_logo_offset.png");
  background-blend-mode: multiply;
}
._2PM8va6tUvi6JiJjaXTe_k {
  background: #a62858;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
  margin: 0 auto;
}
._2PM8va6tUvi6JiJjaXTe_k:hover {
  filter: brightness(110%);
  color: #fff;
}
._2GhRvyaz6BcUqn_8Ie84MN._3hmSXaA49hWNpDmad_U2Y6 {
  background: linear-gradient(-23deg, black 0%, #4e0020 70%, #71002f 98%);
}
._2GhRvyaz6BcUqn_8Ie84MN._3hmSXaA49hWNpDmad_U2Y6 ._1RiSqDe-2hLW6Zh8gzWMQ2 {
  color: #e23477;
}
._2GhRvyaz6BcUqn_8Ie84MN._3hmSXaA49hWNpDmad_U2Y6 ._1FagSJOwqENaGOokSCJaw5 {
  color: #fff;
}
._2GhRvyaz6BcUqn_8Ie84MN._3hmSXaA49hWNpDmad_U2Y6 ._2szJenhCRhwaeLkwGQiOIX {
  color: #fff;
}
._2GhRvyaz6BcUqn_8Ie84MN._3hmSXaA49hWNpDmad_U2Y6 ._3HGA8vPogeG26iVY-5nmFS {
  fill: #e23477;
}
._2GhRvyaz6BcUqn_8Ie84MN._3hmSXaA49hWNpDmad_U2Y6 ._2mhWOxJsIcWe8uMpCZxosE {
  color: #8fb100;
}
._2GhRvyaz6BcUqn_8Ie84MN._3hmSXaA49hWNpDmad_U2Y6 ._1ARS2PnjXATcgXNP0lEZBX {
  border-color: #511f34;
  border-radius: 2px;
}
._2GhRvyaz6BcUqn_8Ie84MN._3hmSXaA49hWNpDmad_U2Y6 ._2UNwHmsG9jJhvi_-hHqlUo {
  color: #f1f1f1;
}
._2GhRvyaz6BcUqn_8Ie84MN._3hmSXaA49hWNpDmad_U2Y6
  ._2UNwHmsG9jJhvi_-hHqlUo
  ._2q2Real9LsQkftHC3gtzjn {
  color: #ceff00;
}
._2GhRvyaz6BcUqn_8Ie84MN._3hmSXaA49hWNpDmad_U2Y6 ._3Jien5Efkr3B0IQgbOMC0u {
  background: linear-gradient(135deg, #511f34 0%, #a62858 100%);
  color: #f1f1f1;
  font-weight: 600;
  letter-spacing: 1px;
}
._2GhRvyaz6BcUqn_8Ie84MN._3hmSXaA49hWNpDmad_U2Y6
  ._3Jien5Efkr3B0IQgbOMC0u:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #511f34 0%, #a62858 100%);
}
._2GhRvyaz6BcUqn_8Ie84MN._3hmSXaA49hWNpDmad_U2Y6 ._30TBldURmofivWIf4LDybD {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  color: #f1f1f1;
  margin-bottom: 30px;
}
.BasicUI
  ._2GhRvyaz6BcUqn_8Ie84MN._3hmSXaA49hWNpDmad_U2Y6
  ._30TBldURmofivWIf4LDybD {
  font-size: 20px;
}
.LDdWtcd3cqcEwlnIqnp0m {
  background: #a62858;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
}
.LDdWtcd3cqcEwlnIqnp0m:hover {
  filter: brightness(110%);
  color: #fff;
}
