._3f4n8BFj3ADB61_06XxXfH {
  font-size: 14px;
  padding: 4px 6px;
  background-color: #4c6b22;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a4d007;
}
body.v6.rewards {
  background-color: #161a1f;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
body.v6.rewards .ModalPosition {
  overflow-y: auto;
}
body.v6.rewards .ModalPosition_Content {
  min-height: none;
}
.responsive_page_frame {
  height: 100%;
}
.responsive_page_content {
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.responsive_page_template_content {
  padding-bottom: 0 !important;
}
.responsive_page_template_content,
.page_content_ctn,
#points_shop_root,
._2ZfecHo99JCqJlsQwW-w_T,
._1Qkju8DkEDxfJrSRSvE60X {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.placeHolder_summerSale2020_promotionDetailsBar {
  overflow-x: hidden;
}
.kOC36pdxn9Y3RbFW9Pe4k {
  background-color: #1e232e;
  width: 100%;
  z-index: 12;
  box-sizing: border-box;
  min-height: 51px;
  user-select: none;
}
.kOC36pdxn9Y3RbFW9Pe4k ._3Bs_x4ZJUDXcmcyBIijrY7 {
  max-width: 988px;
  margin: 0 auto;
}
.kOC36pdxn9Y3RbFW9Pe4k .O1wfr_dIdjA0EArihdbyn {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-width: 200px;
  position: relative;
}
.kOC36pdxn9Y3RbFW9Pe4k .O1wfr_dIdjA0EArihdbyn ._1HQdP65qORYG5rx4hx2j1m {
  width: 40px;
  position: absolute;
}
.kOC36pdxn9Y3RbFW9Pe4k ._3fuIWWim03452DHyaDdP0a {
  margin-right: 25px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi {
  margin-top: 2px;
  margin-right: 25px;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi ._1vqtwC4BfRP50KXnACBa7t {
  position: relative;
  display: flex;
  align-items: center;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi ._14xpPmN_1R8YRheIU_LM0R {
  font-family: "Motiva Sans", Helvetica, sans-serif;
  text-transform: uppercase;
  color: #d0d0d0;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi .u6k6EnkqP237vIZRzHfIZ {
  background: #393d43;
  border-radius: 5px;
  border: 0;
  outline: none;
  height: 28px;
  width: 300px;
  color: #c5cbd8;
  padding-left: 28px;
  padding-top: 3px;
  box-sizing: border-box;
}
.kOC36pdxn9Y3RbFW9Pe4k
  ._2h5QBrJVeUh4KtMZ-xE1yi
  .u6k6EnkqP237vIZRzHfIZ::placeholder {
  font-style: italic;
  color: #838588;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi .OsLH8FDeg0Gu5lgcZAho {
  position: absolute;
  left: 5px;
  top: 4px;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi .H8YKMauMXqfao1zWQMPMR {
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: #939393;
  stroke: currentColor;
  fill: currentColor;
  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  position: relative;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi ._3BWU2EyFDdwd3j8sTorUAk {
  position: absolute;
  right: 6px;
  top: 8px;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi .LCByT8rBA3AXSOG1Hl60p {
  height: 12px;
  cursor: pointer;
  color: #939393;
  stroke: currentColor;
  fill: currentColor;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi .LCByT8rBA3AXSOG1Hl60p:hover {
  color: inherit;
  stroke: currentColor;
  fill: currentColor;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi ._333Rtc63-hZUxrX_3oQzsL {
  position: absolute;
  right: 6px;
  top: 2px;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi ._3Krp-JkHE_Ec1Gsu4_CCY_ {
  position: relative;
  display: flex;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi .HCNAjHNKcIbUS26JKsm_v {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  cursor: pointer;
  color: #c5cbd8;
  stroke: currentColor;
  fill: currentColor;
  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  position: relative;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi ._24IGxxPD8hJL3naggHz9qf {
  height: 24px;
  width: 24px;
  cursor: pointer;
  color: #939393;
  stroke: currentColor;
  fill: currentColor;
  transition-property: color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  position: relative;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi ._2IhKKvzDp31VGH6lLGna03 {
  width: 11px;
  height: 11px;
  border-radius: 6px;
  background-color: #4a9ce7;
  position: absolute;
  top: 0px;
  right: -2px;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi ._20mcPa1PnvA0iIwBsRCGoe {
  width: 11px;
  height: 11px;
  border-radius: 6px;
  background-color: #4a9ce7;
  position: absolute;
  top: -5px;
  right: -5px;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2h5QBrJVeUh4KtMZ-xE1yi .HCNAjHNKcIbUS26JKsm_v:hover {
  color: #fff;
  stroke: currentColor;
  fill: currentColor;
}
.kOC36pdxn9Y3RbFW9Pe4k ._2fLKsupss_Tr-yX6vqskXQ {
  width: 24px;
  height: 24px;
}
.kOC36pdxn9Y3RbFW9Pe4k ._3LsyiFl4MYAHc9pM67d-d6 {
  white-space: nowrap;
  color: #78a9e2;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.kOC36pdxn9Y3RbFW9Pe4k ._1XPtbpsI-RZd1JlAozJWI0 {
  letter-spacing: 0.1em;
}
._2fDrebx2asA6sXZwEpyywx {
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #d9d9d9;
  padding-left: 20px;
}
._2ZfecHo99JCqJlsQwW-w_T {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  color: #c5cbd8;
  letter-spacing: 0em;
}
._2ZfecHo99JCqJlsQwW-w_T a {
  color: #c5cbd8;
}
._2ZfecHo99JCqJlsQwW-w_T ._1Qkju8DkEDxfJrSRSvE60X {
  align-items: stretch;
}
._29EuRXgJWKVF34WrLKbeKZ path {
  fill: #78a9e2;
}
._3gUO3mSjDbNfpuoquiKUX1 {
  z-index: 1;
}
._3gUO3mSjDbNfpuoquiKUX1:hover {
  z-index: 20;
}
._1YLE2s8b1gx2r4hkbxPUis {
  border-radius: 3px;
  background-color: #474e58;
  color: #c5cbd8;
  font-size: 0.75rem;
  font-weight: 100;
  letter-spacing: 0.0625rem;
  line-height: 1.125rem;
  padding: 2px 8px;
  margin-left: 8px;
  transition: color 0.2s ease-in-out;
}
._1YLE2s8b1gx2r4hkbxPUis:hover {
  color: #fff;
}
._1YLE2s8b1gx2r4hkbxPUis:focus {
  color: #fff;
}
._1QoZDC36mteVbqJk1wDSZn {
  width: 32px;
  height: 32px;
}
._2nL0cu9XFkFybVcp4CGFCO {
  margin-bottom: 20px;
}
._2UpnBAYN6126aTJs1u2ojE {
  width: 20px;
  height: 20px;
  color: #5b7e0f;
}
._3KGvDFZrr40lqc2M9wEJfI {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #5b7e0f;
  user-select: none;
}
._3KGvDFZrr40lqc2M9wEJfI ._1E4uc1RzsRkpvfk6DwwdMp {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-left: 8px;
}
