










.profileshowcases_ProfileShowcaseHeaderImage_2tjUy {
  width: 100%;
  max-width: 1000px; }

.profileshowcases_ShowcaseSubhead_2BmNv {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  color: #C5CBD8;
  font-size: 1rem;
  letter-spacing: 0.1em;
  max-width: 800px; }

