._2tjUy9meAE2vNIP6iYBRVU {
  width: 100%;
  max-width: 1000px;
}
._2BmNvI5oqx2_EjWNkstqPt {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  color: #c5cbd8;
  font-size: 1rem;
  letter-spacing: 0.1em;
  max-width: 800px;
}
