:root {
  --basicui-header-height: 0px;
}
.categoriesapp_CategorySectionsCtn_YuXds {
  padding: 0px var(--gpSpace-Gutter) var(--gpSpace-Gutter) var(--gpSpace-Gutter);
}
.categoriesapp_CategorySectionsCtn_YuXds .categoriesapp_CategorySection_2MUQ8 {
  margin-bottom: 12px;
}
.categoriesapp_CategorySectionsCtn_YuXds
  .categoriesapp_CategorySection_2MUQ8
  .categoriesapp_CategorySectionName_2Vnsy {
  font-family: "Motiva Sans", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  letter-spacing: 0px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.categoriesapp_CategorySectionsCtn_YuXds
  .categoriesapp_CategorySection_2MUQ8
  .categoriesapp_CategoriesCtn_3yuPy::after {
  content: " ";
  min-width: var(--gpSpace-Gutter);
}
.categoriesapp_CategorySectionsCtn_YuXds
  .categoriesapp_CategorySection_2MUQ8
  .categoriesapp_CategoriesCtn_3yuPy {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  flex-wrap: nowrap;
  padding: 8px var(--gpSpace-Gutter) 12px var(--gpSpace-Gutter);
  margin-left: calc(0px - var(--gpSpace-Gutter));
  margin-right: calc(0px - var(--gpSpace-Gutter));
  scroll-padding: 0px var(--gpSpace-Gutter);
}
.categoriesapp_CategorySectionsCtn_YuXds
  .categoriesapp_CategorySection_2MUQ8
  .categoriesapp_CategoriesCtn_3yuPy
  .categoriesapp_Category_1uwcZ {
  display: block;
  position: relative;
  width: var(--gpWidth-4colcap);
  height: var(--gpWidth-3colcap);
  overflow: hidden;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.32);
  flex-shrink: 0;
  scroll-snap-align: start;
}
@media screen and (min-width: 1280px) {
  .categoriesapp_CategorySectionsCtn_YuXds
    .categoriesapp_CategorySection_2MUQ8
    .categoriesapp_CategoriesCtn_3yuPy
    .categoriesapp_Category_1uwcZ {
    width: var(--gpWidth-5colcap);
    height: var(--gpWidth-4colcap);
  }
}
@media screen and (min-width: 1920px) {
  .categoriesapp_CategorySectionsCtn_YuXds
    .categoriesapp_CategorySection_2MUQ8
    .categoriesapp_CategoriesCtn_3yuPy
    .categoriesapp_Category_1uwcZ {
    width: var(--gpWidth-6colcap);
    height: var(--gpWidth-5colcap);
  }
}
.categoriesapp_CategorySectionsCtn_YuXds
  .categoriesapp_CategorySection_2MUQ8
  .categoriesapp_CategoriesCtn_3yuPy
  .categoriesapp_Category_1uwcZ
  .categoriesapp_GridOuter_3Q4XM
  .categoriesapp_Grid_3anY0 {
  position: relative;
  width: 100%;
  height: auto;
}
.categoriesapp_CategorySectionsCtn_YuXds
  .categoriesapp_CategorySection_2MUQ8
  .categoriesapp_CategoriesCtn_3yuPy
  .categoriesapp_Category_1uwcZ
  .categoriesapp_GridOuter_3Q4XM
  .categoriesapp_Grid_3anY0
  img {
  width: 100%;
  height: auto;
}
.categoriesapp_CategorySectionsCtn_YuXds
  .categoriesapp_CategorySection_2MUQ8
  .categoriesapp_CategoriesCtn_3yuPy
  .categoriesapp_Category_1uwcZ
  .categoriesapp_CategoryName_3VNsE {
  position: absolute;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0), #0b1621 72%);
  width: 100%;
  height: 100%;
}
.categoriesapp_CategorySectionsCtn_YuXds
  .categoriesapp_CategorySection_2MUQ8
  .categoriesapp_CategoriesCtn_3yuPy
  .categoriesapp_Category_1uwcZ
  .categoriesapp_CategoryName_3VNsE
  span {
  position: absolute;
  bottom: 10%;
  font: var(--gpText-BodyLarge);
  font-weight: 500;
  text-align: center;
  width: 100%;
  padding: 0px 10%;
  box-sizing: border-box;
  word-break: break-word;
}
.categoriesapp_CategorySectionsCtn_YuXds
  .categoriesapp_CategorySection_2MUQ8
  .categoriesapp_CategoriesCtn_3yuPy
  .categoriesapp_TopLevelCategory_2ZYjR
  .categoriesapp_CategoryName_3VNsE
  span {
  font: var(--gpText-HeadingSmall);
  text-align: center;
}
