._2wAKy-0ZkO_vhbiQCP9MgE {
  display: flex;
  flex-direction: column;
  margin: 0;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1QfwpLmLTSuiIRLDzdY_7l {
  animation-name: _1F0lzP-Krz_y5P9ewZEvBD;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1QfwpLmLTSuiIRLDzdY_7l * {
  animation-name: _1F0lzP-Krz_y5P9ewZEvBD !important;
  stroke-dasharray: initial !important;
  stroke-dashoffset: initial !important;
  stroke-width: 5px !important;
  opacity: 1 !important;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1QfwpLmLTSuiIRLDzdY_7l ._2qjZm0dB7I6lcRkZhNTqvD path {
  stroke-width: 0 !important;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1Sy0pXVZOdWbgouFyD2zJj {
  flex-direction: row;
}
._2wAKy-0ZkO_vhbiQCP9MgE .lYUEjD8Qh3GM_ZrZeLwpI,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber path {
  width: 100%;
  height: 100%;
  position: relative;
}
._2wAKy-0ZkO_vhbiQCP9MgE .lYUEjD8Qh3GM_ZrZeLwpI {
  align-self: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2zbyh5jEDlV5HVD3iUve-k .lYUEjD8Qh3GM_ZrZeLwpI {
  width: 32px;
  height: 32px;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2CphUsHNDgIWItNIzeIldY .lYUEjD8Qh3GM_ZrZeLwpI {
  width: 64px;
  height: 64px;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1x18vR7Qop8v8_G8qSR6CL .lYUEjD8Qh3GM_ZrZeLwpI {
  width: 92px;
  height: 92px;
}
._3IYPzqtvB2ZE7x710d5x2C {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
._21nVi2jNuF_prxLY1mAaKK,
._2wAKy-0ZkO_vhbiQCP9MgE ._21nVi2jNuF_prxLY1mAaKK {
  color: #3d85c8;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  user-select: none;
  margin-top: 8px;
  font-weight: 500;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2CphUsHNDgIWItNIzeIldY ._21nVi2jNuF_prxLY1mAaKK {
  margin-top: 4px;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2zbyh5jEDlV5HVD3iUve-k ._21nVi2jNuF_prxLY1mAaKK {
  margin-top: 2px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber._1ctjA2yjeB21eCDj_r1mVz {
  filter: blur(3px);
  position: absolute;
  left: 0;
  top: 0px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber._1ctjA2yjeB21eCDj_r1mVz path {
  stroke: #4375fd;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber path {
  stroke: #67c1f5;
  animation-name: _1O-cWE6nuIVO3x6-Onw0IU;
  animation-duration: .7s;
  stroke-linecap: butt;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1Vv--mA6PueyEKXXMTwljt,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2K0LzwjOXDopMHoqY_v_CO {
  stroke-dashoffset: 0;
  stroke-dasharray: 116;
  stroke-width: 6px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2K0LzwjOXDopMHoqY_v_CO {
  opacity: 1;
  stroke: #3b8bb9;
  stroke-width: 6px;
  transform-origin: 50% 50%;
  stroke-linecap: round;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1Vv--mA6PueyEKXXMTwljt {
  display: none;
}
@keyframes _1O-cWE6nuIVO3x6-Onw0IU {
  to {
    stroke-dashoffset: -232;
  }
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3sQFkavAEPhliH6DiFmHRH {
  animation-name: ofdi9VLSRZ5W98WsXVHiq;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 1;
  stroke-width: 0;
}
@keyframes ofdi9VLSRZ5W98WsXVHiq {
  0% {
    fill: rgba(103, 193, 245, 0);
  }
  50% {
    fill: rgba(103, 193, 245, 0.05);
  }
  100% {
    fill: rgba(103, 193, 245, 0);
  }
}
._2wAKy-0ZkO_vhbiQCP9MgE
  .SVGIcon_Throbber
  ._1LZffuoDq-N25wNHckxsf
  ._1XN6ZJ1l8nVoUxp1WnOBqw,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1LZffuoDq-N25wNHckxsf circle {
  stroke: #67c1f5;
  animation-name: _1jALk36CiS_T9Pg7vBjpIQ;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 67% 36%;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1LZffuoDq-N25wNHckxsf circle {
  animation-name: _1KvOgdKiNE9XuSYUau3hKW;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2qjZm0dB7I6lcRkZhNTqvD path {
  fill: #67c1f5;
  stroke-width: 0;
  animation-name: _1KvOgdKiNE9XuSYUau3hKW;
  animation-duration: 3s;
  animation-delay: -0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes _1jALk36CiS_T9Pg7vBjpIQ {
  0% {
    opacity: 0;
    transform: scale(0.75);
    stroke-width: 4px;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
  100% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
}
@keyframes _1KvOgdKiNE9XuSYUau3hKW {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2LGHpu_-ihfOhQwdfR3Kiy,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2FGCneH2AemMrIrZnZskw_,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1X-5j16jaQntVrZfadibyc,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1pj1Q3Ef4FdHDdl9QEtpxp,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .xFmZaMe5nZpoTc5PQBKn3,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3MGYowzMQ6TwbH3fu9SVjt,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .ktVJ42jiVhWEVV9O6z2FK,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3s_7my869lIOj-1vnqJ39y,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._11MVp53Me_frOuaJfsQ4FE,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2cl-maglen-RF0YQjShgqG,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3-JE0FpIzECzeqtd5cyjGI,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1xNIKvHdzLhBldONo6yIZs,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1S17yicfcrPc11m83ydGp3,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1-oUJqmCLOoGqVJz5dgj6J,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2tXgejjqNKy6cSX1Lv7PrG {
  animation-name: _1fs4RGcMBRzbQQirDBiFoM;
  animation-duration: 3s;
  stroke-dasharray: 150 950;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2tXgejjqNKy6cSX1Lv7PrG {
  animation-delay: 0s;
  opacity: 0.06;
  stroke-width: .5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1-oUJqmCLOoGqVJz5dgj6J {
  animation-delay: -0.1s;
  opacity: 0.13;
  stroke-width: 1px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1S17yicfcrPc11m83ydGp3 {
  animation-delay: -0.2s;
  opacity: 0.2;
  stroke-width: 1.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1xNIKvHdzLhBldONo6yIZs {
  animation-delay: -0.3s;
  opacity: 0.26;
  stroke-width: 2px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3-JE0FpIzECzeqtd5cyjGI {
  animation-delay: -0.4s;
  opacity: 0.33;
  stroke-width: 2.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2cl-maglen-RF0YQjShgqG {
  animation-delay: -0.5s;
  opacity: 0.4;
  stroke-width: 3px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._11MVp53Me_frOuaJfsQ4FE {
  animation-delay: -0.6s;
  opacity: 0.46;
  stroke-width: 3.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3s_7my869lIOj-1vnqJ39y {
  animation-delay: -0.7s;
  opacity: 0.53;
  stroke-width: 4px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .ktVJ42jiVhWEVV9O6z2FK {
  animation-delay: -0.8s;
  opacity: 0.6;
  stroke-width: 4.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3MGYowzMQ6TwbH3fu9SVjt {
  animation-delay: -0.9s;
  opacity: 0.66;
  stroke-width: 5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .xFmZaMe5nZpoTc5PQBKn3 {
  animation-delay: -1s;
  opacity: 0.73;
  stroke-width: 5.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1pj1Q3Ef4FdHDdl9QEtpxp {
  animation-delay: -1.1s;
  opacity: 0.8;
  stroke-width: 6px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1X-5j16jaQntVrZfadibyc {
  animation-delay: -1.2s;
  opacity: 0.86;
  stroke-width: 6.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2FGCneH2AemMrIrZnZskw_ {
  animation-delay: -1.3s;
  opacity: 0.93;
  stroke-width: 7px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2LGHpu_-ihfOhQwdfR3Kiy {
  animation-delay: -1.4s;
  opacity: 1;
  stroke-width: 7.5px;
}
@keyframes _1fs4RGcMBRzbQQirDBiFoM {
  100% {
    stroke-dashoffset: -1100;
  }
}
._2zbyh5jEDlV5HVD3iUve-k {
  width: 36px;
  height: 36px;
}
._2CphUsHNDgIWItNIzeIldY {
  width: 64px;
  height: 64px;
}
._1x18vR7Qop8v8_G8qSR6CL {
  width: 92px;
  height: 92px;
}
._1gYeZMYKBDqNpVuw58_LCl {
  width: 120px;
  height: 120px;
}
._3j-p4JOqdpaF4obGtIeAB {
  width: 240px;
  height: 240px;
}
.I3aEq3lbK7Pm8ujENvtri {
  opacity: 0;
  transition: opacity 1s;
}
.I3aEq3lbK7Pm8ujENvtri._2SwSJd-DlX2dRiDGxZWHI5 {
  opacity: 1;
}
._1m8iQOSVziKDHiInrfskv_ img {
  width: 100%;
}
.yloqxGhIEzvGIwbQbo6KP .DialogContentFullSize .DialogContent_InnerWidth {
  overflow: hidden;
}
._1wwvw8QMJqug_-ioZdRJTC {
  width: fit-content;
  height: fit-content;
}
.PopupFullWindow ._1wwvw8QMJqug_-ioZdRJTC {
  width: calc(100vw - 48px);
}
._31XZuVC3l846TjPDScscaS {
  width: auto;
  height: auto;
  max-height: 90vh;
  max-width: 80vw;
}
._3MyspS-H5SnsUnKa3yhdtJ {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}
._1tCO1rmBfntUI0TlpTly1F {
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 50%;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.4);
}
._1tCO1rmBfntUI0TlpTly1F:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
._1tCO1rmBfntUI0TlpTly1F._1a_f8VY56CtjgePDRTaC-W {
  opacity: 0.5;
  pointer-events: none;
}

._16SknI_KfMn45zQAvi-Xrs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
._16SknI_KfMn45zQAvi-Xrs img {
  display: block;
}
._16SknI_KfMn45zQAvi-Xrs ._3Mns5ZEBThi10kv9zwdCRr {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  opacity: 0;
  transition: opacity .2s ease-in;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 5px 5px 1px 5px;
}
._16SknI_KfMn45zQAvi-Xrs:hover {
  cursor: pointer;
}
._16SknI_KfMn45zQAvi-Xrs:hover ._3Mns5ZEBThi10kv9zwdCRr {
  opacity: 0.5;
}
._2FXMECiK-1oag3HieTiKJW {
  background-color: hotpink;
  border: 1px solid;
  padding: 10px;
}
._2P-P0Ga6blE6d10oVWleHs {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: 300px;
  margin-bottom: -290px;
  background: radial-gradient(
    50% 200px at 50% top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
._2P-P0Ga6blE6d10oVWleHs .page_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._3LnsTSsd5CMsXXdHZVeG9S {
  max-height: 1100px;
  height: 80vh;
  width: min-content;
  max-width: 100%;
  z-index: -1;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 4%,
    black 30%,
    black 70%,
    transparent 96%
  );
  mask-image: linear-gradient(
    90deg,
    transparent 4%,
    black 30%,
    black 70%,
    transparent 96%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
}
._3LnsTSsd5CMsXXdHZVeG9S img {
  height: 100%;
  aspect-ratio: 1920 / 620;
  filter: saturate(0.6) opacity(0.4);
  -webkit-mask-image: linear-gradient(180deg, black 78%, transparent 98%);
  mask-image: linear-gradient(180deg, black 78%, transparent 96%);
  background-blend-mode: multiply;
}
._1j9oLZ84RZG44SAUdeGBbz {
  z-index: -2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background: #0c0f12;
}
._1j9oLZ84RZG44SAUdeGBbz img {
  filter: blur(120px);
  height: 110vh;
}
.EBiK_PYat7W-Wk_zJcuFq {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
}
.EBiK_PYat7W-Wk_zJcuFq ._39vGMX3e1UOPPRyvi30wk7 {
  margin-inline-start: 16px;
  display: flex;
  flex-direction: column;
}
.EBiK_PYat7W-Wk_zJcuFq ._3o2oMRRFqgwPf42yjGG0qp {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: .6px;
  text-transform: uppercase;
}
.EBiK_PYat7W-Wk_zJcuFq ._3_R7HvUJcngi4n-gCRYFkN {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.EBiK_PYat7W-Wk_zJcuFq ._1g7L59QP-3lRDGA0owdeWA {
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 200px;
}
.EBiK_PYat7W-Wk_zJcuFq ._1g7L59QP-3lRDGA0owdeWA button._DialogInputContainer {
  background: #182636;
}
.qidGiQP0S4nK0GXkYOxbO {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
._2-2kqczzmj6KtNObGLj6x3 {
  width: 100%;
}
.T_3MrEHN9bFK4I4FQqDC8 {
  margin-top: 60px;
  width: 100%;
}
.T_3MrEHN9bFK4I4FQqDC8 ._3_R7HvUJcngi4n-gCRYFkN {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.T_3MrEHN9bFK4I4FQqDC8 ._3Bvm26qCLKO-h1yHVlFGsS {
  font-weight: 200;
  font-size: 14px;
  color: #fff;
  margin-bottom: 6px;
}
