OOBEProgress
{
	z-index: 1000;
	width: 100%;
	height: 100%;
}

#CenterWrapper
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
}

.Throbber
{
	opacity: 1.0;
	width: 64px;
	height: 64px;
	margin-bottom: 10px;
	horizontal-align: center;
	opacity-mask: url( "file://{images}/browser/reticle_mask_80_80.png" );
	background-image: url( "file://{images}/browser/reticle_80_80.webm" );
	background-repeat: no-repeat no-repeat;
	background-size: 100% 100%;
}

.SettingsSection
{
	font-size: 24px;
	font-family: platformfont;
	margin-top: 48px;
}

#SettingsContainer
{
	height: 600px;
}

#EulaHTML
{
	margin-top: 15px;
	width: 100%;
	height: 650px;
	border-width: 5px;
	border-style: solid;
	border-color: #00000000;

	transition-property: border;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.XInputPad #EulaHTML,
.SteamPad #EulaHTML
{
	height: 616px;
}


#EulaHTML VerticalScrollBar
{
	margin-right: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
}

#EulaHTML:descendantfocus
{
	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;	

	border-color: white;
}

#EulaScrollHintXInput,
#EulaScrollHintSteam
{
	visibility: collapse;
	margin-top: 20px;
	font-size: 27px;
	color: white;
	opacity: 0.8;
	text-align: right;
	width: 100%;

	font-family: platformfont;
}

.XInputPad #EulaScrollHintXInput
{
	visibility: visible;
}

.SteamPad #EulaScrollHintSteam
{
	visibility: visible;
}


OOBEDisplayWizardChild.Underscan
{
	background-image: url( "file://{images}/settings/underscan1.png" ), url( "file://{images}/settings/underscan2.png" ), url( "file://{images}/settings/underscan3.png" ), url( "file://{images}/settings/underscan4.png" );
	background-repeat: no-repeat;
	background-position: left top, right top, right bottom, left bottom;
	background-size: 100px 100px;
}
