/*<style type="text/css">*/

body{
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal;
	font-size: 13px;
}

#pageContainer {
	position: relative;
	min-height: 100%;
}

#landingHeader {
	background-color: #000;
	color: #7c7c7c;
	height: 76px;
}

	#landingHeader .logo {
		display: inline-block;

	}

	#landingHeader .divider {
		width: 1px;
		height: 46px;
		margin: 15px 25px;
		display: inline-block;
		background-color: #7c7c7c

	}

	#landingHeader h1 {
		line-height: 76px;
		font-size: 18px;
		display: inline-block;
		vertical-align: top;
		color: #7c7c7c;
		font-family: Arial, Tahoma, sans-serif;
	}

	#landingHeader .userBox {
		float: right;
		text-align: right;
		margin-right: 25px;
	}

		#landingHeader .userBox img.avatar {
			float: right;
			width: 48px;
			height: 48px;
		}

		#landingHeader .userBox span {
			font-size: 14px;
			color: #e5e5e5;
			display: block;
			margin-top: 13px;
			width: 275px;
		}



#landingNav {
	height: 41px;
	border-top: 1px solid #e5e5e5;
	padding: 0 0 0 45px;

	background: #c1c1c1; /* Old browsers */
	background: -moz-linear-gradient(top,  #c1c1c1 85%, #919191 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(85%,#c1c1c1), color-stop(100%,#919191)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c1c1c1 85%,#919191 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c1c1c1 85%,#919191 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c1c1c1 85%,#919191 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c1c1c1 85%,#919191 100%); /* W3C */
}

	#landingNav > a {
		color: #000;
		line-height: 41px;
		height: 35px;
		display: inline-block;
		padding: 0 20px;
		border: 1px dotted #b3b3b3;
		border-top: none;
		border-bottom: none;
		text-decoration: none;
		font-size: 14px;
	}

		#landingNav > a.active
		{
			background-color: #262626;
			color: #666666;
			margin-top: 3px;
			vertical-align: top;
			border: none;
			line-height: 34px;
			height: 38px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			margin-right: 1px;
		}

		#landingNav > a.dropdown.hover, #landingNav > a.dropdown:hover
		{
			color: #adadad;
			background-color: #454545 !important;
			margin-top: 3px;
			vertical-align: top;
			border-right: none;
			line-height: 34px;
			height: 38px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			margin-right: 1px;
		}

		#landingNav > a:not(:first-child) {
			border-left: none;
		}

	#landingNav .navContent {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		background-color: #454545 !important;
		padding: 10px 20px 15px 20px;
	}

		#landingNav .navContent a {
			color: #fff;
			font-size: 13px;
			display: block;
			text-decoration: none;
		}

			#landingNav .navContent a:not(:first-child) {
				margin-top: 8px;
			}
		
		#landingNav .navContent a:hover {
			color: #00adee;
		}
		
		#landingNav .navContent > hr {
			margin-top: 10px;
			margin-bottom: 10px;
			background-color: #b3b3b3;
			color: transparent;
			height: 1px;
			border-style: none;
		}

#landingWelcome {
	border-bottom: 2px solid #82a6d7;
	font-size: 25px;
	line-height: 26px;
	color: #fff;
	margin-bottom: 0px;
	margin-top: 28px;
	padding-bottom: 5px;
}
	#landingWelcome .breadcrumbs, #landingWelcome .breadcrumbs a {
		color: #808285;
		font-size: 13px;
		line-height: 14px;
		text-decoration: none;
	}

	#landingWelcome .avatar {
		float: left;
		width: 55px;
		height: 55px;
		margin: 5px 10px 0px 0px;
	}

	#landingWelcome .capsule {
		float: left;
		max-height: 28px;
		margin: 5px 5px 0 0px;
	}
	
	#landingWelcome .landingName {
		float: left;
		margin-top: 6px;
	}
		
	#landingWelcome .appName {
		margin-top: 5px;
	}
	
		#landingWelcome .appName .adminSection {
			color: #00adee;
		}

#appFrame #landingWelcome {
	margin-bottom: 20px;
}

.errorContainer {
	padding: 40px;
	border: #444444;
	background-color: #333333;
	text-align:center;
	border-radius: 15px;
	margin-top: 45px;
}

/* Utility styles */
.break { /* Used to prevent CSS from collapsing margins */
	overflow: hidden;
	height: 0px;
	width: 0px;
}

/* Generic styles */

.highlight {
	background-color: #191919;
	color: #797b7e;
	padding: 4px 7px;
	margin: 15px 0;
}

.filterText {
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #333333;
}

	.filterText.blur {
		color: #646661;
		font-style: italic;
	}

.landingLeftCol {
	margin-right: 320px;
	padding: 15px 0;
}

	.landingLeftCol *:first-child {
		margin-top: 0;
		padding-top: 0;
	}

.landingRightCol {
	float: right;
	width: 300px;
	margin-left: 10px;
	padding: 15px 0;
}

	.landingRightCol .panel {
		margin-bottom: 10px;
		border-radius: 3px;
		background-color: #000;
		padding: 8px;
	}

		.landingRightCol .panel .attribute {
			display: block;
			position: relative;
		}

		.landingRightCol .panel .hr {
			background-color: #4c4c4c;
			height: 1px;
			clear: both;
			margin: 15px 0;
		}

			.landingRightCol .panel .hr.thin {
				background-color: #4c4c4c;
				height: 1px;
				clear: both;
				margin: 5px 0;
			}

			.landingRightCol .panel .attribute > span {
				color: #7cb8e4;
				left: 30%;
				display: block;
				position: absolute;
				top: 0;
			}

		.landingRightCol .panel h1 {
			color: #808285;
			font-size: 18px;
			margin-bottom: 5px;
		}

		.landingRightCol .panel .btn_medium {
			margin-bottom: 10px;
		}

		.landingRightCol .panel .iconLink {
			display: block;
			padding-left: 25px;
			width: 100%;
			min-height: 16px;
			background-repeat: no-repeat;
			color: #ffffff;
			margin: 10px 0;
			text-decoration: none;
			font-size: 14px;
			line-height: 14px;
		}
		
		.landingRightCol .panel .iconLink:hover {
			color: #00adee;
		}

			.landingRightCol .panel .iconLink.disabled {
				color: #4c4c4c;
			}
			.landingRightCol .panel .iconLink > span, .landingRightCol .panel .iconLink:hover > span {
				color: #808285;
				line-height: 20px;
				font-size: 12px;
			}


	.panel.announcementPanel .date {
		color: #6B8805;
		line-height: 16px;
		font-size: 11px;
		display: inline-block;
		vertical-align: top;
		margin-left: 5px;
		font-family: arial;
	}

	.panel.announcementPanel a.readMore {
		color: #8BB006;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 11px;
	}

	.panel.announcementPanel h1 {
		color: #A4D007;
		font-weight: normal;
		font-size: 17px;
	}

	.panel.announcementPanel .limited {
		display: block;
		max-height: 127px;
		overflow: hidden;
	}

.tableAction {
	background-color: #333333;
	text-align: center;
	padding-top: 35px;
}

	.tableAction p, .tableAction a {
		margin-bottom: 35px;
	}

.aldengold {
	color: #AC966A;
	font-size: 14px;
	margin-left: 0;
}

#UANotice {
	background-color: #6b8705;
	border: 1px solid #9bc505;
	color: #fff;
	padding: 15px 20px;
	margin-top: 15px;
}

	#UANotice .title {
		font-size: 24px;
	}

	#UANotice .message {
		color: #fff;
		margin: 3px 0;
	}

		#UANotice .message a, #UANotice .message a:hover {
			color: #fff;
			text-decoration: underline;
		}

p {
	margin-left: 0;
}

.fancyCheckbox:hover {
	color: inherit;
	cursor: pointer;
}

.landingTable {
	display: table;
	border-spacing: 0 2px;
	width: 100%;
	color: #b2b2b2;
}
	.landingTable a {
		color: inherit;
		text-decoration: none;
	}

	.landingTable strong {
		color: #fff;
	}

	.landingTable p {
		margin-left: 0;
	}

	.landingTable .tr {
		display: table-row;
		color: inherit;
		text-decoration: none;
	}

		.landingTable a.tr:hover .td, .landingTable .tr.highlightHover:hover .td {
			background-color: #3d3e3e;
		}

	.landingTable .visibleHover {
		visibility: hidden;
	}

		.landingTable .tr.highlightHover:hover .visibleHover {
			visibility: visible;
		}

	.landingTable th, .landingTable .th {
		font-size: 9px;
		text-transform: uppercase;
		background-color: transparent;
		font-weight: normal;
		color: #808285;
		display: table-cell;
	}

	.landingTable tr:not(:first-child), .landingTable .tr:not(:first-child) {

	}

	.landingTable td, .landingTable .td {
		font-size: 12px;
		padding: 7px;
		background-color: #333333;
		display: table-cell;
	}

		.landingTable td span, .landingTable .td span {
			color: #939597;
		}

	.landingTable tr.released td, .landingTable .tr.released .td {
		color: #fbb963;
	}

	.landingTable tr.beta td, .landingTable .tr.beta .td {
		color: #82a6d7;
	}


.buttonRow {
	display: block;
	background-position: 8px 15px;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 35px;
	color: #e7e8e9;
	font-size: 14px;
	background-color: #333333;
	margin: 2px 0;
	text-decoration: none;
}
	.buttonRow.disabled, .buttonRow.disabled .subText {
		color: #555555;
	}

	.buttonRow .subText {
		color: #808285;
		font-size: 12px;
	}

	.buttonRow .personalText {
		color: #7cb8e4;
		font-size: 11px;
	}



.greyBox {
	background-color: #333333;
	border-radius: 3px;
}

#howItWorks {

	height: 165px;
	position: relative;
	width: 822px;
	margin: 0 auto;
}

	#howItWorks > img {
		position: absolute;
		top: -58px;
	}

	#howItWorks .viewApplications {
		position: absolute;
		top: 115px;
		left: 55px;
	}

	#howItWorks .addUsers {
		position: absolute;
		top: 115px;
		left: 330px;
	}

	#howItWorks .addGroups {
		position: absolute;
		top: 115px;
		left: 605px;
	}

h2 > span {
	color: #666666;
	font-size: 15px;
}

.AdminPageContent {
	margin: 12px 0 0 0;
	padding-bottom: 138px;
}

.tinyGreyArrow {
	position: relative;
	background: #727477;
	display: inline-block;
	vertical-align: top;
	width: 1px;

	margin: 17px 0 0 12px;
}
	.tinyGreyArrow:after {
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.tinyGreyArrow:after {
		border-color: rgba(114, 116, 119, 0);
		border-top-color: #727477;
		border-width: 5px;
		left: 50%;
		margin-left: -5px;
	}

		.active .tinyGreyArrow {
			background: #bababa;
			margin: 14px 0 0 12px;
		}

			.active .tinyGreyArrow:after {
				border-color: rgba(114, 116, 119, 0);
				border-top-color: #bababa;
			}


.modal {
	background-color: #333333;
	padding: 8px;
	color: #b2b2b2;

	position: absolute;
	width: 500px;
	z-index: 1000;

	border-radius: 3px;
}

	.modal h1, .modal h2 {
		color: #fff;
		font-weight: normal;
		margin: 0 0 10px 0;
	}

	.modal .hr {
		background-color: #4c4c4c;
		height: 1px;
		clear: both;
		margin: 8px 0;
	}

#modalBG {
	position: fixed;
	z-index: 900;
	background-color: #000000;
	filter: alpha(opacity=60);
	opacity: 0.8;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.inlineLabel, .inputLabelContent
{
	display: inline-block;
	vertical-align: top;
	margin: 5px 0;
}

	div.inlineLabel {
		width: 150px;
		line-height: 20px;

	}

	input.inlineLabel, select.inlineLabel, div.inputLabelContent{
		width: 346px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

input {
	border-radius: 2px;
}

.jsTooltip {
	background-color: #c2c2c2;
	padding: 5px;
	border-radius: 2px;
	box-shadow: 0 0 3px #000;
	max-width: 225px;
	color: #3d3d3f;
	font-size: 11px;
	text-align: left;
}

.fancyCheckboxLabel {
	margin-left: 5px;
}

#landingFooter {
	background-color: #695B40;
	color: #E2C58B;
	position: absolute;
	bottom:0;
	height: 128px;
	width: 100%;
}
	#landingFooter .landingFooterConfidential {
		margin: 10px 46px 10px 46px;
		max-width: 1280px;
		min-width: 800px;
	}

	#landingFooter h2, #landingFooter p {
		color: #E2C58B;
	}

	#landingFooter a {
		color: #fff;
		text-decoration: none;
	}
	
	#landingFooter .landingFooterLinks {
		padding: 10px 46px 10px 46px;
		color: #555555;
		background-color: #000000;
	}
	#landingFooter .landingFooterLinksSpacing {
		margin: 0px 46px 0px 46px;
	}

.fancySelect {
	display: block;
	padding: 5px !important;
	color: #e1e1e1 !important;
	background: -moz-linear-gradient(top, #82a6d7 5%, #3c6091 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#82a6d7), color-stop(95%,#3c6091));background: -webkit-linear-gradient(top, #82a6d7 5%,#3c6091 95%);background: -o-linear-gradient(top, #82a6d7 5%,#3c6091 95%);background: -ms-linear-gradient(top, #82a6d7 5%,#3c6091 95%);background: linear-gradient(to bottom, #82a6d7 5%,#3c6091 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82a6d7', endColorstr='#3c6091',GradientType=0 );}

	.fancySelect > span {
		color: #e1e1e1 !important;
	}

.fancyCurrencyInput {
	display: inline-block;
	background-color: #1d1d1d;
	font-family: tahoma, arial, helvetica, trebuchet ms, sans-serif;
	color: #e1e1e1;
	font-size: 13px;
	border: 1px #777777 solid;
	padding: 2px 3px !important;
}

	.fancyCurrencyInput input {
		background-color: inherit;
		border: none;
		color: inherit;
		font-size: inherit;
		outline: none;
		text-align: right;
		width: 75px;
	}

.fancySelectBox {
	display: block;
	background-color: #3c6091;
}

	.fancySelectBox > a {
		display: block;
		padding: 5px;
		color: #e1e1e1;
		text-decoration: none;
		text-align: center;
	}
	.fancySelectBox > a:hover {
		background-color: #5c80b1;
	}

.pricing_note {
	background-color: #333333;
	color: #e66d34;
	font-size: 16px;
	padding: 10px;
	text-align: center;
}


/* sprites */
.icon_changenotes{  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FBhcVEyWdZ8IAAACUSURBVDjL7ZOxDcJAFEPfIQYIhWtWYAVGYRNGYgMYgRWoXZANTBNOUUIIoaLA3Un/P39LvpKEUgoAtu9Aw7RaYC/pCpCE9WCgkVRebdo+AlvgbLtCVj3nWUk6AKcOsquAmbMnIcAowjtduhgAt2qaBNvpouRTmu0kqRG+1h/wC4BhkdoFXWhHRVqq/m9c5Cxp83w8AOGcSube+QNkAAAAAElFTkSuQmCC) }
.icon_documentation{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FBhcVHcIlSsUAAAC3SURBVDjLxZPBEQFBEEVfS8CGsBlIQQgyIAQZIAIhIAIykAIRIIIJ4TnsUFsoOzh4VXPp6v79u7onVH6hx4/0IoKIAKiBBNjxElC36hrUlXpSq3cdc872MVjbMOmyrI5y7vCpe+nc6v6er1al3V84nqNO1dQ1+wuRuZoiW9kBx7yJUvrANGwuaZ2Di4g4lzoABrdDqoBNaXGLY1tgrNYfCgxCXQIT4AwcgMsHArPbPEu/I8Xff+MVjd7FGL1RJoEAAAAASUVORK5CYII=) }
.icon_download_sdk{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FBhcVInRDZ/gAAAFQSURBVDjLpVNLTgJBEH1F5gCslQDuFcEYjRoC3MA5ATNH8CR6A5gTjDcAQlQEBdZGIxB0zQGoKhcwZKZnMEZe0unOq+pX/XlFMDD/+naIqA6gaoTaqupl9veaYZKCxXQ2zxPBB6iIX6FjVdi5bGayEficzvIEjACk8TcsFCgd5LITCwCE2QcovplwvyqKayOSBtQHUKK39w8HQGNLpdp6bm2Ju5aw1PF/1C0Wru4gULWEBbvAYmHj3chVaAWAY/A3CgWA2zCfYhaEx5KXKBaOXGFpBpyIuMeFwztmXpj5NHgdtkzXqcI9Oz2JOK7/MnSIYr/VTgmLZ6qKSKPXH2yu0OsPHBFpxPJYPAKAx6fnEYCYhRVw13ZN8sn48uK8tHKiqq2qSVbeZrAFEdmRZup0H/Kq6iedxKxMRHalfDWJCARodbqOqia2MxF5tUo58rg/eje/NS8AL8AAAAAASUVORK5CYII=) }
.icon_email{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FBhcVJnMuo+EAAACtSURBVDjL1ZPBDcIwEAQniAL43D8lUELSCZ3gVAKdhA7SAv+JRAnmYxBCBAF+cZI/vt3VaXxucs7U1IrKqg5Yz/OcgP2P/gE1q+kbl7pRk5pXABGRStCobt8Yt+oIXIDTM4Me2ACTelDbB2OrHoCpaPpbr1FzRDQP4l1h0gJDud4DZ2CIiGPRdcCImhfGTeqlnPSi36l5MeADkN0dYvUi/fKMQHeDWLVIzf9/piuusHkzs62smwAAAABJRU5ErkJggg==) }
.icon_finances{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FBhcVKw2f31wAAACzSURBVDjLxZNbEYMwEEU3nQqIhEhAwkqoBCRQBzhBAhKQgARwgITTj97MZKZpYeCj+5Ps3uQks48A2BW72VXjbc3Ju20G+IHDDnRAlN8AVAFAW4ktOjsLtgDzBwBIim3Fa51iDwGynmqAQeIGjEDUfpAeBfQyiV6IG9DrNYBJa/pVhQzo5eevj/L7vTJ6kaih0KKgcRegzH//6oFOXM3sGUJYz3Sin+3kwMVpuptZ+Os0vgDdNxudUb5sogAAAABJRU5ErkJggg==) }
.icon_finances.disabled{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FBhcVMfD9JiYAAADMSURBVDjLxZPhDYJADIU/jAPcCI6gG+gAJDKBuAFOoEwgToAbwAY4AmxwI7DB+eddciFoEH7Y5H5c+/ravrSRc44ltmKhRXEcO2AHtDPyU9+BmQDeA1mA3QLlpxFSJYRWAnegUawC2jGCjcBVUC2TP9G/USwZI7gCfVDVyPcEauAAXERm14NkAxyBh0T1XRggF6YHCp8wJPAiFQLWIswBOybWkOCkVv0IZ6ALK34jSCVUHvh64DZ1E63Esb9sUtjBS485BM3sW/j7Nb4BERYsKanQvTUAAAAASUVORK5CYII=) }
.icon_ftp{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FBhcVNfeQ4j8AAADASURBVDjLpZNRkYNQDEVPOghAQiVUAnVQB4uFdYCDlYCU3SqoBRwsDk5/gOmkj5Yp+cy7OZmXm4TKrlA7y/GvnrYAVLuUq9Wb76ML1YiIAvgIHFf61sAXcKkmcVMQ/ADfwFgAjMB1AawIzhExvPg6ABVARPx9asKhQD5Z8Fbtp8G1j/lqZUBPxcBc2E/8YbExWbp0mt9Svld/1UY1A9rkc/vw1iTtMyBB2pRfB+RN3LC99XwCr27Brau86xgP7Iw7amdKFXKvDZsAAAAASUVORK5CYII=) }
.icon_help{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FBhcWAxMHJGUAAADzSURBVDjLpZN9bcMwEMXfVQWQMsgYeAzCoC6DQBmTQKiKIGHQMcgYJAx+++esea7dTtpJlnwffn4+v5MKA0Zg5tFmYFTLgB64e/EERGDwFT2G1/S1w5snwx8u2X6BePAOdO5HYM3or0D0XJfq8zeTI9K2wfPB/VHenKmgmhjFgs1HVjMB81HSIOmSA5jZe6Lr+ZrdJF2P7uyVhnWSVkldFl6y/S5JhxaAWzr8JeliZktZkBj0kj6LZ+zA7vu3FvjBaZ1r15vZycxODXZnSUv+jaHsgQtmq/Tn5xtrQnoG8CCkipT7J1IOVSm/GKbwcpj+M87fnyCjwNINxmoAAAAASUVORK5CYII=) }
.icon_key{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FBhcWBxRq4HwAAADHSURBVDjLpZNrDYNAEIQHUgEngTpAAg6KBBzUAg4qoakScECrAAng4OufScu7hE5yyWVndvZ2706AhkuSgBxo+aIFcnNj/TQAFE66AZnX3bFij0EHlEBw5daVS3Mjfaw5gqR6IV6bG+GkZYQoinpJ54nxHAstVEADJANN4li1ZwbBYpycuvfG3LaBk7KBwWe/dOJYv3GV1K+RewxeW+SmARAkXQ4bDK7vecjAb+EhKfvnBDrSQu8ZFJ5BvzWo2TuYfJ4OSNf0b1CVT1aKShxgAAAAAElFTkSuQmCC) }
.icon_key.disabled{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FBhcWCx3crFcAAADOSURBVDjLpZPhDYIwEIU/jQMwQt1AN9AFDt1AJzBMQJyAEYgTQG4CNhAn0BHYAP/cj9oURHxJ08DrfX0cuUXf94QSkQNQAM5evYBMVevw7DJSfAIqoAb2thqgMm8cYDdfbZVAqapney6mABK7MVRj3odWxJWoagesAzBTEjRALiLO64sD8liyGOBo+9OKN8A98IYBFj0LoiequjXva4JQF6AbMqcAHmPmKEBEEiCdDfB60M4CWNNuwO6fBMz5hM4brPTnv6CqrTc8ziYyqjetWTswU3QhyQAAAABJRU5ErkJggg==) }
.icon_store{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FBhcWDxqxaE4AAADkSURBVDjLpZPBVcMwEES//HKbS+ggHcRUAB0AFUAJ6SChAtMBNVABoQNTAZTgy/gqLrIjRHhPedZJ2lnN7oxWIcbIkrUaxzFnuJbUX0IQpo3tZa3YfrfdZefDmZxDtr+3HZsM74H2gpotcMwlPAGvwHMK3QAfxaU8dpeKzgSt7Wi7rZTwZXs3S8jcr5WxAfqmCB6BbYXht5NvoQA6YFfZwSDpalUEPyegehKLcw+sa4ZKUvhDIKm3/ZCMfJE0FBLXSeL8fE2RsAH2wPCPF13C9mcJJH2nhMdfQ3JabwmbOwtLv/MPRQ9t5sXBUswAAAAASUVORK5CYII=) }
.icon_store.disabled{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FBhcWEw6wNAEAAADOSURBVDjLpZPhDYIwEIW/kg6AG7iBOIEu0BgmYAU3ACeAUXQDNrBs4AhuUP4c5tKUSMP9en3Xe72+3JkQAnvCOOe0whnwOQIWMIID8M7toFB4BAYRNMBD4RRXxwIeqDIer4DRKmIC7kAn54vCJLgb4G3UAcBTcJcQ0FwDTEVCYOs3joAvInIEThuKr8ujxjmnE734sCW+wMFG5LQkcgaJyIdShurvFK8J1GLkIN3oKOWLPjWJi7OtFKa86CXXrgl85EKzslQvyf06M3vXeQb6VjD3LAE90gAAAABJRU5ErkJggg==) }
.icon_users{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FBhcWFwnd8BgAAAD8SURBVDjLlZPbUcMwEEXPelKA6AA6oAPUAaaDlBAqwFSkUIGhAkwFKSHu4OZnbRaNHODO7Ievjvc1EjQkKUkq+lbhP5J0kHSW1HucJR1abOc/DKHaADwAk5kdzewITEBqcGu78sMFaHUw1NzaQUPvQAKKR3Jvc2Gn0NrJKxZJ2WN0r+aSSRq9wqvnfAGSmd3FIsAnMFfcjGfrA1y8Yg7e3r0heL0kLQlGN/PyXcGjhwI3SlIXoFsf5bc78oPb+VwZ2G/Ac2UvXAbmDnhqFMoBvq+8VWZ2c+0e/MVbR8Cv7zU1uZ2ZTZKew2LegMdGgi/go+I2Nx0fzaLma7wAPC9K/KgoIQ0AAAAASUVORK5CYII=) }
.icon_users.disabled{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FBhcWGwBrvDMAAAEBSURBVDjLjZNbccMwEEVPPALgMjAEB0FEQFMHQcqgDQI7DFIEhWCbQYOgKYNCMIP25yqzcTZudkajh4/2cbVepZRwrAQ+gEb7Adh6YIFvL0DUpa3Wb0sOOuBXowM2wFmRB61LhyPoQwsc5KwF9ppzCTVwcrjuXgmfctxrlDq7sVVKqQS+gEpnP+bCu4lWA9OMWwdFmIzKrWar+llB5lwfjNqDPuyUQTRpN4p4MhxAnzV41RyNcNGAu1l2Md+xIlaK/J9dcUF1RTWPB09Ok+UspuJOi0YD105J2Z6W+uCRs0sJqH2XzOWC3nhvhBmBZ8fBt57RcgRtjs7v3M6ebnQ4/gD/iT8CwDJWLQAAAABJRU5ErkJggg==) }
.icon_announcement{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAMRJREFUOMvVkl0NAkEMhL8SBOAALKAAcAAOTgI4OBQQFBwouaAACeAAHHw8sJcsF35zT8zLdtvtpNMd+CuoU7Xyjsu3TQN1qZ6aRrVQBQi1AkZvOKbAFdgBW6CIiFI1IqIPFMA6a5gAh+y+j4hdNtGDJMwz92T5QVKZTtW613Gvh64Ew2aUd6jV4pkEgB4wBmapvmrFC+AMVOn7NsDw1XJOGfsxPX7lhbq9fNSNWmfx8YMbq3Zh3rDm8S8+HySd/uT1rrgBBzHo/jkGrVwAAAAASUVORK5CYII=) }
.icon_announcement_green{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FFxI3IaSWgnMAAAD/SURBVDjLpZOxccMwDEWffVQvT2CvkAmiDZINItUq4pSo7FQq4xSsJW/gDSxtoBEyAnsWSgPdIUpycY6/Akj+z08AXE3TRApW/zlcN1kBPAElELzEjbuBlCvhGdgBAaiAFsDVTdbqxm8olNQB70DpJXbKw6n6qyHcA4PJz15iZxx9eZID8BKPZvFo8z9wWJOGIVVg69T2tKj8waT9sg4zvMTKAXdADlyBF2A08QfwALR1k71pJ3IrsvYSRy+x18O5xiOw9RIvXmIFbLRTj0BZN9l1FrCDdNEWzrYLYzUAJ+BkprFbCgzA/od4+e5eL/jmoAeCKWi46TOl/sbUOeATsDJdgOh7HQIAAAAASUVORK5CYII=) }
.icon_announcement.disabled { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAO9JREFUOMvFk91Nw0AQhD+iK8CpIGmBCnADK+gAu4JABUkqSKjApoNIU0DsDlxCSrgOwstaWgwRQZFgn3bvduZmfw7+2+5+k2xmJfAMVECWNE9XgAoHrIAlkIEaaACSmTV+cclKB7XAG1BJah1HcvZtADwAfYjfJbVB0aeSEoCkTTjcxPgHW89uHEJ/K8EiuezzpPPrEHbTPowmqU7APVAAR+AVGIJ/Ah6Bxsx2PokikswkDZI6Ty7cH4CFpIOkGpj7pJ6AysyOI0FcpIOPcJRdBqkZ2AP7sI3tlKAHXr7xp3V3/sAXBR2QQ0Pzn/zGD6iBV5IQJ/m9AAAAAElFTkSuQmCC) }
.icon_associated { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAH9JREFUOMvtk8ENg0AMBHfRFRA6SUt0QidpIR2QVqiA62D43EnkJE5G+fDIvGxZ2rUtWzoAbPTZgKfOAOjUZuDVigzVWQFsT5LekpYqkkrtoSC2p9LoImlMivMB5hKvX6Z19t4OzvY16Ef+AncQaA8pX7iFHHqiaAeXnG2PNdkBaEhnT7e9my8AAAAASUVORK5CYII=) }
.icon_associated.disabled { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAItJREFUOMvtktENgjAURU+JA8gEruAKDnATV3ATRjK5A+AIrMAEdAP4saSgBAg/fnh+mjbtua/JDWRI6oAzy0TgZrtJB2Em6G2Hby8lVcAFuOeSIktexfYDeAK1pOsoWBl7UQJwYjuv9zcA2kmopD5ft5DuFhzkL/gFwbxIcUcX4kcpjkywK9l2mTYDe9wuVg3lLIEAAAAASUVORK5CYII=) }
.icon_community { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAOpJREFUOMutk9ttwzAMRY+CDuANnA2qDaoN4hHSSZpO4hGKTOB0Aq/QDeINTn/oQFXdL5eAAOJe6lJ8CBpTz+rkb5vUM3+ZelTnCJ7jQokzNdxx6/I9yKx+qLniH1jE3H+IVGBWO3XeeOEcXF6TAaSoawTegRdgVf5qNGr8E3gDXon6xirTRR3C79Qu/EG9VHGjOh2AAlybbAtASmlJKS01VtkVKE/r89QSfg9ktW1DBvoq7giwCjwDXVNr1wj0wdWJIGY7ND0oG1MoTQ8G1QNwA05NfLexay12Am77x7h3kf5nlXd/pj3f+Rsw84/U+i4BqwAAAABJRU5ErkJggg==) }
.icon_community.disabled{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAASdJREFUOMulk11xAkEQhL+jEIADzgF3CnIRsAUoACSgIERBJAAKgGoBXBQccYAEHCQP6U1NbeWNedqZ6Z7/rSgkpbQGVkBXuHrgKOkQjVUg1sAJaIAb8ADe7X4DJsG3lHQHGAXyYHAL3IGtpF5SD2xta40ZzPkN4MwAGwNrSbdcnd+1fZvIqdzz3uW+GIjBUaL9021txh7YQdLO7eyAm6RzSmniCh4ppQXQBNwUWI097WWR7ZGJpS3IBThVKaVvDyn3vAK+gp6lAWbAMegfYyszryn2OikCTO3rgk4OcJF0DjPI64sH1gFdmMECWI98YfMiW5n9P9sc6J9eY+VyBgNeDbhKaosWBvtr4ArcJbX5EvMa9/niUkpNIDf5Qo354zz9mapnv/MPPUmEKjyHRZQAAAAASUVORK5CYII=) }
.icon_error { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAJlJREFUOMuVk8ERhSAMBcPMLwA7oJRfCqXQiaVZgnawXlQiJgo5AQNvNzCIOAUUahUZKSCdB1VQGgmYgUXNF2AepWe1lrstNB1YgbXboqWrS/x3WRi9XwGfFk7vbYBv0dKtANfCor8EPC0sun4FIDbr1cKjf7xWtXihR8/gZuHROwIywO+YJyCGELZzwzGenBaiiCTr245W2QHD/6Ldb1mJwwAAAABJRU5ErkJggg==) }
.icon_error.disabled{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAANBJREFUOMuVk+ENgjAQRl8bB6gbwCYu8O2AkwCTwA63gCO4gWygI/jnTEj1AC8haem17x1cE0FIGoDep6OZDb/yUrC5AR7A6K96oDWzpc7NgUAPLGY2OHlZ2Wwf4PRuRcfHna/tGnzos6SnpKeZzZFF3qEXoEi6RBY5otekyCLv1F7Hl0U+Qt+yyH/Qf1rkHfrLn3tkkVZdd93Sr/5WB0xAmyRNwMXM2iqp+MF4G7+q9QdwO3ntV/6PEZhOPmkklTXFx+eghAI0n28wRBfliMUbz0Bp2e71leAAAAAASUVORK5CYII=) }
.icon_steamworks{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAPBJREFUOMutk2FtwzAQhb+rCiAQMgYLA4dByyBjUAiDMgaFkDFYGSwMagZvf55Vz2qUSJslK/HlXe7ee2dYWZJmPdbM1pLUS3qXlCR1Trx4y7FkTP8s+e4tSd+S5G9dHatwPcDB/5j8fAFGYAHOABGRgTfHRmPqHHBrkpR2UP2FjdIm8AUsETH6fG1yzxGRLWgPDBGRW7VPlQOpqnoqTvj94U5Ru7Xwma3N+SJJhxWqec3qrYGZdlCYagp7RMxAtyriX20sGiRXuhkwF0eqtgutm7HpX0b56HFdJA0ez09XuTf2DsCrK39ExLLFddd1/gHUJ44xwhOaggAAAABJRU5ErkJggg==) }
.icon_steamworks.disabled{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAURJREFUOMutk1Ftw0AQRF+sAHAZuAxSBjGAkRoEdRikCKwgqIygZpBKC8BmEDOoGcQM0p+5yIri/rT3c7q9mbnd2b0VC0tSB2x97COifIRbzQgFUAE9MAAX4N3XH8ATsLFoGxHjTcDks8E5MAJFRKwk5RYbgQKYjHuJiDHzofL+DJQG7wAiYgL2jpXG3DjrVCNQA5uI6H2+rYhogdbZbp1lPxcY/EIN9E77dOfXztnUxg4Amd2+uL7G4BNwjIjS7jczwcbYi6QOSVdJhwct5LeYpIOka7YwBtPCbBT3scxmfDiT1I3cZiXiq80cJVWSrp6Nfh0RpU07A292ewecJNXOJk9tNWb0HEypCxsbs5/1vlwo7wh05vRJYOuXBqdeA01EfLmEyi8f3b7JnD6Z2Hr/tnqR2ubyPh3rjLlx/ucz/eU7/wCPapHH/L3cpgAAAABJRU5ErkJggg==) }
.icon_workshop{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAJZJREFUOMvtktENwjAMRM+IATICI2QDVoINskFHygrZoN0ANnj8uCgKoU3FLydFts7Rk86J1AiIwAOg8nAvak/AvAGYRwAAk9fk5+21960HkHSXFJrRU9JkZjYSIXf8PBphXWKqvPRtiaePTGZFUumwi8+2AUf1B0jnnSe9/QK4Srp4vxyNsEiKXut+TEDwr7sqA6F39wXrzJeE3ZyUYwAAAABJRU5ErkJggg==) }
.icon_workshop.disabled{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAKtJREFUOMvtkkkNAkEQRd8QBCABCeMARkCF4KRxMOMACTjgUAIGCS2hcYADuBRJpxemCVf+qbb82n5HAhHpgRnYqGpnsSfwAAZV9XH9ihxX6shy60LRFjgDTkTGKH4BXAsBwB2YIn+yFWghCMBBVYfkNrPlWLrBEejj8c3uLfeZwK7sC8Q+/UBtgq/wJ6gL6f0+9wvBzmRNSUBLKwQTTkjs5glO1n1v/s1iGV4+ASu9XR2imAAAAABJRU5ErkJggg==) }
.icon_edit{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAALBJREFUOMulklsVgzAQBe9WQaUgqRIqASeRgIXWAQ6QEAnTj25yAkl4HO4XBGYSLitdDBD4J+gG/AIiEASM9DNu4JhAl6Dtiwc7T8DgEtIJOAFHB4NLYu5gT1DCfj9UBfYEHThW7bcExTfvwy1BcczJRRW8Kr0heAOLX0+toVkxDUFqeelNXMkYgJlZ8XCRNEv6SvqY2dwSZOZoDjp/KDMP3cwjtQo8T+4+VgtcT5b8AMC5jEM6DrGoAAAAAElFTkSuQmCC) }
.icon_edit.disabled{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAORJREFUOMulk+FNwzAQhb9YHSAjwAbtBIUBnhQ2IBN0hCQTVJ2gGcHSG4AyAWwAIzACf+wqitLWhftlW/f57j2fK+4MSUfgFRhtt9Uf4RbYA7GS1APdBWaw3U/gJp1H4B04rhJ8TrxROQID8JZlBIACuAE2wM+k29F2Gwo0N8Cz7U/gkPbRdgsQSmFJ69T6mGGA1Q3Nmxkcp/BiByk5G7ZbgtPLcUnCE/Bt+wWogY+Fyt01CVuglvQFPMw1z2PpgjVwSoNySu5TfIHtx3vGO/DPCNlVSXXhh+rnEobkaieptPCQF79bHGTH0xK4RgAAAABJRU5ErkJggg==) }
.icon_add_users{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAALZJREFUOMuVksERwyAMBAUVOB24FEpICZRAB3EHLiEluDTyyH/ziJiRsRyH+8Bp0CIJRFTAHah8VYEkI9KkJ5B0fQ8B9WDSfVJvgXW0ggPQXuYBNvbaTPKuggMAWLWCrAlF/WqBOLL9lw6aWxsWeFYBQO5ipes7N2/j0eTM3VimMx9CCB7gSpMXjM5rzDKq9uN0v5i51AYEFu/9o/Z088Aab8N9iMjrsoVf8i76B5CG5mB08F7eByd/TlXLc2tPAAAAAElFTkSuQmCC) }
.icon_add_application{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAALdJREFUOMutk+sNwjAMhC8VA3SEjtARwgYdoaNkhU4SNsoIjPDxA1Os0IYWcVIkx4+zY12kCsAE3HmiAIMa6IDkikdJWdJN0tXcc4tA1im5ztnswhsFmPYIkkvMwOzsaCebb9I3WLfsyJPZGSgfO6iKe0mDpGWDe7FYs3sP4O4RiHXM52wu9cAz15yLTqCajr9M0P06wU8EL4QQQpPAJF374tExVyFV/k0haec3eimPp6TsSA59pgfZsQY0L0PbPQAAAABJRU5ErkJggg==) }
.icon_admin_promote{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAM9JREFUOMu1k1ERgzAQRDedCoiE1gESUgdIwEmnCpCAhToAB+AACamD15+bNmRIOnx0Z+4jmeXudjdI/wLQ8kVb4rlKg1XSYsfGOXc9Mj3Y5IsVQDjSYATG0jkn9+wj7GyUo3cAkh6Spo05zk25rGx2kHQXMAOx5nQhoQjMAnwiowd85cMy13RGi68YrXE+cs6pZuApyVe2XyS9cn/SCRHosq3SNDog/nq63mpI4hqS+83TPiU9GluxlbRaTDerkNwtxq3+PBuHM/c5EvlPvAHquDQtoyLKvAAAAABJRU5ErkJggg==) }
.icon_delete{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAeBJREFUOMuVkzFLY1EQhb97Jq/eG1ys4z9IZAux0iJYpJAUNoK8SDBYLcv+kGVZEJaE8JLGxiJKCEEsTCUWQvwHvjq45O4/2MKXbBLcwA4M93LnnMPM4Y5jJZrNZg2Igb2V0gjoNhqNzuKjm11arVYB6AFFoAPcACEre+AQqAHPQPXs7CydC7Tb7QIwBlLgtF6vP/NOZLgeUABK9Xo9FYCknqRU0r6kNEkSv0pOksRLCjOMpB6A63a7NSABtoDw+/vXF4DP41/5RYEfpY0pwIcv37ayDsbAqSTFkjpxHKeSMAfm8BfbbwSAi+2NqTm8OYjjOMRx/CypIynOmdkeUAU4OTkJQP7np49TwGfnzMRw/vQ678rMboCeJCEpLLZ7/vSajxwhcvgsl8iZb0ESOTN7z3BycqyLGU9mhpktuX65szmNnPORcyFLf7mzOV0R8GaGJI0kHQJcX1/7q93NaSR8JMLx4yR//DjJRyJEwl/t/hWRdChpJDPrmlmt3+8XzQxzDnMuHD1M5jMfPUzy5lww9zZWhq2ZWdcBDAaDcYbdr1QqYd3sg8HAA/cAlUqlNPuJVUkFSffD4bDwL/JwOCxKus+w1aVlur29/a9lOjg4SJcEZnF3d7d2ncvl8tI6/wHbvJDaIhJsxgAAAABJRU5ErkJggg==) }
.icon_community{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAOpJREFUOMutk9ttwzAMRY+CDuANnA2qDaoN4hHSSZpO4hGKTOB0Aq/QDeINTn/oQFXdL5eAAOJe6lJ8CBpTz+rkb5vUM3+ZelTnCJ7jQokzNdxx6/I9yKx+qLniH1jE3H+IVGBWO3XeeOEcXF6TAaSoawTegRdgVf5qNGr8E3gDXon6xirTRR3C79Qu/EG9VHGjOh2AAlybbAtASmlJKS01VtkVKE/r89QSfg9ktW1DBvoq7giwCjwDXVNr1wj0wdWJIGY7ND0oG1MoTQ8G1QNwA05NfLexay12Am77x7h3kf5nlXd/pj3f+Rsw84/U+i4BqwAAAABJRU5ErkJggg==) }
.icon_community.disabled{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAASdJREFUOMulk11xAkEQhL+jEIADzgF3CnIRsAUoACSgIERBJAAKgGoBXBQccYAEHCQP6U1NbeWNedqZ6Z7/rSgkpbQGVkBXuHrgKOkQjVUg1sAJaIAb8ADe7X4DJsG3lHQHGAXyYHAL3IGtpF5SD2xta40ZzPkN4MwAGwNrSbdcnd+1fZvIqdzz3uW+GIjBUaL9021txh7YQdLO7eyAm6RzSmniCh4ppQXQBNwUWI097WWR7ZGJpS3IBThVKaVvDyn3vAK+gp6lAWbAMegfYyszryn2OikCTO3rgk4OcJF0DjPI64sH1gFdmMECWI98YfMiW5n9P9sc6J9eY+VyBgNeDbhKaosWBvtr4ArcJbX5EvMa9/niUkpNIDf5Qo354zz9mapnv/MPPUmEKjyHRZQAAAAASUVORK5CYII=) }


.icon_star{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAKBJREFUKM+VktENwjAMRJ87QUbICEXKAGQCmgkYjRG6AgNYghH47lc2MD+pgMityv1Y5+TkyzngwJTRFDNl9M4HfFy7ekg0dXVfZMoExEZj4z8QU4w/MQAFqAfvV6BIsxSAGTjvCO5AkUSV7j0PcGN+SuK0FUTcmBLd9NoiQ2dnRTD9WB+chb6ALIkM5MYBLt7XWUyZWyjf/WDKzZRl7b0Bkt8xgrCBuZgAAAAASUVORK5CYII=); width: 13px; height: 12px; background-position: center center; background-repeat: no-repeat;}
span.icon_star { display: inline-block;}

.icon {
	width: 16px; height: 16px; display: inline-block;
	background-position: center center; background-repeat: no-repeat;
}

.permissionLegend
{
	color: #b6c5ca;
}

.permissionLegend:hover
{
	color: #00adee;
}

.permissionLegendItem li
{
	margin-top: 10px;
	list-style-type: disc;
	
}

#addPartnerOptions
{
	float: right;
	font-size: 14px;
}

	#addPartnerOptions > a {
		color: #000;
		line-height: 41px;
		height: 35px;
		display: inline-block;
		padding: 0 20px;
		border: 1px dotted #b3b3b3;
		border-top: none;
		border-bottom: none;
		text-decoration: none;
		font-size: 14px;
	}

	#addPartnerOptions > a.active
	{
		background-color: #262626;
		color: #666666;
		margin-top: 3px;
		vertical-align: top;
		border: none;
		line-height: 34px;
		height: 28px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		margin-right: 1px;
	}

	#addPartnerOptions > a.add_partner.hover, #addPartnerOptions > a.add_partner:hover
	{
		color: #adadad;
		background-color: #454545 !important;
		margin-top: 3px;
		vertical-align: top;
		border-right: none;
		line-height: 34px;
		height: 28px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		margin-right: 1px;
	}

	#addPartnerOptions > a:not(:first-child) {
		border-left: none;
	}

	#addPartnerOptions .navContent {

		background-color: #454545 !important;
		padding: 10px 20px 3px 20px;
		margin-top: 5px;
	}

	#addPartnerOptions .navContent a {
		color: #fff;
		font-size: 13px;
		display: block;
		text-decoration: none;
	}

	#addPartnerOptions .navContent a:not(:first-child) {
		margin-top: 8px;
	}

	#addPartnerOptions .navContent a:hover {
		color: #00adee;
	}
