
.golden_profile
{
	padding: 0 25px;
}

.profile_golden_wrapper
{
	position: relative;
	padding-top: 10px;
	top: -10px;
	overflow: hidden;
}

div.profile_page.golden_profile
{
	position: relative;
}

.golden_profile_header
{
	position: absolute;
	left: -5px;
	top: -10px;
	width: 100%;
	height: 192px;
	z-index: 99;
	background: url('https://cdn.cloudflare.steamstatic.com/steamcommunity/public/assets/winter2019/goldenprofile/w19_gp_tinsel_top.png' ) center top no-repeat;
}

.profile_header_bg_texture:after
{
	content: " ";
	position: absolute;
	width: 100%;
	height: 65px;
	background: url('https://cdn.cloudflare.steamstatic.com/steamcommunity/public/assets/winter2019/goldenprofile/snow_floor.png' ) center top no-repeat;
	left: 0;
	bottom: 0px;
	z-index: 1;
	pointer-events: none;
}

.golden_profile .profile_customization_snow
{
	width: 100%;
	height: 41px;
	background: url('https://cdn.cloudflare.steamstatic.com/steamcommunity/public/assets/winter2019/goldenprofile/snow_floor_2.png' ) center top no-repeat;
}

#snow_floor3
{
	position: absolute;
	width: 674px;
	height: 42px;
	background: url( 'https://cdn.cloudflare.steamstatic.com/steamcommunity/public/assets/winter2019/goldenprofile/snow_floor_3.png') center top no-repeat;
	top: 895px;
	left: -158px;
	z-index:1;
}

.w19_sides_position
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 1000px;
}

html.client .profile_w19_wrapper
{
	top: 0;
	padding-top: 0;
}

html.client div.profile_page.golden_profile
{
	padding-top: 10px;
}

html.client .w19_sides_position
{
	top: 10px;
}

.w19_sides_position .w19_side
{
	position: absolute;
	width: 133px;
	top: 0;
	bottom: 0;
	z-index: 10;
	pointer-events: none;
}

.w19_side_background {
	position: absolute;
	left: 0;
	right: 0;
	top: 55px;
	bottom: 0;
	background: url( 'https://cdn.cloudflare.steamstatic.com/steamcommunity/public/assets/winter2019/goldenprofile/w19_gp_cane_side.png' ) center top repeat-y;
	filter: drop-shadow (0px 0px 5px 2px #2b2b2b);
}

.w19_side.right .w19_side_background {

}

.w19_sides_position .w19_side.left
{
	left: -65px;
	transform: scaleX(-1);
}

.w19_sides_position .w19_side.right
{
	right: -65px;
}

.golden_profile .profile_background_holder_content
{
	display: none;
}

.golden_profile .showcase_content_bg,
.golden_profile .profile_content.has_profile_background,
.golden_profile .profile_content
{
	background: url( 'https://cdn.cloudflare.steamstatic.com/steamcommunity/public/assets/winter2019/goldenprofile/snowbg.png' );
	background-size: 50px 50px;
	margin-top: 0;
	clear: both;
}

.golden_profile .profile_comment_area .commentthread_header,
.golden_profile .profile_leftcol_header
{
	background: #eae4db;
	color: #3c1802;
}

.golden_profile .profile_leftcol_header h2
{
	color: #3c1802;
}

.golden_profile .recent_game
{
	background: rgba(60, 24, 2, 0.75);
}

.golden_profile .profile_header_bg {
	padding-bottom: 0;
}

.golden_profile .profile_comment_area .commentthread_paging
{
	background: rgba( 0, 0, 0, 0.75 );
	padding: 0 4px;
	border-radius: 4px;
}

.w19_top
{
	position: absolute;
	top: 0;
	width: 203px;
	height: 123px;
	background: url( 'https://cdn.cloudflare.steamstatic.com/steamcommunity/public/assets/w192019/goldenprofile/w19_gp_cane_top.png' ) no-repeat top center;
}

.w19_side.left .w19_top
{
	right: 0;
	transform: scaleX(-1);
}
.w19_side.right .w19_top
{
	left: 0;
	transform: scaleX(-1);
}

.w19_pig
{
	position: absolute;
	background: url( 'https://cdn.cloudflare.steamstatic.com/steamcommunity/public/assets/winter2019/goldenprofile/w19_gp_cane_top.png' ) no-repeat top right;
	width: 203px;
	height: 123px;
	top: -10px;
	transform: scaleX(-1);

}

.w19_side.left .w19_pig
{
	left: 44px;
}

.w19_side.right .w19_pig
{
	left: 44px;
}

.w19_pendulum
{
	padding-top: 97px;
	display: inline-block;
	position: absolute;
	transform-origin: center top;
	animation-name: anim_w19_swing;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	top: 14px;
}

@keyframes anim_w19_swing {
	from {
		transform: rotate( 15deg );
	}
	50% {
		transform: rotate( -15deg );
	}
	to {
		transform: rotate( 15deg );
	}
}

.w19_side.left .w19_pendulum
{
	left: 78px;
}

.w19_side.right .w19_pendulum
{
	right: -94px;
	animation-delay: -1s;
}

.w19_strings
{
	background: url( 'https://cdn.cloudflare.steamstatic.com/steamcommunity/public/assets/winter2019/goldenprofile/dangle_flake_string.png' ) no-repeat top right;
	height: 117px;
	width: 8px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.favoritegame_showcase .game_info_stats
{
	background-color: #25363c;
	border-top: 2px solid #48626d;

}

.published_file_icon 
{
    width: 19px;
    height: 19px;
    display: inline-block;
    margin-right: 4px;
    background-image: url( 'https://cdn.cloudflare.steamstatic.com/steamcommunity/public/assets/winter2019/goldenprofile/icons_content.png' );
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.w19_side.right .w19_strings
{
	transform: scaleX(-1);
}

.golden_profile .profile_header .persona_name
{
	color:#e4ca63;
}

.profile_header {
	padding-top: 150px;
}

.profile_header_bg:before {
	background-image: url( 'https://cdn.cloudflare.steamstatic.com/steamcommunity/public/assets/winter2019/goldenprofile/string_lights_header.png' );
	background-repeat: no-repeat;
	width: 100%;
	height: 136px;
	position: absolute;
	content: " ";
}

.golden_profile .profile_header_bg_texture
{
	background-image: url( 'https://cdn.cloudflare.steamstatic.com/steamcommunity/public/assets/winter2019/goldenprofile/snowbg_2.png' );
	background-repeat: repeat;
	background-size: 50px 50px;
	background-color: #384c54;
	background-position: bottom;
	padding-bottom: 0px;
}

.golden_profile .profile_customization
{
	background-image: url( 'https://cdn.cloudflare.steamstatic.com/steamcommunity/public/assets/winter2019/goldenprofile/showcase_bg_tile.png' );
	background-repeat: repeat;
	background-color: #384c54;
	margin-bottom: 40px;
}

.golden_profile .profile_customization_header
{
	color:#eee5e5;
}

.golden_profile .profile_header_badge
{
	background: rgba( 0, 0, 0, 0.25 );
	border: 1px solid rgba( 228, 202, 99, 0.5 );
}

.snowflake {
	position: absolute;
}

.snowflake:after {
	content: "\2744";
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	text-shadow: 0 0 5px #000;
	font-size: 14px;
}

.golden_profile .profile_summary {
	padding-bottom: 30px;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}
@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}

@media screen and ( max-width: 910px )
{
	html.responsive .w19_side {
		display: none;
	}

	html.responsive .golden_profile
	{
		padding: 0;
	}

	html.responsive .profile_golden_wrapper {
		top: 0;
		padding-top: 0;
	}

	html.responsive .profile_header {
		padding-top: 150px;
	}

	html.responsive .profile_header_summary {
		padding: 20px 0;
	}
}


@media screen and (max-width: 700px)
{
	html.responsive .golden_profile .profile_header_bg_texture {
		background-size: auto;
	}
}
