
@define touchkeyclickedactivetime: 0.13;

TextInputDualTouch
{
	width: 100%;
	height: 100%;
	flow-children: none;

	background-color: #00000088;
}

.MinimalKeyboard TextInputDualTouch
{
	background-color: #00000000;
}

#Backdrop
{
	width: 100%;
	height: 532px;
	flow-children: none;
	margin-bottom: 210px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 240px;
	horizontal-align: center;
	
	background-color: daisy_bg_color;
	background-position: left 167px top 167px;
	background-repeat: no-repeat;
	background-size: 55%;
	
	box-shadow: fill #00000022 -4px -4px 8px 12px;
	border-radius: 10px;
}
.SuggestionsCount4 #Backdrop
{
	height: 550px;
}

.MinimalKeyboard #Backdrop
{
	margin-top: 20px;
}

.MinimalKeyboard .DockBottom #Backdrop
{
	margin-bottom: 20px;
	margin-top: 520px;
}

#TextPreviewBackground
{
	y: 8%;
	background-color: #ffffff;
	horizontal-align: center;
	width: 100%;
	height: 88px;
	margin-left: 20px;
	margin-right: 20px;

	box-shadow: fill #00000022 -4px -4px 8px 12px;
	border-radius: 10px;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

#TextPreview
{
	horizontal-align: center;
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
	height: 68px;
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#cccccc), to(#bdbdbd) );
	overflow: clip;
	color: #222222ff;
	font-size: 38px;
	font-family: platformfont;
	animation-name: none;
	vertical-align: center;
	
	text-overflow: clip;
	white-space: nowrap;
	text-align: left;
}

.MinimalKeyboard #TextPreview,
.MinimalKeyboard #TextPreviewBackground
{
	visibility: collapse;
}

.TouchPad
{
	y: 6px;
	width: 492px;
	height: 510px;
	background-repeat: no-repeat;
	margin-left: -35px;
	margin-right: -35px;

}
.SuggestionsCount4 .TouchPad
{
	height: 532px;
}


#RowContainer
{
	margin-top: 10px;
	width: 100%;
	height: 100%;
	flow-children: down;
}

#TouchPadLeft
{
	horizontal-align: left;
}

#TouchPadRight
{
	horizontal-align: right;
}

.Left .TouchRow
{
	transform: translateX( -2.25% );
	horizontal-align: right;
}

.Right .TouchRow
{
	transform: translateX( 2.25% );
	horizontal-align: left;
}

#TopRow
{
	height: 70px;
	width: 88%;
}

#LastRow
{
	height: 70px;
	width: 89%;
}

.SuggestionsCount4 #TopRow
{
	height: 86px;
}

.NoSuggest #TopRow
{
	visibility: collapse;
}

#DefaultSuggestions4_WrapperLeft,
#DefaultSuggestions4_WrapperRight
{
	width: 100%;
	height: 100px;
	flow-children: right;
}

// if we have custom suggestion panels, hide our default suggestion UI
.SuggestionsCount3 #DefaultSuggestions4_WrapperLeft,
.SuggestionsCount3 #DefaultSuggestions4_WrapperRight,
.SuggestionsCount4 #DefaultSuggestions4_WrapperLeft,
.SuggestionsCount4 #DefaultSuggestions4_WrapperRight
{
	visibility: collapse;
}

#CustomSuggestions_4_WrapperLeft,
#CustomSuggestions_4_WrapperRight
{
	width: 440px;
	height: 100px;
	visibility: collapse;
	flow-children: right;
}

#CustomSuggestions_4_WrapperLeft
{
	margin-left: 6px;
}

#CustomSuggestions_4_WrapperRight
{
	margin-left: 2px;
}

.SuggestionsCount4 #CustomSuggestions_4_WrapperLeft,
.SuggestionsCount4 #CustomSuggestions_4_WrapperRight
{
	visibility: visible;
}

#Legends #HeaderText
{
	width: 100%;
	height: 100px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;

	color: #ffffff;
	font-size: 45px;
}

#Legends #SubHeaderDetailText
{
	width: 400px;
	height: 100px;
	margin-left: 20px;
	margin-top: 210px;

	color: #66c0f4;
	font-size: 22px;
	
	transition-property: opacity, desaturation;
	transition-duration: 0.3s;

}

.SuggestionActive  #SubHeaderDetailText
{
	opacity: 0.2;
	desaturation: 0.8;
}


.TouchRow
{
	flow-children: right;
	height: 18%;
	width: 86.1%;
}


#Row0,
#Row1,
#Row2,
#Row3
{
	width: 88%;
}

.NoSuggest #Row0.TouchRow
{
	height: 28%;
}
#Row0.TouchRow
{
	height: 80px;
}



#Row1 .TouchKey
{
	width: 15.5%;
}

#Row1.TouchRow
{
	height: 99px;
}

#Row2.TouchRow
{
	height: 84px;
}

#Row2 .TouchKey
{
	width: 16.05%;
}

#Row3.TouchRow
{
	height: 99px;
}

.NoSuggest .TouchRow,
.NoSuggest #LastRow
{
	height: 80px;
}

.Left #LastRow
{
	x: 0%;
	horizontal-align: right;
	width: 90%;
	margin-right: -14px;
}

.Right #LastRow
{
	x: 0%;
	horizontal-align: left;
	margin-left: -5px;
}

.TouchKey
{
	width: 16%;
	height: 100%;
	background-color: daisy_petal_color;
	border-style: solid;
	border-width: 4px;
	border-color: daisy_bg_color;
}

// 6, 7, B, N
#TouchKey_5_0.TouchKey,
#TouchKey_6_0.TouchKey,
#TouchKey_4_3.TouchKey,
#TouchKey_5_3.TouchKey
{
	width: 19.9%;
}

// Q, R, U, P
#TouchKey_0_1.TouchKey,
#TouchKey_3_1.TouchKey,
#TouchKey_6_1.TouchKey,
#TouchKey_9_1.TouchKey
{
	width: 22.05%;
}

// T, Y
#TouchKey_4_1.TouchKey,
#TouchKey_5_1.TouchKey
{
	width: 25.05%;
}

// H, G
#TouchKey_5_2.TouchKey,
#TouchKey_4_2.TouchKey
{
	width: 23.02%;
}

.Left #TouchKey_Space
{
	border-right-width: 0px;
	border-left-width: 0px;
	width: 100%;
}

.Right #TouchKey_Space
{
	border-left-width: 0px;
	border-right-width: 0px;
	width: 50%;
}

#TouchKey_Close
{
	background-color: #3f643a;
	width: 50%;
}

#TouchKey_Close.TouchKeyHover
{
	background-color: #88b51c;
}

#TouchKey_Suggest_0.TouchKey.PasteSuggestionPanel Label
{
	color: #888888;
}

#TouchKey_Suggest_0.TouchKey,
#TouchKey_Suggest_1.TouchKey,
#TouchKey_Suggest_2.TouchKey,
#TouchKey_Suggest_3.TouchKey
{
	width: 50%;	
}

#TouchKey_Suggest_0.TouchKey
{
	border-left-width: 0px;	
}

#TouchKey_Suggest_3.TouchKey
{
	border-right-width: 0px;
}

#TouchKey_LeftArrow.TouchKey,
#TouchKey_RightArrow.TouchKey
{
	width: 12.9%;
}

#TouchKey_LeftArrow.LeftArrowFill
{
	margin-top: 10px;
	x: 9%;
	y: 14.8%;
	width: 1.8%;
	height: 69%;
	border-style: none;
}

#TouchKey_RightArrow.RightArrowFill
{
	margin-top: 10px;
	x: 89.2%;
	y: 14.8%;
	width: 1.64%;
	height: 68.5%;
	border-style: none;
}

.NoSuggest #TouchKey_LeftArrow.LeftArrowFill,
.NoSuggest #TouchKey_RightArrow.RightArrowFill
{
	y: 0.75%;
	height: 80%;
}

#TouchKey_Alt.TouchKey
{
	width: 12.79%;
}

#TouchKey_Enter.TouchKey
{
	width: 29.07%;
}

#TouchKey_EnterNoClose.TouchKey
{
	width: 29.07%;
}

.TouchKeyHover
{
	background-color: daisy_petal_selection_color;
}

.TouchKeyClicked
{
	background-color: #ffffffff;
}

// most of the time we're using "hardware" pointers that render through the D3D/OpenGL layers, so we don't show
// our native Panorama elements unless we're specifically asked to (during transitions in/out) and we are actively
// manipulating that pad
#LeftPointer,
#RightPointer
{
	visibility: collapse;
	vertical-align: center;
	horizontal-align: center;
}

.ShowPanoramaPointers #LeftPointer.LeftTouchPadActive,
.ShowPanoramaPointers #RightPointer.RightTouchPadActive
{
	visibility: visible;
}

#TouchKeyLabel,
.TouchKeyLabel
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 30px;
	color: #ccccccff;
	wash-color: #ccccccff;
}

.TouchKeyHover #TouchKeyLabel,
.TouchKeyHover .TouchKeyLabel,
{
	color: #000000ff;
	wash-color: #000000ff;
}

/*#TextPreview
{
	horizontal-align: right;
	text-overflow: clip;
	white-space: nowrap;
}*/


#LoadingThrobber
{
	margin-left: 830px;
	visibility: collapse;
}

.ShowLoadingThrobber #LoadingThrobber
{
	visibility: visible;
}

.SearchResultEmbedded
{
	width: 210px;
	height: 82px;

	margin-right: 2px;
	margin-left: 2px;

	border-width: 5px;
	border-style: solid;
	border-color: #193e57;
}

.SearchResultEmbedded.TouchKeyHover
{
	border-width: 5px;
	border-style: solid;
	border-color: #256180;
	background-color: none;
}

.SearchResultEmbedded#EmbeddedResultEmpty0,
.SearchResultEmbedded#EmbeddedResultEmpty1,
.SearchResultEmbedded#EmbeddedResultEmpty2,
.SearchResultEmbedded#EmbeddedResultEmpty3
{
	border-width: 0px;
}

.SearchResultEmbedded Image
{
	width: 100%;
	height: 100%;
}

#SuggestionLabels
{
	width: 100%;
	height: 60px;
	margin-top: 180px;
}

.SuggestionTitleLabel
{
	font-size: 40px;
	height: 60px;
	margin-top: 10px;
	opacity: 0.0;
	color: #66c0f4;

	transition-property: opacity;
	transition-duration: 0.3s;
}

.SuggestionTitleLabel.SuggestionActive
{
	opacity: 1.0;
}

#Suggest_0_text
{
	horizontal-align: left;
	margin-left: 40px;
}

#Suggest_1_text
{
	horizontal-align: left;
	margin-left: 250px;
}

#Suggest_2_text
{
	horizontal-align: right;
	text-align: left;
	min-width: 460px;
}

#Suggest_3_text
{
	horizontal-align: right;
	text-align: left;
	min-width: 100px;
}

.FriendsChat #Backdrop
{
	background-color: white;
}

.FriendsChat #HeaderText, .FriendsChat #Legends, .FriendsChat #TextPreviewBackground
{
	visibility: collapse;
}

.FriendsChat #BackDrop 
{
	box-shadow: none;
	border-radius: 0px;
	background-color: none;

	margin-bottom: 0px;
}

 TextInputDualTouch.FriendsChat
{
	background-color: #00000000;
	margin-top: 51%;
}

.FriendsChat #BodyContainer
{
	color: #00000000;
	background-color: #00000000;
	box-shadow: none;
	horizontal-align: center;
}

.FriendsChat #BackDrop
{
	margin-top: 0px;
}

#TouchKey_Submit
{
	background-color: #3f643a;
	width: 50%;
	visibility: collapse;
}

#TouchKey_Submit.TouchKeyHover
{
	background-color: #88b51c;
}

.FriendsChat #TouchKey_Submit
{
	visibility: visible;
}

.FriendsChat #TouchKey_Close
{
	visibility: collapse;
}

.FriendsChat #TouchKey_Enter
{
	visibility: collapse;
}

#TouchKey_EnterNoClose
{
	visibility: collapse;
}

.FriendsChat #TouchKey_EnterNoClose
{
	visibility: visible;
}
