@define iconcolorfocused: #3c3d3d;
@define iconcolor: #8aa5b6;

DropDownMenu Label
{
	margin-right: 0px;
}

DropDown.DropDownMenuVisible Label
{
	text-overflow: clip;
}

#Filter
{
	height: 48px;
	font-size: 24px;
	width: 400px;
}

#StoreFilter
{
	opacity: 0.0;
	transform: translateY( 80px );
	transition-property: opacity, transform;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-delay: 0.2s;
}

#Store.FilterVisible:descendantfocus #FrontPage #StoreFilter
{
	opacity: 0.0;
	transform: translateY( 80px );
	transition-property: opacity, transform;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-delay: 0.1s;
}

#Store.FilterVisible:descendantfocus #FilteredStoreWrapper #StoreFilter
{
	opacity: 0.0;
	transform: translateY( -40px ) translateZ( -150px );
	visibility: visible;
	height: 48px;
	font-size: 24px;
	width: 400px;

	vertical-align: top;
	horizontal-align: center;
	margin-top: 176px;

	transition-property: opacity, transform;
	transition-timing-function: ease-in-out;
	transition-duration: 0.25s;
}

#Store.FilterVisible:descendantfocus #FrontPage:descendantfocus #FilteredStoreWrapper:descendantfocus #StoreFilter
{
	height: 48px;
	font-size: 24px;
	width: 400px;
	transform: translateY( 0px );
	opacity: 1.0;
	visibility: visible;
	vertical-align: top;
	horizontal-align: center;
	margin-top: 176px;

	transition-property: opacity, transform;
	transition-timing-function: ease-in-out;
	transition-duration: 0.23s;

}

FilterSelectorItem Label
{
	font-size: 24px;
	padding-left: 3px;
	vertical-align: center;
	text-overflow: clip;
	white-space: nowrap;
	width: 100%;
}

FilterSelectorItem #IconWrapper
{
	visibility: collapse;
	flow-children: right;
	horizontal-align: right;
	margin-right: 5px;
	padding-right: 13px;
	margin-top: 3px;
	padding-top: 4px;
	padding-left: 30px;
	padding-bottom: -2px;

	transition-property: background-color;
	transition-timing-function: ease-in-out;
	transition-duration: 0.20s;
}

FilterSelectorItem #IconWrapper Panel
{
	horizontal-align: center;
	vertical-align: center;
	background-repeat: no-repeat;
	background-color: none;
	width: 42px;
	height: 42px;
	margin-top: -6px;
	margin-right: -4px;
}

FilterSelectorItem .ItemIcon
{
	visibility: collapse;
}

FilterSelectorItem .ItemIcon
{
	wash-color: iconcolor;
	
	transition-property: wash-color;
	transition-timing-function: ease-in-out;
	transition-duration: 0.15s;
}

FilterSelectorItem Label:descendantfocus .ItemIcon, 
FilterSelectorItem Label:hover .ItemIcon,
FilterSelectorItem:focus .ItemIcon
{
	wash-color: iconcolorfocused;
}

FilterSelectorItem.WindowsIcon #IconWrapper,
FilterSelectorItem.OSXIcon #IconWrapper,
FilterSelectorItem.LinuxIcon #IconWrapper,
FilterSelectorItem.GamepadControllerIcon #IconWrapper,
FilterSelectorItem.SteamControllerIcon #IconWrapper
{
	visibility: visible;
}

DropDown FilterSelectorItem.WindowsIcon #IconWrapper,
DropDown FilterSelectorItem.OSXIcon #IconWrapper,
DropDown FilterSelectorItem.LinuxIcon #IconWrapper,
DropDown FilterSelectorItem.GamepadControllerIcon #IconWrapper,
DropDown FilterSelectorItem.SteamControllerIcon #IconWrapper
{
	visibility: collapse;
}

FilterSelectorItem.WindowsIcon #WindowsIcon
{
	background-image: url( "file://{images}/store/icon_platform_win.png" );
	visibility: visible;
}

FilterSelectorItem.OSXIcon #OSXIcon
{
	background-image: url( "file://{images}/store/icon_platform_mac.png" );
	visibility: visible;
}

FilterSelectorItem.LinuxIcon #LinuxIcon
{
	background-image: url( "file://{images}/store/icon_platform_linux.png" );
	visibility: visible;
}

FilterSelectorItem.GamepadControllerIcon #GamepadControllerIcon
{
	background-image: url( "file://{images}/store/icon_fullcontroller.png" );
	margin-left: 4px;
	visibility: visible;
}

FilterSelectorItem.GamepadControllerIcon.SteamControllerIcon #GamepadControllerIcon
{
	visibility: collapse;
}

FilterSelectorItem.SteamControllerIcon #SteamControllerIcon
{
	background-image: url( "file://{images}/store/icon_steamcontroller.png" );
	margin-left: 4px;
	margin-top: -4px;
	visibility: visible;
}

#Filter FilterSelectorItem,
#FilterDropDownMenu FilterSelectorItem
{
	padding: 0px 0px;
}

#GamesFilterDropDownMenu FilterSelectorItem.DropDownChild Label
{
	box-shadow: box_shadow_off_color -4.5px -4.5px 18px 9px;
}

FilterSelectorItem.DropDownChild
{
	height: 52px;
	padding: 0px;
}

