
body {
	background-position: 0 105px;
	color: #c6d4df;
}
.req {
	color: #ca6a0c;
}
.dmca_page_title
{
	font-size: 2em;
	color: white;
	padding-top: 56px;
	padding-bottom: 20px;
}

.detailBox {
	padding: 10px 0px 0 0;

	position: relative;
	padding-bottom: 20px;
	background: url( 'https://steamcommunity-a.akamaihd.net/public/images/groups/content_header_rule.png' ) 0px 0px no-repeat;
	background:	url( 'https://steamcommunity-a.akamaihd.net/public/images/groups/group_content_topbackground.png' ) 0px 8px no-repeat,
				url( 'https://steamcommunity-a.akamaihd.net/public/images/groups/content_header_rule.png' ) -4px 0px no-repeat;
}

/* left column */
.leftcol
{
	float: left;
	width: 640px;
	padding-bottom: 50px;
}

/* right column */

.rightcol {
	position: relative;
	float: right;
	width: 295px;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	padding-top: 5px;
	padding-top: 107px;
	z-index: 90;
	font-size: 14px;
}

.rightcol div a {
	line-height: 30px;
}

.rightcol .panel
{
	background: #1b1b1b;
	background: rgba(27,27,27,.36);
	border-radius: 4px;
	padding: 10px 10px 10px 11px;
	margin: 0 0 10px 0;
	border: 1px solid #1f1f20;
	box-shadow: 1px 1px 0 0 #39393a;
}

.panel .title {
	font-size: 11px;
	text-transform: uppercase;
	margin: 3px 0 10px 0;
	color: #494947;
}

.rightcol .panel.admin {
	border-color: #a55b13;
}

.panel.admin .title {
	color: #a55b13;
}

/* create */
input[type=text], input[type=password], select {
	font-size: 14px;
	line-height: 20px;

	background-color: rgba( 0, 0, 0, 0.2 );
	border-radius: 3px;
	border: 1px solid #000;
	box-shadow: 1px 1px 0 0 rgba( 91, 132, 181, 0.2 );
	color: #C6D4DF;
	margin-bottom: 6px;
	outline: none;
	padding: 4px 6px;
}