
body {
	background-color: #000000;
	background-image: url('https://steamcommunity-a.akamaihd.net/public/images//skin_1/bg_dark.gif');
	background-repeat: repeat-x;
}

.modal_box h1 {
	padding-left:20px;
	font-size: 36px;
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
}

.modal_box p {
	padding-left:20px;
	margin: 0px;
}


.modal_buttons a.btn_white {
	float: left;
}

.modal_buttons a.btn_white.leftbtn {
	margin-right: 16px;	
	
}

.modal_buttons {
}


#modalBG {
	position:absolute;
	z-index:900;
	background-color:#000000;
	filter:alpha(opacity=60);
	opacity:0.8;
}

.modal_frame {
	width:508px;
	position:absolute;
	z-index:1000;
	background-color:#000000;
}

.auth_message_area, .twofactorauth_message_area {
	position: relative;
	padding-left: 70px;
	min-height: 92px;
}

.auth_icon, .twofactorauth_icon {
	position: absolute;
	top: 16px;
	left: 0px;
	width: 67px;
	height: 48px;

	background-image: url( https://steamcommunity-a.akamaihd.net/public/images/login/emailauth_icons.png );
	background-repeat: no-repeat;
}

.auth_icon.auth_icon_trash {
	background-position: center 0px;
}

.auth_icon.auth_icon_key {
	background-position: center -48px;
}

.auth_icon.auth_icon_lock {
	background-position: center -96px;
}

.auth_icon.auth_icon_unlock {
	background-position: center -144px;
}

.auth_icon.auth_icon_steam {
	background-position: center -192px;
}

.auth_icon.ipt_icon {
	background-image: url( https://steamcommunity-a.akamaihd.net/public/images/login/ipt_lockout_icon.png );
	height: 62px;
	width: 53px;

	left: 12px;
	top: 6px;
}

.auth_details_messages, .twofactorauth_details_messages {
	color: #8F98A0;
	font-size: 12px;
	height: 38px;
}
.notice {
	color: #ff7b00;
}

.authcode_entry_area, .twofactorauthcode_entry_area {
	height: 32px;
	margin-top: 4px;
	margin-bottom: 6px;
}

.authcode_entry_box, .twofactorauthcode_entry_box {
	background-image: url( https://steamcommunity-a.akamaihd.net/public/images/login/code_box.png?v=1 );
	background-repeat: no-repeat;
	background-color: rgba( 0, 0, 0, 0.2 );
	border-radius: 3px;
	border: 1px solid #000;
	box-shadow: 1px 1px 0 0 rgba( 91, 132, 181, 0.2 );
	color: #C6D4DF;
	width: 220px;
	height: 27px;
}

.friendly_name_box
{
	background-image: url( https://steamcommunity-a.akamaihd.net/public/images/login/friendlyname_box.png?v=1 );
	background-repeat: no-repeat;
	background-color: rgba( 0, 0, 0, 0.2 );
	border-radius: 3px;
	border: 1px solid #000;
	box-shadow: 1px 1px 0 0 rgba( 91, 132, 181, 0.2 );
	color: #C6D4DF;
	width: 220px;
	height: 27px;
}

input.authcode_entry_input, input.twofactorauthcode_entry_input {
	border: none;
	background-color: transparent;
	margin-left: 8px;
	margin-top: 2px;
	color: #cdcac1;	
	outline: none;
	width: 220px;
}


input.authcode_entry_input.defaulttext, input.twofactorauthcode_entry_input.defaulttext {
	font-style: italic;
}

input.textField {
	margin: 0px;
	background-color: #565658;
	border-radius: 3px;
	border: 1px solid #262627;
	box-shadow: 1px 1px 0px #39393a;
	color: #BFBFBF;
	outline: none;
	padding: 4px 6px;
}

.checkboxRow {
	margin: 0px;
	padding-top: 4px;
}

.checkboxContainer {
	margin-bottom: 15px;
	height: 31px;
}

#auth_buttonset_waiting, #login_twofactorauth_buttonset_waiting {
	height: 66px;
	
	background-image: url( https://steamcommunity-a.akamaihd.net/public/images/login/throbber.gif );
	background-repeat: no-repeat;
	background-position: center center;
}

.auth_button, .twofactorauth_button {
	background-image: url( https://steamcommunity-a.akamaihd.net/public/images/login/emailauth_button.png );
	background-repeat: no-repeat;
	width: 219px;
	height: 58px;
}

.auth_button.auth_button_spacer,
.twofactorauth_button.auth_button_spacer {
	background-image: none;
	width: 0px;
}

a.auth_button, a.auth_button:hover, a.twofactorauth_button, a.twofactorauth_button:hover {
	display: block;
	text-decoration: none;
}

.auth_button h3, .twofactorauth_button h3 {
	font-weight: normal;
	font-size: 22px;
	font-family: "Motiva Sans Regular", "Motiva Sans", arial, tahoma, sans-serif;
	color: #66C0F4;
}

.twofactorauth_button h3, .twofactorauth_button h5 {
	margin-left: 16px;
}

.auth_button h5, .twofactorauth_button h5 {
	font-size: 13px;
	color: #66C0F4;
	text-transform: none;
}
.auth_button:hover h3,
.auth_button:hover h5 {
	color: #ffffff;
}


.modal_buttons .auth_button, .modal_buttons .twofactorauth_button {
	float: left;
}

.modal_buttons a.auth_button.leftbtn, .modal_buttons a.twofactorauth_button.leftbtn {
	margin-right: 16px;		
}

.modal_box_ctn a.auth_button {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(102,192,244,0.2)), color-stop(95%,rgba(47,137,188,0.2)));background: -moz-linear-gradient( top, rgba(102,192,244,0.2) 5%, rgba(47,137,188,0.2) 95%);background: -webkit-linear-gradient( top, rgba(102,192,244,0.2) 5%, rgba(47,137,188,0.2) 95%);background: -o-linear-gradient( top, rgba(102,192,244,0.2) 5%, rgba(47,137,188,0.2) 95%);background: -ms-linear-gradient( top, rgba(102,192,244,0.2) 5%, rgba(47,137,188,0.2) 95%);background: linear-gradient( to bottom, rgba(102,192,244,0.2) 5%, rgba(47,137,188,0.2) 95%);	padding: 12px 12px 15px 12px;
	border-radius: 2px;
}
.modal_box_ctn a.auth_button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(102,192,244,1)), color-stop(95%,rgba(47,137,188,1)));background: -moz-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);background: -webkit-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);background: -o-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);background: -ms-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);background: linear-gradient( to bottom, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);}

#loginIPTModal .modal_box {
	background-image: url( https://steamcommunity-a.akamaihd.net/public/images/login/ipt_lockout_bg.png );
	width: 466px;
	height: 231px;
}

#auth_details_computer_name{
	margin: 52px 0 28px 0;
}

#friendly_name_box{
    position: absolute; 
    bottom: 22px; 
    left: 22px;
}

.mainLoginPanel {
	width: 100%;

	border: 1px solid #000000;
	border-radius: 3px;
	margin-top: 17px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#3f4e63), color-stop(95%,#0d0e10));filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4e63', endColorstr='#0d0e10',GradientType=0 );background: -moz-linear-gradient( top, #3f4e63 5%, #0d0e10 95%);background: -webkit-linear-gradient( top, #3f4e63 5%, #0d0e10 95%);background: -o-linear-gradient( top, #3f4e63 5%, #0d0e10 95%);background: -ms-linear-gradient( top, #3f4e63 5%, #0d0e10 95%);background: linear-gradient( to bottom, #3f4e63 5%, #0d0e10 95%);	-moz-box-shadow: 1px 1px 0px rgba(53,67,67,1), 0px 0px 10px rgba(0,0,0,0.4) inset;
	-webkit-box-shadow: 1px 1px 0px rgba(53,67,67,1), 0px 0px 15px rgba(0,0,0,0.4) inset;
	box-shadow: 1px 1px 0px rgba(53,67,67,1), 0px 0px 15px rgba(0,0,0,0.4) inset;
	
}

.mainLoginPanel_china {
	width: 100%;
	border: 1px solid #000000;
	border-radius: 3px;
	margin-top: 17px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#000), color-stop(95%,#111));filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#111',GradientType=0 );background: -moz-linear-gradient( top, #000 5%, #111 95%);background: -webkit-linear-gradient( top, #000 5%, #111 95%);background: -o-linear-gradient( top, #000 5%, #111 95%);background: -ms-linear-gradient( top, #000 5%, #111 95%);background: linear-gradient( to bottom, #000 5%, #111 95%);}

	.mainLoginPanelDivider {
		width: 2px;
		height: 150px;
		margin: 10px;
		float: left;
		background-image: url( https://steamcommunity-a.akamaihd.net/public/images/skin_1/signin_divider.jpg );
	}
	
	.mainLoginLeftPanel {
		min-width: 350px;
		max-width: 520px;
		float: left;
		padding: 17px 20px;
	}
		.mainLoginLeftPanel>p {
			font-size: 14px;
		}
	
	.mainLoginRightPanel {
		width: 314px;
		float: left;
		padding: 17px 20px;
	}
		.mainLoginRightPanel>p {
			font-size: 14px;
		}
		.mainLoginRightPanel>.createInfo {
			height: 202px;
		}
			.mainLoginRightPanel>.createInfo>p {
				font-size: 14px;
			}
	
	.mainLoginLeftPanel>h1, .mainLoginRightPanel>.createInfo>h1 {
		color: #ffffff;
		font-size: 18px;
	}
	
	.mainLoginLeftPanel>p, .mainLoginRightPanel>.createInfo>p {
		margin-top: 0px;
	}
	
.PSNLink {
	margin-top: 30px;
}
.PSNLink>a {
	color: #dddddd;
	text-decoration: underline;
}

.PSNTitle {
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	font-family: Arial,Helvetica,sans-serif;
}

#SteamLogin {
	padding: 8px 20px;
	text-align: center;
}

.forgotHelper {
	float: left;
	height: 18px;
	padding-top: 15px;
}

#login_btn_signin, #login_btn_wait {
	float: left;
}

.mainLoginLeftPanel_signin {
	width: 250px;
	float: left;
}
	.mainLoginLeftPanel_signin>label {
		font-size: 14px;
	}

.mainLoginLeftPanel_captcha {
	float: left;
	width: 210px;
}

#error_display {
	float: left;
	width: 124px;
}
.smallLabel {
	padding-top: 4px;
	font-size: 11px;
}

#captchaRefresh {
	padding-right: 5px;
	padding-top: 0px;
	margin-bottom: 7px;
}
#captchaImg {
	margin-left: 0px;
	margin-bottom: 2px;
}
#CaptchaFormArea>label {
	font-size: 14px;
}	

.whyJoinLeft {
	float: left;
	width: 315px;
	padding-top: 65px;
	padding-left: 20px;
}
	.whyJoinLeft>h1 {
		color: #ffffff;
		font-size: 18px;
		font-weight:bold;
	}
	
	.whyJoinLeft>ul {
		line-height: 22px;
		font-size: 14px;
		color: #b0aeac;
	}
	
.whyJoinRight {
	float: left;
	width: 616px;
	height: 500px;
	padding-top: 65px;
	background-image: url( https://steamcommunity-a.akamaihd.net/public/images/skin_1/about_steam_preview.png );
	background-repeat: no-repeat;
	
}
	.whyJoinRight>#userNumbers {
		font-size: 18px;
		padding-top: 0px;
		text-align: center;
	}

.whyJoin_china {
	width: 100%;
	padding-top: 65px;
	margin-left: -340px;
}

.oauthLoginButton {
	margin-top: 12px;
	border: 0;
	
}

.OpenID_MainHeader {
	background-color: #1c1c1c;
	width: 950px;
}

	.OpenID_MainHeader h1{
		font-size: 24px;
		color: #ffffff;
		font-family: 'Motiva Sans Thin', Arial, Tahoma;
		font-weight: normal;
		padding: 30px 0px 0px 18px;
	}
	
	.OpenID_MainHeader h2{
		font-size: 24px;
		color: #579bda;
		font-family: 'Motiva Sans Thin', Arial, Tahoma;
		font-weight: normal;
		padding: 0px 0px 20px 18px;
	}
	
.OpenID_LowerContents {
	background-color: #242424;
	width: 950px;
	padding: 24px 0 30px 0;
}
.OpenID_LowerContents_right {
	width: 436px;
	float: left;
	padding: 0px 18px 0px 18px;
	border-left: 1px solid #374862;
}
	.OpenID_LowerContents_right h2 {
		color: #ffffff;
		font-size: 15px;
		font-weight: normal;
		font-family: Arial, Tahoma;
	}

.OpenID_LowerContents_left {
	width: 436px;
	float: left;
	padding: 0px 18px 0px 18px;
}

.OpenID_loggedInText {

}
	.OpenID_LowerContents h2 {
		color: #ffffff;
		font-size: 15px;
		font-weight: normal;
		font-family: Arial, Tahoma;
		margin-bottom: 10px;
	}
	
.OpenID_UserContainer {
	background-color: #1c1c1c;
	border-radius: 3px;
	padding: 8px;
}
	.OpenID_UserName {
		float: left;
	}
	.OpenID_loggedInName {
		color: #86b5d9;
		font-size: 14px;
		display: block;
		margin-top: 3px;
	}
	.OpenID_loggedInAccount {
	}
	.playerAvatar {
		float: left;
		margin-right: 12px;
	}
	
.OpenID_Logout {
	float: right;
	text-decoration:underline;
	margin-bottom: 35px;
}

.OpenID_linkLoggedInAccount {

}
