
#BG_top {
	margin: 0px auto;
}

#BG_bottom {
	margin: 0px auto;
}

#mainContents {
	background-image: none;
}

.rightSectionTopTitle {
	line-height: 18px;
	margin-bottom: 4px;
}

.friend_block_avatar_92 {
	width: 92px;
	height: 92px;
	background-repeat: no-repeat;
	padding: 4px;
	margin-right: 2px;
}

.friend_status_offline .friend_block_avatar_92 {
	background-image: url( 'https://steamcommunity-a.akamaihd.net/public/images/skin_1/iconholder_92_offline.gif' );
}

.friend_status_online .friend_block_avatar_92 {
	background-image: url( 'https://steamcommunity-a.akamaihd.net/public/images/skin_1/iconholder_92_online.gif' );
}

.friend_status_in-game .friend_block_avatar_92 {
	background-image: url( 'https://steamcommunity-a.akamaihd.net/public/images/skin_1/iconholder_92_ingame.gif' );
}

.friend_block_avatar_92 img {
	width: 92px;
	height: 92px;
}


.recommendation_detail {
	min-height: 124px;
	background-repeat: repeat-x;
	background-position: top;

	margin-right: 16px;
}

.recommendation_detail .quote {
	max-height: 450px;
	overflow: auto;
	overflow-x: hidden;
	word-wrap: break-word;
}

.recommendation_area_ctn.game_recommendation {
	margin-bottom: 32px;
}

.recommendation_area
{
	position: relative;
}

.recommendation_area .recommendation_author
{
	position: absolute;
	left: 0px;
	top: 0px;
}

.quote_serif
{
	font-family: Georgia, serif;
}

.recommendation_detail .recommendation_area_content
{
	padding-left: 116px;
	width: 596px;
}

.recommendation_detail .recommendation_date
{
	padding-left: 13px;
	color: #626467;
	font-size: 11px;
}

.recommendation_detail .recommendation_date a
{
	color: #626467;
	text-decoration: underline;
}

.game_recommendation .recommendation_area_content
{
	padding-left: 56px;
}

.quote
{
	padding: 13px 13px;
	border: 1px solid #3c3d3e;
	color: #d6d7d8;
	font-size: 14px;
	font-style: italic;
	line-height: 19px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 5px;
}

.quote_arrow
{
	position: absolute;
	width: 17px;
	height: 18px;
	background-repeat: no-repeat;
	background-image: url( 'https://steamcommunity-a.akamaihd.net/public/images/skin_1/quotearrow_graybg.png' );
}

.recommendation_detail .quote_arrow
{
	left: 100px;
	top: 13px;
}


.recommendation_area .gameLogoHolder_default {
	position: absolute;
	right: 0px;
	top: 0px;
}

.app_actions
{
	position: absolute;
	width: 187px;
	right: 0px;
	top: 84px;
	text-align: right;
}

.actiontext
{
	color: #82807c;
	font-size: 11px;
	line-height: 22px;
}

.actiontext a
{
	color: #82807c;
	text-decoration: underline;
}

.actiontext a:hover
{
	text-decoration: underline;
	color: #d6d7d8;
}


#profileBlock.recommendationProfileBlock {
	padding-top: 13px;
}
.dselect_container {
	padding: 0px;
	display: inline;
}

.dselect_container a, .dselect_container a:hover, .dselect_container a:active, .dselect_container a:visited
{
	font-size: 12px;
	line-height: 22px;
	text-decoration: none;
	font-weight: normal;
}

a.trigger, a.activetrigger {
	background: url(https://steamcommunity-a.akamaihd.net/public/images/skin_1/arrowDn9x5.gif) no-repeat scroll right center;
	border-right: 7px solid #000; /* HAAAAAX! */
	display:block;

	color: #B0AEAC;
	height: 22px;
	padding-left:8px;
	padding-right: 20px;
	overflow: hidden;


	background-color: #000;
	border-radius: 3px;
	color: #e1e1e1;
	margin: 3px 0;
}

.dropcontainer ul {
	background-color: #000;
	border-radius: 3px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	list-style-type:none;
	margin:0;
	padding:5px 5px;

	position:absolute;
	line-height: 22px;
	z-index: 999999;

	overflow: auto;
	overflow-x: hidden;
}

.dropdownhidden{
	display: none;
}
.dropdownvisible{
	top:-4px;
	display: block;
}
.dropcontainer ul li {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.dropcontainer ul a {
	padding-left:2px;
	padding-right:2px;
	display:block;
	text-decoration:none;
	color:#e1e1e1;
	line-height: 22px;
	height: 22px;
}
.dropcontainer a.highlighted_selection {
	background:#3196FF;
	color: #FFFFFF;
	text-decoration: none;
}
.dropcontainer{
	position:relative;
}