


#invites_top {
	position:relative;
	z-index:10;
	background-image:url('https://steamcommunity-a.akamaihd.net/public/images/skin_1/bg_top.gif');
	background-repeat:no-repeat;
	width:958px;
	height:98px;
	text-align: left;
}
#invites_maincontents {
	width:936px;
	min-width:936px;
	margin:0;
	padding:0;
	text-align:left;
	padding-left:12px;
	padding-top:21px;
}
#invites_maincontents h2 {
	padding-top:20px;
	font-weight:normal;
	margin:0;
	padding:0;
	font-size: 26px;
	color: #898989;
	padding-left:5px;
}
#invites_maincontents h1 {
	font-weight:normal;
	font-size: 26px;
	color: #e1e1e1;
	margin:0;
	padding:0;
	padding-bottom:13px;
	padding-left:5px;
}


.commentnotifications_top_content {
	padding-top: 12px;

}

.commentnotifications_header {
	/* 907 x 51 */
	background-image: url( 'https://steamcommunity-a.akamaihd.net/public/images/skin_1/commentnotifications_header.png?v=1' );
	max-width: 871px;
	height: 51px;
	padding-left: 36px;

	margin-bottom: 15px;
}

.commentnotifications_header_commentcount {
	float: left;
	color: #66C0F4;
	height: 51px;
	line-height: 51px;
	font-size: 48px;
	font-weight: bold;

	margin-right: 4px;
}

.commentnotifications_header_content {
	padding-top: 13px;
	padding-right: 20px;
	font-size: 11px;
	line-height: 13px;
	color: #7f7f7f;
}

.commentnotifications_header_content b {
	font-weight: normal;
	color: #66C0F4;
}

.commentnotifications_header_rule {
	height: 1px;
	background-color: #000000;
	border-bottom: 1px solid #17435C;
	margin-bottom: 14px;
}



.commentnotification {
	background-image: url( 'https://steamcommunity-a.akamaihd.net/public/images/skin_1/commentnotifications_notification.png?v=1' );
	background-repeat: repeat-x;
	background-position: bottom center;
	height: 48px;
	margin-bottom: 1px;
	border-radius: 3px;


	padding-left: 34px;

	position: relative;
}
.commentnotification:hover {
	background: rgba( 0, 0, 0, 0.6 );
}

.commentnotification.unread {
	background-position: top center;
}
.commentnotification.unread:hover {
	background: rgba( 103, 193, 245, 0.6 );
}

.commentnotification_icon {
	position: absolute;
	left: 10px;
	top: 17px;
}

.commentnotification_title {
	padding-top: 6px;
	line-height: 19px;
	font-family: "Motiva Sans Light", Arial, Helvetica, sans-serif;
	color: #8F98A0;
	font-size: 14px;
}
.commentnotification.unread .commentnotification_title {
	color: #66C0F4;
	font-weight: normal;
	font-family: "Motiva Sans Bold", Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px rgba( 0, 0, 0, 0.5 );
}
.commentnotification.unread:hover .commentnotification_title {
	color: #ffffff;
}

.commentnotification_description {
	color: #61696D;
	font-size: 11px;
}
.commentnotification.unread .commentnotification_description {
	color: #C6D4DF;
}


.commentnotification.deleted .commentnotification_title {
	font-style: italic;
	font-weight: normal;
	color: #b4b4b4;
}

.commentnotification_col {
	float: right;
	line-height: 48px;
	height: 48px;
}

.commentnotification_col img {
	vertical-align: middle;
}
.commentnotification_newposts {
	width: 73px;
	text-align: center;
	font-size: 14px;
	color: #fefbf6;
	font-weight: bold;
}

.commentnotification_date {
	color: #8F98A0;
	font-size: 11px;
	text-align: right;
	min-width: 80px;
	padding-left: 12px;
}
.commentnotification.unread .commentnotification_date {
	color: #fefefe;
}

.commentnotification_friendpost {
	padding-left: 12px;
}

.commentnotification_click_overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.commentnotification_click_overlay a {
	outline: none;
}
.commentnotification_click_overlay img {
	width: 100%;
	height: 100%;
}

.commentnotification_browseoption .browseOptionImage {
	display: none;
}

.commentnotification_browseoption.active .browseOptionImage {
	display: block;
}

.commentnotification_browseoption.active .browseOption a {
	cursor: default;
	text-decoration: none;
	color: #EBEBEB;
}

@media screen and (max-width: 910px)
{
	html.responsive .commentnotification.moderatormessage .commentnotification_newposts {
		display: none;
	}
	html.responsive .commentnotification.moderatormessage .commentnotification_date {
		padding-right: 8px;
	}
}
	

.notification_paging {
	position: relative;
	line-height: 25px;
	height: 25px;
	background-color: rgba( 0, 0, 0, 0.2 );
	border-radius: 3px;
	color: #61696D;

	padding: 0px 6px;
	margin: 8px 0px;
}

.notification_paging_controls {
	position: absolute;
	top: 0px;
	right: 6px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.notification_paging .pagebtn {
	height: 17px;
	line-height: 17px;
}

.notification_paging_pagelink, .notification_paging_controls .commentthread_pagelink {
	color: #ffffff;
	cursor: pointer;
	margin: 0px 3px;
}

.notification_paging_pagelink:hover, .notification_paging_controls .commentthread_pagelink:hover {
	text-decoration: underline;
}

.notification_paging_pagelink.active, .notification_paging_controls .commentthread_pagelink.active {
	color: #747474;
	cursor: default;
}

.notification_paging_pagelink.active:hover {
	text-decoration: none;
}


.body_content_box {
	background-color: #1d1d1d;
	border-radius: 3px;
	padding: 16px 24px;
	color: #d6d6d6;
	margin-bottom: 18px;
	line-height: 20px;
}

.body_content_box h2 {
	color: #5491cf;
	font-size: 17px;
	font-weight: normal;
	margin: 8px 0;
	padding: 0;
	line-height: normal;
}

.body_content_box p {
	margin: 0 0 16px 0;
}


@media screen and (max-width: 910px)
{
	html.responsive #mainContents {
		width: auto;
	}

	html.responsive #rightContents {
		float: none;
	}

	html.responsive .comment_notification_filtering_options {
		display: none;
	}
}

@media screen and ( max-width: 480px )
{
	html.responsive .commentnotification_details {
		float: right;
		margin-left: 8px;
		padding-right: 8px;
	}
	html.responsive .commentnotification_details > .commentnotification_col {
		float: none;
		line-height: 24px;
		height: 24px;
		text-align: right;
		margin: 0;
		padding: 0;
	}

	html.responsive .commentnotification_details > .commentnotification_newposts {
		font-size: 12px;
	}

	html.responsive .commentnotifications_header_content br {
		display: none;
	}

	html.responsive .notification_paging_summary {
		display: none;
	}
}


/* user bans page */
.ban_row {
	padding: 8px;
	background: rgba( 0, 0, 0, 0.2 );
	margin-bottom: 12px;
}

.ban_row .group_avatar {
	float: left;
	margin-right: 12px;
}

.ban_row .unban_action {
	float: right;
	padding: 12px;
}

.ban_row h3 {
	margin-bottom: 6px;
	color: #ffffff;
}

.ban_row_content {
	min-width: 300px;
	overflow: hidden;
}

.ban_row b {
	font-weight: normal;
	color: #9b9b9b;
}

.ban_row i {
	font-style: normal;
	color: #9b9b9b;
}

.user_bans_page h2 {
	color: #66C0F4;
	margin-top: 24px;
}

@media screen and (max-width: 600px)
{
	html.responsive .ban_row_content {
		clear: both;
	}
}