

.imageWallRow {
	margin: 0;
	padding: 0;
}

.imageWallRow a.profile_media_item, .video_item a.profile_media_item {
	display: block;
	position: relative;
}

.imageWallRow a.profile_media_item.fill_height {
	height: 100%;
}

.imageWall4Floaters {
	margin: 0;
}
.imageWall4Floaters .floatHelp {
	width: 25%;
	float: left;
}
.imageWall4Floaters .imgWallItem {
	float: right;
	margin-top: -2px;
}

.imageWall5Floaters .floatHelp {
	width: 20%;
	float: left;
}

.imageWall2Floaters {
	position: relative;
}

.imageWall2Floaters .floatHelp:first-child {
	width: 50%;
}

.imageWall2Floaters .floatHelp:nth-child(2) {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
}

.imageWall4Split {
	position: relative;
}

.imageWall4Split .splitMain {
	width: 60%;
}

.imageWall4Split.left .splitMain {
	float: left;
}
.imageWall4Split.right .splitMain {
	float: right;
}

.imageWall4Split .splitSubs {
	width: 40%;
	position: absolute;
	top: 0;
	bottom: 0;
}
.imageWall4Split.left .splitSubs {
	right: 0;
}
.imageWall4Split.right .splitSubs {
	left: 0;
}

.imageWall4Split .splitSubs .splitSubMain {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 40%;
}

.imageWall4Split .splitSubs .splitSubSubs {
	position: absolute;
	left: 0;
	right: 0;
	top: 60%;
	bottom: 0;
}

.imageWall4Split .splitSubs .splitSubSubs .splitSubSub {
	width: 50%;
	height: 100%;
	float: left;
}

.imgWallHover {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	z-index: 2;
}

.imgWallItem {
	border: 1px solid black;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	position: absolute;
	top: 3px;
	right: 3px;
	bottom: 3px;
	left: 3px;
	overflow: hidden;
}

a.profile_media_item.auto_height .imgWallItem {
	position: static;
	margin: 3px;
}

.imgWall5050 {
	float: left;
	width: 50%;
}

.imgWallItem.loadError {

}

.imgWallItem.incompatible {
	border: 1px solid #c69c5f;
}

.imgWallItem.banned {
	border: 1px solid #ff0000;
}

.imgWallItem:hover {
	border: 1px solid #97c0e3;
}

.imgWallItemChecked  {
	border: 1px solid #97c0e3;
}


.imgWallHoverBottom {
	position: absolute;
	opacity: 0.75;
	filter:alpha(opacity=75);
	left: 0;
	bottom: 0;
	right: 0;
}

a.profile_media_item.auto_height .imgWallHoverBottom {
	left: 4px;
	bottom: 1px;
	right: 4px;
}

.imgWallHoverDescription {
	font-size: 13px;
	font-style: italic;
	height: 30px;
	padding-left: 2px;
	background-color: black;
	color: #7cc5fb;
}

.imgWallHoverDescriptionLarge {
	font-size: 20px;
}

.imgWallHoverDescription q, .imgWallHoverDescription span {
	padding-top: 5px;
	display: block;
}

.imgWallHoverCommentCount
{
	background-color: black;
	height: 30px;
	background-image: url( 'https://steamcommunity-a.akamaihd.net/public/images/skin_1/comment_quoteicon.png' );
	background-repeat: no-repeat;
	background-position: 5px 7px;
	padding-left: 24px;
	padding-right: 4px;
	float: right;
}

	/* infinite scrolling controls */

.imgWall_GetMoreContent
{
	width: 948px;
	height: 50px;
	line-height: 50px;
	margin: 0px auto;
	border:  1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	text-align: center;
	background-color: #262625;
}

.imgWall_GetMoreContentWait
{
	position: relative;
	max-width: 948px;
	height: 50px;
	line-height: 50px;
	margin: 0px auto;
	border:  1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	text-align: center;
	background-color: #1c1c1c;
}

.imgWall_GetMoreContentWait img
{
	vertical-align: middle;
	padding-right: 10px;
}

.imgWall_ProgressBarBG
{
	position: absolute;
	top: 200px;
	left: 179px;
	width: 600px;
	height: 25px;
	background-color: #000000;
	border: 2px solid #cccccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.imgWall_ProgressBar
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 25px;
	background-color: #cccccc;
}

.imgWallLoadingPageModal
{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 35px;
	height: 75px;
	overflow: hidden;
}

#action_wait.first_wait
{
	top: 20px;
}

.imgWallLoadingPageModal a
{
	text-decoration: underline;
}

.imgWallLoadingPageModal img
{
	vertical-align: middle;
	padding-right: 10px;
}

.imgWall_BackToTop
{
	position: fixed;
	left: 50%;
	bottom: 0;
	right: 10%;
	z-index: 800;

	box-shadow: 0 0 10px 2px #000000;
}

.imgWall_BackToTop > a {
	position: relative;
	display: block;
	height: 33px;
}

.imgWall_BackToTopButton
{
	background-image: url( 'https://steamcommunity-a.akamaihd.net/public/images/sharedfiles/btn_back_top_active.png' );
	height: 33px;
	line-height: 33px;
}

.imgWall_BackToTop:hover .imgWall_BackToTopButton
{
	background-image: url( 'https://steamcommunity-a.akamaihd.net/public/images/sharedfiles/btn_back_top_hover.png' );
}

.imgWall_BackToTopButton.middle
{
	margin: 0 3px;
	background-position: 0 -33px;
	background-repeat: repeat-x;
	text-align: center;
}

.imgWall_BackToTopButton.leftcap
{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 3px;
	background-position: 0 0;
}

.imgWall_BackToTopButton.rightcap
{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 3px;
	background-position: 0 -66px;
}

.imgWall_BackToTopBody a
{
	color: #b7b7b7;
}

.image_grid_dates
{
	width:958px;
	height:11px;
	position:relative;
	margin-bottom:12px;
}

.image_grid_title
{
	float: left;
	padding-right:6px;
}

.image_grid_rule
{
	overflow: hidden;
	padding-top: 7px;
	border-bottom: 1px solid #4d4d4d;
}

.image_wall_spoiler_cover
{
	position: absolute;
	left: 0;
	right: 0;
	top: 10%;
	bottom: 10%;
	cursor: pointer;
	background-color: black;
	z-index: 2;
}

.image_wall_spoiler_text
{
	position: absolute;
	top:40%;
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 400px)
{
	html.responsive .imageWall5Floaters .imgWallHoverBottom,
	html.responsive .splitSubSub .imgWallHoverBottom {
		display: none;
	}
}

@media screen and (max-width: 640px)
{
	html.responsive .imageWall5Floaters .floatHelp {
		width: 33%;
	}
	html.responsive .imageWall5Floaters .floatHelp:nth-child(4),
	html.responsive .imageWall5Floaters .floatHelp:nth-child(5) {
		width: 50%;
	}
}