
.workshop_header
{
	width: 948px;
	height: 203px;
	background-repeat: no-repeat;
	position: relative;
	box-shadow: 0 0 6px 0 #000000;
}

.browseAppDetails
{
	display: table;
	width: 958px;
	height: 206px;
	position: relative;
}

.customBrowseDescContainer
{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.customBrowseDesc
{
	text-align: left;
	width: 411px;
	float: right;
	margin-right: 20px;
	margin-bottom: 10px;
}

.customBrowseTitle
{
	font-size: 22px;
	color: #ffffff;
}

.customBrowseText
{
	font-size: 13px;
	line-height: 17px;
	color: #ffffff;
}

.Portal2CustomTextTitle
{
	position: relative;
	color: black;
}

.Portal2CustomTextDesc
{
	position: relative;
	color: black;
}

.CustomTextTitleDark
{
	position: relative;
	color: black;
}

.CustomTextDescDark
{
	position: relative;
	color: black;
}

.CustomTextDescDark a
{
	color: black;
}

.CustomTextDescLight
{
	position: relative;
	color: #dddddd;
}

.CustomTextDescLight a
{
	color: #e5e5e5;
}

.customBrowseText a
{
	text-decoration: underline;
}

/* browse menu in header */
.workshop_browse_menu_area
{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 25px;
	padding-left: 20px;
	background: -moz-linear-gradient(left, rgba( 43, 60, 85, 0.8 ) 5%, rgba( 42, 63, 95, 0.2 ) 95%);background: -webkit-gradient(linear, left top, right top, color-stop(5%,rgba( 43, 60, 85, 0.8 )), color-stop(95%,rgba( 42, 63, 95, 0.2 )));background: -webkit-linear-gradient(left, rgba( 43, 60, 85, 0.8 ) 5%,rgba( 42, 63, 95, 0.2 ) 95%);background: -o-linear-gradient(left, rgba( 43, 60, 85, 0.8 ) 5%,rgba( 42, 63, 95, 0.2 ) 95%);background: -ms-linear-gradient(left, rgba( 43, 60, 85, 0.8 ) 5%,rgba( 42, 63, 95, 0.2 ) 95%);background: linear-gradient(to right, rgba( 43, 60, 85, 0.8 ) 5%,rgba( 42, 63, 95, 0.2 ) 95%);	text-align: left;
}
.workshop_browse_tab
{
	font-size: 14px;
	display: inline-block;
	padding-right: 10px;
	color: #cccccc;
	line-height: 25px;

}
.workshop_browse_tab.drop {
	padding-right: 0px;
}
.workshop_browse_tab a
{
	color: #cccccc;
	padding-left: 10px;
}

.workshop_browse_tab a:hover,
.workshop_browse_tab.active a:hover
{
	color: #67c1f5;
}

.workshop_browse_tab.active,
.workshop_browse_tab.active a.dropdown {
	color: #fff;
}


.workshop_browse_tab a.dropdown
{
	padding-right: 20px;
	background-image: url(  'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAMCAYAAACA0IaCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MUFBQkYyMTI2QjhGMTFFNDlDQkJDQkEwNzc3NkZDQ0IiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MUFBQkYyMTM2QjhGMTFFNDlDQkJDQkEwNzc3NkZDQ0IiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxQUFCRjIxMDZCOEYxMUU0OUNCQkNCQTA3Nzc2RkNDQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxQUFCRjIxMTZCOEYxMUU0OUNCQkNCQTA3Nzc2RkNDQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PmBJsMgAAABKSURBVHjaYvz//z8DtQATAxXBqGGkAxZ0gWNHDuONXisbW0aiXWZta4dTMT45nN7EpomQQXjDDFkzMQZhDTO0HMGIRYw+sQkQYABhFRFejI1rLQAAAABJRU5ErkJggg==' );
	background-position: right center;
	background-repeat: no-repeat;
	margin-right: 4px;
	padding-top: 5px;
}

.workshop_browse_tab a.dropdown.hover
{
	color: #67c1f5;
	margin-top: auto;
	vertical-align: baseline;
	border-right: none;
	line-height: 20px;
	height: auto;
	background-color: #334256;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-right: 4px;
}
.workshop_browse_search
{
	position: absolute;
	top: 6px;
	height: 32px;
	right: 5px;
	padding: 0px 7px 0px 0px;
	background-color: #1a1a1a;
	border-radius: 4px;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-right: 1px solid #354357;
	border-bottom: 1px solid #354357;
}
input.search_text
{
	position: relative;
	left: 2px;
	padding: 0;
	padding-left: 4px;
	margin: 0;
	border: none;
	width: 250px;
	height: 25px;
}
input.search_text.default_text {
	color: #6d6d6a;
	font-style: italic;
}
.search_text_submit_img
{
	position: relative;
	top: 7px;
	width: 23px;
	height: 18px;
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
}

/* browsing section */
.workshop_browsing
{
	float: left;
	padding-top: 14px;
	padding-right: 10px;
	font-size: 18px;
	color: #67c1f5;
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
	font-weight: normal;
	margin-right: 4px;
}

.workshop_browsing_section
{
	color: white;
}

/* drop down menu */
a.dropdown.hover, a.dropdown:hover
{
	color: #e5e5e5;
	vertical-align: top;
	border-right: none;
	height: 38px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.navContent {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #334256 !important;
	padding: 12px 15px 12px 10px;
	text-align: left;
}
.navContent .admin {
	color: #ca5029;
}

.navContent a {
	color: #fff;
	font-size: 13px;
	display: block;
	text-decoration: none;
}

.navContent a:not(:first-child) {
	margin-top: 8px;
}

.navContent a:hover {
	color: #67c1f5;
}

.navContent > hr {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #4582a5;
	color: transparent;
	height: 1px;
	border-style: none;
}