
html.tablet body {
	font: var(--gpText-BodyLarge);
	color: var(--gpStoreLightestGrey);
}

html.tablet .community_space_clear {
	display: none;
}




/* MINI PROFILE */
html.tablet .miniprofile_hover {
	display: none !important;
}




/* PAGE */
html.tablet .responsive_page_content {
	min-height: 100vh;
	background: var(--gpGradient-StoreBackground);
}

@media screen and (max-width: 1120px) {
	html.tablet .responsive_page_content {
		background-attachment: fixed; /*fixed background causes perf issues on larger monitors*/
	}
}

html.tablet #profileBlock {
	width: unset;
	float: unset;
	max-width: unset;
}



/* TEXT */
html.tablet body,
html.tablet textarea,
html.tablet input {
	font-weight: 400;
}



/* BREADCRUMBS */
html.tablet .breadcrumbs {
	margin: 0px var(--gpSpace-Gutter);
	padding: unset;
}



/* HEADER */
html.tablet .profile_small_header_name {
	font: var(--gpText-HeadingLarge);
}

html.tablet .profile_small_header_additional .gameLogo a {
	display: flex;
}

html.tablet .profile_small_header_bg {
	background: none;
	height: unset;
	margin: unset;
	background-color: var(--gpStoreDarkerGrey);
	max-width: unset;
}

html.tablet .profile_small_header_text {
	padding-left: calc( 60px + 3% );
	bottom: 36px;
}

html.tablet .profile_small_header_texture {
	background: none;
	height: unset;
	display: flex;
	flex-direction: row;
	padding: 24px;
	gap: 16px;
	align-items: center;
	max-width: 1120px;
}

html.tablet .profile_small_header_text {
	position: unset;
	padding: unset;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	column-gap: 6px;
}

html.tablet .profile_small_header_avatar {
	position: unset;
	left: unset;
}

html.tablet .profile_small_header_avatar .playerAvatar.medium {
	width: 44px;
	height: 44px;
}

html.tablet .profile_small_header_avatar .playerAvatar.medium img {
	width: 42px;
	height: 42px;
}

html.tablet .profile_small_header_additional {
	position: unset;
	margin: -16px 0px -16px auto;
}

html.tablet .profile_small_header_additional .gameLogo {
	padding: unset;
	box-shadow: var(--gpShadow-Medium);
	margin: unset;
}





/* MAIN CONTAINER */
html.tablet body.migrated_profile_page #BG_bottom.maincontent {
	margin: 0px auto;
	padding: 0px var(--gpSpace-Gutter);
	padding-bottom: 24px;
	background: none;
	width: unset;
	max-width: 1120px;
}

html.tablet .maincontent {
    width: 100%;
}

html.tablet #mainContents {
	max-width: unset;
}

html.tablet #tabs_basebg {
	max-width: unset;
}





/* TABS */

/* Container */
html.tablet .sectionTabs,
html.tablet .apphub_sectionTabs {
	display: flex !important;
	column-gap: 6px;
	padding: unset;
	margin: unset;
	font-size: unset;
	margin: 0px calc(0px - var(--gpSpace-Gutter));
	padding: 24px var(--gpSpace-Gutter);
	scroll-padding: 0px 96px;
	overflow-x: scroll;
	width: calc( 100% + (var(--gpSpace-Gutter) * 2) );
	box-sizing: border-box;
}

html.tablet .sectionTabs {
	background: none;
	padding-top: 12px;
	padding-bottom: 12px;
}

html.tablet .apphub_sectionTabs {
	padding-top: 20px;
}

html.tablet .sectionTabs:after,
html.tablet .apphub_sectionTabs:after {
	content: "\00a0";
	min-width: var(--gpSpace-Gutter);
}

html.tablet .apphub_sectionTabs {
	scroll-snap-align: start;
}


/* Items */
html.tablet .sectionTab,
html.tablet a.sectionTab,
html.tablet .apphub_sectionTab {
	margin: unset;
	float: unset;
	height: unset;
	padding: 10px 16px;
	font: var(--gpText-BodyLarge);
	border-radius: var(--gpCorner-Medium);
	background: none;
	background-color: var(--gpBackground-LightSofter);
	transition: all 0.2s ease;
}

html.tablet a.sectionTab span {
	white-space: nowrap;
}

html.tablet .apphub_sectionTab {
	background-color: var(--gpBackground-Neutral-LightSofter);
}

/* Hovers */
html.tablet .sectionTab:hover,
html.tablet a.sectionTab:hover {
	background-color: var(--gpBackground-LightMedium);
}

html.tablet .apphub_sectionTab:hover {
	background-color: var(--gpBackground-Neutral-LightSoft);
}

html.tablet .apphub_sectionTab.active > span {
	padding: unset;
	border-radius: unset;
	background: unset;
}

/* Active */
html.tablet .sectionTab.active {
	background: unset;
	box-shadow: var(--gpShadow-Medium);
	background-color: var(--gpBackground-LightHard);
}

html.tablet .apphub_sectionTab.active {
	background-color: var(--gpBackground-Neutral-LightHard);
}

html.tablet .apphub_sectionTab.active:hover {
	padding: 10px 16px;
	background: unset;
	background-color: var(--gpBackground-Neutral-LightHarder);
}

/* Focus */
html.tablet .sectionTab.gpfocus,
html.tablet a.sectionTab.gpfocus,
html.tablet .apphub_sectionTab.gpfocus {
	border-radius: 0px;
	background-color: white;
}

html.tablet .sectionTab.gpfocus > span,
html.tablet a.sectionTab.gpfocus > span,
html.tablet .apphub_sectionTab.gpfocus > span {
	color: black !important;
}

html.tablet .sectionTab.active > span,
html.tablet .apphub_sectionTab.active > span {
	color: white;
	height: unset;
	padding: unset;
	background: none;
	line-height: unset;
	transition: all 0.2s ease;
}

/* Hide tab select */
html.tablet div.nonresponsive_hidden.responsive_tab_ctn {
	display: none;
}




/* PAGINATION */
html.tablet.touch .commentthread_pagedropdown,
html.tablet .commentthread_pagedropdown {
	display: none;
}

html.tablet .pagebtn,
html.tablet a.pagebtn,
html.tablet a.pagelink {
	font: var(--gpText-BodyMedium) !important;
	padding: 6px 16px;
	color: white;
	background-color: #FFFFFF20;
	border-radius: var(--gpCorner-Medium);
	transition: all 0.2s ease;
	font-weight: 700;
	display: inline-block;
}

html.tablet .pagination_space {
	display: none;
}

html.tablet a.pagelink {
	padding: 6px 12px;
	font-weight: 400;
}

html.tablet .pagebtn:hover,
html.tablet a.pagebtn:hover {
	color: #FFFFFF;
	background-color: #ffffff30;
}

html.tablet .pagebtn.gpfocus,
html.tablet a.pagebtn.gpfocus {
	color: black;
	background-color: white;
	border-radius: 0px;
}


/* Items per page */
html.tablet .commentthread_pagination_ctn {
	float: unset !important;
}

html.tablet .forum_pagesize_options {
	float: unset !important;
	display: flex;
	justify-content: center;
	padding: 16px;
	margin-top: 16px;
	border-top: 1px solid var(--gpBackground-LightSoft);
	color: var(--gpStoreLighterGrey);
	font: var(--gpText-BodyMedium);
	margin: unset;
}

html.tablet .commentthread_pagination_link {
	padding: 8px 16px;
	background-color: #FFFFFF40;
	display: inline-flex;
	border-radius: var(--gpCorner-Medium);
	transition: all 0.2s ease;
	background-color: var(--gpBackground-LightHard);
	color: white;
	box-shadow: var(--gpShadow-Medium);
}

html.tablet a.commentthread_pagination_link {
	background-color: var(--gpBackground-LightSoft);
	box-shadow: unset;
	color: var(--gpStoreLightestGrey);
}

html.tablet a.commentthread_pagination_link:hover {
	color: white;
	background-color: var(--gpBackground-LightMedium);
}

html.tablet a.commentthread_pagination_link.gpfocus {
	background-color: white;
	color: black;
	border-radius: 0px;
}




/* COMMUNITY AGE CHECK */
html.tablet .adult_content_age_gate {
	padding: 48px 48px;
}

html.tablet .adult_content_age_gate_header {
	box-shadow: var(--gpShadow-Medium);
	width: 240px;
}

html.tablet .adult_content_age_gate p.descriptor {
	font: var(--gpText-HeadingSmall);
	font-weight: 500;
	padding: unset;
	margin: 16px 0px;
}

html.tablet .adult_content_age_gate_warning_check {
	font: var(--gpText-BodyLarge);
	color: var(--gpStoreLightestGrey);
	display: inline-flex;
	align-items: center;
	column-gap: 8px;
	justify-content: center;
	margin-bottom: 16px;
	padding: 10px 16px;
	transition: background-color 0.2 ease,
				color 0.2 ease;
}

html.tablet .edit_preferences {
	margin-top: 40px;
	border-top: 1px solid var(--gpBackground-LightSoft);
	padding-bottom: 24px;
}

html.tablet .adult_content_age_gate_warning_check:hover,
html.tablet .adult_content_age_gate_warning_check.gpfocus {
	background-color: var(--gpBackground-LightSoft);
	color: white;
}

html.tablet .adult_content_age_gate_warning_check #ViewAllForApp {
	margin: unset;
}




/* CARDS */
html.tablet .apphub_Card {
	margin: unset;
	background-color: var(--gpStoreDarkestGrey);
	box-shadow: var(--gpShadow-Medium);
	border: none;
	flex: auto;
	margin-right: 6px;
	margin-left: 6px;
	margin-bottom: 12px;
}

html.tablet .apphub_Card.interactable:hover {
	border: none;
}

html.tablet .apphub_CardContentAuthorBlock {
	border-top: none;
}

html.tablet .apphub_CardContentDiscussionType {
	border-top: none;
}

html.tablet .apphub_CardContentPreviewImageBorder {
	padding: 8px;
}

html.tablet .apphub_CardContentType {
	margin: 8px;
}

html.tablet .apphub_CardContentTitle {
	font: var(--gpText-BodyMedium);
	color: var(--gpStoreLighterGrey);
}

html.tablet .apphub_CardClear {
	display: none;
}





/* RIGHT PANEL */
html.tablet .responsive_page_menu_ctn {
	box-shadow: var(--gpShadow-XLarge);
}

html.tablet .responsive_page_menu_ctn.localmenu .responsive_page_menu {
	background: var(--gpStoreDarkerGrey);
}

html.tablet .apphub_ResponsiveMenuCtn {
	display: flex;
	column-gap: 8px;
}

html.tablet .apphub_ResponsiveMenuCtn a {
	flex-grow: 1;
}

html.tablet .responsive_page_menu_ctn.localmenu .localmenu_subarea {
	background: unset;
	padding: unset;
}

html.tablet .responsive_page_menu_ctn.localmenu .localmenu_subarea .subheader,
html.tablet .rightbox_content_header,
html.tablet .rightSectionTopTitle {
	font: var(--gpText-BodySmall);
	font-weight: 700;
	color: var(--gpStoreLighterGrey);
	letter-spacing: 0.5px;
	text-transform: uppercase;
	padding-top: 0px;
}

html.tablet .rightDetailsBlock {
	font: var(--gpText-BodyMedium);
}

html.tablet .responsive_page_menu_ctn.localmenu .localmenu_subarea .subheader {
	margin: 20px 0px 4px;
}

html.tablet .rightSectionTopTitle {
	margin-bottom: 8px;
}

html.tablet .rightcol,
html.tablet .right_column {
	width: var(--gpCommunityRightPanelWidth);
	padding-left: 24px;
}

html.tablet .thread .rightcol {
	margin-top: 16px;
}

html.tablet .thread .rightcol .rightbox {
	background: none;
	border: 2px solid var(--gpBackground-Neutral-LightSofter);
}

html.tablet .rightbox .rule,
html.tablet #ig_bottom .rightSectionDivider {
	margin: 0px 16px;
}

html.tablet .panel .hr {
	margin: 0px;
}

html.tablet .rightbox .rule,
html.tablet #ig_bottom .rightSectionDivider,
html.tablet .panel .hr {
	border: none;
	background-color: var(--gpBackground-Neutral-LightSofter);
	left: -16px;
}

html.tablet .thread .rightcol .rightbox .content {
	padding: 16px;
}

html.tablet .thread .rightcol .rightbox .content .topicstats {
	font: var(--gpText-BodyMedium);
}

html.tablet .topicstats_label {
	color: var(--gpStoreLighterGrey);
}

html.tablet .topicstats_value {
	color: var(--gpStoreLightestGrey);
}

html.tablet .rightbox .content,
html.tablet .rightbox_content_header,
html.tablet #ig_bottom .sidebar .panel,
html.tablet #ig_bottom .sidebar .detailPanel {
	padding: 16px;
}

html.tablet #your_guides .content {
	padding-top: 12px;
}

@media screen and (min-width: 910px) {
	html.tablet #rightContents {
		width: var(--gpCommunityRightPanelWidth);
	}

	html.tablet #ig_bottom .sidebar {
		padding-left: 24px;
		width: var(--gpCommunityRightPanelWidth);
	}
}



/* Panel seach */
html.tablet .discussionSearchTextContainer {
	background: none;

	/* TODO: Hiding search until we investigate why search loads a different template */
	display: none;
}

html.tablet .discussionSearchTextContainer input.discussionSearchText {
	width: 100%;
}

html.tablet .discussionSearchTextContainer .discussionSearchTextSubmitImg {
	display: none;
}



/* WORKSHOP FILES HEADER */
html.tablet .current_player_files_ctn {
	display: flex;
	align-items: center;
	column-gap: 8px;
	padding: 12px;
}

/* Avatar */
html.tablet .current_player_files_ctn .avatar_ctn {
	height: unset;
	float: unset;
}

html.tablet .current_player_files_ctn .avatar_ctn .playerAvatar {
	float: unset;
	width: unset;
	height: unset;
	margin: unset;
}

html.tablet .current_player_files_ctn .avatar_ctn .playerAvatar a {
	display: flex;
}

html.tablet .current_player_files_ctn .avatar_ctn .playerAvatar a img {
	position: unset;
	width: 48px;
	height: auto;
}

html.tablet .current_player_files_ctn .avatar_workshop_overlay {
	display: none;
}

/* Player info */
html.tablet .current_player_files_ctn .current_player_workshop_title a {
	padding: unset;
	float: unset;
	font: var(--gpText-BodyLarge);
	font-weight: 500;
}

html.tablet .current_player_files_ctn .current_player_workshop_link {
	padding: unset;
	float: unset;
}



/* PAGINATION */
html.tablet .workshopBrowsePagingWithBG {
	background: unset;
	padding: unset;
	align-items: center;
	margin: 0px 0px 8px;
}

html.tablet .workshopBrowsePagingInfo {
	color: white;
	opacity: 0.6;
	font: var(--gpText-BodyMedium);
}

html.tablet .workshopBrowsePagingControls {
	display: flex;
	column-gap: 4px;
	align-items: center;
}




/* SEARCH TERMS */
html.tablet .searchedForTerm {
	color: white;
	background-color: var(--gpColor-Green);
	border: unset;
	padding: 6px 8px;
	transition: background-color 0.2s ease, border-radius 0.2s ease;
}

html.tablet .searchedForTerm:hover {
	background-color: var(--gpColor-GreenHi);
}

html.tablet .searchedForTerm.gpfocus {
	background-color: var(--gpColor-GreenHi);
	border-radius: 0px;
}




/* COMMENTS */
html.tablet .profile_comment_area {
	margin-top: 48px;
}

html.tablet .profile_comment_area .commentthread_header {
	background: none;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 12px 16px;
	border-radius: 0px;
}

html.tablet .commentthread_comment_container {
	margin-top: 6px;
}

html.tablet .profile_comment_area .commentthread_header .commentthread_count {
	display: flex;
	align-items: center;
	gap: 12px;
}

html.tablet .commentthread_header_label {
	font-weight: 500;
	color: white;
}

html.tablet .commentthread_count_label {
	margin-right: unset;
}

html.tablet .commentthread_user_avatar a {
	display: flex;
}

html.tablet .commentthread_comment_avatar a {
	display: flex;
}

html.tablet .commentthread_entry_quotebox {
	border: unset;
	border-radius: unset;
	background: none;
	box-shadow: unset;
	padding: unset;
	margin: unset;
}

html.tablet .commentthread_area .commentthread_header {
	/* background: unset; */
}


/* Comment items */
html.tablet .profile_comment_area .commentthread_comment_container {
	border: none;
}

html.tablet .commentthread_comments {
	display: flex;
	flex-direction: column;
	gap: 6px;
	backdrop-filter: blur(8px);
}

html.tablet .commentthread_comment {
	transition: background-color 0.1s ease;
	background-color: #ffffff10;
	margin: unset;
	display: flex;
	padding: 16px;
	min-height: unset;
	gap: 16px;
}

html.tablet .commentthread_comment_avatar {
	position: unset;
}

html.tablet .commentthread_comment_content {
	flex: auto;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

html.tablet .commentthread_comment.gpfocus {
	background-color: #ffffff20;
}

html.tablet .commentthread_comment_author {
	margin: unset;
	line-height: unset;
	font: var(--gpText-BodyMedium);
	color: rgba(255, 255, 255, 0.8);
}

html.tablet .commentthread_comment_author a {
	font-size: unset;
	color: rgba(255, 255, 255, 0.8);
}

html.tablet .commentthread_comment_timestamp {
	font-size: unset;
	color: unset;
	margin: unset;
	color: rgba(255, 255, 255, 0.5);
}

html.tablet .commentthread_comment_text {
	font-size: unset;
	color: unset;
	color: rgba(255, 255, 255, 0.9);
	line-height: unset;
}


/* Comment box */
html.tablet .commentthread_entry_quotebox textarea {
	background-color: #FFFFFF20;
	border-radius: var(--gpCorner-Medium);
	font: var(--gpText-BodyLarge);
	color: white;
	transition: all 0.1s ease;
	padding: 8px 10px;
	box-shadow: unset;
	border: unset;
	margin: unset;
	box-sizing: border-box;
	text-shadow: unset;
	height: unset !important;
}

html.tablet .commentthread_entry_quotebox textarea::placeholder {
	color: unset;
	opacity: 0.5;
}

html.tablet .commentthread_entry_quotebox textarea:hover {
	background-color: #ffffff30;
}

html.tablet .commentthread_entry_quotebox textarea:focus {
	background-color: white;
	color: black;
	height: 80px !important;
}

html.tablet .commentthread_entry_quotebox textarea.gpfocus {
	border-radius: 0px;
}

html.tablet .commentthread_footer {
	border: none;
}

html.tablet .profile_comment_area .commentthread_header .commentthread_allcommentslink {
	font: var(--gpText-BodyMedium);
}

html.tablet .profile_comment_area .commentthread_subscribe_checkbox {
	width: 20px;
	height: 20px;
	border: none;
	background-color: var(--gpBackground-LightSoft);
	border-radius: var(--gpCorner-Medium);
}

html.tablet .commentthread_subscribe_hint {
	display: none;
}

html.tablet .commentthread_entry {
	background-color: unset;
}


/* Subscribe link */
html.tablet .commentthread_subscribe_ctn {
	display: inline-flex;
	align-items: center;
	padding: 4px 12px 4px 4px;
	gap: 4px;
	border-radius: var(--gpCorner-Medium);
	transition: background-color 0.2s ease;
}

html.tablet .commentthread_subscribe_ctn:hover {
	background-color: #FFFFFF20;
}

html.tablet .commentthread_subscribe_ctn {
	font: var(--gpText-BodyMedium);
}