
/* PAGE LAYOUT */
html.tablet .responsive_page_template_content {
	display: flex;
}

html.tablet #deck_friends_nav_ctn {
	width: var(--gpNavWidth);
	height: 100vh;
	overflow-y: auto;
	position: fixed;
	scroll-padding-top: 48px;
	scroll-padding-bottom: 48px;
	background-color: var(--gpBackground-DarkMedium);
	padding: 8px;
	box-sizing: border-box;
}

html.tablet .friends_nav {
	min-width: unset;
	padding: 0px 0px 24px 0px;
	margin: 0px;
}

html.tablet .friends_nav:not(.expanded) {
	margin-top: unset;
}

html.tablet #pagecontent {
	width: calc( 100vw - var(--gpNavWidth) );
	margin-right: 0px;
	padding: 20px var(--gpSpace-Gutter);
	box-sizing: border-box;
	min-height: 100vh;
	max-width: unset;
}




/* HEADER */
html.tablet .friends_header_bg {
	height: unset;
	background: none;
	padding-bottom: 24px;
	padding: 8px 12px;
	transition: background-color 0.1s ease;
}

html.tablet .friends_header_bg:hover,
html.tablet .friends_header_bg.gpfocus {
	background-color: var(--gpBackground-LightSoft);
}

html.tablet .friends_header_name a {
	transition: color 0.1s ease;
}

html.tablet .friends_header_ctn {
	margin: unset;
	align-items: center;
	column-gap: 12px;
}

html.tablet .friends_header_avatar {
	float: unset;
}

html.tablet .friends_header_avatar,
html.tablet .friends_header_avatar img {
	width: 44px;
	height: 44px;
}

html.tablet .friends_header_avatar a {
	display: flex;
}

html.tablet .friends_header_name {
	padding: unset;
	font: var(--gpText-HeadingLarge);
}

html.tablet .friends_header_name {
	font: var(--gpText-BodyLarge);
}

html.tablet .friends_header_avatar,
html.tablet .friends_header_avatar img {
	width: 32px;
	height: 32px;
}





/* INPUTS */

/* Search input box */
html.tablet #search_text_box,
html.tablet #search_text_box_sent {
	padding-left: 40px;
	margin: unset;
}

html.tablet #search_text_box,
html.tablet #search_text_box_sent {
	background-image: url('https://community.cloudflare.steamstatic.com/public/shared/images/ico_gamepad/search.svg');
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 8px;
}




/* FRIENDS NAVIGATION */
html.tablet .friends_nav:not(.expanded) > *,
html.tablet .friends_nav:not(.expanded) > a {
	display: block;
}

html.tablet .active .down_arrow_context_menu {
	display: none;
}

html.tablet .friends_nav .hr {
	display: none;
}

html.tablet .friends_nav h4 {
	font: var(--gpText-BodySmall);
	text-transform: uppercase;
	color: var(--gpStoreLightGrey);
	letter-spacing: 0.5px;
	font-weight: 700;
	margin: 8px 12px;
	padding: 8px 0px 0px;
}

html.tablet .friends_nav a {
	padding: 12px 12px;
	transition: background-color 0.1s ease;
}

html.tablet .friends_nav a .title {
	transition: color 0.1s ease;
}

html.tablet .friends_nav a:hover,
html.tablet .friends_nav a.gpfocus {
	background-color: var(--gpBackground-LightSoft);
}

html.tablet .friends_nav a.active {
	background-color: var(--gpBackground-LightMedium);
}

html.tablet .friends_nav a.active.gpfocus {
	background-color: var(--gpBackground-LightHard);
}

html.tablet .friends_nav a.active .title,
html.tablet .friends_nav a:hover .title,
html.tablet .friends_nav a.gpfocus .title {
	color: white;
}

html.tablet .friends_nav a .title {
	background: none;
	font: var(--gpText-BodyLarge);
	color: var(--gpStoreLightestGrey);
	padding: unset;
	transition: color 0.1s ease;
}

html.tablet .count,
html.tablet .em_count {
	font: var(--gpText-BodyMedium);
	font-weight: 500;
	padding: 0px 8px;
	border-radius: 40px;
	float: right;
}

html.tablet .em_count {
	background-color: var(--gpColor-GreenHi);
}




/* SEACH RESULTS */

/* No results */
html.tablet .search_results_none,
html.tablet .noCoplayHistory {
	background: none;
	font: var(--gpText-BodyLarge);
	border: 1px solid var(--gpBackground-LightMedium);
	margin-top: 16px;
}




/* BADGES */
html.tablet .currentTradeBan {
	color: #cb594d;
	font: var(--gpText-BodyMedium);
}




/* FRIENDS CONTENT */
html.tablet .friends_content {
	margin-top: unset;
}

html.tablet .friends_container {
	margin: unset;
	row-gap: 8px;
}

html.tablet .profile_friends.title,
html.tablet .profile_groups.title {
	display: unset;
	flex: auto;
	font: var(--gpText-HeadingLarge);
	min-width: unset;
	padding: unset;
	text-transform: unset;
	letter-spacing: unset;
	width: 100%;
	margin-bottom: 8px;
}

html.tablet .profile_friends.title_bar,
html.tablet .profile_groups.title_bar {
	gap: 8px;
	margin-bottom: 16px;
}

html.tablet .friends_limit {
	font-size: unset;
}

html.tablet #manage_friends_control {
	flex-grow: unset;
}

html.tablet #friends_list #manage_friends_control {
	flex-grow: 0.5;
}

html.tablet .friends_container {
	font: var(--gpText-BodyLarge);
}





/* YOUR FRIENDS */
html.tablet #search_results {
	row-gap: 6px;
	margin: unset;
	box-sizing: border-box;
}

html.tablet .state_block {
	font: var(--gpText-BodySmall);
	text-transform: uppercase;
	color: var(--gpStoreLightGrey);
	letter-spacing: 0.5px;
	font-weight: 700;
	margin: 16px 0px 4px;
	padding: 0px;
}

html.tablet .friend_block_v2 {
	display: flex;
	align-items: center;
	margin: unset;
	border: unset;
	column-gap: 16px;
	font: var(--gpText-BodyLarge);
	background-color: var(--gpBackground-LightSofter);
	transition: background-color 0.2s ease;
	height: unset;
	width: 100%;
}

@media screen and (min-width:  1280px) {
	html.tablet #search_results {
		column-gap: 6px;
	}
	html.tablet .friend_block_v2 {
		width: calc(50% - 3px);
	}
}

html.tablet .select_friend_checkbox {
	display: none;
}

html.tablet .friend_block_v2.in-game .friend_block_content,
html.tablet #friends_broadcast_moderator .friend_broadcast_moderator_v2 .friend_broadcast_moderator_content,
html.tablet #friends_blocked .friend_block_v2 .friend_block_content {
	margin: unset;
}

html.tablet .player_nickname_hint br {
	display: none;
}

html.tablet .blocked_text {
	color: var(--gpColor-Red);
}

html.tablet .friend_block_v2 .friend_last_online_text,
html.tablet .friend_block_v2 .friend_small_text {
	font: var(--gpText-BodyMedium);
	margin-top: -1px;
}

html.tablet .friend_block_v2 .friend_game_link {
	font-size: unset;
	line-height: unset;
}

html.tablet .friend_block_v2:focus-within {
	background-color: var(--gpBackground-LightMedium);
}

html.tablet .friend_block_v2:hover {
	box-shadow: unset;
}

html.tablet .friend_block_v2 .friend_block_content {
	font: var(--gpText-BodyLarge);
	font-weight: 500;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	margin: unset;
	justify-content: space-between;
	padding-right: 12px;
	flex: auto;
	transition: padding 0.2s ease;
}

html.tablet .player_avatar {
	margin: unset;
	display: flex;
}

html.tablet .player_avatar img {
	border-radius: unset;
	width: 44px;
	height: 44px;
}

html.tablet .persona.offline {
	color: var(--gpStoreLighterGrey);
}

/* Selectable */
html.tablet .friend_block_v2.selectable.manage.selected {
	outline: 2px solid var(--gpColor-Blue);
	border: none;
}

html.tablet .friend_block_v2.selectable.manage .friend_block_content {
	padding-right: 48px;
}

html.tablet .friend_block_v2 .indicator {
	right: 12px;
	width: 24px;
	height: 24px;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--gpBackground-DarkMedium);
	border-radius: 2px;
	box-shadow: inset 0px 2px 3px var(--gpBackground-DarkMedium);
}

html.tablet .friend_block_v2.selectable.manage.selected .indicator {
	background-color: var(--gpColor-Blue);
	background-image: url("../../../shared/public/images/ico_gamepad/check.svg");
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0px 2px 3px var(--gpBackground-DarkSoft);
}



/* Actions */
html.tablet #add_friends_button {
	margin: unset;
}

html.tablet .add_friend_icon {
	display: none;
}

/* Manage friends */
html.tablet .manage_friends_panel.manage {
	margin-top: 0px;
	background: none;
	/* border: 2px solid var(--gpBackground-LightMedium); */
	box-shadow: unset;
	padding: 12px 16px;
	box-sizing: border-box;
	row-gap: 12px;
	flex-wrap: wrap;
	background: var(--gpBackground-DarkSoft);
}

html.tablet .manage_friend_actions_ctn {
	display: flex;
	column-gap: 4px;
	margin-bottom: 12px;
}

html.tablet .manage_friends_panel .row {
	margin: unset;
	font: var(--gpText-BodyLarge);
	color: var(--gpStoreLightestGrey);
}

html.tablet .manage_action {
	margin: unset;
}

html.tablet #selected_msg,
html.tablet #selected_msg_err {
	color: white;
}

html.tablet .manage_friends_panel .row > .selection_type {
	padding: 4px 12px;
	background: var(--gpBackground-LightSoft);
	border-radius: 2px;
	display: inline-block;
}

html.tablet .btnv6_blue_hoverfade.btn_active {
	background: var(--gpBackground-DarkMedium);
	box-shadow: inset 0px 3px 4px rgba(0,0,0,0.4);
}




/* PENDING INVITES */

/* Friend block */
html.tablet .invite_row {
	background: none;
	background-color: var(--gpBackground-LightSofter);
	margin: unset;
	padding: 12px;
	row-gap: 0px;
	transition: background-color 0.2s ease;
}

html.tablet .invite_row:focus-within {
	background-color: var(--gpBackground-LightSoft);
}

html.tablet .invite_row .invite_row_content {
	padding: unset;
	gap: 12px;
	/* flex: 0; */
}

html.tablet .invite_row_left {
	align-items: center;
}

html.tablet .invite_row .event_title {
	font: var(--gpText-BodyLarge);
	font-weight: 500;
}

html.tablet .playerAvatar a {
	display: flex;
}

html.tablet .invite_row .actions a {
	margin: unset;
}

html.tablet .invite_row .actions {
	gap: 8px;
	justify-content: flex-end;
}




/* RECENTLY PLAYED WITH */
html.tablet .profile_friends.responsive_friendblocks {
	background: none;
	padding: unset;
	font: var(--gpText-BodyLarge);
}




/* GROUPS */
html.tablet .avatarMedium a {
	display: flex;
}

html.tablet .groupTitle {
	font: var(--gpText-HeadingSmall);
	font-weight: 500;
	margin-bottom: 4px;
}

html.tablet #primaryGroupBreak {
	display: none;
}

html.tablet .memberRow {
	font: var(--gpText-BodySmall);
	margin: unset;
	display: flex;
	column-gap: 4px;
}

html.tablet .group_block_medium {
	margin: unset;
}

html.tablet .infoBreak {
	color: var(--gpBackground-LightHard);
}