
@define greyish_medium: #81a3b8;
@define almost_white: #c7d5e0;
@define app_warning_color: #f47b20;


////////////////////////////////////
// Discounted Price
////////////////////////////////////
.DiscountBlock
{
	flow-children: right;
	font-size: 26px;
}

.DiscountFinalPrice
{
	padding-right: 8px;
	horizontal-align: right;
}

.DiscountPercent
{
	color: #a4d007;
	background-color: #4c6b22;
	padding: 0px 4px;
	margin-right: 4px;
}


////////////////////////////////////
// Platform Logos
////////////////////////////////////
.PlatformLogo
{
	width: 36px;
	height: 36px;
	background-size: 100%;
}

.WindowsLogo
{
	background-image: url( "file://{images}/store/icon_platform_win.png" );
}

.MacLogo
{
	background-image: url( "file://{images}/store/icon_platform_mac.png" );
}

.LinuxLogo
{
	background-image: url( "file://{images}/store/icon_platform_linux.png" );
}

.StreamingVideoLogo
{
	background-image: url( "file://{images}/store/icon_platform_streamingvideo.png" );
}

////////////////////////////////////
// Basic Capsules
////////////////////////////////////
.BasicCapsule
{
	width: 550px;
	height: 370px;
	padding: 0px;
	margin: -10px -15px;
	border-radius: 3px;

	pre-transform-scale2d: 0.94;

	transition-property: transform, opacity, pre-transform-scale2d;
	transition-duration: 0.15s;
	transition-timing-function: bigpicture-ease-in-out;

	z-index: -200;
}

.BasicCapsule .BasicCapsuleBackground
{
	width: 540px;
	height: 360px;
	margin-left: 5px;
	margin-top: 5px;

	border-radius: 3px;

	//background-color: nontransparent_module;

	//box-shadow: module_shadow;
}

.BasicCapsule:focus .BasicCapsuleBackground,
.BasicCapsule:hover .BasicCapsuleBackground
{
	width: 540px;
	height: 360px;

	box-shadow: none;
}

.BasicCapsule:focus,
.BasicCapsule:hover
{
	width: 550px;
	height: 370px;

	animation-name: main-button-glow-movement-no-fill;
	animation-duration: longduration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;

	background-color: #b4dff7;

	pre-transform-scale2d: 1.0;
	z-index: 200;
}
.BasicCapsule:hover
{
	z-index: 201;
}

.BasicCapsuleInfo
{
	position: 0px 314px 0px;
	height: 50px;
	flow-children: right;
	font-size: 24px;
    color: #7892a0;
	margin: 0px 5px 5px 5px;

    transition-property: color;
    transition-duration: shortduration;
    transition-timing-function: bigpicture-ease-in-out;
}

.BasicCapsule:focus .BasicCapsuleInfo,
.BasicCapsule:hover .BasicCapsuleInfo
{
	color: white;
	background-color: action_module;

	background-image: url( "file://{images}/systemmenu/capsule_01.jpg" );
	background-position: 0px -60px;
	background-repeat: no-repeat;
	background-size: cover;

	border-radius: 0px 0px 3px 3px;
}

.BasicCapsuleImage
{
	width: 540px;
	height: 309px;
	margin-left: 5px;
	margin-top: 5px;

	border-radius: 3px 3px 3px 3px;

	box-shadow: module_shadow;
}
.BasicCapsule:focus .BasicCapsuleImage,
.BasicCapsule:hover .BasicCapsuleImage
{
	box-shadow: none;
	border-radius: 3px 3px 0px 0px;
}

.BasicCapsuleStatus
{
	width: fill-parent-flow( 1.0 );
	padding-left: 0px;
	padding-top: 10px;
	font-weight: light;

	transition-property: transform;
	transition-duration: supershortduration;
	transition-timing-function: ease-in-out;
}
.BasicCapsule:focus .BasicCapsuleStatus,
.BasicCapsule:hover .BasicCapsuleStatus
{
	transform: translateX( 8px );
}

.BasicCapsule .DiscountBlock
{
	margin-top: 10px;

	transition-property: transform;
	transition-duration: supershortduration;
	transition-timing-function: ease-in-out;
}

.BasicCapsule .DiscountFinalPrice
{
	padding-right: 0px;

}
.BasicCapsule:focus .DiscountBlock,
.BasicCapsule:hover .DiscountBlock
{
	transform: translateX( -8px );
}


////////////////////////////////////
// Basic Header
////////////////////////////////////
.BasicHeader
{
	width: 470px;
	height: 275px;
	padding: 0px;
	margin: -10px -15px;
	border-radius: 3px;

	pre-transform-scale2d: 0.94;

	transition-property: transform, opacity, pre-transform-scale2d;
	transition-duration: 0.15s;
	transition-timing-function: bigpicture-ease-in-out;

	z-index: -200;
}

.BasicHeader .BasicHeaderBackground
{
	width: 460px;
	height: 265px;
	margin-left: 5px;
	margin-top: 5px;

	background-color: nontransparent_module;

	box-shadow: module_shadow;
}

.BasicHeader:focus .BasicHeaderBackground,
.BasicHeader:hover .BasicHeaderBackground
{
	width: 460px;
	height: 265px;

	box-shadow: none;
}

.BasicHeader:focus,
.BasicHeader:hover
{
	width: 470px;
	height: 275px;

	animation-name: main-button-glow-movement-no-fill;
	animation-duration: longduration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;

	background-color: #b4dff7;

	pre-transform-scale2d: 1.0;
	z-index: 200;
}

.BasicHeaderInfo
{
	position: 0px 220px 0px;
	height: 50px;
	flow-children: right;
	font-size: 22px;
	color: detailsdatalabel;
	margin: 0px 5px 5px 5px;

	transition-property: color;
	transition-duration: shortduration;
	transition-timing-function: bigpicture-ease-in-out;
}

.BasicHeader:focus .BasicHeaderInfo
{
	color: white;
	background-color: action_module;

	background-image: url( "file://{images}/systemmenu/capsule_01.jpg" );
	background-position: 0px -60px;
	background-repeat: no-repeat;
	background-size: cover;
}

.BasicHeaderImage
{
	width: 460px;
	height: 215px;
	margin-left: 5px;
	margin-top: 5px;
}

.BasicHeader .BasicCapsuleImage
{
	width: 460px;
	height: 215px;
	margin-left: 5px;
	margin-top: 5px;

	border-radius: 3px 3px 3px 3px;

	box-shadow: module_shadow;
}
.BasicHeader:focus .BasicCapsuleImage,
.BasicHeader:hover .BasicCapsuleImage
{
	box-shadow: none;
	border-radius: 3px 3px 0px 0px;
}

.BasicHeaderStatus
{
	width: fill-parent-flow( 1.0 );
	padding-left: 8px;
	padding-top: 10px;
}

.BasicHeader .DiscountBlock
{
	margin-top: 10px;
}

//
// User Reviews
//

.ReviewHeader {
	background-color: #000;
	padding: 10px;
	flow-children: right;
	width: 1600px;
	margin-bottom: 10px;
}

.ReviewHeader  .HeaderTextContainer {
	flow-children: right;
	color: #72899e; // @todo
	font-size: 24px; // @todo

}

.ReviewHeader > .HeaderTextContainer Label.Count {
	color: #333333; // @todo
	margin-left: 5px;
}

.ReviewHeader .ScoreContainer {
	width: fill-parent-flow(1.0);
	horizontal-align: right;
}

.ReviewHeader .ScoreContainer Label {
	horizontal-align: right;
	font-size: 24px; // @todo
	color: #72899e; // @todo
}

.ReviewHeader .ScoreContainer Image {
	horizontal-align: right;
}

.AppReviewsContainer {
	padding-top: 81px;
	flow-children: right-wrap;
}

.Recommendation {

	font-family: platformfont;
	font-size: 22px;
	color: #72899e;
	background-color: transparent_module;

	box-shadow: module_shadow;

	opacity: 0.85;
	desaturation: 0.2;

	margin-left: 0px;
	margin-right: 20px;
	margin-bottom: 20px;

	/*pre-transform-scale2d: 0.9; */

	transition-property: border, blur, box-shadow, opacity, desaturation, pre-transform-scale2d;
	transition-timing-function: ease-out;
	transition-duration: shortmedduration;

	z-index: 1;

	padding: 10px;
	width: 520px;
	margin-bottom: 10px;
}

.Recommendation.Wide {
	width: 1060px;
}


.Recommendation:focus,
.Recommendation:hover
{
	z-index: 3;
	opacity: 1.0;
	desaturation: 0.0;
	animation-name: main-button-glow-movement-no-fill;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;

	background-image: url( "file://{images}/systemmenu/capsule_01.jpg" );
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: cover;
}


.Recommendation .ReviewCtn
{

	overflow: clip;
	height: fit-children;
	width: 100%;
	flow-children: down;
}
.Recommendation .BackgroundImage
{
	width: 184px;
	height: 184px;

	overflow: clip;
	opacity: 0.4;
	blur: gaussian( 1.0 );
	desaturation: 0.8;
	opacity-mask: url( "file://{images}/community/item_image_mask.png" );

	pre-transform-scale2d: 1.6;

	transition-delay: 0s;
	transition-duration: supershortduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-property: pre-transform-scale2d;
}

.Recommendation:focus .Image
{
	pre-transform-scale2d: 1.1;
}
.Recommendation .Contents
{
	width: 100%;
	height: 100%;
	flow-children: down;
	padding: 0px;
	margin: 10px;
}
.Recommendation .Bottom
{
	height: fit-children;
	width: 100%;

	flow-children: down;
	vertical-align: bottom;
}
.Recommendation .Bottom .ReviewText
{
	height: 150px;
	margin-left: 55px;
	margin-top: 10px;
	color: #ffffff;
	font-style: italic;
}



.Recommendation .ReviewDetails
{
	width: 400px;
	flow-children: down;
	margin-top: -2px;
}


.Recommendation .Bottom
{
	flow-children: down;
	vertical-align: bottom;
}

.Recommendation .ReviewStats
{
	flow-children: right;
	color: #66c0f4;
	width: 100%;
}


.Recommendation .ReviewStats Image
{
	height: 45px;
	width: 45px;
	background-color: #000000;
}

.Recommendation.AppHubItemTall .ReviewStats Image
{
	margin-left: 0px;
}

.Recommendation .ReviewStats Label
{
	margin-left: 10px;
	vertical-align: center;
	font-size: 24px;

}

.Recommendation .ReviewStats .AppName 
{
	color: white;
}

.Recommendation .ReviewText 
{
	height: 40%;
	font-size: 24px;
}

////////////////////////////////////
// In Library Icons
////////////////////////////////////
.InLibraryWrapper Image
{
	opacity: 0.5;
	desaturation: 0.6;
	wash-color: #2f89bc80;

	box-shadow: none;

	transition-property: opacity, desaturation, wash-color;
	transition-duration: supershortduration;
	transition-timing-function: ease-in-out;
}
.BasicCapsule:descendantfocus .InLibraryWrapper Image,
.BasicHeader:descendantfocus .InLibraryWrapper Image,
.UpdatedItem:descendantfocus .InLibraryWrapper Image,
.PromoItemContainer:descendantfocus .InLibraryWrapper Image
{
	opacity: 1;
	desaturation: 0;
	wash-color: #2f89bc00;
}
.InLibraryPanel
{
	align: right bottom;
	margin-bottom: 10px;
}

.InLibraryIcon
{
	height: 40px;

	background-color: none;

	background-image: url( "https://steamstore-a.akamaihd.net/public/images/bigpicture/icon_in_library.png" );
   	background-repeat: no-repeat;
   	background-size: 64px 64px;
   	background-position: 6px center;

	margin-left: -74px;
	margin-right: 74px;
	transform: translateX( 100% );

	transition-property: transform, background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.BasicCapsule:descendantfocus .InLibraryIcon,
.BasicHeader:descendantfocus .InLibraryIcon,
.UpdatedItem:descendantfocus .InLibraryIcon,
.PromoItemContainer:descendantfocus .InLibraryIcon
{
	transform: translateX( 74px );
	background-color: #14c4f9;
	box-shadow: module_shadow;
}

.InLibraryIcon Label
{
	margin-left: 80px;
	vertical-align: center;
	font-size: 24px;
	color: white;

	margin-right: 8px;
}
