<root>
	<styles>
		<include src="file://{resources}/styles/steamstyles.css" />
		<include src="file://{resources}/styles/settings.css" />
	</styles>

	<SettingsPanel oncancel="NavigateTenfootBack()">
		<!-- top header panel -->
		<Panel class="SettingsHeader">
			<Label class="SettingsHeaderLegend" text="#Settings_Title" />

		</Panel>
		
		<!-- main settings panel, a big container of buttons -->
		<Panel id="SettingsContent" class="SettingsMainContent" tabindex="auto" selectionpos="auto" >

			<!-- Column 1 -->

			<Panel class="SettingsContent SettingsLeftContent">
				<Button id="AccountSettingsButton" class="Button" onactivate="ShowSettings( Account );">
					<Label class="LongDesc" text="#Settings_Account" />
				</Button>
				<Button id="FriendsSettingsButton" class="Button" onactivate="ShowSettings( Friends );">
					<Label class="LongDesc" text="#Settings_Friends" />
				</Button>
				<Button id="InGameSettingsButton" class="Button" onactivate="ShowSettings( InGame );">
					<Label class="LongDesc" text="#Settings_InGame" />
				</Button>
				<Button id="RemoteClientsButton" class="Button" onactivate="ShowSettings( RemoteClients );">
					<Label class="LongDesc" text="#Settings_RemoteClients" />
				</Button>
				<Button id="LanguageSettingsButton" class="Button" onactivate="ShowSettings( Language );">
					<Label class="LongDesc" text="#Settings_Language" />
				</Button>
				<Button id="KeyboardSettingsButton" class="Button" onactivate="ShowSettings( Keyboard );">
					<Label class="LongDesc" text="#Settings_Keyboard" />
				</Button>
				<Button id="InterfaceSettingsButton" class="Button" onactivate="ShowSettings( Interface );">
					<Label class="LongDesc" text="#Settings_Interface" />
				</Button>
				<Button id="AddShortcutSettingsButton" class="Button" onactivate="AddLibraryShortcut();">
					<Label class="LongDesc" text="#Settings_AddLibraryShortcut" />
				</Button>
				
				<Button id="FamilySharingButton" class="Button" onactivate="ShowSettings( AuthorizeLocalDevice );" >
					<Label class="LongDesc" text="#Settings_Family_Sharing_Title" />
				</Button>
				
				<Button id="ParentalSettingsButton" class="Button" onactivate="ShowParentalSettings();">
					<Label class="LongDesc" text="#Parental_Settings_Title" />
				</Button>

				<Button id="ControllerSettingsButton" class="Button" onactivate="ShowSettings( GameController );">
					<Label class="LongDesc" text="#Settings_Controller" />
				</Button>

				<Button id="StoreSettingsButton" class="Button" onactivate="ShowSettings( Store );">
					<Label class="LongDesc" text="#Settings_Store" />
				</Button>
			</Panel>	

			<!-- Column 2 -->

			<Panel class="SettingsContent SettingsMiddleContent">
				<Button id="DisplaySettingsButton" class="Button" onactivate="ShowSettings( Display );">
					<Label class="LongDesc" text="#Settings_Display" />
				</Button>
				<Button id="AudioSettingsButton" class="Button" onactivate="ShowSettings( Audio );">
					<Label class="LongDesc" text="#Settings_Audio" />
				</Button>
				<Button id="MusicSettingsButton" class="Button" onactivate="ShowSettings( Music );">
					<Label class="LongDesc" text="#Settings_Music" />
				</Button>
				<Button id="VoiceSettingsButton" class="Button" onactivate="ShowSettings( Voice );">
					<Label class="LongDesc" text="#Settings_Voice" />
				</Button>
				<Button id="DownloadsSettingsButton" class="Button" onactivate="ShowSettings( Downloads );">
					<Label class="LongDesc" text="#Settings_Downloads" />
				</Button>				
				<Button id="NetworkSettingsButton" class="Button" onactivate="ShowSettings( Network );">
					<Label class="LongDesc" text="#Settings_Network" />
				</Button>
				<Button id="AboutSettingsButton" class="Button" onactivate="ShowSettings( About );">
					<Label class="LongDesc" text="#Settings_About" />
				</Button>
				<Button id="TimeZoneSettingsButton" class="Button" onactivate="ShowSettings( TimeZone );">
					<Label class="LongDesc" text="#Settings_TimeZone" />
				</Button>
				<Button id="BroadcastSettingsButton" class="Button" onactivate="ShowSettings( Broadcast );">
					<Label class="LongDesc" text="#Settings_Broadcast" />
				</Button>
				<Button id="AlienFXSettingsButton" class="Button" onactivate="ShowSettings( AlienFX );">
					<Label class="LongDesc" text="#Settings_AlienFX" />
				</Button>
				<Button id="DiskManagetmentButton" class="Button" onactivate="ShowSettings( DiskManagement );">
					<Label class="LongDesc" text="#Settings_DiskManagement" />
				</Button>

				<!-- <Button class="Button" >
					<Label class="LongDesc" text="#Settings_Cloud" />
				</Button> -->
			</Panel>
			
			<!-- Column 3 -->

			<Panel class="SettingsContent SettingsRightContent">
			</Panel>


		</Panel>

	</SettingsPanel>

</root>
