<root>
	<styles>
		<include src="file://{resources}/styles/steamstyles.css" />
		<include src="file://{resources}/styles/settings.css" />
	</styles>

	<SettingsPanel oncancel="NavigateTenfootBack()">
		<Panel class="SettingsBottomPanel FlowRight" tabindex="auto" selectionpos="auto" >
      
      <!-- first column -->
      <Panel class="SettingsContent SettingsContentColumnv2" tabindex="auto" selectionpos="auto">
        <!-- Personal -->
        <Label id="PersonalSettingsHeaderLabel" class="LongDesc SettingCategory" text="#Settings_Personal"/>
        
        <Button id="AccountSettingsButton" class="Button" onactivate="ShowSettings( Account );">
					<Label class="LongDesc" text="#Settings_Account" />
				</Button>
        <Button id="FriendsSettingsButton" class="Button" onactivate="ShowSettings( Friends );">
					<Label class="LongDesc" text="#Settings_Friends" />
				</Button>
      
        <!-- Controller -->
        <Label class="LongDesc SettingCategory" text="#Settings_Controller"/>
        
        <Button id="ControllerSettingsButton" class="Button" onactivate="ShowSettings( GameController );">
					<Label class="LongDesc" text="#Settings_ControllerManagement" />
				</Button>
				<Button id="ControllerConfigsButton" class="Button" onactivate="ShowSettings( ControllerConfigs );">
					<Label class="LongDesc" text="#Settings_Configs" />
				</Button>
	      <Button id="KeyboardSettingsButton" class="Button" onactivate="ShowSettings( Keyboard );">
					<Label class="LongDesc" text="#Settings_Keyboard" />
				</Button>
      
        <!-- Display -->
        <Label class="LongDesc SettingCategory" text="#Settings_Display"/>
      
        <Button id="LanguageSettingsButton" class="Button" onactivate="ShowSettings( Language );">
				  <Label class="LongDesc" text="#Settings_Language" />
			  </Button>
			  <Button id="InterfaceSettingsButton" class="Button" onactivate="ShowSettings( Interface );">
				  <Label class="LongDesc" text="#Settings_Interface" />
			  </Button>
        <Button id="DisplaySettingsButton" class="Button" onactivate="ShowSettings( Display );">
				  <Label class="LongDesc" text="#Settings_DisplayResolution" />
			  </Button>
        <Button id="AlienFXSettingsButton" class="Button" onactivate="ShowSettings( AlienFX );">
				  <Label class="LongDesc" text="#Settings_AlienFX" />
			  </Button>
      </Panel>
      
      <!-- second column -->
      <Panel class="SettingsContent SettingsContentColumnv2" tabindex="auto" selectionpos="auto">
        <!-- Audio -->
        <Label class="LongDesc SettingCategory" text="#Settings_Audio"/>
        
        <Button id="AudioSettingsButton" class="Button" onactivate="ShowSettings( Audio );">
					<Label class="LongDesc" text="#Settings_AudioInterface" />
				</Button>
				<Button id="MusicSettingsButton" class="Button" onactivate="ShowSettings( Music );">
				  <Label class="LongDesc" text="#Settings_Music" />
				</Button>
				<Button id="VoiceSettingsButton" class="Button" onactivate="ShowSettings( Voice );">
					<Label class="LongDesc" text="#Settings_Voice" />
				</Button>
        
        <!-- Features -->
        <Label id="FeaturesSettingsHeaderLabel" class="LongDesc SettingCategory" text="#Settings_Features"/>

       	<Button id="InGameSettingsButton" class="Button" onactivate="ShowSettings( InGame );">
		      <Label class="LongDesc" text="#Settings_InGame" />
	      </Button>
        <Button id="WebBrowserSettingsButton" class="Button" onactivate="ShowSettings( Web );">
    			<Label class="LongDesc" text="#Settings_Web" />
		    </Button>
       	<Button id="BroadcastSettingsButton" class="Button" onactivate="ShowSettings( Broadcast );">
					<Label class="LongDesc" text="#Settings_Broadcast" />
				</Button>
        <Button id="RemoteClientsButton" class="Button" onactivate="ShowSettings( RemoteClients );">    <!-- in-home streaming -->
    			<Label class="LongDesc" text="#Settings_RemoteClients" />
		    </Button>
       	<Button id="ParentalSettingsButton" class="Button" onactivate="ShowParentalSettings();">        <!-- parental settings -->
      		<Label class="LongDesc" text="#Parental_Settings_Title" />
			  </Button>
        <Button id="FamilySharingButton" class="Button" onactivate="ShowSettings( AuthorizeLocalDevice );" >
					<Label class="LongDesc" text="#Settings_Family_Sharing_Title" />
				</Button>
      </Panel>
      
      <!-- third column -->
      <Panel class="SettingsContent SettingsContentColumnv2" tabindex="auto" selectionpos="auto">
        <!-- System -->
        <Label class="LongDesc SettingCategory" text="#Settings_About"/>
        
        <Button id="StoreSettingsButton" class="Button" onactivate="ShowSettings( Store );">
					<Label class="LongDesc" text="#Settings_Store" />
				</Button>
				<Button id="DownloadsSettingsButton" class="Button" onactivate="ShowSettings( Downloads );">
					<Label class="LongDesc" text="#Settings_Downloads" />
				</Button>				
				<Button id="NetworkSettingsButton" class="Button" onactivate="ShowSettings( Network );">
					<Label class="LongDesc" text="#Settings_Network" />
				</Button>
        <Button id="AboutSettingsButton" class="Button" onactivate="ShowSettings( About );">          <!-- system -->
					<Label class="LongDesc" text="#Settings_About" />
				</Button>
				<Button id="TimeZoneSettingsButton" class="Button" onactivate="ShowSettings( TimeZone );">
					<Label class="LongDesc" text="#Settings_TimeZone" />
				</Button>
				<Button id="DiskManagetmentButton" class="Button" onactivate="ShowSettings( DiskManagement );">
					<Label class="LongDesc" text="#Settings_DiskManagement" />
				</Button>
        <Button id="AddShortcutSettingsButton" class="Button" onactivate="AddLibraryShortcut();">
					<Label class="LongDesc" text="#Settings_AddLibraryShortcut" />
				</Button>
      </Panel>
      
      
    </Panel>    

	</SettingsPanel>

</root>
