

/* HUB CONTENT */
html.tablet .apphub_CardControls {
	display: none;
}

html.tablet .apphub_Chat a,
html.tablet .statsselect_text {
	text-decoration: none;
	border-bottom: 1px solid var(--gpBackground-Neutral-LightSoft);
}

html.tablet .pipe_separator {
	display: none;
}

html.tablet .apphub_NoMoreContent {
	background: none;
}



/* APP HUB HEADER */
html.tablet .apphub_HomeHeader {
	max-width: unset;
}

html.tablet .apphub_HomeHeaderContent {
	padding: unset;
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
	padding: 24px var(--gpSpace-Gutter) 0px;
	background-color: var(--gpBackground-DarkHard);
	max-width: unset;
}

html.tablet .apphub_HeaderBottomBG_ctn {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

html.tablet .apphub_HeaderBottomBG_blur {
	width: 100%;
	position: absolute;
	height: 1000px;
	backdrop-filter: blur(32px);
}

html.tablet .apphub_HeaderBottomBG {
	background-size: cover;
	background-position: center;
	height: 1000px;
	position: absolute;
	-webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0) 90%);
}

html.tablet .apphub_HeaderTop {
	padding: 0px;
	margin: unset;
}

html.tablet .apphub_AppDetails {
	display: inline-flex;
	gap: 16px;
	align-items: center;
	padding-bottom: 0px;
}

html.tablet .apphub_AppName {
	font: var(--gpText-HeadingLarge);
}

html.tablet .apphub_AppIcon {
	display: inline-flex;
	border-radius: var(--gpCorner-Medium);
	overflow: hidden;
	box-shadow: var(--gpShadow-Medium);
}

html.tablet .apphub_AppIcon img {
	width: 44px;
	height: 44px;
}

/* App hub background */
html.tablet .apphub_background {
	background: none !important;
}

/* Filters */
html.tablet .apphub_SectionFilter {
	background: none;
	min-height: unset;
	margin: 0px var(--gpSpace-Gutter);
	padding: 0px;
	padding-bottom: 12px;
	max-width: unset;
}

html.tablet .apphub_SectionFilterLabel {
	float: unset;
	padding: unset;
	font: var(--gpText-BodyMedium);
	text-transform: unset;
	color: var(--gpStoreLightestGrey);
}

html.tablet .apphub_SectionFilter .learnMore {
	padding: unset;
	margin-left: auto;
}

/* Dropdowns */
html.tablet div.filterselect {
	width: 160px;
}

html.tablet #filterrating {
	min-width: 80px;
	width: 80px;
}

/* Hide (?) on deck */
html.tablet .apphub_MostPopularLink {
	display: none;
}

/* Content */
html.tablet #AppHubContent {
	margin: 0px calc(var(--gpSpace-Gutter) - 6px); /* -6 used to compensate for card grid */
	padding: unset;
	max-width: unset;
	display: flex;
	flex-direction: row;
}

html.tablet .leftcol {
	margin: 0px 6px !important;
	max-width: unset;
	width: 100%;
}

@media screen and (min-width: 910px) {
	html.tablet .leftcol {
		width: calc( 100% - var(--gpCommunityRightPanelWidth) - 24px );
	}
}

html.tablet .maincontent {
	margin: 0px !important;
	display: flex;
}

/* Stats */
html.tablet .apphub_HeaderBottom {
	min-height: unset;
	background-color: unset;
	height: unset;
	display: flex;
	align-items: center;
	margin-top: 0px;
	font: var(--gpText-BodyLarge);
	flex-wrap: wrap;
	column-gap: 12px;
	row-gap: 8px;
	padding-bottom: 16px;
	margin-top: -8px;
}

html.tablet .apphub_NumInApp {
	font-weight: 500;
}

html.tablet .apphub_HeaderBottom .apphub_Stats .responsive_hidden {
	display: unset;
}

html.tablet .apphub_HeaderBottom .apphub_Stats {
	line-height: unset;
	font-size: unset;
}

html.tablet .apphub_HeaderBottom .apphub_Stats div.statsselect {
	margin-top: unset;
	font-size: unset;
	height: unset;
}

html.tablet .apphub_HeaderBottom .apphub_Stats .statsselect_text {
	font-size: unset;
}

html.tablet .apphub_HeaderBottom .apphub_recentFriendsArea {
	padding-top: unset;
	display: flex;
	align-items: center;
	column-gap: 12px;
	padding: unset;
}

html.tablet .apphub_friend_block_row {
	padding-left: unset;
	display: flex;
	column-gap: 6px;
}

html.tablet .apphub_friend_block_row .playerAvatar {
	margin: unset;
}

html.tablet .apphub_friend_block_row .playerAvatar a {
	display: flex;
}

/* Store info header */
html.tablet .apphub_StoreInfoHeader {
	border: 1px solid var(--gpBackground-LightSoft);
	border: unset;
	background-color: unset;
	padding: 0px;
	margin: -12px var(--gpSpace-Gutter) 12px;
	min-height: unset;
	padding: 12px;
	background-color: var(--gpBackground-Neutral-LightSofter);
	max-width: unset;
}

html.tablet .apphub_StoreAppLogo {
	width: 200px;
	box-shadow: var(--gpShadow-Medium);
}

@media screen and (min-width:  1280px) {
	html.tablet .apphub_StoreAppLogo {
		width: 280px;
	}
}

html.tablet .apphub_StoreAppText {
	color: unset;
	opacity: 0.8;
	max-width: 920px;
}

html.tablet .apphub_StoreAppData {
	padding-top: 8px;
}

html.tablet .apphub_StoreAppData #app_header_view_store_page_btn {
	display: none;
}

html.tablet .apphub_StorePrice {
	border: unset;
	height: unset;
	display: flex;
	align-items: center;
	column-gap: 6px;
}

html.tablet .apphub_StorePrice .discount_pct {
	position: unset;
	font: var(--gpText-BodyMedium);
	background-color: var(--gpColor-Green);
	padding: 1px 4px;
	border-radius: var(--gpCorner-Small);
}

html.tablet .apphub_StorePrice .discount_prices {
	display: flex;
	align-items: center;
	column-gap: 6px;
}

html.tablet .apphub_StorePrice .discount_original_price {
	font: var(--gpText-BodyMedium);
	color: white;
	opacity: 0.5;
}

html.tablet .apphub_StorePrice .discount_final_price {
	font: var(--gpText-BodyMedium);
	color: white;
	top: unset;
}

html.tablet .apphub_StorePrice .price {
	font: var(--gpText-BodyMedium);
	text-align: unset;
}

html.tablet .apphub_HubDivider {
	display: none;
}

/* Early access strip */
html.tablet .apphub_EarlyAccess {
	background: none;
	background-color: var(--gpColor-DustyBlue);
	height: unset;
	line-height: unset;
	padding: 8px 12px;
	margin: 0px var(--gpSpace-Gutter);
}

html.tablet .apphub_EarlyAccess .apphub_EarlyAccess_Title {
	font-size: unset;
	padding: unset;
	margin-right: 4px;
}

html.tablet .apphub_EarlyAccess .apphub_EarlyAccess_Desc {
	font-size: unset;
	padding: unset;
	color: unset;
}

html.tablet .apphub_EarlyAccess .apphub_EarlyAccess_Desc a {
	display: none;
}

/* Description */
html.tablet .apphub_AllContentText {
	color: unset;
	font: var(--gpText-BodyMedium);
	opacity: 0.6;
	border-top: 1px solid var(--gpBackground-Neutral-LightSoft);
	padding-top: 12px;
	margin: 12px var(--gpSpace-Gutter) 0px;
}




/* FORUMS */
html.tablet .leftcol {
	margin: 0px var(--gpSpace-Gutter);
}

html.tablet .responsive_tab_control {
	text-align: left;
}