
@media screen and (max-width: 910px) {
	html.responsive .rightcol {
		display: none;
	}

	html.responsive	.form_notes, html.responsive .joinsteam .form_area, html.responsive .join_form select#country  {
		width: 100%;
		margin-left: 0;
	}

	html.responsive .ssa_box {
		line-height: normal;
	}

	html.responsive .joinsteam input[type="text"] {
		width: 100%;
	}

	html.responsive .password_tag:before {
		display: none;
	}

	html.responsive .password_tag {
		margin: 0;
	}

	html.responsive #createAccountButton {
		display: block;
		width: 100%;
		text-align: center;
		float: none;
	}

	html.responsive .page_content, html.responsive .page_content_client {
		max-width: 100%;
		width: auto;
		margin: 0 2%;
	}

	html.responsive #create_account input, #create_account select {
		max-width: 100%;
		padding: 8px 0 8px 6px;
	}

	html.responsive .joinsteam .password_tag {
		max-width: 100%;
	}

	html.responsive .join_form_notes {
		margin: 0;
	}

	html.responsive .joinsteam .row_flex {
		display: block;
	}

	html.responsive .joinsteam_content_container {
		padding: 20px;
	}

	html.responsive body.v6.joinsteam {
		background-image: none;
	}

	html.responsive .joinsteam .form_notes {
		margin: 10px 0 0 0;
	}

}

@media screen and ( max-width: 800px ) {

	html.responsive body.v6.joinsteam {
		background-image: none;
	}

}

@media screen and ( min-width: 1200px )
{
	html.responsive body.v6.joinsteam {
		background-position: -40vw 0;
	}
}

@media screen and (min-width: 1600px) {
	html.responsive body.v6.joinsteam {
		background-position: -20vw 0;
	}
}

body.v6.joinsteam.csgo, body.v6.joinsteam.dota, body.v6.china.joinsteam {
	background: #212429;
	background-image: none;
}

body.v6.global.joinsteam {
	background-image: url( 'https://community.cloudflare.steamstatic.com/public/shared/images/joinsteam/acct_creation_bg.jpg' );
}

body.v6.joinsteam {
	color: #E9E9E9;
	background-color: #212429;
	background-position: -60vw 0;
	background-repeat: no-repeat;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		;
}

body.v6.joinsteam #checkout_steam_logo {
	display: none;
}


::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background-color: #1D1D1D;
}

::-webkit-scrollbar-track-piece {
	background-color: #1D1D1D;
}

::-webkit-scrollbar-thumb {
	background-color: #7D7D7D;
}

.accountlink_csgo
{
    max-width: 450px;
    text-align: center;
    line-height: 20px;
}

.accountlink_csgo, .accountlink_csgo div
{
    display:inline-block;
    text-align: center;
}

.login div p
{
    margin-top: 2px;
}

.csgopwbuttonclass{
    border:0px solid #8A66F4; -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;font-size:15px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #2D749B; background-image: -webkit-gradient(linear, right, left, from(#2D749B), to(#2D749B));
    background-image: -webkit-linear-gradient(left, #2D749B, #2D749B);
    background-image: -moz-linear-gradient(left, #2D749B, #2D749B);
    background-image: -ms-linear-gradient(left, #2D749B, #2D749B);
    background-image: -o-linear-gradient(left, #2D749B, #2D749B);
    background-image: linear-gradient(to left, #2D749B, #2D749B);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2D749B, endColorstr=#2D749B);
}

.csgopwbuttonclass:hover{
    border:0px solid #9174ED;
    background-color: #225673; background-image: -webkit-gradient(linear, right, left, from(#225673), to(#388DB5));
    background-image: -webkit-linear-gradient(left, #225673, #388DB5);
    background-image: -moz-linear-gradient(left, #225673, #388DB5);
    background-image: -ms-linear-gradient(left, #225673, #388DB5);
    background-image: -o-linear-gradient(left, #225673, #388DB5);
    background-image: linear-gradient(to left, #225673, #388DB5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#225673, endColorstr=#388DB5);
}

p .csgoheadline{
	font-size: 32px;
}

.csgo .btnv6_blue_hoverfade {
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #67c1f5 !important;
    background: rgba( 103, 193, 245, 0.2 );
}

.csgo .btn_medium > span, input.btn_medium {
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
}

.csgo .btnv6_blue_hoverfade > span {
    border-radius: 2px;
    display: block;
    background: transparent;
}

/*these styles are in login.css - hoping that by placing them here they will magically overide for the cs:go account creation/linking pages*/

.header_text.game_name {
	font-size: 24px;
}

.header_text.game_name div {
	line-height: 40px;
}

.csgo .header_text {
	position: relative;
	width: 616px;
	padding-bottom: 16px;
	color: #d6d7d8;
	overflow: hidden;
	margin: 0 auto;
}

.csgo .join_form {
    padding: 20px 16px;
    position: relative;
    background-color: #0e141c;
    border-color: #202d48;
}

.csgo .join_form input[type="text"], .join_form input[type="password"] {
    height: 18px;
    background-color: #0e141c;
    border-color: #202d48;
}

.csgo .ssa_box {
    height: 337px;
    overflow: auto;
    border: 1px solid #4d4b49;
    padding: 9px;
    line-height: 15px;
    background-color: #121214;
}

/* this block is found in in store.css */

/* this block is from buttons.css */

.csgo .btnv6_blue_hoverfade {
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #ffffff !important;
    background: rgba( 49, 126, 168, 0.9 );
    text-transform: uppercase;
}

.email_verification_header {
    margin-bottom: 20px;
    color: #67c1f5;
    font-size: 22px;
}

.email_verification_header_container {
    background-color: rgba( 0, 0, 0, .3 );
    padding: 30px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px
}

.email_verification_subheader {
    color: #ffffff;
	text-align: center;
	margin: 0 10% 20px 10%;
}

.verification_missingemail_ctn {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-flow: wrap;
}

.email_verification_missingemail {
	width: 100%;
}

.email_verification_expand_btn {
	margin: 10px 0 20px 0;
}

.email_verification_container {
    max-width: 750px;
}

.email_verification_troubleshooting li {
    margin: 10px 40px;
    list-style-type: decimal;
}

.email_verification_troubleshooting ul {
    margin: 10px 0;
}

.email_verification_troubleshooting {
    font-size: 14px;
}

.email_verification_changeemail {
    cursor: pointer;
    text-decoration: underline;
}

.email_verification_changeemail:hover {
    color: #FFF;
}

#create_account input, #create_account select {
	background: #32353C;
	border-radius: 3px;
	color: #E9E9E9;
	padding: 8px 6px;
	display: block;
	box-shadow: none;
	border: none;
	width: 100%;
	transition: border ease-in-out .5s;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		;
}

#create_account input[type="checkbox"] {
	display: inline;
	width: 18px;
	height: 18px;
	background: #32353C;
}

.joinsteam .form_area {
	max-width: 320px;
	flex: 1 1 100%;
	float: none;
}

.joinsteam #accountname_availability:before {
	display: none;
}

.joinsteam label {
	font-size: 14px;
	color: #b8b6b4;
	vertical-align: top;
}

.joinsteam .checkout_content_box, .joinsteam .block_content_inner {
	background: #18181D;
}

.joinsteam p {
	color: #B3B3B3;
	font-size: 14px;
}

.joinsteam .form_row {
	margin: 25px 0;
}

.joinsteam .row_flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.joinsteam .section_title {
	text-transform: uppercase;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 34px;
	color: #ffffff;
	margin-bottom: 30px;
	font-weight: 200;
	letter-spacing: 2px;
}

.joinsteam_header_ctn {
	margin-bottom: 10px;
}

.joinsteam #instructions {
	color: #E9E9E9;
}

.joinsteam #priv_and_sub {
	margin-top: 35px;
}

.joinsteam .password_tag {
	margin-top: 15px;
	opacity: 1;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	transition-property: all;
	max-width: 300px;
}

.joinsteam #ssa_agree {
	margin-top: 30px;
}

.joinsteam #ssa_agree label {
	font-size: 14px;
	text-transform: none;
	vertical-align: top;
	cursor: pointer;
}

.joinsteam .join_form .rule {
	border: 1px solid #363636;
	margin: 0;
}

.joinsteam .insert_min_age {
	font-weight: bold;
	text-decoration: underline;
}

.joinsteam .form_note {
	color: #B3B3B3;
}

.suggested_accountnames {
	width: 100%;
	margin-top: 25px;
}

.email_used_body {
    margin: 15px 0;
}

#error_display {
    border: 2px solid #b44040;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: rgba( 0, 0, 0, .5 );
}

#error_display > div {
    margin-bottom: 10px;
}

.joinsteam #privacy_link {
	margin-top: 15px;
}

.joinsteam #ssa_box {
	padding: 10px;
}

.joinsteam_content_container {
	padding: 50px;
	min-height: 600px;
	max-width: 700px;
}

.joinsteam_content_container button > span, .joinsteam_button > span {
	padding: 3px 50px;
}

.joinsteam .green_check {
	width: 16px;
	vertical-align: sub;
}

.joinsteam .choose_accountname {
	color: #B3B3B3;
}

.joinsteam .form_notes {
	max-width: 350px;
	width: auto;
	float: none;
}

.join_form_notes {
	margin-left: 21px;
}

.joinsteam .flex_row_align_end {
	align-items: flex-end;
}

.joinsteam .account_name_row {
	margin-bottom: 60px;
}

/* VERIFY EMAIL */

body.joinsteam.verify_email {
	color: #BEC2CD;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		;
}

.newaccount_email_verified_container {
	text-align: center;
	background: rgba( 0, 0, 0, 0.2 );
	padding: 30px;
}

.newaccount_email_verified_header {
	margin: 40px 0;
}

.newaccount_email_header_text {
	font-size: 30px;
	line-height: 35px;
	letter-spacing: 0.05em;
	color: #BEC2CD;
	text-transform: uppercase;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.newaccount_email_verified_ruler {
	border-bottom: 1px solid #FFF;
	margin: 20px auto;
	width: 80%;
	height: 0;
	padding: 0;
	text-align: center;
}

.newaccount_email_verified_text {
	font-size: 14px;
}

.newaccount_email_verified_text.error {
	color: #ff7b00;
}

.newaccount_email_verified_note {
	margin-top: 30px;
	font-size: 14px;
}

/* EXISTING ACCOUNT */

.joinsteam_existingaccount_ctn {
	color: #BEC2CD
}

.existingaccount_intro {
	font-size: 16px;
	margin: 20px 0;
	color: #FFFFFF;
}

.existingaccount_intro span {
	color: #b8b6b4
}

.existingaccount_info_ctn {
	margin-bottom: 30px;
	font-size: 16px;
	color: #A6A5AB;
}

.use_existing_account_ctn {
	display: flex;
	flex-direction: column;
	align-content: start;
	align-items: center;
	flex-wrap: wrap;
}

.use_existing_account_ctn a {
	margin-top: 10px;
	color: #A6A5AB;
}

.existingaccount_info_subtext {
	margin-top: 10px;
}

.existingaccount_ruler {
	background:  #3C3F48;
	height: 1px;
	margin: 30px 0;
}


.create_newaccount_intro {
	margin-bottom: 15px;
	font-size: 14px;
}

/* PARENTAL CONSENT */

.age_gate_footer_container {
	margin-top: 25px;
}

.age_gate_footer_container p,
.parental_consent_email_footer_container p {
	font-size: 12px;
	color: #89939f;
	bottom: 12px;
	position: absolute;
}

.parental_consent_email_container {
	max-width: 500px;
	font-size: 15px;
	color: #c6d4df;
}

.parental_consent_email_container .form_area {
	width: auto;
}

.parental_consent_email_body_container input[type=text] {
	width: 487px;
}

.parental_consent_email_body_container label {
	color: #99b8c9;
	text-transform: uppercase;
	font-size: 12px;
}

#error_display_parental {
	background-color: #f4b786;
	box-shadow: 0 0 15px #e47419 inset;
	border-radius: 2px;
	padding: 5px 8px;
	padding: 3px 8px;
	font-size: 13px;
	color: #000;
}

.parental_consent_requested_container {
	max-width: 500px;
}