

.game_area_description ul {
	color: #acb2b8;
	margin-left: 16px;
	list-style-type: square;
}

.game_area_description ol {
	color: #acb2b8;
	margin-left: 20px;
}

.game_area_description ul li, .game_area_description ol li {
	margin-bottom: 8px;
}

.sysreq_contents {
	margin-top: 10px;
}

.game_area_sys_req,
.album_metadata_chunk_contents {
	font-size: 12px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		}
.game_area_sys_req_full p {
	margin-bottom: 10px;
}

.game_area_sys_req strong,
.album_metadata_chunk_name {
    font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #bcc6cd;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 4px;
}

.album_metadata_chunk_name {
	padding-right: 14px;
}

.game_area_sys_req ul {
	list-style-type: none;
	margin-left: 0px;
	line-height: 18px;
}

.game_area_sys_req ul li {
	margin: 2px 0px;
}
.game_area_sys_req ul li strong {
	color: #61686D;
	font-size: 12px;
	margin-right: 4px;
	font-weight: normal;
	margin-bottom: 2px;
	text-transform: none;
}

.game_area_sys_req_leftCol, .game_area_sys_req_rightCol {
	float: left;
	width: 300px;
}

.help_sysreqs .game_area_sys_req_leftCol, .help_sysreqs .game_area_sys_req_rightCol {
	width: 282px;
}

.game_area_sys_req_rightCol {
	margin-left: 8px;
}


.sysreq_tabs,
.discselect_tabs
{
	font-size: 12px;
	padding-top: 8px;
	padding-left: 5px;
	margin-bottom: 15px;
background: -webkit-linear-gradient( left, rgba(58,110,139,0.2) 0%,rgba(58,110,139,0) 100%);
	background: linear-gradient( to right, rgba(58,110,139,0.2) 0%,rgba(58,110,139,0) 100%);
}


.sysreq_tab,
.discselect_tab
{
	padding-left: 10px;
	padding-right: 10px;
	line-height: 20px;
	margin-right: 10px;
	color: #3b6e8c;
	float: left;
	cursor: pointer;
}

.sysreq_tab:hover,
.discselect_tab:hover
{
	color: #ffffff;
}

.sysreq_tab.active,
.discselect_tab.active
{
	background-color: #18222e;
	color: #67c1f5;
	cusor: default;
}

.sysreq_contents .sysreq_content,
.music_album_track_list_contents .music_album_track_listing_ctn
{
	display: none;
}

.sysreq_contents .sysreq_content.active,
.music_album_track_list_contents .music_album_track_listing_ctn.active
{
	display: block;
}

.game_page_autocollapse_ctn {
	position: relative;
}

.game_page_autocollapse {
	overflow: hidden;
}

.game_page_autocollapse_ctn.collapsed {
	padding-bottom: 20px;
}

.game_page_autocollapse_ctn.expanded {
	padding-bottom: 0;
}

.game_page_autocollapse_fade {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 73px;

	z-index: 1;
	background: url( 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAA1CAYAAACJFSFIAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAFJJREFUeNpiFFXQZWVAAyxQjCHISrQghdpHiJOGmzf//2fDFGRkZB4NeRTB/5iC//8zsGELT2wq/7ERa+Z/rHHEQrRKLGYy/MeMTXltMw50QcAALksZnUoc04gAAAAASUVORK5CYII=' ) top repeat-x;
}

.game_page_autocollapse_readmore {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 20px;
	line-height: 20px;
	cursor: pointer;

	color: #537ca6;
	font-size: 10px;

	padding-right: 12px;
	background: url( 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJ5JREFUeNpiDK5Z5sjAwFAJxAFrmiO/MUBBSO3yDCBlwAQkjgLxdyDeDBTkQpKsAuJuxv///4ME2ICc1UDMA1IIxEVA7Ag08S4j0ApmIEcOiJ9CFRkBsQMQPwZicRYgYQmVcAXiUCAWA+JXULEXTEBjjgAZxUC8G4jVkCRBIBfsBqjDooBULxBfhjo6FKj5F1wBkqIQII4ASYLEAAIMAPrDNy1EYNLFAAAAAElFTkSuQmCC' ) right center no-repeat;
}

.game_page_autocollapse_readmore:hover {
	color: #ffffff;
}

.game_page_autocollapse_ctn.collapsed .game_page_autocollapse_fade {
	display: block;
}



/* For game_area_details_specs wrapped in a single <a> tag  */

.game_area_details_specs_ctn {
	margin-bottom: 2px;
	background-color: rgba( 0, 0, 0, 0.2 );
	display: flex;
	align-items: center;
}
.game_area_details_specs_ctn .icon {
	padding: 0px 6px;
	display: flex;
}
.game_area_details_specs_ctn .icon img {
	vertical-align: unset;
}
.game_area_details_specs_ctn .label {
	padding: 6px 8px;
	height: 100%;
	background: rgba( 103, 193, 245, 0.1 );
	width: 100%;
	border-radius: 1px;
	color: #acb2b8;
}
a.game_area_details_specs_ctn .label {
	color: #66c0f4;
}
a.game_area_details_specs_ctn:hover .label {
	text-decoration: none;
	color: #ffffff;
	background: #67c1f5;
	background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%);
}


.game_area_details_specs {
	min-height: 26px;
	position: relative;
	margin-bottom: 2px;
	background-color: rgba( 0, 0, 0, 0.2 );
}

.game_area_details_specs .icon {
	position: absolute;
	left: 0px;
	width: 30px;
	min-height: 22px;
	padding-top: 5px;
	padding-left: 6px;
	height: 100%;
}

.game_area_details_specs a.name {
	margin-left: 37px;
	min-height: 22px;
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 8px;
	line-height: 18px;
	background: rgba( 103, 193, 245, 0.1 );
	color: #67c1f5;
	display: block;
	border-radius: 1px;
}

.game_area_details_specs a.name:hover {
	text-decoration: none;
	color: #ffffff;
	background: #67c1f5; /* Old browsers */
	background: -moz-linear-gradient(-60deg,  #67c1f5 0%, #417a9b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#67c1f5), color-stop(100%,#417a9b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* IE10+ */
	background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c1f5', endColorstr='#417a9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.game_area_details_specs div.name {
	margin-left: 37px;
	min-height: 22px;
	padding-top: 4px;
	padding-left: 8px;
	line-height: 17px;
	background: rgba( 103, 193, 245, 0.1 );
	color: #67c1f5;
	display: block;
	border-radius: 1px;
	cursor: default;
}

.game_area_details_specs.learning_about a.name {
	color: #acb2b8;
}
.game_area_details_specs.learning_about a.name:hover {
	background: rgba( 103, 193, 245, 0.1 );
}
.game_area_details_specs.learning_about a.name .tooltip {
	vertical-align: middle;
}

.game_details .language_list i {
	color: #61686d;
	font-style: normal;
}


.block .block_title {
	font-size: 12px;
	color: #8f98a0;
	margin-bottom: 2px;
}

.block .block_title.vrsupport
{
	margin-bottom: 10px;
}

.block a.linkbar {
	min-height: 17px;
	padding-top: 4px;
	padding-left: 8px;
	padding-bottom: 4px;
	line-height: 17px;
	background: rgba( 103, 193, 245, 0.1 );
	color: #67c1f5;
	border-radius: 1px;
	display: block;
	margin-bottom: 2px;
}

.block a.linkbar:hover {
	text-decoration: none;
	color: #ffffff;
	background: #67c1f5; /* Old browsers */
	background: -moz-linear-gradient(-60deg,  #67c1f5 0%, #417a9b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#67c1f5), color-stop(100%,#417a9b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* IE10+ */
	background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c1f5', endColorstr='#417a9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a.linkbar > img {
	max-width: 12px;
	max-height: 12px;
	padding-right: 4px;
	vertical-align: middle;
}
a.linkbar .social_account {
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	max-width: 224px;
	vertical-align: text-top;
}

table.game_language_options {
	border-collapse: collapse;
}

.game_language_options tr{
	border-bottom: 1px solid #626366;
}

.game_language_options tr.unsupported td {
	color: #61686d;
}

.game_language_options th{
	font-size: 12px;
	color: #b0aeac;
	font-weight: normal;
}

.game_language_options td {
	color: #8f98a0;
	padding: 3px 0px 3px 0px;
	text-align: center;
	font-size: 12px;
}
.game_language_options td span {
	font-weight: bold;
	color: #67c1f5;
}

.game_language_options td.checkcol, .game_language_options th.checkcol {
	width: 62px;
}

.all_languages {
	text-decoration: none;
	color: #67c1f5;
	font-size: 12px;
	cursor: pointer;
	margin-top: 5px;
	display: inline-block;
}

.all_languages:hover {
	text-decoration: none;
	color: #ffffff;
}



.game_details {
	color: #8f98a0;
	line-height: 20px;
}

.game_details b  {
    font-family: Arial, Helvetica, sans-serif;
	color: #556772;
	font-weight: normal;
    text-transform: uppercase;
    font-size: 10px;
}