
/* report dialog */
.user_review_report_dialog_explanation
{
	width: 500px;
	padding-bottom: 10px;
	text-align: left;
}

.user_review_report_dialog_text_area
{
	height: 100px;
}

select {
	width: 100%;
}
.bluefade {
	background-image: url( 'https://community.fastly.steamstatic.com/public/shared/images//page_bg_blue.png');
	margin-top: -21px;
	padding-top: 20px;
	background-position: 0px -1px;
	background-repeat: no-repeat;
}

#rightContents {
	width: 294px;
	padding-top: 0px;
	padding-right: 16px;
}
	#rightContents .panel {
		background: rgba(27,27,27,.36);
		border-radius: 4px;
		padding: 10px 10px 10px 11px;
		margin: 0 0 10px 0;
		border: 1px solid #1f1f20;
		box-shadow: 1px 1px 0 0 #39393a;
	}

	#rightContents .panel.owner {
		border-color: #81a313;
	}

	#rightContents .panel.admin {
		border-color: #a55b13;
	}

	#rightContents .panel.admin .title {
		color: #a55b13;
	}

	#rightContents .panel.admin .smallText {
		font-size: 12px;
	}

	.general_btn.panel_btn {
		color: #EBEBEB;
	}

	.friendBlock {
		background-color: rgba( 84, 133, 183, 0.2);
	}

.gameLogoHolder_default img {
	width: 292px;
	height: auto;
	padding: 1px;
}

.review_app_actions {
	margin-bottom: 16px;
	background-color: rgba(0, 0, 0, 0.4);
	padding-bottom: 6px;
}

#leftContents {
	float: left;
	width: 580px;
	margin: 0;
	padding: 0;
	padding-right: 0px;
}

#comments {
	border-top: 1px solid rgba(85, 125, 171, 0.6);
	margin-top: 60px;
}

	.commentthread_entry {
		background: none;
	}
	.commentthread_textarea {
		background: none;
	}

.ratingBar {
	min-height: 15px;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 12px;
	color: #898A8C;
	padding: 4px 6px 4px 6px;
	border-top: 1px solid rgba(85, 125, 171, 0.6);
	margin-bottom: 8px;
	line-height: 20px;
	display: flex;
}

.ratingSummaryBlock img {
	margin-right: 10px;
	width:44px;
	height:44px;
}

.ratingBar .review_award_ctn {
	margin-left: 10px;
}
.ratingBar .review_award {
	position: relative;
	background-color: rgba( 255, 255, 255, 0.1 );
	cursor: pointer;
}
.ratingBar .review_award:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

/* hide some awards */
.review_award_ctn > .review_award:nth-child(n+4) {
	display: none;
}
.review_award_ctn > .review_award.more_btn {
	display: inline-block;
}
/* unless force shown */
.review_award_ctn.show_all_awards > .review_award {
	display: inline-block;
}
.review_award_ctn.show_all_awards > .review_award.more_btn {
	display: none;
}

.ratingSummaryHeader {
	background: rgba( 0, 0, 0, 0.2 );
}

.ratingSummary {
	font-size: 16px;
	color: #D6D7D8;
	padding-top: 4px;
	padding-bottom: 2px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		}

.ratingSummaryHeader .review_source {
	float: right;
	margin-right: 5px;
	margin-top: 15px;
	opacity: 0.5;
	width: auto;
	height: auto;
}

.ratingSummaryHeader .majority_deck {
	 float: right;
	 margin-right: 6px;
	 margin-top: 17px;
	 opacity: 0.5;
	 width: auto;
	 height: 14px;
 }

.playTime  {
	font-size: 12px;
	color: #D6D7D8;
}

.review_area_content {
	font-size: 13px;
	line-height: 17px;
	color: #acb2b8;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			overflow-wrap: break-word;
	overflow: hidden;
}
.review_area_content b {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: bold; /* bold */

		}

.review_area_content.failed_content_check {
	font-style: italic;
}

.review_area .categorization_section {
	padding-top: 8px;
}

.review_area .categorization_section .categorization {
	font-size: 12px;
	color: #816166;
	/* background-color: rgba( 0, 0, 0, 0.2 ); */
	min-height: 16px;
}

.reviewTags {
	display: flex;
	flex-direction: row;
	gap: 8px;
	margin-bottom: 6px;
	flex-wrap: wrap;
}

.reviewTags .reviewTag {
	padding: 4px;
	border: solid 1px darkblue;
	background-color: #000035;
	text-transform: uppercase;
}

.review_topic_menu_item {
	display: block;
}

#ReviewEdit {
	margin-right: 6px;
}

.review_edit_text_area
{
	width: calc(100% - 20px);
	height: 200px;

	border: 1px solid #233c51;
	border-radius: 3px;
	max-width: 800px;
	background-color: #222b35;
	color: #d6d7d8;
	padding: 10px 11px;
	font-size: 13px;

	font-weight: normal;
	-webkit-box-shadow: inset 0px 0px 7px rgba( 0, 0, 0, 0.5 );
	-moz-box-shadow: inset 0px 0px 7px rgba( 0, 0, 0, 0.5 );
	box-shadow: inset 0px 0px 7px rgba( 0, 0, 0, 0.5 );
}

.review_edit_received_compensation {
	margin-bottom: 10px;
}
.review_edit_received_compensation input[type=checkbox] {
	margin-left: 0px;
}

#ReviewEdit .steam_china_disclaimer {
	margin-bottom: 10px;
	color: #DD8763;
}

.recommendation_date {
	font-size: 11px;
	color: #a0a08b;
	margin-top: 17px;
}

.received_compensation {
	font-size: 11px;
	color: #AB9569;
	margin-top: 5px;
}

.review_box .refunded,
.ratingSummaryBlock .refunded {
	font-size: 11px;
	color: #DD8763;
	margin-top: 5px;
}

.review_rate_bar {
	border-top: 1px solid rgba(85, 125, 171, 0.6);
	margin-top: 16px;
	padding-top: 6px;
	color: #898A8C;
	font-size: 12px;
}

.review_developer_response_container
{
	margin-top: 25px;
}

.review_developer_response_container.multiple_listing
{
	background-color: rgba(60,61,62,.4);
	margin-top: -23px;
	margin-bottom: 26px;
	padding-top: 10px;
}

.review_developer_response_container.multiple_listing.store
{
	background-color: rgba(37,38,38,.95);
	padding-bottom: 10px;
}

.review_developer_response_container .leftcol
{
	width: 184px;
	float: left;
	padding: 8px;
}

.review_developer_response_container .rightcol
{
	float: left;
	width: 450px;
	position: relative;
}

.review_developer_response_container.multiple_listing.store .rightcol
{
	width: 402px;
}

.review_developer_response
{
	border-radius: 4px;
	padding: 10px 10px 10px 11px;
	border: 1px solid #515152;
	font-size: 13px;
}

.review_developer_response_container.multiple_listing .review_developer_response
{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: 0px;
}

.rightcol .review_developer_response_container .leftcol {
	display: none;
}

.rightcol .review_developer_response_container .rightcol,
.rightcol .review_developer_response_container.multiple_listing.store .rightcol
{
	width: auto;
}

.review_developer_response_title
{
	padding-bottom: 5px;
	font-size: 12px;
}

.review_developer_response_text
{
	padding-top: 5px;
	font-size: 13px;
	line-height: 17px;
	color: #CDCAC1;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		}

.review_developer_response_badge
{
	color: #e9d528;
}

.review_developer_response_exists_date
{
	color: #529cde;
	font-size: 13px;
}

.dev_write_response {
	border-radius: 4px;
	padding: 10px 10px 10px 11px;
	border: 1px solid #a55b13;
	font-size: 13px;
	margin-top: 25px;
}

.dev_edit_response {
	font-size: 12px;
}

.btn_grey_grey.btn_ico_thumbs_down {
	padding-left: 20px;
}

#ReviewReportBtn {
	height: 21px;
	padding: 0px;
	padding-left: 32px;
	background-image: url( 'https://community.fastly.steamstatic.com/public/shared/images//buttons/report_ico_tiled.png');
	background-position: 8px -4px;
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 30px;
	float: right;

}

.notification
{
	text-align: left;
	margin: 0px auto;
	margin-bottom: 8px;
	padding: 18px;
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 14px;
	border-style: solid;
	border-width: 2px;
	margin-right: 17px;
}

.notification.banned
{
	color: #000000;
	background-color: #b33b32;
	border-color: #4c2c2a;
}

.notification.flagged_by_developer,
.notification.failed_content_check
{
	color: #ffffff;
	background-color: #c69c5f;
	border-color: #534436;
}

.review_box .notification {
	margin-right: 0px;
}

/* view reports */
.review_reports
{
	min-width: 600px;
}
.review_report
{
	width: 100%;
	padding: 5px;
	border: 1px solid #aaaaaa;
}
.review_report.header
{
	font-weight: bold;
}
.review_report_data
{
	float: left;
	width: 75px;
}
.review_report_data.description
{
	width: 300px;
}
.review_report_data.review_text
{
	width: 300px;
	max-height: 200px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

@media screen and (max-width: 910px)
{

	html.responsive .gameLogoHolder_default img {
		width: 100%;
		padding: 0;
	}


}

	html.responsive.gamepad .gameLogoHolder_default img {
		width: 100%;
		padding: 0;
	}


@media screen and (max-width: 910px)
{

}

.responsive_review_gameinfo {
	margin-bottom: 16px;
}

.responsive_review_gameinfo .gameLogoHolder_default {
	overflow: hidden;
	max-width: 184px;
}

.responsive_review_gameoptions {
	overflow: hidden;
	float: right;
	padding-left: 8px;
}


.responsive_review_gameoptions .general_btn {
	padding: 0;
	line-height: 27px;
	margin: 0;
	border-radius: none;
}

#UpdateCommentStatus {
	vertical-align: middle;
	margin-right: 4px;
}

.setting_ctn {
	padding-left: 8px;
}

.review_comments_disabled {
	background: rgba(0, 0, 0, 0.4);
	padding: 16px;
	margin-top: 40px;
	color: #61686d;
}

.ico16 {
	vertical-align: middle;
}

::highlight(TopicHighlight) {
	background-color: rgb(80, 79, 79);
}