@define letterboxcolor: #000000d0;

#OverlayBasePanel
{
	position: 0px 0px 0%;
	width: 1920px;
	height: 1080px;

	font-family: platformfont;

	opacity: 1.0;

	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: linear;

	transform: translateX( 0px );
}

#OverlayBasePanel.SlideAwayToLeft
{
	opacity: 0.0;
	transform-origin: 0% 0% parent-relative;
	transform: translateX( -1920px ) rotateX( 45deg ) translateZ( -1000px );
}

#OverlayBasePanel.SlideAwayToRight
{
	opacity: 0.0;
	transform-origin: 0% 0% parent-relative;
	transform: translateX(  1920px ) rotateX( 45deg ) translateZ( -1000px );
}

#OverlayBasePanel.KillModalVisible
{
	opacity: 0.4;
	wash-color: #00000066;

	transition-property: opacity, wash-color; 
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
}

.KillInProgress #OverlayDashboard
{
	opacity: 0.0;

	transition-property: opacity; 
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;


}

#KillSpinner
{
	visibility: collapse;
}

.KillInProgress #KillSpinner
{
	width: 120px;
	height: 120px;
	position: 46% 46% 0%;
	wash-color: bgcolorwash;

	visibility: visible;
	opacity-mask: url( "file://{images}/browser/reticle_mask.png" );
	background-image: url( "file://{images}/browser/reticle.webm" );
	background-position: center;
	background-repeat: no-repeat;
}


#OverlayDashboard
{
	transition-property: blur, desaturation, opacity, wash-color, transform !immediate;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.BehindMessageBox #OverlayDashboard
{
	desaturation: 0.4;
	opacity: 0.85;
	blur: gaussian( 1.5 );
	wash-color: #00000066;
}

#OverlayDashboard.BehindScreenshotsSlideshow
{
	opacity: 0.0;
}

#DesktopPanels, #MinimalPanels
{
	width: 100%;
	height: 100%;
}

#OverlayBG
{
	width: 100%;
	height: 100%;
}

#OverlayDashboard AvatarImage
{
	width: 95px;
	height: 95px;
}

#SelfAvatar
{
	border-style: solid;
	border-width: 3px;
	border-radius: 4px;
	width: 95px;
	height: 95px;
}

#HeaderLabels
{
	margin-left: 120px;
	flow-children: down;
	font-family: platformfont;

	max-width: 1200px;
}

#GameName
{
	margin-top: -9px;
	color: detailsdatalabelfocus;
	font-family: platformfont;
	font-size: 56px;
	font-weight: bold;
	width: 100%;

}

#ClockWrapper
{
	color: messagecolorwash;
	margin-top: 12px;
	flow-children: right;
}

#ClockWrapper Label
{
	color: messagecolorwash;
	text-align: left;
	font-size: 36px;
	line-height: 36px;
	max-width: 178px;
	min-width: 160px;
}

#ClockSuffix
{
	text-align: right;
}

#CommunityFriendsStrip
{
	opacity: 1.0;

	width: 100%;
	height: 800px;

	margin-top: 68px;
	margin-left: 0px;
}

#OverlayDashboard
{
	width: 1920px;
	height: 1080px;
}

#UpperRow
{
	margin-left: 90px;
	margin-top: 50px;
}

#ContentsRow
{
	width: 100%;
	height: 600px;
	transform: translateY( 310px );

	flow-children: right;
	opacity: 0.90;
	desaturation: 0.1;
	opacity-mask: url( "file://{images}/lower_row_mask.tga" ) 0.4;


	transition-property: transform, opacity-mask, opacity, desaturation;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#ContentsRow:descendantfocus
{
	width: 100%;
	height: 600px;

	opacity: 1.0;
	desaturation: 0.0;

	opacity-mask: url( "file://{images}/lower_row_mask.tga" ) 0.0;

	flow-children: right;
	transform: translateY( 340px ) translateZ( 40px );
}

