@define letterboxcolor: #000000d0;

#OverlayBasePanel
{
	position: 0px 0px 0%;
	width: 1920px;
	height: 1080px;

	font-family: platformfont;

	opacity: 1.0;

	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: linear;

	transform: translateX( 0px );
}

#OverlayBasePanel.SlideAwayToLeft
{
	opacity: 0.0;
	transform-origin: 0% 0% parent-relative;
	transform: translateX( -1920px ) rotateX( 45deg ) translateZ( -1000px );
}

#OverlayBasePanel.SlideAwayToRight
{
	opacity: 0.0;
	transform-origin: 0% 0% parent-relative;
	transform: translateX(  1920px ) rotateX( 45deg ) translateZ( -1000px );
}

#OverlayBasePanel.KillModalVisible
{
	opacity: 0.4;
	wash-color: #00000066;

	transition-property: opacity, wash-color; 
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
}

#OverlayClose
{
	flow-children: right;	
	horizontal-align: right;
	max-width: 800px;
}

#GuideIcon
{
	background-image: url( "file://{images}/settings/icon_middle.tga" );
	height: 58px;
	width:  69px;
	horizontal-align: right;
	margin-top: -16px;
}

.SteamPad #GuideIcon
{
	background-image: url( "file://{images}/settings/icon_middle.tga" );
	height: 58px;
	width:  69px;
	horizontal-align: right;
	margin-top: -16px;
}

#HowToClose
{
	font-size: 24px;
	text-align: right;
	height: 30px;
	margin-top: 6px;
	margin-right: 10px;
	color: messagecolorwash;
}

.KillInProgress #OverlayDashboard
{
	opacity: 0.0;

	transition-property: opacity; 
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;


}

#KillSpinner
{
	visibility: collapse;
}

.KillInProgress #KillSpinner
{
	width: 120px;
	height: 120px;
	position: 46% 46% 0%;
	wash-color: bgcolorwash;

	visibility: visible;
}


#OverlayDashboard
{
	transition-property: blur, desaturation, opacity, wash-color, transform !immediate;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.BehindMessageBox #OverlayDashboard
{
	desaturation: 0.4;
	opacity: 0.85;
	blur: gaussian( 1.5 );
	wash-color: #00000066;
}

#OverlayDashboard.BehindScreenshotsSlideshow
{
	opacity: 0.0;
}

#DesktopPanels, #MinimalPanels
{
	width: 100%;
	height: 100%;
}

#OverlayBG
{
	width: 100%;
	height: 100%;
}

#OverlayDashboard AvatarImage
{
	width: 95px;
	height: 95px;
}

#SelfAvatar
{
	border-style: solid;
	border-width: 4px;
	border-radius: 0px;
	width: 95px;
	height: 95px;
}

#HeaderLabels
{
	margin-left: 120px;
	flow-children: down;
	font-family: platformfont;
	margin-right: 100px;

	width: 100%;
}

#GameName
{
	margin-top: -9px;
	color: detailsdatalabelfocus;
	font-family: platformfont;
	font-size: 56px;
	font-weight: bold;
	width: 100%;
	height: 70px;
}

#ClockWrapper
{
	color: messagecolorwash;
	margin-top: 0px;
	flow-children: right;
	width: 100%;
}

#Clock,
#ClockSuffix
{
	color: messagecolorwash;
	text-align: left;
	font-size: 36px;
	line-height: 36px;
	max-width: 178px;
	min-width: 168px;
}

#ClockSuffix
{
	text-align: left;
}

#CommunityFriendsStrip
{
	opacity: 1.0;

	width: 100%;
	height: 800px;

	margin-top: 68px;
	margin-left: 0px;
}

#OverlayDashboard
{
	width: 1920px;
	height: 1080px;
}

#UpperRow
{
	margin-left: 90px;
	margin-top: 60px;
}

#ContentsRow
{
	width: 100%;
	height: 600px;
	transform: translateY( 400px );

	flow-children: right;
	opacity: 0.90;
	desaturation: 0.1;
	opacity-mask: url( "file://{images}/lower_row_mask.tga" ) 0.4;


	transition-property: transform, opacity-mask, opacity, desaturation;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

#ContentsRow:descendantfocus
{
	width: 100%;
	height: 100%;

	opacity: 1.0;
	desaturation: 0.0;

	opacity-mask: url( "file://{images}/lower_row_mask.tga" ) 0.0;

	flow-children: right;
	transform: translateY( 0px ) translateZ( 0px );
}


#ContentsRow:descendantfocus #LinksAndMore,
#ContentsRow:descendantfocus #Controller,
#ContentsRow:descendantfocus #Achievements,
#ContentsRow:descendantfocus #Broadcast,
#ContentsRow:descendantfocus #Notifications,
#ContentsRow:descendantfocus #MusicControlOverlay,
#ContentsRow:descendantfocus #FriendsWhoPlay,
#ContentsRow:descendantfocus #Screenshots,
#ContentsRow:descendantfocus #RecentNews,
#ContentsRow:descendantfocus #Guides
{
	transform: translateY( 320px ) translateZ( 40px );	
}

#ContentsRow:descendantfocus #MusicControlOverlay
{
	transform: translateY( 471px ) translateZ( 40px );	

}

#ContentsRow:descendantfocus #MusicControlOverlay:descendantfocus
{
	transform: translateY( 320px ) translateZ( 40px );	
}


#BroadcastLabelText
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	font-size: 21px;
	line-height: 24px;
	margin-bottom: 2px;
	white-space: normal;
	font-weight: normal;
	font-family: platformfont;
}

#OverlayNotificationList
{
	margin: 0px;
	width: 100%;
	height: 70%;
	
	overflow: clip scroll;

	flow-children: down;
}

#BroadcastStopBotton
{
	width: 100%;
	margin: 0px 24px 24px 24px;
	padding: 8px 7px 8px 7px;
}

.OverlayNotificationWatchRequest
{
	margin: 0px;
	width: 100%;
	height: 120px;
	margin: 10px;
	flow-children: right;
}

.OverlayNotificationWatchRequestText
{
	font-size: deffontsize;
	font-family: platformfont;
	color: tcstatictext;
	height: 60px;
	width: 100%;
	overflow: clip scroll;
}

.OverlayNotificationWatchRequestFrame
{
	flow-children: down;
}

.OverlayNotificationWatchRequestCapsule
{
	flow-children: right;
	vertical-align: bottom;
	height: 60px;
}


.FirstTimeBroadcastPanel
{
	width: 880px;
	height: fit-children;

	vertical-align: center;
	horizontal-align: center;

	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;

	background-color: dialog_bg_color;
}

.FirstTimeBroadcastFrame
{
	margin: 40px;
	padding-left: 30px;
	padding-top: 30px;
	flow-children: down;
	overflow: clip scroll;
}

.FirstTimeBroadcastSpacer
{
	margin-top: 21px;
}


.FirstTimeBroadcastOptions
{
	margin-top: 24px;
	margin-bottom: 20px;
	horizontal-align: left;
}

.ButtonText
{	
	font-size: 24px;
	margin-left: 10px;
	margin-top: 3px;
	color: applabelsolid;
	text-transform: uppercase;
}

Button:focus .ButtonText,
Button:hover .ButtonText,
Button:focus:hover .ButtonText
{
	color: applabelselectedsolid;	
}

#FirstTimeBroadcastPanel Button
{
	width: 150px;
}

#FirstTimeBroadcastPanel .RadioButton Label
{
	margin-top: 0px;
	margin-left: 4px;
	font-size: 24px;
	transform: translateX( 0px );
}
	
#FirstTimeBroadcastPanel .RadioButton:hover Label,
#FirstTimeBroadcastPanel .RadioButton:focus Label, 
#FirstTimeBroadcastPanel .RadioButton:focus:hover Label 
{
	transform: translateX( 0px );
}

#FirstTimeBroadcastPanel .CheckBox Label
{
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 5px;
	font-size: 28px;
}

#FirstTimeBroadcastPanel .CheckBox:hover Label
{
	color: #ffffffff;
}

#FirstTimeBroadcastPanel .CheckBox:focus Label
{
	color: #000000ff;
}

#FirstTimeBroadcastPanel .SettingsLeftContent Button, .CheckBox,RadioButton
{
	width: 620px;
}