@define shortduration: 0.25s;
@define shortmedduration: 0.3s;
@define mediumduration: 0.4s;
@define longduration: 1.7s;


MusicLibraryContainerPanel
{
	width: 100%;
	height: 955px;
	background-color: #00000000;

	opacity: 0.0;
	desaturation: 1.0;
	transform: translate3d( 0px, 1280px, 1000px );

	transition-property: transform, blur, position, opacity, desaturation;
	transition-duration: mediumduration;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}

#ContentPanel
{
	width: 100%;
	height: 100%;
	margin-top: 140px;
	opacity: 1.0;
	flow-children: down;
}

.DuringCrawling #ContentPanel
{
	opacity: 0.0;
}

#PanelDuringCrawling
{
	width: 100%;
	height: 100%;
	margin-top: 80px;
	opacity: 0.0;
}

.DuringCrawling #PanelDuringCrawling
{
	opacity: 1.0;
}

MusicLibraryAlbumPanel
{
	width: 100%;
	height: 100%;
	
	opacity: 0.0;
	
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: linear;
}

MusicLibraryAlbumPanel.Active
{
	opacity: 1.0;
}

MusicLibraryArtistPanel
{
	width: 100%;
	height: 100%;
	
	opacity: 0.0;
	
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: linear;
}


MusicLibraryArtistPanel.Active
{
	opacity: 1.0;
}


MusicLibraryCrawlingPanel
{
	width: 100%;
	height: 100%;
	flow-children: down;
}


.MusicLibraryVisible
{
	transform: translatey( 128px );
	opacity: 1.0;
	desaturation: 0.0;
}



.SectionHeader
{
	font-family: platformfont;
	text-transform: uppercase;
	font-weight: light;
	color: carousel_title;
	font-size: 56px;
	line-height: 70px;
	white-space: nowrap;

	margin-left: 100px;
	vertical-align: center;
}

.SectionLabel
{
	font-family: platformfont;
	text-transform: uppercase;
	font-weight: light;
	font-size: 32px;
	line-height: 40px;
	white-space: nowrap;
	color: white;
	margin-left: 100px;
	vertical-align: center;
}

.HeaderRow
{
	margin-top: 60px;
	width: 100%;
	height: 80px;
	padding-top: 0px;
	flow-children: right;
}


#GridTabs
{
	margin-top: 0px;
	height: 50px;

	width: 100%;
	flow-children: right;
	margin-left: -15px;

	opacity: 1.0;

	transition-property: transform, opacity;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}


#GridTabs Button
{

	height: 60px;
	padding: 0px;

	transform: translatey( -1px );
	pre-transform-scale2d: 0.85;
	color: #ffffff77;
	box-shadow: fill #ffffff00 3px 16px 40px -32px;
	margin-left: 0px;

	padding-right: 24px;

	transition-property: color, box-shadow, background-color, pre-transform-scale2d, transform;
	transition-timing-function: ease-out;
	transition-duration: 0.4s;
}

//current selection
#GridTabs Button.Focused
{

	pre-transform-scale2d: 0.85;
	transform: translatey( -2px );
	transition-duration: 0.23s !immediate;
	color: #f2f2f2ff;

}

//focus
#GridTabs Button:focus
{
	pre-transform-scale2d: 1.0;
	transform: translatey( -3px );
	transition-duration: 0.23s !immediate;
	color: #ffffff77;
	
	background-image: url( "file://{images}/store/filterbg.png" );
	background-size: 100% 100%;
	background-position: left -12px top 0px;
	background-repeat: no-repeat;
}

#GridTabs Button:hover
{
	pre-transform-scale2d: 0.9;
	transform: translatey( -2px );
	transition-duration: 0.23s !immediate;
	color: #ffffff55;

	//box-shadow: fill light_box_shadow_color 3px 16px 40px -32px;
}

#GridTabs Button.Focused
{
	pre-transform-scale2d: 0.85;
	transform: translatey( -1px );
	transition-duration: 0.23s !immediate;
	color: #ffffff77;

	box-shadow: fill box_shadow_off_color 3px 16px 40px -32px;
}

#GridTabs Button.Focused:hover
{
	pre-transform-scale2d: 0.9;
	transform: translatey( -2px );
	transition-duration: 0.23s !immediate;
	color: #ffffff77;

	//box-shadow: fill light_box_shadow_color 3px 16px 40px -32px;
	
	background-image: url( "file://{images}/store/filterbg.png" );
	background-size: 100% 100%;
	background-position: left -12px top 0px;
	background-repeat: no-repeat;
}



#GridTabs Button.Focused:active
{
	pre-transform-scale2d: 1.00;
	transform: translatey( -2px );
	transition-duration: 0.23s !immediate;
	color: #f2f2f2ff;
	
	//box-shadow: fill light_box_shadow_color 3px 16px 40px -32px;
	
	background-image: url( "file://{images}/store/filterbg.png" );
	background-size: 100% 100%;
	background-position: left -12px top 0px;
	background-repeat: no-repeat;

}


#GridTabs Button Label
{
	color: #ffffff66;
	font-size: 36px;
	font-weight: light;
	align: center center;
	transition-property: color, opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;
}

#GridTabs Button:descendantfocus Label
{
	color: #ffffffff;
	align: center center;
}

#GridTabs Button:focus Label
{
	color: #ffffffff;
}

#GridTabs Button.Focused Label
{
	color: #ffffffff;
}

#GridTabs Button:hover Label
{
	color: #ffffffff;
}


.CrawlingTextRow
{
	flow-children: right;
}

.CrawlingHeader
{
	font-family: platformfont;
	color: carousel_title;
	font-size: 24px;
	height: 50px;
	// white-space: nowrap;
	margin-left: 102px;
	margin-top: 45px;	
	vertical-align: top;
	text-align: left;
}


.CrawlingTopSpacer
{
	width: 10px;
	height: 280px;
}

.CrawlingLabelLeft
{
	font-family: platformfont;
	text-transform: uppercase;
	font-weight: light;
	color: carousel_title;
	font-size: 48px;
	height: 90px;
	margin-top: 26px;
	white-space: nowrap;

	margin-left: 440px;
	vertical-align: top;
	text-align: right;
	margin-right: 20px;
	width: 500px;
}

.CrawlingLabelRight
{
	font-family: platformfont;
	text-transform: uppercase;
	font-weight: light;
	color: carousel_title;
	font-size: 70px;
	height: 90px;
	margin-top: 5px;
	// white-space: nowrap;

	margin-left: 0px;
	vertical-align: top;
	text-align: left;
}

.MusicAlbumGrid
{
	margin-top: .0px;

	padding-top: 10px;
	padding-left: 60px;
	padding-right: 80px;
	padding-bottom: 84px;
	transform: translateX( -220px );
	transition-property: transform;
	transition-duration: 0.23s;
	transition-timing-function: ease-in-out;

	width: 100%;
	height: 100%;
}


.Active #MusicAlbumGrid
{
	opacity: 1.0;
	transform: translateX( 0px );
}


#MusicArtistPanel .MusicAlbumGrid
{
	padding-top: 40px;
}

AlbumGridItem
{
	width: 326px;
	height: 326px;
	vertical-align: top;
	pre-transform-scale2d: 0.78528;

	transition-property: pre-transform-scale2d, position, transform, box-shadow;
	transition-duration: 0.23s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	
	box-shadow: box_shadow_off_color 0px 0px 16px 0px;
}

AlbumGridItem:focus
{
	pre-transform-scale2d: 1.0;
	z-index: 5;

	
	box-shadow: box_shadow_on_color 0px 0px 16px 0px;

	animation-name: main-button-glow-movement-no-fill;
	animation-duration: longduration;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

AlbumGridItem:hover
{
	opacity: 1.0;
	desaturation: 0.0;
	pre-transform-scale2d: 0.83;
}

AlbumGridItem:focus:hover
{
	opacity: 1.0;
	desaturation: 0.0;
	pre-transform-scale2d: 1.03;
}
	
	
.Moving AlbumGridItem
{
	blur: gaussian( 5, 1 );
	opacity: 0.15;
	desaturation: 0.7;
}


.AddLibraryItem
{
	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdff ), to( #bdbfbfff ) );
}

.AddLibraryItem Label
{
	color: gradient( linear, 0% 96%, 96% 100%, from( #f2f2f299 ), color-stop( 0.90, #f2f2f299 ), to( #97989800 ) );
}

.AddLibraryItem #AlbumImage
{
	pre-transform-scale2d: 0.6;

	box-shadow: none;
}

.AddLibraryItem:focus #AlbumImage
{
	pre-transform-scale2d: 0.6;

	box-shadow: none;
}

AlbumGridItem #AlbumImage
{
	width: 320px;
	height: 320px;
	vertical-align: top;
	margin: 10px;
	desaturation: 0.1;
	opacity: 0.85;
	box-shadow: fill #00000033 -4.5px -4.5px 18px 9px;
	border-radius: 4px;
}


AlbumGridItem:focus #FocusBorderPanel
{
	width: 326px;
	height: 326px;
	border-width: 8px;
	border-style: solid;
	border-color: #f2f2f2ff;
	z-index: 6;

	background-image: url( "file://{images}/music/shadow.png" );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 414px 414px;
}

MusicArtistPanel AlbumGridItem:focus #FocusBorderPanel
{
	width: 590px;
	height: 590px;

	background-image: url( "file://{images}/music/shadow.png" );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 634px 634px;
}

AlbumGridItem:focus #AlbumImage
{
	desaturation: 0.0;
	opacity: 1.0;
	z-index: 6;
	pre-transform-scale2d: 1.05;

	box-shadow: inset #00000044 4px 4px 16px 8px;
}

AlbumGridItem Label
{
	height: 32px;
	width: 300px;
	font-size: 26px;
	font-family: basefont;
	font-weight: normal;
	color: applabel;
	opacity: 0.0;
	vertical-align: bottom;
	text-overflow: clip;
	white-space: nowrap;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	font-family: platformfont;
	z-index: 5;

}

#AlbumUpperLabel
{
	transform: translateY( -48px ) translateX( 16px );
	font-weight: bold;
}

#AlbumLowerLabel
{
	transform: translateY( -14px ) translateX( 16px );
	font-weight: normal;
}

AlbumGridItem:focus Label
{
	opacity: 1.0;
	z-index: 6;
}

.LeftMouseScrollRegion, .RightMouseScrollRegion
{
	opacity: 0.0;
	transition-property: opacity, background-color;
	transition-duration: mediumduration;
	transition-delay: 0.2s;
	transition-timing-function: ease-in-out;
	transform: translateY( -80px );
}


.MusicAlbumGrid.CursorVisible:descendantfocus:hover .LeftMouseScrollRegion
{
	width: 80px;
	height: 100%;
	background-image: url( "file://{images}/mouse/arrowLdefault.tga" );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 80px 80px;
	z-index: 200;
	opacity: 1.0;
	transition-delay: 0.2s;
	background-color: mouse_hover_bg_left;
}


.MusicAlbumGrid.CursorVisible:descendantfocus:hover .RightMouseScrollRegion,
{
	width: 80px;
	height: 100%;
	align: right center;
	background-image: url( "file://{images}/mouse/arrowRdefault.tga" );
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80px 80px;
	z-index: 200;
	opacity: 1.0;
	transition-delay: 0.2s;
	transition-duration: 0.2s;
	background-color: mouse_hover_bg_right;
}

.MusicAlbumGrid.CursorVisible:descendantfocus:hover  .RightMouseScrollRegion:hover,
{
		background-color: mouse_active_bg_right;
}

.MusicAlbumGrid.CursorVisible:descendantfocus:hover  .LeftMouseScrollRegion:hover, .MusicAlbumGrid.CursorVisible:descendantfocus:hover  .LeftMouseScrollRegion:active
{
	background-color: mouse_active_bg_left;
}


.MusicAlbumGrid.CursorVisible:descendantfocus:hover .RightMouseScrollRegion:hover, .MusicAlbumGrid.CursorVisible:descendantfocus:hover .RightMouseScrollRegion:active
{
	background-color: mouse_active_bg_right;

}

.LeftMouseScrollRegion
{
	position: 0px -10px 0px;
	background-color: mouse_hover_bg_left;


	z-index: 100;
}

.RightMouseScrollRegion
{
	position: 0px -10px 0px;
	background-color: mouse_hover_bg_right;
	z-index: 100;
}


#FastScrollWrapper
{
	z-index: 100;
	flow-children: right;
}

#FastScrollLabel
{
	margin-top: 43px;
	margin-left: 100px;
	font-size: 584px;

	height: 710px;

	z-index: 100;

	color: #f2f2f2ff;
	opacity: 0.0;
	
	background-image: url( "file://{images}/library/lettershadow.png"  );
	background-repeat: no-repeat no-repeat;
	background-position: 0px 80px;
	
	text-transform: uppercase;

	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;

}

.Moving #FastScrollLabel
{
	opacity: 1.0;
	transition-duration: 0.5s;
	
}

#TypeToJumpLabel
{
	margin-top: 300px;
	font-size: 300px;

	z-index: 100;

	color: #f2f2f2ff;
	opacity: 0.0;
	
	transition-property: opacity;
	transition-duration: shortduration;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}

.Moving #TypeToJumpLabel
{
	opacity: 1.0;
	transition-duration: 0.5s;
}

#OverlayBasePanel MusicLibraryContainerPanel
{
	height: 1080px;
	padding-top: 50px;
	padding-bottom: 60px;
	margin-bottom: 0px;
}

#OverlayBasePanel #MusicLibraryContainerPanel
{
	height: 1080px;
	background-color: none;
}

#OverlayBasePanel .MusicAlbumGrid
{
	padding-bottom: 110px;
	padding-top: 0px;
}

#OverlayBasePanel #MusicArtistPanel .MusicAlbumGrid
{
	padding-bottom: 50px;
	padding-top: 60px;
}
.MusicCrawlAnimation
{
	opacity: 1.0;
	width: 3840px;
	height: 420px;

	vertical-align: top;
	background-image: url( "file://{images}/library/stream2b.png"  );
	background-repeat: repeat no-repeat;
	background-position: 0px 0px;
	overflow: noclip;
	margin-top: -210px;
	animation-name: stream-activity;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


@keyframes 'stream-activity'
{
     0%
     {
           transform: scale3d( 2.0, 1.0, 1.0 ) translatex( -1920px );

     }
     
     100%
     {
           transform: scale3d( 2.0, 1.0, 1.0 ) translatex( 0px );
     }
}


#InputButton
{
	width: 100px;
	height: 100px;
}


///////////////////////////////////////////////////////

.MusicArtistGrid
{
	margin-top: 0px;

	padding-top: 30px;
	padding-left: 90px;
	padding-right: 90px;
	padding-bottom: 84px;
	
	transform: translateX( 220px );
	transition-property: transform;
	transition-duration: 0.23s;
	transition-timing-function: ease-out;

	width: 100%;
	height: 100%;

	visibility: visible;
}


.Active .MusicArtistGrid
{
	opacity: 1.0;
	transform: translateX( 0px );
}


ArtistGridItem
{
	width: 356px;
	height: 90px;
	vertical-align: top;
	pre-transform-scale2d: .94;

	transition-property: pre-transform-scale2d, position, transform;
	transition-duration: 0.3s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;

	box-shadow: box_shadow_off_color 0px 0px 16px 0px;
}

ArtistGridItem:focus
{
	pre-transform-scale2d: 1.0;
	z-index: 5;
	transform: translateX( -7px );
}

ArtistGridItem:hover
{
	pre-transform-scale2d: 1.0;
	z-index: 5;
	transform: translateX( 0px );
}

ArtistGridItem:focus:hover
{
	pre-transform-scale2d: 1.04;
	z-index: 5;
	transform: translateX( -7px );
}


ArtistGridItem:focus #FocusBorderPanel
{
	width: 326px;
	height: 90px;
	border-width: 8px;
	border-style: solid;
	border-color: #f2f2f2ff;
	z-index: 6;

	background-image: url( "file://{images}/music/shadow.png" );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 414px 414px;
}

#MusicLibraryArtistPanel ArtistGridItem:focus #FocusBorderPanel
{
	width: 326px;
	height: 60px;

	background-image: none;
	margin: 8px;

	z-index: 6;

	transition-duration: shortduration;
	transition-property: background-color;
	border-width: 5px;
	border-style: solid;
	border-color: #fdfefef0;
	color: #161718f5;
	box-shadow: none;

	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdee ), to( #adafafe0 ) );

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}


#MusicLibraryArtistPanel .MusicArtistGrid #ArtistUpperLabel
{
	color: applabel;
}

#MusicLibraryArtistPanel ArtistGridItem:focus #ArtistUpperLabel
{
	color: applabelselected;
}

ArtistGridItem Label
{
	height: 32px;
	width: 300px;
	font-size: 26px;
	font-family: basefont;
	font-weight: normal;
	color: applabel;
	opacity: 0.8;
	vertical-align: bottom;
	text-overflow: clip;
	white-space: nowrap;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	font-family: platformfont;
	z-index: 5;
}

#ArtistUpperLabel
{
	transform: translateY( -48px ) translateX( 16px );
	font-weight: bold;
}

.MusicArtistGrid #ArtistUpperLabel
{
	height: 40px;
	transform: translateY( -27px ) translateX( 0px );
}

#MusicLibraryArtistPanel ArtistGridItem:focus #ArtistUpperLabel
{
	height: 40px;
	transform: translateY( -27px ) translateX( 22px );
}

ArtistGridItem:focus Label
{
	opacity: 1.0;
	z-index: 6;
	color: applabelselected;	
}



.Moving ArtistGridItem
{
	blur: gaussian( 5, 1 );
	opacity: 0.15;
	desaturation: 0.7;
}


.MusicArtistGrid.CursorVisible:descendantfocus:hover .LeftMouseScrollRegion
{
	width: 80px;
	height: 100%;
	background-image: url( "file://{images}/mouse/arrowLdefault.tga" );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 80px 80px;
	z-index: 200;
	opacity: 1.0;
	transition-delay: 0.2s;
	background-color: mouse_hover_bg_left;
}


.MusicArtistGrid.CursorVisible:descendantfocus:hover .RightMouseScrollRegion,
{
	width: 80px;
	height: 100%;
	align: right center;
	background-image: url( "file://{images}/mouse/arrowRdefault.tga" );
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80px 80px;
	z-index: 200;
	opacity: 1.0;
	transition-delay: 0.2s;
	transition-duration: 0.2s;
	background-color: mouse_hover_bg_right;
}

.MusicArtistGrid.CursorVisible:descendantfocus:hover  .RightMouseScrollRegion:hover,
{
		background-color: mouse_active_bg_right;
}

.MusicArtistGrid.CursorVisible:descendantfocus:hover  .LeftMouseScrollRegion:hover, .MusicArtistGrid.CursorVisible:descendantfocus:hover  .LeftMouseScrollRegion:active
{
	background-color: mouse_active_bg_left;
}


.MusicArtistGrid.CursorVisible:descendantfocus:hover .RightMouseScrollRegion:hover, .MusicArtistGrid.CursorVisible:descendantfocus:hover .RightMouseScrollRegion:active
{
	background-color: mouse_active_bg_right;

}


/////////////////////////////////////////
// AlbumGrid inside the MusicArtistPanel
/////////////////////////////////////////
MusicArtistPanel AlbumGridItem
{
	width: 590px;
	height: 590px;
	vertical-align: top;
	pre-transform-scale2d: 0.78528;

	transition-property: pre-transform-scale2d, position;
	transition-duration: 0.23s;
	transition-delay: 0.0s;
	transition-timing-function: ease-out;

	box-shadow: box_shadow_off_color 0px 0px 16px 0px;
}

MusicArtistPanel AlbumGridItem:focus
{
	pre-transform-scale2d: 1.0;
	z-index: 5;
}

MusicArtistPanel AlbumGridItem:hover
{
	pre-transform-scale2d: 0.82;

	z-index: 0;
}

MusicArtistPanel AlbumGridItem:hover #AlbumImage
{
	opacity: 1.0;
	desaturation: 0.0;
	box-shadow: fill box_shadow_on_color -4.5px -4.5px 8px 8px;
	}

MusicArtistPanel AlbumGridItem:focus:hover
{
	pre-transform-scale2d: 1.03;
	z-index: 5;
}


MusicArtistPanel AlbumGridItem #AlbumImage
{
	width: 590px;
	height: 590px;
	vertical-align: top;
	margin: 10px;
	desaturation: 0.1;
	opacity: 0.85;
	box-shadow: fill #00000033 -4.5px -4.5px 18px 9px;
	border-radius: 4px;
	transition-property: opacity, desaturation, box-shadow;
	transition-duration: 0.23s;
}



MusicArtistPanel AlbumGridItem:focus #AlbumImage
{
	desaturation: 0.0;
	opacity: 1.0;
	z-index: 6;
	pre-transform-scale2d: 1.05;

	box-shadow: inset #00000044 4px 4px 16px 8px;
}

MusicArtistPanel AlbumGridItem Label
{
	height: 32px;
	width: 600px;
	font-size: 26px;
	font-family: basefont;
	font-weight: normal;
	color: applabel;
	opacity: 0.0;
	vertical-align: bottom;
	text-overflow: clip;
	white-space: nowrap;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
	font-family: platformfont;
	z-index: 5;

}



MusicLibraryArtistPanel .AddLibraryItem
{
	background-color: none;
}

MusicLibraryArtistPanel .AddLibraryItem:hover
{
	background-color: none;
}

MusicLibraryArtistPanel .AddLibraryItem:focus #AlbumImage
{
	pre-transform-scale2d: 0.6;
	box-shadow: none;
}

MusicArtistPanel MusicLibraryAlbumPanel
{
	opacity: 1.0;
}

MusicArtistPanel #MusicAlbumGrid
{
	transform: translateX( 0px );
}