@define mediumduration: 0.4s;


MusicPlaylistPanel
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
	padding: 0px 0px 10px 0px;


	opacity: 0.0;
	desaturation: 1.0;

	transform: translate3d( 0px, 1280px, 1000px );
	
	transition-property: transform, blur, position, opacity, desaturation;
	transition-duration: mediumduration;
	transition-timing-function: bigpicture-ease-in-out;
	transition-delay: 0s;
}

.MusicPlaylistVisible
{
	transform: translatey( 0px );
	opacity: 1.0;
	desaturation: 0.0;
}

.PlaylistTitleLabel
{
	font-family: platformfont;
	font-weight: bold;
	color: applabel;
	width: 100%;
	font-size: 56px;
	height: 74px;
	white-space: nowrap;
	margin-top: 70px;
	margin-bottom: 0px;

	margin-left: 100px;
	vertical-align: center;
}

.ArtistRow
{
	flow-children: right;
	margin-left: 100px;
}

.ArtistLabel
{
	font-family: platformfont;
	font-weight: normal;
	color: carousel_title;
	font-size: 24px;
	height: 50px;
	margin-top: -6px;
	white-space: nowrap;

	margin-left: 100px;
	vertical-align: center;
}

#AlbumCoverUpperLabel
{
	color: applabel;
	opacity: 0.0;
	
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-delay: 0.0s;
	transition-timing-function: bigpicture-ease-in-out;
}

#BigLabels
{
	flow-children: down;
	width: 900px;
	height: 70%;
	padding-top: 12px;
	padding-left: 10px;
}

.NoCover #AlbumCoverUpperLabel
{
	opacity: 0.2;
	font-size: 120px;
	max-height: 450px;
	width: 560px;
	font-weight: thin;
	text-transform: uppercase;
	text-overflow: clip;
	white-space: normal;
	transform: translateX( 320px ) translateY( 18px );
	height: fit-children;
	vertical-align: top;
	
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-delay: 0.0s;
	transition-timing-function: bigpicture-ease-in-out;
}

#AlbumCoverLowerLabel
{
	color: applabel;
	margin-top: 20px;
	opacity: 0.0;
	
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-delay: 0.0s;
	transition-timing-function: bigpicture-ease-in-out;
}

.NoCover #AlbumCoverLowerLabel
{
	opacity: 0.5;
	font-size: 120px;
	max-height: 450px;
	width: 565px;
	font-weight: thin;
	text-transform: uppercase;
	white-space: normal;
	text-overflow: clip;
	height: fit-children;
	transform: translateX( 320px ) translateY( 35px );

	transition-property: opacity;
	transition-duration: 0.1s;
	transition-delay: 0.0s;
	transition-timing-function: bigpicture-ease-in-out;
}

.UpperRow
{
	width: 100%;
	height: 190px;
	flow-children: down;
}

.Body
{

	width: 100%;
	height: 100%;
	margin-top: 150px;
	flow-children: right;
}

.LeftColumn
{
	width: 50%;
}

.RightColumn
{
	width: 50%;
	flow-children: down;
}

.AlbumImage
{
	width: 600px;
	height: 600px;
	margin-top: 48px;
	margin-left: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
	box-shadow: fill #00000033 -5px -5px 18px 10px;
	
	opacity: 0.0;
}

.AlbumImage.Current
{
	opacity: 1.0;

}

.TopSpacer
{
	width: 100%;
	height: 40px;
}

.PlaylistActionButton, .PlaylistActionButton Label
{
	width: 700px;
	background-color: transparent;
	font-weight: bold;
	transform: translateX(-7px);
	transition-property: transform;
	transition-duration: 0.23s;
	color: applabel;
}

.PlaylistActionButton
{
	transform: translateX(0px);	
}

.PlaylistActionButton:focus Label
{
	transform: translateX(0px);
	color: applabelselected;

}

.Separator
{
	width: 700px;
	height: 5px;
	background-color: rule_color;
	margin-left: 10px;
	margin-right: 10px;
}

.TrackButtonContainer
{
	flow-children: down;
	height: 610px;
	width: 630px;
	overflow: squish scroll;
	opacity: 0.99;
	padding: 8px;

	opacity-mask-scroll-up: url( "file://{images}/friends/friends_list_mask_fade_top.png" );
	opacity-mask-scroll-down: url( "file://{images}/friends/friends_list_mask_fade_bottom.png" );
	opacity-mask-scroll-up-down: url( "file://{images}/friends/friends_list_mask_fade_both.png" );
}

.TrackButton
{	
	// transform: translatey( -1000px );
	width: 700px;
	background-color: transparent;
	color: applabel;
	width: 100%;
	height: fit-children;
}

// .MusicAlbumAnimateTo .TrackButton
// {
//	transform: translatey( 0px );
//	transition-property: transform;
//	transition-duration: 0.4s;
//	transition-timing-function: bigpicture-ease-in-out;
//	transition-delay: 0s;
// }



.TrackButton Label
{

	color: applabel;
	width: 100%;
	text-overflow: clip;
	font-weight: bold;
	height: 28px;
	transition-property: transform;
	transition-duration: 0.15s;
}

.TrackButton .TrackLabel
{
	transform: translateX(-14px );
}

.TrackButton:hover
{
	background-color: none;
	box-shadow: none;
	transition-property: background-color;
	transition-duration: 0.23s;
}

.TrackButton:hover Label
{
	transform: translateX(0px);
}

.TrackButton:focus:hover
{
	transition-duration: 0.25s !immediate;

	horizontal-align: left;

	border-width: 5px;
	border-style: solid;
	border-color: #fdfefef0;
	color: black;

	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdff ), to( #bdbfbfff ) );

	transform: translatex(7px);

	// Remove border, so we dont transition border out on focus lost, that looks weird.
	transition-property: blur, background-color, color, transform;

	transform: translatez( 0px );
	box-shadow: box_shadow_on_color -4.5px -4.5px 16px 9px;

	animation-name: main-button-glow-movement;
	animation-duration: 1.7s;
	animation-delay: 0.4s;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
}



.TimeLabel
{
	transform: translateX(500px);
	visibility: collapse;
	horizontal-align: right;
	transition-property: opacity;
}


.TrackCurrentlyPlaying
{
	background-color: none;
}

.TrackCurrentlyPlaying #ElapsedLabel
{
	visibility: visible;
	transform: translateX(500px);
	color: messagecolorwashfade;
}



.TrackButton #TimeLabel
{
	transform: translateX(500px);
}

.TrackButton:focus #TimeLabel
{
	visibility: visible;
	transform: translateX(500px);
}

.TrackButton.TrackCurrentlyPlaying #TimeLabel
{
	visibility: collapse;
	transform: translateX(500px);
}

.TrackCurrentlyPlaying Label
{
	color: messagecolorwashfade;
	transform: translateX( 0px );
	width: 100%;
}

.TrackCurrentlyPlaying #TrackLabel
{
	color: messagecolorwashfade;
}

.TrackButton:focus .TrackCurrentlyPlaying #TrackLabel
{
	color: gradient( linear, 0% 0%, 85% 85%, from( #3c3c3cff ), color-stop( 0.82, #3c3c3cff ), to( #3c3c3c00 ) );
}

.TrackButton:focus Label
{
	color: musicapplabelselected;
	transform: translateX(0px);
}

.TrackButton #TrackPosition
{
	transform: translateX( -14px );
	max-width: 45px;
	font-size: 18px;
	text-align: left;
	padding-right: 4px;
	padding-top: 4px;
	color: #999999ff;
}

.TrackButton:focus #TrackPosition
{
	color: #666666ff;
	transform: translateX( 0px );
}

.TrackButton:hover #TrackPosition
{

	transform: translateX( 0px );
}

.TrackButton #TrackLabel
{
	transform: translateX( 50px );
}

.TrackButton:focus #TrackLabel
{
	transform: translateX( 50px );
}


#OverlayBasePanel #MusicPlaylistPanel
{
	margin-top: 50px;
}

#TracksInfoLabel
{
	font-family: platformfont;
	font-weight: bold;
	color: #888888ff;
	font-size: 18px;
	margin-top: 4px;
	white-space: nowrap;
	text-align: right;
	horizontal-align: right;
	margin-right: 5px;
	width: fit-children;
	transform: translateX( -14px );
}

.AlbumActionButton:focus #TracksInfoLabel
{
	transform: translateX( -14px );
}
