
#RefreshBtn {
}

#LoadingThrobber, #NoMatchingReviews {
	transition: height 0.25s, opacity 0.25s;
	opacity: 0;
	height: 0;
}

#LoadingThrobber.visible, #NoMatchingReviews.visible {
	opacity: 1;
	height: 133px;
}

#NoMatchingReviews {
	position: relative;
	margin: auto auto;
	vertical-align: middle;

	color: #60acde;
	font-size: 22px;
	text-align: center;
}

div.advanced_controls_toggle_icon {
	position: relative;
	top: 3px;
	width: 14px;
	height: 16px;
	background: url('/public/images/v6/app/review_graph_expander.png');
	background-repeat: no-repeat;
	background-size: 14px 26px;
	display: inline-block;
}
div.advanced_controls_toggle_icon.up {
	background-position: 0px 2px;
}
div.advanced_controls_toggle_icon.down {
	background-position: 0px -12px;
}


.advanced_controls_toggle_ctn {
	margin-top: 10px;
	text-align: center;
}

.show_advanced_controls #ShowAdvancedControls {
	display: none;

}
#HideAdvancedControls {
	display: none;
}
.show_advanced_controls #HideAdvancedControls {
	display: inline-block;
}

.trending_reviews_content {
	width: 100%;
	margin: auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.trending_reviews_controls_ctn {
	padding: 15px;
	margin-top: 25px;
	margin-bottom: 5px;
	background: -webkit-linear-gradient( top, #506c86 5%, #101431 66%);
	background: linear-gradient( to bottom, #506c86 5%, #101431 66%);
}

.trending_reviews_controls_ctn h1 {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			font-size: 20px;
	line-height: 28px;
	margin: 0px 0px 15px 10px;
	color: #e7e7e8;
}

.trending_reviews_controls {
	display: flex;
	padding: 0 10px 0 10px;
	font-size: 14px;
	color: #fff;
	overflow: hidden;

	height: 0;
	opacity: 0;
	transition: opacity 0.75s;
}
.show_advanced_controls .trending_reviews_controls {
	height: auto;
	opacity: 1;
}
.trending_reviews_controls > div {
	flex: 1;
	margin-right: 10px;
}
.trending_reviews_controls > div:last-child {
	margin-right: 0px;
}

.trending_reviews_control_header {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.playtime_filter_controls {
}

.playtime_filter_slider_ctn {
	height: 0;
	opacity: 0;
	margin-top: 5px;
	transition: height 0.75s, opacity 0.75s;
	overflow: hidden;
}
.playtime_filter_controls.custom_range .playtime_filter_slider_ctn {
	height: auto;
	opacity: 1;
}

#app_reviews_playtime_slider {
	margin: 10px;
	height: auto;
	border: 2px solid #fff;
	border-radius: 0px;
	cursor: pointer;
}

#app_reviews_playtime_slider .ui-slider-range {

}

#app_reviews_playtime_slider .ui-slider-handle {
	margin-top: -2px;
	height: 14px;
	width: 14px;
	border-radius: 7px;
	box-shadow: 0px 0px 4px 0px #000000;
	border: none;
	cursor: pointer;
}
#app_reviews_playtime_slider .ui-slider-handle.ui-state-hover {
	background: #fff;
}

#app_reviews_playtime_slider .ui-widget-header {
	background: #67c1f5;
	height: 4px;
	margin-top: -2px;
}

#app_reviews_playtime_range_text_min, #app_reviews_playtime_range_text_max {
	font-weight: bold;
}

.reviewed_app {
	display: flex;
	margin-bottom: 5px;
	background-color: rgba(0,0,0,0.25);
	overflow: hidden;
	transition: transform 0.2s;
	transform: scale(0);
}
.reviewed_app.visible {
	transform: scale(.97);
}

.reviewed_app.visible:hover {
	transform: scale(1.0);
}

.reviewed_app.appeared {
}

.reviewed_app .main_cap_discount {
	bottom: 50px;
}

.reviewed_app .details {
	position: relative;
	margin-right: 5px;
}

.reviewed_app .reviewed_app_media {
	position: relative;
	max-height: 353px;
	background-color: #000;
}
.reviewed_app .reviewed_app_image {
	width: 616px;
	height: 353px;
	position: relative;
	opacity: 1;
	transition: opacity 0.5s;
}
.reviewed_app .reviewed_app_image.header_image_fallback {
	height: 288px;
}

.reviewed_app .microtrailer_video {
	position: absolute;
	left: 0;
	opacity: 0;
	width: 100%;
	height: auto;
	transition: opacity 0.5s;
}
.reviewed_app:hover .microtrailer_video {
	display: block;
	top: 50%;
	opacity: 1;
	transform: translateY(-50%);
}
.reviewed_app.has_microtrailer:hover .reviewed_app_image {
	opacity: 0;
}

.reviewed_app_small_image {
	position: absolute;
	bottom: 2px;
	right: 0;
	opacity: 0;
	transition: opacity 0.5s;
}
.reviewed_app.has_microtrailer:hover .reviewed_app_small_image {
	opacity: 1;
}

.reviewed_app .right_col {
	background: -webkit-linear-gradient( top, #506c86 5%, #101431 66%);
	background: linear-gradient( to bottom, #506c86 5%, #101431 66%);
	border-radius: 3px;
}

.reviewed_app:hover .right_col {
	background: -webkit-linear-gradient( top, #506c86 5%, #101431 76%);
	background: linear-gradient( to bottom, #506c86 5%, #101431 76%);
}


.reviewed_app .reviews {
	position: relative;
	width: 319px;
	height: 320px;
	overflow: hidden;
	display: flex;
}

.reviewed_app .paging_thumbs {
	display: none;
	position: relative;
}
.reviewed_app.has_multiple_reviews .paging_thumbs {
	display: flex;
	justify-content: space-between;
	text-align: center;
	z-index: 1;
}
.reviewed_app .paging_thumbs .num_reviews_desc {
	line-height: 24px;
	display: inline-block;
	color: #66c0f4;
}

/* Arrows */
.reviewed_app .arrow {
	display: inline-block;
	line-height: 24px;
	background-color: rgba( 103, 193, 245, 0.2 );
	border: 1px transparent;
	border-radius: 3px;
	cursor: pointer;
	padding: 0px 16px;
	color: #66c0f4;
	transition: background-color 0.2s, color 0.2s;
}

.reviewed_app .arrow.left {
	margin-left: 20px;
}

.reviewed_app .arrow.right {
	margin-right: 20px;
}


.reviewed_app.has_multiple_reviews .right_col:hover .arrow {
	display: inline-block;
}


.reviewed_app .arrow:hover {
	background-color: #66c0f466;
	//border-color: #66c0f4;
	color: #fff;
	text-decoration: none;
}

.review_box {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: opacity 400ms;
	pointer-events: none;
	padding: 20px;
}
.review_box.focus {
	opacity: 1;
	pointer-events: auto;
}

.review_box .author_block {
	display: flex;
	flex-direction: row;
	font-size: 10px;
	color: #8091a2;
	position: absolute;
	bottom: 10px;
}

.review_box .avatar {
	margin-right: 5px;
}
.review_box .avatar .playerAvatar {
	width: 40px;
	height: 40px;
}
.review_box .avatar .playerAvatar img {
	width: 38px;
	height: 38px;
}

.review_box .view_more {
	text-align: center;
	font-size: 12px;
}
.review_box .view_more a {
	color: #c1dbf4;
}
.review_box .view_more a:hover {
	color: #fff;
}

.review_box .persona_name {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 140px;
	overflow: hidden;
	margin-top: -2px;
}
.review_box .persona_name a {
	color: #c1dbf4;
	font-size: 13px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: bold; /* bold */

		}

.review_box .content {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			font-size: 18px;
	height: 210px;
	color: #ebebeb;
	overflow-wrap: break-word;
	overflow: hidden;
}

.tag_filter_controls {
}
.tag_filter_controls .trending_reviews_control_header {
	margin-bottom: 5px;
}

.tag_filter {
	margin: 2px 2px;
	display: inline-block;
}

.tag_filter > div {
	display: inline-block;
	line-height: 19px;
	padding: 2px 7px;
	color: #67c1f5;
	background-color: #283b47;

	margin-right: 2px;
	border-radius: 3px;

	box-shadow: 1px 1px 0 0 #000000;

	margin-bottom: 3px;
}

.tag_filter > div > div {
	display: inline-block;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
}

.tag_filter > div > span {
	display: inline-block;
	cursor: pointer;
	width: 12px;
	height: 12px;
	margin: 3px 0 4px 5px;
	vertical-align: top;
	background-image: url( '/public/images/v6/delete_search_term.png' );
	margin-left: 5px;
}