
	/* GAMES AND CAROUSELS */
	html.tablet .featured_items .carousel_items {
		height: unset;
	}

	html.tablet .recommended_creators_ctn {
		margin: unset;
	}

	/* 3 col game tiles */
	html.tablet .store_capsule,
	html.tablet .spotlight_img,
	html.tablet .carousel_container.spotlight .carousel_items > * .store_capsule,
	html.tablet .spotlight_img img,
	html.tablet #live_streams_carousel .carousel_items .store_capsule,
	html.tablet .recommended_creators_ctn .store_capsule,
	html.tablet .carousel_container.spotlight .carousel_items > * > div,
	html.tablet .spotlight_weeklong_ctn,
	html.tablet .home_marketing_message,
	html.tablet .recommendation_carousel_item .carousel_cap,
	html.tablet .tab_item {
		width: var(--gpWidth-3colcap);
		min-width: var(--gpWidth-3colcap);
	}

	/* 2 col game tiles */
	html.tablet .quadscreenshot_carousel.carousel_container .carousel_items:not(.no_paging) > *,
	html.tablet body.v6 .newonsteam_capsules > a,
	html.tablet .dailydeal_ctn {
		width: var(--gpWidth-2colcap);
    }

	/* Set shadows */
	html.tablet .store_capsule,
	html.tablet .big_button,
	html.tablet .home_area_spotlight,
	html.tablet .store_main_capsule,
	html.tablet .home_marketing_message,
	html.tablet .carousel_container.spotlight .carousel_items > * .store_capsule,
	html.tablet .home_page_takeover_link,
	html.tablet .community_recommendation_app,
	html.tablet .recommended_creators_ctn .store_capsule,
	html.tablet body.v6 .newonsteam_capsules > a,
	html.tablet .dailydeal_ctn,
	html.tablet .recommendation_carousel_item .carousel_cap {
		box-shadow: var( --gpShadow-Medium );
		scroll-snap-align: start;
	}

	/* Set consistent gap between tiles */
	html.tablet .carousel_container .carousel_items > *,
	html.tablet .carousel_container.spotlight .carousel_items > * > div,
	html.tablet #live_streams_carousel .carousel_items .store_capsule,
	html.tablet .carousel_container.paging_capsules .carousel_items > * > *:not(:last-child),
	html.tablet .contenthub_specials_grid_cell,
	html.tablet body.v6.newonsteam .newonsteam_headercaps a:first-child,
	html.tablet .store_capsule:not(:last-child) {
		margin-right: var(--gpSpace-Gap);
	}

	/* Make carousels peek left and right */
	html.tablet .peeking_carousel,
	html.tablet .carousel_container.spotlight .carousel_items:not(.no_paging),
	html.tablet .carousel_container.paging_capsules .carousel_items:not(.no_paging),
	html.tablet:not(.legacy_mobile) .responsive_scroll_snap_ctn,
	html.tablet .carousel_container .carousel_items:not(.no_paging),
	html.tablet .carousel_container.maincap .carousel_items:not(.no_paging),
	html.tablet .best_selling_vr_ctn .carousel_container.paging_capsules .carousel_items:not(.no_paging),
	html.tablet .recommended_by_steam_labs_ctn .carousel_container.paging_capsules .carousel_items:not(.no_paging),
	html.tablet .contenthub_popular_tags_grid,
	html.tablet .contenthub_specials_grid,
	html.tablet .marketingmessage_container,
	html.tablet .recommendation_carousel_scroll,
	html.tablet .home_page_content.gp_contiguous_singles {
		padding-left: 24px;
		padding-right: 24px;
		scroll-padding-left: 24px;
		scroll-padding-right: 24px;
		margin-left: -24px;
		margin-right: -24px;
		padding-bottom: 12px !important;
		padding-top: 8px;
	}

	/* html.tablet .responsive_scroll_snap_ctn:after,
	html.tablet .tab_content:after {
		content: "\00a0";
		min-width: 24px;
	} */

	/* Adds margin to end of carousels */
	html.tablet .tab_content:after,
	html.tablet .peeking_carousel:after,
	html.tablet .carousel_container.spotlight .carousel_items:not(.no_paging):after,
	html.tablet .carousel_container.paging_capsules .carousel_items:not(.no_paging):after,
	html.tablet:not(.legacy_mobile) .responsive_scroll_snap_ctn:after,
	html.tablet .carousel_container .carousel_items:not(.no_paging):after,
	html.tablet .carousel_container.maincap .carousel_items:not(.no_paging):after,
	html.tablet .best_selling_vr_ctn .carousel_container.paging_capsules .carousel_items:not(.no_paging):after,
	html.tablet .recommended_by_steam_labs_ctn .carousel_container.paging_capsules .carousel_items:not(.no_paging):after,
	html.tablet .contenthub_popular_tags_grid:after,
	html.tablet .contenthub_specials_grid:after,
	html.tablet .marketingmessage_container:after,
	html.tablet .recommendation_carousel_scroll:after,
	html.tablet .home_page_content.gp_contiguous_singles:after {
		content: "\00a0";
		min-width: var(--gpSpace-Gutter);
	}

	/* Turn container into a carousel */
	html.tablet .peeking_carousel,
	html.tablet .contenthub_popular_tags_grid,
	html.tablet .contenthub_specials_grid,
	html.tablet .newonsteam_headercaps,
	html.tablet .marketingmessage_container,
	html.tablet .recommendation_carousel_scroll {
		display: inline-flex;
		overflow-x: scroll;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		width: calc(100% + 24px);
		padding-bottom: var(--gpSpace-Gap);
	}



	/* EARLY ACCESS */
	html.tablet .early_access_tablet_banner {
		display: inline-block;
		width: 100%;
		padding-bottom: 12px;
	}
	html.tablet #earlyAccessHeader {
		display: none;
	}
	html.tablet .early_access_tablet_banner .header {
		background: var(--gpBackground-LightSoft);
	}
	html.tablet .early_access_tablet_content {
		display: none;
		max-height: 55vh;
		overflow-y: scroll;
		scroll-behavior: smooth;
	}
	html.tablet .early_access_tablet_content::-webkit-scrollbar {
		display: inline;
		padding-left: 20px;
	}
	html.tablet #devnotes_expander {
		max-height: none;
	}
	html.tablet #devnotes_more {
		display: none;
	}
	html.tablet .devs_say {
		padding-top: 10px;
		font: var(--gpText-HeadingMedium) !important;
		color: #ffffff !important;
	}
	html.tablet .early_access_tablet_warn {
		font: var(--gpText-BodyMedium);
		color: var(--gpStoreLighterGrey);
	}
	html.tablet .early_access_header .heading {
		font: var(--gpText-BodySmall);
		color: var(--gpStoreLightestGrey);
	}
	html.tablet .early_access_tablet_banner .btnv6_blue_hoverfade {
		background: var(--gpBackground-LightHard) !important;
	}



	/* TAB CONTAINER */
	html.tablet .tab_container {
		background: unset;
	}

	html.tablet .home_tabs_row {
		display: none;
	}

	html.tablet .tab_content,
	html.tablet .tab_content_items {
		display: flex !important;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		overflow: scroll;
		scroll-snap-type: x mandatory;
		scroll-padding: var(--gpSpace-Gutter);
		padding: 8px var(--gpSpace-Gutter) var(--gpSpace-Gap) var(--gpSpace-Gutter);
		margin: 0px calc(0px - var(--gpSpace-Gutter));
		width: 100%;

	}

	html.tablet .tab_content:not(:last-child) {
		margin-bottom: var(--gpSpace-Gap);
	}

	html.tablet .tab_see_more, .tab_controls {
		display: none;
	}

	html.tablet .tab_content#tab_topgrossing_content {
		margin-bottom: 0px;
	}


	/* Tab item tiles */
	html.tablet .tab_item {
		display: flex;
		flex-direction: column;
		background: var( --gpStoreDarkestGrey );
		height: unset;
		padding: 8px;
		margin-right: var(--gpSpace-Gap);
		margin-bottom: unset;
		box-shadow: var(--gpShadow-Medium);
		scroll-snap-align: start;
		box-sizing: border-box;
		max-height: 196px;
	}

	html.tablet .tab_item .tab_item_content_clear_ctn {
		display: none;
	}

	html.tablet .tab_item .discount_block.empty {
		height: 0;
	}

	html.tablet .tab_item .platform_img {
		display: none;
	}

	html.tablet .tab_item.focus {
		background: var( --gpStoreDarkestGrey );
	}

	html.tablet .tab_item.focus .tab_item_name {
		color: white;
	}

	html.tablet .tab_item.ds_flagged:not(.ds_wishlist):not(:hover) .tab_item_content .tab_item_name {
		color: white;
	}

	html.tablet .tab_item.ds_flagged:not(.ds_wishlist):not(:hover) .tab_item_cap {
		opacity: 1;
	}

	html.tablet .tab_item.focus .discount_block .discount_final_price {
		color: var( --gpStoreLightestGrey );
	}

	html.tablet .tab_item .tab_item_name {
		font: var(--gpText-BodyMedium);
		color: white;
	}

	html.tablet .tab_item .tab_item_top_tags {
		font: var(--gpText-BodySmall);
		color: var(--gpStoreLighterGrey);
	}

	html.tablet .tab_item_cap {
		max-width: unset;
		margin-right: unset;
		float: unset;
		position: unset;
		left: unset;
		right: unset;
		line-height: unset;
		top: unset;
	}

	html.tablet .tab_item .tab_item_discount,
	html.tablet .tab_item .tab_item_discount.no_discount {
		width: 100%;
		margin-right: unset;
		margin-top: 4px;
		font: var(--gpText-BodySmall);
	}

	html.tablet .home_tabs_content .tab_item_content {
		padding-top: 2px;
	}

	html.tablet .tab_item .discount_original_price {
		margin-right: 4px;
	}

	html.tablet .tab_item_discount .discount_pct {
		display: inline-block;
		float: unset;
		margin-right: 4px;
		margin-top: unset;
	}

	html.tablet .tab_item_top_tags {
		height: auto;
		margin-top: 2px;
		text-overflow: ellipsis;
	}

	html.tablet .home_ctn.tab_container {
		margin-top: 32px;
	}

	.home_ctn.tab_container > div {
		margin-top: unset;
	}

	html.tablet .home_leftcol.home_tab_col {
		margin-bottom: unset;
	}

	html.tablet .home_tabs_content h2.tab_content_title {
		display: block;
	}

	html.tablet .tab_item .ds_steam_deck_compat {
		top: 12px;
		right: 12px;
	}

	html.tablet .vr_required,
	html.tablet .vr_supported {
		display: none;
	}





	/* PRICING */
	html.tablet .discount_block .discount_pct,
	html.tablet .discount_block .discount_original_price,
	html.tablet .discount_block .discount_final_price,
	html.tablet .store_capsule .discount_block:not(.discount_block_large) .discount_pct,
	html.tablet .price {
		font: var(--gpText-BodyMedium);
		padding: 0px;
		margin: 0px;
	}

	html.tablet .discount_block .discount_original_price,
	html.tablet .discount_block .discount_final_price {
		color: var(--gpStoreLightestGrey);
	}

	html.tablet .discount_block .discount_original_price {
		opacity: 0.6;
	}

	html.tablet .discount_block .discount_prices,
	html.tablet .discount_block,
	html.tablet .carousel_container.maincap .discount_block {
		background: none;
		display: flex;
		justify-content: flex-end;
		gap: 6px;
	}

	html.tablet .discount_block.no_discount.main_cap_discount {
		background: none;
	}

	html.tablet .discount_block_inline .discount_prices,
	html.tablet .store_capsule .discount_block.no_discount .discount_final_price {
		padding: unset;
	}

	html.tablet .discount_block .discount_pct,
	html.tablet .discount_pct,
	html.tablet .store_capsule .discount_block:not(.discount_block_large) .discount_pct {
		background: var(--gpColor-Green);
		color: white;
		padding: 0px 4px;
		display: inline-flex;
		align-items: center;
		border-radius: 1px;
	}

	html.tablet .discount_final_price.your_price {

	}


	/* Discount block large */
	html.tablet .discount_block_large,
	html.tablet .discount_block_large .discount_block {
		gap: 0px;
	}

	html.tablet .discount_block_large .discount_prices {
		padding: 4px 6px;
		display: block;
		background: var(--gpStoreDarkGrey);
	}

	html.tablet .discount_block_large .discount_original_price, {
		font: var(--gpText-BodySmall);
	}

	html.tablet .discount_block_large .discount_pct {
		font: var(--gpText-HeadingLarge);
		font-weight: 400;
		padding: 3px 6px;
		border-radius: 0px;
		line-height: 1.1;
	}

	html.tablet .discount_block_large .discount_final_price,
	html.tablet .discount_block_large .discount_original_price {
		line-height: 1;
	}


	/* Discount block large (NOT CURATORS OR DAILY DEALS) */
	html.tablet .community_recommendation_capsule .discount_block_large .discount_prices,
	html.tablet #spotlight_carousel .discount_block_large .discount_prices {
		display: inline-flex;
	}

	html.tablet .community_recommendation_capsule .discount_block_large .discount_pct,
	html.tablet #spotlight_carousel .discount_block_large .discount_pct {
		font: var(--gpText-BodyMedium);
		padding: 0px 4px;
		border-radius: 1px;
	}

	html.tablet .community_recommendation_capsule .discount_block_large .discount_prices {
		background: unset;
	}


	/* Regular prices */
	html.tablet .similar_grid_price {
		display: flex;
		justify-content: flex-end;
	}

	html.tablet .discount_block.empty {
		height: 0;
	}



	/* TOOLTIPS */
	html.tablet .store_tooltip {
		padding: 12px 16px;
		font: var(--gpText-BodyMedium);
		box-shadow: var(--gpShadow-Large);
		background-color: var(--gpStoreDarkestGrey);
		color: var(--gpStoreLighterGrey);
		border-radius: var(--gpCorner-Large);
	}

	html.tablet .tooltip_q_ctn {
		background: unset;
		background-color: var(--gpBackground-LightHard);
		font: var(--gpText-BodyMedium);
		font-weight: 700;
		padding: 4px 10px;
		margin-left: 4px;
		border-radius: 80px;
		outline: 2px solid;
		outline-color: rgba(255,255,255,0);
		transition: outline-color background-color color 0.2s ease;
	}

	html.tablet .tooltip_q_ctn.gpfocus {
		background-color: white;
		color: black;
		box-shadow: var(--gpShadow-Medium);
		outline: 2px solid;
		outline-color: rgba(255,255,255,0.6);
		outline-offset: 2px;
	}





	/* MATURE CONTENT */
	html.tablet .mature_content_filtered {
		padding: 16px;
		background-color: var(--gpBackground-DarkSoft);
		font: var(--gpText-BodyLarge);
		margin-bottom: var(--gpSpace-Gutter);
	}

	html.tablet .mature_content_filtered:focus-within {
		background-color: var(--gpBackground-DarkMedium);
	}

	html.tablet .mature_content_filtered a {
		color: white;
		display: inline-block;
		background-color: var(--gpBackground-LightSoft);
		border-radius: var(--gpCorner-Medium);
		padding: 10px 12px;
		text-decoration: none;
		margin-left: 6px;
		transition: all 0.2s ease;
	}

	html.tablet .mature_content_filtered a:hover,
	html.tablet .mature_content_filtered a.gpfocus {
		background-color: var(--gpBackground-LightMedium);
	}




	/* MORE LIKE THIS */
	html.tablet body.v6 h2.morelike_section_divider {
		border-bottom: none;
		margin-top: 0px;
	}

	html.tablet .similar_grid_flex {
		margin: unset;
		gap: 12px;
		padding-bottom: 16px;
		margin-bottom: 24px;
	}

	html.tablet .similar_grid_item {
		margin: unset;
		max-width: unset;
		min-width: calc(100vw / 3);
		background: none;
		padding: 0px 0px 16px;
		transition: all 0.2s ease;
		padding-bottom: 48px;
	}

	html.tablet .similar_grid_item .buttons {
		visibility: visible;
	}

	html.tablet .similar_grid_item .buttons .wishlist {
		display: none;
	}

	html.tablet .similar_grid_item .similar_grid_capsule {
		border: none;
		box-shadow: var(--gpShadow-Medium);
		transition: all 0.2s ease;
		left: unset;
		margin-bottom: 8px;
	}

	html.tablet .similar_grid_item .similar_grid_capsule.gpfocus {
		box-shadow: var(--gpShadow-Large);
	}

	html.tablet .similar_grid_item .similar_grid_price {
		margin-bottom: 8px;
	}

	html.tablet .recommendation_btn {
		padding: 10px 20px;
		background: var(--gpBackground-LightSoft);
		border-radius: var(--gpCorner-Medium);
		transition: all 0.2s ease;
	}

	html.tablet .similar_grid_item:focus-within .recommendation_btn {
		background: var(--gpBackground-LightMedium);
	}

	html.tablet .recommendation_btn:hover {
		background: var(--gpBackground-LightHard) !important;
		color: white;
	}

	html.tablet .recommendation_btn.gpfocus {
		background: white !important;
		color: black;
		border-radius: 0px;
	}

	html.tablet .app_page_morelike .similar_grid_item > * {
		width: unset;
	}

	html.tablet .similar_grid_item .buttons {
		padding-top: 8px;
	}

	html.tablet .similar_grid_capsule .ds_steam_deck_compat {
		background-color: var(--gpBackground-DarkMedium);
		backdrop-filter: blur(24px);
	}





	/* SUGGESTED CURATORS */

	/* Global */
	html.tablet body.v6 .store_capsule_frame.curator_spotlight h2 span.right {
		display: none;
	}

	html.tablet .carousel_container.paging_capsules .carousel_items .curator_page {
		width: calc(100vw - (2 * var(--gpSpace-Gutter)));
		padding: 16px;
		min-height: unset;
		scroll-snap-align: start;
		background: none;
		background-color: var(--gpBackground-LightSoft);
		box-shadow: none;
		gap: 16px;
		transition: var(--gpTransition-Short);
		margin-bottom: 12px;
		flex-direction: column;
		scroll-snap-align: start;
	}

	html.tablet .carousel_container.paging_capsules .carousel_items .curator_page:focus-within {
		background-color: var(--gpBackground-LightMedium);
	}

	html.tablet .carousel_container .carousel_thumbs {
		display: none;
	}

	/* Profiles */
	html.tablet .curator_recommendation_capsule .carousel_container.paging_capsules .curator_page .profile {
		background: none;
		margin: unset;
		padding: unset;
		gap: 12px;
	}

	html.tablet .curator_page .name span {
		color: white;
	}

	html.tablet .curator_page .avatar {
		margin-right: unset;
		width: 100%;
		height: 100%;
	}

	html.tablet .curator_page .profile_avatar {
		display: flex;
		border-radius: var(--gpCorner-Large);
		overflow: hidden;
		box-shadow: var(--gpShadow-Small);
		padding: 0px;
		width: 70px;
		height: 70px;
	}

	html.tablet .curator_page .profile_avatar.gpfocus {
		border-radius: 0px;
		box-shadow: var(--gpShadow-Medium);
	}

	html.tablet .curator_page .actions {
		align-items: center;
		gap: 12px;
		padding: unset;
		background: none;
	}

	html.tablet .curator_page .socialmedia {
		font-size: unset;
		padding: unset;
		margin: unset;
		column-gap: 12px;
	}

	html.tablet .curator_page .socialmedia > div {
		margin-left: unset;
		display: flex;
		align-items: center;
		gap: 8px;
		padding-left: 8px;
		border-left: 1px solid var(--gpBackground-LightMedium);
	}

	html.tablet .curator_page .socialmedia > div:first-child {
		border-left: none;
		padding-left: 0px;
	}

	html.tablet .curator_page .name {
		font-size: unset;
		font-weight: unset;
		color: unset;
	}

	html.tablet .curator_page .ignore_button_area a {
		text-decoration: unset;
		padding: 8px 12px;
		background: var(--gpBackground-LightMedium);
		border-radius: var(--gpCorner-Medium);
		color: white;
		transition: var(--gpTransition-Short);
	}

	html.tablet .curator_page .ignore_button_area a:hover {
		background: var(--gpBackground-LightHard);
	}

	html.tablet .curator_page .ignore_button_area a.gpfocus {
		background: white;
		color: black;
		border-radius: 0px;
	}

	html.tablet .curator_recommendation_capsule .curator_page .followers {
		font: var(--gpText-BodyLarge);
		color: var(--gpStoreLighterGrey);
		display: flex;
		gap: 4px;
		margin: unset;
	}

	html.tablet .curator_page .followers span {
		display: unset;
		font-size: unset;
	}

	/* Carousel items */
	html.tablet .carousel_container.paging_capsules .carousel_items {
		padding-top: 0px;
		scroll-snap-type: x mandatory;
	}

	html.tablet .carousel_container.paging_capsules .carousel_items .curator_page .curations {
		margin-right: unset;
		gap: 12px;
		overflow: hidden;
		align-items: stretch;
		padding-top: 16px;
		border-top: 1px solid var(--gpBackground-LightMedium);
	}

	html.tablet .carousel_container.paging_capsules .carousel_items .curator_page .curations > div {
		flex-basis: unset;
		max-width: unset;
		margin: unset;
		flex-grow: unset;
		flex-shrink: unset;
		width: 33%;
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	html.tablet .carousel_container.paging_capsules .carousel_items .curator_page .curations > div:last-child {
		display: none;
	}

	html.tablet .carousel_container.paging_capsules .carousel_items .curator_page .curations .store_capsule {
		box-shadow: var( --gpShadow-Medium );
		overflow: hidden;
		width: 100%;
		min-width: 100%;
	}

	html.tablet .carousel_container.paging_capsules .carousel_items .curator_page .curations .store_capsule .ds_steam_deck_compat {
		background-color: var(--gpBackground-DarkMedium);
		backdrop-filter: blur(24px);
	}

	html.tablet .curator_page .text {
		font: var(--gpText-BodyMedium);
		line-height: 1.2;
		color: var(--gpStoreLightestGrey);
		padding-right: unset;
	}

	html.tablet .curator_page .review_direction {
		font: var(--gpText-BodySmall);
		font-weight: 500;
		padding-top: 4px;
	}

	html.tablet .SliderBody ul
	{
		gap: var(--gpSpace-Gap);
	}

