
body {
	background: transparent;
}

a, a:hover {
	text-decoration: none;

}

#widget {
    border: 1px solid #2d3139;
    background-color: #282e39;
	/*width: 614px;*/
	height: 146px;
	padding: 10px 15px;
	position: relative;
	margin: 0 auto;
	background-image: url(/public/images/v6/steam_ico.png);
	background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 5px;
}

#widget .game_purchase_action {
	position: absolute;
	bottom: -20px;
	right: 10px;
}

#widget .header_container {
}

#widget h1 {
	font-size: 21px;
	font-weight: normal;
	vertical-align: top;
	display: inline-block;
	line-height: 28px;
}

#widget h1.main_text {
	color: #fefefe;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 425px;
}

#widget h1.tail {

}

#widget h1 em {
	font-weight: normal;
	font-style: normal;
	color: #9e9e9e;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}

#widget .capsule {
    height: 69px;
    width: 184px;
	float: left;
	margin: 2px 10px 10px 0;
}

#widget .desc {
	margin: 10px 10px 0 0;
	font-size: 13px;
	color: #c9c9c9;
	line-height: 16px;
	max-height: 96px;
	overflow: hidden;
}

#widget p.package_contents {
	color: #9e9e9e;
}

#widget p.package_contents b {
	font-weight: normal;
	color: #8bc53f;
}

#widget p.package_contents a {
	color: #b0aeac;
}

#widget .game_area_purchase_platform {
	position: absolute;
	bottom: 13px;
	left: 15px;
}

#widget .game_purchase_action_bg.coming_soon {
    padding: 5px 5px 5px 10px;
	color: #b8dc89;
    border: 1px solid #232a0e;
background: -webkit-linear-gradient( 30deg, #395021 5%,#283e18 95%);
	background: linear-gradient( 60deg, #395021 5%,#283e18 95%);
	height: auto;
}

#widget .game_purchase_action_bg.coming_soon  h1 {
	font-size: 20px;
	line-height: 34px;
}

@media screen and (max-width: 500px)
{
    body #widget .game_purchase_action_bg.coming_soon  h1 {
        font-size: 14px;
        line-height: 29px;
    }

    body #widget .btn_addtocart {
        height: 29px;
    }

    body #widget .btn_addtocart .btn_addtocart_content {
        height: 28px;
        line-height: 29px;
    }

    body #widget .capsule {
        width: 50%;
        height: auto;
        display: block;
        margin-bottom: 4px;
    }
}

#widget .coming_soon_date {
	float: left;
}

#widget .coming_soon .btn_addtocart {
	margin-left: 10px;
}
.discount_pct {
    color: #a4d007;
}
.discount_final_price {
    color: #acdbf5;
}
#widget .btn_addtocart .btn_addtocart_content {
    display: inline-block;
    height: 34px;
    font-size: 14px;
    color: #d2efa9;
    text-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.3 );
    text-align: center;
    padding: 0px 11px;
    line-height: 34px;
    border-radius: 2px;
    text-transform: unset;
    background: #75b022;
    background: -webkit-linear-gradient( top, #6fa720 5%, #588a1b 95%);
    background: linear-gradient( to bottom, #6fa720 5%, #588a1b 95%);
    background: linear-gradient( to right, #6fa720 5%, #588a1b 95%);
    cursor: pointer;
}
#widget .btn_addtocart .btn_addtocart_content:hover {
    color: #fff;
    background: #6aa621;
    background: -webkit-linear-gradient( top, #8ed629 5%, #6aa621 95%);
    background: linear-gradient( to bottom, #8ed629 5%, #6aa621 95%);
    background: linear-gradient( to right, #8ed629 5%, #6aa621 95%);
}

#widget .game_purchase_action .game_purchase_price,
#widget .game_purchase_action .game_purchase_discount,
#widget .game_purchase_action .btn_addtocart,
#widget .game_purchase_action .btn_packageinfo,
#widget .game_purchase_action .game_purchase_action_bg .game_purchase_action .game_purchase_action_qty {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
#widget .game_purchase_action_bg {
    background: transparent;
}


#wishlistwidget {
		font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		    background-color: #ffffff;
    /*width: 614px;*/
    min-height: 50px;
    height: 100vh;
    max-height: 146px;
    position: relative;
    margin: 0 auto;
}

#wishlistwidget .AppName {
    display: none;
}
#wishlistwidget .btn_ctn {
    height: 100%;
    width: 100%;
    display: block;
}
#wishlistwidget .btn {
    font-size: 18px;
    color: #000000;
    padding-left: 10px;
    box-sizing: border-box;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}
#wishlistwidget .btn .logo {
    opacity: 0.7;
    height: 80%;
    width: auto;
    align-self: center;
    margin-right: 11px;
}
#wishlistwidget .btn:hover .logo {
    opacity: 1;
}
#wishlistwidget .btn:hover .BtnText {
    display: none;
}
#wishlistwidget .btn:hover .AppName {
    display: block;
}