/* CSS Document */

/* login page */

.block {
	margin: 0px;
	background: none;
}
.checkout_content_box, .block_content_inner {
	background-color: #000;
	background-color: rgba(0,0,0,0.2)
}
.checkout_content_box {
	line-height:
}
.block_content {
    border: none;
}

.block_content_inner
{
    padding: 16px 2px 4px 16px;
}

.text_input, .checkout_content_box input[type=text], .checkout_content_box input[type=password] {
	background-color: #2a3f5a;
	color: #fff;
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 1px 1px 0px #45556c;
	width: 500px;
	padding: 5px;
	margin: 4px 0;
}
.loginbox {
    min-height: 352px;
    padding: 16px;
}
.block_content.block_content_inner.login {
    min-height: 364px;
}

.loginbox_left {
	float: left;
	position: relative;
	width: 274px;
	padding: 0px 16px 14px 0px;
}
.loginbox_right {
    float: left;
    position: relative;
    width: 274px;
    padding: 0px 0px 14px 16px;
}

.loginbox_left.btn_ctn {
	height: 33px;
}

.loginbox_left a.btn_checkout_green, .loginbox_right a.btn_checkout_green, .loginbox_left #login_btn_wait {
	color: #ffffff;
	text-decoration: none;
	float: right;
}

.loginbox_left input.text_input {
	width: 261px;
	height: 18px;
	padding: 2px 4px;
}

.loginbox_sep {

	left: 306px;
	border-left: 1px solid #38444e;
    width: 2px;
    height: 210px;
    margin: 0px;
    float: left;
}

.loginbox .captcha_image_row {
	position: relative;
}

.loginbox .login_row {
	margin-bottom: 18px;
}

.loginbox #captchImg {
	position: absolute;
	left: 0px;
	right: 0px;
}

.loginbox #captchaRefresh {
	margin-left: 220px;
	padding-top: 8px;
}

.loginbox_psn
{
	padding: 14px 0px 0px 0px;
}

.loginbox_psn_logo
{
	float: left;
	margin-right: 1em;
}

.loginbox_psn_text
{
	margin-top: 0.5em;
}

.loginbox_psn_text h2
{
	font-size: 16px;
}

#join_sys_req_title {
	display: block;
}

#join_sys_req br, #join_sys_req_title  {
	margin-bottom: 12px;
}

ul#why_list {
	list-style-position: inside;
	list-style-type: square;
	line-height: 22px;
}

ul#why_list li {
}

/* register */

.joinsteam_page a {
	color: #B0AEAC;
	text-decoration: underline;
}

.joinsteam_page a:hover {
	color: #ffffff;
}

.join_form {
	padding: 20px 16px;
	position: relative;
}

.join_form .rule {
	border-top: 1px solid #38444e;
	margin: 15px 0px;
}

.form_row {

}

.form_area {
	float: left;
	width: 212px;
}

.form_notes {
	float: left;
	margin-left: 21px;
	width: 346px;
	padding-top: 6px;
}

.form_notes p {
	line-height: 14px;
}

.join_form input[type="text"], .join_form input[type="password"], .join_form select {
	width: 212px;
	padding: 2px 4px 3px 4px;
}

.join_form input[type="text"], .join_form input[type="password"] {
	height: 18px;
}

.join_form .dselect_container a {
	color: #ffffff;
	text-decoration: none;
}

.joinsteam_page .btn_checkout_large {
	position: absolute;
	bottom: -20px;
	right: 19px;
}

.ssa_box {
	height: 337px;
	overflow: auto;
	border: 1px solid #4d4b49;
	padding: 9px;
	line-height: 15px;
}

.ssa_box p {
	margin: 9px 0px;
}

#ssa_agree {
	margin-top: 8px;
}

#label_agree {
	margin-left: 4px;
}

#captchaRefreshImg {
	vertical-align: middle;
}

.psn_accountname_title {
	font-size: 28px;
}

.psn_accountname {
	font-size: 28px;
	color: white;
}

.modal_top_band {
	background-color:#37516d;
	width:548px;
	height:25px;
	margin-bottom:1px;
}

.modal_close {
	float:right;
	width:9px;
	height:9px;
	margin-right:9px;
	margin-top:7px;
}

.modal_box {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(102,192,244,1)), color-stop(95%,rgba(47,137,188,1)));background: -moz-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);background: -webkit-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);background: -o-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);background: -ms-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);background: linear-gradient( to bottom, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);	padding: 3px;
	width:542px;

	font-size: 12px;
	color: #ffffff;
	text-align: left;
}
.modal_box .modal_box_ctn
{
	width:502px;
	background-color:#1a2635;
	padding:20px;
}

.modal_low_block {
	background-color:#171717;
	padding:20px 20px 0px 20px;
	height:54px;
	padding-top:24px;
	color:#b0aeac;
}

.modal_box h1 {
	padding-left: 20px;
	font-size: 36px;
	font-weight: normal;
	font-family: "Motiva Sans Light","Motiva Sans",arial,tahoma,sans-serif;
}

.modal_box p {
	padding-left:20px;
}


.modal_steam_ico {
	float:left;
	padding-right:18px;
	margin-top:-4px;
}



.modal_buttons a.btn_white {
	float: left;
}

.modal_buttons a.btn_white.leftbtn {
	margin-right: 16px;

}

.modal_buttons {
}


#modalBG {
	position:absolute;
	z-index:900;
	background-color:#000000;
	filter:alpha(opacity=60);
	opacity:0.8;
}

.modal_frame {
	width:508px;
	position:absolute;
	z-index:1000;
	background-color:#000000;
}

.auth_message_area, .twofactorauth_message_area {
	position: relative;
	padding-left: 70px;
	min-height: 92px;
}

.auth_icon {
	position: absolute;
	top: 16px;
	left: 0px;
	width: 67px;
	height: 48px;

	background-image: url( https://steamstore-a.akamaihd.net/public/images/login/emailauth_icons.png );
	background-repeat: no-repeat;
}

.auth_icon.auth_icon_trash {
	background-position: center 0px;
}

.auth_icon.auth_icon_key {
	background-position: center -48px;
}

.auth_icon.auth_icon_lock {
	background-position: center -96px;
}

.auth_icon.auth_icon_unlock {
	background-position: center -144px;
}

.auth_icon.auth_icon_steam {
	background-position: center -192px;
}

.auth_icon.ipt_icon {
	background-image: url( https://steamstore-a.akamaihd.net/public/images/login/ipt_lockout_icon.png );
	height: 62px;
	width: 53px;

	left: 12px;
	top: 6px;
}

.auth_details_messages {
	color: #8F98A0;
	font-size: 12px;
	height: 38px;
}
.notice {
	color: #ff7b00;
}

.authcode_entry_area, .twofactorauthcode_entry_area {
	height: 32px;
	margin-top: 4px;
	margin-bottom: 6px;
}

.authcode_entry_box, .twofactorauthcode_entry_box {
	background-image: url( https://steamstore-a.akamaihd.net/public/images/login/code_box.png?v=1 );
	background-repeat: no-repeat;
	background-color: rgba( 0, 0, 0, 0.2 );
	border-radius: 3px;
	border: 1px solid #000;
	box-shadow: 1px 1px 0 0 rgba( 91, 132, 181, 0.2 );
	color: #C6D4DF;
	width: 220px;
	height: 27px;
}

.friendly_name_box
{
	background-image: url( https://steamstore-a.akamaihd.net/public/images/login/friendlyname_box.png?v=1 );
	background-repeat: no-repeat;
	background-color: rgba( 0, 0, 0, 0.2 );
	border-radius: 3px;
	border: 1px solid #000;
	box-shadow: 1px 1px 0 0 rgba( 91, 132, 181, 0.2 );
	color: #C6D4DF;
	width: 220px;
	height: 27px;
}

input.authcode_entry_input, input.twofactorauthcode_entry_input {
	border: none;
	background-color: transparent;
	margin-left: 8px;
	margin-top: 6px;
	color: #cdcac1;
	outline: none;
	width: 220px;
}

input.authcode_entry_input.defaulttext, input.twofactorauthcode_entry_input.defaulttext {
	font-style: italic;
}

#auth_buttonset_waiting, #login_twofactorauth_buttonset_waiting {
	height: 66px;

	background-image: url( https://steamstore-a.akamaihd.net/public/images/login/throbber.gif );
	background-repeat: no-repeat;
	background-position: center center;
}

.auth_button, .twofactorauth_button {
	background-image: url( https://steamstore-a.akamaihd.net/public/images/login/emailauth_button.png );
	background-repeat: no-repeat;
	width: 219px;
	height: 58px;
}

.auth_button.auth_button_spacer, .twofactorauth_button.auth_button_spacer {
	background-image: none;
	width: 0px;
}

a.auth_button, a.auth_button:hover, a.twofactorauth_button, a.twofactorauth_button:hover {
	display: block;
	text-decoration: none;
}

body.v6 .auth_button h3, body.v6 .twofactorauth_button h3 {
	font-weight: normal;
	font-size: 22px;
	font-family: "Motiva Sans Regular", "Motiva Sans", arial, tahoma, sans-serif;
	color: #66C0F4;
}

.auth_button h5, .twofactorauth_button h5 {
	font-size: 13px;
	color: #66C0F4;
	text-transform: none;
}
.twofactorauth_button h5, .twofactorauth_button h3 {
	margin-left: 16px;
}
body.v6 .auth_button:hover h3,
body.v6 .twofactorauth_button:hover h3,
body.v6 .auth_button:hover h5,
.twofactorauth_button:hover h5
{
	color: #ffffff;
}

.modal_buttons .auth_button, .modal_buttons .twofactorauth_button, .modal_buttons a.twofactorauth_button.leftbtn, .modal_buttons a.twofactorauth_button.leftbtn {
	float: left;
}

.modal_buttons a.auth_button.leftbtn {
	margin-right: 16px;
}

.modal_box_ctn a.auth_button {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(102,192,244,0.2)), color-stop(95%,rgba(47,137,188,0.2)));background: -moz-linear-gradient( top, rgba(102,192,244,0.2) 5%, rgba(47,137,188,0.2) 95%);background: -webkit-linear-gradient( top, rgba(102,192,244,0.2) 5%, rgba(47,137,188,0.2) 95%);background: -o-linear-gradient( top, rgba(102,192,244,0.2) 5%, rgba(47,137,188,0.2) 95%);background: -ms-linear-gradient( top, rgba(102,192,244,0.2) 5%, rgba(47,137,188,0.2) 95%);background: linear-gradient( to bottom, rgba(102,192,244,0.2) 5%, rgba(47,137,188,0.2) 95%);padding: 12px 12px 15px 12px;
	border-radius: 2px;
}
.modal_box_ctn a.auth_button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(102,192,244,1)), color-stop(95%,rgba(47,137,188,1)));background: -moz-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);background: -webkit-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);background: -o-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);background: -ms-linear-gradient( top, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);background: linear-gradient( to bottom, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);}

#loginIPTModal .modal_box {
	background-image: url( https://steamstore-a.akamaihd.net/public/images/login/ipt_lockout_bg.png );
	width: 466px;
	height: 231px;
}

.psn_content_box {
	padding: 16px;
}

.psn_content_box h1 {
	padding-bottom: 14px;
}

.psn_welcome_img {
	padding: 10px 0px 6px 10px;
}

.psn_welcome_signin {
	float: right;
	padding-top: 14px;
}

.psn_tryagain_content {
	padding-top: 16px;
}

.ackgift_header h2 {
	color: #efefef;
}

.ackgift_header p {
	color: #acabab;
	font-size: 14px;
}

.ackgift_header #checkout_pipeline {
	padding-top: 22px;
}

.ackgift_header #checkout_header .content {
	height: 78px;
}


#auth_details_computer_name{
	margin: 52px 0 28px 0;
}

#friendly_name_box{
	position: absolute;
	bottom: 22px;
	left: 22px;
}


ul#why_list {
	list-style-position: inside;
	list-style-type: square;
	line-height: 22px;
}

.checkout_error {
    padding: 16px;
    background: rgba( 0, 0, 0, 0.2 );
    margin-bottom: 8px;
}

.page_header_ctn {
    margin-bottom: -94px;
}

.game_name .blockbg {
	height: 40px;
	line-height: 40px;
}
.game_name {
	position: relative;
	font-size: 30px;
	color: #d6d7d8;
	margin-bottom: 16px;
	overflow: hidden;
}

/* DSelect */
.dselect_container {
	color: #b0aeac;
	text-shadow: 1px 1px 0 0 #000;
	font-size: 12px;

	display: inline-block;
	position: relative;
}
.dselect_container a.trigger, a.activetrigger {
	background: url('https://steamstore-a.akamaihd.net/public/images/v6/ico/ico_arrow_dn_for_select.png') no-repeat right transparent;
	color: #ebebeb;
	padding: 4px 30px 4px 8px;
	font-size: 12px;
	line-height: 19px;
	border: 1px transparent;
	border-radius: 3px;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	height: 19px;
	width: 105px;
	background-color: #000;
	background-color:rgba(0,0,0,0.2);
}

.dselect_container a.trigger:hover,
.dselect_container a.activetrigger,
.dselect_container a.activetrigger:hover
{
	color: #ffffff;
	border-radius: 1px;
	background-color: #67c1f5;
}

.activetrigger{
	background:#B3B0AA url(https://steamstore-a.akamaihd.net/public/images/select_arrow.gif) no-repeat scroll right top;
	border:1px solid #6B6A44;
	color: #4A4945;
	overflow: hidden;
}


.dropcontainer ul {
	list-style-type:none;
	line-height: 22px;
	background-color:#262626;
	border:1px solid #82807C;
	margin:0;
	width:300px;
	position:absolute;
	left: 0px;
	z-index: 999999;

	overflow: auto;
	overflow-x: hidden;
}


.dropdownhidden{
	display: none;
}
.dropdownvisible{
	top:5px;
	display: block;
}
.dropcontainer ul li {
	padding: 0px;
	margin: 0px;
}
.dropcontainer ul li.emptyvalue {
	font-style: italic;
}
.dropcontainer ul a {
	padding-left:2px;
	padding-right:2px;
	display:block;
	text-decoration:none;
	color:#B0AEAC;
	line-height: 22px;
	height: 22px;
}
.dropcontainer a.highlighted_selection {
	color: #ffffff;
	border-radius: 1px;
	background: #67c1f5; /* Old browsers */
	background: -moz-linear-gradient(-60deg,  #67c1f5 0%, #417a9b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#67c1f5), color-stop(100%,#417a9b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* IE10+ */
	background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c1f5', endColorstr='#417a9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	text-decoration: none;
}
.dropcontainer{
	position:relative;
}

#challenge_question_dselect_container {
	margin-top: 5px;
}

#challenge_question_trigger {
	width: 264px;
	display: block;
	line-height: 19px;
}
.dropdownvisible#challenge_question_droplist {
	top: 0;
}

#privacy_link {
	padding-top: 12px;
}

.email_used_actions {
	margin-top: 12px;
	line-height: 24px;
}