
.page_title_area.recommendation_title_area
{
}

.recommendation_bodytext
{
	font-size: 14px;
	color: #8f98a0;
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
	margin-bottom: 8px;
}

.recommended_bodygradient
{
	background-image: url( https://steamstore-a.akamaihd.net/public/images/recommended/recommended_bodygradient.png );
	background-position: bottom;
	background-repeat: repeat-x;
	padding: 60px 18px 22px 18px;
}

.recommendation_section {
	margin-bottom: 17px;
    margin-top: 24px;
}


.recommendation_rule {
	border-top: 2px solid #262626;
	margin-bottom: 34px;
}

.recommendation_highlight {
	position: relative;
	background-color: rgba( 0, 0, 0, 0.2 );
	width: auto;
	min-height: 215px;
	padding: 18px 16px;
}

.recommendation_highlight.small_header {
	height: 136px;
}

.recommendation_highlight.recommendation_title_offset, .recommendation_detail.recommendation_title_offset {
	background-position: center -56px;
}

.recommendation_highlight .header_image {
	position: absolute;
	top: 17px;
	left: 15px;
	width: 460px;
	height: 215px;
	border: 1px solid #000000;
}

.recommendation_highlight .header_image:hover {
	border-color: #8bb9e0;
}

.recommendation_highlight .header_image img {
	width: 460px;
	height: 215px;
}

.recommendation_highlight.small_header .header_image, .recommendation_highlight.small_header .header_image img {
	width: 292px;
	height: 136px;
}

.recommendation_highlight .highlight_description {
	color: #b0aeac;
	padding-top: 60px;
	padding-left: 476px;
	padding-bottom: 32px;
	position: relative;
	min-height: 123px;
}

.recommendation_highlight.small_header .highlight_description {
	padding-left: 308px;
	padding-top: 40px;
	height: 96px;
}

.recommendation_highlight .highlight_description h2 {
	color: #ffffff;
	font-size: 24px;
	font-weight: normal;
}

.recommendation_highlight .highlight_description h4 {
	margin-bottom: 8px;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    color: #acb2b8;
    font-weight: normal;
}

.recommendation_highlight .highlight_description .regular_price {
	background-color: #000000;
	padding: 0px 5px;
	line-height: 16px;
	font-size: 13px;
}

.recommendation_highlight .highlight_description .buttons {
	position: absolute;
	bottom: 0px;
	left: 476px;
}

.recommendation_highlight.small_header .highlight_description .buttons {
	left: 308px;
}

.recommendation_highlight.morelikethis_border {
	margin-bottom: 0px;

	padding-bottom: 22px;
}
.page_header_ctn.more_like {
    padding-bottom: 46px;

}

.more_like_arrow {
    background-image: url( https://steamstore-a.akamaihd.net/public/images/v6/recommended/morelikethis_borderbottom.png );
    background-position: top left;
    background-repeat: no-repeat;
    height: 19px;
}

.recommendation_carousel {
	position: relative;
	height: 173px;
	padding: 0px 54px;
	background: rgba(0,0,0,0.2);
}

.recommendation_carousel_view {
	overflow: hidden;
	position: relative;
	margin-left: 12px;
	margin-right: 12px;
	width: 808px;
}

.recommendation_carousel_title {
	line-height: 18px;
	height: 18px;
	padding-top: 10px;
	padding-left: 6px;
	color: #8f98a0;
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
	font-size: 14px;
}

.recommendation_carousel_scroll {
	width: 9000px;
}

.recommendation_carousel_item {
	float: left;
	width: 202px;
	height: 123px;
	padding: 11px 0px;
}

.recommendation_highlight_carousel .recommendation_carousel_item {
	height: 141px;
	padding: 16px 0px;
}

.recommendation_carousel_item h4, .recommendation_carousel_item .buttons {
	padding-left: 9px;
}

.recommendation_carousel_item .buttons {
	visibility: hidden;
}

.recommendation_carousel_item:hover .buttons {
	visibility: visible;
}

.recommendation_carousel_item h4 {
	color: #d6d7d8;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.recommendation_carousel_item .carousel_cap {
	display: block;
	padding: 8px 8px 6px 8px;
	margin-bottom: 2px;
}

.recommendation_carousel_item .carousel_cap:hover {
	border-color: #8bb9e0;
	text-decoration: none;
}

.recommendation_carousel_item .carousel_cap .small_cap_img {
	margin-bottom: 5px;
}

.recommendation_carousel_item .carousel_cap h5 {
	font-size: 11px;
	color: #b0aeac;
	font-weight: normal;
	margin: 0px;
}

.recommendation_carousel .scroll_btn {
	position: absolute;
	top: 0px;
	width: 52px;
	height: 173px;
	line-height: 173px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.recommendation_carousel .scroll_btn:hover {
	background-color: rgba(128,128,128,0.2);
}

.recommendation_carousel .scroll_btn.disabled {
	cursor: default;
}

.recommendation_carousel .scroll_btn.disabled:hover {
	background-color: transparent;
}



.recommendation_carousel .scroll_btn.left {
	left: 0px;
	border-right: 1px solid #66c0f4;
	background-image: url( https://steamstore-a.akamaihd.net/public/images/recommended/carousel_scroll_left.png );
}

.recommendation_carousel .scroll_btn.right {
	right: 0px;
	border-left: 1px solid #66c0f4;
	background-image: url( https://steamstore-a.akamaihd.net/public/images/recommended/carousel_scroll_right.png );
}

.recommendation_carousel .scroll_btn.left.disabled {
	background-image: url( https://steamstore-a.akamaihd.net/public/images/recommended/carousel_scroll_left_disabled.png );
}

.recommendation_carousel .scroll_btn.right.disabled {
	background-image: url( https://steamstore-a.akamaihd.net/public/images/recommended/carousel_scroll_right_disabled.png );
}

.recommendation_area_ctn
{

	margin-bottom: 2px;
}

.recommendation_area_ctn h4
{
	color: #B0AEAC;
}

.recommendation_detail {
	min-height: 168px;
	background-image: url( https://steamstore-a.akamaihd.net/public/images/recommended/recommended_highlight_gradient.png );
	background-repeat: repeat-x;
	background-position: top;
	background-color: #262626;
}

.recommendation_detail .quote {
	max-height: 450px;
	overflow: auto;
	overflow-x: hidden;
	word-wrap: break-word;
}

.recommendation_detail .recommend_game .quote {
	overflow: hidden;
	max-height: none;
}

.recommendation_area_ctn.game_recommendation {
	margin-bottom: 32px;
}

.recommendation_area
{
	position: relative;
}

.recommendation_area .recommendation_author
{
	position: absolute;
	left: 0px;
	top: 0px;
}


.recommendation_area .thumb {
	margin: 12px 8px 12px 12px;
	float: left;
}
.recommendation_area .reviewPostedDescription {
	color: #898A8C;
	font-size: 14px;
	margin: 16px 16px 8px 0px;
}
.recommendation_area .underlined_links {
	color: #8f98a0;
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
	font-size: 14px;
}
.recommendation_area .commentCount {
	float:right;

}


.quote_serif
{
	font-family: Georgia, serif;
}

.recommendation_detail .recommendation_area_content
{
	padding-left: 116px;
	width: 484px;
}

.recommendation_detail .recommendation_date
{
	padding-left: 13px;
	color: #626467;
	font-size: 11px;
}

.recommendation_detail .recommendation_date a
{
	color: #626467;
	text-decoration: underline;
}

.game_recommendation .recommendation_area_content
{
	padding-left: 56px;
}

.quote
{
	padding: 13px 13px;
	color: #acb2b8;
	font-size: 13px;
	font-style: normal;
    font-family: "Motiva Sans Regular Italic", Arial, Helvetica, sans-serif;
	line-height: 19px;
	-moz-border-radius: 5px;
	margin-bottom: 16px;
}

.quote_arrow
{
	position: absolute;
	width: 17px;
	height: 18px;
	background-repeat: no-repeat;
	background-image: url( https://steamstore-a.akamaihd.net/public/images/recommended/quotearrow_graybg.png);
}

.recommendation_detail .quote_arrow
{
	left: 100px;
	top: 13px;
}

.comment_row_quote .quote_arrow {
	left: 46px;
	top: 9px;
}

.game_recommendation .quote_arrow {
	left: 40px;
	top: 9px;
}

.game_page_recommendation .quote_arrow {
	left: 40px;
	top: 12px;
	background-image: url( https://steamstore-a.akamaihd.net/public/images/recommended/quotearrow_gamepage.png );
}

.recommendation_makeyourown .quote_arrow {
	left: 100px;
	top: 13px;
	background-image: url( https://steamstore-a.akamaihd.net/public/images/recommended/quotearrow_white.png );
}

.recommendation_row .quote_arrow {
	left: 260px;
	top: 26px;
}

.recommendation_makeyourown {
    background: rgba( 0, 0, 0, 0.2 );
    padding: 12px;
	position: relative;
}

.recommendation_makeyourown_your_avatar {
	float: left;
}

.recommendation_makeyourown .quote {
	border-color: #d6d7d8;
	font-style: normal;
	padding-top: 0px;
    width: 786px;
	padding-bottom: 0px;
    float: left;
}

.recommendation_makeyourown_instructions {
	padding-top: 30px;
}

.recommendation_makeyourown .quote .buttons {
	float: right;
	padding-top: 4px;
}

.app_header
{
	position: absolute;
	width: 292px;
	height: 136px;
	right: 0px;
	top: 0px;
	background: #000000;
	padding: 1px;
	border: 1px solid #000000;
}

.app_header:hover
{
	background-color: #8bb9e0;
}

.app_actions
{
	position: absolute;
	width: 292px;
	right: 0px;
	top: 148px;
}

.actiontext
{
	color: #82807c;
	font-size: 11px;
	line-height: 22px;
}

.actiontext a
{
	color: #82807c;
	text-decoration: underline;
}

.actiontext a:hover
{
	text-decoration: underline;
	color: #d6d7d8;
}



.friend_block_avatar_92 {
	width: 92px;
	height: 92px;
	background-repeat: no-repeat;
	padding: 4px;
	margin-right: 2px;
}

.friend_status_offline .friend_block_avatar_92 {
	background-image: url( https://steamstore-a.akamaihd.net/public/images/communitylink/iconholder_92_offline.gif );
}

.friend_status_online .friend_block_avatar_92 {
	background-image: url( https://steamstore-a.akamaihd.net/public/images/communitylink/iconholder_92_online.gif );
}

.friend_status_in-game .friend_block_avatar_92 {
	background-image: url( https://steamstore-a.akamaihd.net/public/images/communitylink/iconholder_92_ingame.gif );
}

.friend_block_avatar_92 img {
	width: 92px;
	height: 92px;
}

.comment_row_quote {
	position: relative;
	padding-left: 62px;
	min-height: 60px;
	margin-bottom: 5px;
}

.comment_row_quote .comment_author {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

.comment_row_quote .quote {
	color: #82807C;
}

.comment_row {
	margin-bottom: 1px;
	position: relative;
	min-height: 60px;
	padding-left: 73px;
	padding-right: 18px;
}

.comment_row.even {
	background-color: #1f1f1f;
}
.comment_row.odd {
	background-color: #1a1a1a;
}

.comment_row .comment_author {
	position: absolute;
	left: 15px;
	top: 10px;
	width: 40px;
	height: 40px;
}

.comment_row .comment_text {
	padding-top: 10px;
	padding-bottom: 4px;
	color: #d6d7d8;
	font-size: 14px;
	font-style: italic;
	word-wrap: break-word;
}

.comment_row .comment_date {
	color: #626467;
	font-size: 11px;
	padding-bottom: 10px;
}

.comment_row .comment_date a {
	color: #b0aeac;
}

.leave_comment_area
{
	position: relative;
	margin-bottom: 16px;
}

.leave_comment_area .comment_your_avatar
{
	position: absolute;
	left: 15px;
	top: 0px;
	width: 40px;
	height: 40px;
}

.comment_quote_area
{
	padding-left: 73px;
}

.comment_quote
{
	padding: 9px;
	border: 1px solid #3c3d3e;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 5px;
	color: #d6d7d8;
	font-size: 14px;
	font-style: italic;
}

.comment_quote_arrow
{
	position: absolute;
	width: 17px;
	height: 18px;
	left: 57px;
	top: 13px;
	background-repeat: no-repeat;
	background-image: url( https://steamstore-a.akamaihd.net/public/images/recommended/quotearrow_blackbg.png);
}

.comment_btn {
	float: right;
}

textarea.comment_input
{
	background-color: #000000;
	border: none;
	color: #626366;
	font-size: 12px;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	/* for chrome/webkit - disable orange border and resize grabber */
	outline: none;
	resize: none;
}

.comment_pagination_footer {
	padding: 4px 15px;
	font-size: 11px;
}

.recently_viewed_row {
	background-color: rgba(0,0,0,0.2);
	height: 102px;
	position: relative;
	margin: 3px 0;
}

.recommendation_row {
	background-color: rgba( 0, 0, 0, 0.2 );
	min-height: 102px;
	position: relative;
    margin-bottom: 16px;
    background-image: url('https://steamstore-a.akamaihd.net/public/images/v6/maincol_gradient_rule.png' );
    background-repeat: no-repeat;
    background-position: top left;
}

.recommendation_row .author_block {
    padding-bottom: 8px;
    position: relative;
}
.recommendation_row .author_name {
    display: block;
    position: absolute;
    top: 0px;
    left: 44px;
    margin-left: 4px;
}

.recommendation_row .recommendation_author {
	top: 16px;
	left: 218px;
	width: 40px;
	height: 40px;
    display: block;
}


.recommendation_row .recommendation_content {
	padding-left: 16px;
	padding-top: 16px;
	color: #82807C;
	font-size: 14px;
	padding-right: 14px;
	padding-bottom: 16px;
    float: left;
}

.recommendation_row .quote {
	padding: 0px 0px;
    width: 700px;
}

.recommendation_row .quote .quote_content{
	text-overflow: ellipsis;
	overflow: hidden;
}

.recommendation_row .recommendation_content .recommendation_attribution {
	font-size: 11px;
}

.recommendation_row .recommendation_app {
	position: relative;
    float: left;
	width: 184px;
	height: 69px;
	background: #000000;
	padding: 1px;
	border: 1px solid #000000;
    margin-top: 12px;
    margin-left: 12px;
}

.recommendation_row .recommendation_app:hover {
	background-color: #8bb9e0;
}

.recommendation_row .recommendation_app img {
	width: 184px;
	height: 69px;
}

.recently_viewed_row .recently_viewed_content {
	padding-left: 212px;
	padding-top: 32px;
	padding-right: 306px;
}

.recently_viewed_row .recently_viewed_content h3 {
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	whitespace: nowrap;
	margin-bottom: 15px;
}

.recently_viewed_row .recently_viewed_capsule {
	position: absolute;
	top: 14px;
	left: 14px;
	width: 184px;
	height: 69px;
	background: #000000;
	padding: 2px;
}

.recently_viewed_row .recently_viewed_date {
	position: absolute;
	left: 640px;
	top: 42px;
	font-size: 11px;
	color: #8f98a0;
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
}

.recently_viewed_row .recently_viewed_price {
	position: absolute;
	top: 42px;
	right: 14px;
	text-align: right;
	font-size: 11px;
	color: #9e9995;
}

.friendplaytime_ctn {
	background-color: #262626;
	padding: 18px 0px 18px 15px;
}

.friendplaytime_game {
	float: left;
	width: 294px;
	margin-right: 14px;
}

.friendplaytime_game .friendplaytime_buttons {
	visibility: hidden;
}

.friendplaytime_game:hover .friendplaytime_buttons {
	visibility: visible;
}

.friendplaytime_appheader {
	border: 1px solid #262626;
	width: 292px;
	height: 136px;
	margin-bottom: 5px;
	position: relative;
}

.friendplaytime_appheader:hover {
	border-color: #8bb9e0;
}

.friendplaytime_game .friend_blocks_row {
	margin-bottom: 5px;
}

.friendplaytime_plusmore .friend_block_avatar a {
	display: block;
	line-height: 32px;
	font-weight: normal;
    color: #67c1f5;
	text-align: center;
	font-size: 14px;
}

.friendplaytime_plusmore .friend_block_avatar a:hover {
	text-decoration: none;
    color: #ffffff;
}

.friendplaytime_plusmore.friend_status_offline .friend_block_avatar {
    background-image: none;
    background-color: rgba( 103, 193, 245, 0.2 );
    border-radius: 1px;
}
.friendplaytime_plusmore.friend_status_offline .friend_block_avatar:hover {
    color: #ffffff;
    text-decoration: none;
    background: #67c1f5; /* Old browsers */
    background: -moz-linear-gradient(-60deg,  #67c1f5 0%, #417a9b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#67c1f5), color-stop(100%,#417a9b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* IE10+ */
    background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c1f5', endColorstr='#417a9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.friendplaytime_hours {
	line-height: 42px;
	color: #82807c;
	font-size: 14px;
	padding-left: 8px;
}

.recommend_game textarea.recommendation_entry {
	background-color: transparent;
	color: #626366;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	width: 462px;

	overflow: hidden;
}

.recommend_game .quote_ctn .quote {
	min-height: 104px;
}

.game_recommendation textarea.recommendation_entry {
	border: none;
	background-color: #262626;
	color: #626366;
	width: 500px;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;

	overflow: hidden;
}

#review_create .error_message, .game_recommendation .error_message, .recommend_game .error_message {
	color: #ff0000;
	margin-bottom: 12px;
}

.game_recommendation .recommend_btn {
	height: 20px;
}

.game_page_recommendation {
	margin-bottom: 16px;
}

.game_page_recommendation .recommendation_area {
	padding-left: 56px;
}

.game_page_recommendation .recommendation_area .recommendation_author {
	top: 8px;
}

.game_page_recommendation .recommendation_area_content .quote {
	border: none;
	background-color: #262626;
	color: #d6d7d8;
	position: relative;
	padding-bottom: 18px;
	max-height: 450px;
	overflow: auto;
	overflow-x: hidden;
}

.game_page_recommendation .quote .quotebox_timestamp {
	position: absolute;
	bottom: 0px;
	right: 8px;
	color: #4f5051;
	font-size: 10px;
	font-style: normal;
	font-family: Helvetica, Arial, sans-serif;
}

.game_page_recommendation_comments {
	padding-right: 141px;
	position: relative;
	min-height: 22px;
}

.game_page_recommendation .comment_row_quote {
	padding-left: 0px;
}

.game_page_recommendation .game_page_recommendation_comments .quote_serif {
	color: #82807c;
	font-style: italic;
	font-size: 12px;
}

.game_page_recommendation_comments .view_btns {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 141px;
	text-align: right;
}

.game_page_recommendation .comment_timestamp {
	color: #4f5051;
	font-size: 10px;
}

.game_page_recommendation .comment_timestamp a {
	color: #4f5051;
	text-decoration: underline;
}

.page_content_ctn.friend_activity .tabarea .tab.active .tab_content {
    background: #1c2b40;
}

.page_content_ctn h4 {
    color: #8f98a0;
    font-size: 14px;
    font-weight: normal;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    margin-bottom: 12px;
}

.game_hover_box h4 {
    color: #222d3d;
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 0;

    font-family: "Motiva Sans Regular", "Motiva Sans", arial, tahoma, sans-serif;
}


.friendactivity_tab_header {
	background-color: rgba( 0, 0, 0, 0.2 );
	height: 38px;
	line-height: 38px;
	padding-left: 13px;

	color: #b0aeac;
	font-size: 12px;
    margin-bottom: 1px;
}

.view_inactive {
    background-color: rgba( 103, 193, 245, 0.2 );
    border-radius: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

a.view_inactive {
    color: #67c1f5;
}

a.view_inactive:hover {
    color: #ffffff;
    text-decoration: none;
}

a.view_active:hover {
    text-decoration: none;
}

.view_active {
    background: #67c1f5; /* Old browsers */
    background: -moz-linear-gradient(-60deg,  #67c1f5 0%, #417a9b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#67c1f5), color-stop(100%,#417a9b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* IE10+ */
    background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c1f5', endColorstr='#417a9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #ffffff;
    border-radius: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.friendactivity_togglebtns {
	float: right;
	padding-right: 13px;
    font-size: 10px;
    text-transform: uppercase;
}

.friendactivity_tab_content {
	position: relative;
	height: 599px;
	overflow: hidden;
}

.friendactivity_tab_scroll {
	position: relative;
	width: 616px;
}

.friendactivity_tab_row {
	position: relative;

	padding-top: 9px;
	padding-bottom: 10px;
	height: 40px;

	margin-bottom: 1px;
	padding-left: 326px;
	padding-right: 8px;
	background-color: rgba( 0, 0, 0, 0.2 );
}

.friendactivity_tab_row .game_capsule_area {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 45px;
	width: 120px;
	padding: 7px;
}

.friendactivity_tab_row .friend_blocks_row {
	position: absolute;
	top: 7px;
	left: 134px;
	padding: 0px 6px;
	width: 180px;
}

.friendactivity_tab_row.most_wanted .friend_blocks_row {
	width: 450px;
}

.friendactivity_tab_row .time_bar_ctn {
	height: 40px;
	line-height: 40px;
	position: relative;
}

.friendactivity_tab_row .time_bar_ctn .time_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 40px;
	width: 0px;

	background-color: #000000;
}

.friendactivity_tab_row .time_bar_ctn .time_bar_label {
	position: relative;
	color: #acb2b8;
	font-size: 12px;
	padding-left: 8px;
}

.friendactivity_tab_row .friend_blocks_row .friend_block_holder {
    width: 40px;
    height: 40px;
}
.friendactivity_tab_row .friend_blocks_row .friend_block_holder, .friend_blocks_row .playerAvatar {
    float: left;
    margin-right: 5px;
}

a.friendactivity_game_link .ds_flag {
	top: 18px;
}

.friendactivity_tab_row .game_capsule_area a.friendactivity_game_link  {
	display: block;
	position: relative;
	height: 45px;
	width: 120px;
}

a.friendactivity_game_link.ds_flagged:not(.ds_wishlist) img {
	opacity: 0.3;
}

.tab_page_link_holder {
    background: rgba( 0, 0, 0, 0.2 );
    margin-top: 1px;
}


.recommended_login_message {
	padding-top: 16px;
	padding-left: 16px;
	padding-right: 16px;
	height: 108px;
	background: rgba(0,0,0,0.2);
	margin-bottom: 30px;
}

.recommended_login_message h2 {
	margin-bottom: 8px;
}

.recommended_login_message ul {
	color: #8f98a0;
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
	list-style: square;
	list-style-position: inside;
}

.recommended_login_message ul li {
	margin-bottom: 6px;
}

.recommened_login_button_ctn {
	float: right;
	text-align: right;
}

.recommended_login_message_signup, .recommended_login_message_signup a {
	color: #8f98a0;
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
	font-size: 11px;
}

.recommended_login_button {
	padding: 0px 5px;
	position: relative;
	margin-bottom: 4px;
}

.recommended_login_button .leftcap, .recommended_login_button .rightcap, .recommended_login_button .content
{
	background-image: url( https://steamstore-a.akamaihd.net/public/images/recommended/recommended_login_btns.png );
}

.recommended_login_button .leftcap {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 5px;
	height: 40px;
	background-position: left top;
}

.recommended_login_button .rightcap {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 5px;
	height: 40px;
	background-position: left -40px;
}

.recommended_login_button a.content {
	display: block;
	background-position: left -80px;
	background-repeat: repeat-x;
	height: 40px;
	line-height: 40px;
	padding: 0px 32px;

	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.recommended_login_button a.content:hover {
	text-decoration: none;
}

.recommendation_area_ctn.genre_highlights_ctn {
	padding: 14px 0px 15px 14px;
}

.recommended_genre_highlight {
	float: left;
	position: relative;
	width: 294px;
	margin-right: 14px;
	margin-bottom: 30px;
}

.recommended_genre_highlight .genre_highlight_item {
	border: 1px solid #262626;
	width: 292px;
	height: 136px;
	margin-bottom: 8px;
}

.recommended_genre_highlight .genre_highlight_item:hover {
	border-color: #8bb9e0;
}

.genre_highlight_buttons .price {
	float: right;
	line-height: 22px;
}

.genre_highlight_footer {
}

.recommendation_ignored {
	background-color: #000000;
	color: #D6D7D8;
	font-size: 12px;
}

.recommendation_highlight  .recommendation_ignored {
	height: 215px;
	width: 460px;
	text-align: center;
	line-height: 215px;
}

.recommendation_carousel_item .recommendation_ignored {
	width: 160px;
	height: 45px;
	margin-top: 9px;
	margin-left: 9px;
	padding: 12px;
}

.recommendation_carousel_item .ds_flag
{
	top: 55px;
}

.recommendation_highlight_carousel .recommendation_carousel_item .recommendation_ignored {
	margin-top: 29px;
}

.recommendation_pagination {
	float: right;
}

.recommendation_area_ctn.similar_grid_ctn {
	padding-right: 0px;
}

.similar_grid_item {
	float: left;
	padding: 12px 8px;
    background: rgba( 0, 0, 0, 0.2 );
    margin-right: 2px;
    margin-bottom: 2px;
    height: 185px;
}

.similar_grid_item .similar_grid_capsule {
	position: relative;
	left: -1px;
	width: 292px;
	height: 136px;
	border: 1px solid #262626;
	margin-bottom: 5px;
}


.similar_grid_item .similar_grid_capsule:hover {
	border-color: #8bb9e0;
}

.similar_grid_item .similar_grid_capsule img {
	width: 292px;
	height: 136px;
}

.similar_grid_item .similar_grid_capsule.ds_flagged:not(.ds_wishlist) img {
	opacity: 0.3;
}

.similar_grid_item .similar_grid_price {
	margin-bottom: 16px;
}

.similar_grid_item .buttons {
	visibility: hidden;
}

.similar_grid_item:hover .buttons {
	visibility: visible;
}

.similar_grid_rule {
	border-bottom: 2px solid black;
	clear: left;
}



/* new */

#review_container {


}

#recommendation_success {
    position: relative;
    overflow: visible;

    padding-top: 16px;
}

    #recommendation_success .review_box {
        background: none;
        margin-bottom: 0px;
        background-image: none;
        margin-top: 12px;
    }
    #recommendation_success .review_box .thumb {
        margin: 12px 8px 12px 12px;
        float: left;
    }
    #recommendation_success .review_box .reviewPostedDescription {
        font-size: 14px;
        margin: 16px 16px 8px 0px;
    }


#review_create {
    max-width: 908px;
    position: relative;
    overflow: visible;
    padding-top: 16px;
}

#review_create h1, .reviewDate {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 3px;
    color: #66c0f4;
    font-family: "Motiva Sans Light", Arial, tahoma, sans-serif;
    width: 100%;
    border-top: 1px solid #212c3d;
    padding-top: 10px;
}

#review_create p {
    font-size: 13px;
    margin-bottom: 15px;
    color: #8f98a0;
}

#review_create .avatar {
	width: 94px;
	height: 94px;
	background-repeat: no-repeat;
	padding: 1px;
	margin-right: 16px;
	border-radius: 0px;
	float: left;
}

#review_create .content {
	overflow: hidden;
}

#review_create .input_box {
	border: 1px solid #233c51;
	border-radius: 3px;
	height: 132px;
	width: 764px;
	max-width: 800px;
	background-color: #222b35;
	color: #d6d7d8;
	padding: 10px 11px;
	font-size: 13px;
	font-family: "Motiva Sans", Arial, tahoma, sans-serif;
    -webkit-box-shadow: inset 0px 0px 7px rgba( 0, 0, 0, 0.5 );
    -moz-box-shadow: inset 0px 0px 7px rgba( 0, 0, 0, 0.5 );
    box-shadow: inset 0px 0px 7px rgba( 0, 0, 0, 0.5 );
}

.review_controls {
	padding: 8px;
	background-color: rgba( 0, 0, 0, 0.2 );
	margin-bottom: 10px;
	max-width: 772px;
}

.review_controls_left {
	float: left;
	margin-bottom: 8px;
	margin-right: 8px;
}
.review_controls_right {
	padding-top: 14px;
	padding-right: 7px;
}
.review_control_didyouenjoy {
	margin-bottom: 4px;
}

@media screen and (max-width: 500px)
{
	html.responsive .review_controls_right {
		clear: left;
	}
	html.responsive #review_create .avatar {
		width: 66px;
		height: 66px;
		margin-right: 8px;
	}

	html.responsive #review_create .avatar img {
		width: 64px;
		height: 64px;
	}
}

.review_create_vote_controls {
	color: #acb2b8;
    font-size: 13px;
    font-family: "Motiva Sans", Arial, tahoma, sans-serif;
}

.review_create_vote_controls .btn_active {
	text-shadow: none;
}

.review_create_vote_controls .btn_darkblue_white_innerfade.btn_active {
	background: none !important;
}
.review_create_vote_controls .btn_darkblue_white_innerfade.btn_active > span {
	background: rgba( 103, 193, 245, 0.6 );
	color: #ffffff;
}
.review_create_vote_controls .btn_darkblue_white_innerfade {
	background: none !important;
	text-shadow: none;
}
.review_create_vote_controls .btn_darkblue_white_innerfade > span {
	background: rgba( 103, 193, 245, 0.2 );
	color: #67c1f5;
}
.review_create_vote_controls .btn_darkblue_white_innerfade > span:hover {
	color: #ffffff;
	border-radius: 1px;
	background: #67c1f5; /* Old browsers */
	background: -webkit-gradient(linear, left top, right top, color-stop(5%,#67c1f5), color-stop(95%,#417a9b));filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c1f5', endColorstr='#417a9b',GradientType=1 );background: -moz-linear-gradient( -60deg, #67c1f5 5%,#417a9b 95%););background: -webkit-linear-gradient( -60deg, #67c1f5 5%,#417a9b 95%););background: -o-linear-gradient( -60deg, #67c1f5 5%,#417a9b 95%););background: -ms-linear-gradient( -60deg, #67c1f5 5%,#417a9b 95%););background: linear-gradient( -60deg, #67c1f5 5%,#417a9b 95%););}

#review_create .content .controls .dselect_container {
	color: #acb2b8;
	font-size: 12px;
}

#review_create .content .controls .dselect_container {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-top: -3px;

}
#review_create .content .controls .dselect_container a.trigger, #review_create .content .controls .dselect_container a.activetrigger {
	background: transparent;
	color: #ebebeb;
	text-decoration: none;
	line-height: 19px;
	padding-top: 3px;
}

#review_create .content .controls .dselect_container a.trigger:hover,
#review_create .content .controls .dselect_container a.activetrigger,
#review_create .content .controls .dselect_container a.activetrigger:hover
 {
    color: #ffffff;
    border-radius: 3px;
    background-color: #67c1f5; /* Old browsers */
}

#review_create .avatar > img {
	width: 92px;
	height: 92px;
	padding: 1px;
}


.user_reviews_header {
    font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #67c1f5;

	margin-bottom: 15px;
    margin-top: 40px;
    background-image: url('https://steamstore-a.akamaihd.net/public/images/v6/maincol_gradient_rule.png' );
    background-repeat: no-repeat;
    background-position: bottom left;
}

.user_reviews_sub_header {
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #5188b5;
	padding-bottom: 5px;
}

.user_reviews_summary_bar {
	padding: 10px 15px;
	margin-bottom: 20px;

	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(50, 60, 71, 0.5)), color-stop(95%,rgba(84, 100, 114, 0.5 )));background: -moz-linear-gradient( top, rgba(50, 60, 71, 0.5) 5%, rgba(84, 100, 114, 0.5 ) 95%);background: -webkit-linear-gradient( top, rgba(50, 60, 71, 0.5) 5%, rgba(84, 100, 114, 0.5 ) 95%);background: -o-linear-gradient( top, rgba(50, 60, 71, 0.5) 5%, rgba(84, 100, 114, 0.5 ) 95%);background: -ms-linear-gradient( top, rgba(50, 60, 71, 0.5) 5%, rgba(84, 100, 114, 0.5 ) 95%);background: linear-gradient( to bottom, rgba(50, 60, 71, 0.5) 5%, rgba(84, 100, 114, 0.5 ) 95%);
}
.user_reviews_summary_bar .summary_section {
	display: inline-block;
	margin-right: 50px;
	color: #7d868c;
	cursor: pointer;
}
.user_reviews_summary_bar .title {
	text-transform: uppercase;
	font-size: 10px;
	margin-bottom: 5px;
}
.user_reviews_summary_bar .game_review_summary {
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
	font-size: 19px;
	line-height: 9px;
}

.short_header {
	height: 24px;
	padding: 2px;
	color: #819db8;
	background-color: rgba( 0, 0, 0, 0.3 );
	margin-bottom: 6px;
	display: block;
}
.short_header:hover {
	background: rgba( 255, 255, 255, 0.2 );
}

.review_box .short_header .thumb,
.review_box .short_header .persona_name,
.review_box .short_header .hours {
	display: block;
	float: left;
}
.short_header .thumb img {
	width: 24px;
	height: 24px;
}
.review_box .short_header .persona_name,
.review_box .short_header .hours {
	margin-top: 6px;
	margin-left: 4px;
}
.review_box .short_header .persona_name {
	max-width: 120px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.review_box .shortcol .content {
	color: #8091a2;
}
.review_box.short {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#223246+0,223246+100&1+-1,1+0,0+92 */
	background: -moz-linear-gradient(left,  rgba(34,50,70,1) -1%, rgba(34,50,70,1) 0%, rgba(34,50,70,0) 92%, rgba(34,50,70,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(34,50,70,1) -1%,rgba(34,50,70,1) 0%,rgba(34,50,70,0) 92%,rgba(34,50,70,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(34,50,70,1) -1%,rgba(34,50,70,1) 0%,rgba(34,50,70,0) 92%,rgba(34,50,70,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223246', endColorstr='#00223246',GradientType=1 ); /* IE6-9 */


}

.review_box.short .shortcol {
	padding-left: 8px;
}


.user_reviews_most_helpful_days {
	text-transform: uppercase;
	font-size: 14px;
	color: #a0a08b;
}

.user_reviews_header.no_bottom_margin
{
	margin-bottom: 0px;
}
.user_reviews_header .user_reviews_see_all {
    float:right;
    margin-top: -4px;
}
.user_reviews_header .user_reviews_see_all a {
    background-color: rgba( 103, 193, 245, 0.2 );
    border-radius: 1px;
    color: #67c1f5;
    font-size: 11px;
    padding: 2px 4px;
}

.user_reviews_header .user_reviews_see_all a:hover {
    text-decoration: none;
    color: #ffffff;
    background: #67c1f5; /* Old browsers */
    background: -moz-linear-gradient(-60deg,  #67c1f5 0%, #417a9b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#67c1f5), color-stop(100%,#417a9b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-60deg,  #67c1f5 0%,#417a9b 100%); /* IE10+ */
    background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c1f5', endColorstr='#417a9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* ==== Updates headline ==== */
.user_reviews_header .user_reviews_updated {
	color: #A3CF06;
	font-size: 13px;
	float: right;
}
.user_reviews_header .user_reviews_updated a {
	text-decoration: underline;
	font-size: 13px;
	color: #A3CF06;
}
.user_reviews_header .user_reviews_updated a:hover {
	color: #fff;
}
/* ==== Updates headline ==== */


.user_reviews_container
{
	min-height: 1000px;
}

.no_more_reviews
{
	padding: 50px 10px;
	text-align: center;
	background-color: rgba( 0, 0, 0, 0.2 );
	color: #8BB9E0;
	font-size: 16px;
	min-height: 50px;
}

.no_more_reviews_explanation {
	text-align: center;
	color: #b0aeac;
	font-size: 13px;
	padding: 10px;
}

.review_box {
    background-color: rgba( 0, 0, 0, 0.2 );
	margin-bottom: 26px;
    background-image: url('https://steamstore-a.akamaihd.net/public/images/v6/maincol_gradient_rule.png' );
    background-repeat: no-repeat;
    background-position: top left;
}


.review_box .header, .recommendation_row .header {
	padding: 8px 9px;
	font-size: 12px;
	color: #898a8c;
	background-color: rgba( 0, 0, 0, 0.2 );
	min-height: 16px;
}

.review_box .header .commentCount, .recommendation_row .header .commentCount {
	float:right;
}

.review_box .header .commentCount a {
	text-decoration: none;
}

.review_box .leftcol {
	width: 184px;
	float: left;
	padding: 8px;
	opacity: 0.6;
}
.review_box:hover .leftcol {
	opacity: 1;
}

.review_box .rightcol {
	float: left;
	width: 400px;
	position: relative;
}

.review_box a.vote_header {
	margin: 8px 0 13px;
	display: block;
	background: rgba( 0, 0, 0, 0.2 );
	padding: 2px;
}
.review_box a.vote_header:hover {
	background: rgba( 255, 255, 255, 0.2 );
}

.review_box a.vote_header .reviewSeeDetails {
	visibility: hidden;
	font-size: 11px;
	color: #67c1f5;
}
.review_box a.vote_header:hover .reviewSeeDetails {
	visibility: visible;
}


.review_box .vote_header .title {
	font-size: 16px;
	color: #d6d7d8;
	font-family: 'Motiva Sans', arial, tahoma;
	padding: 3px 0;
}

.review_box .vote_header .hours {
	font-size: 12px;
}

.review_box .vote_header .thumb {
	float: left;
	margin-right: 10px;
}

.review_box .avatar {
	float: left;
	padding-right: 10px;
	display: block;
}

.review_box .persona_name, .recommendation_row .persona_name {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 0px;
	display: block;
}

.review_box .num_owned_games, .recommendation_row .posted_date {
	font-size: 11px;
	color: #626366;
	display: block;
	line-height: 17px;
}

.review_box .num_reviews {
	font-size: 11px;
	color: #626366;
	display: block;
}
.review_box .num_reviews a,
.review_box .num_owned_games a {
	color: #c1dbf4;
}
.review_box .num_reviews a:hover,
.review_box .num_owned_games a:hover {
	color: #67c1f5;
}

.review_box .content {
	margin-right: 8px;
	font-family: 'Motiva Sans', arial, tahoma;
	font-size: 13px;
	line-height: 17px;
	color: #acb2b8;
	overflow-wrap: break-word;
}

.review_box .content .gradient, .review_box .view_more {
	display: none;
}

.review_box.partial .content {
	max-height: 225px;
	overflow: hidden;
	position: relative;
}
.review_box.partial .content b,
.review_box.expanded .content b
{
	font-weight: normal;
	font-family: "Motiva Sans Bold", Arial, Helvetica, sans-serif;
}

.review_box.partial .view_more {
	display: block;
	float: right;
	margin-right: 15px;
}

.review_box.partial .view_more a {
	color: #67c1f5;
	text-transform: uppercase;
	font-style: normal;
}


.review_box.partial .content .gradient {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;

	z-index: 1;
	height: 30px;
	/* @todo chrisk use short version */
	background: -moz-linear-gradient(top,  rgba(17,25,35,0) 0%, rgba(17,25,35,.95) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(90%,rgba(17,25,35,0)), color-stop(100%,rgba(17,25,35,.95)));
	background: -webkit-linear-gradient(top,  rgba(17,25,35,0) 0%,rgba(17,25,35,.95) 100%);
	background: -o-linear-gradient(top,  rgba(17,25,35,0) 0%,rgba(17,25,35,.95) 100%);
	background: -ms-linear-gradient(top,  rgba(17,25,35,0) 0%,rgba(17,25,35,.95) 100%);
	background: linear-gradient(to bottom,  rgba(17,25,35,0) 0%,rgba(17,25,35,.95) 100%);
}


.review_box .posted {
	font-size: 10px;
	font-style: italic;
	color: #626366;
	margin: 0px;
}
.review_box.partial .posted {
	margin: 10px 0 8px;
}
.review_box .postedDate {
	margin: 0px 0px 8px;
	font-size: 11px;
	font-style: normal;
	color: #a0a08b;
	display: inline-block;
}

.review_box .receivedCompensation {
	margin: 0px 0px 8px;
	font-size: 11px;
	font-style: normal;
	color: #AB9569;
}

.review_box .hr {
	background-color: #363f4c;
	height: 1px;
}

.review_box .control_block {
	margin: 8px 0;
	display: inline-block;
}

.review_box .control_block .text {
	display: inline-block;
	margin-right: 9px;
	color: #898a8c;
	font-size: 12px;
}

.review_box .noReviewsYetTitle {
	font-size: 16px;
	color: #67c1f5;
	text-align: center;
	padding-top: 30px;
}
.review_box .noReviewsYetSub {
	font-size: 14px;
	color: #898A8C;
	text-align: center;
	padding-right: 16px;
	padding-left: 16px;
}
.review_box .noReviewsYetLink {
	font-size: 14px;
	text-align: center;
	margin-top: 20px;
}

.review_controls .controlblock {
	display: inline-block;
	margin-right: 30px;

}

.review_controls .controlblock .dselect_container {
	background: rgba( 103, 193, 245, 0.1 );
	border-radius: 3px;
	padding: 0px 0px 0px 0px;
}

.review_controls .controlblock.formattinghelp
{
	padding: 4px;

}

.review_received_comp {
	margin-top: 9px;
}
.review_received_comp input {
	vertical-align: text-top;
	margin-right: 4px;
}



.review_box .control_block .text {
	display: inline-block;
	margin-right: 9px;
	color: #898a8c;
	font-size: 12px;
}

#Reviewssummary0 .recent_reviews .review_box .rightcol {
	width: 294px;
}

.rightcol .review_box.short {
	opacity: 0.7;
}

/* filter */
.user_reviews_filter_bar
{
	font-size: 12px;
	padding-top: 10px;
	padding-left: 5px;
	margin-bottom: 15px;
    background: -moz-linear-gradient(left,  rgba(58,110,139,0.2) 0%, rgba(58,110,139,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(58,110,139,0.2)), color-stop(100%,rgba(58,110,139,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(58,110,139,0.2) 0%,rgba(58,110,139,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(58,110,139,0.2) 0%,rgba(58,110,139,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(58,110,139,0.2) 0%,rgba(58,110,139,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(58,110,139,0.2) 0%,rgba(58,110,139,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333a6e8b', endColorstr='#003a6e8b',GradientType=1 ); /* IE6-9 */
}

.user_reviews_filter_text
{
	padding-top: 5px;
	text-transform: uppercase;
	color: #898a8c;
	font-size: 10px;
	padding-right: 10px;
	float: left;
}

.user_reviews_tab
{
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	color: #D6D7D8;
	float: left;
}
.user_reviews_tab a {
    color: #407898;
}
.user_reviews_tab a:hover {
    color: #ffffff;
    text-decoration: none;
}

.user_reviews_tab.active
{
	background-color: #18222e;
}

.user_reviews_tab.active a
{
	color: #67c1f5;
}
.user_reviews_tab.active a:hover {
    text-decoration: none;
}

.user_reviews_by_friends_link
{
	margin-top: -15px;
	padding-bottom: 25px;
}

.user_reviews_count {
	color: #61686d;
}

.load_more_reviews_btn {
	text-align: center;
}

.view_all_reviews_btn
{

	padding-top: 8px;
	font-size: 12px;
    text-align: center;
}

.loading_more_reviews
{
	height: 32px;
	line-height: 32px;
	text-align: center;
}

.loading_more_reviews_throbber
{
	width: 32px;
	height: 32px;
	margin-right: 5px;
	vertical-align: middle;
}

.review_developer_response_container.multiple_listing.store
{
	background-color: rgba( 0, 0, 0, 0.2 );
}

.recommendation_highlight.morelikethis_border {
	margin-bottom: 0px;
	background-image: url(http://chrisk.valvesoftware.com/store/public/images/v6/recommended/morelikethis_borderbottom.png );
	background-position: bottom left;
	background-repeat: no-repeat;
	padding-bottom: 22px;
}

body.recommendgame #review_create {
	padding-top: 0;
}

body.recommendgame #review_create h1  {
	border-top: none;
	padding-top: 0;
}

@media screen and (max-width: 910px )
{
	html.responsive #review_create .content {
		width: auto;
		float: none;
		overflow: hidden;
	}

	html.responsive #review_create .input_box {
		width: calc( 100% - 24px );
	}

	html.responsive .review_box .leftcol {
		float: left;
		width: 184px;
	}

	html.responsive .review_box .rightcol {
		padding: 8px;
	}

	html.responsive .review_box .rightcol .vote_header {
		overflow: hidden;
	}
}

@media screen and (max-width: 360px)
{
	html.responsive .review_box .leftcol {
		float: none;
		width: auto;
	}
}