
.page_content_ctn {
	padding-top: 16px;
}

.sale_page_purchase_item {
	padding: 15px;
	position: relative;
	height: 136px;
	background-color: rgba(0,0,0,0.2);
}

.sale_page_block {
	margin-bottom: 28px;
}

.sale_page_purchase_item .ds_flag {
	left: 15px;
}

.sale_page_purchase_item.ds_flagged:not(.ds_wishlist) img.game_header_image {
	opacity: 0.3;
}

.sale_page_purchase_header {
	position: absolute;
	left: 15px;
	top: 15px;
}

.sale_page_purchase_text_container {
	padding-left: 309px;
}

.sale_page_purchase_package .game_header_image {
	width: 415px;
}

.sale_page_purchase_package .sale_page_purchase_text_container {
	padding-left: 431px;
}

.sale_page_purchase_price {
	position: absolute;
	right: 15px;
	font-size: 14px;
	color: #ffffff;
}

.sale_page_purchase_area {
	position: absolute;
	right: 15px;
	bottom: 15px;
}

.sale_page_sticker_area {
	position: absolute;
	right: 153px;
	top: 13px;
}

.sale_page_name_link {
	font-size: 14px;
}

.sale_page_release_date {
	color: #626366;
}

.sale_page_package_contents {
	margin-top: 2px;
}

.sale_page_package_contents .tab_item .tab_item_overlay img {
	width: 940px;
}

.sale_page_package_contents .tab_item {
	margin-bottom: 2px;
	padding-left: 213px;
}

.sale_page_package_contents .tab_item .tab_item_cap, .sale_page_package_contents .tab_item.ds_flagged .ds_flag {
	left: 15px;
}

#sale_page_purchase_all_area {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 71px;
}

#sale_page_purchase_all_area .btn_addtocart {
	float: none;
}

#sale_page_purchase_all_area .game_purchase_price {
	float: none;
	margin-top: 3px;
	text-align: center;
}

#sale_page_purchase_all_area .btn_addtocart .btn_addtocart_content {
	padding: 0px 32px;
}

#sale_large_cluster {
	margin-bottom: 18px;
}