/* CSS Document */

.addfunds_area_purchase_game {
	margin-bottom: 16px;
	padding: 16px;
}

.addfunds_pageheader {
	margin-bottom: 0px;
	color: #FFFFFF;
	font-size:24px;
	font-weight:normal;
}

.addfunds_separator {
	color: #898A8C;
	font-size: 12px;
	margin-top: -5px;
	margin-bottom: 11px;
	margin-left: 5px;
}

.game_area_purchase_game .addfunds_purchase_action {
	bottom: 0;
	position: relative;
	right: 0;
}
.game_area_purchase_game .addfunds_purchase_action.game_purchase_action {
	margin-right: 10px;
}

.need_help_block
{
	margin: 25px 0px 20px 0px;
	padding: 16px;
	background: rgba( 0, 0, 0, 0.2 );
}

.block .block_header {
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #67c1f5;
	background: transparent;
	padding: 0px 0px 4px 0px;
}

.block .block_sub_header {
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #67c1f5;
	background: transparent;
	padding: 0px 0px 4px 0px;
}

.block .block_title {
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #8f98a0;
	background: transparent;
	padding: 0px 0px 4px 0px;
}

.block.subscriptions {
	margin-bottom: 20px;
}

.block_content {
	border: 1px solid #28394d;
	border-radius: 2px;

}

.block_content_inner
{
	padding: 4px 4px 4px 4px;
	overflow: hidden;
}

.block.accountInfoBlock {
	margin-bottom: 20px;
}

.accountInfoBlock .addfunds_accountBalance {
	margin-bottom: 0px;
}

.accountInfoBlock .block_content {
	border: none;
	border-radius: 0px;
	background: rgba( 0, 0, 0, 0.2 );
	padding: 16px;
}

.addfunds_about {
	color :#B0AEAC;
	font-size: 14px;
	margin-bottom: 28px;
}

.addfunds_about p {
	margin-bottom: 10px;
}

.addfunds_footer {
	color :#B0AEAC;
	font-size: 14px;
	margin-top: 28px;
	margin-bottom: 28px;
}

.addfunds_linkbar {
	margin-top: 8px;
}

.rule, .inner_rule {
	border-top: 1px solid #3C3D3E;
	margin: 5px 0px 10px;
}

.steamaccount_currencyselect {
	text-align: right;
}

.steamaccount_currencyselect .dselect_container {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.currency_change_confirm_dialog {
	max-width: 670px;
}

.currency_change_confirm_dialog p {
	margin: 24px 0;
}

.currency_change_confirm_dialog b {
	color: #67c1f5;
	font-weight: normal;
}

.currency_change_option_ctn {
	vertical-align: top;
	margin: 0 6%;
}
.currency_change_option_ctn:first-child {
	margin-bottom: 12px;
}

.currency_change_option {
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
	display: block;
}

.currency_change_option > span {
	display: block;
	padding: 9px 19px;
}

.currency_change_option .country {
	font-size: 20px;
}
.currency_change_option .notes {
	font-size: 13px;
	line-height: 18px;
}

.currency_change_option_ctn > p {
	font-size: 12px;
	margin: 8px 8px 0 8px;
}

p.currency_change_confirm_dialog_footer {
	margin-top: 128px;
}

.youraccount_updating_shipping_button_row {
	padding-top: 10px;
}

.shipping_row_alternate {
	background-color: rgba(0,0,0,0.1)
}