/* CSS Document */

.addfunds_area_purchase_game {
	margin-bottom: 16px;
	padding: 16px;
}

.addfunds_pageheader {
	margin-bottom: 0px;
	color: #FFFFFF;
	font-size:24px;
	font-weight:normal;
}

.addfunds_separator {
	color: #898A8C;
	font-size: 12px;
	margin-top: -5px;
	margin-bottom: 11px;
	margin-left: 5px;
}

.game_area_purchase_game .addfunds_purchase_action {
	bottom: 0;
	position: relative;
	right: 0;
}
.game_area_purchase_game .addfunds_purchase_action.game_purchase_action {
	margin-right: 10px;
}

.need_help_block
{
	margin: 25px 0px 20px 0px;
	padding: 16px;
	background: rgba( 0, 0, 0, 0.2 );
}

.block .block_header {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			font-weight: normal;
	font-size: 18px;
	color: #67c1f5;
	background: transparent;
	padding: 0px 0px 4px 0px;
}

.block .block_sub_header {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			font-weight: normal;
	font-size: 14px;
	color: #67c1f5;
	background: transparent;
	padding: 0px 0px 4px 0px;
}

.block .block_title {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			font-weight: normal;
	font-size: 12px;
	color: #8f98a0;
	background: transparent;
	padding: 0px 0px 4px 0px;
}

.block.subscriptions {
	margin-bottom: 20px;
}

.block_content {
	border: 1px solid #28394d;
	border-radius: 2px;

}

.block_content_inner
{
	padding: 4px 4px 4px 4px;
	overflow: hidden;
}

.block.accountInfoBlock {
	margin-bottom: 20px;
}

.accountInfoBlock .addfunds_accountBalance {
	margin-bottom: 0px;
}

.accountInfoBlock .block_content {
	border: none;
	border-radius: 0px;
	background: rgba( 0, 0, 0, 0.2 );
	padding: 16px;
}

.addfunds_about {
	color :#B0AEAC;
	font-size: 14px;
	margin-bottom: 28px;
}

.addfunds_about p {
	margin-bottom: 10px;
}

.addfunds_footer {
	color :#B0AEAC;
	font-size: 14px;
	margin-top: 28px;
	margin-bottom: 28px;
}

.addfunds_linkbar {
	margin-top: 8px;
}

.rule, .inner_rule {
	border-top: 1px solid #3C3D3E;
	margin: 5px 0px 10px;
}

.steamaccount_currencyselect {
	text-align: right;
}

.steamaccount_currencyselect .dselect_container {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.currency_change_confirm_dialog {
	max-width: 670px;
}

.currency_change_confirm_dialog p {
	margin: 24px 0;
}

.currency_change_confirm_dialog b {
	color: #67c1f5;
	font-weight: normal;
}

.currency_change_option_ctn {
	vertical-align: top;
	margin: 0 6%;
}
.currency_change_option_ctn:first-child {
	margin-bottom: 12px;
}

.currency_change_option {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			display: block;
}

.currency_change_option > span {
	display: block;
	padding: 9px 19px;
}

.currency_change_option .country {
	font-size: 20px;
}
.currency_change_option .notes {
	font-size: 13px;
	line-height: 18px;
}

.currency_change_option_ctn > p {
	font-size: 12px;
	margin: 8px 8px 0 8px;
}

p.currency_change_confirm_dialog_footer {
	margin-top: 128px;
}

.youraccount_updating_shipping_button_row {
	padding-top: 10px;
}

.shipping_row_alternate {
	background-color: rgba(0,0,0,0.1)
}

.two_column {
	display: inline-block;
	vertical-align: top;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 200; /* thin */

		}

.two_column.left {
	width: 220px;

}

.two_column.right {
	vertical-align: top;

	margin-left: 15px;
	width: 705px;
}

.two_column .nav_item {
	padding: 15px;
	color: #fff;
	font-size: 14px;
	display: block;
}
.two_column .nav_item.active {
	background-color: rgba( 255, 255, 255, 0.12 );
}
.two_column .nav_item:hover {
	background-color: rgba( 255, 255, 255, 0.3 );
}

.account_settings_container {
	background-color: rgba(0,0,0,0.2);
	margin-bottom: 15px;
	padding: 8px 25px 25px 25px;
	font-size: 14px;
	line-height: 18px;
}

body.v6 .account_settings_container h2 {
	text-transform: uppercase;
	color: #fff;
	margin: 5px 0 0px;
	font-size: 17px;
	letter-spacing: 2px;

}

.account_settings_container p {
	padding: 5px 0;
}

.account_settings_container .hspacer {
	height: 25px;
}

.account_settings_container p.info {
	color: #abdaf4;
	font-size: 16px;
	margin-top: 9px;
}

.account_settings_container blockquote {
	margin: 5px 0 5px 25px;
}

.account_settings_container label {
	font-size: 13px;
	color: #c5d1df;
	line-height: 23px;
}

.account_settings_container blockquote.tag_form {
	margin-top: 12px;
	width: 300px;
}

.app_tag_form_ctn button {
	float: right;
	margin-left: 12px;
}
.account_settings_container .half {
	display: inline-block;
	margin-right: 25px;
}

.app_tag_form_ctn .gray_bevel.for_text_input {
	height: 27px;
	overflow: hidden;
}

.app_tag_form_ctn .gray_bevel.for_text_input input {
	margin-top: 2px;
	height: 25px;
	line-height: 25px;

}

.account_preferences input.gray_bevel,
.account_preferences textarea.gray_bevel,
.account_preferences .gray_bevel {
	background-color: rgba( 0, 0, 0, 0.4 );
	border-radius: 3px;
	border: 1px solid #000;
	box-shadow: 1px 1px 0px #45556c;
	color: #fff;

	margin-bottom: 6px;
	outline: none;


	padding: 4px 6px;
}
.account_preferences .gray_bevel input,
.account_preferences .gray_bevel textarea {
	background-color: transparent;
	color: #476474;
}

.account_preferences input.gray_bevel::-webkit-input-placeholder,
.account_preferences textarea.gray_bevel::-webkit-input-placeholder,
.account_preferences .gray_bevel textarea::-webkit-input-placeholder,
.account_preferences .gray_bevel input::-webkit-input-placeholder {
	font-style: italic;
	color: #476474;
}

.tag_downvoted {
	margin: 2px 0;
}

.tag_downvoted > div {
	display: inline-block;
	line-height: 19px;
	padding: 2px 7px;
	color: #67c1f5;
	background-color: #283b47;

	margin-right: 2px;
	border-radius: 3px;

	box-shadow: 1px 1px 0 0 #000000;

	margin-bottom: 3px;

	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
}

.tag_downvoted > div > span {
	display: inline-block;
	cursor: pointer;
	width: 12px;
	height: 12px;
	margin: 3px 0 4px 5px;
	vertical-align: top;
	background-image: url( '/public/images/v6/delete_search_term.png' );
	margin-left: 5px;
}

.queue_customize {
	padding: 5px 0;
	color: #63c1f5;
	cursor: pointer;
}
.queue_customize:hover {
	color: #ffffff;
}

.not_interested_container {
	display: inline-block;

	border: 1px solid #163d55;
	border-left: none;
	border-right: none;
	padding: 5px 0;
	margin: 10px 0;
}

.not_interested_container > div {
	display: inline-block;
}

.not_interested_container .description {
	color: #808891;
	width: 200px;
}

.not_interested_container .count {
	color: #cedbe9;
	font-size: 34px;
	text-align: right;
	width: 100px;
	padding-right: 5px;
}
#primary_language {
	margin-left: 25px;
}