/* CSS Document */

.addfunds_area_purchase_game {
	margin-bottom: 16px;
	padding: 16px;
}

.addfunds_pageheader {
	margin-bottom: 0px;
	color: #FFFFFF;
	font-size:24px;
	font-weight:normal;
}

.addfunds_separator {
	color: #898A8C;
	font-size: 12px;
	margin-top: -5px;
	margin-bottom: 11px;
	margin-left: 5px;
}

.game_area_purchase_game .addfunds_purchase_action {
	bottom: 0;
	position: relative;
	right: 0;
}

.block .block_header {
	background: #2a3f5a;
	padding: 4px 4px 4px 6px;
	color: #8f98a0;
	font-size: 12px;
	font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}

.block_content {
	border: 1px solid #28394d;
	border-radius: 2px;

}

.block_content_inner
{
	padding: 4px 4px 4px 4px;
	overflow: hidden;
}

.accountInfoBlock .addfunds_accountBalance {
	margin-bottom: 0px;
}

.addfunds_about {
	color :#B0AEAC;
	font-size: 14px;
	width: 616px;
	margin-bottom: 28px;
}

.addfunds_about p {
	margin-bottom: 10px;
}

.addfunds_footer {
	color :#B0AEAC;
	font-size: 14px;
	width: 616px;
	margin-top: 28px;
	margin-bottom: 28px;
}

.addfunds_linkbar {
	margin-top: 8px;
}

.rule {
	border-top: 1px solid #3C3D3E;
	margin: 5px 0px 10px;
}