
a:hover {
	text-decoration: none;
}

.updated_apps_tabs
{
	padding-bottom: 10px;
	border-bottom: 2px solid #779abd;
	margin-bottom: 20px;
}

.updated_app_tab
{
	float: left;
	padding-top: 10px;
	padding-right: 20px;
	font-size: 14px;
}

.updated_app_tab a
{
	text-decoration: none;
	color: #bbbbbb;
}

.updated_app_tab.active a
{
	color: white;
}

.updated_app
{
	position: relative;
	padding-bottom: 30px;
    background-image: url( https://steamstore-a.akamaihd.net/public/images/v6/maincol_gradient_rule.png );
    background-repeat: no-repeat;
    background-position: top left;
}

.updated_app a
{
	color: #dddddd;
}

.updated_app .updated_app_announcement_text a {
    color: #9fbbcb;
    text-decoration: underline;
}
.updated_app a:hover
{
	color: #ffffff;
}

.updated_app .ds_flag
{
	top: 50px;
}

.updated_app_logo
{
	float: left;
	width: 184px;
	padding: 13px 8px 8px 0px;
}

.updated_app_details
{
	float: left;
	padding: 8px;
	width: 550px;
}

.updated_app_name
{
	font-size: 12px;
	padding-right: 5px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}

.updated_app_date
{
	color: #898a8c;
}

.updated_app_announcement_headline
{
	font-size: 24px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			margin-top: 3px;
}
.updated_app_announcement_headline a {
    color: #ffffff;
}

.updated_app_announcement_headline .comment_count
{
	font-size: 12px;
	font-family: arial, tahoma, sans-serif;
	float: right;
	padding-right: 5px;
}

.updated_app_announcement_text
{
	color: #acb2b8;
	font-size: 14px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			line-height: 19px;
	overflow: hidden;
    margin-top: 10px;
}

.updated_app_announcement_text b {
    font-weight: normal;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: bold; /* bold */

		}

.updated_app.expanded .updated_app_announcement_text
{
	height: auto;
}

.updated_app.partial .updated_app_announcement_text
{
	max-height: 400px;
}

.updated_app_announcement_text ul {
	margin-left: 18px;
}

.updated_app_announcement_text img {
	max-width: 550px;
}

.updated_app_play_now_btn
{
	padding-top: 10px;
}

.updated_app_footer
{
	position: relative;
}

.updated_app.expanded .updated_app_footer
{
	display: none;
}

.updated_app_gradient
{
	height: 20px;
	width: 545px;
	position: absolute;
	top: -20px;
}

.updated_app_read_full_announcement
{
	padding-top: 5px;
	text-align: center;
}
.updated_app_read_full_announcement a
{
	text-transform: uppercase;
	font-size: 11px;
	font-family: arial, tahoma, sans-serif;
}

.updated_app iframe
{
	max-width: 545px;
}

.updated_app_vote_details
{
	position: relative;
	margin-top: 20px;
	padding: 6px;
	background-color: rgba( 0, 0, 0, 0.2 );
}

.updated_app_vote_details .rateUpCount
{
	color: #7CC5FB;
	padding-right: 10px;
}

.updated_app_vote_details .rateUpCount img
{
	vertical-align: middle;
	padding-right: 0px;
}

.no_matching_apps
{
	padding-top: 50px;
	font-size: 16px;
	text-align: center;
}