
.updated_apps {
}

#tab_preview_container {
	height: 500px;
}

.tab_preview {
	display: none;

	padding: 10px;
	height: 100%;
	width: 466px;
	overflow-y: auto;
	background: #c6d4df;
}
.tab_preview.focus {
	display: block;
}

.tab_item.focus {
	background: #c6d4df;
	position: relative;
}
.tab_item.focus::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	margin-right: -16px;
	height: 100%;
	width: 16px;
	background: #c6d4df;
}

.tab_item.focus .tab_item_name {
	color: #000000;
}

.myapps .tab_item.ds_flagged:not(.ds_wishlist):not(:hover):not(.focus) .tab_item_content .tab_item_name {
	color: #c7d5e0;

}

.can_play_container {
	background-color: #00aced;
	color: white;
	padding: 10px;
	margin-bottom: 25px;
	position: relative;
}

.can_play_container .ds_flag.ds_owned_flag {
	background-color: #66c0f4;
}
.can_play_container .playtime_text {
	float: left;
	font-size: 14px;
	line-height: 22px;
	margin-left: 10px;
}
.can_play_container .ds_flag {
	position: relative;
	margin-left: -14px;
	top: 2px;
	float: left;
}

.updated_app_announcement_text a {
	color: #3a6e8b;
	text-decoration: underline;
}

div.bb_h1 {
	color: #000;
	font-weight: 500;
}

.updated_app_date
{
	color: #000000;
}

.updated_app_name {
	font-size: 25px;
	color: black;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			margin-bottom: 10px;
}

.updated_app_announcement_headline
{
	font-size: 20px;
	color: black;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: bold; /* bold */

			margin-bottom: 10px;
}

.updated_app_announcement_headline a {
    color: #000000;
}

.comment_count
{
	font-size: 12px;
	font-family: arial, tahoma, sans-serif;
	float: right;
	padding-top: 4px;
	padding-right: 5px;
	color: #ffffff;
}

.updated_app_announcement_text
{
	color: #000000;
	font-size: 14px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			line-height: 19px;
	overflow: hidden;
    margin-top: 10px;
}

.updated_app_announcement_text b {
    font-weight: normal;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: bold; /* bold */

		}

.updated_app_announcement_text ul {
	margin-left: 18px;
}

.updated_app_announcement_text img {
	max-width: 100%;
}

.updated_app_play_now_btn
{
	float: right;
}

.updated_app_footer
{
	position: relative;
}

.updated_app.expanded .updated_app_footer
{
	display: none;
}

.updated_app_gradient
{
	height: 20px;
	width: 545px;
	position: absolute;
	top: -20px;
}

.updated_app_read_full_announcement
{
	padding-top: 5px;
	text-align: center;
}
.updated_app_read_full_announcement a
{
	text-transform: uppercase;
	font-size: 11px;
	font-family: arial, tahoma, sans-serif;
}

.tab_preview iframe
{
	max-width: 450px;
}

.title_underline {
	width: 100%;
	height: 1px;
	background-color: rgba( 0, 0, 0, 0.2 );
	border-bottom: 1px solid rgba( 255, 255, 255, 0.7 );
	margin-bottom: 10px;
}

.updated_app_vote_details
{
	position: relative;
	margin-top: 10px;
	padding: 6px;
	background-color: rgba( 0, 0, 0, 0.1 );
}

.updated_app_vote_details .rateUpCount
{
	color: #000;
	padding-right: 10px;
}

.updated_app_vote_details .rateUpCount img
{
	vertical-align: middle;
	padding-right: 0px;
}

.no_matching_apps
{
	padding-top: 50px;
	font-size: 16px;
	text-align: center;
}

.fixed_in_scroll
{
	position: fixed;
}

.updated_apps.myapps .tab_item.ds_flagged:not(.ds_wishlist):not(:hover) .tab_item_cap {
	opacity: 1;
}

.updated_apps.myapps .tab_item.ds_flagged .ds_owned_flag {
	display: none;
}


@media screen and (max-width: 910px)
{
	html.responsive #tab_preview_container {
		display: none;
	}
}