
.wishlist_header {
	display: flex;
	margin: 15px 0 25px 0;
}

body.v6 .wishlist_header h2 {
	color: #fff;
	font-size: 26px;
	line-height: 67px;
	margin-left: 15px;
}

#wishlist_ctn {
	position: relative;
}

.wishlist_header img {
	width: 67px;
	height: 67px;
}

.wishlist_row {
	will-change: transform, top;
	overflow:hidden;

	display: flex;
	position: absolute;
	flex-direction: row;
	padding: 16px;
	background-color: rgba(64, 81, 99, 0.9);
	color: #b2b8bd;
	margin-bottom: 10px;
	width: calc(100% - 32px);
	transition: background-color 300ms, top 300ms;

			font-family: "Motiva Sans", Sans-serif;
		font-weight: 200; /* thin */

			box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.wishlist_row.dragging {
	transition: background-color 300ms; /* Don't transition top position while dragging, it's gross */
}

.wishlist_row .mid_container {
	display: flex;
	flex-direction: row;
}

.wishlist_row .capsule {
	position: relative;
	margin-right: 19px;
	width: 292px;
	height: 136px;
	transition: margin 300ms
}

.compact .wishlist_row {
	padding: 4px;
	width: calc(100% - 8px);
	margin-bottom: 4px;
}
.compact .wishlist_row .content {
	position: relative;
}
.compact .wishlist_row .title {
	display: block;
	flex-grow: 1;
	margin-bottom: 4px;
	margin-top: 6px;
	max-width: 500px;
	font-size: 18px;
}

.compact .wishlist_row .capsule {
	width: 162px;
	height: 75px;
	margin-right: 10px;
}
.compact .wishlist_row .lower_container {
	margin-top: 0px;
}

.compact .wishlist_row .capsule img {
	width: 162px;
}
.compact .lower_columns {
	position: absolute;
	top: 9px;
	right: 8px;
}
.compact .wishlist_row .stats {
	margin-top: 0px;
}
.compact .wishlist_row .tags,
.compact .wishlist_row .platform_icons,
.compact .wishlist_row .screenshots {
	display: none;
}

.compact .wishlist_row .purchase_container {
	position: absolute;
	top: 33px;
	right: 8px;
}
.compact .wishlist_row .purchase_container .coming_soon_link {
	margin-top: 11px;
	display: block;
}

.wishlist_row .capsule .screenshots, .wishlist_row .capsule .screenshots > div {
	position: absolute;
	top: 0;
	right: 0;
	width: 292px;
	height: 136px;
	background-size: cover;
	background-position: center center;
}

.wishlist_row .capsule .screenshots > div {
	opacity: 0;
}

.sort_order .capsule {
	margin-left: 40px;
}

.wishlist_row .content {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex-grow: 1;

}

.wishlist_row .stats {
	flex-grow: 1;
	flex-shrink:1;
	display: grid;
	grid-template-columns: 140px auto;
	grid-template-rows: auto;

	margin-bottom: 10px;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 11px;

}

.wishlist_row .delete {
	display: inline;
	cursor: pointer;
	text-decoration: none;
	border-bottom: 1px dotted rgba( 178, 184, 189, .6 );
}
.wishlist_row .delete:hover {
	color: #d8dde2;
}
.wishlist_row .tags {
	flex-shrink:1;
}

.wishlist_row .addedon {
	margin-top: 5px;
	white-space:nowrap;
	flex-shrink:0;
}


.wishlist_row .earlyaccess {
	color: #000;
	display: inline-block;
	font-weight: 500;
	background-color: #67c1f5;
	padding: 0 6px;
	line-height: 20px;
	height: 20px;
	margin-right: 7px;

}

.wishlist_row .platform_icons {
	margin-bottom: 10px;
}

.wishlist_row .platform_icons > * {
	vertical-align: top;
}

.wishlist_row .title {
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	margin: 0 0 15px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wishlist_row .lower_container {
	margin-top: 5px
}

.wishlist_row .purchase_area {
	background-color: rgba(0,0,0,0.2);
	padding: 2px;
	display: flex;
	height: 32px;
	flex-shrink:0;
}

.wishlist_row .purchase_area a > span {
	white-space: nowrap;
}

.wishlist_row .purchase_area form {
	display: flex;
}

.wishlist .controls {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			display: flex;
	flex-direction: row;
	margin-left: -15px;
	margin-bottom: 8px;
}

.hover_handle {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1;
	overflow: hidden;
	width: 0px;
	border-color: rgba(0,0,0,0);
	transition: width 300ms, border-color 300ms;

	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;

}


.hover_handle > div {
	
	width: 100%;
	height: 100%;
	position: relative;


}

.hover_handle .top {
	top: 5px;
	left: 0;
	right: 0;
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	line-height: 18px;
	cursor: pointer;
	opacity: 1;
	transition: opacity 300ms;

}
.hover_handle .order {
	bottom: 5px;
	left: 0;
	right: 0;
	position: absolute;
	opacity: 1;
	transition: opacity 300ms;
	text-align: center;

}

.hover_handle .order input {
	width: 22px;
	color: #6d7985;
	background-color: #313c48;
	border-radius: 3px;
	font-size: 11px;
	padding: 3px 4px;
	border: none;
	text-align: center;
}

.sorting .hover_handle .top, .sorting .hover_handle .order {
	opacity: 0;
}

.hover_handle img {
	position: absolute;
	top: calc(50% - 15px);
	left: 10px;
	cursor: move;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
	touch-action: none;
}

.sort_order .hover_handle {
	width: 40px;
	border-right: 1px solid rgba(0,0,0,0.2);
}



.sort_order .hover_handle {
	display: block;
}

.filter_tab {
	cursor: pointer;
	height: 20px;
	transition: background-color 300ms;
	order: 10;
}
.wishlist .controls > div.search {
	flex-grow: 1;
	flex-shrink: 1;
	text-align: right;
	margin-right: 0;
	padding-top: 0px;
	padding-right: 0;
	order:10;
}

.wishlist .controls div.filter_tab.hover{
	background-color: #808a9c;
	color: #000;
}

.wishlist .controls div.filter_tab.hover > span {
	color: #000;

}



.dropdown_container {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		
	background-color: #808a9c;
	padding: 0px 15px 15px 15px;
	text-transform: uppercase;
	letter-spacing: 1px;

	transition: opacity 300ms;
	opacity: 0;
	pointer-events: none;
}

.dropdown_container.hover {
	opacity: 1;
	pointer-events: auto;
}

.dropdown_container .item {
	font-size: 12px;
	color: #fff;
	padding: 5px 0;
	cursor: pointer;
	display: block;
}

.dropdown_container .item:hover {
	color: #000;
}

.settings_tab img {
	width: 16px;
}

.wishlist .controls div.settings_tab {
	display: inline-block;
	line-height: 25px;

}

.dropdown_spacer {
	height: 15px;
}

.filter_section {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			opacity: 0;
	transition: opacity 300ms;
	position: absolute;
	left: -10px;
	width: calc(100% - 32px);
	background-color: #808a9c;
	padding: 30px;
	margin-top: -16px;
	z-index: 2;
	pointer-events: none;

}

body.v6 .filter_section h3, body.v6 .category h3 {
	text-transform: uppercase;
	color: #222d3d;
	font-size: 13px;
	margin: 5px 0;
	font-weight: bold;
}

body.v6 .filter_section label, body.v6 .filter_section input {
	color: white;
	vertical-align: top;
	margin: 2px 0;
	line-height: 17px;
	font-size: 12.5px;
}

#nothing_to_see_here {
	text-align: center;
	padding: 75px 0;
}

#nothing_to_see_here h2 {
	color: #e5e5e5
}

#nothing_to_see_here p {
	font-size: 12px;
	color: #e5e5e5;
	margin-top:8px;
}

.filter_section.hover {
	display: block;
	opacity: 1;
	pointer-events: auto;
}

.filter_section .wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

.filter_section .category {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.filter_section label {
	cursor: pointer;
}


.filter_tab .filter_section {
	pointer-events: none;
}

.filter_tab:hover .filter_section {
	pointer-events: auto;
	opacity: 1;
}

.wishlist .controls  div:hover {
	color: #fff;
}

.wishlist .controls  div {
	padding: 10px 14px 8px 14px;
	margin: 0px 15px 0px 0px;
	color: #9099a1;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	white-space: nowrap;

}

.wishlist .controls  div span,
#tab_filters {
	color: #fff;
}
.wishlist .controls  .filter_tab:hover {
	background: rgba(255,255,255,0.1);
}

.wishlist .hr {
	height: 1px;
	background-color: rgba(255,255,255,0.2);
	margin-bottom: 10px;
}

.wishlist_row .tags, .wishlist_row .addedon {

	font-size: 11px;
	overflow: hidden;
	height: 19px;
}

.wishlist_row .tag {
	display: inline-block;
	margin-right: 3px;
	padding: 2px 5px;
	border: 1px solid rgba(255,255,255,0.2);
	color: #8f98a0;
	border-radius: 3px;
	cursor: pointer;
	height: 13px;
}
.wishlist_row .tag:hover {
	background: rgba(255,255,255,0.1);
}

.wishlist_row.dragging {
	z-index: 10;
	background-color: #3d4b5a;

}


.wishlist_row .screenshots > div {
	position: absolute;
	width: 100%; /* Redundant ?? */
	height: 100%;
	background-size: cover;
	background-position: center center;
	opacity: 0;
	transition: opacity 300ms;

}

.wishlist_row .capsule:hover .screenshots > div {
	animation: screenshot_hover_fadein 4s linear;
	animation-iteration-count:infinite;
}

.lower_columns {
	display: flex;
	justify-content: space-between;
}

.wishlist_row .capsule:hover .screenshots > div:nth-child(1) { animation-delay: 0s }
.wishlist_row .capsule:hover .screenshots > div:nth-child(2) { animation-delay: 1s }
.wishlist_row .capsule:hover .screenshots > div:nth-child(3) { animation-delay: 2s }
.wishlist_row .capsule:hover .screenshots > div:nth-child(4) { animation-delay: 3s }

@keyframes screenshot_hover_fadein {
	0% {
		opacity: 0;
	}
	3% {
		opacity: 1;
	}
	28% {
		opacity: 1;
	}

	31% {
		opacity: 0;
	}
}

#wishlist_search {
	padding: 7px 10px;
	width: calc( 100% - 70px);
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.1);
	border: 1px solid #000;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5) inset, 1px 1px 0 0 rgba(255,255,255,0.2);
}
#wishlist_search:hover {
	border: 1px solid rgba(255,255,255,0.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.5) inset, 1px 1px 0 0 rgba(255,255,255,0);
}

#wishlist_search::-webkit-input-placeholder {
	color: #78838c;
}

#filters_container > div {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			display: inline-block;
	margin: 0px 5px 10px  0;
	padding: 3px 24px 3px 7px;
	background: url(/public/images/v6/deleteSearchTerm.png), rgba(255,255,255,0.2);
	background-repeat: no-repeat;
	background-position: right 6px top 5px;
	border-radius: 3px;
	color: #fff;
	font-size: 13px;
	cursor: pointer;
	user-select: none;

}
#filters_container > div:hover {
	background: url(/public/images/v6/deleteSearchTerm.png), rgba(255,255,255,0.4);
	background-repeat: no-repeat;
	background-position: right 6px top 5px;
}

.discount_block_large .discount_pct {
	height: 32px;
	margin-bottom: 2px;
}
.discount_block.no_discount .discount_final_price {
	margin-top: 5px;
}
.discount_final_price {
	color: #ffffff;
	font-size: 13px;
}

.discount_block {
	white-space: nowrap;
}

.discount_block .discount_prices {
	background: transparent;
}
.discount_original_price {
	color: #707e89;
}
.discount_block .discount_pct, .discount_pct {
	background: rgba(76, 107, 34, 0.5);
}

.wishlist_row .purchase_container {
	min-height: 36px;
}
.wishlist_row .term_matched {

}

.wishlist_row .tag.term_matched {
	background-color: #d09125 !important;
	color: #fff;
}
.wishlist_row .title.term_matched {
	background-color: #d09125 !important;
	display: table;
}

.ico_cart {
	height: 21px;
	vertical-align: top;
	margin-top: 4px;
}

.btn_medium.icon {
	display: none;
}

.btn_medium.icon span {
	padding: 0 3px
}


.wishlist_row .stats .value {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
}


@media screen and (max-width: 910px)
{
	.wishlist_row .mid_container, .wishlist_row .lower_columns {
		flex-direction: column;
	}

	.wishlist_row .purchase_container {
		align-self: flex-end;
	}

	.wishlist_row .capsule {
		width: 25%;
		flex-shrink: 0;
		margin-right: 10px;
	}

	.wishlist_row .capsule img {
		width: 100%;
	}

	.wishlist_row .screenshots {
		display: none;
	}

	.wishlist_row .platform_icons {
		margin-top: -32px;
		pointer-events: none;
		margin-bottom: 15px;
	}

	.purchase_container .btn_medium.noicon {
		display: none;
	}

	.purchase_container .btn_medium.icon {
		display: inline-block;
	}

	.wishlist_row .earlyaccess {
		display: none;
	}

	/* Shrink margins since we're losing vertical space */
	.wishlist_row .platform_icons {

	}
	.wishlist_row .title {
		margin-bottom: 2px;
		font-size: 18px;
	}
	.wishlist_row .stats {
		margin-bottom: 3px;
		display: flex;
	}
	.wishlist_row .stats .label {
		display: none;
	}
	.wishlist_row .stats .value {
		margin-right: 8px;
	}

	.wishlist_row {
		padding: 8px;
		width: calc(100% - 16px);
		padding-bottom: 0px;
	}

	.wishlist .controls {
		margin: 0;
		flex-direction: column;
	}
	.wishlist .controls {
		margin: 0;
	}
	.wishlist .controls > div.search {
		text-align: left;
		order: 5;
	}


	.filter_section .wrapper {
		grid-template-columns: repeat(2, 1fr);
	}

	.compact .wishlist_row .lower_columns {
		position: absolute;
		top: 50px;
		left: 0px;
	}
	.compact .wishlist_row .title {
		font-size: 17px;
		max-width: 100%;
	}
	.compact .wishlist_row .mid_container {
		margin-top: -20px;
	}
	.compact .wishlist_row .stats {
		margin-top: 0px;
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 500px) {
	#wishlist_ctn:not(.compact) .wishlist_row .capsule {
		display: none;
	}

	#wishlist_ctn.sort_order:not(.compact) .wishlist_row .content {
		margin-left: 40px;
	}


	#wishlist_ctn:not(.compact) .wishlist_row .earlyaccess {
		display: inline-block;
	}

	#wishlist_ctn.compact .wishlist_row .capsule img {
		display: none;
	}
	#wishlist_ctn.compact .wishlist_row .capsule {
		width: 0px;
		height: 75px;
	}

	.compact .wishlist_row .title {
		font-size: 15px;
	}
	.compact .wishlist_row .value.release_date {
		display: none;
	}
}

@media screen and (max-width: 350px) {
	.wishlist_row .title {
		font-size: 15px;
	}

}