

/* @media screen and ( min-width: 501px ) and ( max-width: 910px ) { */

/* PAGE SETUP */

/* Remove background */
html.tablet .page_header_ctn {
	background: unset;
	padding-bottom: 0px;
	margin-bottom: 16px;
}


/* Remove breadcrumbs */
html.tablet .breadcrumbs {
	display: none;
}


/* Hide store menu on account pages */
html.tablet .tablet_header_menu_ctn {
	display: none;
}

/* Remove mouse hover tooltips */
html.tablet .hover_tooltip {
	display: none;
}



/* TEXT */
html.tablet body.v6 {
	font: var(--gpText-BodyLarge);
}

html.tablet #main_content .two_column {
	font-weight: 400;
}

html.tablet .account_setting_sub_block {
	color: var(--gpStoreLightestGrey);
}

html.tablet .accountBalance .price {
	font-size: unset;
	font-weight: 700;
}

html.tablet .account_settings_container,
html.tablet .account_settings_container label {
	font-size: unset;
	line-height: unset;
	color: unset;
}

html.tablet body.v6 h2.pageheader {
	padding-top: calc( 16px + var(--gpVerticalResponsivePadding-Medium) );
}



/* Links, checkboxes and radios */
html.tablet .account_manage_link,
html.tablet .account_manage_checkbox {
	margin: 4px 0px !important; /*to override inlines styles*/
	background-color: var(--gpBackground-LightSofter);
	padding: 8px 8px;
	display: block;
	transition: all 0.1s ease;
}

html.tablet .account_manage_checkbox {
	color: white;
}

html.tablet .account_manage_link {
	color: var(--gpColor-Blue);
}

html.tablet .account_manage_link:hover,
html.tablet .account_manage_checkbox:hover {
	background-color: var(--gpBackground-LightMedium);
	color: white;
}

html.tablet .account_manage_link.gpfocus,
html.tablet .account_manage_checkbox.gpfocus {
	background-color: white;
	color: black;
}

html.tablet .account_preferences input[type=checkbox]:disabled+label {
	opacity: 0.5;
	color: unset;
}





html.tablet .queue_customize,
html.tablet .preferences_link {
	color: var(--gpColor-Blue);
}


/* Style delete links */
html.tablet .delete_link {
	color: var(--gpColor-Red);
}

html.tablet .delete_link.gpfocus {
	background: var(--gpColor-RedHi);
	color: white;
}



/* Hide spacers */
html.tablet .spacer,
html.tablet .account_setting_sub_block br,
html.tablet .hspacer,
html.tablet .account_settings_content_types br,
html.tablet .account_settings_search_options br,
html.tablet .account_settings_platform_preferences br {
	display: none;
}




/* NAVIGATION COLUMN FRAMEWORK */

html.tablet #main_content {
	display: flex;
}

/* Sitcky side nav */
html.tablet #main_content .two_column.left {
	width: var(--gpNavWidth);
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	background-color: var(--gpStoreDarkerGrey);
	scroll-padding: 48px 0px;
	padding: 8px;
	box-sizing: border-box;
}

html.tablet .two_column.right {
	margin-bottom: 0px;
}


/* Right coloumn layout */
html.tablet #main_content .two_column.right {
	padding: 0px;
	min-height: 100vh;
	width: 100%;
	margin: 0px;
	padding-bottom: 48px;
}

html.tablet .page_header_ctn .page_content {
	padding: 8px var(--gpSpace-Gutter) 0px var(--gpSpace-Gutter);
}

html.tablet .page_header_ctn {
	margin-bottom: 0px;
	width: 100%;
}

html.tablet body.v6 .page_content {
	width: calc(100vw - var(--gpNavWidth));
	max-width: calc( 1120px - var(--gpNavWidth) );
	margin: unset;
	margin-left: calc( var(--gpNavWidth) + ((100vw - 1120px) / 2) );
	box-sizing: border-box;
	float: unset;
}

@media screen and (max-width: 1120px ) {
	html.tablet body.v6 .page_content {
		float: right;
		margin: unset;
	}
}

html.tablet .account_settings_container {
	background-color: unset;
	padding: unset;
}




/* NAV ITEMS */
html.tablet .two_column .nav_item {
	padding: 12px 16px;
	transition: all 0.1s ease;
	font-size: unset;
	color: var(--gpStoreLightestGrey);
}

html.tablet .two_column .nav_item.active {
	background-color: var(--gpBackground-LightMedium);
	color: white;
}

html.tablet .two_column .nav_item:hover {
	background-color: var(--gpBackground-LightSoft);
	color: white;
}

html.tablet .two_column .nav_item.gpfocus {
	background-color: white;
	color: black;
}




/* CONTENT BLOCKS LAYOUT */

/* Display all as single column */
html.tablet .account_setting_block {
	display: flex;
	flex-direction: column;
}


/* All blocks full width */
html.tablet .account_setting_sub_block {
	width: unset;
}




/* CONTENT BLOCKS STYLING */

/* Account settings containers */
html.tablet .account_settings_container {
	margin-bottom: 24px;
}


/* H2 */
html.tablet .account_settings_container h2 {
	border-top: 1px solid var(--gpBackground-LightSoft);
	padding-top: 16px;
	margin-top: 20px;
}


/* Header lines */
html.tablet .account_header_line {
	background-color: unset;
	text-transform: unset;
	font: var(--gpText-HeadingMedium);
	letter-spacing: unset;
	font-weight: 700;
	padding-left: unset;
	padding-top: 20px;
	margin-top: 8px;
	border-top: 2px solid var(--gpBackground-LightMedium);
}

html.tablet .account_header_line img {
	display: none; /*until icon update*/
}

html.tablet .account_header_line.noicon {
	padding-left: unset;
}


/* Rules */
html.tablet .inner_rule {
	border-top: 1px solid var(--gpBackground-LightSoft);
	margin: 16px 0px;
}


/* Sub blocks */
html.tablet .account_setting_sub_block {
	padding: 16px 0px;
}

html.tablet #main_content .account_setting_block {
	background: unset;
}


/* Payment method box */
html.tablet .account_setting_sub_block .payment_method_box {
	font-size: unset;
	padding: 8px 12px;
	background-color: unset;
	margin: 16px 0px;
	min-height: unset;
	border: 1px solid var(--gpBackground-LightSoft);
}

html.tablet .account_setting_block_short {
	font-size: unset;
	padding: 8px 12px;
	background-color: unset;
	margin: 16px 0px;
	min-height: unset;
	border: 1px solid var(--gpBackground-LightSoft);
}

html.tablet .account_setting_sub_block_long {
	padding: unset;
	float: unset;
	color: unset;
}

html.tablet .account_setting_sub_block .payment_method_box a {
	color: var(--gpColor-Blue);
}

html.tablet .account_setting_sub_block,
html.tablet .cached_payment_method_description {
	color: unset;
}

html.tablet .cached_payment_method_exists {
	color: unset;
}


/* Checkbox inputs */
html.tablet blockquote {
	margin: unset;
}


/* Steam ID */
html.tablet .youraccount_steamid {
	color: var(--gpStoreLighterGrey);
	font: var(--gpText-BodyMedium);
}


/* Sub descriptions */
html.tablet .account_setting_parenthetical {
	color: var(--gpStoreLighterGrey);
	font: var(--gpText-BodyMedium);
	margin: 6px 0px 20px 0px;
}

/* Ignored titles */
html.tablet .not_interested_container {
	background-color: var(--gpBackground-DarkHard);
	border: unset;
	padding: 12px;
}



/* DROPDOWNS */
html.tablet #primary_language {
	margin-left: unset;
	color: white;
	font: var(--gpText-BodyLarge);
	padding: 8px;
	background-color: var(--gpStoreDarkGrey);
	border: none;
}



/* IGNORED PRODUCTS */

html.tablet .ignored_app .ignored_app_name {
	min-width: unset;
}

html.tablet .ignored_app .remove {
	width: unset;
}

html.tablet .ignored_app .ignored_app_reason {
	min-width: 200px;
}

html.tablet .ignored_app {
	align-items: center;
	background-color: var(--gpBackground-DarkMedium);
	margin-bottom: 4px;
}



/* TAGS TO EXLUDE */

html.tablet #app_tag_form,
html.tablet #text_filter_custom_banned_words_form,
html.tablet #text_filter_custom_clean_words_form {
	width: unset;
}

html.tablet .app_tag_form_ctn,
html.tablet .text_filter_custom_banned_words_form_ctn,
html.tablet .text_filter_custom_clean_words_form_ctn {
	display: inline-flex;
	gap: 8px;
	margin-bottom: 12px;
}

html.tablet .app_tag_form_ctn .gray_bevel.for_text_input,
html.tablet .text_filter_custom_banned_words_form_ctn .gray_bevel.for_text_input,
html.tablet .text_filter_custom_clean_words_form_ctn .gray_bevel.for_text_input {
	height: unset;
	overflow: unset;
}

html.tablet .app_tag_form_ctn button,
html.tablet .text_filter_custom_banned_words_form_ctn button,
html.tablet .text_filter_custom_clean_words_form_ctn button {
	float: unset;
	margin-left: unset;
}

html.tablet .app_tag_form_ctn .gray_bevel.for_text_input input,
html.tablet .text_filter_custom_banned_words_form_ctn .gray_bevel.for_text_input input,
html.tablet .text_filter_custom_clean_words_form_ctn .gray_bevel.for_text_input input {
	box-sizing: border-box;
	height: unset;
	line-height: unset;
}



/* Review score settings */
html.tablet .review_events_preferences_radio_btns {
	padding: 0px;
	background: none;
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

html.tablet .review_event_preference {
	padding: 8px;
	background-color: var(--gpSystemDarkerGrey);
	display: flex;
	align-items: center;
	gap: 8px;
}

/* } */