:root {
	/* System greys */
	--gpSystemLightestGrey: #DCDEDF;
	--gpSystemLighterGrey: #B8BCBF;
	--gpSystemLightGrey: #8B929A;
	--gpSystemGrey: #67707B;
	--gpSystemDarkGrey: #3D4450;
	--gpSystemDarkerGrey: #23262E;
	--gpSystemDarkestGrey: #0E141B;

	/* Store blue greys */
	--gpStoreLightestGrey: #CCD8E3;
	--gpStoreLighterGrey: #A7BACC;
	--gpStoreLightGrey: #7C8EA3;
	--gpStoreGrey: #4e697d;
	--gpStoreDarkGrey: #2A475E;
	--gpStoreDarkerGrey: #1B2838;
	--gpStoreDarkestGrey: #000F18;

	/* Gradients */
	--gpGradient-StoreBackground: radial-gradient(farthest-corner at 40px 40px,#2A475E 0%, #1B2838 80%);

	/* Colours */
	--gpColor-Blue: #1A9FFF;
	--gpColor-BlueHi: #00BBFF;
	--gpColor-Green: #5ba32b;
	--gpColor-GreenHi: #59BF40;
	--gpColor-Orange: #E35E1C;
	--gpColor-Red: #D94126;
	--gpColor-RedHi: #EE563B;
	--gpColor-DustyBlue: #417a9b;
	--gpColor-LightBlue: #B3DFFF;
	--gpColor-Yellow: #FFC82C;
	--gpColor-ChalkyBlue: #66C0F4;

	/* Backgrounds */
	--gpBackground-LightSofter: #6998bb24;
	--gpBackground-LightSoft: #3b5a7280;
	--gpBackground-LightMedium: #678BA670;
	--gpBackground-LightHard: #93B8D480;
	--gpBackground-LightHarder: #bad5ea80;

	--gpBackground-DarkSofter: #0e141b33;
	--gpBackground-DarkSoft: #0e141b66;
	--gpBackground-DarkMedium: #0e141b99;
	--gpBackground-DarkHard: #0e141bcc;


	/* Corners */
	--gpCorner-Small: 1px;
	--gpCorner-Medium: 2px;
	--gpCorner-Large: 3px;

	/* Spacing */
	--gpSpace-Gutter: 24px;
	--gpSpace-Gap: 12px;

	/* Fixed widths */
	--gpNavWidth: 240px;
	--gpPaymentsNavWidth: 40vw;
	--gpPurchaseOptionsWidth: 32vw;
	--gpDselectWidth: 320px;

	/* Game capsule widths */
	--gpWidth-3colcap: calc((100vw - (2 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 3);
	--gpWidth-2colcap: calc((100vw - (1 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 2);

    /* Fixed heights */
    --gpStoreMenuHeight: 58px;

	/* Surfaces */
	--gpShadow-Small: 0px 2px 2px 0px #0000003D;
	--gpShadow-Medium: 0px 3px 6px 0px #0000003D;
	--gpShadow-Large: 0px 12px 16px 0px #0000003D;
	--gpShadow-XLarge: 0px 24px 32px 0px #0000003D;

	/* Type styles */
	--gpText-HeadingLarge: normal 700 26px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-HeadingMedium: normal 700 22px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-HeadingSmall: normal 700 18px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-BodyLarge: normal 400 16px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-BodyMedium: normal 400 14px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-BodySmall: normal 400 12px/1.4 "Motiva Sans", Arial, Sans-serif;

	/* Animation TODO: REMOVE THESE */
	--gpTransition-Short: all 0.2s ease;
	--gpTransition-Shorter: all 0.1s ease;
}

@media screen and ( min-width: 501px ) and ( max-width: 910px ) {


	/* Page header */
	html.responsive .page_header_ctn {
		/* display: none; */
	}

    /* Page title */
	html.responsive h3#payment_header,
    html.responsive #payment_row_method_name,
    html.responsive h3.review_purchase_title,
    html.responsive .checkout_tab.checkout_content h2.purchase_confirmation_title,
    html.responsive .checkout_purchase_title,
    html.responsive body.checkout_microtxn h2.approvetxn_header {
		font: var(--gpText-HeadingLarge);
		letter-spacing: unset;
		text-transform: unset;
		margin-top: 12px;
        color: white;
	}

    /* Section titles */
	html.responsive .checkout_content_box h3.tab_header {
		font: var(--gpText-HeadingSmall);
        font-weight: 500;
		letter-spacing: unset;
		text-transform: unset;
		margin-top: 12px;
	}



    /* TEXT */
    html.responsive .block .block_header,
    html.responsive #col_right_review .block_header {
        font: var(--gpText-BodySmall);
		font-weight: 700;
		letter-spacing: 0.5px;
		margin-bottom: 8px;
        text-transform: uppercase;
        color: white;
        background: none;
    }

    /* Font sizes for labels, checks etc */
    html.responsive .checkout_tab .form_right label,
    html.responsive .checkout_tab .form_left label,
    html.responsive .checkout_tab .form_row_sizable label,
    html.responsive .checkout_tab .form_row label,
    html.responsive #payment_info_method_label,
    html.responsive #save_my_address_input label,
    html.responsive .checkout_tab .form_row_sizable,
    html.responsive .checkout_tab #youll_get_to_review,
    html.responsive .checkout_tab .form_row,
    html.responsive .checkout_tab #payment_row_step2 #payment_row_step2_header,
    html.responsive .payment_method_notes_bubble li,
    html.responsive .checkout_tab .form_row p {
        font: var(--gpText-BodyLarge);
        color: var(--gpStoreLightestGrey);
    }

    html.responsive .payment_method_notes_bubble li {
        color: white;
    }

    html.responsive .checkout_content_box a {
        color: var(--gpColor-Blue);
    }



	/* PIPELINE */

	/* Hide logo */
	html.responsive #checkout_steam_logo {
		display: none;
	}

	/* Hide spacers */
	html.responsive .cart_tab_spacer {
		display: none;
	}

	/* Hide final thankyou tab */
	html.responsive #receipt_pipeline {
		display: none;
	}

	/* Hide left and right of tabs */
	html.responsive .cart_tab_left_on,
	html.responsive .cart_tab_right_on,
	html.responsive .cart_tab_left_off,
	html.responsive .cart_tab_right_off {
		display: none;
	}

	/* Remove background */
	html.responsive .page_header_ctn {
		background: unset;
	}

	/* Layout */
	html.responsive body.v6.checkout .page_header_ctn {
		padding-bottom: 0px;
		margin-bottom: 0px;
	}

	html.responsive #checkout_header .content {
		padding: 0px var(--gpSpace-Gutter);
		min-height: unset;
	}

	html.responsive #checkout_pipeline {
		padding: 20px 0px 0px;
	}

	/* Tab styles */
	html.responsive .cart_tab_on,
	html.responsive .cart_tab_inactive,
	html.responsive .cart_tab_off {
		text-shadow: unset;
		padding: 4px 10px 4px 10px;
		clip-path: polygon(0px 0px, calc(100% - 4px) 0px, 100% 50%, calc(100% - 4px) 100%, 0px 100%, 0px 100%, 4px 50%);
		margin-right: -6px;
		transition: all 0.1s ease;
	}

	html.responsive #checkout_pipeline .cart_tab:first-child .cart_tab_on,
	html.responsive #checkout_pipeline .cart_tab:first-child .cart_tab_inactive,
	html.responsive #checkout_pipeline .cart_tab:first-child .cart_tab_off {
		clip-path: polygon(0px 0px, calc(100% - 4px) 0px, 100% 50%, calc(100% - 4px) 100%, 0px 100%, 0px 100%);
	}

	html.responsive .cart_tab_on {
		background-color: var(--gpColor-Blue);
		color: white;
	}

	html.responsive #cart_tab_select b {
		font-weight: 400;
	}

	html.responsive .cart_tab_inactive {
		color: var(--gpStoreLightestGrey);
		background-color: var(--gpBackground-LightMedium);
	}

	html.responsive .cart_tab_inactive:hover {
		background-color: var(--gpBackground-LightHard);
		color: white;
	}

	html.responsive .cart_tab_inactive.gpfocus {
		background-color: white;
		color: black;
	}

	html.responsive .cart_tab_off {
		color: var(--gpStoreLightGrey);
	}



    /* LAYOUT */

    /* Working */
    html.responsive #stored_card_processing {
        /* position: fixed; */
    }


    /* Page */
    html.responsive body.v6 .page_content {
        padding-bottom: 2px;
        width: calc(100vw - var(--gpPaymentsNavWidth) - (2 * var(--gpSpace-Gutter)));
    }


    /* Columns */
    html.responsive body.checkout .leftcol,
    html.responsive body.checkout .rightcol {
        max-width: unset;
        margin-left: unset;
        margin-right: unset;
	}


    /* Main container */
    html.responsive h3#payment_header {
        margin-bottom: 16px;
    }


    /* Wallet balance too low */
    html.responsive #payment_row_step2_header {
        padding: 12px 16px;
        border: 2px solid var(--gpBackground-LightMedium);
    }

    html.responsive .checkout_tab .form_row p {
        color: white;
    }


    /* Forms */
    html.responsive .checkout_tab .form_left,
    html.responsive .checkout_tab .form_right {
        clear: unset;
        float: unset;
        text-align: unset;
        width: unset;
        max-width: unset;
    }

    html.responsive #payment_info_tab .checkout_content .payment_info_form_area {
		padding: unset;
		background: unset;
	}


	/* Right column */
    html.responsive body.checkout .rightcol {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    html.responsive body.checkout .rightcol .block,
	html.responsive #col_right_gift_recipient.block {
        margin: unset;
        background: unset;
    }

    html.responsive body.checkout .rightcol .block .block_header,
	html.responsive #col_right_gift_recipient .block_header {
        margin: unset;
        padding: unset;
    }

    html.responsive body.checkout .block .block_content {
        margin: unset;
        padding: unset;
    }

    html.responsive .rightcol p {
        margin: 8px 0px;
        color: var(--gpStoreLighterGrey);
    }


	/* Expiration dates */
	html.responsive #expiration_date_section,
	html.responsive #security_code_section {
		margin-top: 16px;
	}

	html.responsive #security_code_section {
		margin-left: 16px;
	}

	html.responsive #security_code {
		width: 64px;
	}

	html.responsive #expiration_month_dselect_container,
	html.responsive #expiration_year_dselect_container {
		width: 80px;
		margin-right: 4px;
	}


	/* Billing info */
	html.responsive .checkout_content_box h3.tab_header.billing_information_header {
		margin-top: 32px;
	}


    /* Action buttons */
	html.responsive .button_row {
		display: grid;
		row-gap: 8px;
	}

	html.responsive .button_row .btn_medium {
		margin: unset;
	}

    html.responsive .button_row #payment_method_previous_button a {
        width: 100%;
        box-sizing: border-box;
    }

    html.responsive #purchase_button_container_bottom {
        padding: unset;
        display: grid;
		row-gap: 8px;
    }


    /* Review and purchase */
    html.responsive .checkout_content.confirm {
        background: unset;
        padding: unset;
    }

    html.responsive #checkout_content_review {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
		margin-top: 0px;
    }


    /* Rule */
    html.responsive .checkout_content.confirm .rule {
        display: none;
    }


    /* Review rows */
	html.responsive #checkout_review_payment_info_area {
		display: flex;
		flex-direction: column;
	}

    html.responsive .review_row {
        margin-bottom: 0px;
    }

    html.responsive .review_row_label {
        font: var(--gpText-BodyMedium);
        color: var(--gpStoreLighterGrey);
    }

    html.responsive .review_row_value {
        font: var(--gpText-BodyMedium);
        color: var(--gpStoreLightestGrey);
    }

    html.responsive .review_row_value {
        padding-left: 140px;
    }

    html.responsive .checkout_review_payment_method_area {
        border-bottom: 1px solid var(--gpBackground-LightMedium);
        padding: 8px 0px;
        margin-bottom: 8px;
    }

    html.responsive #purchase_bottom {
        margin-top: 16px;
    }

    html.responsive .payment_method_review_method_label {
        color: var(--gpColor-GreenHi);
        font-weight: 500;
    }

    html.responsive .payment_method_total {
        right: 0px;
    }


	/* Display billing address on single line */
	html.responsive p#review_address_body {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
	}

	html.responsive p#review_address_body br {
		display: none;
	}



    /* Security code */
    html.responsive #security_code_cached {
        width: 64px;
    }

    html.responsive #what_is_this {
        padding-left: 8px;
    }

    html.responsive #what_is_this a {
        color: var(--gpStoreLighterGrey);
    }

    html.responsive #payment_method_review_row_provider_cvv #payment_method_review_row {
        display: flex;
        align-items: center;
    }



    /* Checkboxes */
    html.responsive #purchase_confirm_ssa {
        margin-bottom: 12px;
    }

	html.responsive .checkout_checkbox {
		margin: unset;
		background-color: var(--gpBackground-LightSoft);
		padding: 12px 12px;
		display: block;
		transition: all 0.1s ease;
        float: unset;
        height: unset;
        clear: unset;
        font: var(--gpText-BodyLarge);
        color: var(--gpStoreLightestGrey);
	}

	html.responsive .checkout_checkbox:hover,
    html.responsive .checkout_checkbox.gpfocus {
		background-color: var(--gpBackground-LightMedium);
		color: white;
	}

    html.responsive .checkout_checkbox a {
        color: var(--gpStoreLightestGrey);
    }



    html.responsive .checkout_checkbox a:hover {
        color: white;
    }


    /* Error messages */
    html.responsive .checkout_form_error {
        font: var(--gpText-BodyLarge);
        margin: var(--gpSpace-Gutter) 0px 0px 0px;
        padding: 8px 12px;
		color: var(--gpStoreDarkestGrey);
        background: var(--gpColor-Yellow) !important;
        /* border-radius: var(--gpCorner-Medium); */
    }

    html.responsive #error_display a {
        color: var(--gpStoreDarkestGrey);
    }

	html.responsive body.v6 .page_content.gift_recipient_active #error_display {
		width: calc(100vw - var(--gpPaymentsNavWidth) - (3 * var(--gpSpace-Gutter)));
	}




    /* CHECKOUT CART REVIEW AND TOTALS */
    html.responsive .tablet_checkout_right_column {
        position: fixed;
        width: var(--gpPaymentsNavWidth);
        right: 0px;
        top: 0px;
        background-color: var(--gpBackground-DarkMedium);
        height: 100vh;
        padding: 0px 24px;
        box-sizing: border-box;
    }

    html.responsive .tablet_checkout_right_column .checkout_content.confirm {
        padding-top: 8px;
        margin-bottom: 12px;
		margin-top: unset;
    }

	html.responsive .cart_totals_area {
		margin-top: 0px;
	}


    /* Total prices */
    html.responsive .cart_total_row {
        font: var(--gpText-BodyLarge);
        color: var(--gpStoreLightestGrey);
        margin: unset;
    }

    html.responsive .cart_totals_area .price {
        font: var(--gpText-BodyLarge);
        color: var(--gpStoreLightestGrey);
        padding: unset;
    }

    html.responsive .cart_total_rule {
        border-top: 1px solid var(--gpBackground-LightSoft);
        display: none;
    }

    html.responsive #review_total_value,
    html.responsive #cart_price_total_text {
        font: var(--gpText-HeadingMedium);
        color: white;
    }


    /* Cart items */
    html.responsive #checkout_review_cart_area {
        margin-top: unset;
        text-align: unset;
        display: flex;
        flex-direction: column;
		padding: 24px 0px 6px;
		max-height: calc(100vh - 205px);
		overflow-y: scroll;
		-webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1.0) 96%, transparent 100%);
    }

    html.responsive .checkout_review_cart_item {
        margin: unset;
        min-height: unset;
        background: unset;
        padding: 8px 0px;
        border-bottom: 1px solid var(--gpBackground-LightSoft);
    }

    html.responsive .checkout_review_cart_item:first-child {
        padding-top: 0px;
		border-top: none;
    }

    html.responsive .checkout_review_item_desc,
    html.responsive .checkout_review_item_price .price {
        font: var(--gpText-BodyMedium);
    }

    html.responsive .checkout_review_item_img,
    html.responsive .checkout_review_item_price,
    html.responsive .checkout_review_item_desc {
        padding: unset;
    }

    html.responsive .checkout_review_item_desc {
        padding-left: 8px;
    }

    html.responsive .checkout_review_item_img {
        width: unset;
        height: unset;
        display: flex;
    }

    html.responsive .checkout_review_item_img img {
        width: 96px;
        height: 36px;
    }

    html.responsive .checkout_review_item_platform {
        display: none;
    }

	html.responsive .checkout_review_item_desc_ext {
		color: var(--gpStoreLightGrey);
		font: var(--gpText-BodySmall);
	}


    /* Points total */
    html.responsive .checkout_steam_rewards_banner {
        border: unset;
        align-items: center;
        height: unset;
        padding: 12px 12px;
        box-shadow: inset 0px 0px 0px 2px #b4dfff1f;
    }

    html.responsive .checkout_steam_rewards_banner div.left {
        font: var(--gpText-BodyMedium);
        color: var(--gpColor-LightBlue);
        margin-right: 12px;
    }

    html.responsive .checkout_steam_rewards_banner div.right {
        display: flex;
        align-items: center;
    }

    html.responsive .checkout_steam_rewards_banner div.right div.logo {
        margin-left: 8px;
        display: flex;
    }

    html.responsive .checkout_steam_rewards_banner div.right div.logo img {
        width: 24px;
        height: 24px;
    }

    html.responsive .checkout_steam_rewards_banner div.right div.points div {
        color: var(--gpColor-BlueHi);
        background: unset;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        font: var(--gpText-HeadingSmall);
    }




    /* PAYMENT METHODS SIDE NAV */

    /* Container */
    html.responsive #payment_method_list {
        position: fixed;
        z-index: 2;
        top: 0px;
        left: 0px;
        width: var(--gpPaymentsNavWidth);
        height: 100%;
    }

    html.responsive .payment_method_list_items {
        margin-top: 12px;
    }


    /* List items */
    html.responsive .selectable_payment_method {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 12px 12px 12px 16px;
        transition: all 0.1s ease;
    }

    html.responsive .selectable_payment_method:hover,
    html.responsive .selectable_payment_method.gpfocus {
        background-color: white;
        color: black;
    }

    html.responsive .selectable_payment_method.active:not(:hover) {
        background-color: var(--gpBackground-LightMedium);
        color: white;
    }

    html.responsive .selectable_payment_method_image {
        width: 40px;
        height: 24px;
        overflow: hidden;
        border-radius: 3px;
    }

    html.responsive .selectable_payment_method_name {
        margin-left: var(--gpSpace-Gap);
    }


    /* Align heading and description */
    html.responsive .payment_method_list_content {
        margin-left: 16px;
    }




    /* INPUTS */

    /* Input widths */
    html.responsive .dselect_container a.trigger,
	html.responsive .dselect_container a.activetrigger,
    html.responsive .checkout_main input[type="text"],
    html.responsive #payment_method_dselect_container,
    html.responsive #billing_state_select_dselect_container,
    html.responsive #billing_country_dselect_container {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    html.responsive #first_name,
    html.responsive #last_name,
    html.responsive #first_name_label,
    html.responsive #last_name_label {
        width: 49%;
    }

    html.responsive #last_name,
    html.responsive #last_name_label {
        float: right;
    }

    html.responsive #billing_postal_code {
        width: 32%;
    }



    /* PAYMENT AND FOOTER NOTES */
    html.responsive #payment_method_notes {
        margin-top: 12px;
        box-shadow: var(--gpShadow-XLarge);
    }

    html.responsive .payment_method_notes_bubble {
        border-radius: var(--gpCorner-Medium);
        background: var(--gpColor-DustyBlue);
    }

    html.responsive .payment_method_notes_bubble:after {
        border-width: 0 8px 8px;
        top: -8px;
        left: 24px;
        border-color: var(--gpColor-DustyBlue) transparent;
    }

    html.responsive .checkout_footer_notes {
        color: var(--gpStoreLightGrey);
    }

    html.responsive #footer_note_review {
        font: var(--gpText-BodyMedium);
    }




    /* SAVE PAYMENT INFO */

    /* Hide <BR> */
    html.responsive .form_row br,
    html.responsive .payment_info_form_area br,
    html.responsive #purchase_bottom br {
        display: none;
    }




    /* COUNTRY NOTES */

    html.responsive #verify_country_notes {
        font-size: unset;
    }




    /* GIFTING */

	html.responsive .gift_recipient_active .tab_header {
		display: none;
	}

	html.responsive #friends_chooser {
		border: unset;
		margin-bottom: 24px;
	}

	html.responsive #friends_list_wrapper {
        width: calc(100vw - var(--gpPaymentsNavWidth) - (2 * var(--gpSpace-Gutter)));
	}

	html.responsive body.v6 .page_content.gift_recipient_active {
		width: unset;
	}

	html.responsive .send_choice_inner {
		display: flex;
		gap: 24px;
	}

	html.responsive #friends_chooser {
		margin-bottom: unset;
		max-height: unset;
		min-height: unset;
	}

	html.responsive #deck_right_col_ctn {
		display: flex;
		flex-direction: column;
		gap: 16px;
		background-color: var(--gpBackground-DarkMedium);
		padding: 24px;
		position: fixed;
		top: 0px;
		right: 0px;
		width: calc(var(--gpPaymentsNavWidth) - (2 * var(--gpSpace-Gutter)));
		height: 100vh;
	}

	html.responsive #deck_right_col_ctn .client_button_row {
		margin: unset;
		gap: unset;
	}

	html.responsive #cart_send_schedule_options {
		margin-top: 0px;
	}

    html.responsive #send_via_friends_box {
        margin-top: 16px;
    }

    html.responsive #send_via_friends_box p {
        font: var(--gpText-BodySmall);
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: white;
        margin-top: 12px;
    }


    /* Friend search */
    html.responsive .search_friends_ctn {
        display: flex;
        gap: 8px;
    }

    html.responsive #seach_friends,
	html.responsive .checkout_content_box input[type="text"] {
		background-color: var(--gpBackground-LightMedium);
		border-radius: var(--gpCorner-Medium);
		font: var(--gpText-BodyLarge);
		color: white;
		transition: all 0.1s ease;
		padding: 10px 10px;
		box-shadow: unset;
		border: unset;
        margin: unset;
	}

	html.responsive #seach_friends {
		width: 50%;
	}

	html.responsive #seach_friends.gpfocus,
	html.responsive .checkout_content_box input[type="text"].gpfocus {
		border-radius: 0px;
	}

	html.responsive #seach_friends:hover,
	html.responsive .checkout_content_box input[type="text"]:hover {
		background-color: var(--gpBackground-LightHard);
	}

	html.responsive #seach_friends:focus,
	html.responsive .checkout_content_box input[type="text"]:focus {
		background-color: white;
		color: black;
	}

	html.responsive #seach_friends::placeholder {
		color: var(--gpStoreLighterGrey);
		font: var(--gpText-BodyLarge);
	}


    /* Friends list */
    html.responsive p.cart_send_selected_only {
        margin-top: 8px;
    }

    html.responsive .checkout_content.cart_send_choice p em {
        font: var(--gpText-BodyMedium);
        color: var(--gpStoreLighterGrey);
    }

    html.responsive .friends_chooser_description {
        display: none;
    }

    html.responsive #friends_chooser {
        margin-top: 16px;
		max-width: unset;
    }

    html.responsive #friends_chooser .friend_block {
        border: unset;
        margin-bottom: 6px;
        display: flex;
        align-items: center;
        padding: 4px 12px;
        min-height: unset;
        font: var(--gpText-BodyLarge);
        font-weight: 400;
        background: var(--gpBackground-LightSofter);
        transition: all 0.2s ease;
    }

    html.responsive #friends_chooser .friend_block.gpfocus:not(.active),
	html.responsive #friends_chooser .friend_block:hover:not(.active) {
		background: var(--gpBackground-LightMedium) !important;
    }

	html.responsive #friends_chooser .friend_block.active {
        background: white;
        box-shadow: var(--gpShadow-Small);
    }

    html.responsive #friends_chooser .friend_block.active .friend_name {
		color: black;
    }


    /* Reset positions */
    html.responsive #friends_chooser .friend_block .friend_block_radio,
    html.responsive #friends_chooser .friend_block .friend_block_avatar,
    html.responsive #friends_chooser .friend_block .friend_name {
        position: unset;
    }


    /* Reset text formatting */
    html.responsive #friends_chooser .friend_block .friend_name {
        font-size: unset;
    }

    html.responsive #friends_chooser .friend_block .friend_block_avatar {
        margin-right: 12px;
    }

    html.responsive #friends_chooser .friend_block .friend_block_radio {
        margin-right: 12px;
    }


    /* Continue column */
    html.responsive .send_choice_inner {
        padding-left: unset;
    }

    html.responsive .checkout_content.cart_send_choice {
        background-color: unset;
        padding: unset;
    }

    html.responsive .cart_send_schedule_button div {
        width: 100%;
        box-sizing: border-box;
    }


	/* Set delivery time */
	html.responsive .cart_send_schedule_datepicker {
		margin-top: unset;
	}

	html.responsive .cart_send_schedule_options.schedule_selected .cart_send_schedule_datepicker {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	html.responsive .cart_send_schedule_datepicker .datepicker_group {
		margin: unset;
		display: flex;
		align-items: center;
		gap: 6px;
	}

	html.responsive .checkout_content.cart_send_choice {
		font-weight: 400;
	}

	html.responsive .cart_send_schedule_datepicker .dselect_container,
	html.responsive #schedule_send_time,
	html.responsive .dselect_container a.trigger {
		margin: unset;
	}

	html.responsive .cart_send_schedule_datepicker_title {
		font: var(--gpText-BodyLarge);
		margin: unset;
	}

	html.responsive .cart_send_schedule_datepicker h4 {
		font: var(--gpText-HeadingSmall);
		color: white;
		margin-bottom: 12px;
	}


	html.responsive .gift_note_active h3.tab_header {
		margin-top: 24px;
		font: var(--gpText-HeadingLarge);
		width: 100vw;
	}


	/* Gift note */
	html.responsive .gift_note_form_area {
		padding: 0px;
		background: none;
		margin-top: 16px;
	}

	html.responsive .gift_note_form_area p {
		box-sizing: border-box;
	}

	html.responsive .gift_note_form_area .form_right {
		margin-top: 12px;
	}

	html.responsive .checkout_tab .form_row_sizable {
		padding: 0px;
	}

	html.responsive .checkout_tab #gift_message_text {
		height: 96px;
		font-size: unset;
		font: unset;
	}

	html.responsive .gift_note_active .dselect_container {
		width: 100%;
	}

	html.responsive #submit_gift_note_btn_in_progress {
		float: unset;
		margin: 0px;
	}

	html.responsive .btn_checkout_working {
		font: var(--gpText-BodyLarge);
		padding: 10px 20px;
		box-sizing: border-box;
		width: 100%;
		height: unset;
		background: var(--gpColor-Green);
		color: unset;
		text-transform: unset;
		border-radius: var(--gpCorner-Medium);
		opacity: 0.4;
	}


	/* Review and purchase gift */
	html.responsive .checkout_review_gift_area {

	}

	html.responsive .checkout_review_gift_area br {
		display: none;
	}




    /* PURCHASE CONFIRMATION */

    html.responsive .checkout_tab.checkout_content {
        margin-top: var(--gpSpace-Gutter);
    }

    /* Hide rules */
    html.responsive .checkout_tab.checkout_content .rule {
        display: none;
    }


    /* Confirmation title */
    html.responsive h2.purchase_confirmation_title {
        background-image: url('/public/images/ico_gamepad/check-circle.svg');
        background-repeat: no-repeat;
        background-size: 36px 36px;
        background-position: 0px 2px;
        padding-left: 44px;
    }

    html.responsive .checkout_tab.checkout_content h2.purchase_confirmation_title {
        margin-bottom: 12px;
		margin-top: 0px;
    }


    /* Headings */
    html.responsive .checkout_tab.checkout_content h2 {
        margin-top: 24px;
    }


    /* Text */
    html.responsive #receipt_area p,
    html.responsive #ackgift_area p,
    html.responsive #checkout_receipt_description {
        font: var(--gpText-BodyLarge);
        color: var(--gpStoreLightestGrey);
        font-weight: 400;
        margin: 0px 0px 8px 0px;
    }


    /* Install button */
    html.responsive #library_button a {
        width: 100%;
		box-sizing: border-box;
		text-shadow: unset;
    }

    html.responsive #library_button {
        margin-top: 16px;
    }


    /* Confirmation blocks */
    html.responsive .purchase_summary_area,
    html.responsive .add_free_content_success_area,
    html.responsive .checkout_steam_direct_area {
        background: var(--gpBackground-DarkSoft);
    }


    /* Receipt area */
    html.responsive .receipt_body {
        background: none;
        padding: unset;
    }

	html.responsive .receipt_confirmation_row {
		border-top: 1px solid var(--gpBackground-LightSoft);
		padding: 8px 0px;
		margin: unset;
	}


    /* Receipt confirmation labels */
    html.responsive .receipt_confirmation_label {
        color: var(--gpStoreLighterGrey);
        font: var(--gpText-BodyLarge);
    }

    html.responsive .receipt_confirmation_data {
        color: var(--gpStoreLightestGrey);
        font: var(--gpText-BodyLarge);
		padding-left: 160px;
    }


    /* Hide print button */
    html.responsive .receipt_print_button_row {
        display: none;
    }


    /* Return to store */
    html.responsive #return_to_store_button {
        float: unset !important;
    }




    /* MICRO TRANSACTIONS */

    html.responsive body.checkout_microtxn #main {
        padding: unset;
        margin: 24px;
		width: unset;
    }

	html.responsive body.checkout_microtxn h2.approvetxn_header {
		margin-top: 0px;
	}

	html.responsive body.checkout_microtxn .page_header_ctn {
		display: none;
	}

    html.responsive body.checkout_microtxn .checkout_content_box.method {
        margin-top: 0px;
        margin-bottom: 12px;
    }

	html.responsive body.checkout_microtxn #cart_area {
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;
		gap: var(--gpSpace-Gutter);
		box-sizing: border-box;
		float: unset;
	}

	html.responsive #microtnx_and_cancel_ctn {
		width: 0px;
		flex-grow: 1;
		box-sizing: border-box;
	}

    html.responsive .method_and_payment_area_ctn {
        width: calc(var(--gpPaymentsNavWidth) - var(--gpSpace-Gutter));
        padding: var(--gpSpace-Gutter);
        box-sizing: border-box;
        background: var(--gpBackground-DarkMedium);
    }

    html.responsive body.checkout_microtxn .checkout_content_box {
        padding: unset;
        background: none;
    }

	html.responsive body.checkout_microtxn .rightcol {
		width: calc(100vw - var(--gpPaymentsNavWidth) - (2 * var(--gpSpace-Gutter)));
	}


	/* Hide BR */
	html.responsive .method_and_payment_area_ctn br {
		display: none;
	}


    /* Hide rules */
    html.responsive body.checkout_microtxn .txn_totals .rule {
        display: none;
    }


    /* Line items */
    html.responsive .approvetxn_lineitem_container_header {
        background-color: unset;
        font: var(--gpText-BodySmall);
        color: var(--gpStoreLighterGrey);
        padding-bottom: 4px;
        border-bottom: 1px solid var(--gpBackground-LightMedium);
    }

    html.responsive .approvetxn_lineitem_row {
        background-color: unset;
        border-bottom: 1px solid var(--gpBackground-LightMedium);
        font: var(--gpText-BodyLarge);
        padding: 4px 0px;
    }

    html.responsive .approvetxn_lineitem_description {
        font-size: unset;
    }

    html.responsive .approvetxn_lineitem_qty {
        padding-left: unset;
    }

    html.responsive .approvetxn_lineitem_price {
        padding-right: unset;
    }


    /* Totals */
    html.responsive body.checkout_microtxn .txn_totals {
        padding: unset;
    }

    html.responsive body.checkout_microtxn .cart_totals_area {
        margin: 8px 0px;
    }

    html.responsive body.checkout_microtxn #purchase_bottom {
        margin-top: 8px;
    }

    html.responsive body.checkout_microtxn .txn_totals br {
        display: none;
    }


    /* Warnings */
    html.responsive body.checkout_microtxn .checkout_no_refund_warning {
        color: var(--gpColor-Yellow);
    }


    /* Account and payment method review */
    html.responsive body.checkout_microtxn #checkout_review_payment_info_area {
        flex-direction: column;
    }

    html.responsive body.checkout_microtxn .review_usercontainer {
        width: 100%;
    }

    html.responsive body.checkout_microtxn .review_info_ctn {
        flex-direction: column;
		/* border-top: 1px solid var(--gpBackground-LightSoft); */
    }

    html.responsive body.checkout_microtxn .review_usercontainer {
        padding: 0px;
    }

    html.responsive body.checkout_microtxn .payment_method_ctn {
        margin-top: 12px;
    }


    /* Cancel transaction */
    html.responsive .cancel_txn_ctn .cancel_txn_btn {
        margin-right: 0px;
    }

    html.responsive .cancel_txn_ctn {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }


    /* Right column content */
    html.responsive #col_right_review {
        margin-top: 32px;
        background: none;
    }

    html.responsive #col_right_review .block_header {
        padding: 0px;
    }

    html.responsive #col_right_review .block_content_inner {
        padding: 0px;
    }





	/* PAYPAY IFRAME */
	iframe.paypal-checkout-sandbox-iframe {
		border: none;
	}







}