
.contenthub_page h2 {
	margin-bottom: 7px;
	text-transform: uppercase;
	color: #fff !important;
	letter-spacing: 2px;
	margin-top: 5px !important;
}

body.tag_page .content_hub h2.pageheader {
	font-size: 48px;
	text-transform: none;
	padding-top: 20px;
	letter-spacing: 0px;
}

.contenthub_subtitle {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			color: #9099a1;
	margin-top: -10px;
	margin-bottom: 10px;
	font-size: 22px;
}

.content_hub .contenthub_subtitle {
	margin-bottom: 40px;
	font-size: 18px;
	min-height: 5px;
}

.carousel_container.paging_capsules {
	margin-bottom: 40px;
}

.contenthub_page .header_inline {
	letter-spacing: normal;
	text-transform: none;
}

.contenthub_page_background {
	min-width: 972px;
	position: relative;
	background-position: center top;
	background-repeat: no-repeat;
	z-index: 1;
}

.contenthub_page_content {
	position: relative;
	width: 940px;
	padding: 0 16px;
	margin: 0 auto;
}

.contenthub_background_holder {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center top;
	z-index: -1;
}

.contenthub_page_takeover_link {
	position: relative;
}

.contenthub_page_takeover_link a {
	display: block;
}

.contenthub_page_takeover_link img {
	width: 100%;
	height: 100%;
	display: block;
}

.page_background_holder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center top;
}

.content_page_takeover_link {
    position: relative;
}
.content_page_takeover_link a {
    display: block;
}

.page_background_holder_mobile {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center top;
	display: none;
}

@media screen and (max-width: 910px)
{
    body.responsive_page .contenthub_page_background.has_takeover .fullscreen-bg__video {
        height: 46vw;
    }
    body.responsive_page .page_background_holder {
        height: 46vw !important;
        background-size: cover !important;
    }
    .contenthub_page_background.has_takeover .contenthub_page_takeover_sizer {
        height: 46vw !important;
    }
    .contenthub_page_body_ctn.has_takeover .contenthub_page_takeover_sizer img {
        height: 46vw !important;
    }
}

@media screen and (max-width: 500px)
{
	/* if mobile video exists, show it and hide desktop video and static */
	html.responsive div.mobile_video_set .fullscreen-bg__video_mobile {
		display: block;
		height: 70vw !important;
		background-size: cover;
	}
	html.responsive div.mobile_video_set .fullscreen-bg__video {
		display: none;
	}

	/* if no mobile video, but static mobile image, show static */
	html.responsive div.mobile_static_set:not(.mobile_video_set) .fullscreen-bg__video_mobile,
	html.responsive div.mobile_static_set:not(.mobile_video_set) .fullscreen-bg__video {
		display: none;
	}
	html.responsive div.mobile_static_set:not(.mobile_video_set) .page_background_holder_mobile {
		display: block;
		height: 70vw !important;
		background-size: cover;
	}

	/* set height on sizer if either mobile version exist */
	html.responsive .home_page_body_ctn.has_takeover.mobile_static_set .home_page_takeover_sizer,
	html.responsive .home_page_body_ctn.has_takeover.mobile_video_set .home_page_takeover_sizer {
		height: 70vw !important;
	}
	html.responsive .mobile_static_set .page_background_holder_mobile .home_header_textimage_ctn a,
	html.responsive .mobile_video_set .page_background_holder_mobile .home_header_textimage_ctn a {
		height: auto;
	}

}

.contenthub_page_background.has_takeover .page_contenthub_content {
	position: relative;
	z-index: 1;
}


.contenthub_page .tabbar_ctn {
	box-shadow: 0 5px 0 -1px #214b6b;
	margin-bottom: 9px;
}

.contenthub_page .tab_see_more {
	text-align: right;
	background: rgba( 0, 0, 0, 0.2 );
	padding: 4px;
}

.contenthub_page .tabarea .tab.active {
	background: none;
}

.contenthub_page .tabarea .tab.active .tab_content:hover {
	background: #214b6b;
}

.contenthub_page .tabarea .tab_content,
.contenthub_page .tabarea .tab_content:hover {
	background: transparent;
	box-shadow: none;
}

.contenthub_page .store_horizontal_minislider_ctn {
	height: 30px !important;
}

.contenthub_page .page_header_ctn {
	background: none;
}

.contenthub_page div.leftcol.sub {
	margin-bottom: 20px;
}

.contenthub_page div.rightcol.small {
	width: 306px;
}

.contenthub_featured_item_spotlight {
	min-height: 157px;
	margin-bottom: 17px;
	background-color: rgba( 64, 120, 152, 0.4 );
	background: -webkit-linear-gradient( top, rgba( 64, 120, 152, 0.4 ) 5%, rgba(0,0,0,0.2) 95%);
	background: linear-gradient( to bottom, rgba( 64, 120, 152, 0.4 ) 5%, rgba(0,0,0,0.2) 95%);
	padding: 8px;

	color: #8f98a0;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}

.contenthub_featured_item_spotlight a {
	color: white;
}

.contenthub_featured_item_spotlight .store_capsule {
	width: 100%;
}

.contenthub_featured_item {
	font-family: 'Motiva Sans', sans-serif;
	font-size: 13px;
	width: 190px;
	float: left;
	margin: 5px;
}

.contenthub_specials_ctn {
	margin-bottom: 17px;
	background-color: rgba( 64, 120, 152, 0.4 );
	background: -webkit-linear-gradient( top, rgba( 64, 120, 152, 0.4 ) 5%, rgba(0,0,0,0.2) 95%);
	background: linear-gradient( to bottom, rgba( 64, 120, 152, 0.4 ) 5%, rgba(0,0,0,0.2) 95%);
	padding: 4px;

	color: #8f98a0;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}

.contenthub_specials_grid_cell
{
	width: 50%;
	float: left;
}

.contenthub_specials_grid .store_capsule {
	width: 96%;
	margin: 4px;
}

.contenthub_specials_grid .store_capsule.hidden {
	display: none;
}

.contenthub_specials_grid_cell .bundle_base_discount {
	display: none !important;
}

.contenthub_specials_grid_cell .discount_block.discount_block_inline.discount_collapse_final_price {
	display: block !important;
}

.contenthub_specials_grid_cell .discount_final_price .your_price_label,
.contenthub_featured_item_spotlight .discount_final_price .your_price_label{
	display: inline;
	margin-right: 2px;
}

.contenthub_specials_grid_cell .discount_final_price .your_price_label + div,
.contenthub_featured_item_spotlight .discount_final_price .your_price_label + div{
	display: inline;
}

.contenthub_popular_tags a.btnv6_blue_hoverfade.btn_small_tall {
	width: 48.8%;
	margin-bottom: 3px;
	text-align: center;
}

.contenthub_recommended {
	margin: 0 0 45px 0;
}

.contenthub_specials_see_more {
	text-align: right;
	padding: 4px 4px 5px 0;
}

.contenthub_specials_see_more a {
	min-width: 47%;
	text-align: center;
}

.tab_item_discount.no_discount {
	margin-top: 23px;
}

.featured_items .carousel_items {
	height: 135px;
	width: 940px;
}

.featured_items .creator_carousel_items {
	height: 168px;
	width: 940px;
}

.btn_small_tall > span
{
	padding: 0px 10px;
}

.spotlight_weeklong_ctn {
	margin-left: auto;
	margin-right: auto;
}

.dailydeal_ctn {
	margin-bottom: 30px;
	padding: 0px;
	height: 190px;
	box-shadow: 0 0 5px #000;
}

.dailydeal_ctn .dailydeal_cap,
.dailydeal_ctn .dailydeal_cap img {
	width: 306px;
	height: auto;
}

.dailydeal_ctn .daily_deal_discount {
	margin-left: 6px;
}
.dailydeal_ctn .dailydeal_desc {
	color: #283846;
	margin-right: 6px;
}
.dailydeal_ctn .dailydeal_countdown {
	color: #c4e4f2;
	background-color: #4f95bd;
}

/* horizontal scrolling stop */
.page_header_ctn.capsules,
div#page_section_container,
.carousel_items.store_capsule_container {
	overflow-x: hidden;
	overflow-y: hidden;
}

@media screen and (max-width: 910px) {

	html.responsive .contenthub_page_content {
		width: auto;
	}

	html.responsive .contenthub_page_background {
		min-width: unset;
	}
	
	html.responsive .contenthub_page div.leftcol.sub {
		margin-bottom: 20px;
		width: auto;
	}

	html.responsive .contenthub_page div.rightcol.small {
		width: 100%;
	}

	html.responsive .contenthub_featured_item_spotlight .store_capsule {
		width: 100%;
		margin-left: 0;
	}

	html.responsive .contenthub_specials_grid_cell
	{
		width: 50%;
		float: left;
	}

	html.responsive .contenthub_specials_see_more a {
		min-width: unset;
	}

	html.responsive .contenthub_featured_item {
		width: auto;
	}

	html.responsive .tab_item_cap {
		margin-right: 2%;
	}

	html.responsive .carousel_container .carousel_items:not(.no_paging),
	html.responsive .carousel_container.maincap .carousel_items:not(.no_paging) {
		width: auto;
	}

	html.responsive .carousel_container .carousel_items:not(.no_paging) > div,
	html.responsive .carousel_container.maincap .carousel_items:not(.no_paging) > div {
		width: auto;
	}

	html.responsive .dailydeal_ctn {
		height: auto;
		padding-bottom: 10px;
	}

	html.responsive .dailydeal_ctn .dailydeal_cap,
	html.responsive .dailydeal_ctn .dailydeal_cap,
	html.responsive .dailydeal_ctn .dailydeal_cap img{
		width: 100%;
	}

	html.responsive .slider_ctn.spotlight {
		width: auto;
	}

	html.responsive div#spotlight_scroll {
		width: 306px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 680px) {

	html.responsive span.header_inline {
		display: block;
	}

	html.responsive .tab_item_discount.no_discount {
		margin-top: 7px;
	}

	html.responsive .contenthub_subtitle {
		font-size: 18px;
	}
}

@media screen and (max-width: 380px) {
	html.responsive .paged_items_paging_summary.ellipsis
	{
		display: none;
	}
}

.tag_count_button {
	display: flex;
	justify-content: center;
}

.tag_count_button .tag_name {
	min-width: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tag_count_button .tag_count {
	margin-left: 4px;
}