
.creator_announcement_parent { /* Required for absolute position of the annoucnements to work */
	position: relative;
}

body.v6 h2.announcement_top_title{
	text-transform: uppercase;
	letter-spacing: 2px;

	padding-bottom: 0px;
	margin-left: 12px;
	padding-top: 0px;
}

.creator_announcement_container {
	z-index: 2;
	margin: 20px 0;
	grid-area: announcements;
}

.creator_announcement {
	overflow: hidden;
}

.creator_announcement_img_title,
.creator_announcement_title {
		font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			color: white;
	padding-top: 4px;
	font-size: 13px;
	line-height: 20px;
}

.creator_announcement_body{
	color: lightgrey;
	padding-top: 10px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}
.creator_announcement_image{
	width: 100%;
	aspect-ratio: 16 / 9;
	background-size: cover;
	background-position: center;
}

.creator_announcement_list{
	display: flex;
	flex-direction: row;
}

.creator_announcement_list a {
	display: block;
	padding: 6px;
	flex-basis: 0;
	flex-grow: 1;
}
.creator_announcement_list a:hover {
	background: rgba(255,255,255,0.2);
	text-decoration: none;
}

.creator_announcement_link {
	max-width: 400px;
}

.creator_announcement_link:hover {
	text-decoration: underline;
	text-decoration-color: white;
}

.creator_announcement_read_all_top{
	display: none;
}
.creator_announcement_read_all_bottom{
	float:right;
}

.creator_announcement_adjustment.not(.background_header_ctn) {
	left:-140px;
	position:relative;
}

@media screen and (max-width: 1300px) {
	html .creator_announcement_adjustment.not(.background_header_ctn) {
		position: static;
		left:0px;
	}

	html .creator_announcement_list .creator_announcement_link:nth-child(4) {
		display: none;
	}

	html body.v6 h2.announcement_top_title {
		margin-left: 0px;
	}

	html .creator_announcement_read_all_top {
		display:unset;
	}
	html .creator_announcement_read_all_bottom {
		display:none;
	}
	html .page_content.curator_header_ctn {
		width: 940px;
	}
}

/* Smaller fallback responsive */
@media screen and (max-width: 620px) {
	html .creator_announcement_list .creator_announcement_link:nth-child(3) {
		display: none;
	}
}

/* Smaller, mobile-centric format responsive */
@media screen and (max-width: 400px) {

	html .creator_announcement_list {
		flex-direction: column;
	}

	html .creator_announcement_list .creator_announcement_link .creator_announcement_body {
		display: none;
	}
}
