
body.v6.game_bg.creatorhome {
	background: #2e3138;
}

body.v6.game_bg.creatorhome .page_background.curator_recommendations {
	background-color: #2e3138;
	background-blend-mode: lighten;
	position: relative;;
}
body.v6.game_bg.creatorhome .page_background.curator_recommendations.notint {
	background-color: #2e3138;
	background-blend-mode: unset;
}
/* header */
.list_header_area {
	display: flex;
}

.list_header_area .curator_avatar_image img {
	width: 32px;
	margin-right: 10px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.dlc_curator .list_header_area .curator_avatar_image img {
	width: auto;
	height: 40px;
}

/* ordered list */

.curator_list.ordered {
	display: flex;
	flex-direction: column;
}

.curator_list.ordered > div {
	display: flex;
	margin: 10px 0;
}

.curator_list.ordered .item_ctn {
	background: -webkit-linear-gradient( 45deg, rgba(87, 92, 104, 0.5) 5%,rgba(87, 92, 104, 0.3) 95%);
	background: linear-gradient( 45deg, rgba(87, 92, 104, 0.5) 5%,rgba(87, 92, 104, 0.3) 95%);
	padding: 8px;
	border-radius: 5px;
}



.curator_list.ordered .store_capsule {
	width: 100%;
}

.curator_list.ordered .capsule {
	width: 345px;
	height: 161px;
	padding: 0px;
}

.curator_list.ordered .details {
	padding: 4px 0 0 15px;
	width: 100%;
}
.curator_list.ordered .store_capsule .capsule > img {
	border-radius: 3px;
}

/* Unordered */

.curator_list.unordered {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;

}

.curator_list.unordered > div {
	margin-top: 20px;
}


.curator_list.unordered .store_capsule {
	width: 100%;
background: -webkit-linear-gradient( 45deg, rgb(97, 101, 112) 5%,rgb(45, 48, 55) 95%);
	background: linear-gradient( 45deg, rgb(97, 101, 112) 5%,rgb(45, 48, 55) 95%);
}

.curator_list.unordered .capsule {
	box-shadow: 0 0 3px rgba( 0, 0, 0, 0.5);

}

.curator_list.unordered .capsule > img {
	max-height: 215px;
}


.curator_list.unordered .details {
	margin-top: 8px;
}

.store_capsule > .capsule.header {

}

/* Common */

.curator_list .discount_block {

}

body.v6.curator.list .curator_list .discount_prices {
	background-color: #898e95;
	color: #3c3d3e;
	padding: 2px 8px;
	border-radius: 3px;
}

.discount_block_inline .discount_pct, .discount_block_inline .bundle_base_discount {
	padding: 2px 5px;
	font-size: 15px;
	line-height: 16px;
	margin-right: -2px;
}

.curator_list .discount_final_price {
	color: #000000;
}


.curator_list .apptitle {
	color: #fff;
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 3px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
	max-width: 100%;
	white-space: normal;
	overflow: inherit;
}

.curator_list p {
	color: #cad6de;
	font-size: 13px;
	line-height: 16px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			margin: 5px 0 9px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}
.curator_list a:link {
    color: #ffffff;
    font-size: 11px;
    line-height: 16px;
		font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		    margin-bottom: 8px;
    display: block;
}

.curator_list a:hover {
    color: #66c0f4;
}

.curator_list p:before {
	content: '“';
    font-size: 34px;
    position: absolute;
    left: -11px;
    top: 4px;
    color: rgba(255, 255, 255, 0.4);
}
.curator_list p:after {
	content: '”';
    font-size: 24px;
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
}

.review_direction {
	text-transform: uppercase;
		font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			letter-spacing: 1px;
	font-size: 11px;
	margin-right: 10px;
}

.curator_review_date {
    color: rgba(198, 212, 223, 0.5);
    font-size: 11px;
	text-transform: uppercase;
}

	/* header */

.pageheader.curator_name {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 200; /* thin */

			display: inline;
	font-size: 26px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.curator_details .breadcrumbs {
	margin-top: -2px;
	padding-top: 0px;
	margin-bottom: -4px;
}

.pageheader.curator_desc {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 200; /* thin */

			display: inline;
	font-size: 26px;
	margin-left: 4px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}


body.v6.list h1 {
	margin-top: 20px;
	color: #fff;
	font-size: 46px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: bold; /* bold */

			text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

body.v6.list h3 {
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 25px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 200; /* thin */

			text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.curator_list_discount_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.unordered .curator_list_discount_container {
	display: block;

}

.curator_list_discount_container .dlc_page_purchase_area {
	position: relative;
	right: auto;
	bottom: auto;
}

.curator_list_free_weekend_container {
		font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			display: flex;
	flex-direction: row;
	padding: 3px;
	background-color: rgba(255,255,255,0.1);
}
.unordered .curator_list_free_weekend_container {
	display: block;
	min-height: 33px;
}
.unordered .curator_list_free_weekend_container > a {
	float: right;
	display: inline-block;
}

.curator_list_free_weekend_message {
	padding-right: 12px;
	padding-top: 5px;
	font-size: 16px;
	padding-left: 12px;
	color: #fff;
}
.unordered .curator_list_free_weekend_message {
	display: inline-block;
}

@media screen and (max-width: 910px )
{
	html.responsive .curator_list.ordered .capsule {
		width: 50%;
		height: 50%;
		max-width: 345px;
	}

}

@media screen and ( max-width: 740px )
{
	html.responsive .curator_list.unordered {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
		grid-auto-rows: minmax(100px, 100%);
	}

	html.responsive .curator_list.unordered .capsule > img {
		max-height: none;
	}

	html.responsive body.v6.list h1 {
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 8px;
	}
	html.responsive body.v6.list h3 {
		font-size: 18px;
	}

}

/* Smaller, mobile-centric format responsive */
@media screen and (max-width: 400px) {

	/* navigation area */
	html.responsive body.v6.list h1 {
		font-size: 26px;
		line-height: 28px;
		margin-bottom: 8px;
	}
	html.responsive body.v6.list h3 {
		font-size: 26px;
		font-size: 14px;
		line-height: 19px;
	}
	html.responsive .dlc_curator .breadcrumbs {
		display: none;
	}
	html.responsive .dlc_curator .pageheader.curator_name {
		line-height: 19px;
	}
	html.responsive .page_background.curator_recommendations {
		background: none !important;
	}
}


