:root {
	/* System greys */
	--gpSystemLightestGrey: #DCDEDF;
	--gpSystemLighterGrey: #B8BCBF;
	--gpSystemLightGrey: #8B929A;
	--gpSystemGrey: #67707B;
	--gpSystemDarkGrey: #3D4450;
	--gpSystemDarkerGrey: #23262E;
	--gpSystemDarkestGrey: #0E141B;

	/* Store blue greys */
	--gpStoreLightestGrey: #CCD8E3;
	--gpStoreLighterGrey: #A7BACC;
	--gpStoreLightGrey: #7C8EA3;
	--gpStoreGrey: #4e697d;
	--gpStoreDarkGrey: #2A475E;
	--gpStoreDarkerGrey: #1B2838;
	--gpStoreDarkestGrey: #000F18;

	/* Gradients */
	--gpGradient-StoreBackground: radial-gradient(farthest-corner at 40px 40px,#2A475E 0%, #1B2838 80%);

	/* Colours */
	--gpColor-Blue: #1A9FFF;
	--gpColor-BlueHi: #00BBFF;
	--gpColor-Green: #5ba32b;
	--gpColor-GreenHi: #59BF40;
	--gpColor-Orange: #E35E1C;
	--gpColor-Red: #D94126;
	--gpColor-RedHi: #EE563B;
	--gpColor-DustyBlue: #417a9b;
	--gpColor-LightBlue: #B3DFFF;
	--gpColor-Yellow: #FFC82C;
	--gpColor-ChalkyBlue: #66C0F4;

	/* Backgrounds */
	--gpBackground-LightSofter: #6998bb24;
	--gpBackground-LightSoft: #3b5a7280;
	--gpBackground-LightMedium: #678BA670;
	--gpBackground-LightHard: #93B8D480;
	--gpBackground-LightHarder: #aacce6a6;

	--gpBackground-DarkSofter: #0e141b33;
	--gpBackground-DarkSoft: #0e141b66;
	--gpBackground-DarkMedium: #0e141b99;
	--gpBackground-DarkHard: #0e141bcc;

	--gpBackground-Neutral-LightSofter: rgba(235, 246, 255, 0.10);
	--gpBackground-Neutral-LightSoft: rgba(235, 246, 255, 0.20);
	--gpBackground-Neutral-LightMedium: rgba(235, 246, 255, 0.30);
	--gpBackground-Neutral-LightHard: rgba(235, 246, 255, 0.40);
	--gpBackground-Neutral-LightHarder: rgba(235, 246, 255, 0.50);


	/* Corners */
	--gpCorner-Small: 1px;
	--gpCorner-Medium: 2px;
	--gpCorner-Large: 3px;

	/* Spacing */
	--gpSpace-Gutter: 24px;
	--gpSpace-Gap: 12px;

	/* Fixed widths */
	--gpNavWidth: 240px;
	--gpPaymentsNavWidth: 40vw;
	--gpPurchaseOptionsWidth: 270px;
	--gpDselectWidth: 320px;
	--gpSidePanelWidth: 348px;
	--gpGiftingPanelWidth: 280px;

	/* Game capsule widths */
	--screen-width: 100vw;
	--gpWidth-4colcap: calc((var(--screen-width) - (3 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 4);
	--gpWidth-3colcap: calc((var(--screen-width) - (2 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 3);
	--gpWidth-2colcap: calc((var(--screen-width) - (1 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 2);
	--gpWidth-1colcap: calc((var(--screen-width) - (2 * var(--gpSpace-Gutter))));

    /* Fixed heights */
    --gpStoreMenuHeight: 58px;

	/* Surfaces */
	--gpShadow-Small: 0px 2px 2px 0px #0000003D;
	--gpShadow-Medium: 0px 3px 6px 0px #0000003D;
	--gpShadow-Large: 0px 12px 16px 0px #0000003D;
	--gpShadow-XLarge: 0px 24px 32px 0px #0000003D;

	/* Type styles */
	--gpText-HeadingLarge: normal 700 26px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-HeadingMedium: normal 700 22px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-HeadingSmall: normal 700 18px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-BodyLarge: normal 400 16px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-BodyMedium: normal 400 14px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-BodySmall: normal 400 12px/1.4 "Motiva Sans", Arial, Sans-serif;

	/* Animation TODO: REMOVE THESE */
	--gpTransition-Short: all 0.2s ease;
	--gpTransition-Shorter: all 0.1s ease;
}

@media screen and ( min-width: 501px ) and ( max-width: 910px ) {

	/* FRAMEWORK */
	html.responsive .light_container.bezel {
		margin-top: 0px;
	}


	/* Page description */
	html.responsive body.v6 .header_area .page_desc {
		font: var(--gpText-BodyLarge);
		color: var(--gpStoreLightestGrey);
		text-shadow: unset;
		width: 80%;
	}

	html.responsive .responsive_page {
		padding-bottom: 24px;
	}

	html.responsive .ds_options {
		display: none;
	}

	html.responsive body.v6 h2.pageheader {
		margin-bottom: 0px;
	}


	/* Breadcrumbs */
	html.responsive .breadcrumbs {
		margin-bottom: 8px;
		padding-top: 8px;
	}


	/* Hide beta button */
	html.responsive .creator_beta_ctn {
		display: none;
	}

	html.responsive .header_area.curators {
		padding-top: 0px;
	}

	html.responsive .page_header_ctn {
		background: none;
		padding-bottom: unset;
		margin-bottom: unset;
	}

	html.responsive body.v6 .page_content.curators.header {
		margin-bottom: unset;
	}


	/* Text */
	html.responsive body.v6 h2 {
		color: white;
		margin-bottom: 0px;
		margin-top: 4px;
	}

	body.v6 .page_section>.section_title_ctn,
	body.v6 .carousel_container>.section_title_ctn {
		margin-top: 8px;
		margin-bottom: 0px;
	}




	/* SUB NAVIGATION */
	html.responsive .page_header_ctn.tabs {
		padding-bottom: unset;
		margin-bottom: unset;
	}

	html.responsive .light_container.bezel {
		background: none;
		box-shadow: none;
	}

	html.responsive .header_area {
		margin-bottom: 16px;
	}

	/* Inset navigation bar when there's no full width header above */
	html.responsive body.pg_curators_browse .navigation_bar,
	html.responsive body.dlc_curator .navigation_bar {
		margin: 0px 0px 12px 0px;
		padding: 12px;
	}

	html.responsive .navigation_bar {
		border-bottom: none;
		margin: 0px -24px 16px;
		padding: 12px 24px;
		gap: 4px;
		background: var(--gpBackground-DarkSoft);
		box-shadow: unset;
	}

	html.responsive .browse_tabs {
		margin-bottom: 12px;
	}

	html.responsive .navigation_bar > *,
	html.responsive .browse_tabs a {
		margin: unset;
		text-transform: unset;
		letter-spacing: unset;
		font: var(--gpText-BodyLarge);
		color: var(--gpStoreLightestGrey);
		font-weight: 400;
		padding: 8px 16px;
		border-radius: var(--gpCorner-Medium);
		transition: var(--gpTransition-Shorter);
		text-shadow: unset;
	}

	html.responsive .navigation_bar > a:hover,
	html.responsive .browse_tabs a:hover {
		background: var(--gpBackground-LightMedium);
		color: white;
	}

	html.responsive .browse_tabs a.selected:hover {
		background: var(--gpBackground-LightHard);
	}

	html.responsive .navigation_bar > a.gpfocus,
	html.responsive .navigation_bar > a.selected.gpfocus,
	html.responsive .browse_tabs a.gpfocus,
	html.responsive .browse_tabs a.selected.gpfocus {
		background: white;
		color: black;
		box-shadow: var(--gpShadow-Medium);
		border-radius: 0px;
	}

	html.responsive .navigation_bar > a.selected,
	html.responsive .browse_tabs a.selected {
		background-color: var(--gpBackground-LightMedium);
		color: white;
	}

	html.responsive .navigation_bar > .curators_searchbox {
		background: none;
		box-shadow: unset;
		height: unset;
		border: unset;
		border-radius: 0px;
		padding: 0px;
		margin: 0px;
		flex-grow: 1;
		margin-left: 8px;
	}

	html.responsive .curators_search_keywords {
		background-color: var(--gpBackground-LightMedium);
		box-shadow: unset;
		height: unset;
		border: unset;
		border-radius: var(--gpCorner-Medium);
		font: var(--gpText-BodyLarge);
		color: var(--gpStoreLighterGrey);
		padding: 8px 12px;
		width: 100%;
		box-sizing: border-box;
		transition: var(--gpTransition-Short);
	}

	html.responsive .curators_search_keywords:hover {
		background-color: var(--gpBackground-LightHard);
	}

	html.responsive .curators_search_keywords.gpfocus {
		background-color: white;
		color: black;
		border-radius: 0px;
	}

	html.responsive .curators_search_image {
		display: none;
	}

	html.responsive .navigation_bar > div.nav_right_side > div.curator_report {
		padding: unset;
	}


	/* Disable reporting on Deck */
	html.responsive .curator_report {
		display: none;
	}

	/* Tabs for tabbed content */
	html.responsive .tabbed_ctn .browse_tabs {
		padding-top: 24px;
		border-top: 1px solid var(--gpBackground-LightSoft);
	}



	/* FEATURED CAROUSEL */
	html.responsive .carousel_items.store_capsule_container.curator_featured  {
		background: none;
		padding-right: var(--gpSpace-Gutter);
	}

	html.responsive .carousel_items.store_capsule_container.curator_featured > * {
		width: var(--gpWidth-1colcap);
		margin-top: 0px;
		background-color: var(--gpBackground-DarkMedium);
		padding: 16px;
		scroll-snap-align: center;
		height: 36vw;
		border: none;
	}

	html.responsive .carousel_items.store_capsule_container.curator_featured > *.gpfocus {
		background-color: var(--gpBackground-DarkHard);
	}


}