
.giftcard_description {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 28px;
}

.giftcard_description p {
    margin-bottom: 10px;
}

.giftcard_content {
    font-family: "Motiva Sans", Sans-serif;
    padding-top: 24px;
}

.giftcard_title {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #FFFFFF;
}

.giftcard_available {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #C6D4DF;
    margin-bottom: 20px;
}

.giftcard_howwork {
    max-width: 580px;
    text-align: center;
    font-size: 16px;
    color: #C6D4DF;
    margin: auto;
    margin-bottom: 40px;
}

.giftcard_home_cont {
    border-radius: 10px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.35);
    padding: 10px 20px 10px 0;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.giftcard_home_cont_digital {
    background-image: linear-gradient(to bottom right, #2F3B42, #202839);
}

.giftcard_home_cont_physical {
    margin-top: 20px;
    background-image: linear-gradient(to bottom right, #422F2F, #202839);
}

.giftcard_home_image {
    object-fit: cover;
    width: 100%;
}

.giftcard_title_inner {
    font-weight: bolder;
    font-size: 32px;
    color: #FFFFFF;
}

.giftcard_subtitle_inner {
    font-weight: bolder;
    font-size: 24px;
    color: #C6D4DF;
}

.giftcard_text_inner {
    font-size: 14px;
    color: #C6D4DF;
}

.giftcard_subtext_inner {
    font-size: 12px;
    color: rgba(198,212,223,0.5);
    padding-top: 6px;
}

.giftcard_buttons {
    margin-top: 20px;
    margin-bottom: 10px;
}

.giftcard_addfunds_link {
    margin-left: 20px;
}

.giftcard_faq {
    margin-top: 20px;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
}

.giftcard_addfunds {
    font-size: 14px;
    text-decoration: underline;
}

.giftcard_amounts {
    background: rgba( 0, 0, 0, 0.2 );
    padding: 25px 15px 25px 15px;
    margin-bottom: 50px;
}

.giftcard_image_cnt {
    position: relative;
    max-width: 460px;
}

.giftcard_cont .giftcard_text {
    position: absolute;
    top: 12%;
    right: 1%;
    color: white;
    font-weight: bold;
    z-index: 3;
}

.giftcard_selectamount {
    font-size: 14px;
    line-height: 18px;
    color: #67c1f5;
	margin: 16px 0px;
	display: inline-block;
}

.giftcard_amount {
    width: 100%;
}

.giftcard_selection {
    margin-bottom: 16px;
    padding: 16px;
}

.block .block_header {
    		font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		    font-weight: normal;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    padding: 0px 0px 4px 0px;
}

.block .block_sub_header {
    		font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		    font-weight: normal;
    font-size: 14px;
    color: #67c1f5;
    background: transparent;
    padding: 0px 0px 4px 0px;
}

.block .block_title {
    		font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		    font-weight: normal;
    font-size: 12px;
    color: #8f98a0;
    background: transparent;
    padding: 0px 0px 4px 0px;
}

.block.subscriptions {
    margin-bottom: 20px;
}

.block_content {
    border: 1px solid #28394d;
    border-radius: 2px;
}

.block_content_inner
{
    padding: 4px 4px 4px 4px;
    overflow: hidden;
}

.accountInfoBlock .addfunds_accountBalance {
    margin-bottom: 0px;
}

.accountInfoBlock .block_content {
    border: none;
    border-radius: 0px;
    background: rgba( 0, 0, 0, 0.2 );
    padding: 16px;
}

.addfunds_linkbar {
    margin-top: 8px;
}

.giftcard_border {
    border: 1px solid #254157;
    display: inline-block;
    border-radius: 2px;
    border-bottom: none;
}

.giftcard_border:hover {
    border: 1px solid #67c1f5;
    border-bottom: none;
}

.giftcard_style {
    background: #254157;
    color: #67c1f5 !important;
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
}

.giftcard_border:hover .giftcard_style {
    background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
    color: #fff !important;
}

.giftcard_cont {
    max-width: 460px;
    max-height: 215px;
    margin: 0px;
    line-height: 0px;
    position: relative;
}

.steamlogo_overlay {
    position:absolute;
    z-index: 1;
}

.giftcard_corner {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
}

.giftcard_gradient {
    background: rgba(4,7,12,0.5);
    background: -moz-linear-gradient(top, rgba(4,7,12,0.5) 0%, rgba(34,72,130,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(4,7,12,0.5)), color-stop(100%, rgba(34,72,130,1)));
    background: -webkit-linear-gradient(top, rgba(4,7,12,0.5) 0%, rgba(34,72,130,1) 100%);
    background: -o-linear-gradient(top, rgba(4,7,12,0.5) 0%, rgba(34,72,130,1) 100%);
    background: -ms-linear-gradient(top, rgba(4,7,12,0.5) 0%, rgba(34,72,130,1) 100%);
    background: linear-gradient(to bottom, rgba(4,7,12,0.5) 0%, rgba(34,72,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04070c', endColorstr='#224882', GradientType=0 );
}

.giftcard_topseller {
    width: 460px;
    height: 215px;
    z-index: -1;
    position:relative;
}

.faq_item {
    padding: 10px 0 10px 0;
}

.faq_question {
    color: #67c1f5;
    font-size: 16px;
}

.faq_item p {
    font-size: 14px;
    line-height: 18px;
}

.card_header {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 200;
    font-weight: normal;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 0px 3px 0px;
}

.card_desc_text {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 21px;
}

.friendslist_image {
    margin-top: 20px;
}

.friendslist_fade {
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
    height: 280px;
    margin-top: -280px;
    position: relative;
    width: 103px;
}

.digitalcards_new {
    font-size:16px;
    font-weight:900;
    position: absolute;
    z-index:2;
    transform:rotate(-27deg);
    left:20px;top:30px;
}

.giftcard_inner_leftcol {
    float:left;
    width: 28%;
}

.giftcard_inner_rightcol {
    float:right;
    width: 70%;
}

.giftcard_leftcol {
    float:left;
    max-width: 458px;
}

.giftcard_rightcol {
    overflow: hidden;
    margin-left: 14px;
    max-width: 466px;
}

@media screen and (max-width: 540px) {

    html.responsive .giftcard_home_cont {
        padding: 20px;
    }

    html.responsive .giftcard_available {
        font-size: 16px;
    }

   html.responsive .giftcard_howwork {
        max-width: 90%;
        font-size: 14px;
    }

    html.responsive .giftcard_subtitle_inner {
        font-size: 20px;
        padding-bottom: 10px;
    }

    html.responsive .giftcard_inner_leftcol {
        display: none;
    }

    html.responsive .giftcard_inner_rightcol {
        margin-top: 0px;
    }

    html.responsive .giftcard_buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    html.responsive .giftcard_addfunds_link {
        margin-left: unset;
    }

    html.responsive .giftcard_buttons {
        text-align: center;
    }
}

@media screen and (max-width: 800px)
{
    html.responsive .giftcard_leftcol {
        float: none;
        margin: 0 auto;
    }

    html.responsive .giftcard_rightcol {
        max-width: none;
        margin-left: 0;
        margin-top: 0px;
        display: none;
    }

    html.responsive .giftcard_home_image {
        z-index: -1;
        position: relative;
        top: -75px;
        object-fit: none;
        width:auto;
    }

    html.responsive .giftcard_home_cont_physical .giftcard_home_image {
        display:none;
    }

    html.responsive .giftcard_inner_rightcol {
        width: 100%;
        margin-top: 0px;
    }

    html.responsive .giftcard_inner_leftcol {
        display: none;
    }

    html.responsive .giftcard_home_cont {
        padding: 20px;
    }
}
