:root {
	/* System greys */
	--gpSystemLightestGrey: #DCDEDF;
	--gpSystemLighterGrey: #B8BCBF;
	--gpSystemLightGrey: #8B929A;
	--gpSystemGrey: #67707B;
	--gpSystemDarkGrey: #3D4450;
	--gpSystemDarkerGrey: #23262E;
	--gpSystemDarkestGrey: #0E141B;

	/* Store blue greys */
	--gpStoreLightestGrey: #CCD8E3;
	--gpStoreLighterGrey: #A7BACC;
	--gpStoreLightGrey: #7C8EA3;
	--gpStoreGrey: #4e697d;
	--gpStoreDarkGrey: #2A475E;
	--gpStoreDarkerGrey: #1B2838;
	--gpStoreDarkestGrey: #000F18;

	/* Gradients */
	--gpGradient-StoreBackground: radial-gradient(farthest-corner at 40px 40px,#2A475E 0%, #1B2838 80%);

	/* Colours */
	--gpColor-Blue: #1A9FFF;
	--gpColor-BlueHi: #00BBFF;
	--gpColor-Green: #5ba32b;
	--gpColor-GreenHi: #59BF40;
	--gpColor-Orange: #E35E1C;
	--gpColor-Red: #D94126;
	--gpColor-RedHi: #EE563B;
	--gpColor-DustyBlue: #417a9b;
	--gpColor-LightBlue: #B3DFFF;
	--gpColor-Yellow: #FFC82C;
	--gpColor-ChalkyBlue: #66C0F4;

	/* Backgrounds */
	--gpBackground-LightSofter: #6998bb24;
	--gpBackground-LightSoft: #3b5a7280;
	--gpBackground-LightMedium: #678BA670;
	--gpBackground-LightHard: #93B8D480;
	--gpBackground-LightHarder: #aacce6a6;

	--gpBackground-DarkSofter: #0e141b33;
	--gpBackground-DarkSoft: #0e141b66;
	--gpBackground-DarkMedium: #0e141b99;
	--gpBackground-DarkHard: #0e141bcc;

	--gpBackground-Neutral-LightSofter: rgba(235, 246, 255, 0.10);
	--gpBackground-Neutral-LightSoft: rgba(235, 246, 255, 0.20);
	--gpBackground-Neutral-LightMedium: rgba(235, 246, 255, 0.30);
	--gpBackground-Neutral-LightHard: rgba(235, 246, 255, 0.40);
	--gpBackground-Neutral-LightHarder: rgba(235, 246, 255, 0.50);


	/* Corners */
	--gpCorner-Small: 1px;
	--gpCorner-Medium: 2px;
	--gpCorner-Large: 3px;

	/* Spacing */
	--gpSpace-Gutter: 24px;
	--gpSpace-Gap: 12px;

	/* Fixed widths */
	--gpNavWidth: 240px;
	--gpPaymentsNavWidth: 40vw;
	--gpPurchaseOptionsWidth: 270px;
	--gpDselectWidth: 320px;
	--gpSidePanelWidth: 348px;
	--gpGiftingPanelWidth: 280px;

	/* Game capsule widths */
	--screen-width: 100vw;
	--gpWidth-4colcap: calc((var(--screen-width) - (3 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 4);
	--gpWidth-3colcap: calc((var(--screen-width) - (2 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 3);
	--gpWidth-2colcap: calc((var(--screen-width) - (1 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 2);
	--gpWidth-1colcap: calc((var(--screen-width) - (2 * var(--gpSpace-Gutter))));

    /* Fixed heights */
    --gpStoreMenuHeight: 58px;

	/* Surfaces */
	--gpShadow-Small: 0px 2px 2px 0px #0000003D;
	--gpShadow-Medium: 0px 3px 6px 0px #0000003D;
	--gpShadow-Large: 0px 12px 16px 0px #0000003D;
	--gpShadow-XLarge: 0px 24px 32px 0px #0000003D;

	/* Type styles */
	--gpText-HeadingLarge: normal 700 26px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-HeadingMedium: normal 700 22px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-HeadingSmall: normal 700 18px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-BodyLarge: normal 400 16px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-BodyMedium: normal 400 14px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-BodySmall: normal 400 12px/1.4 "Motiva Sans", Arial, Sans-serif;

	/* Animation TODO: REMOVE THESE */
	--gpTransition-Short: all 0.2s ease;
	--gpTransition-Shorter: all 0.1s ease;
}
@media screen and ( min-width: 501px ) and ( max-width: 910px ) {

	/* Reposition breadcrumbs */
	html.responsive .breadcrumbs {
		margin-bottom: 8px;
		padding-top: 8px;
	}

	/* Removing backgrounds */
	html.responsive .page_header_ctn {
		background: unset;
	}

	/* Recommendation section */
	html.responsive .recommendation_section {
		margin: 0px 0px 24px;
	}

	/* Page padding */
	html.responsive .recommended_home,
	html.responsive .responsive_page {
		padding-bottom: 24px;
	}

	html.responsive .recommendation_mainsection.friends_favs,
	html.responsive .recommendation_mainsection.recently_viewed {
		margin-top: 24px;
		padding-top: 16px;
		border-top: 1px solid var(--gpBackground-LightSoft);
	}




	/* TEXT */
	html.responsive body.v6 .recommendation_section h2.pageheader {
		font: var(--gpText-HeadingSmall);
		font-weight: 500;
	}

	html.responsive .page_content_ctn h4 {
		font: var(--gpText-BodyMedium);
		color: var(--gpStoreLightestGrey);
	}

	html.responsive .recommendation_section .recommendation_bodytext {
		font: var(--gpText-BodyLarge);
		font-weight: 400;
		margin: 8px 0px;
		color: var(--gpStoreLightestGrey);
	}

	html.responsive .recommendation_mainsection .recommendation_bodytext,
	html.responsive .recommendation_carousel_title {
		color: white;
		font: var(--gpText-HeadingSmall);
		font-weight: 500;
		margin-bottom: 0px;
	}





	/* RECOMMENDATION HIGHLIGHT */
	html.responsive .recommendation_highlight {
		background-image: none;
		padding: 12px;
		background-color: var(--gpBackground-DarkMedium);
		transition: all 0.2s ease;
		display: flex;
		justify-content: flex-end;
		flex-direction: row-reverse;
		gap: var(--gpSpace-Gutter);
		align-items: center;
	}

	html.responsive .recommendation_highlight.morelikethis_border {
		flex-direction: row-reverse;
	}

	html.responsive .recommendation_highlight.recommendation_highlightv2 {
		flex-direction: row;
		justify-content: flex-start;
	}

	html.responsive .recommendation_highlight .highlight_description .regular_price {
		background: none;
		padding: 0px;
		line-height: unset;
		font-size: unset;
	}

	html.responsive .recommendation_highlight .header_image {
		border: none;
		box-shadow: var(--gpShadow-Large);
	}

	html.responsive .page_header_ctn.more_like {
		padding-bottom: var(--gpSpace-Gutter);
	}

	html.responsive .recommendation_highlight .ds_steam_deck_compat {
		top: 12px;
		right: 12px;
	}

	html.responsive .game_purchase_discount {
		justify-content: flex-start;
	}

	html.responsive .recommendation_highlight .highlight_description h4 {
		color: unset;
	}

	html.responsive .recommendation_highlight .highlight_description {
		color: unset;
		padding: unset;
		position: unset;
		min-height: unset;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	html.responsive .recommendation_highlight .highlight_description .buttons {
		position: unset;
		bottom: unset;
		left: unset;
	}

	html.responsive .recommendation_highlight .highlight_description h2,
	html.responsive .recommendation_highlight .highlight_description h4 {
		margin-bottom: 0px;
	}

	html.responsive .recommendation_highlight .header_image {
		color: unset;
		padding: unset;
		position: unset;
		min-height: unset;
		top: unset;
		left: unset;
		height: unset;
	}

	html.responsive .recommendation_highlight .header_image a {
		display: flex;
	}

	html.responsive .actiontext {
		color: var(--gpStoreLighterGrey);
		font: var(--gpText-BodyMedium);
	}

	html.responsive .actiontext a {
		color: var(--gpColor-Blue);
	}


	/* Recommendation highlight pricing */
	html.responsive .recommendation_highlight .highlight_description .btn_clickfordetails {
		display: none;
	}

	html.responsive .game_purchase_action_bg {
		background: none;
		height: unset;
		padding: unset;
	}

	html.responsive .game_purchase_discount {
		height: unset;
	}

	html.responsive .game_purchase_discount .discount_original_price {
		position: unset;
	}

	html.responsive .game_purchase_action .game_purchase_price {
		background: none;
	}

	html.responsive .game_purchase_discount .discount_pct {
		height: unset;
	}

	html.responsive .game_purchase_discount .discount_prices {
		height: unset;
	}




	/* RECOMMENDATION CAROUSEL */
	html.responsive .recommendation_carousel {
		height: unset;
		background: unset;
		padding: unset;
	}

	html.responsive .recommendation_carousel_view {
		overflow: unset;
		margin: unset;
		width: unset;
	}

	html.responsive .recommendation_carousel_scroll {
		gap: var(--gpSpace-Gap);
	}

	html.responsive .recommendation_highlight_carousel .recommendation_carousel_item {
		height: unset;
		width: unset;
		padding: 0px;
		float: unset;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	html.responsive .recommendation_carousel_item {
		float: unset;
		width: unset;
		height: unset;
	}

	html.responsive .recommendation_carousel_item .carousel_cap {
		background: var(--gpStoreDarkestGrey);
		box-sizing: border-box;
		position: relative;
		margin-bottom: 0px;
	}

	html.responsive .recommendation_carousel_item .carousel_cap .ds_steam_deck_compat {
		top: 12px;
		right: 12px;
	}

	html.responsive .recommendation_carousel_item .carousel_cap .small_cap_img {
		margin-bottom: 0px;
		width: 100%;
		height: auto;
	}

	html.responsive .recommendation_carousel_item h4 {
		font: var(--gpText-BodyMedium);
		color: var(--gpStoreLighterGrey);
		padding-left: 0px;
		margin-bottom: 0px;
	}

	html.responsive .recommendation_carousel_item .carousel_cap h5 {
		font: var(--gpText-BodyMedium);
		color: var(--gpStoreLightestGrey);
		font-weight: unset;
		text-align: right;
	}

	html.responsive .scroll_btn {
		display: none;
	}

	html.responsive .recommendation_carousel_title {
		margin-top: 12px;
	}

	html.responsive .friend_games_clear_ctn {
		display: none;
	}


	/* Carousel item more buttons */
	html.responsive .recommendation_carousel_item .buttons {
		visibility: visible !important;
		padding-left: unset;
		display: flex;
		margin-top: 8px;
	}

	html.responsive .recommendation_carousel_item .buttons .wishlist,
	html.responsive .recommendation_carousel_item .buttons .remove,
	html.responsive .recommendation_carousel_item .buttons #wishlist_success_1,
	html.responsive .recommendation_carousel_item .buttons #wishlist_fail_1 {
		display: none;
	}




	/* RECOMMENDED BY FRIENDS */

	/* Title */
	html.responsive h2.pageheader a.recommendation_btn {
		padding: 4px 8px;
		color: var(--gpColor-Blue);
	}

	html.responsive h2.pageheader a.recommendation_btn:hover {
		color: white;
	}


	/* Container */
	html.responsive .recommendation_detail {
		background-color: var(--gpBackground-DarkSoft);
	}

	html.responsive .recommendation_area {
		display: flex;
		gap: 16px;
	}


	/* Avatars */
	html.responsive .recommendation_area .recommendation_author,
	html.responsive .recommendation_makeyourown_your_avatar {
		display: flex;
		width: 80px;
		height: 80px;
		position: unset;
	}

	html.responsive .friend_block_avatar_92 {
		display: flex;
		height: auto;
		background-size: contain;
	}

	html.responsive .friend_block_avatar_92 a {
		display: flex;
	}

	html.responsive .friend_block_avatar_92 img {
		width: 100%;
		height: 100%;
	}


	/* Content */
	html.responsive .recommendation_detail .recommendation_area_content {
		padding-left: unset;
		width: 100%;
	}

	html.responsive .recommendation_detail .recommendation_area_content .quote {
		padding: unset;
		font: var(--gpText-BodyLarge);
		color: var(--gpStoreLightestGrey);
	}

	html.responsive .recommendation_detail .recommendation_area_content .view_btns {
		display: flex;
	}


	/* Game */
	html.responsive .app_header {
		position: unset;
		margin: 0px;
		padding: 0px;
		border: none;
		width: 240px;
		height: auto;
		position: relative;
	}

	html.responsive .app_header a img {
		width: 100%;
	}

	html.responsive .app_header:hover {
		background: none;
	}

	html.responsive .app_header a {
		display: flex;
		box-shadow: var(--gpShadow-Medium);
	}

	html.responsive .app_actions {
		position: unset;
		width: unset;
		display: flex;
	}

	html.responsive .app_and_morebtn_ctn {
		display: flex;
		flex-direction: column;
		gap: var(--gpSpace-Gap);
	}

	html.responsive .app_header .ds_steam_deck_compat {
		/* background-color: var(--gpBackground-DarkMedium);
		backdrop-filter: blur(24px);
		left: 4px; */
	}




	/* MAKE YOUR OWN RECOMMENDATIONS */
	html.responsive .recommendation_makeyourown_your_avatar {
		float: unset;
	}

	html.responsive .recommendation_makeyourown .quote_arrow {
		display: none;
	}

	html.responsive .recommendation_makeyourown {
		display: flex;
		gap: 16px;
		background: var(--gpBackground-DarkSoft);
		padding: 16px;
	}

	html.responsive .recommendation_makeyourown .quote {
		width: 100%;
	}

	html.responsive .recommendation_makeyourown .quote .buttons {
		padding-top: unset;
	}

	html.responsive .recommendation_makeyourown .quote .buttons a {
		color: var(--gpColor-Blue);
	}

	html.responsive .recommendation_makeyourown_instructions {
		padding-top: unset;
		font: var(--gpText-BodyLarge);
		color: var(--gpStoreLightestGrey);
	}

	html.responsive .recommendation_makeyourown_buttons_ctn {
		display: inline-flex;
		gap: var(--gpSpace-Gap);
	}




	/* FRIENDS FAVOURITE GAMES */
	html.responsive .recommendation_mainsection h2.pageheader .recommendation_bodytext {
		font-weight: 400;
		font: var(--gpText-BodyLarge);
		color: var(--gpStoreLighterGrey);
	}

	html.responsive .friendplaytime_ctn {
		display: flex;
		gap: var(--gpSpace-Gap);
	}

	html.responsive .friendplaytime_game {
		width: calc((100vw - (2 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 3);
		box-shadow: unset;
		background: unset;
		margin-right: unset;
	}

	html.responsive .friendplaytime_game .friendplaytime_appheader {
		width: 100%;
		height: unset;
		border: none;
		box-shadow: var(--gpShadow-Medium);
	}

	html.responsive .friendplaytime_game .friendplaytime_appheader .ds_steam_deck_compat {
		/* background-color: var(--gpBackground-DarkMedium);
		backdrop-filter: blur(24px);
		left: 4px;
		bottom: 4px; */
	}

	html.responsive .friendplaytime_game .friendplaytime_appheader a {
		display: flex;
	}

	html.responsive .friendplaytime_game .friendplaytime_appheader a img {
		width: 100%;
	}

	html.responsive .friendplaytime_game .friend_block_avatar a {
		display: flex;
	}

	html.responsive .friendplaytime_game .friend_blocks_row {
		margin: 8px 0px 0px 0px;
		display: flex;
		align-items: center;
	}

	html.responsive .friendplaytime_game .friend_blocks_row .friendplaytime_hours {
		font: var(--gpText-BodyMedium);
		color: var(--gpStoreLighterGrey);
		padding-left: unset;
	}



	html.responsive .friendplaytime_game .friendplaytime_buttons {
		visibility: visible !important;
		display: flex;
		margin: 8px 0px 0px 0px;
	}





	/* GROUPS */
	html.responsive .similar_grid_flex {
		padding: 12px;
		background: var(--gpBackground-DarkMedium);
	}




	/* ALL RECOMMENDATIONS BY FRIENDS */

	/* Page */
	html.responsive body.by_friends .page_background {
		background: none !important;
	}

	html.responsive body.by_friends .page_header_ctn {
		padding-bottom: 0px;
		margin-bottom: 0px;
	}


	/* Recommendations */
	html.responsive .friend_activity .recommendation_section {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}


	/* Recommendation row */
	html.responsive .friend_activity .recommendation_row {
		min-height: unset;
		background: none;
		background-color: var(--gpBackground-DarkSoft);
		padding: 16px;
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-bottom: 0px;
		transition: var(--gpTransition-Short);
	}

	html.responsive .friend_activity .recommendation_row:focus-within {
		background-color: var(--gpBackground-DarkHard);
	}

	html.responsive .friend_activity .recommendation_row_clear_ctn {
		display: none;
	}


	/* Recommendation row content */
	html.responsive .recommendation_row .recommendation_content {
		padding: 0px;
	}

	html.responsive .recommendation_row .quote {
		width: unset;
	}

	html.responsive .recommendation_row .quote_content {
		font: var(--gpText-BodyLarge);
		color: var(--gpStoreLightestGrey);
		padding-top: 12px;
		border-top: 1px solid var(--gpBackground-LightSoft);
		padding-right: 10%;
	}


	/* Recommendation row app */
	html.responsive .friend_activity .recommendation_row .recommendation_app {
		background: none;
		padding: 0px;
		border: none;
		box-shadow: var(--gpShadow-Medium);
		margin: 0px;
	}

	html.responsive .friend_activity .recommendation_row .recommendation_app a {
		display: flex;
	}

	html.responsive .friend_activity .recommendation_row .ds_steam_deck_compat {
		background-color: var(--gpBackground-DarkMedium);
		backdrop-filter: blur(24px);
	}


	/* Recommendation row author */
	html.responsive .friend_activity .recommendation_row .friend_block_avatar a {
		display: flex;
	}

	html.responsive .friend_activity .recommendation_row .posted_date {
		font: var(--gpText-BodyMedium);
		color: var(--gpStoreLighterGrey);
	}

	html.responsive .friend_activity .recommendation_row .author_block {
		display: flex;
		gap: 8px;
	}

	html.responsive .friend_activity .recommendation_row .author_name {
		position: unset;
		margin-left: unset;
		display: flex;
		flex-direction: column;
	}


	/* Attribution */
	html.responsive .friend_activity .recommendation_row .recommendation_attribution {
		font-size: unset;
		display: flex;
	}







	/* POPULAR TAGS */
	html.responsive body.tag_page .tablet_header_menu_ctn {
		background: var(--gpBackground-DarkSoft);
	}


	html.responsive .tag_browse_header_area {
		padding-top: unset;
		margin: 0px -24px;
		padding: 0px 24px;
		background: var(--gpBackground-DarkSoft);
	}

	html.responsive .tag_browse_header_desc {
		font: var(--gpText-BodyMedium);
		color: var(--gpStoreLightestGrey);
		text-shadow: unset;
	}

	html.responsive .tag_browse_header_desc_learn_more {
		display: none;
	}

	/* Tab menu items */
	html.responsive .page_header_ctn.tabs {
		padding-bottom: unset;
		margin-bottom: unset;
	}

	html.responsive .tabarea {
		/* border-top: 1px solid var(--gpBackground-LightMedium); */
	}

	html.responsive .tabbar {
		margin: 0px -24px 0px -24px;
		padding: 12px 24px;
		background: var(--gpBackground-DarkSoft);
		display: flex;
		gap: 6px;
	}

	html.responsive .tabarea .tab {
		padding: unset;
		margin: unset;
		border-radius: unset;
	}

	html.responsive .tabarea .tab .tab_browse_option_label {
		margin: unset;
		text-transform: unset;
		letter-spacing: unset;
		font: var(--gpText-BodyLarge);
		color: white;
		font-weight: 400;
		padding: 8px 16px;
		border-radius: var(--gpCorner-Medium);
		transition: var(--gpTransition-Shorter);
		text-shadow: unset;
		box-shadow: unset;
		background: unset;
	}

	html.responsive .tabarea .tab .tab_browse_option_label:hover {
		background: var(--gpBackground-LightMedium);
		color: white;
	}

	html.responsive .tabarea .tab.active {
		background: none;
		padding: unset;
	}

	html.responsive .tabarea .tab.active .tab_browse_option_label {
		background: var(--gpBackground-LightMedium);
		color: white;
	}

	html.responsive .tabarea .tab.active .tab_browse_option_label:hover {
		background: var(--gpBackground-LightHard);
		color: white;
	}

	html.responsive .tabarea .tab .tab_browse_option_label.gpfocus {
		background: white;
		color: black;
		box-shadow: var(--gpShadow-Medium);
		border-radius: 0px;
	}

	html.responsive .tag_browse_description {
		padding: 8px 0px;
		margin-top: 12px;
	}

	html.responsive #tag_browse_description_recommended,
	html.responsive #tag_browse_description_friends,
	html.responsive #tag_browse_description_global {
		font: var(--gpText-BodySmall);
		color: var(--gpStoreLighterGrey);
		width: 100%;
	}


	/* Tag game tiles */
	html.responsive .tag_browse_ctn {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}


	/* Tag game tiles list */
	html.responsive .tag_browse_tags {
		gap: 6px;
		display: flex;
	}

	html.responsive .tag_browse_tags .tag_browse_tag {
		font: var(--gpText-BodyLarge);
		color: var(--gpStoreLightestGrey);
		padding: 10px 16px;
		margin: unset;
		overflow: unset;
		border-radius: var(--gpCorner-Medium);
		background: var(--gpColor-Blue);
		color: white;
		box-shadow: var(--gpShadow-Medium);
		transition: var(--gpTransition-Shorter);
		scroll-snap-align: end;
	}

	html.responsive .tag_browse_tags .tag_browse_tag.active {
		background: var(--gpBackground-LightHard);
	}

	html.responsive .tag_browse_tags .tag_browse_tag:hover {
		background: var(--gpColor-BlueHi);
	}

	html.responsive .tag_browse_tags .tag_browse_tag.active:hover {
	background: var(--gpBackground-LightHarder);
	}

	html.responsive .tag_browse_tags .tag_browse_tag.gpfocus,
	html.responsive .tag_browse_tags .tag_browse_tag.active.gpfocus {
		background: white;
		color: black;
		border-radius: 0px;
	}


	/* Tag game tiles container */
	html.responsive body.tag_page h3 {
		font: var(--gpText-HeadingSmall);
		font-weight: 500;
	}

	html.responsive .tag_browse_right_ctn {
		position: unset;
	}

	html.responsive .tag_browse_games_ctn {
		position: unset !important; /* overriding inline style */
		top: unset;
	}

	html.responsive .browse_tag_games {
		padding: unset;
		margin: unset;
		background: none;
		min-height: unset;
	}

	html.responsive .sticky .browse_tag_games {
		min-height: unset;
		height: unset;
		margin: unset;
	}

	html.responsive .game_grid {
		gap: var(--gpSpace-Gap);
		margin-top: 12px;
	}

	html.responsive .browse_tag_game {
		width: calc((100vw - (2 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 3);
		margin: 0px;
		padding: 0px;
		box-shadow: var(--gpShadow-Medium);
	}

	html.responsive .browse_tag_game_cap {
		margin: 0px;
	}

	html.responsive .browse_tag_game_cap .ds_steam_deck_compat {
		opacity: 1;
	}

	html.responsive .browse_tag_game_cap a {
		display: flex;
	}

	html.responsive .browse_tag_game_total {
		background: unset;
		height: unset;
	}















}