
.pageheader.full {
}

.pagesubheader {
	font-size: 18px;
	color: #9099a1;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}

.searchtag {
	color: #67c1f5;
	background: #000000;
	background: rgba( 0, 0, 0, 0.2 );
	font-size: 12px;

	padding: 8px 10px;
	margin: 4px 5px 0 0;
	display: inline-block;
	border-radius: 2px;
	line-height: 14px;
}

.searchtag a.btn {
	margin-left: 10px;
	display: inline-block;
	width: 12px;
	height: 12px;
	background-image: url(/public/images/v6/deleteSearchTerm.png);
	vertical-align: top;
	margin-top: 1px;
}

.page_header_ctn.search {
	padding-bottom: 70px;
	background: url('/public/images//v6/search/cluster_bg.png' ) bottom center no-repeat;
}
.page_header_ctn.search.salebg {
	padding-bottom: 30px;
	background: transparent;
}

.searchbar {
	margin-bottom: 4px;
	position: relative;
	background: rgba( 0, 0, 0, 0.4 );
	padding: 6px;
}
@media screen and (max-width: 560px)
{
	html.responsive .searchbar {
		display: flex;
		flex-direction: column;
	}
	html.responsive #term {
		font-size: 15px;
		height: 22px;

		max-width: unset;
		width: unset;
		flex-grow: 1;
		padding-left: 10px;
	}
	html.responsive .searchbar_left {
		display: flex;
		margin-top: 8px;
	}
	html.responsive .searchbar_left > button {
		height: 33px;
		margin-top: 1px;
	}
	html.responsive .searchbar_left > button >span {
		font-size: 14px;
	}
	html.responsive div.autocomplete ul li {
		font-size: 14px;
		line-height: 19px;
		padding: 6px;
	}
}

.searchbar .sortbox {
	float: right;
	margin-top: 4px;
}

.searchbar_left {
	overflow: hidden;
	white-space: nowrap;
	padding-bottom: 1px;
}

.searchbar_left > button {
	height: 25px;
	margin-left: 5px;
}

.searchbar .label {
	font-size: 12px;
	color: #4c6c8c;
	display: inline-block;
	margin-right: 4px;
}

#term {
	background-color: rgba( 103, 193, 245, 0.2 );
	color: #fff;
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 1px 1px 0px rgba( 103, 193, 245, 0.15 );
	width: 300px;
	padding: 5px;

	max-width: calc( 100% - 80px - 2px );
}
#term.blur {
	font-style: italic;
	color: #7092a5;
	text-shadow: -1px -1px 0px rgba( 0, 0, 0, 0.4);
}

.sortbox .dselect_container {
	display: inline-block;
	vertical-align: middle;
	width: 120px;
}

/* settings menu */

.settings_tab {
	cursor: pointer;
	transition: background-color 300ms;
	order: 10;
	margin-left: 2px;
	position: relative;
	background-image: url( '/public/images/bigpicture/icon_settings.png' );
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-origin: content-box;
}

.settings_tab:hover {
	background-color: rgba(255,255,255,0.1);
	color: #000;
}
.settings_tab.hover {
	background-color: #c7d5e0;
	color: #000;
}

.settings_tab.hover > span {
	color: #000;
}

.dropdown_container {

	background: -webkit-linear-gradient( top, #e3eaef 5%, #c7d5e0 95%);
	background: linear-gradient( to bottom, #e3eaef 5%, #c7d5e0 95%);
	padding: 0px 0px 0px 0px;

	transition: opacity 300ms;
	opacity: 0;
	pointer-events: none;
}

.dropdown_container.hover {
	opacity: 1;
	pointer-events: auto;
}

.dropdown_container .item {
	color: #000;
	padding: 10px 10px 10px 10px;
	cursor: pointer;
	display: block;
}

.dropdown_container .item:hover {
	color: #fff;
	background-color: #212d3d;
}

/* Search results */
.search_result_row, .search_result_row:hover {
	position: relative;
	background: #000000;
	background: rgba( 0, 0, 0, 0.2 );

	margin-bottom: 5px;
	display: block;
	text-decoration: none;
	color: #c6d4df;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}

.search_result_row {
	border: 1px solid rgba( 139, 185, 224, 0 );
}

.search_result_row:hover {
	border: 1px solid rgba( 139, 185, 224, 0.2 );
	background: rgba( 0, 0, 0, 0.4 );
}

.search_result_row .ds_options {
	right: auto;
	left: 100px;
}
.search_result_row.ds_excluded_by_preferences .ds_options {
	display: none;
}

.search_result_row .vr_required, .search_result_row .vr_supported {
	color: #62696e;
	position: relative;
	top: -6px;
	left: 2px;
}

#search_result_container {
	max-width: 686px;
}

/* wait until dynamicstore is ready to show results */
.search_results.results_loading {
	display: none;
}

.search_result_row {
	height: 45px;
	overflow: hidden;
	transition: height 0.25s, margin 0.25s;
}

.search_results.hide_owned    .ds_owned,
.search_results.hide_ignored  .ds_ignored,
.search_results.hide_ignored	.ds_excluded_by_preferences,
.search_results.hide_wishlist .ds_wishlist {
    height: 0;
	margin: 0;
	border: none;
}

.search_results_spellcheck_suggestion {
	padding: 10px;
	background-color: rgba( 0, 0, 0, 0.2 );
}

.search_results_count {
	padding: 10px;
	background-color: rgba( 0, 0, 0, 0.2 );
}

.search_results_filtered_warning {
	display: flex;
	margin-bottom: 5px;
}

.search_results_filtered_warning_second {
	margin-top: 30px;
}

.search_results_filtered_warning > div {
	padding: 10px;
	background-color: rgba( 0, 0, 0, 0.2 );
	color: lightgoldenrodyellow;
}
.search_results_filtered_warning > div:first-child {
	flex-grow: 1;
}
.search_results_filtered_warning .settings_tab {
	flex: 0 0 40px;
}
.search_results_filtered_warning a {
	text-decoration: underline;
}
.search_results_filtered_warning.collapsed {
	display: none;
}
.search_results_filtered_warning span.valve_only {
	color: red;
	font-weight: bold;
}

.search_crouton_icon {
	display: inline;
	float: left;
	width: 14px;
	height: 14px;
	padding-right: 4px;
}

#search_infiniscroll_reload_container {
	display: none;
}

#search_infiniscroll_reload_notice {
	display: table;
	padding: 10px;
	height: 45px;
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
	cursor: pointer;
}

#search_infiniscroll_reload_notice > img,
#search_infiniscroll_reload_notice > span {
	display: table-cell;
	vertical-align: middle
}

#search_infiniscroll_reload_notice > img {
	height: 40px;
}

#search_infiniscroll_reload_notice > span {
	padding-left: 10px;
	width: 100%;
	font-size: larger;
}

#search_results_loading {
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
	color: #c6d4df;
}

.search_result_row .ds_flag {
	top: 12px;
}

.search_result_row .col {
	height: 45px;
	display: inline-block;
	vertical-align: top;
}

.responsive_search_name_combined {
	display: inline-block;
	vertical-align: top;
}

.search_result_row .col.search_capsule {
	width: 120px;
}

.search_result_row.ds_flagged:not(.ds_wishlist) .col.search_capsule, .search_result_row.ds_flagged:not(.ds_wishlist) .platform_img {
	opacity: 0.3;
}

.search_result_row.ds_flagged.ds_excluded_by_preferences .col.search_capsule,
.search_result_row.ds_flagged.ds_excluded_by_preferences .platform_img {
	opacity: 0.05;
}
.search_result_row.ds_flagged.ds_excluded_by_preferences .responsive_search_name_combined {
	opacity: 0.0;
}

.search_result_row.ds_flagged.ds_excluded_blur .col.search_capsule {
	filter: blur( 10px );
}

.search_result_row .col.search_released {
	width: 85px;
	color: #4c6c8c;
	font-size: 11px;
	line-height: 45px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.search_result_row .col.search_metascore {
	width: 30px;
	font-size: 16px;
	color: #8bc53f;
	line-height: 45px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.search_result_row .col.search_reviewscore {
	width: 30px;
	font-size: 11px;
	line-height: 16px;
	height: 16px;
	padding: 14px 0 15px 0;
	text-align: center;
}

.search_reviewscore .search_review_summary {
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	background: no-repeat center center;
}

.search_review_summary.positive {
	background-image: url( '/public/images/v6/user_reviews_positive.png' );
}

.search_review_summary.mixed {
	background-image: url( '/public/images/v6/user_reviews_mixed.png' );
}

.search_review_summary.negative {
	background-image: url( '/public/images/v6/user_reviews_negative.png' );
}

.game_review_summary {
	color: #A34C25;
}

.game_review_summary.positive {
	color: #66C0F4;
}

.game_review_summary.none {
	color: #626366;
}

.search_result_row .col.search_reviewscore .game_review_summary {
	color: #A34C25;
}

.search_result_row .col.search_reviewscore .game_review_summary.positive {
	color: #66C0F4;
}

.search_result_row .col.search_reviewscore .game_review_summary.none {
	color: #626366;
}

.search_result_row .col.search_price {
	width: 100px;
	text-align: right;
}
.search_result_row .col.search_name {
	width: 275px;
	margin-left: 5px;
}
.search_result_row.ds_flagged:not(.ds_wishlist) .col.search_name {
	color: #62696e;
}

.col.search_name .platform_img {
	opacity: 0.3;
}

.search_result_row .title {
	margin-top: 5px;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #c7d5e0;
}

.col.search_price.discounted {
	padding-top: 9px;
	height: 36px;
}

.col.search_discount {
	width: 40px;
}

.col.search_discount span {
	color: #8bc53f;
	font-size: 12px;
	padding: 5px;
	background-color: #4c6b22;
	display: block;
	margin-top: 10px;
	text-align: center;
}

.page_content {
	/* padding-top: 20px; */
}

/* autocomplete */

div.autocomplete {
	margin: 0px;
	padding: 0px;
	width: 250px;
	background: #BBBBBB;
	border: 1px solid #ACACAC;
	position: absolute;
	color: #000000;
	z-index: 500;
}

div.autocomplete ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

div.autocomplete ul li.selected {
	color: white;
	background-color: #3D3D3D;
}

div.autocomplete ul li {
	margin: 0;
	padding: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: block;
	list-style-type: none;
	cursor: pointer;
}

.block_content_inner {
	overflow: hidden;
}

.col.search_price:not(.discounted){
	line-height: 45px;
}

.search_pagination_left {
    float: left;
	color: #3b6e8c;
}
.search_pagination_right {
    float: right;
}
.search_pagination_right .pagebtn {
	color: #67c1f5;
}
.search_pagination_right .pagebtn:hover {
	color: #ffffff;
}
.search_pagination_right a {
	color: #3b6e8c;

}
.search_pagination_right a:hover {
	color: #67c1f5;
}

#TagSuggest {
	background-color: rgba( 0, 0, 0, 0.2 );
	color: #fff;
	border-radius: 3px;
	border: 1px solid rgba( 0, 0, 0, 0.3);
	box-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.2);
	width: 200px;
	padding: 5px;
	margin: 5px;
}

#TagSuggest.blur {
	font-style: italic;
	color: #7092a5;
	text-shadow: -1px -1px 0px rgba( 0, 0, 0, 0.4);
}

@media screen and (max-width: 910px)
{
	html.responsive .page_content {
		padding-top: 0;
	}
}

@media screen and (max-width: 720px)
{

	html.responsive .search_result_row .col.search_capsule img {
		width: 100%;
		height: auto;
	}

	html.responsive .search_result_row {
		padding: 5px;
		height: auto;
	}

	html.responsive .search_results.hide_owned    .ds_owned,
	html.responsive .search_results.hide_ignored  .ds_ignored,
	html.responsive .search_results.hide_ignored	.ds_excluded_by_preferences,
	html.responsive .search_results.hide_wishlist .ds_wishlist {
		display: none;
	}

	html.responsive .search_result_row .title {
		margin-top: 0;
	}

	html.responsive .search_result_row .col {
		float: left;
		display: block;
	}

	html.responsive .search_result_row .responsive_search_name_combined {
		overflow: hidden;
		padding-left: 12px;
		display: block;
	}

	html.responsive .search_result_row .responsive_search_name_combined .col {
		height: auto;
		line-height: normal;
	}

	html.responsive .search_result_row .col.responsive_secondrow {
		line-height: 18px;
		height: 18px;
	}

	html.responsive .search_result_row .col.search_name {
		float: none;
		width: auto;
		margin: 0;
	}

	html.responsive .search_result_row .col.search_released {
	}

	html.responsive .search_result_row .col.search_reviewscore {
		padding: 0;
	}

	html.responsive .search_result_row .col.search_price_discount_combined {
		float: right;
		padding-right: 8px;
	}

	html.responsive .search_result_row .col.responsive_secondrow.search_discount {
		line-height: 18px;
		vertical-align: middle;
	}

	html.responsive .col.search_discount span {
		padding: 0 5px;
		margin-top: 0;
	}

	html.responsive .col.search_price.discounted {
		padding-top: 0;
		min-width: 100px;
		width: auto;
	}

	html.responsive .col.search_price.discounted > span {
		display: inline-block;
		margin-right: 4px;
	}

	html.responsive .col.search_price.discounted > br {
		display: none;
	}
}

@media screen and (max-width: 460px )
{
	html.responsive .search_result_row .col.search_capsule {
		width: 108px;
	}

	html.responsive .search_result_row .responsive_search_name_combined {
		overflow: visible;
		padding: 0;
	}

	html.responsive .search_result_row .col.search_name {
		padding-left: 8px;
	}

	html.responsive .search_result_row .col.search_released {
		clear: left;
	}
}

.search_labs_banner
{
	position: relative;
	display: block;
	margin-bottom: 10px;
}

.search_remote_play_banner
{
	width: 940px;
}

.search_labs_banner_link
{
	display: block;
}

.search_labs_banner img.banner
{
	max-width: 100%;
	display: block;
}

.search_labs_banner img.hover
{
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transition: opacity 0.25s;

	width: 100%;
	height: 100%;
}

.search_labs_banner_link:hover img.hover
{
	opacity: 1.0;
	display: block;
}

.search_labs_banner_actions
{
	position: absolute;
	bottom: -40px;
	right: 2%;
	display: grid;
	grid-template-columns: auto auto;
	line-height: 18px;
	align-items: center;

	font-size: 12px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		}

html[lang=en] .search_labs_banner_actions
{
	top: 6%;
	bottom: 6%;
}

.search_labs_banner_actions .action_label
{
	text-align: right;
	color: #19c0d0;
	padding-right: 5px;
}

.search_labs_banner_actions .action_link
{
	color: #c0f3ff;
}

@media screen and (max-width: 910px)
{
	html.responsive .search_labs_banner {
		height: auto;
	}
}

@media screen and (max-width: 640px)
{
	html.responsive .search_labs_banner_actions {
		font-size: 9px;
	}

    html.responsive .labs_label {
        display: none;
    }

html[lang=en].responsive .search_labs_banner_actions {
		top: 10%;
		bottom: 10%;
	}
}

.autocollapse_enabled .search_collapse_block .block_header {
	cursor: pointer;
}

.search_collapse_block.collapsed .see_all_expander,
.autocollapse_enabled .search_collapse_block .see_all_expander.nocollapse_only {
	display: none;
}

.labs_block_header {
    position: relative;
}

.labs_label {
    position: absolute;
    top: -15px;
    right: -20px;
    box-sizing: border-box;
    border-radius: 80px;
    height: 54px;
    width: 54px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #df4e4b;
}

.labs_label_left {
    left: -60px;
}

.labs_label_text {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    word-break: break-word;
}

.labs_new {
    position: absolute;
    top: -5px;
    right: -10px;
    box-sizing: border-box;
    height: 26px;
    width: 26px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: #66bff2;
	background: url('/public/images//v6/search/new.svg' ) bottom center no-repeat;
}

.info_link {
	float: right;
	margin: 2px;
}