/* CSS Document */

.responsive_page_content {
	min-height: 100vh;
}

.addfunds_area_purchase_game {
	margin-bottom: 16px;
	padding: 16px;
}

.addfunds_pageheader {
	margin-bottom: 0px;
	color: #FFFFFF;
	font-size:24px;
	font-weight:normal;
}

.addfunds_separator {
	color: #898A8C;
	font-size: 12px;
	margin-top: -5px;
	margin-bottom: 11px;
	margin-left: 5px;
}

.game_area_purchase_game .addfunds_purchase_action {
	bottom: 0;
	position: relative;
	right: 0;
}
.game_area_purchase_game .addfunds_purchase_action.game_purchase_action {
	margin-right: 10px;
}

.need_help_block
{
	margin: 25px 0px 20px 0px;
	padding: 16px;
	background: rgba( 0, 0, 0, 0.2 );
}

.block .block_header {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			font-weight: normal;
	font-size: 17px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: transparent;
	padding: 0px 0px 4px 0px;
}

.block .block_sub_header {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			font-weight: normal;
	font-size: 14px;
	color: #67c1f5;
	background: transparent;
	padding: 0px 0px 4px 0px;
}

.block .block_title {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			font-weight: normal;
	font-size: 12px;
	color: #8f98a0;
	background: transparent;
	padding: 0px 0px 4px 0px;
}

.block.subscriptions {
	margin-bottom: 20px;
}

.block_content {
	border: 1px solid #28394d;
	border-radius: 2px;

}

.block_content_inner
{
	padding: 4px 4px 4px 4px;
	overflow: hidden;
}

.block.accountInfoBlock {
	margin-bottom: 20px;
}

.accountInfoBlock .addfunds_accountBalance {
	margin-bottom: 0px;
}

.accountInfoBlock .block_content {
	border: none;
	border-radius: 0px;
	background: rgba( 0, 0, 0, 0.2 );
	padding: 16px;
}

.addfunds_about {
	color :#c6d4df;
	font-size: 14px;
	margin-bottom: 28px;
}

.addfunds_about p {
	margin-bottom: 10px;
}

.addfunds_footer {
	color :#8f98a0;
	font-size: 14px;
	margin-top: 28px;
	margin-bottom: 28px;
}

.addfunds_linkbar {
	margin-top: 8px;
}

.addfunds_cafe_selection {
	background: rgba(226,244,255,0.3);
	padding: 15px;
	margin-bottom: 20px;
	font-size: 14px;
}

.addfunds_cafe_selection a {
	border-radius: 4px;
	text-align: center;
	display: block;
	width: 280px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: rgba(128,164,186,1);
	color: rgba( 96, 122, 140, 1);
}

.addfunds_cafe_selection .selected {
	background-color: rgba(39,65,88,1);
	color: #ffffff;
}

.addfunds_cafe_selection_text {
	padding-bottom: 30px;
}

.addfunds_cafe_selection_buttons {
	text-align: center;
	overflow: hidden;
}

.addfunds_local_currency {
	padding-bottom: 20px;
}

.rule, .inner_rule {
	border-top: 1px solid #56707F;
	margin: 5px 0px 10px;
}

.steamaccount_currencyselect {
	text-align: right;
}

.steamaccount_currencyselect .dselect_container {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.currency_change_confirm_dialog {
	max-width: 670px;
}

.currency_change_confirm_dialog p {
	margin: 24px 0;
}

.currency_change_confirm_dialog b {
	color: #67c1f5;
	font-weight: normal;
}

.currency_change_option_ctn {
	vertical-align: top;
	margin: 0 6%;
}
.currency_change_option_ctn:first-child {
	margin-bottom: 12px;
}

.currency_change_option {
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			display: block;
}

.currency_change_option > span {
	display: block;
	padding: 9px 19px;
}

.currency_change_option .country {
	font-size: 20px;
}
.currency_change_option .notes {
	font-size: 13px;
	line-height: 18px;
}

.currency_change_option_ctn > p {
	font-size: 12px;
	margin: 8px 8px 0 8px;
}

p.currency_change_confirm_dialog_footer {
	margin-top: 128px;
}

.youraccount_updating_shipping_button_row {
	padding-top: 20px;
}

.shipping_row_alternate {
	background-color: rgba(0,0,0,0.1)
}

.two_column {
	vertical-align: top;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}

.two_column.left {
	width: 220px;
    float: left;
}

.two_column.right {
	vertical-align: top;
	margin-left: 11px;
	overflow: hidden;
}

@media screen and (max-width: 500px)
{
		html.responsive.mobile_client .two_column.left {
			display: flex;
			flex-direction: row;
			text-align: center;
			overflow: scroll;
			margin: 0 -2vw;
		}

		html.responsive.mobile_client .two_column .nav_item.active {
			background-color: transparent;
			font-weight: 600;
		}

		html.responsive.mobile_client .two_column .nav_item:hover {
			background-color: transparent;
		}

		html.responsive.mobile_client .two_column.left::-webkit-scrollbar {
			display: none;
		}

		html.responsive.mobile_client .nav_item {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 12px;
			font-weight: 400;
			padding: 10px 0px;
			margin: 15px 10px;
			flex: auto;
    		flex-shrink: 0;
		}

		html.responsive.mobile_client .nav_item.active {
			border-bottom: 3px solid #07bfff;
			color: #07bfff;
		}
}

@media screen and (max-width: 910px)
{
	html.responsive .two_column.left,
	html.responsive .two_column.right {
		width: auto;
		display: block;
		margin-left: 0;
		margin-bottom: 8px;
        float: none;
	}

	html.responsive .two_column .nav_item {
		display: inline-block;
		min-width: calc( 33% - 30px );
	}
}

.two_column .nav_item {
	padding: 15px;
	color: #fff;
	font-size: 14px;
	display: block;
}
.two_column .nav_item.active {
	background-color: rgba( 255, 255, 255, 0.12 );
}
.two_column .nav_item:hover {
	background-color: rgba( 255, 255, 255, 0.3 );
}

@media screen and (max-width: 910px)
{
	.two_column.left {
		width: auto;
		margin-bottom: 25px;

	}

	.two_column .nav_item {
		display: inline-block;
	}

	.two_column.right {
		width: auto;
		margin-left: 0;
	}
}


.content_two_column {
	display: inline-block;
	vertical-align: top;
}

.content_two_column.left {
	width: 300px;
}

.content_two_column.right {
	vertical-align: top;
	margin-left: 20px;
	width: 300px;
}

@media screen and (max-width: 910px)
{
	html.responsive .content_two_column.left,
	html.responsive .content_two_column.right {
		width: auto;
		display: block;
		margin-left: 0;
		margin-bottom: 8px;
	}

	.content_two_column.left {
		width: auto;
		margin-bottom: 25px;

	}

	.content_two_column.right {
		width: auto;
		margin-left: 0;
	}
}


.account_settings_container {
	background-color: rgba(0,0,0,0.2);
	margin-bottom: 15px;
	padding: 8px 25px 25px 25px;
	font-size: 14px;
	line-height: 18px;
}

body.v6 .account_settings_container h2 {
	text-transform: uppercase;
	color: #fff;
	margin: 5px 0 0px;
	font-size: 17px;
	letter-spacing: 2px;
}

body.v6 .account_settings_container h3 {
	text-transform: uppercase;
	color: #adc2cd;
	margin: 15px 0 0px;
	font-size: 15px;
	letter-spacing: 1px;
}

body.v6 .account_settings_container .h3_content {
	margin: 2px 4px 0px;
}

.account_settings_container p {
	padding: 10px 0;
}

.account_settings_container .hspacer {
	height: 25px;
}

.account_settings_container p.info {
	color: #abdaf4;
	font-size: 16px;
	margin-top: 9px;
}

.account_settings_container blockquote {
	margin: 5px 0 5px 25px;
}

.account_settings_container label {
	font-size: 13px;
	color: #c5d1df;
	line-height: 23px;
}

.account_settings_container blockquote.tag_form,
.account_settings_container div.word_form {
	margin-top: 12px;
}
.tag_form > form#app_tag_form,
.word_form > form#text_filter_custom_banned_words_form,
.word_form > form#text_filter_custom_clean_words_form {
	width: 300px;
	margin-bottom: 0px;
}
.tag_form .sub_text,
.word_form .sub_text {
	font-size: 12px;
}

.app_tag_form_ctn button,
.text_filter_custom_banned_words_form_ctn button,
.text_filter_custom_clean_words_form_ctn button {
	float: right;
	margin-left: 12px;
}
.account_settings_container .half {
	display: inline-block;
	margin-right: 25px;
    min-width: 35%;
}

.account_settings_container .two_column_container {
	display: flex;
}

.app_tag_form_ctn .gray_bevel.for_text_input,
.text_filter_custom_banned_words_form_ctn .gray_bevel.for_text_input,
.text_filter_custom_clean_words_form_ctn .gray_bevel.for_text_input {
	height: 27px;
	overflow: hidden;
}

.app_tag_form_ctn .gray_bevel.for_text_input input,
.text_filter_custom_banned_words_form_ctn .gray_bevel.for_text_input input,
.text_filter_custom_clean_words_form_ctn .gray_bevel.for_text_input input {
	margin-top: 2px;
	height: 25px;
	line-height: 25px;

}

.account_settings_container hr {
	border: 0;
	height: 0;
	border-top: 0px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin-top: 4px;
}

.account_preferences input.gray_bevel,
.account_preferences textarea.gray_bevel,
.account_preferences .gray_bevel {
	background-color: rgba( 0, 0, 0, 0.4 );
	border-radius: 3px;
	border: 1px solid #000;
	box-shadow: 1px 1px 0px #45556c;
	color: #fff;

	margin-bottom: 6px;
	outline: none;


	padding: 4px 6px;
}
.account_preferences .gray_bevel input,
.account_preferences .gray_bevel textarea {
	background-color: transparent;
	color: #476474;
}

.account_preferences input.gray_bevel::-webkit-input-placeholder,
.account_preferences textarea.gray_bevel::-webkit-input-placeholder,
.account_preferences .gray_bevel textarea::-webkit-input-placeholder,
.account_preferences .gray_bevel input::-webkit-input-placeholder {
	font-style: italic;
	color: #476474;
}

.tag_downvoted {
	margin: 2px 0;
}

.tag_downvoted > div {
	display: inline-block;
	line-height: 19px;
	padding: 2px 7px;
	color: #67c1f5;
	background-color: #283b47;

	margin-right: 2px;
	border-radius: 3px;

	box-shadow: 1px 1px 0 0 #000000;

	margin-bottom: 3px;
}

.tag_downvoted > div > div {
	display: inline-block;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
}

.tag_downvoted > div > span {
	display: inline-block;
	cursor: pointer;
	width: 12px;
	height: 12px;
	margin: 3px 0 4px 5px;
	vertical-align: top;
	background-image: url( '/public/images/v6/delete_search_term.png' );
	margin-left: 5px;
}

#text_filter_lab_ctn {
	background-color: #0a3963;
	margin: -4px -8px 0 -8px;
	padding: 4px 8px 8px 8px;
}
#text_filter_lab_experiment {
	background: linear-gradient(180deg, #0a3963 0%, #16202D 100%);
	margin: -16px -8px 0 -8px;
	padding: 0 8px 0 8px;
}
.text_filter_action_link,
.text_filter_action_link a {
	color: #c0f3ff;
	font-size: 14px;
	cursor: pointer;
}
.text_filter_action_link:hover,
.text_filter_action_link:hover a {
	color: #ffffff;
}
#text_filter_custom_banned_words_ctn .tag_downvoted,
#text_filter_custom_clean_words_ctn .tag_downvoted {
	display: inline-block;
	white-space: nowrap;
	margin: 4px 4px 4px 0;
}

#text_filter_custom_banned_words_ctn .tag_downvoted > div {
	background-color: #6e4c4a;
	color: #cedbe9;
}

#text_filter_custom_clean_words_ctn .tag_downvoted > div {
	background-color: #1d423b;
	color: #cedbe9;
}

#text_filter_custom_banned_words_ctn .broken > div,
#text_filter_custom_clean_words_ctn .broken > div  {
	background-color: #bf4640;
}

.tag_downvoted > div > span.fixit {
	width: 16px;
	height: 16px;
	margin: 1px 0 2px 3px;
	background-image: url( '/store/public/images/v6/icon_fixit.png' );
}

.text_filter_toggle_icon {
	width: 11px;
	height: 11px;
	margin-right: 7px;
	margin-top: 16px;
	background: url('/public/images/v6/app/review_graph_expander.png');
	background-repeat: no-repeat;
	background-size: 11px 20px;
	display: inline-block;
}
.text_filter_toggle_icon.up {
	background-position: 0px 1px;
}
.text_filter_toggle_icon.down {
	background-position: 0px -10px;
}

.queue_customize,
.preferences_link {
	padding: 5px 0;
	color: #63c1f5;
	cursor: pointer;
}
.queue_customize:hover,
.preferences_link:hover {
	color: #ffffff;
}

.not_interested_container {
	display: inline-block;

	border: 1px solid #163d55;
	border-left: none;
	border-right: none;
	padding: 5px 0;
	margin: 10px 0;
}

.not_interested_container > div {
	display: inline-block;
}

.not_interested_container .description {
	color: #808891;
	width: 200px;
}

.not_interested_container .count {
	color: #cedbe9;
	font-size: 34px;
	text-align: right;
	width: 100px;
	padding-right: 5px;
}
#primary_language {
	margin-left: 25px;
}

input[type=date] {
	color: #ffffff;
	background-color: #324965;
	border-top: solid 1px #182636;
	border-left: solid 1px #182636;
	border-right: solid 1px #45566a;
	border-bottom: solid 1px #45566a;
	padding: 4px;
	font-family: Arial, Helvetica, sans-serif;
}
.vat_date_selector::-webkit-inner-spin-button {
	display: none;
	margin: 0;
}
.vat_date_selector::-webkit-calendar-picker-indicator {
	background: #324965;
}

.address_input_box {
	border: 1px solid #233c51;
	border-radius: 3px;

	max-width: 800px;
	background-color: #324965;
	color: #d6d7d8;
	padding: 10px 11px;
	font-size: 13px;
	font-family: "Motiva Sans", Sans-serif;
	font-weight: normal;
	-webkit-box-shadow: inset 0px 0px 7px rgba( 0, 0, 0, 0.5 );
	-moz-box-shadow: inset 0px 0px 7px rgba( 0, 0, 0, 0.5 );
	box-shadow: inset 0px 0px 7px rgba( 0, 0, 0, 0.5 );

}

.account_vat_setup_content {
	background: rgba( 0, 0, 0, 0.2 );
	margin-bottom: 24px;
	min-height: 324px;
	float: left;
	color: #c6d4df;
	width: inherit;
	font-size: 12px;
}

.account_vat_setup_header {
	padding-top: 20px;
}

.account_vat_setup_action {
	color: #64ABD5;
}

.account_vat_setup_example {
	padding-left: 15px;
}

.account_vat_form_error {
	color: #ff7b00;
}

.account_vat_setup_padding {
	padding-bottom: 5px;
}

.app_age_gate_bypassed {
	display: inline-block;
	white-space: nowrap;
	border-radius: 2px;
	padding: 0 9px;
	line-height: 24px;
	margin: 0 4px 4px 0;
	background: -webkit-linear-gradient( top, #8aaf05 5%, #6a8704 95%);background: linear-gradient( to bottom, #8aaf05 5%, #6a8704 95%);	color: #ffffff;
}
.app_age_gate_bypassed_remove {
	display: inline-block;
	cursor: pointer;
	background: no-repeat center center url('/public/images/v6/delete_search_term.png');
	width: 12px;
	height: 24px;
	margin-left: 8px;
}

.verification_alternative_link {
	font-size: 20px;
	color: #67C1F5;
}

.verification_alternative_details {
	display: none;
	color: #B0AEAC;
}

body.v6 h2.pageheader.youraccount_pageheader {
	margin-top: 0;
	margin-bottom: 0;
}

.youraccount_steamid {
	color: #808891;
	margin-bottom: 10px;
}

.page_header_ctn.no_gradient_header_ctn {
	background: none;
}

.newaccount_email_verified_header {
	padding: 24px 12px 0px 12px;
}

.newaccount_email_verified_text {
	font-size: 16px;
	line-height: 24px;
	padding: 0px 12px;
}

.newaccount_email_verified_note {
	font-size: 16px;
	line-height: 24px;
	padding: 0px 12px;
}

/* hardware used */
.hardware_used {
    display: flex;
    flex-direction: column;
}

.hardware_item_header, .hardware_item {
    display: grid;
	grid-template-columns: 30% 25% 45%;
	padding: 5px;
	margin-bottom: 1px;
	background-color: rgba( 255, 255, 255, 0.2 );
	color: #dcdedf;
}
.hardware_item.steam_deck:hover {
	cursor: pointer;
}

.hardware_item_header {
	font-weight: bold;
	margin-bottom: 3px;
}

.hardware_item.gpfocus {
	background-color: white;
	color: #0e141b;
	border: 1px solid #000000;
}

.hardware_item .controller_code {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.steam_deck_components {
	display: flex;
	flex-direction: column;
}

.steam_deck_component {
	margin-bottom: 10px;
	border-bottom: 1px solid #3B546A;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
}
.steam_deck_component .steam_deck_component_type {
	font-weight: bold;
	color: #DCDEDF;
	padding-bottom: 7px;
}
.steam_deck_component .steam_deck_component_details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 7px;
	color: #7C8EA3;
	gap: 10px;
}

.steam_deck_component .steam_deck_component_details > div:nth-child(2) {
	text-align: right;
}

/* transaction details view */
.orderdetails_body {
	padding-top: 30px;
}

.orderdetails_row {
	display: flex;
	flex-direction: row;
}

.orderdetails_block {
	padding-left: 30px;
}

.orderdetails_block:not( :last-child ) {
	padding-right: 30px;
	border-right: 1px solid rgb( 78, 88, 100 );
}

.orderdetails_block:first-child {
	padding-left: 0px;
}

.orderdetails_header {
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
	margin-bottom: 12px;
	text-transform: uppercase;
}

.orderdetails_orderdate {
	font-size: 14px;
	line-height: 17px;
	color: #6AC9FF;
	margin-bottom: 28px;
}

.orderdetails_itemcapsule {
	display: flex;
	/* justify-content: center; */
	margin-bottom: 13px;
}

.orderdetails_shippingaddress {
	font-size: 14px;
	line-height: 18px;
	color: rgb( 198, 201, 205 );
}

.orderdetails_shipstep {
	display: flex;
	margin-top: 12px;
}

.orderdetails_shipstep.first {
	margin-top: 0;
}

.orderdetails_shiptext {
	font-size: 17px;
	line-height: 22px;
	color: #798089;
	margin-left: 12px;
}

.orderdetails_shipstep.complete .orderdetails_shiptext {
	color: white;
}

.orderdetails_shippip_container {
	width: 22px;
	height: 22px;
	position: relative;
}
.orderdetails_shippip
{
	width: 22px;
	height: 22px;
	border: 4px solid #798089;
	border-radius: 50%;
	position: relative;
	box-sizing: border-box;
}

/* force the browser to draw this circle with the same code that we draw the outer circle, instead of trying to center it using standard div centering techniques, so any DPI/scale factor rounding is applied consistently across both divs */
.orderdetails_shippip_highlight {
	content: "";
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 6px solid #00000000;
	background-color: #6AC9FF00;
	box-sizing: border-box;
	position: absolute;
	top: 0%;
	left: 0%;
	background-clip: padding-box;
}

/* after is the circle in the middle */
.orderdetails_shipstep.complete .orderdetails_shippip {
	border: 4px solid #D9D9D9;
}

.orderdetails_shipstep.complete .orderdetails_shippip_highlight {
	background-color: #6AC9FF;
}

/* before is the connecting line */
.orderdetails_shipstep.complete .orderdetails_shippip::before {
	background-color: #D9D9D9;
	border: 2px dashed #79808900;
	height: 18px;
}

.orderdetails_shippip:before {
	content: "";
	width: 4px;
	height: 18px;
	background-color: #798089;
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate( -50%, -19px );
}

.orderdetails_shipstep.first .orderdetails_shippip::before {
	content: "";
	visibility: collapse;
}

.orderdetails_tracklink {
	color: #66c0f4;
}

.orderdetails_tracklink:hover {
	color: #46a0c4;
}

#shipping_state_select_droplist,
#shipping_country_droplist {
	z-index: 3000;
}

.orderdetails_editshipping_dialog {
	max-width: 600px;
}

.orderdetails_editshipping_dialog #submit_payment_info_btn {
	margin-left: 0px;
}

.orderdetails_shippingdelay {
	margin-top: 20px;
	width: 300px;
}

.preference_row {
    display: grid;
    grid-template-columns: auto 80px 80px;
    grid-template-rows: auto;
    grid-template-areas:
    "desc store_col community_col";
	border-bottom: 1px solid #324a67;
	margin-bottom: 4px;
}

.account_setting_not_customer_facing {
    display: none;
}

.store_pref_desc {
    grid-area: desc;
}
.store_pref_col {
    grid-area: store_col;
	font-size: 13px;
	align-self: center;
	text-align: center;
}
.community_pref_col {
    grid-area: community_col;
	font-size: 13px;
	align-self: center;
	text-align: center;
}