

/* PAGE SETUP */

/* Remove background */
html.tablet .page_header_ctn {
	background: unset;
	padding-bottom: 0px;
	margin-bottom: 16px;
}

html.tablet .block {
	background: unset;
}

html.tablet .page_content_ctn {
	padding-bottom: 24px;
}




/* ADD FUNDS TO WALLET */

/* Heading */
html.tablet body.v6 h2.addfunds_pageheader {
	font: var(--gpText-HeadingLarge);
	font-weight: 700;
	text-shadow: unset;
	text-transform: unset;
	margin-top: 0px;
	padding: unset;
	letter-spacing: 0px;
}


/* Hide duplicate text */
html.tablet .addfunds_pageheader {
	display: none;
}


/* Text */
html.tablet .addfunds_about {
	font-size: unset;
}

html.tablet .block .block_header {
	font: var(--gpText-HeadingSmall);
	text-transform: unset;
	letter-spacing: unset;
	font-weight: 500;
	margin-bottom: 8px;
}


/* Your steam account block */
html.tablet .accountInfoBlock {
	margin-bottom: 16px;
}

html.tablet .block_header {
	display: none;
}

html.tablet .addfunds_accountBalance {
	padding: 12px 0px;
	margin-bottom: 0px;
	border-top: 1px solid var(--gpBackground-LightSoft);
}

html.tablet .addfunds_about {
	margin-bottom: 16px;
}

html.tablet .accountInfoBlock .block_content {
	background: unset;
	color: unset;
	padding: 0px;
	overflow: visible;
}

html.tablet .accountBalance .price {
	font: var(--gpText-HeadingLarge);
	font-weight: 700;
	bottom: 2px;
}

html.tablet .addfunds_accountBalance .accountLabel {
	font: var(--gpText-HeadingSmall);
	font-weight: 500;
	color: white;
}

html.tablet .linkbar {
	margin: 4px 0px;
	background: var(--gpBackground-LightSoft);
	padding: 8px 16px;
	display: inline-block;
	transition: all 0.1s ease;
	border-radius: unset;
	color: var(--gpColor-Blue);
	height: unset;
	font: var(--gpText-BodyLarge);
}

html.tablet .linkbar:hover {
	background: var(--gpBackground-LightMedium);
	color: white;
}

html.tablet .linkbar.gpfocus {
	background-color: white;
	color: black;
}


/* Add funds purchase area */
html.tablet .game_area_purchase_game {
	padding: 10px 16px;
	background: var(--gpBackground-DarkSoft);
	transition: all 0.3s ease;
	border-radius: unset;
}

html.tablet .game_area_purchase_game:focus-within {
	background: var(--gpBackground-LightMedium);
}

html.tablet .game_area_purchase_game .game_purchase_action_bg {
	background: unset;
}

html.tablet .game_area_purchase_game .game_purchase_price {
	background: unset;
	font: var(--gpText-BodyLarge);
}

html.tablet .addfunds_area_purchase_game {
	margin-bottom: 4px;
}

html.tablet .game_area_purchase_game .game_purchase_action_bg {
	display: flex;
	align-items: center;
	gap: 16px;
}

html.tablet .game_area_purchase_game .addfunds_purchase_action.game_purchase_action {
	margin-top: 6px;
}




/* PUCHASE HISTORY */

/* Page setup */
html.tablet .account_management {

}

/* Click hint */
html.tablet .wallet_history_click_hint {
	color: var(--gpStoreLightestGrey);
}

/* Load more button */
html.tablet #load_more_button {
	width: unset;
	text-transform: unset;
	padding: 10px 20px;
}

/* Wallet history table */
html.tablet .wallet_history_table {
	border: unset;
}

/* Table header */
html.tablet .wallet_history_table th,
html.tablet .account_table th {
	background-color: var(--gpColor-Blue);
	font: var(--gpText-BodyMedium);
	font-weight: 700;
	color: white;
	text-align: left;
	padding-left: 12px;
	text-transform: unset;
}

/* Table rows */
html.tablet .wallet_history_table tr,
html.tablet .account_table tr {
	background: var(--gpBackground-LightSofter);
	transition: all 0.1s ease;
	border: none;
}

html.tablet .wallet_history_table tr:hover,
html.tablet .wallet_history_table tr.gpfocus {
	background: var(--gpBackground-LightMedium);
	color: white;
}

html.tablet .wallet_history_table td {
	padding: 4px 12px;
}

html.tablet td.wht_date {
	text-align: unset;
	width: 24%;
	color: unset;
	font-size: unset;
}

html.tablet td.wht_wallet_change {
	color: unset;
	border-left: unset;
}

html.tablet td.wht_wallet_balance {
	color: unset;
}

html.tablet .wth_payment {
	color: var(--gpStoreLighterGrey);
}


/* Licenses */
html.tablet th.license_date_col,
html.tablet th.license_acquisition_col {
	width: 20%;
}

html.tablet .account_table th.license_date_col,
html.tablet .account_table td.license_date_col {
	text-align: left;
}

html.tablet table.account_table td {
	word-wrap: unset;
}

html.tablet .account_table tr,
html.tablet .wallet_history_table tr {
	line-height: unset;
}

html.tablet th.license_acquisition_col {
	text-align: right;
}

html.tablet th {
	padding-top: 8px;
	padding-bottom: 8px;
}


/* Family library sharing */
html.tablet .accountTable > tbody > tr:nth-child(odd) {
	background-color: unset;
	background-color: var(--gpBackground-LightSofter);
}

html.tablet .accountTable > tbody > tr:nth-child(even) {
	background-color: unset;
	background-color: var(--gpBackground-LightSofter);
}

html.tablet .accountTable > tbody > tr {
	transition: background-color 0.2s ease;
}

html.tablet .accountTable > tbody > tr:focus-within {
	background-color: var(--gpBackground-LightMedium);
	color: white;
}

html.tablet .accountTable th {
	font: var(--gpText-BodySmall);
	color: var(--gpStoreLighterGrey);
	font-weight: 500;
}

html.tablet .accountTable > thead > tr {
	background-color: var(--gpBackground-LightMedium);
}

html.tablet .accountTable a {
	color: var(--gpColor-Blue);
}

html.tablet .accountTable td {
	padding: 8px 12px;
}



/* GIFT CARD OR WALLET CODE */

html.tablet .redeem_wallet_code_login {
	padding: unset;
}

html.tablet #wallet_code_form {
	padding: unset;
}

html.tablet .wallet_code_label {
	font: var(--gpText-HeadingSmall);
	color: white;
	font-weight: 500;
}

html.tablet body.v6 .redeem_wallet_code_login h2 {
	font: var(--gpText-HeadingSmall);
	color: white;
	font-weight: 500;
	text-transform: unset;
}

html.tablet .wallet_code_input_ctn {
	display: flex;
	gap: var(--gpSpace-Gap);
	margin: 12px 0px 16px;
}

html.tablet #wallet_code_form h2 {
	display: none;
}

html.tablet #wallet_code {
	width: 50%;
	margin: unset;
}

/* Login buttons */
html.tablet .button_row {
	display: flex;
	gap: 12px;
}

html.tablet .button_row .btn_medium {
	margin-left: unset;
}

/* Upsell */
html.tablet .redeem_wallet_code_upsell {
	line-height: unset;
	padding: var(--gpSpace-Gutter);
	background: var(--gpBackground-DarkSoft);
	margin: 24px 0px;
}

html.tablet .redeem_wallet_code_upsell div {
	font: var(--gpText-BodyMedium);
	width: 60%;
	padding-top: unset;
	padding-bottom: 16px;
	color: var(--gpStoreLighterGrey);
}

/* Image */
html.tablet .redeemwalletcode #main_content {
	background-size: 240px;
	background-position-x: 86%;
	background-position-y: 60%;
}


/* EMAIL PREFERENCES */
html.tablet .checkout_content.cart_send_choice {
	background-color: var(--gpBackground-DarkMedium);
}

html.tablet label.send_choice_txt {
	font: var(--gpText-HeadingSmall);
	font-weight: 500;
}

html.tablet .email_pref_ctn.individual_pref {
	font: var(--gpText-BodyLarge);
	margin: 0px;
	background: none;
	border-top: 1px solid var(--gpBackground-LightSoft);
}

html.tablet .send_choice_inner.email_pref_ctn label {
	line-height: unset;
	padding: 0px;
}

html.tablet .checkout_content_box h3.tab_header {
	font: var(--gpText-BodyLarge);
	letter-spacing: unset;
	text-transform: unset;
	margin: 0px 0px 24px;
}