
.store_header_rewards_icon {
	height: 17px;
	vertical-align: middle;
	margin-top: -2px;
}

.store_header_rewards_btn {
	position: relative;
	background: linear-gradient(45.73deg, #2B5190 -10.06%, #2B5190 15.11%, rgba(62, 98, 156, 0) 22.27%, #2B5190 37.18%, rgba(68, 108, 175, 0.03) 71.29%, #2B5190 87.29%, #2B5190 97.3%), #2B5190;
	border-radius: 2px;
}