._3MfkIyTHK_txowyd2A_E1Z {
  position: fixed;
  background: #ccc;
  color: #000;
  padding: 4px;
}
._54gkGuAZz-pkR2y82lrA {
  font-size: 12px;
}
._3BTOSI6ZZswnhj45yGrbX8 {
  font-size: 10px;
  font-weight: italic;
}
._3cln317VYhwhE1fSeMCG48 {
  display: inline;
  font-weight: bold;
}
._3TPGDj4kc0QGKvO8FJmGz8 {
  display: inline;
  font-style: italic;
}
p._3lnqGBzYap-Z2T81XBiBUU {
  margin: 0.5em 0;
}
._2LYsFAwy8wdRJQTNJOUcsT {
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 4px;
}
._6-VR2WCBCDupCcUN5INQM {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
}
._1sGnlGwCeaGUp63h4Lx-pU {
  color: #fff;
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
}
._3VHY5vmO07MFpoOgTB9eOi {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
._1Vk-9-C_y-lBA5ucPl6t8X {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
}
.zCnp-VELUMybbfxOD-ze9 {
  align-items: center;
}
.WBzrd438Bd8Z3J-j_iglW {
  color: #fff;
  font-size: 11px;
  line-height: 13px;
}
.GrhFWtBdrSZP611s1UqqT {
  display: inline;
  text-decoration: underline;
}
._3pK7sh9FYdigMXxcUVI4DY {
  display: inline;
  text-decoration: line-through;
}
._3kRr4bh8twnlt_7wcEFZr3 {
  display: inline;
  box-sizing: border-box;
  color: #000;
  background-color: #000;
  padding: 0px 8px;
}
._3kRr4bh8twnlt_7wcEFZr3:hover,
._3kRr4bh8twnlt_7wcEFZr3._3g1-8c9NBcNDwW4-6x1pM6 {
  color: #fff;
}
._3kRr4bh8twnlt_7wcEFZr3:hover ._3r66KOH_Vckmfps3XUOVrY,
._3kRr4bh8twnlt_7wcEFZr3._3g1-8c9NBcNDwW4-6x1pM6 ._3r66KOH_Vckmfps3XUOVrY {
  visibility: visible;
  transition-delay: 80ms;
  transition-duration: 120ms;
}
._3kRr4bh8twnlt_7wcEFZr3 ._3r66KOH_Vckmfps3XUOVrY {
  visibility: hidden;
  transition-delay: 80ms;
  transition-duration: 120ms;
}
._1O62-3Y03GsnA0709QyJ_O {
  pointer-events: none;
}
._3MQ0Cuf_h-nZ81xIubg8rh {
  display: table;
  box-sizing: border-box;
  border: 1px solid #56707f;
  border-radius: 3px;
  padding: 12px;
  margin: 8px;
  font-size: 92%;
}
._1MzmaZcQPMRfrTHs3k0fIZ {
  display: block;
  font-style: italic;
}
._2kA0eAmv8ifh0zphoq4ntM {
  width: 33%;
  min-width: 200px;
  float: right;
  border-radius: 3px;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  display: table;
  word-break: break-word;
  line-height: 28px;
  padding: 0px 0px 10px 20px;
}
._2ODaX8lO7DKLKke76c2Wya,
._1I3OP84ayrCIMuBrCrkosi {
  font-size: 11px;
  font-family: Consolas, monospace;
  white-space: pre;
  white-space: pre-wrap;
}
._1I3OP84ayrCIMuBrCrkosi {
  display: block;
  border: 1px solid #535354;
  border-radius: 3px;
  padding: 12px;
  margin: 8px;
  overflow-x: auto;
}
._3Y-LRoi5aeZ9-3ujWjXuG3 {
  display: block;
  padding-inline-start: 40px;
}
.DojPxwyYpx3hwuPIaJPCq {
  display: block;
  padding-inline-start: 40px;
}
.DojPxwyYpx3hwuPIaJPCq .DojPxwyYpx3hwuPIaJPCq {
  margin-top: 4px;
}
._1iXxYKOlzzXiVr02E7n2Fe {
  list-style-position: outside;
  margin-bottom: 5px;
}
.-xPK0REpludHjRG8xQfih {
  border: none;
  height: 1px;
  color: #6e7577;
  background-color: #6e7577;
  margin: 12px 0px;
}
._2CAsiFd9UHbUOqzd0e7ioe {
  display: table;
  border-collapse: collapse;
  font-size: 14px;
}
._2CAsiFd9UHbUOqzd0e7ioe._1rO4D9vLxJRWz9sW4-ahSY {
  position: relative;
}
._2CAsiFd9UHbUOqzd0e7ioe._1rO4D9vLxJRWz9sW4-ahSY ._3FJk0y6E6I8nSYfCIqGP8,
._2CAsiFd9UHbUOqzd0e7ioe._1rO4D9vLxJRWz9sW4-ahSY
  ._3FJk0y6E6I8nSYfCIqGP8:first-of-type,
._2CAsiFd9UHbUOqzd0e7ioe._1rO4D9vLxJRWz9sW4-ahSY ._1PCHOM5zSRFfeHzwDmEukB,
._2CAsiFd9UHbUOqzd0e7ioe._1rO4D9vLxJRWz9sW4-ahSY
  ._1PCHOM5zSRFfeHzwDmEukB:first-of-type,
._2CAsiFd9UHbUOqzd0e7ioe._1rO4D9vLxJRWz9sW4-ahSY ._1NpENNz7rvObsTC99AQFda,
._2CAsiFd9UHbUOqzd0e7ioe._1rO4D9vLxJRWz9sW4-ahSY
  ._1NpENNz7rvObsTC99AQFda:first-of-type {
  border: none;
}
._2CAsiFd9UHbUOqzd0e7ioe._1CtoyG6UPAlYp7PCGLXx8L {
  width: 100%;
  table-layout: fixed;
}
._2CAsiFd9UHbUOqzd0e7ioe ._3FJk0y6E6I8nSYfCIqGP8 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
._2CAsiFd9UHbUOqzd0e7ioe ._3FJk0y6E6I8nSYfCIqGP8:first-of-type {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
._2CAsiFd9UHbUOqzd0e7ioe ._1PCHOM5zSRFfeHzwDmEukB {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
._2CAsiFd9UHbUOqzd0e7ioe ._1PCHOM5zSRFfeHzwDmEukB:first-of-type {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
._1NpENNz7rvObsTC99AQFda {
  display: table-cell;
  font-weight: bold;
  padding: 4px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
._1NpENNz7rvObsTC99AQFda:first-of-type {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
._3FJk0y6E6I8nSYfCIqGP8 {
  display: table-row;
}
._1PCHOM5zSRFfeHzwDmEukB {
  display: table-cell;
  vertical-align: middle;
  padding: 4px;
}
._2cmZMzZlRrszDBF97Di0cD .uAvfe31kBh5TZrse069d1 {
  padding: 3px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.11);
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  color: #aebac2;
}
._2cmZMzZlRrszDBF97Di0cD .uAvfe31kBh5TZrse069d1 ._3tVf4GSoWxEOZrxL_PQ4iA svg {
  margin-left: 10px;
  width: 12px;
  height: 12px;
  fill: #aebac2;
  transition: transform;
  transition-duration: 0.2s;
}
._2cmZMzZlRrszDBF97Di0cD .uAvfe31kBh5TZrse069d1:hover {
  color: #fff;
}
._2cmZMzZlRrszDBF97Di0cD
  .uAvfe31kBh5TZrse069d1:hover
  ._3tVf4GSoWxEOZrxL_PQ4iA
  svg {
  fill: #fff;
}
._2cmZMzZlRrszDBF97Di0cD ._33CTl_a7XYxFIng-fm4A5K {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px;
  border-radius: 2px;
}
._2cmZMzZlRrszDBF97Di0cD._1dfVJUq9KmDOuhyOZ7lcXv {
  padding-bottom: 8px;
}
._2cmZMzZlRrszDBF97Di0cD._1dfVJUq9KmDOuhyOZ7lcXv .uAvfe31kBh5TZrse069d1 {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  color: #fff;
  font-size: 19px;
  line-height: 22px;
  font-weight: 300;
}
._2cmZMzZlRrszDBF97Di0cD._1dfVJUq9KmDOuhyOZ7lcXv
  .uAvfe31kBh5TZrse069d1
  ._3tVf4GSoWxEOZrxL_PQ4iA {
  margin-left: auto;
}
._2cmZMzZlRrszDBF97Di0cD._1dfVJUq9KmDOuhyOZ7lcXv
  .uAvfe31kBh5TZrse069d1
  ._3tVf4GSoWxEOZrxL_PQ4iA
  svg {
  margin-right: 8px;
}
a._3TN0uESBGJ-kUDPWWX2YWz {
  background-color: #2681da;
  font-size: 14px;
  padding: 6px 20px;
  display: inline-block;
  border-radius: 3px;
  margin: 4px 0px;
}
a._3TN0uESBGJ-kUDPWWX2YWz span {
  color: #fff;
  padding-bottom: 6px;
}
a._3TN0uESBGJ-kUDPWWX2YWz:hover {
  background-color: #3691fa;
  color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
._3K0NuxYUYncdQ-cNK7udMn {
  max-width: 100%;
}
._3YMzBRWJTOo7eai1uFGV7i ._3SEDw4GZynd3ZmTQWlyOcS {
  color: #999;
  display: inline-block;
  margin: 0 2px;
}
._2SgPxDudv7oRkzlHsNm4_O {
  line-height: 1.5em;
  font-size: 14px;
}
._2SgPxDudv7oRkzlHsNm4_O .ProseMirror {
  word-wrap: break-word;
  padding: 10px 12px;
  min-height: 60px;
  max-height: 850px;
  overflow: auto;
}
._2SgPxDudv7oRkzlHsNm4_O ul {
  color: #acb2b8;
  margin-left: 16px;
  padding: 0;
  list-style-type: square;
}
._2SgPxDudv7oRkzlHsNm4_O ul li {
  list-style-type: inherit;
  margin-bottom: 8px;
  list-style-position: outside;
}
._2SgPxDudv7oRkzlHsNm4_O h2.BB_Header2 {
  margin-top: 18px;
  margin-bottom: 0px;
  background-image: none;
  font-size: 15px;
  color: #2f89bc;
  text-transform: none;
  letter-spacing: 0px;
}
._3EAE8BxFPnb_g0Ct5b4QzW {
  background-color: #1b2838;
  max-width: 615px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
}
h2._1aQY7Yz23XDN0N4IVctriG {
  font-family: "Motiva Sans", Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 2px 12px 0 12px;
  letter-spacing: 0.03em;
  font-weight: normal;
  line-height: 26px;
  position: relative;
}
h2._1aQY7Yz23XDN0N4IVctriG ._1dK_q5EmTZgebmJeCzHq1s {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right, #3a6e8b, rgba(58, 110, 139, 0));
}
