._2vGr9KsApU0s59_ZsZVxXY {
  background-color: #1c1e26;
  padding: 10px;
}
._3V8w8CrYHVYB0voJ3gp87x {
  max-width: 32px;
  max-height: 32px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  border-radius: 3px;
}
._3CqiH5i7kc5lXyEb0TGl2C {
  width: calc(100% - 20px);
  height: 200px;
}
._1WTiWXO3q8jMnJc_cPKJbE {
  text-overflow: ellipsis;
  overflow: hidden;
}
