.cZP-58cHflQCLG6CHvwKG {
  border-top: 1px solid #bbed08;
  background: radial-gradient(
      circle at top left,
      rgba(74, 81, 92, 0.4) 0%,
      rgba(75, 81, 92, 0) 60%
    ), #25282e;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
}
.cZP-58cHflQCLG6CHvwKG ._2TINcVLR2kmBWAVOOtG0cF {
  display: flex;
  flex-direction: row;
}
.cZP-58cHflQCLG6CHvwKG ._2N1THxFjyQb75AY6b7SpZX {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.cZP-58cHflQCLG6CHvwKG ._2N1THxFjyQb75AY6b7SpZX button {
  width: 200px;
}
.cZP-58cHflQCLG6CHvwKG .EN_YgGmWh95hbxn-2pmD5 {
  flex-grow: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.cZP-58cHflQCLG6CHvwKG ._-2I9CETSXyA66SWcV5iEv {
  font-size: 28px;
  font-weight: 400;
  color: #bbed08;
  margin-bottom: 2px;
}
.cZP-58cHflQCLG6CHvwKG ._2lG_bxKnQtJIUYWD19KGoy {
  font-size: 21px;
  color: #fff;
  font-weight: 200;
  margin-bottom: 20px;
}
.cZP-58cHflQCLG6CHvwKG ._3-WB4tkYQI0EftRXikEI4t {
  font-size: 16px;
  margin-bottom: 20px;
  color: #969696;
}
.cZP-58cHflQCLG6CHvwKG .bJHHP4182a1PZlP-rurGN {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.cZP-58cHflQCLG6CHvwKG .bJHHP4182a1PZlP-rurGN ._1P7AcuhlijPijxLhFPngFp {
  display: flex;
  flex-direction: row;
}
.cZP-58cHflQCLG6CHvwKG .bJHHP4182a1PZlP-rurGN ._1P7AcuhlijPijxLhFPngFp button {
  width: 200px;
  margin-right: 20px;
}
.cZP-58cHflQCLG6CHvwKG .bJHHP4182a1PZlP-rurGN ._2o-fIjMrt8xP5BFnQuwu_p {
  display: block;
}
.cZP-58cHflQCLG6CHvwKG .Vj8rXBuNz4JT-2Y8QgK36 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: flex-end;
}
.cZP-58cHflQCLG6CHvwKG .Vj8rXBuNz4JT-2Y8QgK36 button {
  width: 200px;
  margin-bottom: 8px;
}
.cZP-58cHflQCLG6CHvwKG ._2o-fIjMrt8xP5BFnQuwu_p {
  margin-top: 20px;
  font-size: 13px;
}
.cZP-58cHflQCLG6CHvwKG .DialogInput_Wrapper {
  margin-top: 10px;
}
.cZP-58cHflQCLG6CHvwKG ._2gIbttbPBWi6pXxhPzfmD5 {
  max-width: calc(100% - 20px);
  width: 100%;
  height: 200px;
}
.cZP-58cHflQCLG6CHvwKG ._2yUUHPTbyDbnoX2gCflGh- {
  color: #f44;
  font-size: 12px;
}
.cZP-58cHflQCLG6CHvwKG ._3EFpCoez_gInT6uBoW-MLR {
  color: #888;
  font-size: 12px;
}
._3GODeMU9hr5NrqreP7TL3E {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #000;
  justify-content: space-between;
}
._3GODeMU9hr5NrqreP7TL3E .Vj8rXBuNz4JT-2Y8QgK36 {
  display: flex;
  flex-direction: row;
}
._3GODeMU9hr5NrqreP7TL3E .Vj8rXBuNz4JT-2Y8QgK36 button {
  margin-left: 20px;
  width: 200px;
}
._2WB1wNg29mL3fTTeWX9HJU {
  align-items: center;
}
._2WB1wNg29mL3fTTeWX9HJU ._2rWSmSZSQLbv7D2bBBc6PO {
  margin: 40px auto 20px auto;
}
._3jQwVKtYzS0V9pBPwJTUW6 {
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
}
._3jQwVKtYzS0V9pBPwJTUW6 ._3zUBg8T8MJnKb-eS1s3sK6 button {
  margin-top: 15px;
  padding: 5px 10px;
}
._1H8COg73O0FBzdyTrSg2pu {
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
}
._1H8COg73O0FBzdyTrSg2pu .pu4VYcHm6vt6RCeDA73L0 {
  max-width: 400px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #f88;
  font-size: 20px;
}
._1H8COg73O0FBzdyTrSg2pu .soZLp0uToUv-yRJFwckG9 {
  width: 200px;
}
