._3oSHTIvUhbK90D9Uvj438V {
  display: flex;
  margin-bottom: 16px;
  border-bottom: 1px solid #67c1f5;
  align-items: flex-end;
  text-align: center;
  flex-wrap: wrap;
  gap: 16px;
}
._3lJb_YN8uykqLcm4eG1jRF {
  padding: 4px 12px;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  transition-property: border-bottom-color;
  transition-duration: .25s;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}
html.responsive.touch ._3lJb_YN8uykqLcm4eG1jRF {
  font-size: 12px;
}
@media screen and (max-width: 910px) {
  html:not(.force_desktop) ._3lJb_YN8uykqLcm4eG1jRF {
    font-size: 12px;
  }
}
._3lJb_YN8uykqLcm4eG1jRF._8XjrTFzaSA8ubHvHCu44L,
._3lJb_YN8uykqLcm4eG1jRF:hover {
  border-bottom-color: #67c1f5;
  cursor: default;
  cursor: pointer;
}
._25U4FBOpeZQAX-v-f9Yosb {
  text-transform: uppercase;
  font-size: 9px;
}
._3LaJynPDFfccGWUEtdltlt {
  font-size: 9px;
  color: #b22222;
}
._1iIRVlPDTEUMMEFuHgLGlq {
  color: #a4d007;
}
.UxdQKun4GcZ-B1NJwHevX {
  color: #e24044;
}
.E9t9jUT0k_0xGdy7HbJfd {
  color: #e76e34;
}
._3iKeBOMuwqPC87BLxvCKll .SectionTitleHeader {
  margin-top: 0px;
}
._3iKeBOMuwqPC87BLxvCKll .EventEditorTextTitle {
  text-transform: unset;
  letter-spacing: 0;
}
._3HCTdN7N0hxyB7WCoQkX-l {
  display: flex;
  flex-direction: column;
  background: #2c2e35;
  padding: 12px;
  margin-bottom: 8px;
}
._12wSR9wtG84Yh4obIARUAy {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-bottom: 8px;
}
._12wSR9wtG84Yh4obIARUAy ._1bLTz07sQnRA0DjTpjXCza {
  color: #fff;
  font-size: 21px;
  margin-right: 4px;
}
._12wSR9wtG84Yh4obIARUAy ._6accgtG1qR7tHFL1wnO58 {
  margin-left: 10px;
}
._12wSR9wtG84Yh4obIARUAy ._3VdcJeFNzpiS6C6nzlzZfv {
  display: flex;
  align-items: baseline;
}
._12wSR9wtG84Yh4obIARUAy ._2T7-EVSiD7wt3kh-UtbFwJ {
  display: flex;
}
._1LKv33ip1CbofO_817Nx6_ {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #000;
  height: 10px;
}
._1LKv33ip1CbofO_817Nx6_ ._3lS1D6vNLfl6RVGdhdgWTY {
  background: #549ef1;
  height: 10px;
}
._1LKv33ip1CbofO_817Nx6_ ._3lS1D6vNLfl6RVGdhdgWTY.ndEhtgivpXhCilYDnAAVe {
  background: #a4d007;
}
._2OGsXaLxpf_2IFP6hi2egn {
  font-size: 18px;
}
._3dLuE6Vg6u_xDsbtxjzVLZ {
  padding-left: 20px;
}
._1QCMW1MwEkiLeTlmhMvSs_ {
  display: block;
}
._36QJs1BZ3so19Xl2es3ihH {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--fancy-table-row-background, #444);
}
._36QJs1BZ3so19Xl2es3ihH[data-even="true"] {
  background-color: var(--fancy-table-even-row-background, #666);
}
.g86xV6xEGOZ54uRvK3oQ4 {
  background-color: var(--fancy-table-expandable-row-background, #303238);
  color: var(--fancy-table-expandable-row-color, #8f96a3);
  padding-top: 8px;
  padding-bottom: 2px;
}
.g86xV6xEGOZ54uRvK3oQ4[data-even="true"] {
  background-color: var(--fancy-table-expandable-even-row-background, #303238);
}
._2mHaS291U0AFO1q99AVdLy {
  background-color: var(--fancy-table-header-background, #333);
}
._4y4yrbyr89wNqTGLp049k {
  position: sticky;
  top: 0;
  z-index: 1;
}
:where(._3m5AH2HSnsvjImS7uUpvxv) {
  padding: var(--fancy-table-cell-padding, 4px);
  box-sizing: border-box;
  background-color: var(--fancy-table-row-background, #444);
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100%;
}
[data-even="true"] > :where(._3m5AH2HSnsvjImS7uUpvxv) {
  background-color: var(--fancy-table-even-row-background, #666);
}
:where(._3m5AH2HSnsvjImS7uUpvxv):not(
    :nth-last-child(1 of ._3m5AH2HSnsvjImS7uUpvxv)
  ) {
  border-right: var(--fancy-table-cell-border, 1px solid #aaa);
}
:where(._3m5AH2HSnsvjImS7uUpvxv) input {
  scroll-margin: var(--fancy-table-scroll-margin);
}
._2xr81ssapVQO5aalcANmCk {
  padding: 0;
  text-align: initial;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}
._2XdcqH-eLWVp_qatDebc6J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: var(--fancy-table-column-header-align-items, center);
  justify-content: center;
  padding: var(--fancy-table-column-header-padding, 4px);
  font-weight: bold;
  box-sizing: border-box;
  text-shadow: var(--fancy-table-header-text-shadow, none);
  background-color: var(--fancy-table-header-background, #333);
}
._2XdcqH-eLWVp_qatDebc6J[aria-sort] {
  background-color: var(--fancy-table-column-header-sorted-background, #9297a5);
}
._2XdcqH-eLWVp_qatDebc6J[data-pinned="true"] {
  background-color: var(
    --fancy-table-pinned-column-header-background,
    var(--fancy-table-header-background, #333)
  );
}
._2XdcqH-eLWVp_qatDebc6J:not(:nth-last-child(1 of ._2XdcqH-eLWVp_qatDebc6J)) {
  border-right: var(--fancy-table-cell-border, 1px solid #aaa);
}
._2XdcqH-eLWVp_qatDebc6J:hover {
  background-color: var(--fancy-table-header-hover, #1a1a1a);
}
.USh_UNRX22s8Wml0mCY3M {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  width: 5px;
  padding: 0;
  opacity: 0;
  border: none;
  cursor: ew-resize;
  user-select: none;
  touch-action: none;
}
.USh_UNRX22s8Wml0mCY3M._3wzyEuMO8BdQHAkXnneNRR {
  right: unset;
  left: 0;
}
._6z0ftV9RCqbZFmC4EOzYZ {
  margin-left: auto;
  margin-right: 5px;
}
._6z0ftV9RCqbZFmC4EOzYZ::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  border-bottom: 6px solid var(--fancy-table-sort-arrow-color, currentColor);
}
[aria-sort="descending"] > ._6z0ftV9RCqbZFmC4EOzYZ::after {
  border-bottom: none;
  border-top: 6px solid var(--fancy-table-sort-arrow-color, currentColor);
  color: var(--fancy-table-sort-arrow-color, currentColor);
}
._3I86V1lT4xbDJ6FDjMIaMq {
  margin-inline-start: auto;
  margin-inline-end: 10px;
}
._3I86V1lT4xbDJ6FDjMIaMq::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  border-bottom: 6px solid var(--fancy-table-sort-arrow-color, currentColor);
  transition: transform 80ms linear;
  transform: rotate(90deg);
}
[aria-expanded="true"] > ._3I86V1lT4xbDJ6FDjMIaMq::after {
  transform: rotate(180deg);
}
._uckWydn-lyPGWjFKZ4Tm {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: inherit;
  border: none;
  position: sticky;
  left: 0;
  padding: 2px 5px;
  font-size: 12px;
}
._2QfZu5-7jOdld1h2nYbca8 {
  font-size: 12px;
}
._2JSoC65mCQdxh-B_srjUjf {
  user-select: text;
}
._2g5oNomwd2lv8wL2qlsLVA {
  display: flex;
}
._2g5oNomwd2lv8wL2qlsLVA .DialogButton {
  width: 36px;
  height: 30px;
  margin-left: auto;
  margin-top: auto;
}
._3yDPZjnsoLc2FkrAH2UOEd {
  display: flex;
}
._3yDPZjnsoLc2FkrAH2UOEd:not(:first-child) {
  margin-top: 60px;
}
._2g5oNomwd2lv8wL2qlsLVA .EventEditorTextTitle {
  padding-top: 6px;
}
._8n9wPNrWDu91tlwBW9bHt table tr:nth-child(odd) td {
  background: #3b3e47;
}
._8n9wPNrWDu91tlwBW9bHt table td {
  background: #32353c;
}
._8n9wPNrWDu91tlwBW9bHt table td svg {
  width: 40px;
  height: 40px;
  color: #3081bb;
}
._8n9wPNrWDu91tlwBW9bHt ._355XkH0xfIpJF1YsMX7I7k {
  color: #189cff;
  font-size: 30px;
  line-height: 30px;
}
._3bta6oovSNKe3Nv2b67SmP {
  display: flex;
  flex-direction: row;
  align-items: center;
}
._3bta6oovSNKe3Nv2b67SmP ._1E-g4exFlAQhvXDqspYTR0 {
  flex-grow: 1;
  margin-right: 20px;
}
._1ZG5Z9nFYtYu3B7aksbG67 {
  line-height: 24px;
}
._3AoiDJJ1RWLAWBwcOjgm3f {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 16px;
  background: linear-gradient(90deg, #353b45, transparent);
  padding: 8px;
  border-radius: 5px;
}
._1olTwzPkPjzL36u0WgyDG0 textarea {
  width: 100%;
}
._1olTwzPkPjzL36u0WgyDG0 table tr:nth-child(odd) td {
  background: #3b3e47;
}
._1olTwzPkPjzL36u0WgyDG0 table td {
  background: #32353c;
}
._1olTwzPkPjzL36u0WgyDG0 table td svg {
  width: 40px;
  height: 40px;
  color: #3081bb;
}
._1olTwzPkPjzL36u0WgyDG0 ._3d0cYrmQzzda_P3DQ994kX {
  color: #189cff;
  font-size: 30px;
  line-height: 30px;
}
._1xRt0l_W6ami9_cnLrxvfj {
  font-size: 14px;
  color: #fff;
}
