.IJS5RTzyM-kkF_NerVv-h {
  display: flex;
  flex-direction: row;
  width: unset !important;
  padding: 0px 20px !important;
  color: #d2e885 !important;
  background: linear-gradient(to bottom, #799905 5%, #536904 95%) !important;
  font-size: 15px !important;
}
.IJS5RTzyM-kkF_NerVv-h.DialogButton:hover {
  color: #fff !important;
  background: linear-gradient(to bottom, #a1bf07 5%, #80a006 95%) !important;
}
._1FrGxLLJNyWZswyE9TGS3N {
  margin-bottom: 10px;
  border: 1px solid #ffffff40;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 5px;
}
._1FrGxLLJNyWZswyE9TGS3N .f3pCBilbcCpf8q3EUD2fp {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
._1FrGxLLJNyWZswyE9TGS3N ._1CaApUvC8ichAOgldt6XZm {
  font-size: 13px;
  padding: 5px 0px;
}
._1FrGxLLJNyWZswyE9TGS3N ._3F09B-c90Mi_ABQSFt8qlI {
  background: orange;
  padding: 1px 6px;
  border-radius: 4px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-left: 6px;
}
._1OBXzq4UPq3-gsMTLeYfY9 {
  display: flex;
  flex-direction: row;
}
.pLKmGv4Xj5TT4QzAiqJbl {
  position: relative;
}
._3M8uv7MOpPLlcTKvrQA-YQ {
  display: inline-block;
  color: #d0d0d0;
  font-size: 0.9em;
}
._3M8uv7MOpPLlcTKvrQA-YQ._31mu_yCc2H6TQWT3IQuIJx {
  position: sticky;
  top: 0;
}
._3YUZnUph1CrJsggSTF3VIl {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
._3YUZnUph1CrJsggSTF3VIl.ZDlMHTzEKVfLbowWH_PMU {
  margin-top: unset;
}
._2ht2tj6FCHeu648083Qs2c {
  cursor: pointer;
  user-select: none;
  width: 30px;
  text-align: center;
  background-color: #3d444b;
  margin: 2px;
}
._2ht2tj6FCHeu648083Qs2c._3Z-w7oH5-5mlbU3U85VEHA {
  cursor: unset;
  opacity: 0;
}
.iHTm_nhWExDmRYj1ZH9wP {
  cursor: pointer;
  user-select: none;
  width: 50px;
  text-align: center;
  background-color: #3d444b;
  margin: 2px;
}
.iHTm_nhWExDmRYj1ZH9wP._3Z-w7oH5-5mlbU3U85VEHA {
  cursor: unset;
  opacity: 0;
}
._2rZatjHzK7ErWtDXDdkcuX {
  flex: 1;
  flex-shrink: auto;
  text-align: center;
  margin: 2px;
}
._2g35MI6SaxueceaSk6XLW3 {
  display: flex;
}
.PRNbjgB8P-sJzTkJtkOAN {
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 6px 2px 2px 2px;
}
._357j5Ue2p6c9meuGmYfhRQ {
  user-select: none;
  display: flex;
  width: 30px;
  height: 29px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #3d444b;
  margin: 2px;
}
._357j5Ue2p6c9meuGmYfhRQ.RgAj-iO11EaOOuYbKYbhT {
  opacity: 0.5;
}
._357j5Ue2p6c9meuGmYfhRQ._3Z-w7oH5-5mlbU3U85VEHA {
  opacity: 0;
}
._357j5Ue2p6c9meuGmYfhRQ._1OK2i1Q0ALzwEnym_uD5VY {
  cursor: pointer;
  position: relative;
}
._357j5Ue2p6c9meuGmYfhRQ._1OK2i1Q0ALzwEnym_uD5VY::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #cf980c;
  border-radius: 2px;
  transform: translateX(2px) translateY(2px);
}
._357j5Ue2p6c9meuGmYfhRQ._1icgqDPNBrXFNdLBAlZjCX {
  cursor: pointer;
  position: relative;
}
._357j5Ue2p6c9meuGmYfhRQ._1icgqDPNBrXFNdLBAlZjCX::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #cf520c;
  border-radius: 2px;
  transform: translateX(2px) translateY(2px);
}
._357j5Ue2p6c9meuGmYfhRQ._3hEVJV0mh3g3Jj-D7EXcNQ {
  cursor: pointer;
  color: #fff;
  box-shadow: inset 0px 0px 0px 2px #e4be85;
}
._357j5Ue2p6c9meuGmYfhRQ.xCJCORmUF-CpiLFwbOwnf {
  cursor: pointer;
  color: #fff;
  background-color: #426283;
}
._357j5Ue2p6c9meuGmYfhRQ._2jrTKty-CD5SCc0FFcsuW- {
  cursor: pointer;
  color: #fff;
  background-color: #657f2d;
}
._357j5Ue2p6c9meuGmYfhRQ.xCJCORmUF-CpiLFwbOwnf._2jrTKty-CD5SCc0FFcsuW- {
  cursor: pointer;
  background: linear-gradient(135deg, #426283 50%, #657f2d 50%);
}
._357j5Ue2p6c9meuGmYfhRQ.jLl9ckcUcEAjaCSnlSjnJ {
  box-shadow: inset 0px 0px 0px 1px silver;
  filter: brightness(130%);
}
._10Y9xUl-lBM0iXXXk3JTG2 {
  background-color: #2a2d32;
  padding: 4px 6px;
  border: 1px #434953 solid;
}
._1pcCcxuWCl8D7l8D6fcYCY {
  background-color: #2a2d32;
  margin-bottom: 8px;
}
._3-gBe77wkGQK1K_xYgOwbE {
  color: #fff;
  margin: 4px 0;
  padding: 0 6px;
}
._3-gBe77wkGQK1K_xYgOwbE.xCJCORmUF-CpiLFwbOwnf {
  background-color: rgba(66, 98, 131, 0.5);
}
._3-gBe77wkGQK1K_xYgOwbE._2jrTKty-CD5SCc0FFcsuW- {
  background-color: rgba(101, 127, 45, 0.5);
}
._3-gBe77wkGQK1K_xYgOwbE._1OK2i1Q0ALzwEnym_uD5VY {
  background-color: rgba(207, 152, 12, 0.5);
}
._3-gBe77wkGQK1K_xYgOwbE._1icgqDPNBrXFNdLBAlZjCX {
  background-color: rgba(207, 82, 12, 0.5);
}
.c0Fj6iwnP09NGMqTBw4pb {
  margin-top: 20px;
  margin-left: 40px;
  width: 100%;
}
.c0Fj6iwnP09NGMqTBw4pb.ZDlMHTzEKVfLbowWH_PMU {
  margin-top: unset;
  margin-left: unset;
}
._8d4Ab7hW_DuAvpzaBwndV {
  display: flex;
  justify-content: flex-end;
}
._1ddIHj3KWI6Wpfn2kYMaHW {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 4px;
  margin-bottom: 8px;
}
._2_igLJj1mqpdpW15ec_8Tx {
  flex: 1;
  padding: 6px 40px 6px 32px;
  background: #00000080;
  border: none;
}
._2bk4MK0dTL2BVrzvl9yr9w {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
._1n8veXnv5oBHfjG0l5I8-Y {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
._1sKgklaDRNP7rHtE_6Yff9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
._1VsjyvH_Qjf3r0bxpSfx3V {
  width: 100%;
  max-height: 600px;
  position: relative;
}
._1VsjyvH_Qjf3r0bxpSfx3V.moY4QzLn4xaOpu2clsn6r {
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
._1VsjyvH_Qjf3r0bxpSfx3V._1aIkESy0vIWk6irYOhJ8aZ {
  max-height: none;
}
._2rUzIpgQG6FxSVIBdtk0xY.ZDlMHTzEKVfLbowWH_PMU {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  background: linear-gradient(186deg, #ffffff14 0px, transparent 140px);
  padding-top: 18px;
  margin-right: -16px;
  padding-right: 16px;
}
._2rUzIpgQG6FxSVIBdtk0xY.ZDlMHTzEKVfLbowWH_PMU::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, transparent, #ffffff40);
}
._2rUzIpgQG6FxSVIBdtk0xY.ZDlMHTzEKVfLbowWH_PMU ._1lMzit4bY9M7NatDkjOYsQ {
  display: none;
}
._1PgBwG06u7lkqBrHh0lGdh.ZDlMHTzEKVfLbowWH_PMU {
  margin: 0 20px 0 4px;
  height: min-content;
  position: sticky;
  top: 0;
}
._2gBsUSd4zPyGk451opeP1k {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}
._2gBsUSd4zPyGk451opeP1k.ZDlMHTzEKVfLbowWH_PMU {
  margin-bottom: unset;
}
._1lMzit4bY9M7NatDkjOYsQ {
  text-transform: uppercase;
}
._10JRf2tdkaLJebvk26APzf {
  margin-bottom: 16px;
}
._2OvrUC8yEPw0y-ETj60eRx {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 2px;
  margin-right: 5px;
  background-color: #2a2d32;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}
._2OvrUC8yEPw0y-ETj60eRx._384GPMgcGpGAZupvxEFWks {
  opacity: 0.75;
}
._2OvrUC8yEPw0y-ETj60eRx._384GPMgcGpGAZupvxEFWks ._3Yf1aBV0kEJOFF9_9v_Ok1 {
  filter: blur(18px) saturate(0.2) brightness(0.5);
}
._2OvrUC8yEPw0y-ETj60eRx:hover {
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8) inset;
}
._2JVkFc02Z_gli3Wk58ZdCn {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  height: 28px;
  color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
._2JVkFc02Z_gli3Wk58ZdCn ._1PWl9VImc2pIq7OdlNtrVN {
  color: #ca5029;
  margin-left: 4px;
}
._2JVkFc02Z_gli3Wk58ZdCn ._34znTi9--bnqLmasQq4rQk {
  font-size: 0.8em;
  flex: 1;
  margin-right: 4px;
  text-align: right;
  color: #a7afb3;
}
._3XINnjVCEbWVyB05BBYltE {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 28px;
  font-size: 14px;
}
._3XINnjVCEbWVyB05BBYltE._1OK2i1Q0ALzwEnym_uD5VY {
  background-color: #cf980c;
}
._3XINnjVCEbWVyB05BBYltE._1icgqDPNBrXFNdLBAlZjCX {
  background-color: #cf520c;
}
._3XINnjVCEbWVyB05BBYltE.xCJCORmUF-CpiLFwbOwnf {
  background-color: #426283;
}
._3XINnjVCEbWVyB05BBYltE._2jrTKty-CD5SCc0FFcsuW- {
  background-color: #657f2d;
}
._1VxkAwTIvWU2gB-71xXUDP {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0px 6px;
  flex: 1;
  text-align: left;
  background-color: #ffffff1a;
  backdrop-filter: blur(8px);
  font-size: 14px;
  font-weight: 400;
}
._2L_1oiBHK2dz3vQ1TBnm9j {
  text-align: left;
  padding: 8px 16px 10px 29px;
  position: relative;
}
._3BVPhbdEe8mENSA5TF3znJ {
  align-self: center;
  background: #505962;
  padding-left: 12px;
  padding-right: 12px;
}
._1sCXlT55_hE5R_DYWs2qzj {
  display: flex;
}
._1sCXlT55_hE5R_DYWs2qzj ._3sqg0fMDMr7OmDzXzE57W- {
  display: flex;
  flex-direction: column;
  margin: 0 0 6px 0;
  justify-content: center;
  gap: 6px;
}
._1sCXlT55_hE5R_DYWs2qzj._2c0_UJn4Tpz1GL_J-ChdHP ._3sqg0fMDMr7OmDzXzE57W- {
  margin-left: 14px;
}
._22wo1MvrX6TPgkDRtkW9sx {
  display: block;
  width: 192px;
  height: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
._22wo1MvrX6TPgkDRtkW9sx img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
._2yeWc4Vfpz2Mx_uozaEsss {
  display: flex;
  width: 192px;
  height: auto;
  border: 1px #434953 solid;
  align-items: center;
  justify-content: center;
}
._3_C_TA37Za9oeBg5-B5yEP {
  display: flex;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
._3I6UZDLKqv2wS3o6gw2YZ8 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  width: 120px;
}
._27pclW_hEblq7v3PFdu3fV {
  font-size: 12px;
  color: #fff;
}
._16Qw0iB0ORV7o-6_BVm3uq {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._2NRgF3rgP--686UrLJK65n {
  display: flex;
  flex-direction: row;
}
._2NRgF3rgP--686UrLJK65n ._1M_-mbiZxdn4NqhpFoKw9f {
  font-size: 16px;
  font-weight: 200;
  margin-right: 4px;
}
._2NRgF3rgP--686UrLJK65n ._2Q5EbM0lY7L2ibqu4FL_qt {
  font-size: 16px;
  font-weight: 400;
  color: #acacac;
}
._2NRgF3rgP--686UrLJK65n ._2Q5EbM0lY7L2ibqu4FL_qt._1Sbpo45i_svDxpXZsCF5-K {
  color: #a4d007;
}
._2NRgF3rgP--686UrLJK65n ._2Q5EbM0lY7L2ibqu4FL_qt._387XqcrvQwvpzEA1vJ1wlB {
  color: #a4d007;
}
.VXok7mKJpXFIBjQBLIvh- {
  position: relative;
  display: grid;
  grid-template-columns: 192px auto auto 0fr;
  grid-template-areas: "text text buttons" "status status buttons";
}
.VXok7mKJpXFIBjQBLIvh-._3pWi_px3yJX0azhLcPr_LN {
  grid-template-areas: "image text buttons" "status status buttons";
}
.VXok7mKJpXFIBjQBLIvh-._3pWi_px3yJX0azhLcPr_LN ._1n53rAYRtJXXRA-lRajbXF {
  margin: 0 8px 0 14px;
}
.VXok7mKJpXFIBjQBLIvh-._1yzO7XD_gqqLhc_RcqM5y6 ._1grQoVDvG8Nr4_coXHDlAv {
  filter: blur(26px);
}
.VXok7mKJpXFIBjQBLIvh-._1yzO7XD_gqqLhc_RcqM5y6 ._2VZKTMQCK5Kt-lgquMVK81 {
  font-size: 24px;
}
._1HOWqt0TzoT_xyD3HtOGgB {
  position: relative;
  grid-area: image;
  display: flex;
  width: 192px;
  justify-content: center;
  align-items: center;
}
._1HOWqt0TzoT_xyD3HtOGgB img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
._1grQoVDvG8Nr4_coXHDlAv {
  position: absolute;
  width: 1000px;
  height: auto;
  opacity: 0.4;
  filter: blur(6px);
  transform: scale(1.07) translateY(-28px);
}
._1n53rAYRtJXXRA-lRajbXF {
  grid-area: text;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2px 8px 1px 0;
  justify-content: center;
  gap: 6px;
}
._33ZlQAMhN22Aw902Omlocy {
  display: flex;
  flex-direction: column;
}
._33ZlQAMhN22Aw902Omlocy._3dNRuRCyAmnE8DAurBSqFq {
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 6px;
}
._33ZlQAMhN22Aw902Omlocy._3dNRuRCyAmnE8DAurBSqFq ._3TiU93n7jVLF7Thhizvvg1 {
  font-size: 18px;
  font-weight: 200;
  margin-left: 4px;
}
._2VZKTMQCK5Kt-lgquMVK81 {
  display: flex;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
._2VZKTMQCK5Kt-lgquMVK81 a {
  text-decoration: none;
  color: #fff;
}
._2VZKTMQCK5Kt-lgquMVK81 a:hover {
  opacity: 0.8;
}
.zjHNbIk0sNUO47ZDiM6M- {
  color: #cf980c;
  font-weight: 600;
}
._3OEQpFpCnwLcs6fDU_N1G7 {
  grid-area: warnings;
  color: #ca5029;
}
._3sPVSLfK7h9WoWXk-VgHJf {
  margin-bottom: 65px;
}
._3TiU93n7jVLF7Thhizvvg1 {
  font-size: 12px;
  color: #ffffffb3;
}
._31fMYhZb6aTXkVQ030Krza {
  position: relative;
  grid-area: status;
  display: flex;
  margin-top: 4px;
}
._25vZ86EFjtg3d_5IrgrL-C {
  display: flex;
  flex-direction: column;
  background-color: #ffffff21;
  box-shadow: 2px 2px 10px #0000002b;
  width: 110px;
  height: 60px;
  margin: 2px;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s linear;
}
._25vZ86EFjtg3d_5IrgrL-C._898pR7849_yT8ZWFOtC6 {
  visibility: hidden;
  opacity: 0;
}
._1bBXZX6xtzkudUBnU93lPo {
  font-size: 12px;
  color: #fff;
}
.bSHqtzfCtCAu7QELTy2-t {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
._1aQ19lVLLxNItGzt-UlQ6C {
  display: flex;
  flex-direction: column;
  background-color: #363b42;
  padding: 4px;
  border: 1px #434953 solid;
}
._2FRaD4wbK4aUqJm1pPEfRR {
  opacity: 0.5;
}
._1Pd9CgAQME29cQKbCd9qfN {
  position: relative;
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  align-self: end;
  justify-self: end;
}
._3qIPl-2rtghu5e6FOR9lV_ {
  background: #ffffff36;
  backdrop-filter: blur(18px);
  width: 164px;
  font-size: 12px;
  margin: 4px;
  transition:
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
._3qIPl-2rtghu5e6FOR9lV_:hover {
  background-color: #ffffff52;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}
._2M_ShTFVade7EwhUk5-irN {
  font-size: 12px;
  margin-left: 4px;
}
._3G-O4ejlDgEhRIwpTIA9wq {
  color: #fff;
  margin-left: 4px;
}
.KJBbOCy-N47ZdyXKj82el {
  color: #cf980c;
}
._1dMX7vWFF-yQ7CzRaOEooa {
  color: #cf520c;
}
