.dailydeals_ButtonDailyDealDashboard_IJS5R {
  display: flex;
  flex-direction: row;
  width: unset !important;
  padding: 0px 20px !important;
  color: #d2e885 !important;
  background: linear-gradient(to bottom, #799905 5%, #536904 95%) !important;
  font-size: 15px !important;
}
.dailydeals_ButtonDailyDealDashboard_IJS5R.DialogButton:hover {
  color: #fff !important;
  background: linear-gradient(to bottom, #a1bf07 5%, #80a006 95%) !important;
}
.section_Section_1FrGx {
  margin-bottom: 10px;
}
.section_Section_1FrGx .section_Title_f3pCB {
  margin-top: 20px;
  font-size: 18px;
  color: #67c1f5;
  border-bottom: 1px solid #444;
}
.section_Section_1FrGx .section_Body_1CaAp {
  font-size: 13px;
  padding: 5px 0px;
}
