._33nIbw5FB3FiuhUid6pNCS {
  background-color: hotpink;
}
.dhnmdtQCg9NlRTlO2CiRm tr {
  background: #000;
}
._2B82L-Dg0mrzOe1OkzCeN8 {
  color: #000;
}
._1n-Sq-XrzUPQrrWRQVdhtq {
  min-height: 500px;
  min-width: 500px;
}
._2p-FIFIwIlMJ256q0Zj7lo {
  background: #000;
  padding: 12px;
}
._3HyTVTASSmLacvaM964sgu:first-child {
  margin-bottom: 12px;
}
._3HyTVTASSmLacvaM964sgu:last-child {
  margin-bottom: 0px;
}
._2lG5hFYhu9PGPn6RoFeQOL {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 3px;
  position: relative;
}
._1she-lvNiCP3ASjTnl4q7x {
  line-height: 24px;
}
._1fCy4cz5Hyj9wDivcVseuc input._3JGsBe8Ou5QGqfihv0OPed {
  font-size: 15px;
}
._2QIVvn2p9gUwsAlifi-nkM {
  margin-left: 20px;
  margin-top: 8px;
}
._2P2kw0vHZogg7Ny7cAjQBo {
  max-width: 200px;
}
._3JGsBe8Ou5QGqfihv0OPed {
  max-width: 100px;
}
._18FxDrpsfO5Tt8EFui49hV {
  display: block;
  line-height: 22px;
  padding: 10px;
  font-size: 14px;
}
.-x3Rw6W2fJfWRMs7vKr1I {
  padding: 10px;
}
._1_H1sN2GVTzxSaz55gv03s._2xLBsAMYVDoygyWbl2YIzI {
  margin-right: 8px;
}
.BWmgg29ZeDbO6oj7Z1U7T {
  justify-content: flex-start;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(57, 61, 71, 0.5);
}
._3ECiyuGLUqPzuS1hKCdfDm {
  margin-top: 5px;
  padding-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  padding-left: 20px;
  border-left: #399aec 1px solid;
}
._3ECiyuGLUqPzuS1hKCdfDm > ._1BIlZEGSO_4tw5Lmc1Kkbf {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  width: 50%;
}
._3ECiyuGLUqPzuS1hKCdfDm > .jwuNowbLB28M6nkqFkF_C > span {
  margin-bottom: 0px;
}
._3B0QM3cOEqER2AD2Y85NFy {
  display: flex;
  flex-direction: column;
}
._1WleIEEiF-9nJ57tLWkRmS {
  padding: 10px;
  border-radius: 3px;
  background: rgba(57, 61, 71, 0.5);
}
._4gWwydbAbp2t1NCeW9LLV {
  margin-top: 12px;
}
._1Ao_g72kBAdoOo0lGUG7Mr {
  position: absolute;
  top: -13px;
  left: 30px;
  background: #744f4f;
  padding: 2px 8px 2px 2px;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  box-shadow: 1px 1px 8px #000;
}
._1Ao_g72kBAdoOo0lGUG7Mr img {
  margin-right: 4px;
}
._2cuu0nLVc4medg6FpU6PQl {
  max-width: 32px;
  max-height: 32px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  border-radius: 3px;
}
._2g5oNomwd2lv8wL2qlsLVA {
  display: flex;
  justify-content: space-between;
}
._2g5oNomwd2lv8wL2qlsLVA .DialogButton {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}
._2g5oNomwd2lv8wL2qlsLVA .DialogButton SVG {
  width: 16px;
  height: 16px;
}
.RGHKm1_KeaBjdzuvisfYN {
  display: flex;
  gap: 5px;
  margin-right: 5px;
}
._3yDPZjnsoLc2FkrAH2UOEd {
  display: flex;
}
._3yDPZjnsoLc2FkrAH2UOEd:not(:first-child) {
  margin-top: 60px;
}
._2g5oNomwd2lv8wL2qlsLVA .EventEditorTextTitle {
  padding-top: 6px;
}
._3gnQfZ3NUW9NFF3WllsQ6b {
  position: relative;
}
