._3Vqm_VeN4ssp-Plt0sq9f- {
  border-top: 1px solid #bbed08;
  background: radial-gradient(
      circle at top left,
      rgba(74, 81, 92, 0.4) 0%,
      rgba(75, 81, 92, 0) 60%
    ),
    #25282e;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._1VJcGIkGXCYh0gu5XTfN8F {
  font-size: 28px;
  font-weight: 400;
  color: #bbed08;
  margin-bottom: 20px;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._1iOSDTa4VQiMZClYcvyBqJ ._2nfRCSDfwq2_xoi3dB77TJ {
  width: 45%;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._1iOSDTa4VQiMZClYcvyBqJ .JhdeVCLD5Nn-qer67zICK {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._1iOSDTa4VQiMZClYcvyBqJ
  .JhdeVCLD5Nn-qer67zICK
  .DialogInputLabelGroup {
  width: 45%;
  display: inline-block;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._1iOSDTa4VQiMZClYcvyBqJ
  .JhdeVCLD5Nn-qer67zICK
  .DialogInputLabelGroup
  .DialogLabel {
  width: 30%;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._1iOSDTa4VQiMZClYcvyBqJ ._1m5EkOjBrsq1TFE-Qr82zi {
  flex-direction: column;
  margin-left: auto;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._1iOSDTa4VQiMZClYcvyBqJ
  ._1m5EkOjBrsq1TFE-Qr82zi
  button {
  width: 200px;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._15kPlJ6rH5w4pXTrO43FBC {
  color: #f44;
  font-size: 12px;
}
._3Vqm_VeN4ssp-Plt0sq9f- .xl0L8ayTr8Vlmddp5nsh_ ._2zXcRle-2BH9RfK4FpK91K {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._33Z20EyKgVCf_gw2o-dJuM {
  border: 1px solid #bbed08;
  padding: 10px;
  margin-bottom: 20px;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._33Z20EyKgVCf_gw2o-dJuM ._2Ckxnlhp2zC2AmsUxs9hA4 {
  width: 100%;
  display: flex;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._33Z20EyKgVCf_gw2o-dJuM
  ._2Ckxnlhp2zC2AmsUxs9hA4
  .ZLIDfPw1nsKeKLQOzyQE2 {
  display: inline-block;
  flex-grow: 100;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._33Z20EyKgVCf_gw2o-dJuM
  ._2Ckxnlhp2zC2AmsUxs9hA4
  ._3owUM5gBDF_RV2qXJQkvk1 {
  display: inline-block;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._33Z20EyKgVCf_gw2o-dJuM ._2TCo_v6vmEUfdrfY3CtWUY {
  width: 100%;
  margin-top: 5px;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._33Z20EyKgVCf_gw2o-dJuM ._29nFZnfU1pSV_mKnl52iO0 {
  width: 50%;
  display: inline-block;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._33Z20EyKgVCf_gw2o-dJuM
  ._29nFZnfU1pSV_mKnl52iO0
  ._2gxSU_PX9i6fvFKON5GOU3,
._3Vqm_VeN4ssp-Plt0sq9f-
  ._33Z20EyKgVCf_gw2o-dJuM
  ._29nFZnfU1pSV_mKnl52iO0
  .gwTmZ9cblfSJQBeTcVIru {
  color: #fff;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._33Z20EyKgVCf_gw2o-dJuM
  ._15b6hVfpkp4nmpIuuvLB0-
  .vm4PN6HoaCpN0n0Lf8aEI
  .ftpouOEdAxieFE50x58Ch {
  color: inherit;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._33Z20EyKgVCf_gw2o-dJuM .Pf2peEv8e7v8NNd8Ox_O9 {
  padding: 0px;
  margin: 0px;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._33Z20EyKgVCf_gw2o-dJuM ._2PkRiRECyXwIWMFEHjLMZN {
  font-size: 20px;
  font-weight: 200;
  margin-top: 20px;
  text-align: center;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._33Z20EyKgVCf_gw2o-dJuM ._2mXRDHNOp7hGPyN9lhRXBL {
  width: 100%;
  margin-top: 12px;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._33Z20EyKgVCf_gw2o-dJuM
  ._2mXRDHNOp7hGPyN9lhRXBL
  ._2_XypEUOV9pIm-K7QPo37N {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid;
  padding: 4px;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._33Z20EyKgVCf_gw2o-dJuM
  ._2mXRDHNOp7hGPyN9lhRXBL
  ._2CrTqNU0Ug9ThuaEAR2o-0 {
  vertical-align: top;
  width: 50%;
  display: inline-block;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._33Z20EyKgVCf_gw2o-dJuM ._3Ny56nIakjtPWa2rTo_ECO {
  background: #000;
  border: 1px solid #fff;
  margin: 10px 5px 20px 5px;
  padding: 15px;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._33Z20EyKgVCf_gw2o-dJuM ._19mRGkz4pJX0woMGbfouEw {
  width: 100%;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._33Z20EyKgVCf_gw2o-dJuM ._2T7Ca6X3HgAneoHL9JkiEs {
  width: 100%;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._33Z20EyKgVCf_gw2o-dJuM
  ._2T7Ca6X3HgAneoHL9JkiEs
  ._3R8n1GZ3T0u2DTjcj7_1N6 {
  margin-right: 1em;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._33Z20EyKgVCf_gw2o-dJuM .a0Wxor6TYEbMVH7dLhXwO {
  font-size: 15px;
  font-weight: 150;
  margin-top: 10px;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._33Z20EyKgVCf_gw2o-dJuM ._12x87YD7BQ6cDje5hLvbPv {
  font-size: 20px;
  font-weight: 400;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._33Z20EyKgVCf_gw2o-dJuM ._2CrTqNU0Ug9ThuaEAR2o-0 th {
  background: none;
  font-weight: 100;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._33Z20EyKgVCf_gw2o-dJuM ._2CrTqNU0Ug9ThuaEAR2o-0 td {
  color: #fff;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._33Z20EyKgVCf_gw2o-dJuM
  ._2CrTqNU0Ug9ThuaEAR2o-0
  td._3gym37cGwcIsZIB8agk3XK {
  text-align: right;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._33Z20EyKgVCf_gw2o-dJuM
  ._2CrTqNU0Ug9ThuaEAR2o-0
  td._3i190Q1NF3QOOxp6WbDzRs {
  text-align: right;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._33Z20EyKgVCf_gw2o-dJuM
  ._2CrTqNU0Ug9ThuaEAR2o-0
  td._1fRCeZ2Vze8SX02_f_AK9d {
  text-align: right;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._33Z20EyKgVCf_gw2o-dJuM
  ._2EYOyHKrd9qJ5LIRS6u6T3
  ._29tRzyxxRK94Vgoj1UYbw {
  width: 30px;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._3owUM5gBDF_RV2qXJQkvk1 {
  margin-right: 20px;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._1NnpcKcQDkW2SVMohIW_9R::after {
  content: ":";
  margin-right: 0.5em;
}
._3Vqm_VeN4ssp-Plt0sq9f- .ftpouOEdAxieFE50x58Ch {
  color: #fff;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._3SrHBXySCqPbEk7w5T6loT {
  vertical-align: top;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._3SrHBXySCqPbEk7w5T6loT td,
._3Vqm_VeN4ssp-Plt0sq9f- ._3SrHBXySCqPbEk7w5T6loT th {
  padding-top: 1px;
  padding-bottom: 1px;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._3SrHBXySCqPbEk7w5T6loT tr ._1fRCeZ2Vze8SX02_f_AK9d {
  text-align: right;
  width: 4em;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._3SrHBXySCqPbEk7w5T6loT tr ._32eimNgIwt059yIMsrVWMf {
  background-color: blue;
  height: 1em;
  vertical-align: middle;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._3guObDjcedjI4d8GUIsFPK {
  vertical-align: top;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._3guObDjcedjI4d8GUIsFPK .vT8kyilnaIPZYPGPJCiO8 {
  text-align: right;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._2jSWoWwbKYvirg5AnaXkGy {
  font-size: 10px;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._2jSWoWwbKYvirg5AnaXkGy .RIiaSPbcGDEbBV9OkUtmG,
._3Vqm_VeN4ssp-Plt0sq9f- ._2jSWoWwbKYvirg5AnaXkGy ._5OEqow5h9FrG38R53xBoS {
  width: 100%;
  display: block;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._2jSWoWwbKYvirg5AnaXkGy ._5OEqow5h9FrG38R53xBoS {
  margin-top: 1em;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._2jSWoWwbKYvirg5AnaXkGy
  .RIiaSPbcGDEbBV9OkUtmG
  ._3guObDjcedjI4d8GUIsFPK {
  display: inline-block;
  width: 40%;
}
._3Vqm_VeN4ssp-Plt0sq9f-
  ._2jSWoWwbKYvirg5AnaXkGy
  .RIiaSPbcGDEbBV9OkUtmG
  ._3SrHBXySCqPbEk7w5T6loT {
  display: inline-block;
  width: 50%;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._1RMOO_UtP0Xm5MO4xO8UHP ._3guObDjcedjI4d8GUIsFPK {
  display: inline-block;
  width: 40%;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._1RMOO_UtP0Xm5MO4xO8UHP ._3SrHBXySCqPbEk7w5T6loT {
  display: inline-block;
  width: 50%;
}
._3Vqm_VeN4ssp-Plt0sq9f- ._1IW5oJMNg9Ki_RFXk2SgqJ {
  width: 100%;
}
._3Vqm_VeN4ssp-Plt0sq9f- .experience_great,
._3Vqm_VeN4ssp-Plt0sq9f- .flowqualityclass_great {
  color: lime;
}
._3Vqm_VeN4ssp-Plt0sq9f- .experience_good,
._3Vqm_VeN4ssp-Plt0sq9f- .flowqualityclass_good {
  color: #00a000;
}
._3Vqm_VeN4ssp-Plt0sq9f- .experience_ok,
._3Vqm_VeN4ssp-Plt0sq9f- .flowqualityclass_ok {
  color: #d0d000;
}
._3Vqm_VeN4ssp-Plt0sq9f- .experience_poor_connection,
._3Vqm_VeN4ssp-Plt0sq9f- .flowqualityclass_poor {
  color: orange;
}
._3Vqm_VeN4ssp-Plt0sq9f- .experience_terrible_connection,
._3Vqm_VeN4ssp-Plt0sq9f- .flowqualityclass_terrible {
  color: red;
}
._3Vqm_VeN4ssp-Plt0sq9f- .experience_service_problem {
  color: red;
}
._3Vqm_VeN4ssp-Plt0sq9f- .experience_dropped {
  color: orange;
}
._3Vqm_VeN4ssp-Plt0sq9f- .experience_app_exception {
  color: #f0f;
}
