:root {
  --basicui-header-height: 0px;
}
.deckverified_BannerContainer_2b4eh {
  padding: 12px 0px;
}
.deckverified_BannerHeader_1IgJ0 {
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 5px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5;
}
.deckverified_BannerContentDesktop_2qr1f,
.deckverified_BannerContent_1B2KF {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  background-color: #3b5a7280;
  align-items: center;
  transition: background-color 0.2s ease;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 1280px) {
  .deckverified_BannerContentDesktop_2qr1f,
  .deckverified_BannerContent_1B2KF {
    padding: 16px 24px;
  }
}
.deckverified_BannerContentDesktop_2qr1f:focus-within,
.deckverified_BannerContent_1B2KF:focus-within {
  background-color: #678ba670;
}
.deckverified_BannerContentDesktop_2qr1f {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.deckverified_BannerContentDesktop_2qr1f .deckverified_LearnMore_1Vhpn {
  font-size: 14px;
}
.deckverified_DeveloperBlockLinkDesktop_3OZo0 {
  padding-left: 10px;
  text-decoration: underline;
}
.deckverified_CategoryIcon_2yDLe {
  padding-right: 8px;
  vertical-align: middle;
}
.deckverified_LearnMoreCtn_EEiwn {
  width: 100%;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.deckverified_LearnMoreCtn_EEiwn a:hover {
  cursor: pointer;
}
.deckverified_LearnMorePC_3OSxY {
  font-size: 1.3em;
}
.deckverified_LearnMore_1Vhpn {
  font-size: 16px;
}
.deckverified_LearnMorePC_3OSxY,
.deckverified_LearnMore_1Vhpn {
  padding: 6px 12px;
  color: #fff;
  background-color: #1a9fff;
  border-radius: 2px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.32);
  transition: all 0.1s ease;
  display: flex;
}
.deckverified_LearnMorePC_3OSxY:hover,
.deckverified_LearnMore_1Vhpn:hover {
  color: #fff;
  background-color: #0bf;
  cursor: pointer;
}
.deckverified_LearnMorePC_3OSxY.gpfocus,
.deckverified_LearnMore_1Vhpn.gpfocus {
  background-color: #fff;
  border-radius: 0px;
  color: #000;
}
.deckverified_DialogHeader_1L5Or {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.deckverified_DialogTitle_2FOcP {
  display: flex;
  flex-direction: column;
  font: var(--gpText-HeadingLarge);
  color: #fff;
}
.deckverified_AppTitleCategory_2VgfB {
  padding-left: 8px;
}
.deckverified_AppTitleCategory_2VgfB .deckverified_CategoryIcon_2yDLe {
  padding-top: 1px;
  width: 26px;
  height: 100%;
}
.deckverified_CompatibilityDetailsStillLearning_1Ugyr {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.deckverified_CompatibilityDetailsContainerDesktop_24aj-,
.deckverified_CompatibilityDetailsContainer_1eAfS {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-height: 85vh;
}
.deckverified_CompatibilityDetailsContainerDesktop_24aj-
  .deckverified_CompatibilityDetailsInterior_NoScroll_2MFHa,
.deckverified_CompatibilityDetailsContainerDesktop_24aj-
  .deckverified_CompatibilityDetailsInterior_Scroll_3E4i9,
.deckverified_CompatibilityDetailsContainer_1eAfS
  .deckverified_CompatibilityDetailsInterior_NoScroll_2MFHa,
.deckverified_CompatibilityDetailsContainer_1eAfS
  .deckverified_CompatibilityDetailsInterior_Scroll_3E4i9 {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
  padding-right: 15px;
}
.deckverified_CompatibilityDetailsContainerDesktop_24aj-
  .deckverified_CompatibilityDetailsInterior_NoScroll_2MFHa::-webkit-scrollbar,
.deckverified_CompatibilityDetailsContainer_1eAfS
  .deckverified_CompatibilityDetailsInterior_NoScroll_2MFHa::-webkit-scrollbar {
  display: none;
}
.deckverified_CompatibilityDetailsContainerDesktop_24aj-
  .deckverified_CompatibilityDetailsInterior_Scroll_3E4i9::-webkit-scrollbar,
.deckverified_CompatibilityDetailsContainer_1eAfS
  .deckverified_CompatibilityDetailsInterior_Scroll_3E4i9::-webkit-scrollbar {
  display: inline;
  padding-left: 20px;
}
.deckverified_CompatibilityDetailsRow_i-kKr {
  padding-bottom: 10px;
  display: inline-flex;
  font-size: 14px;
  word-break: break-word;
  color: #fff;
  width: 100%;
}
.deckverified_CompatibilityDetailRatingSummary_1dRcO {
  padding-bottom: 10px;
  font-size: 14px;
  color: #fff;
}
.deckverified_CompatibilityDetailRatingSummary_1dRcO
  .deckverified_Verified_2NlWs {
  font-weight: bold;
  color: #59bf40;
}
.deckverified_CompatibilityDetailRatingSummary_1dRcO
  .deckverified_Playable_3b8fs {
  font-weight: bold;
  color: #ffc82c;
}
.deckverified_CompatibilityDetailRatingSummary_1dRcO
  .deckverified_Unsupported_34NkC {
  font-weight: bold;
  color: #7c8ea3;
}
.deckverified_CompatibilityDetailRatingDescription__2HWJ {
  vertical-align: middle;
  font-size: 14px;
}
.deckverified_CompatibilityDetailRatingDescription__2HWJ
  .deckverified_Verified_2NlWs {
  color: #59bf40;
}
.deckverified_CompatibilityDetailRatingDescription__2HWJ
  .deckverified_Playable_3b8fs {
  color: #ffc82c;
}
.deckverified_CompatibilityDetailRatingDescription__2HWJ
  .deckverified_Unsupported_34NkC {
  color: #7c8ea3;
}
.deckverified_CompatibilityDetailsSeparator_1GQvT {
  height: 1px;
  background-color: #5b5b5b;
  width: 100%;
  margin-bottom: 15px;
}
.deckverified_CompatibilityDetailsResultIcon_256fL {
  height: 20px;
  width: 20px;
  padding-right: 15px;
  flex-shrink: 0;
}
.deckverified_CompatabilityDetailsNoteContainer_c1yG_ {
  display: flex;
  flex-direction: row;
  padding: 7px 0px;
}
.deckverified_CompatibilityNotes_336YA {
  padding: 5px 0px;
}
.deckverified_CompatibilityDetailsNoteRow_2Bejw {
  padding-left: 35px;
  padding-bottom: 5px;
  font-style: italic;
  display: inline-flex;
  font-size: 14px;
  color: #a9a9a9;
  word-break: break-word;
}
.deckverified_DeveloperBlogYButton_1pC8t svg {
  vertical-align: bottom;
  height: 18px;
  width: 18px;
}
.deckverified_DeveloperBlogYButton_1pC8t {
  padding-left: 10px;
  display: inline-block;
}
.deckverified_Divider_3Ewxr {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.deckverified_DeveloperComments_Anchor_2xqA7 {
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
}
.deckverified_DeveloperComments_Icon_2JTRY {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMiA0VjIwVjI0TDcgMjBIMjRWNEgyWk0zNCAxMlYzMkwyOSAyOEgxMlYyNEgyOFYxMkgzNFoiIGZpbGw9IndoaXRlIi8+DQo8L3N2Zz4NCg==);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin-right: 8px;
  opacity: 0.8;
}
.deckverified_DeveloperComments_LinkNoIcon_2aB9H {
  vertical-align: middle;
}
.deckverified_DeveloperComments_LinkIcon_1cm6k {
  vertical-align: middle;
  color: var(--gpStoreLightestGrey);
  font-size: 14px;
  line-height: 20px;
}
.footericons_Dark_2SV_e .footericons_Background_I3P4e {
  color: #0e141b;
}
.footericons_Dark_2SV_e .footericons_Foreground_39K5g {
  color: #fff;
}
.footericons_Light_2e0Fq .footericons_Background_I3P4e {
  color: #fff;
}
.footericons_Light_2e0Fq .footericons_Foreground_39K5g {
  color: #0e141b;
}
.footericons_Knockout_2Q-49 {
  color: #fff;
}
.footericons_SizeSmall_3sify {
  width: auto;
  height: 16px;
}
.footericons_SizeMedium_3-w0R {
  width: auto;
  height: 22px;
}
.footericons_SizeLarge_3jE5H {
  width: auto;
  height: 36px;
}
.footericons_ChordSummary_2sFpI.footericons_SizeSmall_3sify {
  margin-right: 20px;
}
.throbber_LoadingWrapper_3Z36h {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.throbber_LoadingWrapper_3Z36h.throbber_Static_kwzRJ {
  animation-name: throbber_none_2iT5l;
}
.throbber_LoadingWrapper_3Z36h.throbber_Static_kwzRJ * {
  animation-name: throbber_none_2iT5l !important;
  stroke-dasharray: initial !important;
  stroke-dashoffset: initial !important;
  stroke-width: 5px !important;
  opacity: 1 !important;
}
.throbber_LoadingWrapper_3Z36h.throbber_Static_kwzRJ
  .throbber_bottomCircle_3-sjx
  path {
  stroke-width: 0 !important;
}
.throbber_LoadingWrapper_3Z36h.throbber_noString_M4pF_ {
  flex-direction: row;
}
.throbber_LoadingWrapper_3Z36h .throbber_Throbber_7MdwT,
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber,
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber path {
  width: 100%;
  height: 100%;
  position: relative;
}
.throbber_LoadingWrapper_3Z36h .throbber_Throbber_7MdwT {
  align-self: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.throbber_LoadingWrapper_3Z36h.throbber_throbber_small_29-XT
  .throbber_Throbber_7MdwT {
  width: 32px;
  height: 32px;
}
.throbber_LoadingWrapper_3Z36h.throbber_throbber_medium_1yqSo
  .throbber_Throbber_7MdwT {
  width: 64px;
  height: 64px;
}
.throbber_LoadingWrapper_3Z36h.throbber_throbber_large_1u2tL
  .throbber_Throbber_7MdwT {
  width: 92px;
  height: 92px;
}
.throbber_throbber_center_wrapper_Yi4EM {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.throbber_ThrobberText_1Zlvf,
.throbber_LoadingWrapper_3Z36h .throbber_ThrobberText_1Zlvf {
  color: #3d85c8;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  user-select: none;
  margin-top: 8px;
  font-weight: 500;
}
.throbber_LoadingWrapper_3Z36h.throbber_throbber_medium_1yqSo
  .throbber_ThrobberText_1Zlvf {
  margin-top: 4px;
}
.throbber_LoadingWrapper_3Z36h.throbber_throbber_small_29-XT
  .throbber_ThrobberText_1Zlvf {
  margin-top: 2px;
}
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber.throbber_blur_3ebLc {
  filter: blur(3px);
  position: absolute;
  left: 0;
  top: 0px;
}
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber.throbber_blur_3ebLc path {
  stroke: #4375fd;
}
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber path {
  stroke: #67c1f5;
  animation-name: throbber_ThrobberRoundLoop_3SEk8;
  animation-duration: 0.7s;
  stroke-linecap: butt;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundOuterOutline_3M8Ar,
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber .throbber_roundOuter_3H7At {
  stroke-dashoffset: 0;
  stroke-dasharray: 116;
  stroke-width: 6px;
}
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber .throbber_roundOuter_3H7At {
  opacity: 1;
  stroke: #3b8bb9;
  stroke-width: 6px;
  transform-origin: 50% 50%;
  stroke-linecap: round;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundOuterOutline_3M8Ar {
  display: none;
}
@keyframes throbber_ThrobberRoundLoop_3SEk8 {
  to {
    stroke-dashoffset: -232;
  }
}
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber .throbber_roundFill_2FWWt {
  animation-name: throbber_ThrobberFillLoop_1-rlb;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 1;
  stroke-width: 0;
}
@keyframes throbber_ThrobberFillLoop_1-rlb {
  0% {
    fill: rgba(103, 193, 245, 0);
  }
  50% {
    fill: rgba(103, 193, 245, 0.05);
  }
  100% {
    fill: rgba(103, 193, 245, 0);
  }
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_topCircle_3znUF
  .throbber_circlePulse_1oQUO,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_topCircle_3znUF
  circle {
  stroke: #67c1f5;
  animation-name: throbber_ThrobberTopCircleLoop_3oqZE;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 67% 36%;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_topCircle_3znUF
  circle {
  animation-name: throbber_ThrobberBottomCircleLoop_3veQr;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_bottomCircle_3-sjx
  path {
  fill: #67c1f5;
  stroke-width: 0;
  animation-name: throbber_ThrobberBottomCircleLoop_3veQr;
  animation-duration: 3s;
  animation-delay: -0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes throbber_ThrobberTopCircleLoop_3oqZE {
  0% {
    opacity: 0;
    transform: scale(0.75);
    stroke-width: 4px;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
  100% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
}
@keyframes throbber_ThrobberBottomCircleLoop_3veQr {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber15_1gQte,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber14_3DXeR,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber13_5VEyI,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber12_wOdFm,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber11_3Jmyz,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber10_3QwXn,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber09_2Yhvq,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber08_3HcIU,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber07__2fn3,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber06_2gCCI,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber05_1SrtW,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber04_2P5xs,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber03_3zYDa,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber02_2_KYJ,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber01_3N41H {
  animation-name: throbber_ThrobberRoundLoopThickness_1wAwc;
  animation-duration: 3s;
  stroke-dasharray: 150 950;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber01_3N41H {
  animation-delay: 0s;
  opacity: 0.06;
  stroke-width: 0.5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber02_2_KYJ {
  animation-delay: -0.1s;
  opacity: 0.13;
  stroke-width: 1px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber03_3zYDa {
  animation-delay: -0.2s;
  opacity: 0.2;
  stroke-width: 1.5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber04_2P5xs {
  animation-delay: -0.3s;
  opacity: 0.26;
  stroke-width: 2px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber05_1SrtW {
  animation-delay: -0.4s;
  opacity: 0.33;
  stroke-width: 2.5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber06_2gCCI {
  animation-delay: -0.5s;
  opacity: 0.4;
  stroke-width: 3px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber07__2fn3 {
  animation-delay: -0.6s;
  opacity: 0.46;
  stroke-width: 3.5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber08_3HcIU {
  animation-delay: -0.7s;
  opacity: 0.53;
  stroke-width: 4px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber09_2Yhvq {
  animation-delay: -0.8s;
  opacity: 0.6;
  stroke-width: 4.5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber10_3QwXn {
  animation-delay: -0.9s;
  opacity: 0.66;
  stroke-width: 5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber11_3Jmyz {
  animation-delay: -1s;
  opacity: 0.73;
  stroke-width: 5.5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber12_wOdFm {
  animation-delay: -1.1s;
  opacity: 0.8;
  stroke-width: 6px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber13_5VEyI {
  animation-delay: -1.2s;
  opacity: 0.86;
  stroke-width: 6.5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber14_3DXeR {
  animation-delay: -1.3s;
  opacity: 0.93;
  stroke-width: 7px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber15_1gQte {
  animation-delay: -1.4s;
  opacity: 1;
  stroke-width: 7.5px;
}
@keyframes throbber_ThrobberRoundLoopThickness_1wAwc {
  100% {
    stroke-dashoffset: -1100;
  }
}
.throbber_throbber_small_29-XT {
  width: 36px;
  height: 36px;
}
.throbber_throbber_medium_1yqSo {
  width: 64px;
  height: 64px;
}
.throbber_throbber_large_1u2tL {
  width: 92px;
  height: 92px;
}
.throbber_throbber_xlarge_2jzZM {
  width: 120px;
  height: 120px;
}
.throbber_throbber_xxlarge_1DFOT {
  width: 240px;
  height: 240px;
}
.throbber_ThrobberDelayAppear_34XSs {
  opacity: 0;
  transition: opacity 1s;
}
.throbber_ThrobberDelayAppear_34XSs.throbber_Visible_1ziaT {
  opacity: 1;
}
