* {
  box-sizing: border-box;
}
.msjGfUYNm8rJ4bLS19n2g {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._2yReXdObU3Ij9YBkzvgYQ7 {
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 16px;
  border-radius: 4px;
  padding: 5px 20px;
  cursor: pointer;
}
._2yReXdObU3Ij9YBkzvgYQ7._2tY__PC6O-mUh8jRVOh_S7 {
  background: linear-gradient(to bottom, #82a6d7, #3c6091);
  border-top: 1px solid #aaceff;
}
._2yReXdObU3Ij9YBkzvgYQ7._2tY__PC6O-mUh8jRVOh_S7 ._1Zoc2tlDWolWjsI-W18Wvf {
  color: #fff;
}
._2yReXdObU3Ij9YBkzvgYQ7._2BCE0thhjq41eNyAVsDAP4 {
  background: linear-gradient(to bottom, #ca5025, #572310);
  border-top: 1px solid #e76b3e;
}
._2yReXdObU3Ij9YBkzvgYQ7._2BCE0thhjq41eNyAVsDAP4 ._1Zoc2tlDWolWjsI-W18Wvf {
  color: #f7d8cd;
}
._2yReXdObU3Ij9YBkzvgYQ7:hover {
  filter: brightness(1.1);
}
._2yReXdObU3Ij9YBkzvgYQ7._1W_vxrkrcK4BoMnWdzcIo2 {
  filter: saturate(0) brightness(0.6);
  cursor: default;
}
._2yReXdObU3Ij9YBkzvgYQ7 ._1Zoc2tlDWolWjsI-W18Wvf {
  font-size: 17px;
  text-align: center;
  user-select: none;
}
._1-nKcLiXhx0iBBulrD55Xo {
  width: 100%;
  height: 100%;
}
._35ajnHTsONJ6abrtNB0tiG {
  width: 600px;
  min-width: 600px;
  margin: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
._35ajnHTsONJ6abrtNB0tiG ._3KFf6Xq-7-jJ29jn3bW4PL {
  flex-grow: 1;
  min-width: 100px;
  margin: 0px 12px;
  height: 50px;
  color: #999;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
._35ajnHTsONJ6abrtNB0tiG ._3KFf6Xq-7-jJ29jn3bW4PL:hover {
  background-color: #282828;
}
._35ajnHTsONJ6abrtNB0tiG ._3KFf6Xq-7-jJ29jn3bW4PL.OilN-vRxEfOtVM-aw6H4Y {
  background-color: #323940;
  color: #43a8f5;
}
._36OV-RyYj5N9zIaubjlkDo {
  width: 100%;
  margin: 20px;
  margin-top: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
._3r0tlX7BEcUjUC0nk5CW8i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
._3r0tlX7BEcUjUC0nk5CW8i ._3nezXM-f76hluq1iA1sBte {
  margin-bottom: 10px;
}
._3r0tlX7BEcUjUC0nk5CW8i._1VPtlX8LmlSvqpBchxC_7s {
  height: 0px;
  margin: 0px;
  border: 0px;
}
._1xjli_L5ZMmh-nvw9GnUWQ {
  width: 100%;
  max-width: 900px;
  min-width: 700px;
  margin: 8px 0px;
  padding: 4px 12px;
  border: 1px solid #122b3d;
  border-radius: 4px;
  background-color: #0e2130;
  text-decoration: none;
  color: #999;
  transition: 0.2s;
  cursor: pointer;
}
._1xjli_L5ZMmh-nvw9GnUWQ ._3uE4kPiSHlhS4R4wHqX-fN {
  color: #ccc;
}
._1xjli_L5ZMmh-nvw9GnUWQ ._36bwAwPhrWLdDlGBGrT1k1 {
  font-size: 18px;
  color: #43a8f5;
}
._1xjli_L5ZMmh-nvw9GnUWQ ._3UaebM6BfC-B0yVyI-eoIJ {
  font-size: 14px;
  color: #2e71a5;
}
._1xjli_L5ZMmh-nvw9GnUWQ ._1rTEk-J6WyXu1fqOq9PjzY {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
._1xjli_L5ZMmh-nvw9GnUWQ .gPsPXhyVjxvOBH82Veunm,
._1xjli_L5ZMmh-nvw9GnUWQ ._2RxONnczAg5Y1_Xnnd7Grt {
  margin-top: 2px;
}
._1xjli_L5ZMmh-nvw9GnUWQ:hover {
  filter: brightness(1.3);
}
._1gFQfWKXhOQbkaNjbGVU16 {
  max-width: 1000px;
  min-width: 700px;
  display: flex;
  flex-direction: column;
  min-height: 0px;
}
._1gFQfWKXhOQbkaNjbGVU16 ._2m9wkgXpcf3-99TaQKL0tE {
  margin-bottom: 8px;
  text-decoration: underline;
}
._1gFQfWKXhOQbkaNjbGVU16 ._2m9wkgXpcf3-99TaQKL0tE:hover {
  filter: brightness(1.3);
}
._1gFQfWKXhOQbkaNjbGVU16 .cUNhZfaxsGzKaFQAx4vvf {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 12px;
}
._1gFQfWKXhOQbkaNjbGVU16 .cUNhZfaxsGzKaFQAx4vvf ._15COwPUDCRCEDUMsYujCkU {
  font-size: 40px;
  padding: 0px 10px 6px 0px;
  color: #aaa;
  text-decoration: none;
}
._1gFQfWKXhOQbkaNjbGVU16 .cUNhZfaxsGzKaFQAx4vvf ._15COwPUDCRCEDUMsYujCkU:hover {
  color: #fff;
}
._1gFQfWKXhOQbkaNjbGVU16 .cUNhZfaxsGzKaFQAx4vvf ._9IFURqUFtrCAO5kbHAO_U {
  height: 100%;
  flex-grow: 1;
  padding: 4px 10px;
  background-color: #132f44;
  border-bottom: 2px solid #2e72a7;
}
._1gFQfWKXhOQbkaNjbGVU16
  .cUNhZfaxsGzKaFQAx4vvf
  ._9IFURqUFtrCAO5kbHAO_U
  .CblW8QTasV2DO4cRW0prn {
  font-size: 30px;
  color: #43a8f5;
}
._1gFQfWKXhOQbkaNjbGVU16
  .cUNhZfaxsGzKaFQAx4vvf
  ._9IFURqUFtrCAO5kbHAO_U
  ._16qUhwW_c8Pbmu5Z6xinEO {
  font-size: 12px;
  color: #2e72a7;
  font-weight: bold;
  letter-spacing: 1px;
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  ._1lLqQDLnUIIdV6R57346No {
  color: #999;
  font-size: 14px;
  background-color: #222;
  border: 1px solid #252525;
  border-radius: 6px;
  padding: 4px 8px;
  margin: 4px;
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  ._1lLqQDLnUIIdV6R57346No._3q6FZ-EpaofO1UX84CRKPz
  ._11e6zJoDlODofUVbR3Lua3 {
  color: #b19696;
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  ._1lLqQDLnUIIdV6R57346No._1sUna6-XvlT6BdFU-xDxr_
  ._11e6zJoDlODofUVbR3Lua3 {
  color: #a78181;
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  ._1lLqQDLnUIIdV6R57346No._3QiDC_egBPUil1L8Lxw-E6
  ._11e6zJoDlODofUVbR3Lua3 {
  color: #83805a;
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  ._1lLqQDLnUIIdV6R57346No.DfgR36rhRvbWATh2rkEU3
  ._11e6zJoDlODofUVbR3Lua3 {
  color: #836d5a;
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  ._1lLqQDLnUIIdV6R57346No._3w9sP-z9NZw5JwDMJvGha_
  ._11e6zJoDlODofUVbR3Lua3 {
  color: #6e835a;
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  ._1lLqQDLnUIIdV6R57346No._33yo73pTOoKCyF87NLP4Io
  ._11e6zJoDlODofUVbR3Lua3 {
  color: #835a6d;
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  ._1lLqQDLnUIIdV6R57346No
  ._1v_wKNlVbQ4nQF8_Zbhiea {
  color: #fff;
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  ._1lLqQDLnUIIdV6R57346No
  ._11e6zJoDlODofUVbR3Lua3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 1px;
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  .lWQfKVb7uqk9UKbjyyGIM {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  .lWQfKVb7uqk9UKbjyyGIM:hover {
  filter: brightness(1.3);
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  .lWQfKVb7uqk9UKbjyyGIM
  ._1vRxM4k_iJiVi6F1fzS1e3 {
  padding: 0px 4px;
  margin-left: -22px;
  transition: 0.2s;
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  .lWQfKVb7uqk9UKbjyyGIM
  ._1vRxM4k_iJiVi6F1fzS1e3._3qRbu04vYScSY1knrHbExY {
  transform: rotateZ(-90deg);
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  ._1bga0T4ksdggWPn8sb1tmQ {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  min-height: 0px;
  overflow-y: hidden;
}
._1gFQfWKXhOQbkaNjbGVU16
  ._3DsdfooA5ZsBVzHlo0spou
  ._2_-ubEumKcrrljcqkDz-nd
  ._1bga0T4ksdggWPn8sb1tmQ._1OU7XyPtFGtCm92v_LX-be {
  height: 0px;
}
._3F8_Lyio-BwNK1Z5Pbu5vv {
  width: 100%;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
._3F8_Lyio-BwNK1Z5Pbu5vv ._35Ll4m_-B9fWDt-no-d8xp {
  width: 800px;
  margin-top: 30px;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
._3F8_Lyio-BwNK1Z5Pbu5vv ._35Ll4m_-B9fWDt-no-d8xp ._21PbN-aJWj8YJP-4YCaaVU {
  color: #fff;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
._3F8_Lyio-BwNK1Z5Pbu5vv ._35Ll4m_-B9fWDt-no-d8xp .IRyHOENJwvmX3tAY16ZaS {
  color: #fff;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
._13BKEPL1RjPkUJgyypi6LX {
  width: 800px;
  background-color: #323940;
  border: 1px solid #3e4750;
  border-radius: 4px;
  padding: 8px 12px;
  position: relative;
  transition-property: filter, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  text-decoration: none;
  cursor: pointer;
}
._13BKEPL1RjPkUJgyypi6LX:hover {
  filter: brightness(1.1);
}
._13BKEPL1RjPkUJgyypi6LX ._3Hgxj-6wNEi2QJdiNmSEq8 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
._13BKEPL1RjPkUJgyypi6LX .TW09gRIZG46PUd8KEpPJM {
  font-size: 16px;
  color: #ca5029;
  text-transform: uppercase;
  letter-spacing: 2px;
}
._13BKEPL1RjPkUJgyypi6LX ._3qnlNmBMwzicL--uJDt0xW {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 12px;
}
._13BKEPL1RjPkUJgyypi6LX ._2yjPq_vUBe5vX8477Nd6Lb {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 14px;
  padding-top: 6px;
}
._13BKEPL1RjPkUJgyypi6LX ._3jJSRWPIEMmq_zw-n_Vmuj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
._13BKEPL1RjPkUJgyypi6LX ._3jJSRWPIEMmq_zw-n_Vmuj ._3nOnI7HpOqBDP7GOYro3RB {
  font-size: 12px;
  color: #888;
}
._13BKEPL1RjPkUJgyypi6LX ._3jJSRWPIEMmq_zw-n_Vmuj ._3gM54QZsU-d3rfw7v88yoF {
  font-size: 12px;
  color: #888;
}
._13BKEPL1RjPkUJgyypi6LX ._2k2xZ2WqcQSptTfC2u-1WK {
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
._1IaIKe5N5mtG4ReCT5Nfnk {
  width: 800px;
  background-color: #262c31;
  border: 1px solid #323941;
  border-radius: 6px;
  margin: 20px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  transition-property: width, transform, filter, height;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  position: relative;
}
._1IaIKe5N5mtG4ReCT5Nfnk._1F_iVaudtZtIBggLz8TgsQ {
  cursor: pointer;
  width: 400px;
  height: 48px;
}
._1IaIKe5N5mtG4ReCT5Nfnk._1F_iVaudtZtIBggLz8TgsQ:hover {
  transform: scale(1.02);
  filter: brightness(1.2);
}
._1IaIKe5N5mtG4ReCT5Nfnk._1F_iVaudtZtIBggLz8TgsQ
  ._2Uxe1WauLy_WSI8HBMDmpb._2zfyC9pxT6ynYwfsxjjIcc {
  transform: scale(1);
}
._1IaIKe5N5mtG4ReCT5Nfnk._1F_iVaudtZtIBggLz8TgsQ ._3vIDf6PJy59Oae8lfCLYRT {
  height: 0px;
  margin: 0;
  padding: 0;
}
._1IaIKe5N5mtG4ReCT5Nfnk._1vZgEO-rIh1azL1QsqnUkE {
  height: 700px;
  margin-bottom: 10px;
}
._1IaIKe5N5mtG4ReCT5Nfnk._1vZgEO-rIh1azL1QsqnUkE ._2Uxe1WauLy_WSI8HBMDmpb {
  padding-bottom: 10px;
  border-bottom: 1px solid #3e4750;
  justify-content: start;
}
._1IaIKe5N5mtG4ReCT5Nfnk._1vZgEO-rIh1azL1QsqnUkE
  ._2Uxe1WauLy_WSI8HBMDmpb
  ._2zfyC9pxT6ynYwfsxjjIcc {
  width: 0px;
}
._1IaIKe5N5mtG4ReCT5Nfnk ._2Uxe1WauLy_WSI8HBMDmpb {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition-property: justify-content;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
._1IaIKe5N5mtG4ReCT5Nfnk ._2Uxe1WauLy_WSI8HBMDmpb ._2zfyC9pxT6ynYwfsxjjIcc {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  transition-property: width;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
}
._1IaIKe5N5mtG4ReCT5Nfnk ._2Uxe1WauLy_WSI8HBMDmpb ._3dXukBGeFSKrjNRapz-vdw {
  font-size: 18px;
  color: #b6c5ca;
  text-align: center;
}
._1IaIKe5N5mtG4ReCT5Nfnk ._3vIDf6PJy59Oae8lfCLYRT {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
  overflow-y: hidden;
}
._1IaIKe5N5mtG4ReCT5Nfnk ._3vIDf6PJy59Oae8lfCLYRT ._3wqW3cCIDXXgA0L0ry28IN {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}
._1IaIKe5N5mtG4ReCT5Nfnk
  ._3vIDf6PJy59Oae8lfCLYRT
  ._3wqW3cCIDXXgA0L0ry28IN
  ._3uE4kPiSHlhS4R4wHqX-fN {
  width: 200px;
  height: 22px;
  color: #b2b2b2;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 17px;
}
._1IaIKe5N5mtG4ReCT5Nfnk
  ._3vIDf6PJy59Oae8lfCLYRT
  ._3wqW3cCIDXXgA0L0ry28IN
  ._3RWed3mcqH6MmHhBgbkBGD {
  flex-grow: 1;
  height: 22px;
  border: 0px solid transparent;
  background-color: #1a1a1a;
  outline: none;
  color: #fff;
  font-size: 15px;
  padding: 4px;
}
._1IaIKe5N5mtG4ReCT5Nfnk ._3TzDRcTE7EvonQr-6ImEtT {
  width: 100%;
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
}
._1IaIKe5N5mtG4ReCT5Nfnk ._3TzDRcTE7EvonQr-6ImEtT ._37bp6yYCYbU-Aaxc6idCSh {
  color: #b2b2b2;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 17px;
}
._1IaIKe5N5mtG4ReCT5Nfnk .Sp68rQoQKv4sPj4vE-rm6 {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  align-self: center;
}
._3spVxRuLYDKpX2IsKvxhXN {
  width: 100%;
  height: 450px;
  background-color: #1a1a1a;
  border-bottom: 1px solid #39393a;
  border-right: 1px solid #39393a;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
  transition-property: height;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
._3spVxRuLYDKpX2IsKvxhXN._1VPtlX8LmlSvqpBchxC_7s {
  height: 0px;
  margin: 0px;
  padding: 0px;
}
._3spVxRuLYDKpX2IsKvxhXN ._2eV2TTGJXmq22-NxPpT3eI {
  width: 100%;
  padding: 5px 10px;
  margin: 3px 0px;
  border: 1px solid #3e4750;
  background-color: #202529;
  cursor: pointer;
  transition-property: filter, transform, background-color, border;
  transition-timing-function: ease-in-out;
  transition-duration: 0.05s;
  position: relative;
}
._3spVxRuLYDKpX2IsKvxhXN ._2eV2TTGJXmq22-NxPpT3eI:hover {
  filter: brightness(1.3);
  transform: scale(1.02);
}
._3spVxRuLYDKpX2IsKvxhXN ._2eV2TTGJXmq22-NxPpT3eI.OilN-vRxEfOtVM-aw6H4Y {
  background-color: #3e525f;
  border: 1px solid #3e4a50;
  color: #fff;
}
.UGqiqHtL23JkoCU_MSnsq {
  width: 800px;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
.UGqiqHtL23JkoCU_MSnsq ._1Sb8R2jk0DatSLTFo4nULP {
  margin-bottom: 8px;
  text-decoration: underline;
}
.UGqiqHtL23JkoCU_MSnsq ._28zUxX41jCodxcCCVF55ZH {
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #323940, #262c31);
  border-bottom: 2px solid #3e4750;
  padding: 8px 16px;
  position: relative;
}
.UGqiqHtL23JkoCU_MSnsq ._28zUxX41jCodxcCCVF55ZH form._1VPtlX8LmlSvqpBchxC_7s {
  height: 0px;
  max-height: 0px;
  padding: 0;
  border-width: 0;
  overflow: hidden;
}
.UGqiqHtL23JkoCU_MSnsq ._28zUxX41jCodxcCCVF55ZH ._3Hgxj-6wNEi2QJdiNmSEq8 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.UGqiqHtL23JkoCU_MSnsq
  ._28zUxX41jCodxcCCVF55ZH
  ._3Hgxj-6wNEi2QJdiNmSEq8._1VPtlX8LmlSvqpBchxC_7s {
  display: none;
}
.UGqiqHtL23JkoCU_MSnsq ._28zUxX41jCodxcCCVF55ZH ._2268oRWsoMSsQ4JcKBxJlp {
  height: 35px;
  width: 200px;
}
.UGqiqHtL23JkoCU_MSnsq ._28zUxX41jCodxcCCVF55ZH ._3qnlNmBMwzicL--uJDt0xW {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 12px;
  color: #dbe2e6;
}
.UGqiqHtL23JkoCU_MSnsq
  ._28zUxX41jCodxcCCVF55ZH
  ._3qnlNmBMwzicL--uJDt0xW._1VPtlX8LmlSvqpBchxC_7s {
  display: none;
}
.UGqiqHtL23JkoCU_MSnsq ._28zUxX41jCodxcCCVF55ZH .VSvOsoK438LYv7WiV-r91 {
  height: 32px;
  width: 500px;
  margin-top: 3px;
  margin-bottom: 4px;
}
.UGqiqHtL23JkoCU_MSnsq ._28zUxX41jCodxcCCVF55ZH ._2yjPq_vUBe5vX8477Nd6Lb {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 14px;
  padding-top: 6px;
}
.UGqiqHtL23JkoCU_MSnsq ._28zUxX41jCodxcCCVF55ZH ._3jJSRWPIEMmq_zw-n_Vmuj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.UGqiqHtL23JkoCU_MSnsq
  ._28zUxX41jCodxcCCVF55ZH
  ._3jJSRWPIEMmq_zw-n_Vmuj
  ._3nOnI7HpOqBDP7GOYro3RB {
  font-size: 12px;
  color: #888;
}
.UGqiqHtL23JkoCU_MSnsq
  ._28zUxX41jCodxcCCVF55ZH
  ._3jJSRWPIEMmq_zw-n_Vmuj
  ._3gM54QZsU-d3rfw7v88yoF {
  font-size: 12px;
  color: #888;
}
.UGqiqHtL23JkoCU_MSnsq ._3TzDRcTE7EvonQr-6ImEtT {
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.UGqiqHtL23JkoCU_MSnsq ._3TzDRcTE7EvonQr-6ImEtT ._3rvzlEx7gsz_CuUwlLbLeL {
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
}
.UGqiqHtL23JkoCU_MSnsq ._3TzDRcTE7EvonQr-6ImEtT ._1Ch8t8kvrdudLjhmNW6D86 {
  position: absolute;
  top: 26px;
  right: 4px;
  color: #888;
  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}
.UGqiqHtL23JkoCU_MSnsq ._3TzDRcTE7EvonQr-6ImEtT ._1Ch8t8kvrdudLjhmNW6D86:hover {
  color: #fff;
}
.UGqiqHtL23JkoCU_MSnsq ._3TzDRcTE7EvonQr-6ImEtT ._1xjli_L5ZMmh-nvw9GnUWQ {
  height: 36px;
}
.UGqiqHtL23JkoCU_MSnsq ._3TzDRcTE7EvonQr-6ImEtT .Sp68rQoQKv4sPj4vE-rm6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin: 16px 0px;
}
.UGqiqHtL23JkoCU_MSnsq ._2lI41nfrJhWqIcuoYAfdcC {
  font-size: 14px;
  color: #ca5025;
  text-transform: uppercase;
  margin: 8px auto;
  cursor: pointer;
  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}
.UGqiqHtL23JkoCU_MSnsq ._2lI41nfrJhWqIcuoYAfdcC:hover {
  color: #d67754;
}
