._2b4ehY-W6zKuz_RcJb_bFS {
  padding: 12px 0px;
}
._1IgJ0p8H9jPJgPosle6xdl {
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 5px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5;
}
._2qr1fNbf66KPlKVUK9DPxU,
._1B2KFfSCeANfYXihoXz87_ {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  background-color: #3b5a7280;
  align-items: center;
  transition: background-color 0.2s ease;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 1280px) {
  ._2qr1fNbf66KPlKVUK9DPxU,
  ._1B2KFfSCeANfYXihoXz87_ {
    padding: 16px 24px;
  }
}
._2qr1fNbf66KPlKVUK9DPxU:focus-within,
._1B2KFfSCeANfYXihoXz87_:focus-within {
  background-color: #678ba670;
}
._2qr1fNbf66KPlKVUK9DPxU {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
._2qr1fNbf66KPlKVUK9DPxU ._1VhpnbFYLe10F8k2MVp3eU {
  font-size: 14px;
}
._3OZo0-lBqXXl_Q3-LziNYZ {
  padding-left: 10px;
  text-decoration: underline;
}
._2yDLeYzL4M39ePif4Ul1Yt {
  padding-right: 8px;
  vertical-align: middle;
}
.EEiwnhVESZ3uAla6gxdWx {
  width: 100%;
  padding: 4px 10px;
  box-sizing: border-box;
  height: 28px;
  display: flex;
  gap: 6px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.EEiwnhVESZ3uAla6gxdWx ._3OSxYULWzrAMAy-23ME-9A {
  background-color: #7f919f;
  font-size: 12px;
}
.EEiwnhVESZ3uAla6gxdWx a:hover {
  cursor: pointer;
}
._3OSxYULWzrAMAy-23ME-9A {
  font-size: 1.3em;
}
._1VhpnbFYLe10F8k2MVp3eU {
  font-size: 16px;
}
._3OSxYULWzrAMAy-23ME-9A,
._1VhpnbFYLe10F8k2MVp3eU {
  padding: 6px 12px;
  color: #fff;
  background-color: #1a9fff;
  border-radius: 2px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.32);
  transition-property: color, background-color, border-radius;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  display: flex;
}
._3OSxYULWzrAMAy-23ME-9A:hover,
._1VhpnbFYLe10F8k2MVp3eU:hover {
  color: #fff;
  background-color: #0bf;
  cursor: pointer;
}
._3OSxYULWzrAMAy-23ME-9A.gpfocus,
._1VhpnbFYLe10F8k2MVp3eU.gpfocus {
  background-color: #fff;
  border-radius: 0px;
  color: #000;
}
._1L5OrJt5Qmz72xonU9kKTD {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}
._2FOcPhc2gnErLhxGlQncbM {
  display: flex;
  flex-direction: column;
  font: var(--gpText-HeadingLarge);
  color: #fff;
}
._2VgfBN70pLZljMun7XnnWG {
  padding-left: 8px;
}
._2VgfBN70pLZljMun7XnnWG ._2yDLeYzL4M39ePif4Ul1Yt {
  padding-top: 1px;
  width: 26px;
}
._1UgyrmTFb1T9F8H51kik4_ {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
._24aj-c7_9H2LMUYLu8QEM3,
._1eAfSXEODH2zKNDDbUn6r0 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-height: 85vh;
}
._24aj-c7_9H2LMUYLu8QEM3 ._2MFHaDHNKij7paYeA1qHOl,
._24aj-c7_9H2LMUYLu8QEM3 ._3E4i98om4rbI6sTqxbpDpW,
._1eAfSXEODH2zKNDDbUn6r0 ._2MFHaDHNKij7paYeA1qHOl,
._1eAfSXEODH2zKNDDbUn6r0 ._3E4i98om4rbI6sTqxbpDpW {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
  padding-right: 15px;
}
._24aj-c7_9H2LMUYLu8QEM3 ._2MFHaDHNKij7paYeA1qHOl::-webkit-scrollbar,
._1eAfSXEODH2zKNDDbUn6r0 ._2MFHaDHNKij7paYeA1qHOl::-webkit-scrollbar {
  display: none;
}
._24aj-c7_9H2LMUYLu8QEM3 ._3E4i98om4rbI6sTqxbpDpW::-webkit-scrollbar,
._1eAfSXEODH2zKNDDbUn6r0 ._3E4i98om4rbI6sTqxbpDpW::-webkit-scrollbar {
  display: inline;
  padding-left: 20px;
}
.i-kKrKZVSgnseMWG_XxVw {
  padding-bottom: 10px;
  display: inline-flex;
  font-size: 14px;
  word-break: break-word;
  color: #fff;
  width: 100%;
}
._1dRcOfzoJ-cl7DcDBnuC8w {
  padding-bottom: 10px;
  font-size: 14px;
  color: #fff;
}
._1dRcOfzoJ-cl7DcDBnuC8w ._2NlWspdb3o2jG8uqIpSX2P {
  font-weight: bold;
  color: #59bf40;
}
._1dRcOfzoJ-cl7DcDBnuC8w ._3b8fs4YCVuY88p9lYr6R9n {
  font-weight: bold;
  color: #ffc82c;
}
._1dRcOfzoJ-cl7DcDBnuC8w ._34NkCNjIGkKCte3fX0wnRY {
  font-weight: bold;
  color: #7c8ea3;
}
._2HWJLa1cVWBiFNz3loij {
  vertical-align: middle;
  font-size: 14px;
}
._2HWJLa1cVWBiFNz3loij ._2NlWspdb3o2jG8uqIpSX2P {
  color: #59bf40;
}
._2HWJLa1cVWBiFNz3loij ._3b8fs4YCVuY88p9lYr6R9n {
  color: #ffc82c;
}
._2HWJLa1cVWBiFNz3loij ._34NkCNjIGkKCte3fX0wnRY {
  color: #7c8ea3;
}
._1GQvTe7N-bhSS62k81jYE1 {
  height: 1px;
  background-color: #5b5b5b;
  width: 100%;
  margin-bottom: 15px;
}
._256fLpALMl5YHFGBANHEhU {
  height: 20px;
  width: 20px;
  padding-right: 15px;
  flex-shrink: 0;
}
.c1yG_FhoHVjWX9Ra5ZQQN {
  display: flex;
  flex-direction: row;
  padding: 7px 0px;
}
._336YAKjWURkatkWeI8exDf {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
}
._2BejwemJWjg_YdRiboYb34 {
  padding-left: 35px;
  padding-bottom: 5px;
  font-style: italic;
  display: inline-flex;
  font-size: 14px;
  color: #a9a9a9;
  word-break: break-word;
}
._1pC8tdJs_ppbeIZKK-PQ3x svg {
  vertical-align: bottom;
  height: 18px;
  width: 18px;
}
._1pC8tdJs_ppbeIZKK-PQ3x {
  padding-left: 10px;
  display: inline-block;
}
._3Ewxr4rKzhC1rcpCJrChFg {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
  margin-top: 4px;
  margin-bottom: 4px;
}
._2xqA7_YYWeGOEvIz4v6DSI {
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
}
._2JTRYQHyc7L6jjyuphKo60 {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yIDRWMjBWMjRMNyAyMEgyNFY0SDJaTTM0IDEyVjMyTDI5IDI4SDEyVjI0SDI4VjEySDM0WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin-right: 8px;
  opacity: 0.8;
}
._2aB9HGm37I5Nil9Ox3Ghyd {
  vertical-align: middle;
}
._1cm6kVu4NqfeEsRAY6HzJO {
  vertical-align: middle;
  color: var(--gpStoreLightestGrey);
  font-size: 14px;
  line-height: 20px;
}
._2SV_emIfYqd0FE4cPJTbfF .I3P4egf0HS1dH4Qr3vAoV {
  color: #0e141b;
}
._2SV_emIfYqd0FE4cPJTbfF ._39K5gSyYSvElXia1c4nZ0v {
  color: #fff;
}
._2e0FqbLmhlb64J5-4lLSSS .I3P4egf0HS1dH4Qr3vAoV {
  color: #fff;
}
._2e0FqbLmhlb64J5-4lLSSS ._39K5gSyYSvElXia1c4nZ0v {
  color: #0e141b;
}
._2Q-494zOM44tLzSjdRMtdS {
  color: #fff;
}
._3sifyV5fpgllCyioV_lnwf {
  width: auto;
  height: 16px;
}
._3-w0RfsV9P9mAjMsKeXGkY {
  width: auto;
  height: 22px;
}
._3jE5H2qSvKRcJXGS8CwctO {
  width: auto;
  height: 36px;
}
._2sFpIRxSZYFPum-eB7PsGE._3sifyV5fpgllCyioV_lnwf {
  margin-right: 20px;
}
