._29jK3MyNRDW7PAcrm59l_O {
  padding: 12px 0px;
}
._3yxJH3baj7mwTTYzBIyi_Z {
  text-transform: uppercase;
  padding-bottom: 5px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .03em;
  font-family: "Motiva Sans", Arial, sans-serif;
}
.BasicUI ._3yxJH3baj7mwTTYzBIyi_Z {
  font-weight: 700 !important;
  letter-spacing: .5px;
  font-size: 12px;
}
.Cek1s5Ixk2xYmkqjjESD0,
._2dGPTYWTKq3CirJwPXKw2b {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  background-color: #3b5a7280;
  align-items: center;
  transition: background-color .2s ease;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 1280px) {
  .Cek1s5Ixk2xYmkqjjESD0,
  ._2dGPTYWTKq3CirJwPXKw2b {
    padding: 16px 24px;
  }
}
.Cek1s5Ixk2xYmkqjjESD0:focus-within,
._2dGPTYWTKq3CirJwPXKw2b:focus-within {
  background-color: #678ba670;
}
.Cek1s5Ixk2xYmkqjjESD0 {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.Cek1s5Ixk2xYmkqjjESD0 ._2gXzKgnqPNSUzBWEYvQ4OP {
  font-size: 14px;
}
._1lpfU0ZtNKyd69pGItpBIh {
  padding-left: 10px;
  text-decoration: underline;
}
._3qF711tcWJEMKEv_r_S2tz {
  padding-right: 8px;
  vertical-align: middle;
}
._2IcEuX6gnbktAOaz9t0dTB {
  width: 100%;
  padding: 4px 10px;
  box-sizing: border-box;
  height: 28px;
  display: flex;
  gap: 6px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
._2IcEuX6gnbktAOaz9t0dTB .CrSPfZhq2070MqXIkkryS {
  background-color: #7f919f;
  font-size: 12px;
}
._2IcEuX6gnbktAOaz9t0dTB a:hover {
  cursor: pointer;
}
.CrSPfZhq2070MqXIkkryS {
  font-size: 1.3em;
}
._2gXzKgnqPNSUzBWEYvQ4OP {
  font-size: 16px;
}
.CrSPfZhq2070MqXIkkryS,
._2gXzKgnqPNSUzBWEYvQ4OP {
  padding: 6px 12px;
  color: #fff;
  background-color: #1a9fff;
  border-radius: 2px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.32);
  transition-property: color, background-color, border-radius;
  transition-duration: .1s;
  transition-timing-function: ease;
  display: flex;
}
.CrSPfZhq2070MqXIkkryS:hover,
._2gXzKgnqPNSUzBWEYvQ4OP:hover {
  color: #fff;
  background-color: #0bf;
  cursor: pointer;
}
.CrSPfZhq2070MqXIkkryS.gpfocus,
._2gXzKgnqPNSUzBWEYvQ4OP.gpfocus {
  background-color: #fff;
  border-radius: 0px;
  color: #000;
}
.ZEuE1Cb-TDw4-XHl51qc4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}
._2WJTd3a8tzPCkIBmvfBD79 {
  display: flex;
  flex-direction: column;
  font: var(--gpText-HeadingLarge);
  color: #fff;
}
._23sFZwpTqnM3Ameqew-ZuX {
  padding-left: 8px;
}
._23sFZwpTqnM3Ameqew-ZuX ._3qF711tcWJEMKEv_r_S2tz {
  padding-top: 1px;
  width: 26px;
}
._1WWwtz2-hqx1OnhlEOCTLl {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
._2ADsvLBScO2pMzUxFUg-_g,
._1-O8t3AxzpNsipTPfHVktW {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-height: 85vh;
}
._2ADsvLBScO2pMzUxFUg-_g ._3oQPVwTgG0CmSxwl3e1cI4,
._2ADsvLBScO2pMzUxFUg-_g ._2uCLczcyA7K90OppYPMeBA,
._1-O8t3AxzpNsipTPfHVktW ._3oQPVwTgG0CmSxwl3e1cI4,
._1-O8t3AxzpNsipTPfHVktW ._2uCLczcyA7K90OppYPMeBA {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
  padding-right: 15px;
}
._2ADsvLBScO2pMzUxFUg-_g ._3oQPVwTgG0CmSxwl3e1cI4::-webkit-scrollbar,
._1-O8t3AxzpNsipTPfHVktW ._3oQPVwTgG0CmSxwl3e1cI4::-webkit-scrollbar {
  display: none;
}
._2ADsvLBScO2pMzUxFUg-_g ._2uCLczcyA7K90OppYPMeBA::-webkit-scrollbar,
._1-O8t3AxzpNsipTPfHVktW ._2uCLczcyA7K90OppYPMeBA::-webkit-scrollbar {
  display: inline;
  padding-left: 20px;
}
._2ADsvLBScO2pMzUxFUg-_g ._5LMNcPZPMKt07G9Atmv_d,
._1-O8t3AxzpNsipTPfHVktW ._5LMNcPZPMKt07G9Atmv_d {
  font-size: 14px;
  color: #fff;
}
._2ADsvLBScO2pMzUxFUg-_g ._5LMNcPZPMKt07G9Atmv_d .rRMEH3oJvrQFGd520RdY0,
._1-O8t3AxzpNsipTPfHVktW ._5LMNcPZPMKt07G9Atmv_d .rRMEH3oJvrQFGd520RdY0 {
  color: #199fff;
  font-weight: bold;
}
._32fPpbyivR63XHk0qiRv5n {
  padding-bottom: 10px;
  display: inline-flex;
  font-size: 14px;
  word-break: break-word;
  color: #fff;
  width: 100%;
}
.mJGYScROtrnXBuQ-LU507 {
  padding-bottom: 10px;
  font-size: 14px;
  color: #fff;
}
.mJGYScROtrnXBuQ-LU507 .ewmg-iZH8r2ghippaDEbq {
  font-weight: bold;
  color: #59bf40;
}
.mJGYScROtrnXBuQ-LU507 ._1n8vatQzJB_Xptbs8lnm9n {
  font-weight: bold;
  color: #ffc82c;
}
.mJGYScROtrnXBuQ-LU507 ._2Q0ld2nJ3334gwZJ4LVzPW {
  font-weight: bold;
  color: #7c8ea3;
}
.mJGYScROtrnXBuQ-LU507 ._2XeA02URQukjyKp0fh__XL {
  font-weight: bold;
  color: #199fff;
}
._3456EX4aC94XtIz6d_Qhsl {
  vertical-align: middle;
  font-size: 14px;
}
._3456EX4aC94XtIz6d_Qhsl .ewmg-iZH8r2ghippaDEbq {
  color: #59bf40;
}
._3456EX4aC94XtIz6d_Qhsl ._1n8vatQzJB_Xptbs8lnm9n {
  color: #ffc82c;
}
._3456EX4aC94XtIz6d_Qhsl ._2Q0ld2nJ3334gwZJ4LVzPW {
  color: #7c8ea3;
}
._3456EX4aC94XtIz6d_Qhsl ._2XeA02URQukjyKp0fh__XL {
  color: #199fff;
}
._2mwbdnqm9Lk1-Bzs8FIdCU {
  height: 1px;
  background-color: #5b5b5b;
  width: 100%;
  margin-bottom: 15px;
}
.-L3Xub7NtXchyErJuHnKk {
  height: 20px;
  width: 20px;
  padding-right: 15px;
  flex-shrink: 0;
}
._6_vookxUbQB-_K6ZSHoOs {
  display: flex;
  flex-direction: row;
  padding: 7px 0px;
}
._1aoamIeDfCjdgyuxLvC71m {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
}
._1Wu_jj1kk9n3WIoga3RL_J {
  padding-left: 35px;
  padding-bottom: 5px;
  font-style: italic;
  display: inline-flex;
  font-size: 14px;
  color: #a9a9a9;
  word-break: break-word;
}
._3avWDmRhG0NCncSbd3Wsz5 svg {
  vertical-align: bottom;
  height: 18px;
  width: 18px;
}
._3avWDmRhG0NCncSbd3Wsz5 {
  padding-left: 10px;
  display: inline-block;
}
._1ikdMiUUJQCzu5m-OgP8az {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
  margin-top: 4px;
  margin-bottom: 4px;
}
._JTh9okiXkhbwI3pLwToq {
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
}
._2R6eCuptMWK0ZkTe0GeqEi {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yIDRWMjBWMjRMNyAyMEgyNFY0SDJaTTM0IDEyVjMyTDI5IDI4SDEyVjI0SDI4VjEySDM0WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin-right: 8px;
  opacity: 0.8;
}
._1zjwW1q8ccnB76k2rPv9oM {
  vertical-align: middle;
}
._3OZNUKYm6BQ2AVO-NCNw2t {
  vertical-align: middle;
  color: var(--gpStoreLightestGrey);
  font-size: 14px;
  line-height: 20px;
}
._1ALZVqWCl2J8DJg4XxemH1 {
  justify-content: center;
  border-bottom: unset !important;
}
._1ALZVqWCl2J8DJg4XxemH1 > div {
  border-bottom: unset;
  color: #a9a9a9;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #17202c;
  font-weight: 700;
  border-radius: 80px;
}
._1ALZVqWCl2J8DJg4XxemH1 ._1M5TZawv5Y4CRNXAISchG2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 50%;
  gap: 5px;
  text-transform: none;
  letter-spacing: 0px;
}
._1ALZVqWCl2J8DJg4XxemH1 .ActiveTab {
  background-color: #fff;
  color: #0e141b;
}
._1ALZVqWCl2J8DJg4XxemH1 .ActiveTab ._1M5TZawv5Y4CRNXAISchG2 {
  opacity: 100%;
}
._2UAf_T9P3-2l5Rr-IlNksx .yjs9mmsKYDARPUPSoBFw3 {
  color: #0e141b;
}
._2UAf_T9P3-2l5Rr-IlNksx .JgT6ZW65muFgrXnrRrXyD {
  color: #fff;
}
._1LgIo8fAGnrgqGzZ7rU_9D .yjs9mmsKYDARPUPSoBFw3 {
  color: #fff;
}
._1LgIo8fAGnrgqGzZ7rU_9D .JgT6ZW65muFgrXnrRrXyD {
  color: #0e141b;
}
._3BGwJlJ63TcWND8KK0xjaH {
  color: #fff;
}
._1Zc5j2ll9yRxA_ZKHEYhw2 {
  width: auto;
  height: 16px;
}
._12wgofPV3GgsAWFUJhpSz2 {
  width: auto;
  height: 22px;
}
._3E-9rilOaYgJAzNjrYPRYE {
  width: auto;
  height: 36px;
}
._2NB_hM-9uJkdXPKC3tdS7-._1Zc5j2ll9yRxA_ZKHEYhw2 {
  margin-right: 20px;
}
._3oSHTIvUhbK90D9Uvj438V {
  display: flex;
  margin-bottom: 16px;
  border-bottom: 1px solid #67c1f5;
  align-items: flex-end;
  text-align: center;
  flex-wrap: wrap;
  gap: 16px;
}
._3lJb_YN8uykqLcm4eG1jRF {
  padding: 4px 12px;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  transition-property: border-bottom-color;
  transition-duration: .25s;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}
html.responsive.touch ._3lJb_YN8uykqLcm4eG1jRF {
  font-size: 12px;
}
@media screen and (max-width: 910px) {
  html.responsive ._3lJb_YN8uykqLcm4eG1jRF {
    font-size: 12px;
  }
}
._3lJb_YN8uykqLcm4eG1jRF._8XjrTFzaSA8ubHvHCu44L,
._3lJb_YN8uykqLcm4eG1jRF:hover {
  border-bottom-color: #67c1f5;
  cursor: default;
  cursor: pointer;
}
._25U4FBOpeZQAX-v-f9Yosb {
  text-transform: uppercase;
  font-size: 9px;
}
._3LaJynPDFfccGWUEtdltlt {
  font-size: 9px;
  color: #b22222;
}
._1iIRVlPDTEUMMEFuHgLGlq {
  color: #a4d007;
}
.UxdQKun4GcZ-B1NJwHevX {
  color: #e24044;
}
.E9t9jUT0k_0xGdy7HbJfd {
  color: #e76e34;
}
