._2mHXbGuTlraXe_Q1JYKmJZ {
  display: flex;
  flex-direction: row;
}
._2mHXbGuTlraXe_Q1JYKmJZ._2JigUHOJ_OTCRjbohXgz9q {
  max-width: 320px;
  background: #000;
  padding: 16px;
}
._2mHXbGuTlraXe_Q1JYKmJZ .AVZgMOcgNdb95embDq8g1 {
  flex: 1;
}
._2mHXbGuTlraXe_Q1JYKmJZ ._1R5w2idIf5H3xZh7C6ObQL {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
._2mHXbGuTlraXe_Q1JYKmJZ ._1R5w2idIf5H3xZh7C6ObQL ._3TcEpA8cfRVBTd8q_vvFWu {
  flex: 1;
  margin-right: 16px;
}
._2mHXbGuTlraXe_Q1JYKmJZ
  ._1R5w2idIf5H3xZh7C6ObQL
  ._3TcEpA8cfRVBTd8q_vvFWu.kNcnUbYODwtyQ3AZp_VUM {
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-bottom: 12px;
}
._2mHXbGuTlraXe_Q1JYKmJZ
  ._1R5w2idIf5H3xZh7C6ObQL
  ._3TcEpA8cfRVBTd8q_vvFWu._2TBzK4oRpgLv5hHxtojPq5 {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 12px;
}
._2mHXbGuTlraXe_Q1JYKmJZ ._1R5w2idIf5H3xZh7C6ObQL ._22a0aPwQVuTJx58YZQWYBd {
  width: 16px;
  height: 16px;
  padding: 8px;
  background: linear-gradient(to right, #47bfff 5%, #1a8cc2 60%);
  border-radius: 3px;
}
._1olrpCNFeNf7UfruKHLVhY {
  margin-bottom: 15px;
}
._1olrpCNFeNf7UfruKHLVhY .M3h38e4KnwYsDvQP72dg0 {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #808285;
  margin-bottom: 3px;
}
._1olrpCNFeNf7UfruKHLVhY ._4jS-jBGyvj3mr8jkJ46Gc {
  line-height: 21px;
  font-size: 20px;
}
._1olrpCNFeNf7UfruKHLVhY .eEhAf6mE-OR6VCf4eHEkC {
  color: #fff;
}
._27EoU0Snt5nNX20x6Pw3oU:first-child {
  margin-bottom: 12px;
}
._27EoU0Snt5nNX20x6Pw3oU:last-child {
  margin-bottom: 0px;
}
._2sTdTYXMVbzmpZE4pBTCm3 {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 3px;
  position: relative;
}
._3Q0gDLqbQiNMNUdIcPkk26 {
  line-height: 24px;
}
._3j82MIv9kvq7XCtwNj7n0q input._2W8sgAlQVBIRQ1FcJK6JkO {
  font-size: 15px;
}
._12m3Shtk5hrE72P6Jq2BKk {
  margin-left: 20px;
  margin-top: 8px;
}
._2ao2WtX4G4yDdf4Py87Zhf {
  max-width: 200px;
}
._2W8sgAlQVBIRQ1FcJK6JkO {
  max-width: 100px;
}
.VTweaDtI9Pliy8jp6YsDH {
  display: block;
  line-height: 22px;
  padding: 10px;
  font-size: 14px;
}
._2RLF9u9ZYqkczJVg9ibx9f {
  padding: 10px;
}
._2mTwCB8Moti8eKGqffi1cq._1O49ue7FtKdpbT2zjGpSos {
  margin-right: 8px;
}
._3ksYFTfM0JWEc5IhOzefor {
  justify-content: flex-start;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(57, 61, 71, 0.5);
}
._3KrsS7BOnCu1tK2wbJUhWH {
  margin-top: 5px;
  padding-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  padding-left: 20px;
  border-left: #399aec 1px solid;
}
._3KrsS7BOnCu1tK2wbJUhWH > ._2_8MRRZRmC9crmOmhirv7- {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  width: 50%;
}
._3KrsS7BOnCu1tK2wbJUhWH > ._1MAHSiuekX-Y8DBzLZTJfv > span {
  margin-bottom: 0px;
}
.rYX24s5dEQCX9Xb7wVGpk {
  display: flex;
  flex-direction: column;
}
._2SAGi1AISnnGN_NrTJHI_y {
  padding: 10px;
  border-radius: 3px;
  background: rgba(57, 61, 71, 0.5);
}
._1jbnRVmvZRebcs3184yZFC {
  margin-top: 12px;
}
.Bww9BDFYAZ9ksaah3sndn {
  position: absolute;
  top: -13px;
  left: 30px;
  background: #744f4f;
  padding: 2px 8px 2px 2px;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  box-shadow: 1px 1px 8px #000;
}
.Bww9BDFYAZ9ksaah3sndn img {
  margin-right: 4px;
}
.RKE7g5McLhANBdiTzm-ai > .DialogContent_InnerWidth {
  max-width: 920px;
}
._32CdqVuKRqrf1SR8Hday6v {
  min-width: 800px;
  margin-bottom: 16px;
}
._gUUe9JABsRpGmdkooO11 {
  display: flex;
  flex-direction: column;
  min-height: 375px;
}
.xebmA68ybtGEgyG_oVMM0 {
  margin-bottom: 7px;
  font-family: "Motiva Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #bfbfbf;
}
._3egfk1DBae-OZSZtcwrDDq {
  margin-top: 8px;
  font-size: 12px;
}
.eZhskcRU_Ejw5kmSBLRTU {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 18px;
  flex: 1;
}
._1iIVgx9LfomTs6Ycj6qYgV {
  color: #0ea5cf;
  margin-bottom: 16px;
}
._2-dra08qCgH_F_0T756AwP {
  position: relative;
  background: #333;
  border: 1px solid #c6670e;
  padding: 9px 12px;
  font-family: "Motiva Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin: 14px 0 20px 0;
  color: #ff8a1c;
}
._2-dra08qCgH_F_0T756AwP:after {
  top: 100%;
  left: 24%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(198, 103, 14, 0);
  border-top-color: #c6670e;
  border-width: 10px;
  margin-left: -10px;
}
._27JIJRbunDgYqS_xDV7Xha {
  margin: 4px 0 24px 0;
  padding: 12px;
  background: linear-gradient(
    135deg,
    rgba(146, 3, 3, 0.8) 5.43%,
    rgba(112, 49, 20, 0.301) 100%
  );
  color: #fff;
  animation-duration: 1s;
  animation-name: bXT6nAG7o3DqMjoZ_zWJ;
}
@keyframes bXT6nAG7o3DqMjoZ_zWJ {
  from {
    filter: brightness(1);
  }
  25% {
    filter: brightness(2);
  }
  100% {
    filter: brightness(1);
  }
}
._2ocuoWlOpeAh97xq7WrkIM {
  display: flex;
  flex-direction: row;
  max-width: 320px;
}
._2ocuoWlOpeAh97xq7WrkIM._2o3d5bRhxhkhFeFhW8godg {
  max-width: 320px;
  background: #000;
  padding: 16px;
}
._2ocuoWlOpeAh97xq7WrkIM ._14jgI2A7iky0kJHGTv5bRH {
  flex: 1;
}
._2ocuoWlOpeAh97xq7WrkIM ._1FeuJt2eGQs_Rst-XDLFm4 {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
._2ocuoWlOpeAh97xq7WrkIM ._1FeuJt2eGQs_Rst-XDLFm4 ._1kzzU_wSbmdyI7oLSsyg-u {
  flex: 1;
  margin-right: 16px;
}
._2ocuoWlOpeAh97xq7WrkIM
  ._1FeuJt2eGQs_Rst-XDLFm4
  ._1kzzU_wSbmdyI7oLSsyg-u._3M26MlsJeORKy1BwxAXZum {
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-bottom: 12px;
}
._2ocuoWlOpeAh97xq7WrkIM
  ._1FeuJt2eGQs_Rst-XDLFm4
  ._1kzzU_wSbmdyI7oLSsyg-u._1qVhcuP_Q7ETKhqOIF-6nf {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 12px;
}
._2ocuoWlOpeAh97xq7WrkIM ._1FeuJt2eGQs_Rst-XDLFm4 ._1EzMvfRFX_4r0BoWZP0nDJ {
  width: 16px;
  height: 16px;
  padding: 8px;
  background: linear-gradient(to right, #47bfff 5%, #1a8cc2 60%);
  border-radius: 3px;
}
._15-FOPma_SgLfRiaMDz00K {
  margin-bottom: 15px;
}
._15-FOPma_SgLfRiaMDz00K .TlwzuMCaMLu_NamMk-aqI {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #808285;
  margin-bottom: 3px;
}
._15-FOPma_SgLfRiaMDz00K ._1q70c9TQOGTE8nIj0PZzFs {
  line-height: 21px;
  font-size: 20px;
}
._15-FOPma_SgLfRiaMDz00K ._462we5kglLCfOmKOQ-yFJ {
  color: #fff;
}
._1DrWiEkEcbt3HstR0OiF2H {
  font-weight: 300;
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 23px;
  color: #dedede;
}
._3j0F2jA1hGH2uFa5CQJUU1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #dedede;
}
button.DialogButton._3aJmqkMNOKlgJpR8MjiixB {
  width: 140px;
}
._29_hhzfHe7mcOGymGIBMk8 {
  color: #8f98a0;
}
._2EuSdla3Jwg3xI_Dgo_qHu {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
  margin-bottom: 3px;
}
.glzO-PzgvCa6Skefap3ex {
  width: 234px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #162430;
}
.glzO-PzgvCa6Skefap3ex._1o45fKVcOJe0ZqBEGcY7iq {
  background: #9d8b5e;
}
.glzO-PzgvCa6Skefap3ex._1o45fKVcOJe0ZqBEGcY7iq._1hL1r05CyflWZetU6qrC1c {
  background: #a25024;
}
._29T_Phs4gpEQr5w3liXu9f {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin-left: 8px;
  color: #66c0f4;
}
._29T_Phs4gpEQr5w3liXu9f._3r2CUk5i9BqNQMQQQUrr0D {
  color: #82f466;
}
._29T_Phs4gpEQr5w3liXu9f._1o45fKVcOJe0ZqBEGcY7iq {
  color: #fff;
}
._2iy3BWZdA1i5GxeKdEXw5h {
  width: 43px;
  height: 28px;
  display: grid;
  background: #101822;
}
._2iy3BWZdA1i5GxeKdEXw5h._1o45fKVcOJe0ZqBEGcY7iq {
  background: #7c6e4a;
}
._2iy3BWZdA1i5GxeKdEXw5h._1o45fKVcOJe0ZqBEGcY7iq._1hL1r05CyflWZetU6qrC1c {
  background: #8a441e;
}
._3fVMxj4lcjRb2Ig3TUcYBP {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  width: 50%;
  height: auto;
  color: #fff;
}
._1WiJc86Iy8Vg1PQk6AofW4 {
  padding: 5%;
  background: linear-gradient(90deg, #15202d 0%, #0e141c 100%);
}
.MjesDaM8ySIdAujGZPACn {
  display: flex;
  flex-direction: row;
  max-width: 320px;
}
.MjesDaM8ySIdAujGZPACn._22e4AKyxOJI3L9WZ-500_Z {
  max-width: 320px;
  background: #000;
  padding: 16px;
}
.MjesDaM8ySIdAujGZPACn ._3l1i_Ji2LHF9uLUsIA-6s2 {
  flex: 1;
}
.MjesDaM8ySIdAujGZPACn ._2Go5et-asyUXbKbuW0dECU {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.MjesDaM8ySIdAujGZPACn ._2Go5et-asyUXbKbuW0dECU .z4dAWecplX4aV9qPQNIQS {
  flex: 1;
  margin-right: 16px;
}
.MjesDaM8ySIdAujGZPACn
  ._2Go5et-asyUXbKbuW0dECU
  .z4dAWecplX4aV9qPQNIQS._2Bw1IVbdzXaD8JNOgVdzVe {
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-bottom: 12px;
}
.MjesDaM8ySIdAujGZPACn
  ._2Go5et-asyUXbKbuW0dECU
  .z4dAWecplX4aV9qPQNIQS._3LE9RI5JpeV3aUS6kkG4Y_ {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 12px;
}
.MjesDaM8ySIdAujGZPACn ._2Go5et-asyUXbKbuW0dECU ._314E_Djw7uBgNuk_9y6f5g {
  width: 16px;
  height: 16px;
  padding: 8px;
  background: linear-gradient(to right, #47bfff 5%, #1a8cc2 60%);
  border-radius: 3px;
}
._19qBNOVq73zhQhb1wP9w63 {
  margin-bottom: 15px;
}
._19qBNOVq73zhQhb1wP9w63 ._3eHSMKzTRL-1bzKry-AW_E {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #808285;
  margin-bottom: 3px;
}
._19qBNOVq73zhQhb1wP9w63 .nZkW2-OtbRBDwVDWS4ei8 {
  line-height: 21px;
  font-size: 20px;
}
._19qBNOVq73zhQhb1wP9w63 ._1oP0wSsWgMaOYbVWCy8eQF {
  color: #fff;
}
._3-olbnxO5LbbL6mSzamhw3 {
  font-weight: 300;
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 23px;
  color: #dedede;
}
._3Th0VAeLiIAxqsFn74j3EA {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #dedede;
}
button.DialogButton.lKVYBV_ioKj9Y_FKlMvqu {
  width: 140px;
}
.x6aCtZFZ3cDnCSJMJI0OB {
  color: #8f98a0;
  margin-bottom: 6px;
}
._1NUmCql50oyQsRv2rxSvr1 {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
._38m8DGDKcTxyFKbuvEpMIx {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(103, 193, 245, 0.1);
  color: #66c0f4;
}
._38m8DGDKcTxyFKbuvEpMIx._3InqRBbbAXO4WJ35-ou6cl {
  color: #82f466;
}
._38m8DGDKcTxyFKbuvEpMIx.H8PWxseAXhM6PapqoU5jP {
  color: #ffc82c;
}
._38m8DGDKcTxyFKbuvEpMIx._3Q8sxkN3baZIWYOXUGEwpZ {
  color: #82f466;
}
._38m8DGDKcTxyFKbuvEpMIx.zD5C0Xyh3lZRY_mRIRpVA {
  background: #9d8b5e;
  color: #fff;
}
._38m8DGDKcTxyFKbuvEpMIx:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  background: #67c1f5;
  background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
}
._5bHD6q5nDA6TLrWbE5Hvx {
  font-weight: 400;
  font-size: 12px;
  padding: 6px 8px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
._5bHD6q5nDA6TLrWbE5Hvx._3Q8sxkN3baZIWYOXUGEwpZ {
  color: #69a712;
}
._28V2e4qcBKMUfwPNxuJevO {
  padding: 0px 6px;
  display: flex;
  background: #101822;
}
._28V2e4qcBKMUfwPNxuJevO.zD5C0Xyh3lZRY_mRIRpVA {
  background: #7c6e4a;
}
._28V2e4qcBKMUfwPNxuJevO.H8PWxseAXhM6PapqoU5jP {
  background: #ffc82c;
}
._28V2e4qcBKMUfwPNxuJevO > svg {
  width: 26px;
  height: 16px;
  align-self: center;
}
._28V2e4qcBKMUfwPNxuJevO > svg.BOCK_85Q7zCMjhmqqf182 {
  height: 20px;
}
._28V2e4qcBKMUfwPNxuJevO > svg._2xOzFrnkKmDSLNhuD5Ke5e {
  width: 22px;
  padding-left: 2px;
  padding-right: 2px;
  transition: none;
}
._1F4_sw07miPTtc8CNasbvN {
  padding: 5%;
  background: linear-gradient(90deg, #15202d 0%, #0e141c 100%);
}
._2Z38-sqi_66Ock18gKwsUm {
  margin-top: 12px;
}
._3coXqS7LWcc1GxjOIORLPW {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 32px;
}
._3Ci-mcHPf9PwcjjvzB0v-2 {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 12px;
  margin-top: 2px;
}
._3nByihRHvBVf4L5_bEg2dR {
  margin-top: 14px;
  margin-bottom: 2px;
}
._2pO7EB1Gl4_IN2uoWkJ-bM {
  padding: 0px 6px;
  display: flex;
  width: 26px;
  height: 16px;
  align-self: center;
}
._11_KaesMs-enCJ0GS0trTR {
  transform: rotate(-15deg);
}
._2TD1tfeH-GO6CqFXxRd-Rm {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(217, 217, 217, 0.1);
}
._11C_jcbfitrasoPZxY7vXc {
  color: #fff;
  margin-right: 2px;
}
._2M4zwA7Ac68En7AUUHEpuK {
  height: 100vh;
  max-height: 920px;
}
._2M4zwA7Ac68En7AUUHEpuK > .DialogContent_InnerWidth {
  width: 900px;
  min-width: 900px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
}
._2M4zwA7Ac68En7AUUHEpuK .Shared_Radio_Group {
  flex-direction: column;
  margin-bottom: 70px;
}
._2M4zwA7Ac68En7AUUHEpuK .Shared_Radio_Group .RadioButton {
  display: flex;
  flex-direction: row;
  justify-content: start;
  position: relative;
}
._2M4zwA7Ac68En7AUUHEpuK
  .Shared_Radio_Group
  .RadioButton
  ._1wayRCM9VO944GbqtTisWi {
  margin-left: 4px;
}
._1j_e5epqt09WxhZOjyi9D1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
._2Agdmn90d9rLK0COHBJ9Ya {
  margin-bottom: 16px;
}
._35X7XjU8DZ2H27V0SBSAoo {
  display: flex;
  flex-direction: column;
  min-height: 375px;
}
._3xAxLUcHgDWrN3L54mLJYv {
  margin-bottom: 7px;
  font-family: "Motiva Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #bfbfbf;
}
._3qIJUe57BhaB_-fSLUg9Hx {
  margin-top: 8px;
  font-size: 12px;
}
.upSjacqUkxiBsrt6N42gC {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 18px;
  flex: 1;
}
._3FlXrEk2woo6dOboR90dCn {
  color: #0ea5cf;
  margin-bottom: 16px;
}
.GSVWx_w2LMo3SAhwSgY-n {
  position: relative;
  background: #333;
  border: 1px solid #c6670e;
  padding: 9px 12px;
  font-family: "Motiva Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin: 14px 0 20px 0;
  color: #ff8a1c;
}
.GSVWx_w2LMo3SAhwSgY-n:after {
  top: 100%;
  left: 24%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(198, 103, 14, 0);
  border-top-color: #c6670e;
  border-width: 10px;
  margin-left: -10px;
}
._1h88U0C26maKtvTHQw0f4Z {
  margin: 4px 0 24px 0;
  padding: 12px;
  background: linear-gradient(
    135deg,
    rgba(146, 3, 3, 0.8) 5.43%,
    rgba(112, 49, 20, 0.301) 100%
  );
  color: #fff;
  animation-duration: 1s;
  animation-name: XREUsZ2A3RyF2E-vQKQwp;
}
@keyframes XREUsZ2A3RyF2E-vQKQwp {
  from {
    filter: brightness(1);
  }
  25% {
    filter: brightness(2);
  }
  100% {
    filter: brightness(1);
  }
}
.Qq753teqS-0zB67wi3MP5 ._37mGYoLJCV-kP2sFOgvZhh {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.Qq753teqS-0zB67wi3MP5 ._37mGYoLJCV-kP2sFOgvZhh .DialogBodyText {
  margin-bottom: 8px;
}
._1Cqgv4c_2wNORC7k0gp6O0 {
  box-sizing: border-box;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #d9d9d9;
  border: 1px solid #000;
}
._1Cqgv4c_2wNORC7k0gp6O0._1iGfirXEzQZDHkJVHJCe25 {
  background: #23262e;
  box-shadow: inset 0 0 0 2px #d9d9d9;
}
._1CKHmXyuOvgsgsfZWRwdkk {
  margin-left: 20px;
  text-align: left;
}
._2FcBzeH5LVz2CQQWk-coqU {
  height: 10px;
  background: #40474c;
  position: relative;
}
._2FcBzeH5LVz2CQQWk-coqU._231x-l7fB13puyRZJDW46L {
  background: #73ff70;
}
.a63k2U08nK9HrNLtO-4xe {
  background: #70c3ff;
  height: 100%;
}
._3acfYDihepdLalPwwfH_1O {
  position: relative;
  font-size: 16px;
  height: 23px;
  line-height: 23px;
  color: #dedede;
  margin-bottom: 9px;
}
._4NsQgqhsg7-hwuKwFSkt1 {
  display: flex;
  flex-direction: row;
  margin-top: 36px;
  flex-basis: 0;
}
._3Q7KPqZcxMH4I4NbiI4ZLQ {
  margin-top: 36px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
}
._27_A1alE6d3sduux3CAyY_ {
  width: 117px;
  margin-right: 16px;
}
._27_A1alE6d3sduux3CAyY_ svg {
  color: #fff;
}
.T9eBinyQ2hCY8oy4WO8g9 {
  white-space: break-spaces;
  margin-bottom: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  color: #dedede;
  max-width: 900px;
}
.T9eBinyQ2hCY8oy4WO8g9 p {
  color: #dedede;
  font-size: 16px;
}
.T9eBinyQ2hCY8oy4WO8g9 li {
  margin-bottom: 4px;
}
._86lVB7cXYqg7s4LChbRyM {
  flex-basis: 0;
  margin-bottom: 11px;
  color: #dedede;
}
._1K5gAgxxFp6Fb_mLLeHwQi {
  display: flex;
}
._1K5gAgxxFp6Fb_mLLeHwQi .DialogButton {
  width: 36px;
  height: 30px;
  margin-left: auto;
  margin-top: auto;
}
._29VCzH1j-cbaFKeMAv4xX_ {
  display: flex;
}
._29VCzH1j-cbaFKeMAv4xX_:not(:first-child) {
  margin-top: 60px;
}
._1K5gAgxxFp6Fb_mLLeHwQi .EventEditorTextTitle {
  padding-top: 6px;
}
._2Kb5slnuUjyEZh0EM01mpa {
  display: flex;
  flex-direction: row;
  overflow: visible;
  width: fit-content;
}
._2Kb5slnuUjyEZh0EM01mpa._1MTZXU0O3Ez0HuYIUZ7DRL {
  position: sticky;
  top: 0;
  background: #000;
  z-index: 1;
}
._3omSD7bzihAQsvjW816OTH {
  color: #82a6d7;
  overflow: hidden;
}
.kPaeu3zbh3qS1FSWF0PXM {
  color: #ca5029;
}
.ExSF3NJhFrNmaalRumcyU {
  color: #8bb006;
}
._1v_REU9nI-QU5hVkmSREZ2 {
  background: #e240432c;
}
._1flav3IaDWEjl67mhiTjtL {
  color: #e24044 !important;
  font-weight: bold;
  border: 1px solid #e24044 !important;
  background-color: #500 !important;
}
._1yBYLNIGGvEetpwa3M9DVx {
  background: #8bb00623;
}
._31Qzh5kyW8c3aceh-aaOLD {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
._31Qzh5kyW8c3aceh-aaOLD div {
  margin-left: 5px;
  margin-top: 5px;
}
._1v90IxHlEuTMEzzaQS4DkY {
  width: 200px;
  flex-shrink: 0;
}
._1v90IxHlEuTMEzzaQS4DkY ._3Ry84c5vN70mLVtPYtg6sv {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
._1v90IxHlEuTMEzzaQS4DkY ._3Ry84c5vN70mLVtPYtg6sv a {
  color: #fff;
  text-decoration: none;
}
._3yvRGn0SGj1ZMfxDBlsunE {
  width: 100px;
  flex-shrink: 0;
}
._1OTJ0XMxu7F_2yNy3A2qKA {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0;
}
._2smrPeVLLyicNuwt3hgBAd {
  color: #b8b877;
}
._1VlWukpBKxbYmmlJrC6r5m {
  vertical-align: top;
}
._2cCH3yNLHHafG87E2uIfR- {
  max-width: 32px;
  max-height: 32px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  border-radius: 3px;
}
._4Xo2kBxLD3UDeZmmJU0r- {
  background-color: #515661;
  height: 26px;
  width: 22px;
  box-sizing: border-box;
  padding: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
._4Xo2kBxLD3UDeZmmJU0r-:hover {
  background-color: #d3d3d3;
}
.CompactMode ._4Xo2kBxLD3UDeZmmJU0r- {
  width: 18px;
  padding: 4px 2px;
}
._1vwM_zfUBQB5iGczHvjbUv {
  background-color: #34373d;
  width: 350px;
}
._1tfKPTE7T78mXY5NZSQPQK {
  padding: 8px 16px;
}
._3fwDv3EkXmKGmgu15LfFgo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 4px;
  gap: 4px;
}
._2x-S8tOIgpJaC4ZsFg1g8d {
  box-sizing: border-box;
  padding: 3px 6px;
  width: 100%;
  text-align: right;
  background-color: #444850;
}
._2x-S8tOIgpJaC4ZsFg1g8d._2AddnZ15YltINVvHy_b_Jm {
  color: #fff;
  background-color: #222;
}
._2x-S8tOIgpJaC4ZsFg1g8d:hover {
  background-color: #656b76;
  color: #fff;
  cursor: pointer;
}
._2YpW8SafRsHDfQIUT2DzUP {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4b505c;
  fill: #9499a4;
}
._2YpW8SafRsHDfQIUT2DzUP:hover {
  fill: #fff;
  cursor: pointer;
}
._1sKIcxV1HaEWCa1x_sSuVT {
  display: flex;
  align-items: center;
  padding: 0 24px 0 48px;
  height: 100%;
  font-size: 13px;
  color: #fff;
  box-sizing: border-box;
  border: 1px solid transparent;
}
._1sKIcxV1HaEWCa1x_sSuVT .gPcNwuh4LJPmwRZrAbrA5,
._1sKIcxV1HaEWCa1x_sSuVT ._3AEJb3AH01qQaG89JOYAh4 {
  color: gray;
  padding: 11px 4px;
}
._1sKIcxV1HaEWCa1x_sSuVT .pm5xM6Dyy-9XY0g9TpjX1 {
  display: flex;
  align-items: center;
  flex: 1;
  width: 80px;
}
._1sKIcxV1HaEWCa1x_sSuVT ._1PcwXjG-2t5JOJuL7yhOYG {
  width: 100%;
  box-sizing: border-box;
  padding: 1px 6px;
  text-align: right;
  color: inherit;
  font-size: 13px;
}
._1sKIcxV1HaEWCa1x_sSuVT._1C7qRJ6YdGWEwEK4QsMRUX {
  padding: 0 8px 0 48px;
}
._1sKIcxV1HaEWCa1x_sSuVT._1C7qRJ6YdGWEwEK4QsMRUX .pm5xM6Dyy-9XY0g9TpjX1 {
  border: 1px solid #515661;
}
._1sKIcxV1HaEWCa1x_sSuVT.rVkmDwpTOXR4DqdBdbiPf {
  border: 1px solid #1b97ff;
}
._1sKIcxV1HaEWCa1x_sSuVT.rVkmDwpTOXR4DqdBdbiPf._1JBd8mxmIpyOChqhkSKSUg {
  border: 1px solid #a4d007;
}
._1sKIcxV1HaEWCa1x_sSuVT._5mvGWs3IDSRLfxvHx8wig {
  border: 1px dashed #5d7f9d;
  color: #85b6e1;
}
._1sKIcxV1HaEWCa1x_sSuVT._1Qd5uW_BK8PBDJiDBjDCPN {
  position: relative;
}
.CompactMode ._1sKIcxV1HaEWCa1x_sSuVT._1Qd5uW_BK8PBDJiDBjDCPN {
  color: #c59429;
}
._1sKIcxV1HaEWCa1x_sSuVT._1o6zP8gegcka6hdQA2lJjv {
  color: #c22d00;
}
._1sKIcxV1HaEWCa1x_sSuVT._1o6zP8gegcka6hdQA2lJjv._5mvGWs3IDSRLfxvHx8wig {
  border: 1px dashed #c22d00;
}
.CompactMode ._1sKIcxV1HaEWCa1x_sSuVT._1o6zP8gegcka6hdQA2lJjv {
  color: #ff9100;
}
._1sKIcxV1HaEWCa1x_sSuVT._18aiu0HZznAMnGQfWExtTm {
  border: 1px dashed #ff9100;
  color: #ff9100;
}
._1sKIcxV1HaEWCa1x_sSuVT .w-K7qF60ELXWtEjymcY68,
._1sKIcxV1HaEWCa1x_sSuVT ._3sgbtvMYimrD0kSs3VCoPx {
  position: absolute;
  left: 4px;
}
._1sKIcxV1HaEWCa1x_sSuVT ._2eadUvk4zK7FL9FFvy3Gd2 {
  position: absolute;
  top: 12px;
  right: 4px;
  width: 18px;
}
.w-K7qF60ELXWtEjymcY68 {
  font-size: 11px;
  padding-right: 4px;
  z-index: 1;
  display: flex;
  color: #85b6e1;
}
.w-K7qF60ELXWtEjymcY68 ._1z0l2rhYAxXf6M_tgnczgZ {
  height: 14px;
}
.w-K7qF60ELXWtEjymcY68 ._1z0l2rhYAxXf6M_tgnczgZ svg {
  height: 14px;
  width: 12px;
}
.w-K7qF60ELXWtEjymcY68 ._1z0l2rhYAxXf6M_tgnczgZ svg polyline {
  stroke: #85b6e1;
  stroke-width: 40px;
}
.w-K7qF60ELXWtEjymcY68._2jQyP7o7hbWM4EhAkKLAks {
  color: #ff9100;
}
.w-K7qF60ELXWtEjymcY68._2jQyP7o7hbWM4EhAkKLAks
  ._1z0l2rhYAxXf6M_tgnczgZ
  svg
  polyline {
  stroke: #ff9100;
}
._2eadUvk4zK7FL9FFvy3Gd2 svg {
  height: 18px;
}
.CompactMode ._1sKIcxV1HaEWCa1x_sSuVT {
  padding: 0;
}
.CompactMode ._1sKIcxV1HaEWCa1x_sSuVT .w-K7qF60ELXWtEjymcY68,
.CompactMode ._1sKIcxV1HaEWCa1x_sSuVT ._2eadUvk4zK7FL9FFvy3Gd2,
.CompactMode ._1sKIcxV1HaEWCa1x_sSuVT .gPcNwuh4LJPmwRZrAbrA5,
.CompactMode ._1sKIcxV1HaEWCa1x_sSuVT ._3AEJb3AH01qQaG89JOYAh4 {
  display: none;
}
._1AoyzK2lSPVwQJoIYEjFbR {
  box-sizing: border-box;
  font-size: 13px;
  background: radial-gradient(
    ellipse farthest-corner at 50% 0%,
    #464b53 0%,
    #3c4049 50%,
    #3a3d45 100%
  );
  color: #e0e1e6;
  padding: 6px 8px;
  box-shadow:
    1px 1px 8px #0005,
    2px 2px 16px 1px #0005;
  user-select: none;
}
._3P_fJH02fBcdGM2etenWu7 {
  display: flex;
  align-items: center;
  margin: 2px 0;
}
._3P_fJH02fBcdGM2etenWu7:hover {
  background: linear-gradient(90deg, transparent, #515661);
  cursor: help;
}
._3P_fJH02fBcdGM2etenWu7 ._3RXb3FOdpsOt-aVMvfnb6W {
  flex: 1;
  white-space: nowrap;
}
._3P_fJH02fBcdGM2etenWu7 ._2k3CVLd6A1QAixKOkfGx6P {
  flex: none;
  min-width: 100px;
  width: fit-content;
  text-align: right;
}
._3P_fJH02fBcdGM2etenWu7 ._3ILP7OdXtGjDaSvJqI81RV {
  border-radius: 3px;
  padding: 2px 8px;
  margin-left: 6px;
  box-sizing: border-box;
  flex: none;
  background-color: #575c66;
  width: fit-content;
}
._3P_fJH02fBcdGM2etenWu7 ._3ILP7OdXtGjDaSvJqI81RV._3mZHsQVQB8w84OblleAq68 {
  background-color: rgba(80, 80, 80, 0.5);
  color: #646464;
  opacity: 0;
}
._3P_fJH02fBcdGM2etenWu7
  ._3ILP7OdXtGjDaSvJqI81RV:not(._3mZHsQVQB8w84OblleAq68):hover {
  background-color: #676d79;
  cursor: pointer;
}
div._36qS74l1tXSXwGdyfIFQ-G {
  z-index: 2000;
}
._1o8PeYV1JEHw28jdq0-cZs {
  line-height: 24px;
}
._3tmYmIJendBOkxYfR5pMSJ {
  display: flex;
  flex-direction: row;
  grid-gap: 5px;
}
.hmIKAOq3IUq5OZJGCGodY {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
}
.FR0Jbt4UFGpCZeakQYuXa {
  position: relative;
}
.FR0Jbt4UFGpCZeakQYuXa ._1sw3lFWbKOrwVBjyMmIVFE {
  width: 33%;
  display: flex;
  flex-direction: column;
}
._2aZ0dHJvCBWY-dISFYuHx7 {
  margin-bottom: 16px;
}
._3Fj4_LN49SJ2FIDkn5Ar_x {
  display: flex;
  flex-direction: row;
  padding: 12px;
  background: #000;
}
._19_mEBDtOirVDKNF0sbPMT {
  display: inline;
}
._1Z31Ten-n1dAC5fhblKIfC {
  margin-left: 20px;
}
._1Z31Ten-n1dAC5fhblKIfC ._3vOjxVYu8bLFNAaHbstgFp {
  color: #a75ea7;
}
._14hkGjE6JlGYtfCi24GIcv ._1Prze41qAKK3Yf2ywGaP4x {
  color: #ff0;
}
._14hkGjE6JlGYtfCi24GIcv .gYYAD-UX0KTtpP8A7wose {
  color: #a58c5d;
}
._14hkGjE6JlGYtfCi24GIcv .Ru7OVKpEg2-4T6i2fJPVP {
  color: #a75ea7;
}
._14hkGjE6JlGYtfCi24GIcv ._18NNA8ajB8j6lCIlkk8_uk {
  color: #adff2f;
}
._1aHJaADVcfWKEoJd3rHyzS {
  font-size: 14px;
  margin-bottom: 6px;
}
._1aHJaADVcfWKEoJd3rHyzS ._3vH34cEyQM0jTB1rtzMc19 {
  color: #ff0;
  display: inline-block;
}
._2H_McBAV-1DEhfPhYqmTG8 {
  display: flex;
  flex-direction: row;
}
._1x66lPK7LljczLFs4Z0w2Y {
  color: #adff2f;
}
._1Qz3SUdF4Z2HAIlSWPA08n {
  margin-top: 16px;
  border-top: 1px solid #2b2b2b;
  margin-right: 16px;
  height: fit-content;
}
._1Qz3SUdF4Z2HAIlSWPA08n ._1jnFS4SBVwvvKVzrE6v9ly {
  padding: 0;
  color: #a58c5d;
}
._1Qz3SUdF4Z2HAIlSWPA08n ._1jnFS4SBVwvvKVzrE6v9ly._2QdKNR-tKnTQ9LEnQ8bVV- b {
  color: #ff4500;
}
._1Qz3SUdF4Z2HAIlSWPA08n ._1jnFS4SBVwvvKVzrE6v9ly._1Yk633c4Lzb0M0bpPNgg7e b {
  color: orange;
}
._1Qz3SUdF4Z2HAIlSWPA08n td {
  padding: 1px 5px 1px 0;
}
._1Qz3SUdF4Z2HAIlSWPA08n ._1WR81oD47ZQYIwkubRtLJ0 {
  color: #c9d5dd;
}
._1Qz3SUdF4Z2HAIlSWPA08n ._1WR81oD47ZQYIwkubRtLJ0.IROvk26OnXM-2kx4vbPtO {
  color: #7e8285;
  font-weight: 500;
}
._1Qz3SUdF4Z2HAIlSWPA08n
  ._1WR81oD47ZQYIwkubRtLJ0.IROvk26OnXM-2kx4vbPtO
  ._1ErxFwG9fg34T9vaBCjMyh {
  text-transform: unset;
}
._1Qz3SUdF4Z2HAIlSWPA08n ._1WR81oD47ZQYIwkubRtLJ0 ._3tHg_ZoTA9Y-7U0t2Cxfyx {
  color: #77a777;
}
._1Qz3SUdF4Z2HAIlSWPA08n ._1WR81oD47ZQYIwkubRtLJ0 ._1ErxFwG9fg34T9vaBCjMyh {
  padding-right: 8px;
  text-transform: uppercase;
}
._1Qz3SUdF4Z2HAIlSWPA08n ._1WR81oD47ZQYIwkubRtLJ0 ._2oPTCoNk1ZzEt4AhH3P2D- {
  padding-right: 8px;
  text-align: right;
}
._1Qz3SUdF4Z2HAIlSWPA08n ._1WR81oD47ZQYIwkubRtLJ0 .mbBO-p8uSR3ZCnGWTrGpO {
  padding-right: 8px;
  text-align: right;
}
._1Qz3SUdF4Z2HAIlSWPA08n ._1WR81oD47ZQYIwkubRtLJ0 ._30pJDSHiHiCXSW4SNk0nnP {
  padding-right: 8px;
  text-align: right;
}
._1Qz3SUdF4Z2HAIlSWPA08n ._1WR81oD47ZQYIwkubRtLJ0 ._1d_jmwlFfcaSfpvHzyFrhM {
  padding-right: 8px;
}
._1Xzwu7hrwrG-4QWc1zMbsx {
  color: red;
}
._36r8gl5xbOCl3auJ3n_QlS {
  display: flex;
  margin-bottom: 16px;
  border-bottom: 1px solid #67c1f5;
  align-items: flex-end;
  text-align: center;
  flex-wrap: wrap;
  gap: 16px;
}
.K1_TpPRugybUSZ7-2Q6Lz {
  padding: 4px 12px;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  transition-property: border-bottom-color;
  transition-duration: 0.25s;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
}
html.responsive.touch .K1_TpPRugybUSZ7-2Q6Lz {
  font-size: 12px;
}
@media screen and (max-width: 910px) {
  html:not(.force_desktop) .K1_TpPRugybUSZ7-2Q6Lz {
    font-size: 12px;
  }
}
.K1_TpPRugybUSZ7-2Q6Lz._37f6MbKHjwO1qFFuks0sTJ,
.K1_TpPRugybUSZ7-2Q6Lz:hover {
  border-bottom-color: #67c1f5;
  cursor: default;
  cursor: pointer;
}
.ojMj8nqJL_5W-K7A_IEob {
  text-transform: uppercase;
  font-size: 9px;
}
._21XR-ix3BTEJLybcEZ5WLH {
  font-size: 9px;
  color: #b22222;
}
._1HWSee7PsxQ5iVbJM0p5-9 {
  color: #a4d007;
}
._2jgbNWld-7Gtf6BxRwKF8n {
  color: #e24044;
}
._31Lxus7enF5o2STla_4chs {
  color: #e76e34;
}
