//
// Styles
//

#MsgBoxBodyRegion
{
	width: 55%;
}


.MsgBoxButtons
{
	horizontal-align: left;
	font-size: 42px;
	font-family: platformfont;
	color: #ffffffff;
	margin-top: 40px;
	margin-left: -5px;

	flow-children: right;
}

.MsgBoxButtons Button
{
	flow-children: right;
	margin-right: 26px;
	padding: 4px 8px 4px 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 50%;

	color: detailsdatalabelfocus;

	border-style: solid;
	border-width: 5px;
	border-color: #00000000;

	transition-property: background-color, border, box-shadow, pre-transform-scale2d;
	transition-duration: 0.25s !immediate;
	transition-timing-function: bigpicture-ease-in-out;
}

.MsgBoxButtons Button Label
{
	horizontal-align: left;
	font-size: 30px;

	padding-left: 5px;
	padding-right: 5px;
	transition-property: color;
	transition-duration: 0.25s !immediate;
	transition-timing-function: bigpicture-ease-in-out;

}

.MsgBoxButtons Button:disabled Label
{
	color: #ffffff66;
}

.MsgBoxButtons Button:hover
{
	background-color: #00000020;
	pre-transform-scale2d: 1.01;
	box-shadow: #eeeeee60 -5px -5px 6px 10px;
}

.MsgBoxButtons Button:focus
{
	background-color: #00000020;

	color: #161718f5;
	background-color: gradient( linear, -15% 0%, 100% 0%, from( #fdfdfdee ), to( #adafafe0 ) ); 
	border-width: 5px;
	border-style: solid;
	border-color: #fdfefef0;

	animation-name: msgbox-button-focus; 
	animation-duration: 1.7s;
	animation-delay: MessageBoxAnimationDuration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
	
	animation-name: main-button-glow-movement-no-fill;
	animation-duration: 1.7s;
	animation-delay: MessageBoxAnimationDuration;
	animation-timing-function: bigpicture-ease-in-out;
	animation-iteration-count: infinite;
	
}

.MsgBoxButtons Button:disabled
{
	opacity: 0.4;
	pre-transform-scale2d: 1.0;
	box-shadow: #00000000 -5px -5px 6px 10px;
	animation-name: none;
}