.btn_green_white_innerfade {
	border-radius: 2px;
	padding: 1px;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: none;

	color: #fff !important;

	background: #a4d007; /* Old browsers */
	background: -moz-linear-gradient(top, #a4d007 5%, #6b8805 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#a4d007), color-stop(95%,#6b8805));background: -webkit-linear-gradient(top, #a4d007 5%,#6b8805 95%);background: -o-linear-gradient(top, #a4d007 5%,#6b8805 95%);background: -ms-linear-gradient(top, #a4d007 5%,#6b8805 95%);background: linear-gradient(to bottom, #a4d007 5%,#6b8805 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4d007', endColorstr='#6b8805',GradientType=0 );}

	.btn_green_white_innerfade > span {
		border-radius: 2px;
		display: block;

		background: #8bb006; /* Old browsers */
		background: -moz-linear-gradient(top, #8bb006 5%, #6b8805 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#8bb006), color-stop(95%,#6b8805));background: -webkit-linear-gradient(top, #8bb006 5%,#6b8805 95%);background: -o-linear-gradient(top, #8bb006 5%,#6b8805 95%);background: -ms-linear-gradient(top, #8bb006 5%,#6b8805 95%);background: linear-gradient(to bottom, #8bb006 5%,#6b8805 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bb006', endColorstr='#6b8805',GradientType=0 );	}

	.btn_green_white_innerfade:hover {
		text-decoration: none;

		background: #b6d908 ; /* Old browsers */
		background: -moz-linear-gradient(top, #b6d908 5%, #80a006 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#b6d908), color-stop(95%,#80a006));background: -webkit-linear-gradient(top, #b6d908 5%,#80a006 95%);background: -o-linear-gradient(top, #b6d908 5%,#80a006 95%);background: -ms-linear-gradient(top, #b6d908 5%,#80a006 95%);background: linear-gradient(to bottom, #b6d908 5%,#80a006 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6d908', endColorstr='#80a006',GradientType=0 );	}

	.btn_green_white_innerfade:hover > span {
		background: #a1bf07; /* Old browsers */
		background: -moz-linear-gradient(top, #a1bf07 5%, #80a006 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#a1bf07), color-stop(95%,#80a006));background: -webkit-linear-gradient(top, #a1bf07 5%,#80a006 95%);background: -o-linear-gradient(top, #a1bf07 5%,#80a006 95%);background: -ms-linear-gradient(top, #a1bf07 5%,#80a006 95%);background: linear-gradient(to bottom, #a1bf07 5%,#80a006 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1bf07', endColorstr='#80a006',GradientType=0 );	}

.btn_blue_white_innerfade {
	border-radius: 2px;
	color: #fff !important;
	padding: 1px;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: none;

	background: #aaceff; /* Old browsers */
	background: -moz-linear-gradient(top, #aaceff 5%, #3c6091 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#aaceff), color-stop(95%,#3c6091));background: -webkit-linear-gradient(top, #aaceff 5%,#3c6091 95%);background: -o-linear-gradient(top, #aaceff 5%,#3c6091 95%);background: -ms-linear-gradient(top, #aaceff 5%,#3c6091 95%);background: linear-gradient(to bottom, #aaceff 5%,#3c6091 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaceff', endColorstr='#3c6091',GradientType=0 );}
	.btn_blue_white_innerfade > span {

		border-radius: 2px;
		display: block;
		background: #82a6d7; /* Old browsers */
		background: -moz-linear-gradient(top, #82a6d7 5%, #3c6091 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#82a6d7), color-stop(95%,#3c6091));background: -webkit-linear-gradient(top, #82a6d7 5%,#3c6091 95%);background: -o-linear-gradient(top, #82a6d7 5%,#3c6091 95%);background: -ms-linear-gradient(top, #82a6d7 5%,#3c6091 95%);background: linear-gradient(to bottom, #82a6d7 5%,#3c6091 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82a6d7', endColorstr='#3c6091',GradientType=0 );	}

	.btn_blue_white_innerfade:hover {
		text-decoration: none;

		background: #bbd8ff ; /* Old browsers */
		background: -moz-linear-gradient(top, #bbd8ff 5%, #4873a7 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#bbd8ff), color-stop(95%,#4873a7));background: -webkit-linear-gradient(top, #bbd8ff 5%,#4873a7 95%);background: -o-linear-gradient(top, #bbd8ff 5%,#4873a7 95%);background: -ms-linear-gradient(top, #bbd8ff 5%,#4873a7 95%);background: linear-gradient(to bottom, #bbd8ff 5%,#4873a7 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbd8ff', endColorstr='#4873a7',GradientType=0 );	}

		.btn_blue_white_innerfade:hover > span {
			background: #9ab7de; /* Old browsers */
			background: -moz-linear-gradient(top, #9ab7de 5%, #4873a7 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#9ab7de), color-stop(95%,#4873a7));background: -webkit-linear-gradient(top, #9ab7de 5%,#4873a7 95%);background: -o-linear-gradient(top, #9ab7de 5%,#4873a7 95%);background: -ms-linear-gradient(top, #9ab7de 5%,#4873a7 95%);background: linear-gradient(to bottom, #9ab7de 5%,#4873a7 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ab7de', endColorstr='#4873a7',GradientType=0 );		}

.btn_darkblue_white_innerfade {
	border-radius: 2px;
	color: #fff !important;
	padding: 1px;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: none;

	background: #57749e; /* Old browsers */
	background: -moz-linear-gradient(top, #57749e 5%, #364963 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#57749e), color-stop(95%,#364963));background: -webkit-linear-gradient(top, #57749e 5%,#364963 95%);background: -o-linear-gradient(top, #57749e 5%,#364963 95%);background: -ms-linear-gradient(top, #57749e 5%,#364963 95%);background: linear-gradient(to bottom, #57749e 5%,#364963 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57749e', endColorstr='#364963',GradientType=0 );}
	.btn_darkblue_white_innerfade > span {

		border-radius: 2px;
		display: block;
		background: #445b7c; /* Old browsers */
		background: -moz-linear-gradient(top, #445b7c 5%, #364963 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#445b7c), color-stop(95%,#364963));background: -webkit-linear-gradient(top, #445b7c 5%,#364963 95%);background: -o-linear-gradient(top, #445b7c 5%,#364963 95%);background: -ms-linear-gradient(top, #445b7c 5%,#364963 95%);background: linear-gradient(to bottom, #445b7c 5%,#364963 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445b7c', endColorstr='#364963',GradientType=0 );	}

	.btn_darkblue_white_innerfade:hover {
		text-decoration: none;

		background: #688bb1 ; /* Old browsers */
		background: -moz-linear-gradient(top, #688bb1 5%, #415877 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#688bb1), color-stop(95%,#415877));background: -webkit-linear-gradient(top, #688bb1 5%,#415877 95%);background: -o-linear-gradient(top, #688bb1 5%,#415877 95%);background: -ms-linear-gradient(top, #688bb1 5%,#415877 95%);background: linear-gradient(to bottom, #688bb1 5%,#415877 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#688bb1', endColorstr='#415877',GradientType=0 );	}

		.btn_darkblue_white_innerfade:hover > span {
			background: #526d95; /* Old browsers */
			background: -moz-linear-gradient(top, #526d95 5%, #415877 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#526d95), color-stop(95%,#415877));background: -webkit-linear-gradient(top, #526d95 5%,#415877 95%);background: -o-linear-gradient(top, #526d95 5%,#415877 95%);background: -ms-linear-gradient(top, #526d95 5%,#415877 95%);background: linear-gradient(to bottom, #526d95 5%,#415877 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#526d95', endColorstr='#415877',GradientType=0 );		}

.btn_grey_white_innerfade {
	border-radius: 2px;
	color: #fff !important;
	padding: 1px;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: none;

	background: #b3b3b3; /* Old browsers */
	background: -moz-linear-gradient(top, #b3b3b3 5%, #484848 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#b3b3b3), color-stop(95%,#484848));background: -webkit-linear-gradient(top, #b3b3b3 5%,#484848 95%);background: -o-linear-gradient(top, #b3b3b3 5%,#484848 95%);background: -ms-linear-gradient(top, #b3b3b3 5%,#484848 95%);background: linear-gradient(to bottom, #b3b3b3 5%,#484848 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#484848',GradientType=0 );}
	.btn_grey_white_innerfade > span {

		border-radius: 2px;
		display: block;
		background: #7e7e7e; /* Old browsers */
		background: -moz-linear-gradient(top, #7e7e7e 5%, #484848 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#7e7e7e), color-stop(95%,#484848));background: -webkit-linear-gradient(top, #7e7e7e 5%,#484848 95%);background: -o-linear-gradient(top, #7e7e7e 5%,#484848 95%);background: -ms-linear-gradient(top, #7e7e7e 5%,#484848 95%);background: linear-gradient(to bottom, #7e7e7e 5%,#484848 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e7e7e', endColorstr='#484848',GradientType=0 );	}

	.btn_grey_white_innerfade:hover {
		text-decoration: none;

		background: #c2c2c2 ; /* Old browsers */
		background: -moz-linear-gradient(top, #c2c2c2 5%, #565656 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#c2c2c2), color-stop(95%,#565656));background: -webkit-linear-gradient(top, #c2c2c2 5%,#565656 95%);background: -o-linear-gradient(top, #c2c2c2 5%,#565656 95%);background: -ms-linear-gradient(top, #c2c2c2 5%,#565656 95%);background: linear-gradient(to bottom, #c2c2c2 5%,#565656 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c2c2', endColorstr='#565656',GradientType=0 );	}

		.btn_grey_white_innerfade:hover > span {
			background: #969696; /* Old browsers */
			background: -moz-linear-gradient(top, #969696 5%, #565656 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#969696), color-stop(95%,#565656));background: -webkit-linear-gradient(top, #969696 5%,#565656 95%);background: -o-linear-gradient(top, #969696 5%,#565656 95%);background: -ms-linear-gradient(top, #969696 5%,#565656 95%);background: linear-gradient(to bottom, #969696 5%,#565656 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#565656',GradientType=0 );		}

.btn_grey_grey_outer_bevel, a.btn_grey_grey_outer_bevel, .btn_grey_black_outer_bevel, a.btn_grey_black_outer_bevel {
	border-radius: 2px;
	display: inline-block;
	color: #828282;
	cursor: pointer;
	padding-top: 1px;
	padding-bottom: 1px;
	text-decoration: none;
	background-color: #2c2c2c;
	padding: 1px;
	background: -moz-linear-gradient(top, #555555 5%, black 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#555555), color-stop(95%,black));background: -webkit-linear-gradient(top, #555555 5%,black 95%);background: -o-linear-gradient(top, #555555 5%,black 95%);background: -ms-linear-gradient(top, #555555 5%,black 95%);background: linear-gradient(to bottom, #555555 5%,black 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='black',GradientType=0 );}

a.btn_grey_grey_outer_bevel:hover
{
	background: -moz-linear-gradient(top, #97C0E3 5%, black 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#97C0E3), color-stop(95%,black));background: -webkit-linear-gradient(top, #97C0E3 5%,black 95%);background: -o-linear-gradient(top, #97C0E3 5%,black 95%);background: -ms-linear-gradient(top, #97C0E3 5%,black 95%);background: linear-gradient(to bottom, #97C0E3 5%,black 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97C0E3', endColorstr='black',GradientType=0 );}

	.btn_grey_grey_outer_bevel > span
	{
		display: block;
		background-color: #2c2c2c;
	}

	a.btn_grey_grey_outer_bevel:hover > span
	{
		display: block;
		background-color: #97C0E3;
		color: #000;
		text-decoration: none;
	}

.inner_bevel {
	-moz-box-shadow:	2px 2px 5px rgba(0,0,0,0.75) inset, -2px -2px 5px rgba(150,150,150,1) inset;
	-webkit-box-shadow:	2px 2px 5px rgba(0,0,0,0.75) inset, -2px -2px 5px rgba(150,150,150,1) inset;
	box-shadow: 		2px 2px 5px rgba(0,0,0,0.75) inset, -2px -2px 5px rgba(150,150,150,1) inset;
}

.btn_grey_grey, a.btn_grey_grey, .btn_grey_black, a.btn_grey_black {
	border-radius: 2px;
	display: inline-block;
	color: #828282;
	cursor: pointer;
	padding-top: 1px;
	padding-bottom: 1px;
	text-decoration: none;
}

.btn_grey_grey {
	 background-color: #2c2c2c;
}

.btn_grey_black {
	background-color: #1a1a1a;
}

a.btn_grey_grey_outer_bevel:hover, a.btn_grey_grey:hover, a.btn_grey_black:hover {
	background-color: #97C0E3;
	color: #000;
	text-decoration: none;
}

.btn_grey_grey.btn_medium.btn_comments, .btn_grey_black.btn_medium.btn_comments {
	background-position: 9px 7px;
}

.btn_grey_grey.btn_comments span, .btn_grey_black.btn_comments span {
	padding-left: 2;
}

/* fix for mozilla <button> elements */
button::-moz-focus-inner
{
	padding: 0;
	border: none;
}

/* Borders */
.btn_border_2px {
	border-radius: 4px;
	border: 2px solid #3e461f;
}

btn_border_2px > span {
	border-radius: 3px;
}

/* Sizing */
.btn_large > span {
	padding: 0 15px;
	font-size: 16px;
	line-height: 40px;
}

.btn_medium_tall > span {
	padding: 0 15px;
	font-size: 15px;
	line-height: 36px;
}

.btn_medium > span {
	padding: 0 15px;
	font-size: 15px;
	line-height: 30px;
}

.btn_medium_thin > span {
	padding: 0 5px;
	font-size: 15px;
	line-height: 30px;
}

.btn_medium_wide > span {
	padding: 0 24px;
	font-size: 15px;
	line-height: 30px;
}

.btn_small > span {
	padding: 0 15px;
	font-size: 12px;
	line-height: 20px;
}

.btn_small_thin > span {
	padding: 0 5px;
	font-size: 12px;
	line-height: 20px;
}

.btn_small_wide > span {
	padding: 0 24px;
	font-size: 12px;
	line-height: 20px;
}

/* Misc effects */
.btn_uppercase > span {
	text-transform: uppercase;
}

/* Icons */

.btn_grey_grey.btn_ico_thumbs_up, .btn_grey_black.btn_ico_thumbs_up {
	background-image: url( 'http://store.steampowered.com/public/shared/images/buttons/icon_btn_rateup.png' );
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 20px;
}

.btn_grey_grey.btn_ico_thumbs_up:hover, .btn_grey_black.btn_ico_thumbs_up:hover {
	background-image: url( 'http://store.steampowered.com/public/shared/images/buttons/icon_btn_rateup_hover.png' );
}

	.btn_grey_grey.btn_ico_thumbs_up.active, .btn_grey_black.btn_ico_thumbs_up.active {
		background-image: url( 'http://store.steampowered.com/public/shared/images/buttons/icon_btn_rateup_green.png' );
	}

		.btn_grey_grey.btn_ico_thumbs_up.active:hover {
			color: #828282;
			cursor: default;
			background-color: #2c2c2c;
		}

.btn_grey_grey.btn_ico_thumbs_down, .btn_grey_black.btn_ico_thumbs_down {
	background-image: url( 'http://store.steampowered.com/public/shared/images/buttons/icon_btn_ratedown.png' );
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 15px;
}

	.btn_grey_grey.btn_ico_thumbs_down:hover, .btn_grey_black.btn_ico_thumbs_down:hover {
		background-image: url( 'http://store.steampowered.com/public/shared/images/buttons/icon_btn_ratedown_hover.png' );
	}

	.btn_grey_grey.btn_ico_thumbs_down.active, .btn_grey_black.btn_ico_thumbs_down.active {
		background-image: url( 'http://store.steampowered.com/public/shared/images/buttons/icon_btn_ratedown_red.png' );
	}

		.btn_grey_grey.btn_ico_thumbs_down.active:hover {
			color: #828282;
			cursor: default;
			background-color: #2c2c2c;
		}

.btn_grey_grey.btn_ico_comments, .btn_grey_black.btn_ico_comments  {
	background-image: url( 'http://store.steampowered.com/public/shared/images/buttons/icon_btn_comment.png' );
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 20px;
}

.btn_grey_grey.btn_ico_comments:hover, .btn_grey_black.btn_ico_comments:hover {
	background-image: url( 'http://store.steampowered.com/public/shared/images/buttons/icon_btn_comment_hover.png' );
}