
.community_home_header
{
	position: relative;
	width: 948px;
	margin: 0px auto;
	padding-top: 20px;
	text-align: left;
}

.community_home_header_bg
{
	position: absolute;
	z-index: -1;
	top: 205px;
	height: 300px;
	width: 948px;
	background-image:url('http://cdn.steamcommunity.com/public/images/home/bg_home.png');
	background-repeat: no-repeat;
}

.community_home_title
{
	font-weight: normal;
	font-size: 24px;
	color: #529cde;
	text-align: left;
}

.community_home_stats
{
	padding-top: 5px;
	font-size: 17px;
	color: #5a5a5a;
}

.num_contributions
{
	color: #cdcdcd;
}
.num_contributions_text
{
	color: #939393;
	font-weight: normal;
}

.num_accounts_game
{
	color: #8BC53F;
}
.num_accounts_game_text
{
	color: #5c7e10;
	font-weight: normal;
}

.num_accounts_online
{
	color: #529cde;
}
.num_accounts_online_text
{
	color: #62A7E3;
	font-weight: normal;
}

.community_home_tabs
{
	position: relative;
	width: 948px;
	margin: 0px auto;
	padding-top: 5px;
	padding-bottom: 10px;
}

.community_home_tabs_shadow
{
	position: absolute;
	height: 18px;
	width: 948px;
	background-image:url('http://cdn.steamcommunity.com/public/images/home/divider_shadow.png');
	background-repeat: no-repeat;
}

.apphub_sectionTabs
{
	height: 30px;
}

.community_home_header .appHubShortcut, .community_home_header .appHubShortcut a, .community_home_header .appHubShortcut a:visited
{
	color: #8c8b8a;
}

.community_home_header .appHubShortcut a:hover
{
	color: #ffffff;
	text-decoration: none;
}

.appHubShortcut_Title
{
	line-height: 15px;
	max-width: 260px;
}

.new_items_num
{
	font-size: 12px;
	color: #529cde;
}

.new_items_text
{
	color: #355c93;
}

.community_home_app_shortcuts
{
	margin-top: 20px;
	padding: 10px;
	width: 608px;
	height: 186px;
	background: #1b1b1b;
	border-radius: 4px;
	border: 1px solid #1f1f20;
	box-shadow: 1px 1px 0 0 #39393a;
	float: left;
}

.community_home_login
{
	float: left;
	width: 294px;
	margin-right: 10px;
	font-size: 12px;
}

.community_home_join_steam
{
	padding-top: 10px;
}

.community_home_join_steam a, .community_home_join_steam a:visited
{
	color: #939393;
}
.community_home_join_steam a:hover
{
	color: #ffffff;
}

.community_home_app_shortcuts_list_header
{
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.community_home_app_shortcuts_list
{
	float: left;
	width: 294px;
	margin-right: 10px;
}

.community_home_search_box
{
	margin-top: 20px;
	padding: 10px;
	width: 286px;
	height: 186px;
	margin-left: 10px;
	background: #1b1b1b;
	border-radius: 4px;
	border: 1px solid #1f1f20;
	box-shadow: 1px 1px 0 0 #39393a;
	float: left;
}

.community_home_search_box .divider
{
	width: 100%;
	height: 1px;
	border-top: 1px solid #000000;
	background-color: #333333;
	margin: 15px 0px;
}

.community_home_search_title
{
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 5px;
}

.community_home_search_apps
{
	position: relative;
	height: 27px;
	background-color: #2f3e55;
	margin-top: 5px;
	border: 1px solid #6283b2;
}

input.community_home_search_app_input
{
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	position: absolute;
	top: 6px;
	left: 6px;
	width: 250px;
	font-style: italic;
	background-color: #2f3e55;
}

.community_home_search_apps_image
{
	position: absolute;
	top: 5px;
	right: 4px;
	width: 23px;
	height: 18px;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #2f3e55;
}

.community_home_search_players
{
	position: relative;
	height: 27px;
	background-color: #3a3a3a;
	margin-top: 5px;
	border: 1px solid #939393;
}

input.community_home_search_players_input
{
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	position: absolute;
	top: 6px;
	left: 6px;
	width: 250px;
	background-color: #3a3a3a;
	font-style: italic;
}

.community_home_search_players_image
{
	position: absolute;
	top: 5px;
	right: 4px;
	width: 23px;
	height: 18px;
	padding: 0;
	margin: 0;
	border: none;
}

.community_home_sort_options
{
	width: 948px;
	margin: 0px auto;
	text-align: left;
	padding-bottom: 20px;
}

.community_home_sort_buttons
{
	float: right;
}

.community_home_workshop_desc_link
{
	padding-top: 5px;
}