
/* override a funky workshop style */
input {
	width: auto;
}

.forum_area {
	color: #bfbfbf;
}

.forum_newtopic_header {
	color: #8a8a8a;
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.forum_newtopic_area {
	padding-bottom: 22px;
}

.forum_newtopic_box, .forum_formarea_box {
	background-color: #2e2e2f;
	border: 1px solid #373738;
	padding: 14px 11px 14px 11px;
}

.forum_newtopic_box {
	position: relative;
	padding-left: 60px;
}

.forum_newtopic_currentuser {
	position: absolute;
	left: 11px;
	top: 14px;
}

.forum_newtopic_box input.gray_bevel, .forum_newtopic_box textarea.gray_bevel {
	width: 536px;
}

.forum_newtopic_box textarea.gray_bevel {
	overflow: hidden;
}

/* override a workshop.css style */
.forum_area input {
	width: auto;
}

.forum_newtopic_box .gray_bevel.for_text_input {
	display: block;
}

.forum_newtopic_box .gray_bevel input {
	width: 100%;
}

.commentthread_comment_edit_textarea_ctn textarea {

	width: 100%;
	resize: none;
	overflow: hidden;
	outline: none;
	color: #BFBFBF;
	border: none;
	background-color: #565658;
}

textarea.forumtopic_reply_textarea {
	width: 100%;
	resize: none;
	overflow: hidden;
	outline: none;
	color: #BFBFBF;
	border: none;
	background-color: #565658;
}

.forum_newtopic_action {
	text-align: right;
}

.forum_newtopic_action .emoticon_button {
	margin-right: 8px;
}

.forum_topics_container {
	overflow: hidden;
}

.forum_topic {
	height: 48px;
	background-color: #2f2f30;
	margin-bottom: 2px;
	padding-right: 15px;
	padding-left: 5px;
	cursor: pointer;
}

.forum_topic.locked {
	background-image: url( 'http://cdn.steamcommunity.com/public/images/skin_1/forum_topic_locked.png' );
}

.forum_topic.locked.sticky {
	background-image: none;
}

.forum_topic.deleted {
	background-image: none;
	background-color: #242425;
}

.forum_topic .forum_topic_label {
	font-weight: bold;
}

.forum_topic_label.sticky_label {
	color: #AEDD08;
}

.forum_topic.moved {
	background-color: #29292a;
}

.forum_topic.moved .forum_topic_name.op_hidden {
	line-height: 48px;
}


.forum_topic:hover {
	background-color: #3c3c3d;
}

.forum_topic:hover .forum_topic_name a {
	color: #ffffff;
}

.forum_topic .forum_topic_name a:hover {
	text-decoration: none;
}

.forum_topic.selected_for_bulk {
	border: 1px solid #529cde;
	padding-left: 4px;
	padding-right: 14px;
}

.forum_topic_icon {
	float: left;
	height: 16px;
	width: 16px;
	padding: 16px 12px 16px 6px;
}

.forum_topic_details {
	color: #969696;
	line-height: 48px;
}

.forum_topic_reply_count {
	font-size: 14px;
	float: right;
}

.forum_topic_reply_count img {
	vertical-align: middle;
}

.forum_topic_lastpost {
	font-size: 11px;
	float: right;
	padding-right: 28px;
}

.forum_topic_name {
	font-size: 14px;
	color: #dcdcdc;
	line-height: 30px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 20px;
}

.forum_topic_name a {
	color: #dcdcdc;
}

.forum_topic.unread .forum_topic_name a {
	font-weight: bold;
	color: #ffffff;
}

.forum_topic_mini {
	height: auto;
	background-image: url( 'http://cdn.steamcommunity.com/public/images/skin_1/commentnotifications_notification.png' );
	background-repeat: repeat-x;
	background-position: bottom center;
	min-height: 30px;
}

.forum_topic_mini .forum_topic_name {
	line-height: 20px;
	padding: 4px 0px;
}

.forum_topic_mini .forum_topic_details {
	line-height: 30px;
	margin-left: 5px;
}

.forum_topic_op {
	color: #717171;
	font-size: 11px;
}

.forum_paging
{
	position: relative;
	line-height: 25px;
	height: 25px;
	background-color: #1c1c1d;
	border-radius: 3px;
	color: #747474;
	padding: 0px 6px;
	margin: 8px 0px;
}

.forum_paging_header
{
	margin-top: 0px;
}

.forum_paging_controls {
	position: absolute;
	top: 0px;
	right: 6px;
}

.forum_paging_controls .pagebtn {
	height: 17px;
	line-height: 17px;
}

.forum_paging_pagelink, .forum_paging_controls .commentthread_pagelink {
	color: #ffffff;
	cursor: pointer;
	margin: 0px 3px;
}

.forum_paging_pagelink:hover, .forum_paging_controls .commentthread_pagelink:hover {
	text-decoration: underline;
}

.forum_paging_pagelink.active, .forum_paging_controls .commentthread_pagelink.active {
	color: #747474;
	cursor: default;
}

.forum_paging_pagelink.active:hover {
	text-decoration: none;
}

/* discussion page */

.forum_discussion_profileBlock#profileBlock {
	padding-left: 6px;
	width: 616px;
}

.breadcrumbs {
	margin-top: 16px;
	margin-bottom: 16px;
}
.breadcrumbs, .breadcrumbs a {
	color: #838383;
	font-size: 14px;
}

.forum_op {
	position: relative;
	padding: 7px 12px 21px 63px;
	border: 1px solid #45484c;
	border-radius: 3px;
	margin-bottom: 8px;

	background-color: #262627;
	background-image: url( 'http://cdn.steamcommunity.com/public/images//skin_1/forum_op_gradient.png?v=2' );
	background-repeat: no-repeat;
	background-position: top left;
}

.forum_op_avatar {
	position: absolute;
	left: 12px;
	top: 7px;
}

.forum_op .commentthread_comment_friendindicator {
	top: 31px;
	left: 40px;
}

.forum_op .editlink {
	position: absolute;
	right: 5px;
	top: 5px;

	visibility: hidden;
}

.forum_op:hover .editlink {
	visibility: visible;
}

.forum_op .authorline {
	line-height: 40px;
}

.forum_op_author {
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}

.forum_op_author .forum_author_action_pulldown, .forumtopic_comments .commentthread_author_link .forum_author_action_pulldown {
	display: inline-block;
	background-image: url(  'data:image/gif;base64,R0lGODlhEwAMAIABAMXDwgAAACH5BAEAAAEALAAAAAATAAwAAAIUjI+py+0PEZh0wmpjjSfzD4aiUQAAOw==' );
	background-position: right center;
	background-repeat: no-repeat;
	height: 16px;
	width: 17px;
	vertical-align: middle;
}

.forumtopic_comments .commentthread_deleted_comment .commentthread_author_link {
	padding-right: 0px;
	background: none;
}

.forum_op .date {
	font-size: 11px;
	color: #747474;
}

.forum_op .topic {
	font-size: 30px;
	line-height: 36px;
	color: #ffffff;

	margin-bottom: 12px;

	word-wrap: break-word;

	overflow: hidden;	}

.forum_op .content {
	font-size: 14px;
	line-height: 20px;
	color: #dbdbdb;

	word-wrap: break-word;
	overflow: hidden;
}

.forum_op .content a {
	text-decoration: underline;
	color: #dbdbdb;
}

.forum_op .content a:hover {
	color: #ffffff;
}

.forumtopic_comments .commentthread_user_avatar {
	left: 9px;
	top: 12px;
}

.forumtopic_comments .commentthread_comment_container {
	margin-top: 0px;

	/* hack in some space for the friend indicator */
	margin-left: -22px;
	padding-left: 22px;
}

.forumtopic_comments .commentthread_comment {
	background-color: #343435;
	color: #898989;
	border: 1px solid #3d3d3e;
	margin-bottom: 2px;
	padding: 12px 8px 20px 60px;

	overflow: hidden;
}

.forumtopic_comments .commentthread_comment.commentthread_deleted_comment {
	padding: 4px 11px;
	height: auto;
	min-height: 0px;
}

.forumtopic_comments .commentthread_comment.commentthread_deleted_comment, .forumtopic_comments .commentthread_comment.commentthread_deleted_expanded {
	background-color: #2E2E2F;
}

.commentthread_deleted_comment_audit {
	font-style: italic;
	font-size: 12px;
}

.forumtopic_comments .commentthread_comment_timestamp {
	color: #999999;
}

.forumtopic_comments .commentthread_comment_text {
	max-height: none;
	color: #cccccc;

	overflow: visible;
	overflow-y: visible;
}

.forumtopic_comments .commentthread_comment_text a {
	color: #cccccc;
}

.forumtopic_comments .commentthread_comment_text a:hover {
	color: #ffffff;
}

.forumtopic_comments .commentthread_comment.commentthread_newcomment {
	border-color: #4c4c4d;
	background-color: #3b3b3d;
}

.forumtopic_comments .commentthread_comment.commentthread_newcomment .forum_comment_permlink {
	color: #909092;
}


.forumtopic_comments .commentthread_comment .commentthread_comment_avatar {
	top: 11px;
	left: 11px;
}

.forumtopic_comments .commentthread_comment .commentthread_comment_author {
	line-height: 32px;
	margin-bottom: 16px;
	opacity: 0.25;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
}

.forumtopic_comments .commentthread_comment:hover .commentthread_comment_author,
.forumtopic_comments .commentthread_comment.permlinked .commentthread_comment_author{
	opacity: 1.0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

.forumtopic_comments .commentthread_comment .commentthread_comment_author a {
	font-weight: bold;
}

a.commentthread_author_valve, a.commentthread_author_developer {
	color: #aedd08;
}

a.commentthread_author_globalmoderator {
	color: #df7708;
}

a.commentthread_author_officer {
	color: #ffcc00;
}

.forumtopic_comments .commentthread_comment .commentthread_comment_friendindicator {
	top: 35px;
	left: 39px;
}

.forumtopic_reply_entry {

}

.forumtopic_reply_textarea {
	overflow: hidden;
}

.forum_comment_actions {
	float: right;

	visibility: hidden;
}

a.forum_comment_action {
	display: inline-block;

	text-align: center;
	line-height: 28px;

	width: 34px;
	height: 28px;

	background-color: #2b2b2c;
	border-radius: 3px;

	margin-left: 2px;
}


.commentthread_comment:hover .forum_comment_actions, .forum_op:hover .forum_comment_actions {
	visibility: visible;
}


a.forum_comment_action img {
	vertical-align: middle;
}

a.forum_comment_action:hover {
	text-decoration: none;
	background-color: #97c0e3;
}

.forum_comment_permlink {
	position: absolute;
	right: 4px;
	bottom: 4px;
}

.forum_comment_permlink img.forumcomment_unread_indicator {
	visibility: hidden;
	vertical-align: text-bottom;
}


.forumtopic_comments .commentthread_comment.commentthread_newcomment:hover .forumcomment_unread_indicator {
	visibility: visible;
}

.forumtopic_comments .commentthread_comment_editcontrols {
	padding-right: 8px;
}

.forumtopic_comments .commentthread_comment_editcontrols .commentthread_edit_buttons {
	padding-right: 1px;
}


.forum_comment_permlink a {
	color: #535354;
	font-size: 11px;
	text-decoration: none;
}

.forumtopic_comments .commentthread_comment.permlinked {
	border-color: #689ee0;
}

.forumtopic_comments .commentthread_comment.permlinked .forum_comment_permlink a {
	color: #689ee0;
}

.forum_report_instructions {
	color: #909090;
	font-size: 12px;
	margin-bottom: 14px;
}

#forum_modal p {
	margin-top: 0px;
}

.forum_modal_text {
	margin-top: 42px;
	margin-bottom: 24px;
	color: #a6a6a6;
}

.forum_modal_text ul {
	margin: 2px 0px 12px;
}

#forum_modal h2.forum_error_message {
	font-size: 18px;
}

.forum_modal_ajax_error {
	color: #ff0000;
	font-weight: bold;
}

.forum_movetopic_destination_selector {
	line-height: 32px;
}

..forum_movetopic_destination_selector .gray_bevel {
	line-height: 23px;
}

.forum_movetopic_destination_selector img {
	vertical-align: middle;
}


.searchmatch_highlight {
	color: #d2ff96;
	background-color: #68932f;
	padding: 0px 2px;
}

.discussion_searchresults .forum_topic {
	/*height: auto;*/
	background-color: #262627;
	background-image: url( 'http://cdn.steamcommunity.com/public/images/skin_1/forum_searchresult_gradient.png' );
	background-repeat: repeat-x;
	background-position: center top;
}

.discussion_searchresults .forum_topic .forum_topic_name {
	line-height: 48px;
}

.forum_searchresult_reply {
	position: relative;
	cursor: pointer;

	background-image: url( 'http://cdn.steamcommunity.com/public/images/skin_1/forum_searchresult_replybg.png' );
	background-repeat: no-repeat;
	background-position: left top;

	padding-left: 21px;
	padding-top: 1px;
	padding-bottom: 1px;

	margin-left: 18px;
	margin-bottom: 6px;
}

.forum_searchresult_reply_inner {
	font-size: 12px;
	color: #a1a1a1;
	font-style: italic;
	line-height: 20px;

	padding: 8px;
	min-height: 40px;

	margin: 1px;

	word-wrap: break-word;
}

.forum_searchresult_reply:hover {
	background-image: url( 'http://cdn.steamcommunity.com/public/images/skin_1/forum_searchresult_replybg_hover.png' );
}

.forum_searchresult_reply:hover .forum_searchresult_reply_inner {
	border: 1px solid #435979;
	border-radius: 3px;
	margin: 0px;
}

.forum_searchresult_reply_borderfix {
	position: absolute;
	display: none;
	top: 13px;
	left: 21px;

	width: 1px;
	height: 15px;
	background-image: url( 'http://cdn.steamcommunity.com/public/images/skin_1/forum_searchresult_replybg_hover_borderfix.png' );
}

.forum_searchresult_reply:hover .forum_searchresult_reply_borderfix {
	display: block;
}

.forum_button, .forum_button .caps {
	background-image: url( 'http://cdn.steamcommunity.com/public/images/skin_1/forum_button.png');
}

.forum_button {
	position: relative;
	display: inline-block;

	background-repeat: repeat-x;
	background-position: 0px -28px;

	height: 28px;
	padding: 0px;

	margin: 10px 0px;
}

.forum_button .caps {
	background-repeat: no-repeat;

	height: 28px;
	width: 2px;

	position: absolute;
	top: 0px;
}

.forum_button .caps.leftcap {
	left: 0px;
	background-position: left top;
}

.forum_button .caps.rightcap {
	right: 0px;
	background-position: right top;
}

.forum_button input {

	border: none;
	outline: none;
	background-color: transparent;
	height: 26px;
	font-size: 14px;
	color: #cccccc;
	margin: 0px;

	padding: 0px 20px;

	cursor: pointer;

}

.forum_button a {
	height: 24px;
	line-height: 24px;
	padding: 0px 8px;
	font-size: 14px;
}

.forum_button a:hover {
	text-decoration: none;
}

.topicstats {
	font-size: 14px;
	line-height: 24px;
}

.topicstats_label {
	color: #494947;
}

.topicstats_value {
	color: #82827e;
}

.forum_audit {
	position: relative;
	top: 17px;
	color: #747474;
	font-style: italic;
	font-size: 12px;
}

.forum_audit a {
	color: #747474;
}

.moderatorToolLink
{
	padding-top: 8px;
}

.moderatorToolLink .toolsIcon
{
	vertical-align: middle;
	margin-right: 10px;
}



.forum_breadcrumbs, .forum_breadcrumbs a {
	color: #9b9b9b;
	text-decoration: none;
	margin-bottom: 12px;
}

.forum_breadcrumbs a:hover {
	text-decoration: underline;
}


.discussion_search_pagingcontrols {
	background-color: #1c1c1d;
	border-radius: 3px;
	color: #747474;
	font-size: 12px;

	height: 25px;
	line-height: 25px;

	padding: 0px 5px;

	margin: 9px 0px;
}

.discussion_search_pagingcontrols .pageLinks {
	float: right;
}

.discussion_search_pagingcontrols .pagebtn {
	height: 15px;
	line-height: 15px;
}


.discussionSearchTextContainer
{
	position:relative;
	width:296px;
	height:46px;
	background-image: url(http://cdn.steamcommunity.com/public/images/sharedfiles/ig/searchbox_workshop_bg_wide_blue.png);
	background-repeat:no-repeat;
	padding:0;
	margin:0;
	padding-top: 0px;
}

input.discussionSearchText
{
	padding:0;
	margin:0;
	border:none;
	outline: none;
	position:absolute;
	top:13px;
	left:12px;
	width: 244px;
	height: 20px;
	background-color:#303030;
}

input.discussionSearchText::-webkit-input-placeholder {
	color: #555555;
	font-style: italic;
}

input.discussionSearchText:-moz-placeholder {
	color: #555555;
	font-style: italic;
}


.discussionSearchTextSubmitImg
{
	position:absolute;
	top:14px;
	left:260px;
	width:23px;
	height:18px;
	padding:0;
	margin:0;
	border:none;
	cursor: pointer;
}

.discussions_searchedTermsContainer {
	margin-bottom: 10px;
}

.discussions_searchedForTerm
{
	position: relative;
	float: left;
	display: block;
	cursor: pointer;

	min-height: 20px;
	line-height: 20px;
	padding: 4px;
	background-color: #68932f;
	border: 2px solid #68932f;
	border-radius: 2px;
	-moz-border-radius: 2px;
	color: #d2ff96;
	font-size: 14px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.discussions_searchedForTerm .removeIcon {
	display: inline-block;
	width: 20px;
	height: 12px;

	background-image: url( 'http://cdn.steamcommunity.com/public/images//sharedfiles/deleteSearchTerm.png' );
	background-repeat: no-repeat;
	background-position: center;
}

.discussions_searchedForTerm:hover
{
	background-color: #8ac33e;
	border: 2px solid #8ac33e;
}

.forum_pagesize_options {
	color: #828282;
	padding: 0px 6px;
	margin-top: 4px;
	font-size: 12px;
}

.forum_pagesize_options.topic_replies {

}

.forum_topic_deleted_notice {
	margin-bottom: 12px;
	padding: 14px 11px;
}

table.forum_auditlog {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

table.forum_auditlog thead tr {
	background-color: #1E1E1F;
	color: #626467;
	line-height: 18px;
}

table.forum_auditlog tr.audit_row td {
	padding-top: 4px;
}

table.forum_auditlog tr.audit_row_secondary td {
	padding-bottom: 4px;
}

table.forum_auditlog tr.audit_row td.auditlog_timestamp {
	font-size: 11px;
	width: 140px;
}

table.forum_auditlog tr.audit_row_secondary {
	border-bottom: 1px solid #1E1E1F;
}

.forum_banuser_row {
	position: relative;
	padding-left: 118px;
}

.forum_banuser_label {
	position: absolute;
	text-align: right;
	line-height: 24px;
	width: 110px;
	left: 0px;
	top: 0px;
}

.forum_subscribe_button {
	margin-bottom: 8px;
	white-space: nowrap;
	overflow: hidden;
}

.rightcol_minor_text {
	color: #676765;
	font-size: 12px;
}

.forum_op div.bb_h1, .forumtopic_comments div.bb_h1 {
	color: #529cde;
	border-bottom: 1px dotted #666666;
	font-size: 17px;
	margin-bottom: 5px;
}


.forum_topic_checkbox {
	float: left;
	line-height: 48px;
	cursor: default;
}

.forum_topic_checkbox input {
	vertical-align: middle;
}


.manage_actions_ctn {
	border: 1px solid #529cde;
	background-color: #3a3a3a;
	margin-bottom: 17px;
	padding: 18px 12px;

	color: #8e8e8e;
	font-size: 12px;
}

.manage_actions_instructions {
	color: #ffffff;
	margin-right: 15px;
}

.manage_actions_buttons {
	padding-top: 12px;
}

.manage_actions_buttons .btn_medium {
	margin-right: 10px;
	margin-bottom: 10px;
}

.bulk_actions_toggle_btn {
	margin-bottom: 17px;
}

.bulk_tools_icon {
	height: 16px;
	width: 16px;
	margin-right: 4px;
	vertical-align: text-top;
}

.merge_topic_dialog {
	max-width: 400px;
}

.merge_topic_dialog_content, .merge_topic_target_list {
	margin-bottom: 6px;
}

.merge_topic_target_list {
	padding-left: 12px;
}

.merge_topic_together_option {
	margin-bottom: 6px;
	font-style: italic;
}