
/* override a funky workshop style */
input {
	width: auto;
}

.forum_area {
	color: #bfbfbf;
}

.forum_newtopic_header {
	color: #8a8a8a;
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.forum_newtopic_area {
	padding-bottom: 22px;
}

.forum_newtopic_box, .forum_formarea_box {
	background-color: #2e2e2f;
	border: 1px solid #373738;
	padding: 14px 11px 14px 11px;
}

.forum_newtopic_box {
	position: relative;
	padding-left: 60px;
}

.forum_newtopic_currentuser {
	position: absolute;
	left: 11px;
	top: 14px;
}

.forum_newtopic_box input.gray_bevel, .forum_newtopic_box textarea.gray_bevel {
	width: 536px;
}

.forum_newtopic_box textarea.gray_bevel {
	overflow: hidden;
}

/* override a workshop.css style */
.forum_area input {
	width: auto;
}

.forum_newtopic_box .gray_bevel.for_text_input {
	display: block;
}

.forum_newtopic_box .gray_bevel input {
	width: 100%;
}

.commentthread_comment_edit_textarea_ctn textarea {

	width: 100%;
	resize: none;
	overflow: hidden;
	outline: none;
	color: #BFBFBF;
	border: none;
	background-color: #565658;
}

textarea.forumtopic_reply_textarea {
	width: 100%;
	resize: none;
	overflow: hidden;
	outline: none;
	color: #BFBFBF;
	border: none;
	background-color: #565658;
}

.forum_newtopic_action {
	text-align: right;
}

.forum_topics_container {
	overflow: hidden;
}

.forum_topic {
	height: 48px;
	background-color: #2f2f30;
	margin-bottom: 2px;
	padding-right: 15px;
	padding-left: 5px;
	cursor: pointer;

}

.forum_topic.locked {
	background-image: url( 'http://cdn.steamcommunity.com/public/images/skin_1/forum_topic_locked.png' );
}

.forum_topic.locked.sticky {
	background-image: none;
}

.forum_topic.deleted {
	background-image: none;
	background-color: #242425;
}

.forum_topic .forum_topic_label {
	font-weight: bold;
}

.forum_topic_label.sticky_label {
	color: #AEDD08;
}

.forum_topic.moved {
	background-color: #29292a;
}

.forum_topic.moved .forum_topic_name.op_hidden {
	line-height: 48px;
}


.forum_topic:hover {
	background-color: #3c3c3d;
}

.forum_topic:hover .forum_topic_name a {
	color: #ffffff;
}

.forum_topic .forum_topic_name a:hover {
	text-decoration: none;
}

.forum_topic_icon {
	float: left;
	height: 16px;
	width: 16px;
	padding: 16px 12px 16px 6px;
}

.forum_topic_details {
	color: #969696;
	line-height: 48px;
}

.forum_topic_reply_count {
	font-size: 14px;
	float: right;
}

.forum_topic_reply_count img {
	vertical-align: middle;
}

.forum_topic_lastpost {
	font-size: 11px;
	float: right;
	padding-right: 28px;
}

.forum_topic_name {
	font-size: 14px;
	color: #dcdcdc;
	line-height: 30px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 20px;
}

.forum_topic_name a {
	color: #dcdcdc;
}

.forum_topic.unread .forum_topic_name a {
	font-weight: bold;
	color: #ffffff;
}

.forum_topic_mini {
	height: auto;
	background-image: url( 'http://cdn.steamcommunity.com/public/images/skin_1/commentnotifications_notification.png' );
	background-repeat: repeat-x;
	background-position: bottom center;
	min-height: 30px;
}

.forum_topic_mini .forum_topic_name {
	line-height: 20px;
	padding: 4px 0px;
}

.forum_topic_mini .forum_topic_details {
	line-height: 30px;
	margin-left: 5px;
}

.forum_topic_op {
	color: #717171;
	font-size: 11px;
}

.forum_paging
{
	position: relative;
	line-height: 25px;
	height: 25px;
	background-color: #1c1c1d;
	border-radius: 3px;
	color: #747474;
	padding: 0px 6px;
	margin: 8px 0px;
}

.forum_paging_header
{
	margin-top: 0px;
}

.forum_paging_controls {
	position: absolute;
	top: 0px;
	right: 6px;
}

.forum_paging_controls .pagebtn {
	height: 17px;
	line-height: 17px;
}

.forum_paging_pagelink, .forum_paging_controls .commentthread_pagelink {
	color: #ffffff;
	cursor: pointer;
	margin: 0px 3px;
}

.forum_paging_pagelink:hover, .forum_paging_controls .commentthread_pagelin