

	/* Avatars */

.playerAvatar {
	padding: 3px;
	border-radius: 3px;
	background-color: #545454;
}
.playerAvatar.offline {

	background: -moz-linear-gradient(top, #706c6b 5%, #4e4d4d 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#706c6b), color-stop(95%,#4e4d4d));background: -webkit-linear-gradient(top, #706c6b 5%,#4e4d4d 95%);background: -o-linear-gradient(top, #706c6b 5%,#4e4d4d 95%);background: -ms-linear-gradient(top, #706c6b 5%,#4e4d4d 95%);background: linear-gradient(to bottom, #706c6b 5%,#4e4d4d 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#706c6b', endColorstr='#4e4d4d',GradientType=0 );	/* IE <= 9 doesn't support rounded corners and gradient.  The gradient isn't too noticable so just disable the filter in IE9 */
	filter: none;
}
.playerAvatar.ignored {
}
	/* #8dccff to 6da1d0 */
.playerAvatar.online {
	background-color: #7bafd6;

	background: -moz-linear-gradient(top, #7bafd6 5%, #506d92 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#7bafd6), color-stop(95%,#506d92));background: -webkit-linear-gradient(top, #7bafd6 5%,#506d92 95%);background: -o-linear-gradient(top, #7bafd6 5%,#506d92 95%);background: -ms-linear-gradient(top, #7bafd6 5%,#506d92 95%);background: linear-gradient(to bottom, #7bafd6 5%,#506d92 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bafd6', endColorstr='#506d92',GradientType=0 );	/* IE <= 9 doesn't support rounded corners and gradient.  The gradient isn't too noticable so just disable the filter in IE9 */
	filter: none;
}
.playerAvatar.online img {
	border-color: #4d5761;
}
	/* gradient from #b3fc55 to #8cc82c */
.playerAvatar.in-game {
	background-color: #9bc861;

	background: -moz-linear-gradient(top, #9bc861 5%, #789e4c 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#9bc861), color-stop(95%,#789e4c));background: -webkit-linear-gradient(top, #9bc861 5%,#789e4c 95%);background: -o-linear-gradient(top, #9bc861 5%,#789e4c 95%);background: -ms-linear-gradient(top, #9bc861 5%,#789e4c 95%);background: linear-gradient(to bottom, #9bc861 5%,#789e4c 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc861', endColorstr='#789e4c',GradientType=0 );	/* IE <= 9 doesn't support rounded corners and gradient.  The gradient isn't too noticable so just disable the filter in IE9 */
	filter: none;

}
.playerAvatar.in-game img {
	border-color: #525a4f;
}
.playerAvatar {
	width: 34px;
	height: 34px;
}
.playerAvatar img {
	width: 32px;
	height: 32px;
	border: 1px solid #545454;
	border-radius: 3px;
}

.playerAvatar.medium {
	width: 66px;
	height: 66px;
}
.playerAvatar.medium img {
	width: 64px;
	height: 64px;
}

.playerAvatar.full {
	width: 186px;
	height: 186px;
}
.playerAvatar.full img {
	width: 184px;
	height: 184px;
}

.persona, a.persona, .persona a {
	color:#898989;
}

.persona.online, a.persona.online, .persona.online a {
	color:#86b5d9;
}

.persona.in-game, a.persona.in-game, .persona.in-game a {
	color:#8bc53f;
}



.miniprofile_hover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1200;
}

.miniprofile_hover_inner.shadow_content {
	margin: 11px;
}

.miniprofile_content {
	width: 302px;
	border-radius: 3px;

	color: #828282;
	font-size: 14px;
}

.miniprofile_top {
	border: 1px solid #333538;
	padding: 7px 8px;
background: -moz-linear-gradient(top, #33425a 5%, #282f3d 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#33425a), color-stop(95%,#282f3d));background: -webkit-linear-gradient(top, #33425a 5%,#282f3d 95%);background: -o-linear-gradient(top, #33425a 5%,#282f3d 95%);background: -ms-linear-gradient(top, #33425a 5%,#282f3d 95%);background: linear-gradient(to bottom, #33425a 5%,#282f3d 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33425a', endColorstr='#282f3d',GradientType=0 );;
}

.miniprofile_player {
	position: relative;
	min-height: 72px;
}

.miniprofile_player .playerAvatar {
	position: absolute;
	left: 0;
	top: 0;
}

.miniprofile_player .player_content {
	padding-left: 80px;
	word-wrap: break-word;
}

.miniprofile_player .playername {
	font-size: 16px;
}

.miniprofile_favorite_badge {
	position: relative;

	margin-top: 7px;

	background-color: #282f3e;
	border: 1px solid #212121;
	border-radius: 3px;
	padding: 7px 4px;
	height: 34px;
}
.miniprofile_favorite_badge .favorite_badge_icon {
	position: absolute;
	top: 7px;
	left: 4px;
}
.miniprofile_favorite_badge .favorite_badge_icon img {
	width: 34px;
	height: 34px;
}
.miniprofile_favorite_badge .favorite_badge_description {
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 44px;
	padding-top: 3px;
}

.miniprofile_ingame {
	border-left: 1px solid #1f1f1f;
	border-right: 1px solid #1f1f1f;
	border-bottom: 1px solid #1f1f1f;

	padding: 8px;
	height: 45px;
	position: relative;

background: -moz-linear-gradient(top, #525151 5%, #292827 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#525151), color-stop(95%,#292827));background: -webkit-linear-gradient(top, #525151 5%,#292827 95%);background: -o-linear-gradient(top, #525151 5%,#292827 95%);background: -ms-linear-gradient(top, #525151 5%,#292827 95%);background: linear-gradient(to bottom, #525151 5%,#292827 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525151', endColorstr='#292827',GradientType=0 );}

.miniprofile_ingame .game_logo {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 121px;
	height: 45px;
}

.miniprofile_ingame .game_content {
	padding-left: 128px;
	padding-top: 6px;

	font-size: 12px;
}

.miniprofile_arrow_left, .miniprofile_arrow_right {
	position: absolute;
	top: 30px;

	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	width: 0;
	height: 0;
}

.miniprofile_arrow_left {
	border-right: 8px solid #313f56;
	left: 4px;
}

.miniprofile_arrow_right {
	border-left: 8px solid #313f56;
	right: 4px;
}

.miniprofile_arrow_inner {
	position: absolute;
	top: -6px;
	background-repeat: no-repeat;
	width: 7px;
	height: 1px;
}


.miniprofile_arrow_left .miniprofile_arrow_inner {
	left: 2px;
}

.miniprofile_arrow_right .miniprofile_arrow_inner {
	right: 2px;
}


/*
 * GENERIC POPUP
 */

.pulldown {
	padding-left: 5px;
	padding-right: 18px;
	background-image: url( 'http://cdn.steamcommunity.com/public/shared/images/popups/btn_arrow_down_padded.png' );
	background-position: right center;
	background-repeat: no-repeat;

	cursor: pointer;
}

span.popup_menu_pulldown_indicator {
	display: inline-block;
	background-image: url( 'http://cdn.steamcommunity.com/public/shared/images/popups/btn_arrow_down.png' );
	vertical-align: middle;
	width: 9px;
	height: 4px;
}


.popup_block_new {
	z-index: 200;
	position: absolute;
	box-shadow: 0 0 12px #000000;
}

.popup_block_new .popup_body {
	border: 1px solid #82807c;
	position: relative;

	background-color: #3b3938;
	background-image: url( 'http://cdn.steamcommunity.com/public/shared/images/popups/bg_popup.png' );
	background-repeat: repeat-x;
	background-position: top;
}

.popup_block_new .popup_body.popup_menu {
}

.popup_menu .popup_menu_item {
	display: block;
	padding: 5px 12px;
	color: #e5e4dc;

	text-transform: none;
	font-size: 11px;
	font-weight: bold;
	line-height: normal;
}

.popup_menu a.popup_menu_item {
	text-decoration: none;
}

.popup_menu span.popup_menu_item {
	cursor: default;
}

.popup_menu .popup_menu_item:hover, .popup_menu .popup_menu_item.focus {
	text-decoration: none;
	background-color: #212d3d;
}



.friendPlayerLevel {
	display: inline-block;
	font-size: 16px;
	border-radius: 16px;
	border: solid white 2px;
	height: 28px;
	width: 28px;

	text-align: center;
	line-height: 28px;

	cursor: default;
}


.friendPlayerLevel .friendPlayerLevelNum {
	color: #9b9b9b;
}

.friendPlayerLevel.lvl_0 {
	border-color: #9b9b9b;
}

.friendPlayerLevel.lvl_10 {
	border-color: #c02942;
}

.friendPlayerLevel.lvl_20 {
	border-color: #d95b43;
}

.friendPlayerLevel.lvl_30 {
	border-color: #fecc23;
}

.friendPlayerLevel.lvl_40 {
	border-color: #467a3c;
}

.friendPlayerLevel.lvl_50 {
	border-color: #4e8ddb;
}

.friendPlayerLevel.lvl_60 {
	border-color: #7652c9;
}

.friendPlayerLevel.lvl_70 {
	border-color: #c252c9;
}

.friendPlayerLevel.lvl_80 {
	border-color: #542437;
}


.newmodal {
	position: absolute;

	max-width: 900px;	/* our page width */
	min-width: 500px;
}

.newmodal_header_border {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: -moz-linear-gradient(top, #797272 5%, #2e2e2e 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#797272), color-stop(95%,#2e2e2e));background: -webkit-linear-gradient(top, #797272 5%,#2e2e2e 95%);background: -o-linear-gradient(top, #797272 5%,#2e2e2e 95%);background: -ms-linear-gradient(top, #797272 5%,#2e2e2e 95%);background: linear-gradient(to bottom, #797272 5%,#2e2e2e 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#797272', endColorstr='#2e2e2e',GradientType=0 );	padding: 1px 1px 0 1px;
	border-bottom: 1px solid #4a4943;
}

.newmodal_header {
	height: 44px;
	line-height: 44px;
	padding: 0 16px;
	text-align: left;

	font-size: 16px;
	color: #ffffff;

	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #393937;
	background: -moz-linear-gradient(top, #484846 5%, #272626 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#484846), color-stop(95%,#272626));background: -webkit-linear-gradient(top, #484846 5%,#272626 95%);background: -o-linear-gradient(top, #484846 5%,#272626 95%);background: -ms-linear-gradient(top, #484846 5%,#272626 95%);background: linear-gradient(to bottom, #484846 5%,#272626 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484846', endColorstr='#272626',GradientType=0 );}

.newmodal_close {
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjVBREZBRDlBNzdCNzExRTI5ODAzRUE3MDU0Mzk5MjM5IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjVBREZBRDlCNzdCNzExRTI5ODAzRUE3MDU0Mzk5MjM5Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NUFERkFEOTg3N0I3MTFFMjk4MDNFQTcwNTQzOTkyMzkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NUFERkFEOTk3N0I3MTFFMjk4MDNFQTcwNTQzOTkyMzkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4iulRzAAABPElEQVR42mI8cuQIAyWABUqbAXEylH0fiDtwqI8FYhsoewEQH4cZcBaI64DYG8p/AVWADDyAeD4QMwPxJiA+BRJkgkr+BeJoIL4D5U8DYi0kzepAvAKq+TJU7V9kA0DgIxD7Q2lOIF4NpfmBeAuUfg3EPkD8BaaJCc2Z14A4EcoGuWAC1NkqQPwLqvkRsgYmLAG1HoiboOw0IA6EshNh/iZkAAjUA/FBJP5KIF6GTSEuAwygUQsDflAxogwQAuJ10AAExcpNKHsjEIsSMoAZGl2K0EALBeIIKFsOKSpxGtACxK5Qdi4QX4DiAqiYExB34TIgBIgrkAJtFpLcdKgYCBQBcRRMghGamUBxfhKIeaB+NkFOLFAAkjsDTZXfgdgK5DpYXvBGiqYpWDQzQMVAYZKDlDcuMFKanQECDAAqw0LA+GRiqAAAAABJRU5ErkJggg== );
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	float: right;
	margin-top: 14px;
	height: 16px;
	width: 16px;

	opacity: 0.7;
}

.newmodal_close:hover {
	opacity: 1;
}

.newmodal_content_border {
	background: -moz-linear-gradient(top, #4c4c4c 5%, #4a6279 95%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#4c4c4c), color-stop(95%,#4a6279));background: -webkit-linear-gradient(top, #4c4c4c 5%,#4a6279 95%);background: -o-linear-gradient(top, #4c4c4c 5%,#4a6279 95%);background: -ms-linear-gradient(top, #4c4c4c 5%,#4a6279 95%);background: linear-gradient(to bottom, #4c4c4c 5%,#4a6279 95%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#4a6279',GradientType=0 );	background-color: #4c4c4c;
	padding: 0 1px 1px 1px;
}

.newmodal_content {
	background: -moz-linear-gradient(top, #252b33 5%, #1d1d1d 25%);background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#252b33), color-stop(25%,#1d1d1d));background: -webkit-linear-gradient(top, #252b33 5%,#1d1d1d 25%);background: -o-linear-gradient(top, #252b33 5%,#1d1d1d 25%);background: -ms-linear-gradient(top, #252b33 5%,#1d1d1d 25%);background: linear-gradient(to bottom, #252b33 5%,#1d1d1d 25%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252b33', endColorstr='#1d1d1d',GradientType=0 );	background-color: #1d1d1d;

	overflow: auto;
	word-wrap: break-word;

	padding: 15px 21px;

	font-size: 13px;
	color: #939393;
}

.newmodal_content_innerbg {
	background-color: #323233;
	border: 1px solid #4d4b49;
	padding: 8px;

	color: #8f8f8f;
}

.newmodal_buttons {
	text-align: right;
	margin-top: 12px;
}

.newmodal_buttons .btn_medium {
	margin-left: 12px;
}

.newmodal_prompt_description {
	font-size: 14px;
	margin-bottom: 8px;
}

.newmodal_prompt_input {
}

