
html {
	height: 100%;
}

body.tag_page {
	position: relative;
	min-height: 100%;
	background-image: url( 'http://cdn.store.steampowered.com/public/images/v6/tag_browse_bg.png' );
	background-position: 50% 105px;
	background-repeat: repeat-x;
	background-color: #000000;
}

body.tag_page.in_client {
	background-position: center top;
}

body.blue.tag_page {
	background: url( 'http://cdn.store.steampowered.com/public/images/v6/blue_body_repeat.png' ) center top repeat-y #000000;
}

body.tag_page > div#global_header {
	/*border-bottom-color: #4d6d8c*/
}

.new_page_bg {
	background: url( 'http://cdn.store.steampowered.com/public/images/v6/tag_browse_header_bg.png' ) no-repeat center top;
}

body.blue .new_page_bg {
	background:
		url( 'http://cdn.store.steampowered.com/public/images/v6/blue_top_center.png' ) center top no-repeat,
		url( 'http://cdn.store.steampowered.com/public/images/v6/blue_top_repeat.png' ) center top repeat-x
	;

	min-height: 370px;
}

.new_page_bg div#store_header, .new_page_bg div#store_header_dlc {
	background-color: transparent;
}

.new_page_content {
	width: 940px;
	margin: 0 auto;
	min-height: 100%;
	height: 100%;
	padding: 16px 16px 0 16px;
}

body.tag_page #footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 16px 0 60px 0;
	margin: 0;
	background: transparent;
}

body.tag_page.blue #footer {
	background: #000000;
}

body.tag_page #footer_spacer {
	height: 231px;
}

body.tag_page > .perf_timing_area .perf_timing_link {
	position: absolute;
	left: 15px;
	bottom: 15px;
}

.perf_timing_data {
	position: relative;
	background-color: #000000;
	margin: 0px auto 48px auto;
	padding: 8px;
	text-align: left;
	width: 936px;
	font-size: 14px;
}

body.tag_page h2.pageheader {
	color: #ffffff;
	font-size: 34px;
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
	font-weight: normal;
	text-shadow: 1px 1px 0 #000000;
}

body.tag_page h3 {
	color: #ffffff;
	font-size: 22px;
	font-family: "Motiva Sans Regular", "Motiva Sans", arial, tahoma, sans-serif;
	font-weight: normal;
}

.tag_browse_header_desc {
	/*color: #779abd; */
	color: #aaaaaa;
	font-size: 15px;
	text-shadow: 1px 1px 0 rgba( 0, 0, 0, 0.25 );
}

.tag_browse_header_desc a {
	/*color: #8bb9e0; */
	color: #dddddd;
}

.tag_browse_header_area {
	padding-top: 12px;
	margin-bottom: 48px;
}

.tag_browse_options {
	font-family: Arial, tahoma, sans-serif;
	color: #898a8c;
	font-size: 15px;
	line-height: 48px;
	/*border-bottom: 1px solid #4d6d8c;*/
	border-bottom: 1px solid #aaaaaa;
	margin-bottom: 2px;
}

.tag_browse_option {
	display: inline-block;
	margin-right: 24px;
	cursor: pointer;
}

	.tag_browse_option a {
		color: #898a8c;
	}
	
	.tag_browse_option.active, .tag_browse_option.active a {
		color: #ffffff;
	}
	
	.tag_browse_option a:hover {
		color: #dddddd;
		text-decoration: none;
	}
	
.tag_browse_description {
	font-size: 13px;
	color: #bbbbbb;
	/* color: #4d6d8c;*/
	padding: 6px 0 16px 0;
}

.tag_browse_ctn {
	position: relative;
	min-height: 600px;
}

.tag_browse_tags {
	font-family: Arial, tahoma, sans-serif;
	float: left;
	width: 200px;
}

.tag_browse_tag {
	line-height: 26px;
	color: #898a8c;
	font-size: 13px;
	background-color: rgba( 120, 120, 120, 0.20 );
	/* background-color: rgba( 0, 0, 0, 0.20 ); */

	cursor: pointer;

	padding: 0 6px;
	margin-bottom: 2px;
	width: 188px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tag_browse_tag:hover {
	color: #ffffff;
}

.tag_browse_tag.active {
	color: #ffffff;
	background-color: #4d6d8c;
}

.tag_browse_right_ctn {
	position: absolute;
	right: 0;
	top: -5px;
	width: 725px;
}

.tag_browse_games_ctn {
	position: absolute;
	top: 5px;
}

.browse_tag_loading {
	text-align: center;
	padding: 200px 120px;
	font-size: 22px;
}

.browse_tag_games {
	padding-top: 12px;
	min-height: 518px;
}

.browse_tag_games h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.browse_tag_games, .browse_tag_game_total {
	background-color: rgba( 120, 120, 120, 0.20 );
	/* background-color: rgba( 0, 0, 0, 0.20 ); */
	padding-left: 16px;
	padding-right: 0px;
	width: 709px;
	margin-bottom: 2px;
}

.browse_tag_game_total {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	height: 22px;
}

.browse_tag_game {
	width: 231px;
	height: 132px;

	margin-right: 5px;
	float: left;

	color: #898a8c;
	font-size: 13px;
	line-height: 18px;
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;

	padding-top: 12px;
	padding-bottom: 20px;
}

.browse_tag_game > div {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.browse_tag_game_cap {
	width: 222px;
	height: 83px;
	margin-bottom: 2px;
}

.browse_tag_game_cap img {
	width: 222px;
	height: 83px;
}

.browse_tag_game_name {
	color: #B0AEAC;
}

.browse_tag_game_price {
	font-size: 11px;
	font-family: tahoma, helvetica, arial, trebuchet ms, sans-serif;
}

.tag_notenough_ctn {
	border: 10px solid #2e2e2e;
	background-color: #3c3d3e;
	padding: 100px 140px;
	text-align: center;
	color: #b0aeac;
	font-family: "Motiva Sans Regular", "Motiva Sans", arial, tahoma, sans-serif;

	margin-bottom: 36px;

	word-wrap: break-word;
}

.tag_notenough_ctn h2 {
	color: #d6d7d8;
	margin-bottom: 15px;
}

.tag_notenough_desc {
	font-size: 15px;
	margin-bottom: 36px;
}

.tag_notenough_learnmore {
	font-size: 13px;
}

.tag_notenough_learnmore a {
	color: #d6d7d8;
	text-decoration: underline;
}
.tag_notenough_learnmore a:hover {
	color: #ffffff;
}

.tag_beta_bug_ctn {
	width: 940px;
	margin: 0 auto;
	position: relative;
}

.tag_beta_bug {
	position: absolute;
	left: -79px;
	top: 0;
	background: url( 'http://cdn.store.steampowered.com/public/images/v6/tag_betabug.png' );
}

.tag_beta_bug, .tag_beta_bug img {
	width: 63px;
	height: 132px;
}

.tag_announce_cloud_bg {
	background: url( 'http://media4.steampowered.com/store/tagging/tag_cloud.jpg') center top no-repeat;
	min-height: 487px;
}

.tag_announce_page .new_page_content {
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
}

.tag_announce_page h1, .tag_announce_page h2 {
	color: #ffffff;
	text-shadow: 1px 1px 0 #000000;
}

.tag_announce_page h1 {
	font-size: 32px;
	text-align: center;
}

.tag_announce_header h1 {
	padding: 0 124px;
	line-height: 35px;
}

.tag_announce_page h2 {
	font-size: 30px;
	line-height: 29px;
	font-family: "Motiva Sans Thin", "Motiva Sans", arial, tahoma, sans-serif;
	margin-bottom: 12px;
}

body.tag_page.tag_announce_page h3 {
	font-size: 21px;
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
	margin-bottom: 24px;
}

.tag_announce_header {
	margin-bottom: 80px;
}

.tag_announce_header .title_image {
	min-height: 108px;
}

.tag_announce_intro {
	font-size: 18px;
	line-height: 24px;
	color: #8bb9e0;
	text-shadow: 1px 1px 0 #000000;
	margin-bottom: 90px;
}

.tag_announce_howdoesthiswork {
	color: #b0aeac;
	font-size: 15px;
	font-family: "Motiva Sans Thin", "Motiva Sans", arial, tahoma, sans-serif;
	text-align: center;
	margin-bottom: 16px;
}

.tag_announce_box {
	background: rgba( 0, 0, 0, 0.2 );
	min-height: 325px;
	margin-bottom: 20px;
}

.tag_announce_img {
	float: right;
	width: 478px;
	height: 325px;
	margin-left: 48px;
}

.tag_announce_box_content {
	padding: 48px 0 0 24px;

	font-size: 16px;
	line-height: 23px;
	color: #d6d7d8;
	text-shadow: 1px 1px 0 #000000;
}

.tag_announce_section {
	margin-bottom: 96px;
}

.tag_announce_sectionheader {
	border-bottom: 1px solid #ffffff;
	padding-bottom: 8px;
	margin-bottom: 14px;
}

.tag_announce_faq_col {
	width: 464px;
	font-size: 15px;
	color: #557dab;
	line-height: 20px;
}

.tag_announce_faq_col.left {
	float: left;
}

.tag_announce_faq_col.right {
	float: right;
}

.tag_announce_faq_entry {
	margin-bottom: 24px;
}

.tag_announce_faq_q {
	color: #ffffff;
}

.tag_announce_faq_a a {
	text-decoration: underline;
	color: #557dab;
}

.tag_announce_faq_a a:hover {
	color: #ffffff;
}

.tag_announce_box.tag_announce_feedback {
	min-height: 0;
	padding: 30px 54px;

}
.tag_announce_feedback p {

	font-size: 16px;
	color: #d6d7d8;
	text-shadow: 1px 1px 0 #000000;
	width: 464px;
}

.forum_link_ctn {
	float: right;
	text-align: right;
	padding: 12px 0 12px;
}