
a:hover {
	text-decoration: none;
}
	
.updated_apps_tabs
{
	padding-bottom: 10px;
	border-bottom: 2px solid #779abd;
	margin-bottom: 20px;
}

.updated_app_tab
{
	float: left;
	padding-top: 10px;
	padding-right: 20px;
	font-size: 14px;
}

.updated_app_tab a
{
	text-decoration: none;
	color: #bbbbbb;
}

.updated_app_tab.active a
{
	color: white;
}

.updated_app
{
	padding-bottom: 30px;
}

.updated_app a
{
	color: #dddddd;
}
.updated_app a:hover
{
	color: #ffffff;
}

.updated_app_logo
{
	float: left;
	width: 184px;
	padding: 13px 8px 8px 0px;
}

.updated_app_details
{
	float: left;
	padding: 8px;
	width: 550px;
}

.updated_app_name
{
	font-size: 24px;
	padding-right: 5px;
	font-family: "Motiva Sans Regular", "Motiva Sans", arial, tahoma, sans-serif;
}

.updated_app_date
{
	color: #898a8c;
}

.updated_app_announcement_headline
{
	font-size: 15px;
	margin-bottom: 10px;
	font-family: arial, tahoma, sans-serif;
	background-color: #333333;
	padding: 3px;
	margin-top: 3px;
}

.updated_app_announcement_headline .comment_count
{
	font-size: 12px;
	font-family: arial, tahoma, sans-serif;
	float: right;
	padding-right: 5px;
}

.updated_app_announcement_text
{
	color: #898A8C;
	font-size: 14px;
	font-family: arial, tahoma, sans-serif;
	line-height: 19px;
	overflow: hidden;
}

.updated_app.expanded .updated_app_announcement_text
{
	height: auto;
}

.updated_app.partial .updated_app_announcement_text
{
	max-height: 400px;
}

	.updated_app_announcement_text ul {
		margin-left: 18px;
	}
	
	.updated_app_announcement_text img {
		max-width: 550px;
	}

.updated_app_play_now_btn
{
	padding-top: 10px;
}

.updated_app_footer
{
	position: relative;
}

.updated_app.expanded .updated_app_footer
{
	display: none;
}

.updated_app_gradient
{
	height: 20px;
	width: 545px;
	position: absolute;
	top: -20px;
}

.updated_app_read_full_announcement
{
	padding-top: 5px;
	text-align: center;
}
.updated_app_read_full_announcement a
{
	text-transform: uppercase;
	font-size: 11px;
	font-family: arial, tahoma, sans-serif;
}

.updated_app iframe
{
	max-width: 545px;
}

.no_matching_apps
{
	padding-top: 50px;
	font-size: 16px;
	text-align: center;
}