
#main
{
	min-height: 300px;
}

#parental_notice
{
	max-width: 656px;
	height: 220px;
	padding: 20px;
	margin: 20px auto;

	background-image: url( 'https://steamstore-a.akamaihd.net/public/images/parental/keybg.png' );
	background-repeat: no-repeat;
	background-position: 80% 50%;
	background-color: rgba(0, 0, 0, 0.3);

	text-align: center;
	position: relative;
}

.mobileBody #parental_notice
{
	border: none;
	margin-top: 16px;
	width: inherit;
	background-image: inherit;
}

#parental_notice_text
{
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
}

#parental_notice_instructions
{
	margin-bottom: 30px;
}

#parental_notice input
{
	background-color: #2a3f5a;
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 1px 1px 0 #45556c;
	color: #fff;
	height: 20px;
	height: 24px;
	padding-left: 5px;
	margin-right: 10px;
	font-size: 16px;
	margin-bottom: 8px;
}

.mobileBody #parental_notice input
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#parental_notice button
{
	display: inline-block;
}

#parental_error, .parental_error
{
	color: red;
	margin-left: 10px;
}

#parental_notice #parental_error
{
	margin-left: 0px;
	margin-top: 10px;
}

#parental_recovery
{
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
}

.parental_settings_form #parental_error
{
	float: right;
}

.parental_settings_title
{
	font-size: 24px;
	font-weight: normal;
	color: #ffffff;
}

.parental_settings_description
{
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: normal;
}

.parental_settings_box
{
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
	margin: 15px auto;
	max-width: 656px;
	padding: 25px 25px 25px 25px;
}

.parental_settings_content
{

}

.parental_settings_header
{
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
}

.parental_settings_subinstructions
{
	font-size: 13px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #c6d4df;
}

.parental_settings_instructions
{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 4px;
	color: #67c1f5;
}

.parental_settings_instructions2
{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 4px;
}

.parental_settings_form
{
	margin: 14px;
}

.parental_settings_form label
{
	display: inline-block;
	width: 25%;
	font-size: 14px;
	text-align: right;
}

.parental_settings_form select
{
	background-color:#4d4b49;
	border:solid #82807c 1px;
	padding:2px;
	color:#ffffff;
	width: 65%;
}

.parental_settings_form input
{
	background-color: #2a3f5a;
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 1px 1px 0 #45556c;
	color: #fff;
	height: 26px;
	padding-left: 5px;
}

.parental_settings_form .feature_row input
{
	border: none;
	box-shadow: none;
}

.parental_settings_form button
{
	border: none;
	float: right;
	margin-top: 40px;
}

.parental_searchbox
{
	background-color: #2a3f5a;
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 1px 1px 0 #45556c;
	color: #fff;
	height: 20px;
	width: 253px;
	height: 27px;

		position: relative;
	z-index: 250;
}

.parental_searchbox input
{
	background-color: #2a3f5a;
	color: #fff;
	border: none;
	margin-top: 5px;
	margin-left: 8px;
	width: 216px;
	font-style: italic;
}

#set_features_form .parental_settings_instructions
{
	margin-bottom: 5px;
	font-size: 16px;
}

.feature_row
{
	height: 20px;
}

.feature_row input
{
	vertical-align: middle;
	margin-right: 4px;
}

.feature_row label
{
	width: 85%;
	text-align: left;
	vertical-align: middle;
}

.parental_searchbox #filterClear
{
	cursor: pointer;

	position: relative;
	left: -2px;
	top: 2px;
	width: 23px;
	float: right;
}

.parental_app_list_controls
{
	margin-top: 12px;
}

.parental_app_list_controls_buttons
{
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.parental_app_list_controls_buttons div
{
	float: left;
}

.parental_app_list_controls a
{
	color: #fff;
}

.parental_app_list_form
{
	padding-bottom: 14px;
}

.parental_app_list_form button
{
	border: none;
	float: right;
}
.parental_app_list
{
	overflow-y: scroll;
	height: 400px;
}

.parental_app_row
{
	line-height: 24px;
}

.parental_app_row.light
{
	background-color: rgba(42, 63, 90, 0.4);
}

.parental_app_list_col1
{
	vertical-align: middle;
	margin-right: 4px;
	margin-left: 4px;
}

.parental_app_list_col2
{
	text-align: left;
	vertical-align: middle;
}

.parental_app_list_col2.link
{
	cursor: pointer;
}

#parental_setpin_box
{
	background-image: url( 'https://steamstore-a.akamaihd.net/public/images/parental/keybg.png' );
	background-repeat: no-repeat;
	background-position: 300px 50%;
	min-height: 300px;
	position: relative;
}

#set_formpin
{
	top: 150px;
	width: 90%;
}

#set_formpin button
{
	margin-top: 40px;
}

#parental_setpin_entries
{
	margin: auto;
}


#parental_setpin_entries input
{
	margin: auto;
	width: 100px;
}

#parental_setrecoveryemail_entries
{
	margin: auto;
}

#parental_setrecoveryemail_entries label
{
	width: 40%;
}

#parental_setenablecode_box
{
	background-image: url( 'https://steamstore-a.akamaihd.net/public/images/parental/keybg.png' );
	background-repeat: no-repeat;
	background-position: 300px 50%;
	min-height: 300px;
	position: relative;
}

#set_formenablecode
{
	position: absolute;
	top: 150px;
	width: 90%;
}

#set_formenablecode button
{
	margin-top: 100px;
}

#parental_setenablecode_entries
{
	margin-left: 30px;
	margin-top: 6px;
}

#parental_setenablecode_entries input
{

}

#parental_setcomplete_box
{

}

#parental_setcomplete_box .parental_settings_subinstructions
{

}

.parental_settings_followsteps {
	margin-top:6px;
	margin-bottom:24px;
	font-size:12px;
	color: #c6d4df;
}

#parental_button_instructions .parental_settings_header
{
	margin-left: 53px;
}

.parental_button_instruction img
{
	margin-right: 12px;
	vertical-align: middle;
}

#parental_modify_settings_instructionsk img
{
	margin: 10px 0px;
}

#parental_communications_instruction #email_line div
{
	display: inline;
}

#parental_communications_instruction #email
{
	color: #67c1f5;
	font-weight: bold;
}

.parental_settings_complete button
{
	border: none;
	float: right;
}

.parental_debug.parental_error
{
	margin: 0px;
}

.parental_settings_current_status
{
	margin-bottom: 20px;
}

.parental_status_title1
{
	font-size: 16px;
}


.parental_status_title2
{
	color: #67c1f5;
	font-size: 16px;
}

.account .page_header_ctn {
	background: rgba(0, 0, 0, 0) url( 'https://steamstore-a.akamaihd.net/public/images//v6/temp/cluster_bg_40.png') no-repeat scroll center bottom;
}

.account .breadcrumbs {
	padding-top: 24px;
}

.inner_rule {
	border-bottom: 1px solid #3a6e8b;
}