/* CSS Document */

/* login page */

.login_page a {
}

.login_page a:hover {
	color: #ffffff;
}

.loginbox {
	position: relative;
}

.loginbox_left, .loginbox_right {
	float: left;
	position: relative;
	width: 274px;
	padding: 14px 16px;
}

.loginbox_left.btn_ctn {
	height: 33px;
}

.loginbox_left a.btn_checkout_green, .loginbox_right a.btn_checkout_green, .loginbox_left #login_btn_wait {
	color: #ffffff;
	text-decoration: none;
	float: right;
}

.loginbox_left input.text_input {
	width: 261px;
	height: 18px;
	padding: 2px 4px;
}

.loginbox_sep {
	position: absolute;
	top: 17px;
	bottom: 17px;
	left: 306px;
	border-left: 1px solid #4d4b49;
}

.loginbox .captcha_image_row {
	position: relative;
}

.loginbox .login_row {
	margin-bottom: 18px;
}

.loginbox #captchImg {
	position: absolute;
	left: 0px;
	right: 0px;
}

.loginbox #captchaRefresh {
	margin-left: 220px;
	padding-top: 8px;
}

.loginbox_psn
{
	padding: 14px 16px 14px 16px;
}

.loginbox_psn_logo
{
	float: left;
	margin-right: 1em;
}

.loginbox_psn_text
{
	margin-top: 0.5em;
}

.loginbox_psn_text h2
{
	font-size: 16px;
}

#join_sys_req_title {
	display: block;
}

#join_sys_req br, #join_sys_req_title  {
	margin-bottom: 12px;
}

ul#why_list {
	list-style-position: inside;
	list-style-type: square;
	line-height: 22px;
}

ul#why_list li {
}

/* register */

.joinsteam_page a {
	color: #B0AEAC;
	text-decoration: underline;
}

.joinsteam_page a:hover {
	color: #ffffff;
}

.join_form {
	padding: 20px 16px;
	position: relative;
}

.join_form .rule {
	border-top: 1px solid #000000;
	margin: 15px 0px;
}

.form_row {
	
}

.form_area {
	float: left;
	width: 212px;
}

.form_notes {
	float: left;
	margin-left: 21px;
	width: 346px;
}

.form_notes p {
	line-height: 14px;
}

.join_form input[type="text"], .join_form input[type="password"], .join_form select {
	width: 212px;
	padding: 2px 4px 3px 4px;
}

.join_form input[type="text"], .join_form input[type="password"] {
	height: 18px;
}

.join_form .dselect_container, .join_form .trigger, .join_form .activetrigger  {
	
	width: 180px;
}

.join_form .dselect_container a {
	color: #ffffff;
	text-decoration: none;
}

.joinsteam_page .btn_checkout_large {
	position: absolute;
	bottom: -20px;
	right: 19px;
}

.ssa_box {
	height: 337px;
	overflow: auto;
	border: 1px solid #4d4b49;
	padding: 9px;
	line-height: 15px;
}

.ssa_box p {
	margin: 9px 0px;
}

#ssa_agree {
	margin-top: 8px;
}

#label_agree {
	margin-left: 4px;
}

#captchaRefreshImg {
	vertical-align: middle;
}

.psn_accountname_title {
	font-size: 28px;
}

.psn_accountname {
	font-size: 28px;
	color: white;
}

.modal_top_band {
	background-image:url( 'https://steamstore-a.akamaihd.net/public/images/got_steam_top.jpg' );
	background-repeat:no-repeat;
	width:508px;
	height:25px;
	margin-bottom:1px;
}

.modal_close {
	float:right;
	width:9px;
	height:9px;
	margin-right:9px;
	margin-top:7px;
}

.modal_box {
	border-color:#4d4b49;
	border-style:solid;
	border-width:2px 1px;
	width: 466px;
	background-color:#262626;
	padding: 20px;
}

.modal_low_block {
	background-color:#171717;
	padding:20px 20px 0px 20px;
	height:54px;
	padding-top:24px;
	color:#b0aeac;
}

.modal_box h1 {
	padding-left:20px;
}

.modal_box p {
	padding-left:20px;
}


.modal_steam_ico {
	float:left;
	padding-right:18px;
	margin-top:-4px;
}



.modal_buttons a.btn_white {
	float: left;
}

.modal_buttons a.btn_white.leftbtn {
	margin-right: 16px;	
	
}

.modal_buttons {
}


#modalBG {
	position:absolute;
	z-index:900;
	background-color:#000000;
	filter:alpha(opacity=60);
	opacity:0.8;
}

.modal_frame {
	width:508px;
	position:absolute;
	z-index:1000;
	background-color:#000000;
}

.auth_message_area {
	position: relative;
	padding-left: 70px;
	min-height: 92px;
}

.auth_icon {
	position: absolute;
	top: 16px;
	left: 0px;
	width: 67px;
	height: 48px;

	background-image: url( https://steamstore-a.akamaihd.net/public/images/login/emailauth_icons.png );
	background-repeat: no-repeat;
}

.auth_icon.auth_icon_trash {
	background-position: center 0px;
}

.auth_icon.auth_icon_key {
	background-position: center -48px;
}

.auth_icon.auth_icon_lock {
	background-position: center -96px;
}

.auth_icon.auth_icon_unlock {
	background-position: center -144px;
}

.auth_icon.auth_icon_steam {
	background-position: center -192px;
}

.auth_icon.ipt_icon {
	background-image: url( https://steamstore-a.akamaihd.net/public/images/login/ipt_lockout_icon.png );
	height: 62px;
	width: 53px;

	left: 12px;
	top: 6px;
}

.auth_details_messages {
	color: #85847f;
	font-size: 12px;
	height: 38px;
}

.authcode_entry_area {
	height: 32px;
	margin-top: 4px;
	margin-bottom: 6px;
}

.authcode_entry_box {
	background-image: url( https://steamstore-a.akamaihd.net/public/images/login/code_box.png );
	background-repeat: no-repeat;
	width: 220px;
	height: 27px;
}

.friendly_name_box
{
	background-image: url( https://steamstore-a.akamaihd.net/public/images/login/friendlyname_box.png );
	background-repeat: no-repeat;
	width: 220px;
	height: 27px;
}

input.authcode_entry_input {
	border: none;
	background-color: transparent;
	margin-left: 8px;
	margin-top: 6px;
	color: #cdcac1;	
	outline: none;
	width: 220px;
}

input.authcode_entry_input.defaulttext {
	font-style: italic;
}

#auth_buttonsets {
	height: 66px;
}

#auth_buttonset_waiting {
	height: 66px;
	
	background-image: url( https://steamstore-a.akamaihd.net/public/images/login/throbber.gif );
	background-repeat: no-repeat;
	background-position: center center;
}

.auth_button {
	background-image: url( https://steamstore-a.akamaihd.net/public/images/login/emailauth_button.png );
	background-repeat: no-repeat;
	width: 219px;
	height: 66px;
}

.auth_button.auth_button_spacer {
	background-image: none;
}

a.auth_button, a.auth_button:hover {
	display: block;
	text-decoration: none;
}

.auth_button h3 {
	font-weight: normal;
	font-size: 18px;
	color: #ffffff;
	padding: 6px 12px 0px 12px;
}

.auth_button h5 {
	font-size: 12px;
	color: #adaca6;
	padding: 0px 12px 0px 12px;
	text-transform: none;
}



.modal_buttons .auth_button {
	float: left;
}

.modal_buttons a.auth_button.leftbtn {
	margin-right: 16px;		
}

#loginIPTModal .modal_box {
	background-image: url( https://steamstore-a.akamaihd.net/public/images/login/ipt_lockout_bg.png );
	width: 466px;
	height: 231px;
}

.psn_content_box {
	padding: 16px;
}

.psn_content_box h1 {
	padding-bottom: 14px;
}

.psn_welcome_img {
	padding: 10px 0px 6px 10px;
}

.psn_welcome_signin {
	float: right;
	padding-top: 14px;
}

.psn_tryagain_content {
	padding-top: 16px;
}

.ackgift_header h2 {
	color: #efefef;
}

.ackgift_header p {
	color: #acabab;
	font-size: 14px;
}

.ackgift_header #checkout_pipeline {
	padding-top: 22px;
}

.ackgift_header #checkout_header .content {
	height: 78px;
}


#auth_details_computer_name{
	margin: 30px 0 40px 0;
}

#friendly_name_box{
    position: absolute; 
    bottom: 22px; 
    left: 22px;
}
