/* CSS Document */

.page_title_area.recommendation_title_area
{
}

.recommendation_bodytext
{
	font-size: 14px;
	color: #82807c;
	margin-bottom: 8px;
}

.recommended_bodygradient
{
	background-image: url( http://cdn.store.steampowered.com/public/images/recommended/recommended_bodygradient.png );
	background-position: bottom;
	background-repeat: repeat-x;
	padding: 60px 18px 22px 18px;
}

.recommendation_section {
	margin-bottom: 17px;
}

.recommendation_mainsection {
	margin-bottom: 34px;
}

.recommendation_rule {
	border-top: 2px solid #262626;
	margin-bottom: 34px;
}

.recommendation_highlight {
	background-image: url( http://cdn.store.steampowered.com/public/images/recommended/recommended_highlight_gradient.png );
	background-repeat: repeat-x;
	background-position: top;
	position: relative;
	background-color: #262626;
	width: auto;
	height: 215px;
	padding: 18px 16px;
}

.recommendation_highlight.small_header {
	height: 136px;
}

.recommendation_highlight.recommendation_title_offset, .recommendation_detail.recommendation_title_offset {
	background-position: center -56px;
}

.recommendation_highlight .header_image {
	position: absolute;
	top: 17px;
	left: 15px;
	width: 460px;
	height: 215px;
	border: 1px solid #000000;
}

.recommendation_highlight .header_image:hover {
	border-color: #8bb9e0;
}

.recommendation_highlight .header_image img {
	width: 460px;
	height: 215px;
}

.recommendation_highlight.small_header .header_image, .recommendation_highlight.small_header .header_image img {
	width: 292px;
	height: 136px;
}

.recommendation_highlight .highlight_description {
	color: #b0aeac;
	padding-top: 60px;
	padding-left: 476px;
	position: relative;
	height: 155px;
}

.recommendation_highlight.small_header .highlight_description {
	padding-left: 308px;
	padding-top: 40px;
	height: 96px;
}

.recommendation_highlight .highlight_description h2 {
	color: #ffffff;
	font-size: 24px;
	font-weight: normal;
}

.recommendation_highlight .highlight_description h4 {
	margin-bottom: 8px;
}

.recommendation_highlight .highlight_description .regular_price {
	background-color: #000000;
	padding: 0px 5px;
	line-height: 16px;
	font-size: 13px;
}

.recommendation_highlight .highlight_description .buttons {
	position: absolute;
	bottom: 0px;
	left: 476px;
}

.recommendation_highlight.small_header .highlight_description .buttons {
	left: 308px;
}

.recommendation_highlight.morelikethis_border {
	margin-bottom: 0px;
	background-image: url( http://cdn.store.steampowered.com/public/images/recommended/morelikethis_borderbottom.png );
	background-position: bottom left;
	background-repeat: no-repeat;
	padding-bottom: 22px;
}

.recommendation_carousel {
	position: relative;
	height: 173px;
	padding: 0px 54px;
	background-color: #262626;
}

.recommendation_carousel_view {
	overflow: hidden;
	position: relative;
	background-color: #262626;
	margin-left: 12px;
	margin-right: 12px;
	width: 808px;
}

.recommendation_carousel_title {
	line-height: 18px;
	height: 18px;
	padding-top: 10px;
	padding-left: 6px;
	color: #b0aeac;
	font-size: 14px;
}

.recommendation_carousel_scroll {
	width: 9000px;
}

.recommendation_carousel_item {
	float: left;
	width: 202px;
	height: 123px;
	padding: 11px 0px;
}

.recommendation_highlight_carousel .recommendation_carousel_item {
	height: 141px;
	padding: 16px 0px;
}

.recommendation_carousel_item h4, .recommendation_carousel_item .buttons {
	padding-left: 9px;
}

.recommendation_carousel_item .buttons {
	visibility: hidden;
}

.recommendation_carousel_item:hover .buttons {
	visibility: visible;
}

.recommendation_carousel_item h4 {
	color: #d6d7d8;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.recommendation_carousel_item .carousel_cap {
	display: block;
	border: 1px solid #262626;
	padding: 8px 8px 6px 8px;
	margin-bottom: 2px;
}

.recommendation_carousel_item .carousel_cap:hover {
	border-color: #8bb9e0;
	text-decoration: none;
}

.recommendation_carousel_item .carousel_cap .small_cap_img {
	margin-bottom: 5px;
}

.recommendation_carousel_item .carousel_cap h5 {
	font-size: 11px;
	color: #b0aeac;
	font-weight: normal;
	margin: 0px;
}

.recommendation_carousel .scroll_btn {
	position: absolute;
	top: 0px;
	width: 52px;
	height: 173px;
	line-height: 173px;
	background-color: #262626;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.recommendation_carousel .scroll_btn:hover {
	background-color: #3C3D3E;
}

.recommendation_carousel .scroll_btn.disabled {
	cursor: default;
}

.recommendation_carousel .scroll_btn.disabled:hover {
	background-color: #262626;
}



.recommendation_carousel .scroll_btn.left {
	left: 0px;
	border-right: 2px solid #000000;
	background-image: url( http://cdn.store.steampowered.com/public/images/recommended/carousel_scroll_left.png );
}

.recommendation_carousel .scroll_btn.right {
	right: 0px;
	border-left: 2px solid #000000;
	background-image: url( http://cdn.store.steampowered.com/public/images/recommended/carousel_scroll_right.png );
}

.recommendation_carousel .scroll_btn.left.disabled {
	background-image: url( http://cdn.store.steampowered.com/public/images/recommended/carousel_scroll_left_disabled.png );
}

.recommendation_carousel .scroll_btn.right.disabled {
	background-image: url( http://cdn.store.steampowered.com/public/images/recommended/carousel_scroll_right_disabled.png );
}

.recommendation_area_ctn
{
	background-color: #262626;
	padding: 15px;
	margin-bottom: 2px;
}

.recommendation_area_ctn h4
{
	color: #B0AEAC;
}

.recommendation_detail {
	min-height: 168px;
	background-image: url( http://cdn.store.steampowered.com/public/images/recommended/recommended_highlight_gradient.png );
	background-repeat: repeat-x;
	background-position: top;
	background-color: #262626;
}

.recommendation_detail .quote {
	max-height: 450px;
	overflow: auto;
	overflow-x: hidden;
	word-wrap: break-word;
}

.recommendation_detail .recommend_game .quote {
	overflow: hidden;
	max-height: none;
}

.recommendation_area_ctn.game_recommendation {
	margin-bottom: 32px;
}

.recommendation_area
{
	position: relative;
}

.recommendation_area .recommendation_author
{
	position: absolute;
	left: 0px;
	top: 0px;
}

.quote_serif
{
	font-family: Georgia, serif;
}

.recommendation_detail .recommendation_area_content
{
	padding-left: 116px;
	width: 484px;
}

.recommendation_detail .recommendation_date
{
	padding-left: 13px;
	color: #626467;
	font-size: 11px;
}

.recommendation_detail .recommendation_date a
{
	color: #626467;
	text-decoration: underline;
}

.game_recommendation .recommendation_area_content
{
	padding-left: 56px;
}

.quote
{
	padding: 13px 13px;
	border: 1px solid #3c3d3e;
	color: #d6d7d8;
	font-size: 14px;
	font-style: italic;
	line-height: 19px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 5px;
}

.quote_arrow
{
	position: absolute;
	width: 17px;
	height: 18px;
	background-repeat: no-repeat;
	background-image: url( http://cdn.store.steampowered.com/public/images/recommended/quotearrow_graybg.png);
}

.recommendation_detail .quote_arrow
{
	left: 100px;
	top: 13px;
}

.comment_row_quote .quote_arrow {
	left: 46px;
	top: 9px;
}

.game_recommendation .quote_arrow {
	left: 40px;
	top: 9px;
}

.game_page_recommendation .quote_arrow {
	left: 40px;
	top: 12px;
	background-image: url( http://cdn.store.steampowered.com/public/images/recommended/quotearrow_gamepage.png );
}

.recommendation_makeyourown .quote_arrow {
	left: 100px;
	top: 13px;
	background-image: url( http://cdn.store.steampowered.com/public/images/recommended/quotearrow_white.png );
}

.recommendation_row .quote_arrow {
	left: 58px;
	top: 26px;
}

.recommendation_makeyourown {
	position: relative;
	padding-left: 116px;
}

.recommendation_makeyourown_your_avatar {
	position: absolute;
	left: 0px;
	top: 0px;
}

.recommendation_makeyourown .quote {
	border-color: #d6d7d8;
	font-style: normal;
	height: 98px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.recommendation_makeyourown_instructions {
	padding-top: 30px;
}

.recommendation_makeyourown .quote .buttons {
	float: right;
	padding-top: 4px;
}

.app_header
{
	position: absolute;
	width: 292px;
	height: 136px;
	right: 0px;
	top: 0px;
	background: #000000;
	padding: 1px;
	border: 1px solid #000000;
}

.app_header:hover
{
	background-color: #8bb9e0;
}

.app_actions
{
	position: absolute;
	width: 292px;
	right: 0px;
	top: 148px;
}

.actiontext
{
	color: #82807c;
	font-size: 11px;
	line-height: 22px;
}	

.actiontext a
{
	color: #82807c;
	text-decoration: underline;
}

.actiontext a:hover
{
	text-decoration: underline;
	color: #d6d7d8; 
}



.friend_block_avatar_92 {
	width: 92px;
	height: 92px;
	background-repeat: no-repeat;
	padding: 4px;
	margin-right: 2px;
}

.friend_status_offline .friend_block_avatar_92 {
	background-image: url( http://cdn.store.steampowered.com/public/images/communitylink/iconholder_92_offline.gif );
}

.friend_status_online .friend_block_avatar_92 {
	background-image: url( http://cdn.store.steampowered.com/public/images/communitylink/iconholder_92_online.gif );
}

.friend_status_in-game .friend_block_avatar_92 {
	background-image: url( http://cdn.store.steampowered.com/public/images/communitylink/iconholder_92_ingame.gif );
}

.friend_block_avatar_92 img {
	width: 92px;
	height: 92px;
}

.comment_row_quote {
	position: relative;
	padding-left: 62px;
	min-height: 60px;
	margin-bottom: 5px;
}

.comment_row_quote .comment_author {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
}

.comment_row_quote .quote {
	color: #82807C;
}

.comment_row {
	margin-bottom: 1px;
	position: relative;
	min-height: 60px;
	padding-left: 73px;
	padding-right: 18px;
}

.comment_row.even {
	background-color: #1f1f1f;
}
.comment_row.odd {
	background-color: #1a1a1a;
}

.comment_row .comment_author {
	position: absolute;
	left: 15px;
	top: 10px;
	width: 40px;
	height: 40px;
}

.comment_row .comment_text {
	padding-top: 10px;
	padding-bottom: 4px;
	color: #d6d7d8;
	font-size: 14px;
	font-style: italic;
	word-wrap: break-word;
}

.comment_row .comment_date {
	color: #626467;
	font-size: 11px;
	padding-bottom: 10px;
}

.comment_row .comment_date a {
	color: #b0aeac;
}

.leave_comment_area
{
	position: relative;
	margin-bottom: 16px;
}

.leave_comment_area .comment_your_avatar
{
	position: absolute;
	left: 15px;
	top: 0px;
	width: 40px;
	height: 40px;
}

.comment_quote_area
{
	padding-left: 73px;
}

.comment_quote
{
	padding: 9px;
	border: 1px solid #3c3d3e;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 5px;
	color: #d6d7d8;
	font-size: 14px;
	font-style: italic;
}

.comment_quote_arrow
{
	position: absolute;
	width: 17px;
	height: 18px;
	left: 57px;
	top: 13px;
	background-repeat: no-repeat;
	background-image: url( http://cdn.store.steampowered.com/public/images/recommended/quotearrow_blackbg.png);
}

.comment_btn {
	float: right;
}

textarea.comment_input
{
	background-color: #000000;
	border: none;
	color: #626366;
	font-size: 12px;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	/* for chrome/webkit - disable orange border and resize grabber */
	outline: none;
	resize: none;
}

.comment_pagination_footer {
	padding: 4px 15px;
	font-size: 11px;
}

.recently_viewed_row {
	background-color: #262626;
	height: 102px;
	position: relative;
	border-bottom: 1px solid #000000;
}

.recommendation_row {
	background-color: #262626;
	min-height: 102px;
	position: relative;
	border-bottom: 3px solid #000000;
}

.recommendation_row .recommendation_author {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 40px;
	height: 40px;
}

.recommendation_row .recommendation_content {
	padding-left: 74px;
	padding-top: 16px;
	color: #82807C;
	font-size: 14px;
	padding-right: 218px;
	padding-bottom: 16px;
}

.recommendation_row .quote {
	padding: 7px 13px;
}

.recommendation_row .quote .quote_content{
	text-overflow: ellipsis;
	overflow: hidden;
}

.recommendation_row .recommendation_content .recommendation_attribution {
	font-size: 11px;
}

.recommendation_row .recommendation_app {
	position: absolute;
	top: 14px;
	right: 14px;
	width: 184px;
	height: 69px;
	background: #000000;
	padding: 1px;
	border: 1px solid #000000;
}

.recommendation_row .recommendation_app:hover {
	background-color: #8bb9e0;
}

.recommendation_row .recommendation_app img {
	width: 184px;
	height: 69px;
}

.recently_viewed_row .recently_viewed_content {
	padding-left: 212px;
	padding-top: 32px;
	padding-right: 306px;
}

.recently_viewed_row .recently_viewed_content h3 {
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	whitespace: nowrap;
	margin-bottom: 15px;
}

.recently_viewed_row .recently_viewed_capsule {
	position: absolute;
	top: 14px;
	left: 14px;
	width: 184px;
	height: 69px;
	background: #000000;
	padding: 2px;
}

.recently_viewed_row .recently_viewed_date {
	position: absolute;
	left: 640px;
	top: 42px;
	font-size: 11px;
	color: #9e9995;
}

.recently_viewed_row .recently_viewed_price {
	position: absolute;
	top: 42px;
	right: 14px;
	text-align: right;
	font-size: 11px;
	color: #9e9995;
}

.friendplaytime_ctn {
	background-color: #262626;
	padding: 18px 0px 18px 15px;
}

.friendplaytime_game {
	float: left;
	width: 294px;
	margin-right: 14px;
}

.friendplaytime_game .friendplaytime_buttons {
	visibility: hidden;
}

.friendplaytime_game:hover .friendplaytime_buttons {
	visibility: visible;
}

.friendplaytime_appheader {
	border: 1px solid #262626;
	width: 292px;
	height: 136px;
	margin-bottom: 5px;
}

.friendplaytime_appheader:hover {
	border-color: #8bb9e0;
}

.friendplaytime_game .friend_blocks_row {
	margin-bottom: 5px;
}

.friendplaytime_plusmore .friend_block_avatar a {
	display: block;
	line-height: 32px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	font-size: 14px;
}

.friendplaytime_plusmore .friend_block_avatar a:hover {
	text-decoration: none;
}

.friendplaytime_hours {
	line-height: 42px;
	color: #82807c;
	font-size: 14px;
	padding-left: 8px;
}

.recommend_game textarea.recommendation_entry {
	background-color: transparent;
	color: #626366;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	width: 462px;

	overflow: hidden;
}

.recommend_game .quote_ctn .quote {
	min-height: 104px;
}

.game_recommendation textarea.recommendation_entry {
	border: none;
	background-color: #262626;
	color: #626366;
	width: 500px;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;

	overflow: hidden;
}

.game_recommendation .error_message, .recommend_game .error_message {
	color: #ff0000;
	margin-bottom: 12px;
}

.game_recommendation .recommend_btn {
	height: 20px;
}

.game_page_recommendation {
	margin-bottom: 16px;
}

.game_page_recommendation .recommendation_area {
	padding-left: 56px;
}

.game_page_recommendation .recommendation_area .recommendation_author {
	top: 8px;
}

.game_page_recommendation .recommendation_area_content .quote {
	border: none;
	background-color: #262626;
	color: #d6d7d8;
	position: relative;
	padding-bottom: 18px;
	max-height: 450px;
	overflow: auto;
	overflow-x: hidden;
}

.game_page_recommendation .quote .quotebox_timestamp {
	position: absolute;
	bottom: 0px;
	right: 8px;
	color: #4f5051;
	font-size: 10px;
	font-style: normal;
	font-family: Helvetica, Arial, sans-serif;
}

.game_page_recommendation_comments {
	padding-right: 141px;
	position: relative;
	min-height: 22px;
}

.game_page_recommendation .comment_row_quote {
	padding-left: 0px;
}

.game_page_recommendation .game_page_recommendation_comments .quote_serif {
	color: #82807c;
	font-style: italic;
	font-size: 12px;
}

.game_page_recommendation_comments .view_btns {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 141px;
	text-align: right;
}

.game_page_recommendation .comment_timestamp {
	color: #4f5051;
	font-size: 10px;
}

.game_page_recommendation .comment_timestamp a {
	color: #4f5051;
	text-decoration: underline;
}

.friendactivity_tab_header {
	background-color: #262626;
	height: 38px;
	line-height: 38px;
	padding-left: 13px;
	
	color: #b0aeac;
	font-size: 12px;
}

.friendactivity_togglebtns {
	float: right;
	padding-right: 13px;
}

.friendactivity_tab_content {
	position: relative;
	padding-left: 7px;
	background-color: #262626;
	height: 619px;
	
	overflow: hidden;
}

.friendactivity_tab_scroll {
	position: relative;
	width: 607px;
}

.friendactivity_tab_row {
	position: relative;
	
	padding-top: 9px;
	padding-bottom: 10px;
	height: 40px;
	
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	margin-bottom: 1px;
	padding-left: 326px; 
	padding-right: 8px;
	background-color: #1a1a1a;
}

.friendactivity_tab_row .game_capsule_area {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 45px;
	width: 120px;
	background-color: #262626;
	padding: 7px;
}

.friendactivity_tab_row .friend_blocks_row {
	position: absolute;
	top: 9px;
	left: 134px;
	padding: 0px 6px;
	width: 180px;
}

.friendactivity_tab_row.most_wanted .friend_blocks_row {
	width: 450px;
}

.friendactivity_tab_row .time_bar_ctn {
	height: 40px;
	line-height: 40px;
	position: relative;
}

.friendactivity_tab_row .time_bar_ctn .time_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 40px;
	width: 0px;
	
	background-color: #262626;
}

.friendactivity_tab_row .time_bar_ctn .time_bar_label {
	position: relative;
	color: #b0aeac;
	font-size: 12px;
	padding-left: 8px;
}

.recommended_login_message {
	padding-top: 34px;
	padding-left: 16px;
	padding-right: 16px;
	height: 108px;
	background-image: url( http://cdn.store.steampowered.com/public/images/recommended/loginmessage_bg.png );
	
	margin-bottom: 30px;
}

.recommended_login_message h2 {
	margin-bottom: 8px;
}

.recommended_login_message ul {
	color: #82807c;
	list-style: square;
	list-style-position: inside;
}

.recommended_login_message ul li {
	margin-bottom: 6px;
}

.recommened_login_button_ctn {
	float: right;
	text-align: right;
}

.recommended_login_message_signup, .recommended_login_message_signup a {
	color: #82807c;
	font-size: 11px;
}

.recommended_login_button {
	padding: 0px 5px;
	position: relative;
	margin-bottom: 4px;
}

.recommended_login_button .leftcap, .recommended_login_button .rightcap, .recommended_login_button .content
{
	background-image: url( http://cdn.store.steampowered.com/public/images/recommended/recommended_login_btns.png );
}

.recommended_login_button .leftcap {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 5px;
	height: 40px;
	background-position: left top;
}

.recommended_login_button .rightcap {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 5px;
	height: 40px;
	background-position: left -40px;
}

.recommended_login_button a.content {
	display: block;
	background-position: left -80px;
	background-repeat: repeat-x;
	height: 40px;
	line-height: 40px;
	padding: 0px 32px;
	
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.recommended_login_button a.content:hover {
	text-decoration: none;
}

.recommendation_area_ctn.genre_highlights_ctn {
	padding: 14px 0px 15px 14px;
}

.recommended_genre_highlight {
	float: left;
	position: relative;
	width: 294px;
	margin-right: 14px;
	margin-bottom: 30px;
}

.recommended_genre_highlight .genre_highlight_item {
	border: 1px solid #262626;
	width: 292px;
	height: 136px;
	margin-bottom: 8px;
}

.recommended_genre_highlight .genre_highlight_item:hover {
	border-color: #8bb9e0;
}

.genre_highlight_buttons .price {
	float: right;
	line-height: 22px;
}

.genre_highlight_footer {
}

.recommendation_ignored {
	background-color: #000000;
	color: #D6D7D8;
	font-size: 12px;
}

.recommendation_highlight  .recommendation_ignored {
	height: 215px;
	width: 460px;
	text-align: center;
	line-height: 215px;
}

.recommendation_carousel_item .recommendation_ignored {
	width: 160px;
	height: 45px;
	margin-top: 9px;
	margin-left: 9px;
	padding: 12px;
}

.recommendation_highlight_carousel .recommendation_carousel_item .recommendation_ignored {
	margin-top: 29px;
}
	
.recommendation_pagination {
	float: right;
}

.recommendation_area_ctn.similar_grid_ctn {
	padding-right: 0px;
}

.similar_grid_item {
	float: left;
	padding: 18px 0px;
	margin-right: 14px;
}

.similar_grid_item .similar_grid_capsule {
	position: relative;
	left: -1px;
	width: 292px;
	height: 136px;
	border: 1px solid #262626;
	margin-bottom: 5px;
}


.similar_grid_item .similar_grid_capsule:hover {
	border-color: #8bb9e0;
}

.similar_grid_item .similar_grid_capsule img {
	width: 292px;
	height: 136px;
}

.similar_grid_item .similar_grid_price {
	margin-bottom: 16px;
}

.similar_grid_item .buttons {
	visibility: hidden;
}

.similar_grid_item:hover .buttons {
	visibility: visible;
}

.similar_grid_rule {
	border-bottom: 2px solid black;
	clear: left;
}