
body {
	background: transparent;
}

a, a:hover {
	text-decoration: none;

}

#widget {
	border: 1px solid #4d4b49;
	background-color: #262626;
	/*width: 614px;*/
	height: 146px;
	padding: 10px 15px;
	position: relative;
	margin: 0 auto;
	background-image: url(https://steamstore-a.akamaihd.net/public/images/v5/SteamPistonForWidget.png);
	background-repeat: no-repeat;
	background-position: top right;
}

#widget .game_purchase_action {
	position: absolute;
	bottom: -20px;
	right: 10px;
}

#widget .header_container {
}

#widget h1 {
	font-size: 23px;
	font-weight: normal;
	vertical-align: top;
	display: inline-block;
	line-height: 28px;
}

#widget h1.main_text {
	color: #fefefe;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

			text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 425px;
}

#widget h1.tail {

}

#widget h1 em {
	font-weight: normal;
	font-style: normal;
	color: #9e9e9e;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

		}

#widget .capsule {
	float: left;
	margin: 2px 10px 10px 0;
}

#widget .desc {
	margin: 10px 10px 0 0;
	font-size: 13px;
	color: #c9c9c9;
	line-height: 16px;
	max-height: 96px;
	overflow: hidden;
}

#widget p.package_contents {
	color: #9e9e9e;
}

#widget p.package_contents b {
	font-weight: normal;
	color: #8bc53f;
}

#widget p.package_contents a {
	color: #b0aeac;
}

#widget .game_area_purchase_platform {
	position: absolute;
	bottom: 13px;
	left: 15px;
}

#widget .game_purchase_action_bg.coming_soon {
	padding: 5px 10px;
	color: #8bc53f;
	border: 1px solid #576922;
background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#384416), color-stop(95%,#272f0f));filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#384416', endColorstr='#272f0f',GradientType=0 );background: -moz-linear-gradient( top, #384416 5%, #272f0f 95%);background: -webkit-linear-gradient( top, #384416 5%, #272f0f 95%);background: -o-linear-gradient( top, #384416 5%, #272f0f 95%);background: -ms-linear-gradient( top, #384416 5%, #272f0f 95%);background: linear-gradient( to bottom, #384416 5%, #272f0f 95%);	height: auto;
}

#widget .game_purchase_action_bg.coming_soon  h1 {
	font-size: 20px;
	line-height: normal;
}