

#hws_main {
	text-align:left;
	margin-top:22px;
	position: relative;
}

#hws_ctn {
	min-height: 566px;
	margin: 0px auto;
	overflow: visible;
	text-align:left;
	position:relative;
}

#new_tag_top {
	position:absolute;
	top:-32px;
	left:-140px;
}

#new_tag_mid {
	position:absolute;
	top:20px;
	left:-150px;
}

#hws_header,#hws_footer {
	width:698px;
	height:7px;
	margin:0;
	padding:0;
}


#hws_ctn h1 {
	margin:0;
	padding:0 0 6px 0;
	font-size:24pt;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			color: white;
}

p.blurb {
	width:585px;
	font-size:14px;
	line-height:18px;
	color:#c6d4df;
	margin-bottom:6px;
}

p.blurb2 {
	width:585px;
	font-size:14px;
	line-height:18px;
	color:#bbbbbb;
}

.main_graph {
	float:left;
	padding:0;
	margin-bottom:9px;
	width:325px;
	height:256px;
}

.padRight8 {
	margin-right:7px;
}

.padRight {
	margin-right:11px;
}

.graph_title {
	width:298px;
	font-size: 11px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			background: rgba( 0, 0, 0, 0.4 );
	padding:5px 0px 5px 8px;
	margin-bottom:1px;
	text-transform: uppercase;
}


#main_stats_header {
	width:925px;
	padding:5px 0px 5px 15px;
	margin: 10px 0px 2px 0px;
	background-color: rgba( 0, 0, 0, 0.4 );
	font-size: 11px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: 300; /* light */

			text-transform: uppercase;
}

#main_stats, #sub_stats {
	width:924px;
	background-color: rgba( 0, 0, 0, 0.6 );
	padding:8px;
}

.h1subtext {
	color:#7092a5;
}

.stats_col_left {
	float:left;
	width:527px;
	padding:2px 0px 2px 8px;
}

.stats_row_details .stats_col_left {
	padding-left: 12px;
}

.substats_col_left {
	float:left;
	width:527px;
	padding:2px 0px 2px 8px;
}

.stats_col_left_holder {
	float:left;
	width:20;
}

.stats_col_mid,.stats_col_mid_details {
	float:left;
	width:217px;
	padding:2px 0px 2px 8px;
	overflow:hidden;
}

.stats_row_details .stats_col_mid,
.stats_row_details .stats_col_right,
.stats_row_details .stats_col_right2 {
	border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
}

.substats_col_month,.substats_col_month_last,.substats_col_month_last_pct,.substats_col_month_last_chg {
	float:left;
	width:65px;
	text-align:right;
	overflow:hidden;
}

.substats_col_month_last {
	width:115px;
}

.substats_col_month_last_pct {
	width:60px;
}

.substats_col_month_last_chg {
	width:55px;
}

.stats_col_mid_details {
	width:430px;
}

.stats_col_right {
	float:left;
	width:69px;
	padding:2px 16px 2px 0px;
	text-align:right;
}

.stats_col_right2 {
	float:left;
	width:75px;
	padding:2px 0px 2px 0px;
}

.col_header {
	font-weight:normal;
	font-size:11px;
	color:#abdaf4;
}

.stats_row,.stats_row_on {
	clear:left;
	padding:4px 0px 4px 0px;
	color:#9099a1;
}

.substats_row {
	clear:left;
	padding:4px 0px 4px 0px;
	color:#9099a1;
}

.row_0 {
	background-color: rgba( 42, 72, 94, 0.2 );
}

.row_1 {
	background-color: rgba( 42, 72, 94, 0.4 );
}

.stats_row_on {
	background-color: rgba( 57, 101, 131, 1);
	color:#ffffff;
}

.stats_row a,.stats_row a:hover,.stats_row a:active,.stats_row a:visited,.stats_row_on a,.stats_row_on a:hover,.stats_row_on a:active,.stats_row_on a:visited {
	text-decoration:none;
	color:#000000;
	font-weight:normal;
}

.stats_row:hover,.stats_row_on:hover {
	background-color: rgba( 42, 72, 94, 0.6 );
	cursor:pointer;
	color:#ffffff;
}

.graph_block {
	float:left;
	width:306px;
	margin-bottom:14px;
}
.graph_holder {
	width: 306px;
	height: 188px;
	position: relative;
	background: rgba( 0, 0, 0, 0.5 );
}
.chartdiv {
	position:absolute;
	top:37px;
	left:8px;
	width:240px;
	height:90px;
	background-color: black;
}

.chartRange {
	color:#7092a5;
	text-transform:uppercase;
	font-size:10px;
	font-family:arial,helvetica,sans-serif;
	position:absolute;
	top:22px;
	left:10px;
}
.chartCaption {
	color:#ffffff;
	font-size:14px;
	font-family:arial,helvetica,sans-serif;
	position:absolute;
	top:6px;
	left:10px;
}
.chartVal {
	position:absolute;
	font-size:11px;
	font-family:arial,helvetica,sans-serif;
	left:255px;
}
.chartInfoLink,.chartInfoLink:active,.chartInfoLink:visited {
	color:#63baec;
	position:absolute;
	font-size:11px;
	left:96px;
	bottom: 4px;
	text-decoration:none;
}
.chartInfoLink:hover {
	color: white;
}

.legendColorBox { display: none; }
.legendLabel { margin-top: 20px; }
.chartKey { height: 30px; flow-children: right; position: absolute; top: 130px; left: 6px; width: 240px; }
.legendChild { margin-left: 10px; float: left; }
.legendColor { height: 8px; width: 8px; float: left; margin-right: 4px;}
.legendText { color: #7092a5; font-size: 10px; float: left; }
.chartLegend { top:40px; left: 250px; position:absolute; }
.legendLabel div { font-size: 11px; margin-top: 4px; }

#DXLevels .chartKey {
	width: 300px;
}

#DXLevels .legendText  {
	font-size: 9px;
}


#platform_pulldown {
	color:#acacac;
	margin:0px 0px 16px 8px;
	display: inline-block;
	height: 20px
}

#platform_nonpulldown {
	color:#acacac;
	margin:0px 0px 16px 8px;
}

#platform_pulldown img, .popup_menu_item img {
	padding-right:4px;
	vertical-align: bottom;
}
.pulldown {
	background-position: right bottom;
}

.stats_arrow {
	float:left;
	padding:6px 5px 0px 5px;
}

.arrow_space {
	padding-left:15px;
}

.stats_row_details {
	background: -webkit-linear-gradient( top, rgba( 57, 101, 131, 0.2 ) 5%, rgba( 42, 72, 94, 0) 95%);background: linear-gradient( to bottom, rgba( 57, 101, 131, 0.2 ) 5%, rgba( 42, 72, 94, 0) 95%);	display:none;
	border-top: 1px solid #000;
	margin-bottom: 30px;
}

.greyRow {
	background-color:#eaeaea;
}

.row_details {
	color:#68788b;
}

.data_row {
	color:#cccccc;
	padding-top:6px;
}

.appdata_row {
	color:#999999;
	padding:4px 0px 4px 0px;;
}

.stat_increase {
	color:#73c716;
	text-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.25);
}

.stat_decrease {
	color:#d7571b;
	text-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.25);
}

form {
	margin:0;
	padding:0;
}

#substats_sort {
	float:right;
	text-align:right;
	padding-right:10px;
	color:#ffffff;
}

input {
	font-size:10px;
}

select {
	font-size:10px;
}

a.backLink,a.backLink:hover,a.backLink:active,a.backLink:visited {
	text-decoration:none;
	color: #ffffff;
}

a.backLink:hover {
	text-decoration:underline;
	color:#000000;
}

.hideme {
	display:none;
}

#softwareNote {
	text-align:left;
	padding:10px 20px 0px 20px;
	color:#777777;
}

.filter_options {
	height: 30px;
}

.popup_block {
	width: 152px;
	background: #000;
	box-shadow: 0 0 4px #000;
	z-index: 200;
	position: absolute;
}
.under_popup {
	position: relative;
	z-index: 0;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hide from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

