/* CSS Document */



.lg_pulldown_btn {
	/* image dimensions: 276x32 */
	display: block;
	width: 276px;
	height: 32px;
	background-image: url(http://store.akamai.steamstatic.com/public/images/v5/btn_lg_grey_pulldown.gif);
	background-repeat: no-repeat;
	
	cursor: pointer;
}

.lg_pulldown_btn .btn_content {
	padding-top: 8px;
	padding-left: 8px;
	text-shadow: #aaaaaa 1px 1px 0px;
	font-weight: bold;
	color: #3b3b3b;
}

#genre_find_more .popup_body {
	width: 276px;
}

.genre_action_count {
	color: #626366;
}

#genre_large_cluster {
	margin-bottom: 18px;
}

#genre_single_cluster {
	position: relative;
	width: 940px;
	height: 280px;
	overflow: hidden;
}

#genre_single_cluster .frame {
	width: 940px;
	height: 220px;
	padding: 0px;
	float: left;
}

#genre_single_cluster .image_holder {
	float: left;
	padding: 5px 8px 0 16px;
}

#genre_single_cluster .description {
	font-size: 14px;
	color: #B2CDD7;
}

#genre_single_cluster .body {
	float: left;
	width: 425px;
	margin-left: 10px;
}

#genre_single_cluster .genres {
	color: #669baf;
	padding-bottom: 17px;
	padding-top:4px;
}

#genre_single_cluster .price {
	color: #fff;
	padding-top: 12px;
	font-size: 14px;
}

#genre_single_cluster .btn_details {
	position: absolute;
	top: 200px;

}

#genre_single_cluster .btn_details > a {
	color: #82807c;
	padding: 5px;
	border-radius: 2px;
	background-color: #151b1e;
	text-decoration: none;
}

#genre_single_cluster h4 {
	font-size: 36px;
	line-height: 30px;
}

#genre_single_cluster .btn_container {
	height: 28px;
	position: absolute;
	top: 239px;
}

#genre_single_cluster .btn_container > .btn_panel {
	position: relative;
	float: left;
	margin: 0 5px 0 0;
	width:60px;
	height:19px;
	cursor:pointer;
	background-image:url(http://store.akamai.steamstatic.com/public/images//v5/itemthumb_normal.png);

}

#genre_single_cluster .btn_container > .btn_panel > .btn_arrow {
	display: none;
	position: absolute;
	top: -8px;
	left: 24px;
	width: 12px;
	height: 8px;
	background-image:url(http://store.akamai.steamstatic.com/public/images//v5/itemthumb_arrow.png)
}

#genre_single_cluster .btn_container > .btn_panel.active {
	background-image:url(http://store.akamai.steamstatic.com/public/images//v5/itemthumb_selected.png)
}
#genre_single_cluster .btn_container > .btn_panel.active > .btn_arrow  {
	display: block;
}
.genre_cluster_single {
	overflow: hidden;
	width: 999999px;
}

.large_cluster_scroll {
	overflow: hidden;
	position: relative;
}

.breadcrumb {
	color: #595553;
	font-size: 14px;
	margin: 0px;
	padding-bottom: 13px;
	padding-top: 6px;

	height: 15px;
}

.breadcrumb a {
	color: #3c829d;
	font-size: 16px;
}

.tab_filter_control {
	border: 1px solid #3c3d3e;
	border-radius: 3px;
	margin-bottom: 2px;
	line-height: 28px;
	padding: 0 8px;

	font-size: 12px;
	color: #b0aeac;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	cursor: pointer;
}

.tab_filter_control.checked {
	background-color: #384959;
	border-color: #384959;
}

.tab_filter_control_checkbox {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: top center;

	margin-right: 16px;
	background-image: url('http://store.akamai.steamstatic.com/public/images/v5/store_checkbox_blue.png');
	vertical-align: text-bottom;
}

.tab_filter_control.checked .tab_filter_control_checkbox {
	background-position: bottom center;
}

.tab_filter_control_label {
	display: inline-block;
}

.tab_filter_ctn {
	color: #779abd;
	margin-bottom: 24px;
	font-size: 12px;
}

.tab_filter_header {
	font-size: 13px;
	line-height: 21px;
}

.tab_filters {
	min-height: 30px;
}

.tab_filter {
	display: inline-block;
	white-space: nowrap;
	background-color: #384959;
	border-radius: 3px;
	padding: 0 12px;
	line-height: 30px;

	margin: 0 4px 4px 0;
}

.tab_filter_remove {
	display: inline-block;
	cursor: pointer;
	background: no-repeat center center url('http://store.akamai.steamstatic.com/public/images/v5/delete_search_term.png');
	width: 12px;
	height: 30px;
	margin-left: 8px;
}

#header_callout {

	height: 101px;
	background-image: url(http://store.akamai.steamstatic.com/public/images/promo/earlyaccess/header_splash.png);
	box-shadow: 0px 3px 8px -3px #000;
	z-index: 10;
	position: relative;

	margin-bottom: 20px;
}

	#header_callout > * {
		margin-left: 20px;
		text-shadow: -1px -1px 0px rgba(0,0,0,0.4);
		color: #eff8ff;
	}

	#header_callout h1 {
		font-size: 42px;
		padding-top: 10px;
		font-family: "Motiva Sans Light", arial, tahoma, sans-serif;
	}

	#header_callout h2 {
		font-size: 20px;
		font-family: "Motiva Sans Regular", "Motiva Sans", arial, tahoma, sans-serif;
	}

		#header_callout h2 > span {
			font-size: 16px;
			font-family: "Motiva Sans Light", arial, tahoma, sans-serif;
		}

		#header_callout h2 > span > a {
			text-decoration: underline;
		}

	#header_callout:after {
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	#header_callout:after {
		border-color: rgba(63, 113, 158, 0);
		border-top-color: #396c9a;
		border-width: 10px;
		left: 75px;
		margin-left: -10px;
	}