.ProseMirror {
  position: relative;
}
.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
}
.ProseMirror pre {
  white-space: pre-wrap;
}
.ProseMirror li {
  position: relative;
}
.ProseMirror-hideselection *::selection {
  background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}
.ProseMirror-hideselection {
  caret-color: transparent;
}
.ProseMirror [draggable][contenteditable="false"] {
  user-select: text;
}
.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}
li.ProseMirror-selectednode {
  outline: none;
}
li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}
img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}
._1lo3nIamSX1TzzE4TlhFXA {
  position: fixed;
  background: #ccc;
  color: #000;
  padding: 4px;
}
._1ds3uh7ntoekPm635F2Ziv {
  font-size: 12px;
}
._3Vn5X8bzPjWx5p545nkB6k {
  font-size: 10px;
  font-weight: italic;
}
._30v-6zb_axOypIUr5VRHE1 > .ProseMirror {
  padding: 12px;
}
p.pm_paragraph {
  min-height: 8px;
}
.LCeIT0gmFTY8fdfaVgk4j {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4px;
}
.LCeIT0gmFTY8fdfaVgk4j ._19z0fjj7o0n9vAjVjvYZNU {
  width: 12px;
}
.LCeIT0gmFTY8fdfaVgk4j ._2m1BBIp5Ewr1TI-BkqFGLM {
  flex: 1;
}
.LCeIT0gmFTY8fdfaVgk4j ._DialogInputContainer {
  padding-top: 8px;
  padding-bottom: 8px;
}
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN {
  margin-right: 4px;
  width: 30px;
  height: 30px;
}
.BasicUI button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN {
  padding: unset;
  margin-right: 4px;
  min-width: unset;
}
.BasicUI button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.gpfocus {
  color: #0e141b;
}
.BasicUI button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.gpfocus svg {
  fill: currentColor;
  stroke: currentColor;
  color: inherit;
}
.BasicUI button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.gpfocus svg path {
  stroke: currentColor;
}
.BasicUI button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.gpfocus svg line,
.BasicUI button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.gpfocus svg polygon {
  stroke: currentColor;
  fill: currentColor;
}
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button {
  width: 20px;
  height: 20px;
  padding-bottom: 4px;
  padding-left: 1px;
}
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton
  .SVGIcon_Button.SVGIcon_TextBold,
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton
  .SVGIcon_Button.SVGIcon_TextItalic,
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton
  .SVGIcon_Button.SVGIcon_TextUnderline,
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton
  .SVGIcon_Button.SVGIcon_TextStrikethrough {
  width: 18px;
  height: 18px;
}
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton
  .SVGIcon_Button.SVGIcon_SpellCheck {
  width: 20px;
  height: 20px;
  margin-left: 1px;
  margin-top: 1px;
}
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton
  .SVGIcon_Button.SVGIcon_TextUnderline {
  padding-bottom: 5px;
}
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN._1Iw5xoXQXfmRjgjWTKbm_G {
  background: #626c7f;
  color: #fff;
}
._2P-FBc3tZWGeeBFplDSb9g {
  position: relative;
  display: inline-block;
}
._2P-FBc3tZWGeeBFplDSb9g ._12t6JmDCFT6MqtNVrSi5NJ {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
._2P-FBc3tZWGeeBFplDSb9g img._2HezQYTfmFfdRmuB8l9QPI {
  display: inline-block;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  max-width: 100%;
}
._1WRaNQqBKcUp67ntgoyEeQ {
  position: relative;
}
._1WRaNQqBKcUp67ntgoyEeQ .I2CE9X_I0GBNYbJf7VYBg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: #ccc;
  text-shadow: 2px 2px 4px #000;
  pointer-events: none;
}
._1TEbObXeFqUF-IRZKx0Qg5 {
  position: relative;
  display: inline-block;
}
._1TEbObXeFqUF-IRZKx0Qg5 ._1O2yIhwy4xQA69icI2lXEH {
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
  min-width: fit-content;
  opacity: 1;
  transition: opacity .25s;
  display: flex;
  flex-direction: row-reverse;
  z-index: 1;
}
._1TEbObXeFqUF-IRZKx0Qg5:not(._3wRq55uuel7mw7DG3Vys63)
  ._1O2yIhwy4xQA69icI2lXEH {
  opacity: 0;
  pointer-events: none;
}
.f2X3toOiE6SBBj8gkgwsN {
  position: relative;
  display: inline-block;
}
.f2X3toOiE6SBBj8gkgwsN._1s7z9aW7wZunEhIaxF8Q_y .ZBNgQGP99gSH15SNAtiFt {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 255, 0.25);
  z-index: 1;
}
.f2X3toOiE6SBBj8gkgwsN .b_y0GZtdiVsG1Qi2QvVL_ {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 18px;
  z-index: 2;
}
._2898lC8lJ2Jih-o_aYzoaG ._1U35sXRoYsDiZXSTPbY1mk {
  color: red;
  font-weight: bold;
}
._3l7NrcIIw_fedlHdVwJMVE {
  position: relative;
  width: 30%;
}
._3PGiW8qQcZDfnK9rOz7sjY {
  position: absolute;
  right: 8px;
  top: 8px;
  opacity: 1;
  transition: opacity .25s;
  display: flex;
  flex-direction: row-reverse;
  z-index: 1;
}
._2tY4qnv8tygCT7s94cB4vX {
  position: relative;
}
