.nacWp0zfiXg_UWQW639_1 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 158px;
  background: #000;
}
.nacWp0zfiXg_UWQW639_1 ._2Xpw9--lhL-kpt-lUannE1,
.nacWp0zfiXg_UWQW639_1 ._3mTSEg2yzb9H5zdRPv3SAA {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 24px;
  line-height: 9px;
  font-size: 11px;
  margin-top: 2px;
}
.nacWp0zfiXg_UWQW639_1 .StoreSaleWidgetTitle {
  font-size: 16px;
  line-height: 20px;
  margin-top: 4px;
}
@media screen and (max-width: 620px) {
  .nacWp0zfiXg_UWQW639_1 {
    max-width: unset;
    flex-direction: row;
  }
}
.yvW2hgWZFqKjkjDbHrtPf {
  cursor: pointer;
  max-width: 155px;
  position: relative;
  box-sizing: border-box;
  padding: 5px;
}
._1zSsmz7ESvggIV3mlgPyyv {
  cursor: pointer;
  width: 100%;
  display: block;
}
._2ZkfUmESIrnc0pJNmdiFW4 {
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 16px);
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, black 16px);
  padding-bottom: 8px;
  overflow: hidden;
  flex: 1;
  letter-spacing: 0px;
  line-height: 13px;
  font-size: 11px;
}
@media screen and (max-width: 620px) {
  ._2ZkfUmESIrnc0pJNmdiFW4 {
    display: none;
  }
}
