._1qNsZzOZwNCYm1GS9pqnZE {
  margin-top: 8vw;
}
._1qNsZzOZwNCYm1GS9pqnZE ._1_8oyHdewqai4JuEIh11wy {
  width: 100%;
  height: auto;
  max-height: 197px;
  position: relative;
  overflow: hidden;
}
._2ioeML9G6BTyA11zRYPJiO {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 910px) {
  ._2ioeML9G6BTyA11zRYPJiO {
    min-width: 320px;
    scroll-snap-align: start;
  }
}
.BasicUI ._2ioeML9G6BTyA11zRYPJiO {
  min-width: unset;
  scroll-snap-align: unset;
}
.center_row_trgt.ItemCount_1 ._2ioeML9G6BTyA11zRYPJiO {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .center_row_trgt.ItemCount_1 ._2ioeML9G6BTyA11zRYPJiO {
    width: 100%;
  }
}
._17gGs3rUyGwRkz8uPik0rB {
  display: block;
  height: auto;
  margin-bottom: 8px;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-width: 200px;
  min-height: 210px;
  background-image: radial-gradient(ellipse at top left, #42454c, #25282e);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
._17gGs3rUyGwRkz8uPik0rB:not(:last-child) {
  margin-right: 8px;
}
._17gGs3rUyGwRkz8uPik0rB:hover ._3xf4AU1wEY5nIzAOdOnSsj {
  transform: scale(1.1);
}
.BasicUI ._17gGs3rUyGwRkz8uPik0rB {
  margin: unset;
  border-radius: unset;
  box-shadow: var(--gpShadow-Medium);
  min-width: var(--gpWidth-3colcap);
}
.SaleSectionCarouselPadding ._17gGs3rUyGwRkz8uPik0rB {
  margin: 0px 8px 0px 8px;
}
@media screen and (max-width: 910px) {
  .SaleSectionCarouselPadding ._17gGs3rUyGwRkz8uPik0rB {
    margin: 0px 16px 0px 0px;
  }
}
.BasicUI .SaleSectionCarouselPadding ._17gGs3rUyGwRkz8uPik0rB {
  margin: unset;
}
._3rp-lFmelffTONjJ-ldqgL {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  opacity: 0.4;
  filter: blur(10px);
}
.BasicUI ._3rp-lFmelffTONjJ-ldqgL {
  filter: unset;
}
._3rp-lFmelffTONjJ-ldqgL::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}
.BasicUI ._3rp-lFmelffTONjJ-ldqgL::after {
  backdrop-filter: blur(32px);
}
._3QaFWiKl_XbnEBVEhdfeLt {
  display: flex;
  flex-direction: column;
  height: 100%;
}
._1_8oyHdewqai4JuEIh11wy {
  width: 100%;
  max-height: 171px;
  height: auto;
  position: relative;
  overflow: hidden;
}
._3xf4AU1wEY5nIzAOdOnSsj {
  width: 100%;
  height: auto;
  position: relative;
  left: 0px;
  transition: transform 0.4s ease-out;
  top: 0px;
  display: block;
}
._2AVL1OmApcsfoOPFx8QThT {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  height: 61px;
  padding: 12px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
.BasicUI ._2AVL1OmApcsfoOPFx8QThT {
  padding: 12px 16px;
  padding-bottom: 48px;
}
._2AVL1OmApcsfoOPFx8QThT._2AVL1OmApcsfoOPFx8QThT {
  box-sizing: content-box;
}
._3ZuflpGGSeJvmjZJIQx5e0 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  max-height: 39px;
  margin-bottom: 4px;
  overflow: hidden;
}
.items_in_row_4 ._3ZuflpGGSeJvmjZJIQx5e0 {
  line-height: 16px;
  max-height: 32px;
}
._--lM7hJVkwcISdQAWy1fy {
  color: #07bfff;
}
._2UUNjtLra_-qqwuU_ktz94 {
  font-size: 13px;
  max-height: 30px;
  overflow: hidden;
}
.items_in_row_4 ._2UUNjtLra_-qqwuU_ktz94 {
  display: none;
}
@media screen and (max-width: 900px) {
  ._2UUNjtLra_-qqwuU_ktz94 {
    display: none;
  }
}
._34Nxj-HIVRgOjpEoZXrtFD:hover ._3xf4AU1wEY5nIzAOdOnSsj,
._34Nxj-HIVRgOjpEoZXrtFD:hover ._2bZBnkMp0OljJLD36Un9Rs {
  transform: scale(0.98);
  filter: blur(3px) brightness(0.7);
  z-index: 0;
}
._34Nxj-HIVRgOjpEoZXrtFD:hover ._3PdWgzJe3GHkyxSZIwO-s9 {
  background-color: rgba(21, 22, 25, 0.7);
}
._34Nxj-HIVRgOjpEoZXrtFD:hover ._3PdWgzJe3GHkyxSZIwO-s9 .h5tE8wA0PgU4nQ14CqEFH {
  filter: blur(0);
  transform: scale(1);
  color: #fff;
}
._34Nxj-HIVRgOjpEoZXrtFD:hover
  ._3PdWgzJe3GHkyxSZIwO-s9
  ._1Fp_lXtrNwSdYbJzuWW4Lj {
  filter: blur(0);
  color: #289cff;
  transform: scale(1);
}
._3PdWgzJe3GHkyxSZIwO-s9 {
  position: absolute;
  top: 0;
  background-color: rgba(21, 22, 25, 0);
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 0.24s ease-in-out;
}
.h5tE8wA0PgU4nQ14CqEFH {
  margin: 10px 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0);
  line-height: 20px;
  font-weight: 300;
  overflow: hidden;
  filter: blur(5px);
  user-select: none;
  text-rendering: optimizeSpeed;
  transform: scale(1);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition:
    filter 0.24s ease-in-out,
    transform 0.24s ease-in-out,
    color 0.24s ease-in-out;
}
.items_in_row_4 .h5tE8wA0PgU4nQ14CqEFH {
  line-height: 16px;
}
._1Fp_lXtrNwSdYbJzuWW4Lj {
  margin: 20px 20px 0 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(40, 156, 255, 0);
  overflow: hidden;
  filter: blur(5px);
  user-select: none;
  text-rendering: optimizeSpeed;
  transform: scale(1);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition:
    filter 0.24s ease-in-out,
    transform 0.24s ease-in-out,
    color 0.24s ease-in-out;
}
._17gGs3rUyGwRkz8uPik0rB._1RS0bEbL5I8O-TAKKNlrd2 {
  display: flex;
  background: radial-gradient(
    100% 80% at 64% 95%,
    rgba(107, 115, 127, 0.3) 0%,
    rgba(62, 70, 80, 0.5) 20%,
    rgba(36, 40, 47, 0.5) 100%
  );
  min-height: auto;
}
._17gGs3rUyGwRkz8uPik0rB._1RS0bEbL5I8O-TAKKNlrd2 ._2AVL1OmApcsfoOPFx8QThT {
  margin-left: 8px;
}
._17gGs3rUyGwRkz8uPik0rB._1RS0bEbL5I8O-TAKKNlrd2 ._1_8oyHdewqai4JuEIh11wy {
  max-height: 167px;
  max-width: 358px;
}
._17gGs3rUyGwRkz8uPik0rB._1RS0bEbL5I8O-TAKKNlrd2 ._3_1QoQ3NWvsgyUYgk21yEo {
  color: #929799;
  font-size: 13px;
  position: relative;
  padding-top: 4px;
  max-width: 600px;
  max-height: 38px;
  overflow: hidden;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
._17gGs3rUyGwRkz8uPik0rB._1RS0bEbL5I8O-TAKKNlrd2 ._1m9zET7Fmfr8h2A1YssRN0 {
  font-size: 18px;
  font-weight: 300;
  color: #ccc;
  line-height: 20px;
}
._17gGs3rUyGwRkz8uPik0rB._1RS0bEbL5I8O-TAKKNlrd2 ._2s9cBSqOYZUBg096zdH0Ck {
  flex-direction: row;
}
._17gGs3rUyGwRkz8uPik0rB._1RS0bEbL5I8O-TAKKNlrd2 .Dc9KCKnzyOidFrl_me_hi {
  text-transform: uppercase;
  color: rgba(40, 156, 255, 0.8);
  font-size: 12px;
  display: initial;
  margin-right: 4px;
}
._2vo-l83xvmTcw5MrKYG_fF._2vo-l83xvmTcw5MrKYG_fF._2vo-l83xvmTcw5MrKYG_fF {
  width: 120px;
  box-shadow: 2px 2px 10px #000;
}
.BasicUI
  ._2vo-l83xvmTcw5MrKYG_fF._2vo-l83xvmTcw5MrKYG_fF._2vo-l83xvmTcw5MrKYG_fF {
  box-shadow: var(--gpShadow-Medium);
}
._1kYhaueKYB851hCFLTlB_X {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -10px;
  left: 10px;
  width: calc(100% - 20px);
}
.BasicUI ._1kYhaueKYB851hCFLTlB_X {
  top: 8px;
  left: 0px;
  width: unset;
  justify-content: unset;
  column-gap: 12px;
}
.rcwMfB3Hsb-m7NClNj-TD {
  flex-shrink: 0;
  margin-right: -2px;
  z-index: 1;
}
.BasicUI .rcwMfB3Hsb-m7NClNj-TD {
  margin-right: unset;
}
.BasicUI .rcwMfB3Hsb-m7NClNj-TD a {
  display: flex;
}
.Jq75m8cExMwOQIjp-8NfC {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  flex-shrink: 1;
}
.BasicUI .Jq75m8cExMwOQIjp-8NfC {
  background: unset;
  flex-direction: row;
  column-gap: 4px;
}
.Jq75m8cExMwOQIjp-8NfC span {
  font-size: 12px;
  line-height: 17px;
  padding: 0px 8px;
  box-sizing: border-box;
  width: 100%;
}
.BasicUI .Jq75m8cExMwOQIjp-8NfC span {
  font-size: unset;
  line-height: unset;
}
.Jq75m8cExMwOQIjp-8NfC span:first-child {
  padding-top: 2px;
  padding-bottom: 2px;
}
.BasicUI .Jq75m8cExMwOQIjp-8NfC span:first-child {
  padding-top: unset;
}
.Jq75m8cExMwOQIjp-8NfC span:last-child {
  padding-bottom: 2px;
  padding-top: 2px;
}
.BasicUI .Jq75m8cExMwOQIjp-8NfC span:last-child {
  padding-bottom: unset;
}
._3Ac4zk8HfCBpJcfDHwJwfg {
  padding-bottom: 10px;
}
._2vrXB5mprkP7EUv5iR8us3 {
  font-weight: bolder;
}
._35ozIX3OQwwAVHZP2bRufO {
  flex-grow: 2;
  flex-basis: 0;
  margin-right: 16px;
  padding: 16px;
  background-image: radial-gradient(ellipse at top left, #42454c, #25282e);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  max-width: 800px;
}
._3IVNUsV5MmxvVS3iAXgvah {
  display: flex;
  flex-direction: column;
}
._3T2XhjHO-dGHFcW8wuOjPy {
  position: relative;
  min-height: 540px;
}
._1YtbIC-J77gSgwSKsT5fi6 {
  width: 100vh;
}
._3NMuAFkwI2iBEQ0Xc65_vU {
  display: flex;
  flex-direction: column;
  margin: 24px;
  color: #969fab;
}
._3NMuAFkwI2iBEQ0Xc65_vU ._2gpZbx7qR5ehVb4ZyjSePO {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 6px;
}
._3NMuAFkwI2iBEQ0Xc65_vU ._2hXPK8xeIJv-TaWiO-axvZ {
  flex-direction: row;
  border: 1px solid #343842;
  padding: 6px;
}
._3NMuAFkwI2iBEQ0Xc65_vU ._2hXPK8xeIJv-TaWiO-axvZ ._1zp3YgxRk_19JEyx47Y3i0 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
._3NMuAFkwI2iBEQ0Xc65_vU
  ._2hXPK8xeIJv-TaWiO-axvZ
  ._1zp3YgxRk_19JEyx47Y3i0
  > div {
  width: 30%;
  flex-grow: 1;
  margin-right: 8px;
}
._3NMuAFkwI2iBEQ0Xc65_vU
  ._2hXPK8xeIJv-TaWiO-axvZ
  ._1zp3YgxRk_19JEyx47Y3i0
  > button {
  width: fit-content;
  height: fit-content;
  padding: 6px 20px;
}
._3NMuAFkwI2iBEQ0Xc65_vU ._3swF91W-Cz8khVEz54YOq_ {
  display: flex;
  flex-direction: row;
  align-items: center;
}
._3NMuAFkwI2iBEQ0Xc65_vU ._3swF91W-Cz8khVEz54YOq_ > button {
  width: fit-content;
  padding: 0px 12px;
}
@media screen and (max-width: 600px) {
  ._3NMuAFkwI2iBEQ0Xc65_vU ._2hXPK8xeIJv-TaWiO-axvZ ._1zp3YgxRk_19JEyx47Y3i0 {
    flex-direction: column;
  }
  ._3NMuAFkwI2iBEQ0Xc65_vU
    ._2hXPK8xeIJv-TaWiO-axvZ
    ._1zp3YgxRk_19JEyx47Y3i0
    > div {
    width: 100%;
  }
}
._4stlZwCqqseNCH-QLOQER {
  margin: 60px 24px 0 24px;
  max-width: 1000px;
}
._4stlZwCqqseNCH-QLOQER ._3LaZv8YHg2VjZ_HhcZ7bpk {
  padding-top: 44px;
}
._4stlZwCqqseNCH-QLOQER ._3LaZv8YHg2VjZ_HhcZ7bpk .StoreSaleWidgetShortDesc {
  font-size: 14px;
  color: #969fab;
}
._4stlZwCqqseNCH-QLOQER ._3CMlOE34UtaORvJyHk5EGa {
  display: flex;
  flex-direction: row;
}
._4stlZwCqqseNCH-QLOQER ._2RJzuglNdpYTXg51KXQnOn {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  color: #969fab;
}
._2RjLr7PFg6CZiul6cV6z_I {
  max-width: 1000px;
  margin: 20px 0;
  padding: 0 24px;
}
._2RjLr7PFg6CZiul6cV6z_I .EventSectionTitle {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 200;
  color: #969fab;
}
.FKW0z5NevNCuD5xXlFgY5 {
  margin: 0px 24px;
}
._1YGAHSfGavQI6MODJq-pJB {
  height: 36px;
  width: 36px;
  display: flex;
  margin: 0px 0px;
  transform: scale(0.86, 0.86) translateX(0px);
  transition-property: transform;
  transition-duration: 0.34s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.19, 2.28);
  flex-direction: row;
  flex-shrink: 0;
}
._1YGAHSfGavQI6MODJq-pJB.X-Small {
  height: 28px;
  width: 28px;
}
._1YGAHSfGavQI6MODJq-pJB.Medium {
  height: 36px;
  width: 36px;
}
._1YGAHSfGavQI6MODJq-pJB.MediumLarge {
  height: 48px;
  width: 48px;
}
._1YGAHSfGavQI6MODJq-pJB.Large {
  height: 84px;
  width: 84px;
}
._1YGAHSfGavQI6MODJq-pJB.X-Large {
  height: 92px;
  width: 92px;
}
._1YGAHSfGavQI6MODJq-pJB.FillArea {
  height: 100%;
  width: 100%;
}
.ChatSpeaker.ChatRoomSpeaker ._1YGAHSfGavQI6MODJq-pJB {
  transform: scale(1, 1) translateX(0px);
}
._1YGAHSfGavQI6MODJq-pJB ._1yIzy56YfJIliF6ykwhP2r.right,
._1YGAHSfGavQI6MODJq-pJB ._1yIzy56YfJIliF6ykwhP2r.bottom {
  display: block !important;
}
.ingame ._1yIzy56YfJIliF6ykwhP2r {
  background: linear-gradient(
    to bottom,
    #8cd61d 0%,
    #a1f410 30%,
    #a1f410 70%,
    #8cd61d 100%
  );
}
.ingame ._1yIzy56YfJIliF6ykwhP2r.GamepadMode,
.GamepadMode .ingame ._1yIzy56YfJIliF6ykwhP2r {
  background: #59bf40;
}
.offline ._1yIzy56YfJIliF6ykwhP2r.GamepadMode,
.GamepadMode .offline ._1yIzy56YfJIliF6ykwhP2r {
  background: #67707b;
}
.ingame .X-Large ._1yIzy56YfJIliF6ykwhP2r {
  background: #bff02b;
}
.watchingbroadcast ._1yIzy56YfJIliF6ykwhP2r {
  background: linear-gradient(
    to bottom,
    #9c8fd4 0%,
    #9c8fd4 30%,
    #9c8fd4 70%,
    #9c8fd4 100%
  );
}
.online ._1yIzy56YfJIliF6ykwhP2r {
  background: linear-gradient(
    to bottom,
    #6dcff6 0%,
    #6dcff6 30%,
    #6dcff6 70%,
    #6dcff6 100%
  );
}
.online ._1yIzy56YfJIliF6ykwhP2r.GamepadMode,
.GamepadMode .online ._1yIzy56YfJIliF6ykwhP2r {
  background: #4cb4ff;
}
.awayOrSnooze ._1yIzy56YfJIliF6ykwhP2r {
  -webkit-mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-y;
  -webkit-mask-size: 5px 5px;
  mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-y;
  mask-size: 5px 5px;
  opacity: 0.75;
}
.awayOrSnooze ._1yIzy56YfJIliF6ykwhP2r.GamepadMode,
.GamepadMode .awayOrSnooze ._1yIzy56YfJIliF6ykwhP2r {
  opacity: 1;
}
._1yIzy56YfJIliF6ykwhP2r.right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2px;
}
._1yIzy56YfJIliF6ykwhP2r.right.GamepadMode,
.GamepadMode ._1yIzy56YfJIliF6ykwhP2r.right {
  width: 3px;
  right: -3px;
}
._1yIzy56YfJIliF6ykwhP2r.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
}
._1yIzy56YfJIliF6ykwhP2r.bottom.GamepadMode,
.GamepadMode ._1yIzy56YfJIliF6ykwhP2r.bottom {
  height: 3px;
  bottom: -3px;
}
.awayOrSnooze ._1yIzy56YfJIliF6ykwhP2r.bottom {
  -webkit-mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-x;
  mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-x;
}
.awayOrSnooze .X-Large ._1yIzy56YfJIliF6ykwhP2r.bottom {
  mask-size: 6px 6px;
  opacity: 1;
}
._1p_QrI3ixF-RAwnxad9pEm {
  border: 1px solid #383c43;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.3);
  transition: filter 0.24s ease-in-out;
}
._1p_QrI3ixF-RAwnxad9pEm.GamepadMode,
.GamepadMode ._1p_QrI3ixF-RAwnxad9pEm {
  border: 0px solid transparent;
  height: 100%;
  width: 100%;
}
._3atbNcPD1_nRVTjOvryjWe {
  position: absolute;
  top: 0;
}
._3atbNcPD1_nRVTjOvryjWe ._338kJp62vHY5iDbsraaiKD {
  width: 100%;
  height: 100%;
}
._1YGAHSfGavQI6MODJq-pJB ._3atbNcPD1_nRVTjOvryjWe {
  transform: scale(1.2);
}
._3n3n08bcnphB_5qaSwJDyQ {
  display: flex;
  flex-direction: row;
  align-items: center;
}
._3PljhCwFW7qZ0qu22k7frk {
  margin-left: 6px;
}
._qonROBlfDEqgHmEnTXf3 {
  display: flex;
  flex-direction: row;
  margin: 24px 24px 12px 24px;
}
._qonROBlfDEqgHmEnTXf3 .Qo4I3mYF0bFBK2epQsXG2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}
._qonROBlfDEqgHmEnTXf3 .Qo4I3mYF0bFBK2epQsXG2 .XQo2J9u8ebB9kBJWDwPNW {
  display: flex;
  flex-direction: row;
  align-items: center;
}
._qonROBlfDEqgHmEnTXf3 ._1R6Q5E3iChq6o6-dvC9wVB {
  font-size: 21px;
  font-weight: 200;
  color: #969fab;
}
._11FAt4TX08YfslIrMg2DVM {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 8px;
}
._2skQ1ea4HbEWoM-0eRZQJ2 {
  font-size: 14px;
  margin: 2px 0px 0px 16px;
  padding-left: 28px;
  height: 22px;
  pointer-events: none;
  background-image: url("https://community.cloudflare.steamstatic.com/public/images/broadcast/icon_viewers.png");
  background-repeat: no-repeat;
  background-position: left center;
  text-decoration: none;
  color: #969fab;
}
._1MeMBOgHJbg6D0H83lpxWS {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
._1MeMBOgHJbg6D0H83lpxWS > button {
  width: fit-content;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 4px;
}
._1oJMxM2S4G0iIY4g7hHqVh img {
  width: 200px;
}
@media screen and (max-width: 910px) {
  ._1oJMxM2S4G0iIY4g7hHqVh {
    display: none;
  }
  ._11FAt4TX08YfslIrMg2DVM {
    margin-left: 0px;
  }
}
._3KL0bXxikaWzpb1AY27eH0 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 24px;
  padding: 4px;
  align-items: center;
}
._3KL0bXxikaWzpb1AY27eH0 > button {
  width: fit-content;
  padding: 0px 8px;
  white-space: nowrap;
  margin-left: 4px;
}
