.eventrow_OtherEventsCtn_1qNsZ {
  margin-top: 8vw;
}
.eventrow_OtherEventsCtn_1qNsZ .eventrow_OtherEvents_MainImageCtn_1_8oy {
  width: 100%;
  height: auto;
  max-height: 197px;
  position: relative;
  overflow: hidden;
}
.eventrow_OtherEvents_2ioeM {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 910px) {
  .eventrow_OtherEvents_2ioeM {
    min-width: 320px;
    scroll-snap-align: start;
  }
}
.BasicUI .eventrow_OtherEvents_2ioeM {
  min-width: unset;
  scroll-snap-align: unset;
}
.center_row_trgt.ItemCount_1 .eventrow_OtherEvents_2ioeM {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .center_row_trgt.ItemCount_1 .eventrow_OtherEvents_2ioeM {
    width: 100%;
  }
}
.eventrow_OtherEvents_EventCtn_17gGs {
  display: block;
  height: auto;
  margin-bottom: 8px;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-width: 200px;
  background-image: radial-gradient(ellipse at top left, #42454c, #25282e);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
.eventrow_OtherEvents_EventCtn_17gGs:not(:last-child) {
  margin-right: 8px;
}
.eventrow_OtherEvents_EventCtn_17gGs:hover
  .eventrow_OtherEvents_MainImage_3xf4A {
  transform: scale(1.1);
}
.BasicUI .eventrow_OtherEvents_EventCtn_17gGs {
  margin: unset;
  border-radius: unset;
  box-shadow: var(--gpShadow-Medium);
  min-width: var(--gpWidth-3colcap);
}
.SaleSectionCarouselPadding .eventrow_OtherEvents_EventCtn_17gGs {
  margin: 0px 8px 0px 8px;
}
@media screen and (max-width: 910px) {
  .SaleSectionCarouselPadding .eventrow_OtherEvents_EventCtn_17gGs {
    margin: 0px 16px 0px 0px;
  }
}
.BasicUI .SaleSectionCarouselPadding .eventrow_OtherEvents_EventCtn_17gGs {
  margin: unset;
}
.eventrow_OtherEvents_BGImage_3rp-l {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  opacity: 0.4;
  filter: blur(10px);
}
.BasicUI .eventrow_OtherEvents_BGImage_3rp-l {
  filter: unset;
}
.eventrow_OtherEvents_BGImage_3rp-l::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}
.BasicUI .eventrow_OtherEvents_BGImage_3rp-l::after {
  backdrop-filter: blur(32px);
}
.eventrow_OtherEvents_ContentCtn_3QaFW {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.eventrow_OtherEvents_MainImageCtn_1_8oy {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.eventrow_OtherEvents_MainImage_3xf4A {
  width: 100%;
  height: auto;
  position: relative;
  left: 0px;
  transition: transform 0.4s ease-out;
  top: 0px;
  display: block;
}
.eventrow_OtherEvents_TextCtn_2AVL1 {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  height: 61px;
  padding: 12px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
.BasicUI .eventrow_OtherEvents_TextCtn_2AVL1 {
  padding: 12px 16px;
  padding-bottom: 48px;
}
.eventrow_OtherEvents_TextCtn_2AVL1.eventrow_OtherEvents_TextCtn_2AVL1 {
  box-sizing: content-box;
}
.eventrow_OtherEvents_TextTitle_3Zufl {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  max-height: 39px;
  margin-bottom: 4px;
  overflow: hidden;
}
.items_in_row_4 .eventrow_OtherEvents_TextTitle_3Zufl {
  line-height: 16px;
  max-height: 32px;
}
.eventrow_UpcomingCtn_--lM7 {
  color: #07bfff;
}
.eventrow_OtherEvents_SubTitle_2UUNj {
  font-size: 13px;
  max-height: 30px;
  overflow: hidden;
}
.items_in_row_4 .eventrow_OtherEvents_SubTitle_2UUNj {
  display: none;
}
@media screen and (max-width: 900px) {
  .eventrow_OtherEvents_SubTitle_2UUNj {
    display: none;
  }
}
.eventrow_HoversEnabled_34Nxj:hover .eventrow_OtherEvents_MainImage_3xf4A,
.eventrow_HoversEnabled_34Nxj:hover
  .eventrow_PartnerEventRowCapsule_MainImage_2bZBn {
  transform: scale(0.98);
  filter: blur(3px) brightness(0.7);
  z-index: 0;
}
.eventrow_HoversEnabled_34Nxj:hover .eventrow_EventSummaryContainer_3PdWg {
  background-color: rgba(21, 22, 25, 0.7);
}
.eventrow_HoversEnabled_34Nxj:hover
  .eventrow_EventSummaryContainer_3PdWg
  .eventrow_EventSummaryText_h5tE8 {
  filter: blur(0);
  transform: scale(1);
  color: #fff;
}
.eventrow_HoversEnabled_34Nxj:hover
  .eventrow_EventSummaryContainer_3PdWg
  .eventrow_EventSummaryType_1Fp_l {
  filter: blur(0);
  color: #289cff;
  transform: scale(1);
}
.eventrow_EventSummaryContainer_3PdWg {
  position: absolute;
  top: 0;
  background-color: rgba(21, 22, 25, 0);
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 0.24s ease-in-out;
}
.eventrow_EventSummaryText_h5tE8 {
  margin: 10px 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0);
  line-height: 20px;
  font-weight: 300;
  overflow: hidden;
  filter: blur(5px);
  user-select: none;
  text-rendering: optimizeSpeed;
  transform: scale(1);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition:
    filter 0.24s ease-in-out,
    transform 0.24s ease-in-out,
    color 0.24s ease-in-out;
}
.items_in_row_4 .eventrow_EventSummaryText_h5tE8 {
  line-height: 16px;
}
.eventrow_EventSummaryType_1Fp_l {
  margin: 20px 20px 0 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(40, 156, 255, 0);
  overflow: hidden;
  filter: blur(5px);
  user-select: none;
  text-rendering: optimizeSpeed;
  transform: scale(1);
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition:
    filter 0.24s ease-in-out,
    transform 0.24s ease-in-out,
    color 0.24s ease-in-out;
}
.eventrow_OtherEvents_EventCtn_17gGs.eventrow_HorizontalEvent_1RS0b {
  display: flex;
  background: radial-gradient(
    100% 80% at 64% 95%,
    rgba(107, 115, 127, 0.3) 0%,
    rgba(62, 70, 80, 0.5) 20%,
    rgba(36, 40, 47, 0.5) 100%
  );
}
.eventrow_OtherEvents_EventCtn_17gGs.eventrow_HorizontalEvent_1RS0b
  .eventrow_OtherEvents_TextCtn_2AVL1 {
  margin-left: 8px;
}
.eventrow_OtherEvents_EventCtn_17gGs.eventrow_HorizontalEvent_1RS0b
  .eventrow_OtherEvents_MainImageCtn_1_8oy {
  max-height: 167px;
  max-width: 358px;
}
.eventrow_OtherEvents_EventCtn_17gGs.eventrow_HorizontalEvent_1RS0b
  .eventrow_HorizontalSummary_3_1Qo {
  color: #929799;
  font-size: 13px;
  position: relative;
  padding-top: 4px;
  max-width: 600px;
  max-height: 38px;
  overflow: hidden;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.eventrow_OtherEvents_EventCtn_17gGs.eventrow_HorizontalEvent_1RS0b
  .eventrow_HorizontalTitle_1m9zE {
  font-size: 18px;
  font-weight: 300;
  color: #ccc;
  line-height: 20px;
}
.eventrow_OtherEvents_EventCtn_17gGs.eventrow_HorizontalEvent_1RS0b
  .eventrow_HorizontalDescriptionCtn_2s9cB {
  flex-direction: row;
}
.eventrow_OtherEvents_EventCtn_17gGs.eventrow_HorizontalEvent_1RS0b
  .eventrow_HorizontalDescription_Dc9KC {
  text-transform: uppercase;
  color: rgba(40, 156, 255, 0.8);
  font-size: 12px;
  display: initial;
  margin-right: 4px;
}
.eventrow_AppCapsuleImage_2vo-l.eventrow_AppCapsuleImage_2vo-l.eventrow_AppCapsuleImage_2vo-l {
  width: 120px;
  box-shadow: 2px 2px 10px #000;
}
.BasicUI
  .eventrow_AppCapsuleImage_2vo-l.eventrow_AppCapsuleImage_2vo-l.eventrow_AppCapsuleImage_2vo-l {
  box-shadow: var(--gpShadow-Medium);
}
.eventrow_AppCapsuleCtn_1kYha {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -10px;
  left: 10px;
  width: calc(100% - 20px);
}
.BasicUI .eventrow_AppCapsuleCtn_1kYha {
  top: 10px;
  left: 0px;
  width: unset;
  justify-content: unset;
  column-gap: 12px;
}
.eventrow_AppCapsuleImageHover_rcwMf {
  flex-shrink: 0;
  margin-right: -2px;
  z-index: 1;
}
.BasicUI .eventrow_AppCapsuleImageHover_rcwMf {
  margin-right: unset;
}
.BasicUI .eventrow_AppCapsuleImageHover_rcwMf a {
  display: flex;
}
.eventrow_AppCapsulePrice_Jq75m {
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  flex-shrink: 1;
}
.BasicUI .eventrow_AppCapsulePrice_Jq75m {
  background: unset;
  flex-direction: row;
  column-gap: 4px;
}
.eventrow_AppCapsulePrice_Jq75m span {
  font-size: 12px;
  line-height: 17px;
  padding: 0px 8px;
  box-sizing: border-box;
  width: 100%;
}
.BasicUI .eventrow_AppCapsulePrice_Jq75m span {
  font-size: unset;
  line-height: unset;
}
.eventrow_AppCapsulePrice_Jq75m span:first-child {
  padding-top: 2px;
  padding-bottom: 2px;
}
.BasicUI .eventrow_AppCapsulePrice_Jq75m span:first-child {
  padding-top: unset;
}
.eventrow_AppCapsulePrice_Jq75m span:last-child {
  padding-bottom: 2px;
  padding-top: 2px;
}
.BasicUI .eventrow_AppCapsulePrice_Jq75m span:last-child {
  padding-bottom: unset;
}
.broadcastdebug_SubSection_3Ac4z {
  padding-bottom: 10px;
}
.broadcastdebug_Header_2vrXB {
  font-weight: bolder;
}
.broadcastdebug_AppSummaryWidgetCtn_35ozI {
  flex-grow: 2;
  flex-basis: 0;
  margin-right: 16px;
  padding: 16px;
  background-image: radial-gradient(ellipse at top left, #42454c, #25282e);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  max-width: 800px;
}
.broadcastplayer_BroadcastPage_3IVNU {
  display: flex;
  flex-direction: column;
}
.broadcastplayer_ChatAndVideoContainer_3T2Xh {
  position: relative;
  min-height: 540px;
}
.broadcastplayer_PlayerContainer_1YtbI {
  width: 100vh;
}
.broadcastplayer_ControlCtn_3NMuA {
  display: flex;
  flex-direction: column;
  margin: 24px;
  color: #969fab;
}
.broadcastplayer_ControlCtn_3NMuA .broadcastplayer_ControlsTitle_2gpZb {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 6px;
}
.broadcastplayer_ControlCtn_3NMuA .broadcastplayer_TitleInput_2hXPK {
  flex-direction: row;
  border: 1px solid #343842;
  padding: 6px;
}
.broadcastplayer_ControlCtn_3NMuA
  .broadcastplayer_TitleInput_2hXPK
  .broadcastplayer_Options_1zp3Y {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.broadcastplayer_ControlCtn_3NMuA
  .broadcastplayer_TitleInput_2hXPK
  .broadcastplayer_Options_1zp3Y
  > div {
  width: 30%;
  flex-grow: 1;
  margin-right: 8px;
}
.broadcastplayer_ControlCtn_3NMuA
  .broadcastplayer_TitleInput_2hXPK
  .broadcastplayer_Options_1zp3Y
  > button {
  width: fit-content;
  height: fit-content;
  padding: 6px 20px;
}
.broadcastplayer_ControlCtn_3NMuA .broadcastplayer_StopCtn_3swF9 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.broadcastplayer_ControlCtn_3NMuA .broadcastplayer_StopCtn_3swF9 > button {
  width: fit-content;
  padding: 0px 12px;
}
@media screen and (max-width: 600px) {
  .broadcastplayer_ControlCtn_3NMuA
    .broadcastplayer_TitleInput_2hXPK
    .broadcastplayer_Options_1zp3Y {
    flex-direction: column;
  }
  .broadcastplayer_ControlCtn_3NMuA
    .broadcastplayer_TitleInput_2hXPK
    .broadcastplayer_Options_1zp3Y
    > div {
    width: 100%;
  }
}
.broadcastplayer_GameInfoCtn_4stlZ {
  margin: 60px 24px 0 24px;
  max-width: 1000px;
}
.broadcastplayer_GameInfoCtn_4stlZ .broadcastplayer_GameInfo_3LaZv {
  padding-top: 44px;
}
.broadcastplayer_GameInfoCtn_4stlZ
  .broadcastplayer_GameInfo_3LaZv
  .StoreSaleWidgetShortDesc {
  font-size: 14px;
  color: #969fab;
}
.broadcastplayer_GameInfoCtn_4stlZ .broadcastplayer_GameAboutTitleCtn_3CMlO {
  display: flex;
  flex-direction: row;
}
.broadcastplayer_GameInfoCtn_4stlZ .broadcastplayer_GameAboutTitle_2RJzu {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  color: #969fab;
}
.broadcastplayer_RelatedEvents_2RjLr {
  max-width: 1000px;
  margin: 20px 0;
  padding: 0 24px;
}
.broadcastplayer_RelatedEvents_2RjLr .EventSectionTitle {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 200;
  color: #969fab;
}
.broadcastplayer_DebugCtn_FKW0z {
  margin: 0px 24px;
}
.steamavatar_avatarHolder_1YGAH {
  height: 36px;
  width: 36px;
  display: flex;
  margin: 0px 0px;
  transform: scale(0.86, 0.86) translateX(0px);
  transition-property: transform;
  transition-duration: 0.34s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.19, 2.28);
  flex-direction: row;
  flex-shrink: 0;
}
.steamavatar_avatarHolder_1YGAH.X-Small {
  height: 28px;
  width: 28px;
}
.steamavatar_avatarHolder_1YGAH.Medium {
  height: 36px;
  width: 36px;
}
.steamavatar_avatarHolder_1YGAH.MediumLarge {
  height: 48px;
  width: 48px;
}
.steamavatar_avatarHolder_1YGAH.Large {
  height: 84px;
  width: 84px;
}
.steamavatar_avatarHolder_1YGAH.X-Large {
  height: 92px;
  width: 92px;
}
.steamavatar_avatarHolder_1YGAH.FillArea {
  height: 100%;
  width: 100%;
}
.ChatSpeaker.ChatRoomSpeaker .steamavatar_avatarHolder_1YGAH {
  transform: scale(1, 1) translateX(0px);
}
.steamavatar_avatarHolder_1YGAH .steamavatar_avatarStatus_1yIzy.right,
.steamavatar_avatarHolder_1YGAH .steamavatar_avatarStatus_1yIzy.bottom {
  display: block !important;
}
.ingame .steamavatar_avatarStatus_1yIzy {
  background: linear-gradient(
    to bottom,
    rgb(140, 214, 29) 0%,
    rgb(161, 244, 16) 30%,
    rgb(161, 244, 16) 70%,
    rgb(140, 214, 29) 100%
  );
}
.ingame .steamavatar_avatarStatus_1yIzy.GamepadMode,
.GamepadMode .ingame .steamavatar_avatarStatus_1yIzy {
  background: #59bf40;
}
.offline .steamavatar_avatarStatus_1yIzy.GamepadMode,
.GamepadMode .offline .steamavatar_avatarStatus_1yIzy {
  background: #67707b;
}
.ingame .X-Large .steamavatar_avatarStatus_1yIzy {
  background: #bff02b;
}
.watchingbroadcast .steamavatar_avatarStatus_1yIzy {
  background: linear-gradient(
    to bottom,
    rgb(156, 143, 212) 0%,
    rgb(156, 143, 212) 30%,
    rgb(156, 143, 212) 70%,
    rgb(156, 143, 212) 100%
  );
}
.online .steamavatar_avatarStatus_1yIzy {
  background: linear-gradient(
    to bottom,
    rgb(109, 207, 246) 0%,
    rgb(109, 207, 246) 30%,
    rgb(109, 207, 246) 70%,
    rgb(109, 207, 246) 100%
  );
}
.online .steamavatar_avatarStatus_1yIzy.GamepadMode,
.GamepadMode .online .steamavatar_avatarStatus_1yIzy {
  background: #4cb4ff;
}
.awayOrSnooze .steamavatar_avatarStatus_1yIzy {
  -webkit-mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-y;
  -webkit-mask-size: 5px 5px;
  mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-y;
  mask-size: 5px 5px;
  opacity: 0.75;
}
.awayOrSnooze .steamavatar_avatarStatus_1yIzy.GamepadMode,
.GamepadMode .awayOrSnooze .steamavatar_avatarStatus_1yIzy {
  opacity: 1;
}
.steamavatar_avatarStatus_1yIzy.right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2px;
}
.steamavatar_avatarStatus_1yIzy.right.GamepadMode,
.GamepadMode .steamavatar_avatarStatus_1yIzy.right {
  width: 3px;
  right: -3px;
}
.steamavatar_avatarStatus_1yIzy.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
}
.steamavatar_avatarStatus_1yIzy.bottom.GamepadMode,
.GamepadMode .steamavatar_avatarStatus_1yIzy.bottom {
  height: 3px;
  bottom: -3px;
}
.awayOrSnooze .steamavatar_avatarStatus_1yIzy.bottom {
  -webkit-mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-x;
  mask: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAACXBIWXMAAAsSAAALEgHS3X78AAAAIUlEQVQI12P8/5+BgYGBgZGBgYGBiQEJoHAY/+OSQeEAAMCCAwlfJ3DmAAAAAElFTkSuQmCC")
    repeat-x;
}
.awayOrSnooze .X-Large .steamavatar_avatarStatus_1yIzy.bottom {
  mask-size: 6px 6px;
  opacity: 1;
}
.steamavatar_avatar_1p_Qr {
  border: 1px solid #383c43;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.3);
  transition: filter 0.24s ease-in-out;
}
.steamavatar_avatar_1p_Qr.GamepadMode,
.GamepadMode .steamavatar_avatar_1p_Qr {
  border: 0px solid rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
}
.steamavatar_avatarFrame_3atbN {
  position: absolute;
  top: 0;
}
.steamavatar_avatarFrame_3atbN .steamavatar_avatarFrameImg_338kJ {
  width: 100%;
  height: 100%;
}
.steamavatar_avatarHolder_1YGAH .steamavatar_avatarFrame_3atbN {
  transform: scale(1.2);
}
.communityavatar_AvatarCtn_3n3n0 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.communityavatar_NameAndProps_3Pljh {
  margin-left: 6px;
}
.broadcastprofile_ProfileCtn__qonR {
  display: flex;
  flex-direction: row;
  margin: 24px 24px 12px 24px;
}
.broadcastprofile_ProfileCtn__qonR .broadcastprofile_GameAndOptionsCtn_Qo4I3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}
.broadcastprofile_ProfileCtn__qonR
  .broadcastprofile_GameAndOptionsCtn_Qo4I3
  .broadcastprofile_GameAndViewersCtn_XQo2J {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.broadcastprofile_ProfileCtn__qonR .broadcastprofile_BroadcastTitleCtn_1R6Q5 {
  font-size: 21px;
  font-weight: 200;
  color: #969fab;
}
.broadcastprofile_StreamDetailsCtn_11FAt {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 8px;
}
.broadcastprofile_ViewerCount_2skQ1 {
  font-size: 14px;
  margin: 2px 0px 0px 16px;
  padding-left: 28px;
  height: 22px;
  pointer-events: none;
  background-image: url("https://community.cloudflare.steamstatic.com/public/images/broadcast/icon_viewers.png");
  background-repeat: no-repeat;
  background-position: left center;
  text-decoration: none;
  color: #969fab;
}
.broadcastprofile_BroadcastUserActionsCtn_1MeMB {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.broadcastprofile_BroadcastUserActionsCtn_1MeMB > button {
  width: fit-content;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 4px;
}
.broadcastprofile_GameCapsule_1oJMx img {
  width: 200px;
}
@media screen and (max-width: 910px) {
  .broadcastprofile_GameCapsule_1oJMx {
    display: none;
  }
  .broadcastprofile_StreamDetailsCtn_11FAt {
    margin-left: 0px;
  }
}
.broadcastsupport_AdminControls_3KL0b {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 24px;
  padding: 4px;
  align-items: center;
}
.broadcastsupport_AdminControls_3KL0b > button {
  width: fit-content;
  padding: 0px 8px;
  white-space: nowrap;
  margin-left: 4px;
}
