._1BWX4M92aix2fGQpo8Tef9 .BB_Header1,
._1BWX4M92aix2fGQpo8Tef9 .BB_Header2,
._1BWX4M92aix2fGQpo8Tef9 .BB_Header3,
._1BWX4M92aix2fGQpo8Tef9 .BB_Header4,
._1BWX4M92aix2fGQpo8Tef9 .BB_Header5 {
  margin-bottom: 8px;
}
.NWJUHKxCjy6Vt-eCIimPI {
  margin-bottom: 12px;
}
.NWJUHKxCjy6Vt-eCIimPI._1Er-4Hxpk4pCaLFH-pfsWw,
.NWJUHKxCjy6Vt-eCIimPI._2LRZHyh5oSKIVVSSbFEj-b,
.NWJUHKxCjy6Vt-eCIimPI._3G4C2HQXXHXqyz5TmBAYM3 {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
}
.NWJUHKxCjy6Vt-eCIimPI._1Er-4Hxpk4pCaLFH-pfsWw p,
.NWJUHKxCjy6Vt-eCIimPI._2LRZHyh5oSKIVVSSbFEj-b p,
.NWJUHKxCjy6Vt-eCIimPI._3G4C2HQXXHXqyz5TmBAYM3 p {
  padding: 0;
}
.NWJUHKxCjy6Vt-eCIimPI._1Er-4Hxpk4pCaLFH-pfsWw {
  border: 1px solid #5eac32;
}
.NWJUHKxCjy6Vt-eCIimPI._2LRZHyh5oSKIVVSSbFEj-b {
  border: 1px solid #8bb9e0;
}
.NWJUHKxCjy6Vt-eCIimPI._3G4C2HQXXHXqyz5TmBAYM3 {
  border: 1px solid #a40d36;
}
.NWJUHKxCjy6Vt-eCIimPI._3G4C2HQXXHXqyz5TmBAYM3 h1:first-child,
.NWJUHKxCjy6Vt-eCIimPI._3G4C2HQXXHXqyz5TmBAYM3 h2:first-child,
.NWJUHKxCjy6Vt-eCIimPI._3G4C2HQXXHXqyz5TmBAYM3 h3:first-child,
.NWJUHKxCjy6Vt-eCIimPI._3G4C2HQXXHXqyz5TmBAYM3 h4:first-child,
.NWJUHKxCjy6Vt-eCIimPI._3G4C2HQXXHXqyz5TmBAYM3 h5:first-child {
  color: #fff;
  font-weight: bold;
  margin: 0;
}
._1sKwBm5oDNIVb9z5t0QrRY {
  max-width: 100%;
}
.BB_Header4 {
  margin: 20px 0px 8px 0px;
  padding: 0 0 4px 0;
  font-family: "Motiva Sans", Arial, sans-serif;
  background: url("https://support.steampowered.com/images/v6/maincol_gradient_rule.png")
    no-repeat bottom left rgba(0, 0, 0, 0);
}
.BB_TableData {
  vertical-align: top;
}
.schinese .BB_Italic,
.sc_schinese .BB_Italic {
  font-style: normal;
  font-weight: bold;
}
.TQZnshq2Qsd3viDy4sJLF {
  padding: 20px;
  overflow: auto;
}
.TQZnshq2Qsd3viDy4sJLF .vr371b5v4qQyt77GOrmDG {
  color: #fff;
  font-size: 36px;
  text-align: center;
  padding-bottom: 20px;
}
.TQZnshq2Qsd3viDy4sJLF ._3LsT8l7RdLV1yIs0YWIOFx {
  padding: 8px;
  font-size: 20px;
}
.TQZnshq2Qsd3viDy4sJLF ._2KnD-XGr2tQZgxzgnyZLUA {
  display: flex;
  padding: 2px;
  height: 36px;
  width: 1400px;
}
.TQZnshq2Qsd3viDy4sJLF ._2KnD-XGr2tQZgxzgnyZLUA ._3amumi0E41Z5Xj7plFPL5- {
  width: 44px;
}
.TQZnshq2Qsd3viDy4sJLF ._2KnD-XGr2tQZgxzgnyZLUA .X44e5J8tbN7z5LRUsyZqG {
  width: 20px;
  padding: 0px 2px;
}
.TQZnshq2Qsd3viDy4sJLF
  ._2KnD-XGr2tQZgxzgnyZLUA
  .X44e5J8tbN7z5LRUsyZqG.x-9o9E7Oh_BVe8Tlmcnh4 {
  color: #a9a9a9;
}
.TQZnshq2Qsd3viDy4sJLF
  ._2KnD-XGr2tQZgxzgnyZLUA
  .X44e5J8tbN7z5LRUsyZqG._2Tj3ZfxIXBXW7dG_OuryHf {
  color: green;
}
.TQZnshq2Qsd3viDy4sJLF
  ._2KnD-XGr2tQZgxzgnyZLUA
  .X44e5J8tbN7z5LRUsyZqG.o09LcQ1ceI25xuOxL7PJh {
  color: orange;
}
.TQZnshq2Qsd3viDy4sJLF
  ._2KnD-XGr2tQZgxzgnyZLUA
  .X44e5J8tbN7z5LRUsyZqG._1jrHoUuI05tU-BtGagKqYq {
  color: red;
}
.TQZnshq2Qsd3viDy4sJLF
  ._2KnD-XGr2tQZgxzgnyZLUA
  .X44e5J8tbN7z5LRUsyZqG._2rvOLnQ6cCBtiqCkZUTFsT {
  color: purple;
}
.TQZnshq2Qsd3viDy4sJLF ._2KnD-XGr2tQZgxzgnyZLUA ._29eodc_GpDadGfM6pAPdXE {
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.TQZnshq2Qsd3viDy4sJLF ._2KnD-XGr2tQZgxzgnyZLUA ._24IpJtkIKUNnTx52K-LUdK {
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.TQZnshq2Qsd3viDy4sJLF ._2KnD-XGr2tQZgxzgnyZLUA ._3amumi0E41Z5Xj7plFPL5-,
.TQZnshq2Qsd3viDy4sJLF ._2KnD-XGr2tQZgxzgnyZLUA ._29eodc_GpDadGfM6pAPdXE,
.TQZnshq2Qsd3viDy4sJLF ._2KnD-XGr2tQZgxzgnyZLUA ._24IpJtkIKUNnTx52K-LUdK {
  padding: 4px;
  margin: 4px;
}
.TQZnshq2Qsd3viDy4sJLF ._2CwpZpTd8NeCUka4WwfT9l {
  padding: 4px 8px;
  margin: 4px;
  width: 90px;
  text-align: center;
  background-color: #a9a9a9;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}
.TQZnshq2Qsd3viDy4sJLF ._2CwpZpTd8NeCUka4WwfT9l:hover {
  background-color: gray;
}
._59oO6wefB3rQ2vFht_b50 {
  background: #24282e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}
.tIxuPSrF_izJyj_xSBAu {
  background-color: #2e3138;
  width: 100%;
  padding: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
._1fVLwDLknGBvNqXvbz5ieq {
  display: flex;
  justify-content: space-between;
}
._1fVLwDLknGBvNqXvbz5ieq ._14k5Nx2pbJlfrumOKYilwb {
  font-size: 24px;
  margin-right: 8px;
  text-transform: uppercase;
}
._1fVLwDLknGBvNqXvbz5ieq .MuQkNExZZvUGyooMU1W63 {
  display: flex;
}
._1fVLwDLknGBvNqXvbz5ieq .MuQkNExZZvUGyooMU1W63 button.DialogButton {
  padding: 6px 30px;
  box-sizing: border-box;
  margin-right: 24px;
  white-space: nowrap;
}
button._3VW3jphjSrFsWyh8CQ7qkl._3VW3jphjSrFsWyh8CQ7qkl {
  background-color: green;
  color: #fff;
  padding: 0 12px;
}
button._3VW3jphjSrFsWyh8CQ7qkl._3VW3jphjSrFsWyh8CQ7qkl:disabled,
button._3VW3jphjSrFsWyh8CQ7qkl._3VW3jphjSrFsWyh8CQ7qkl:disabled:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
._2053etsNH77sMt0UGZ7Gkf ._3qsK9sWwA8-5XRJijxOyAq {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 12px;
  padding: 8px;
  color: #909090;
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  box-shadow: 0 0 5px #000 inset;
}
._1MkpMd3IngFLh9Lj1YdVaZ {
  font-size: 32px;
  padding: 8px;
}
._1m9z-QOtKB83PPSMvFp2qj {
  display: flex;
  padding: 16px 0px 6px;
  font-size: 14px;
  text-transform: uppercase;
}
._29DifZl5OcFsMPwjVeSKul {
  padding: 3px 6px;
  font-size: 13px;
}
._29DifZl5OcFsMPwjVeSKul._1fuClf4BBhhdkGW2AiR9xz {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
._29DifZl5OcFsMPwjVeSKul._31hg_XZCfqD4KpN77UoWpB {
  width: 100px;
  justify-content: flex-end;
  text-align: right;
}
._1m9z-QOtKB83PPSMvFp2qj ._29DifZl5OcFsMPwjVeSKul {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
._1m9z-QOtKB83PPSMvFp2qj
  ._29DifZl5OcFsMPwjVeSKul._2dUdD5Bxvl5g7AXm74jlY-:hover {
  background-color: #4b5362;
  cursor: pointer;
}
._1m9z-QOtKB83PPSMvFp2qj ._29DifZl5OcFsMPwjVeSKul ._30b5IzshpNjcRcDjnbiHHV {
  display: none;
  height: 16px;
  width: 16px;
  margin: 3px 6px;
}
._1m9z-QOtKB83PPSMvFp2qj ._29DifZl5OcFsMPwjVeSKul._3_SL2rzskqZJldo0NVDRPy {
  font-weight: 600;
}
._1m9z-QOtKB83PPSMvFp2qj
  ._29DifZl5OcFsMPwjVeSKul._3_SL2rzskqZJldo0NVDRPy
  ._30b5IzshpNjcRcDjnbiHHV {
  display: block;
}
._1kNWcaTgntfwrNOrNOdLEs {
  color: #b36f6f;
}
.pbhW7T1VOciPsM4805I5i {
  color: #47bfff;
}
._2sNUoEB66JUcm-Y3kKrdL8 {
  color: #889396;
}
.M3TAP-1MxenvBQsT-eXlR {
  color: #35b435;
}
.Q8C5pKiJQWiQxpeE9g5A0 {
  background-color: dimgray;
  padding: 2px 5px;
}
.kcPTyksATgiPUcmwAwGOe {
  margin: 4px 0px;
  padding: 12px;
  display: flex;
  background-color: #40454f;
  color: #d3d3d3;
  border-radius: 3px;
}
.kcPTyksATgiPUcmwAwGOe:hover {
  color: #d3d3d3;
  background-color: #4b5362;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
._1sL5ykMb1b1-WfHxwf8L1K {
  font-size: 18px;
  padding-left: 6px;
}
.RRbwyjtu6DDWq368gIMpp {
  width: 100%;
  height: 100%;
  color: #ebebeb;
}
._2LkAYVUsMXalhO677MqBVu {
  margin: 10px auto;
  max-width: 450px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
._2LkAYVUsMXalhO677MqBVu button {
  padding: 0px 20px;
}
._2LkAYVUsMXalhO677MqBVu .BnzCuGgCC4d99OApbmASf {
  margin: 10px auto;
}
._3JC9N1mzXnjQw04LjPcXJZ {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.vp5PFufZdDer7tZRg3jrX .DialogBodyText {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._1VzmzM94XEt-kbk5N0Xcwm {
  display: flex;
  padding: 14px 30px;
  font-size: 18px;
  font-weight: 700;
}
._3qgdWDwppIPmVUI3_-IoWg {
  overflow: auto;
}
._1I_jAq3MJfhGnx3-H9fkRc.DialogCheckbox_Container {
  padding: 0 0 10px 0;
  border-bottom: 1px solid dimgray;
}
._1llVI6GfKRzbQRSS7bS9sI.DialogCheckbox_Container {
  padding: 0;
}
._2S_PZcuwqHb1BUGrd6Xvnk {
  display: flex;
  font-size: 15px;
}
._13DIWnUBOf_d2HSzZWW_72 {
  width: 200px;
}
.hGncGWqE9kTLXhxQe4SJ2 {
  font-style: italic;
}
._1s2UZCHSCadxdeXsd6fbj6 {
  width: 600px;
  height: 8px;
  background: rgba(0, 0, 0, 0.5);
  margin: 12px 0;
}
._1s2UZCHSCadxdeXsd6fbj6 ._2q-TdYLM1Zgn9tPZ3_1wCx {
  background-color: #20aaeb;
  height: 100%;
  transition: width 0.4s ease-out;
}
._1MsSLkJk0mX4ITyxy8mpEJ,
._28hYlCdWipXh9xN8jgf8ZT {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
._28hYlCdWipXh9xN8jgf8ZT {
  width: 65%;
}
._2FKxIYwCCRBm_BH0BsKyem {
  padding: 12px 0;
}
._2FKxIYwCCRBm_BH0BsKyem ._1_icUC7cNPpNZvq_qgQ33D {
  font-weight: bold;
  padding-bottom: 8px;
}
._2FKxIYwCCRBm_BH0BsKyem ._3h1LkNfeVLc44BAuHSBudK {
  display: flex;
}
._2FKxIYwCCRBm_BH0BsKyem .MxoxU6nWqZvCxgOlJxTvE {
  width: 35%;
}
._8rlUGGeBnYbuZpSoMtPGY {
  color: #b36f6f;
}
.pZM2L30-1FOU9cbzqy1AQ {
  color: #9a7a3a;
}
._2QALaQ13bEoS_oLFjL1prx {
  background: #24282e;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: auto;
  grid-template-areas: "left main";
  min-height: 100vh;
}
._2QALaQ13bEoS_oLFjL1prx ._1DISv1JGZ0pxbGtYHeBsJU {
  grid-area: left;
  background: radial-gradient(
    ellipse farthest-corner at 50% 30%,
    #212329 0%,
    #1e2025 50%,
    #1c1d22 100%
  );
  padding: 16px;
  margin-right: 16px;
}
._2QALaQ13bEoS_oLFjL1prx .sjpl-ow0jbdSysRG8jsFA {
  grid-area: main;
}
._3YIwjQZlP_YdCZH2DIj5f7 {
  background-color: #2e3138;
  max-width: 100%;
  width: 900px;
  margin: 16px auto;
  padding: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
button._22iwdea7XXbiuZrrLZUU11._22iwdea7XXbiuZrrLZUU11 {
  background-color: green;
  color: #fff;
  padding: 0 12px;
}
button._22iwdea7XXbiuZrrLZUU11._22iwdea7XXbiuZrrLZUU11:disabled,
button._22iwdea7XXbiuZrrLZUU11._22iwdea7XXbiuZrrLZUU11:disabled:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
._3jk92bsX5BdG6dMFNGNNKa {
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 0 4px;
}
._37R-2WttVdEqucotluEzW_ {
  width: 100%;
  display: flex;
  flex-direction: column;
}
._37R-2WttVdEqucotluEzW_ ._2A5OEhQlo5sJWuhIqlkEJL {
  padding: 8px;
  color: #adadad;
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  box-shadow: 0 0 5px #000 inset;
  font-size: 20px;
}
.B4ngKzLlL1gvAnj9Vdbt4 {
  display: flex;
  flex-direction: column;
}
.B4ngKzLlL1gvAnj9Vdbt4 ._1g6voAO3uBDdj9W9WjBB8z {
  box-sizing: border-box;
  width: 100%;
  border: none;
}
._1l94et1-5wPLcAMJ3Bx8qq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 12px;
}
._1l94et1-5wPLcAMJ3Bx8qq ._1LIvQOeIKBZzearuGAM7FW {
  font-size: 32px;
  padding: 8px;
}
._1l94et1-5wPLcAMJ3Bx8qq ._3tlrRmfmxrdkbJRk48aZDb {
  font-size: 16px;
  text-decoration: underline;
}
._1txmemUH3rosQe71mZfr0q ._2j-hhYTlI8Ntg1JrTWINdL {
  margin-bottom: 24px;
}
._1txmemUH3rosQe71mZfr0q ._2j-hhYTlI8Ntg1JrTWINdL ._3lz4JUNpNDnahEyzj1eZkK {
  background: #292c33;
  padding: 8px;
}
._1txmemUH3rosQe71mZfr0q ._2j-hhYTlI8Ntg1JrTWINdL ._3L68i4ZAokqaCqqk7yhIau {
  padding: 8px;
}
._1txmemUH3rosQe71mZfr0q ._2j-hhYTlI8Ntg1JrTWINdL ._23FTZuq9MQrukHrWgZMKrp {
  font-size: 14px;
  padding: 4px 0px;
  color: #c5d6d4;
}
._1txmemUH3rosQe71mZfr0q ._2j-hhYTlI8Ntg1JrTWINdL ._16zchT5YPTg-YRcLmO7T1N {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "status_global btn" "status_china btn";
}
._1txmemUH3rosQe71mZfr0q
  ._2j-hhYTlI8Ntg1JrTWINdL
  ._16zchT5YPTg-YRcLmO7T1N
  ._272D2JP0YHWH_sY_IP2MJQ {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
._1txmemUH3rosQe71mZfr0q
  ._2j-hhYTlI8Ntg1JrTWINdL
  ._16zchT5YPTg-YRcLmO7T1N
  ._272D2JP0YHWH_sY_IP2MJQ._1DcbV58-8H0QRtU4wmimaO {
  grid-area: status_global;
}
._1txmemUH3rosQe71mZfr0q
  ._2j-hhYTlI8Ntg1JrTWINdL
  ._16zchT5YPTg-YRcLmO7T1N
  ._272D2JP0YHWH_sY_IP2MJQ._2cUtBQSP-uCM363ee58k-t {
  grid-area: status_china;
}
._1txmemUH3rosQe71mZfr0q
  ._2j-hhYTlI8Ntg1JrTWINdL
  ._16zchT5YPTg-YRcLmO7T1N
  .HJUHTdNtL70vwUqYSh-FD {
  grid-area: btn;
}
._1txmemUH3rosQe71mZfr0q ._2j-hhYTlI8Ntg1JrTWINdL ._2syC3PimmI-5viillwUd6d {
  margin-top: 8px;
  border-top: 1px solid #40464f;
  padding-top: 8px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "status btn";
}
._1txmemUH3rosQe71mZfr0q
  ._2j-hhYTlI8Ntg1JrTWINdL
  ._2syC3PimmI-5viillwUd6d
  .uvzu3hbcsBlAoiPdATNbf {
  color: #d89551;
  font-size: 13px;
  grid-area: status;
}
._1txmemUH3rosQe71mZfr0q
  ._2j-hhYTlI8Ntg1JrTWINdL
  ._2syC3PimmI-5viillwUd6d
  ._3P52vp7DdW5ZKRbKrEsr64 {
  grid-area: btn;
}
.pCBfTw19y3z1htRCTD7Sk {
  width: 100%;
  font-size: 13px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
}
.pCBfTw19y3z1htRCTD7Sk tr {
  border-collapse: collapse;
  background: #323640;
}
.pCBfTw19y3z1htRCTD7Sk th {
  background: #4e5155;
  padding: 5px 8px;
  color: #e5e5e5;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
}
.pCBfTw19y3z1htRCTD7Sk td {
  padding: 5px 8px;
}
._3TzVFi3VdHXUk1AerBpZc- {
  padding-right: 10px;
}
._1Afx7wzva3-ghxcAy6EQhs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #51545d;
  color: var(--main-text-on-light-blue);
  box-shadow: 0 0 10px #000;
  padding: 4px 20px 4px 4px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
}
._1Afx7wzva3-ghxcAy6EQhs._3zTXCKuKmaCdEoxSBTzPAa {
  background-color: #b6c874;
}
._1Afx7wzva3-ghxcAy6EQhs.pjxnm0P9LLWFXCwsaDKUa {
  background-color: #93b3c8;
}
.pjxnm0P9LLWFXCwsaDKUa {
  color: #c44848;
}
._3zTXCKuKmaCdEoxSBTzPAa {
  color: #a3cf06;
}
.erZyIOjQA9q0Wv28vQPiN {
  color: #c44848;
}
._13Wz0jEDJuyCYIYT-3Nk8X {
  color: #a3cf06;
}
._3fAcXrEhyNYZKLFAviS1gi {
  font-size: 24px;
  margin-right: 8px;
  text-transform: uppercase;
}
._3A9ciQBxaVrGEWI6kD4zod {
  font-size: 16px;
  color: #ff0;
}
._3A9ciQBxaVrGEWI6kD4zod img {
  margin-left: 8px;
}
body.help_faqs {
  background: #1b2838;
}
._2c-ZvYlsjPPXuJ8mGCrm4b {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 400px);
  align-items: center;
  padding: 12px 16px;
}
._2c-ZvYlsjPPXuJ8mGCrm4b ._3nR_5zDV4zAPIvvU0KiN0I {
  width: 100%;
  max-width: 1030px;
  margin-bottom: 24px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 24px;
  color: #a5adb6;
}
._2c-ZvYlsjPPXuJ8mGCrm4b ._3t30O2QxkGP9fvRLRDGswB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1030px;
  width: 100%;
}
@media screen and (max-width: 910px) {
  ._2c-ZvYlsjPPXuJ8mGCrm4b ._3t30O2QxkGP9fvRLRDGswB {
    flex-direction: column;
  }
}
._2c-ZvYlsjPPXuJ8mGCrm4b ._36C-iYFaWFiKRonTzh-HmN {
  width: 100%;
  max-width: 706px;
}
._2c-ZvYlsjPPXuJ8mGCrm4b ._36C-iYFaWFiKRonTzh-HmN ._3Ar5ozxp1bt4rjNjuhvn3F {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #00ccff, #3366ff);
}
._2c-ZvYlsjPPXuJ8mGCrm4b ._2J5wYxXT7alqRbrLNH1mix {
  width: 300px;
  min-width: 250px;
  margin-left: 16px;
  position: relative;
}
@media screen and (max-width: 910px) {
  ._2c-ZvYlsjPPXuJ8mGCrm4b ._2J5wYxXT7alqRbrLNH1mix {
    width: 100%;
    margin-left: 0px;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    padding: 12px 12px 0px 0px;
    box-sizing: border-box;
  }
}
._2c-ZvYlsjPPXuJ8mGCrm4b ._2J5wYxXT7alqRbrLNH1mix ._19tG9inhMAZq_51s-qI90w {
  position: sticky;
  top: 24px;
}
@media screen and (max-width: 910px) {
  ._2c-ZvYlsjPPXuJ8mGCrm4b ._2J5wYxXT7alqRbrLNH1mix ._19tG9inhMAZq_51s-qI90w {
    position: relative;
    display: flex;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  ._2c-ZvYlsjPPXuJ8mGCrm4b ._2J5wYxXT7alqRbrLNH1mix ._19tG9inhMAZq_51s-qI90w {
    flex-direction: column;
  }
}
._2sb3tLnzLRwrqh0PNdD2lF {
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  color: #cfd2d3;
  padding-top: 24px;
}
._2sb3tLnzLRwrqh0PNdD2lF ._2Q7dvhXOWECTr3tzB35qET {
  font-size: 34px;
  line-height: 39px;
  font-weight: 500;
  color: #fff;
  padding: 0px 0px 24px 0px;
  position: relative;
}
._2sb3tLnzLRwrqh0PNdD2lF .NOvHUNQANYp-AIJstDhAd {
  padding: 24px 0px;
}
._2sb3tLnzLRwrqh0PNdD2lF .NOvHUNQANYp-AIJstDhAd a {
  color: #9ad5e4;
  text-decoration: none;
  border-bottom: 1px dotted rgba(176, 233, 255, 0.5);
}
._2sb3tLnzLRwrqh0PNdD2lF .NOvHUNQANYp-AIJstDhAd a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}
._2cCH3yNLHHafG87E2uIfR- {
  max-width: 32px;
  max-height: 32px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  border-radius: 3px;
}
._2IuXfoahgTxwZfYpytNkLa {
  padding: 4px 0;
}
._2GXm0D-ofulQO2nXUm0yTS {
  position: relative;
  margin-bottom: 12px;
  padding: 16px 0px 16px 16px;
  box-sizing: border-box;
  color: #a5adb6;
}
._2GXm0D-ofulQO2nXUm0yTS._1aSK_wN2h0Z8aHistspBZE {
  display: flex;
  flex-direction: row;
}
._2GXm0D-ofulQO2nXUm0yTS._16-27M8ldt_ry9tBV515Wo {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
}
@media screen and (max-width: 910px) {
  ._2GXm0D-ofulQO2nXUm0yTS._16-27M8ldt_ry9tBV515Wo {
    padding-top: 16px;
  }
}
._2GXm0D-ofulQO2nXUm0yTS .yNuYOxp91ACay7sBLPubB svg {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  fill: #a5adb6;
}
._38Q4pJr92P3dYRozQfTEvR {
  font-size: 18px;
  font-weight: bold;
  color: #d5d8dd;
  margin-bottom: 4px;
}
.aAZulHjD2jQ42SL5OKaWU {
  text-align: center;
  margin-top: 8px;
}
.aAZulHjD2jQ42SL5OKaWU a {
  margin-left: 0px;
  display: block;
}
._2Dpwh3MWbH9ND0PlNK8G7M {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 12px;
}
._2Dpwh3MWbH9ND0PlNK8G7M ._2dTNxR8PrLvqBwSUnhUVh5 {
  font-size: 32px;
  padding: 8px;
}
._2Dpwh3MWbH9ND0PlNK8G7M ._19BjjT3X_AZgLiL1pFYCDG {
  font-size: 16px;
  text-decoration: underline;
}
