.communityhomeheader_CommunityHomeHeader_1C-zu {
  font-family: "Motiva Sans", Sans-serif;
  font-style: normal;
  width: 100%;
}
.communityhomeheader_CommunityHomeHeader_1C-zu ::-webkit-scrollbar {
  display: none;
}
.communityhomeheader_CommunityHomeHeaderTitleSection_31q4b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
@media screen and (max-width: 700px) {
  .communityhomeheader_CommunityHomeHeaderTitleSection_31q4b {
    justify-content: center;
  }
}
.communityhomeheader_CommunityHomeHeaderTitle_1V0f6 {
  font-size: 20px;
  line-height: 20px;
  padding: 4px 0px;
  color: #fff;
}
@media screen and (max-width: 700px) {
  .communityhomeheader_CommunityHomeHeaderTitle_1V0f6 {
    text-align: center;
  }
}
.communityhomeheader_CommunityHomeHeaderSubtitle_3QCfE {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  padding: 4px 0px;
  text-align: center;
  color: #c7c5cb;
}
.communityhomeheader_AddFriendBtn_iT6jD {
  background: linear-gradient(90deg, #06bfff 0%, #2d73ff 100%);
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  padding: 0px 48px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 700px) {
  .communityhomeheader_AddFriendBtn_iT6jD {
    display: none;
  }
}
.communityhomeheader_CommunityHomeHeaderContent_2OgY2 {
  background-color: #67707b33;
  padding: 12px;
}
.communityhomeheader_AppHubsCtn_O58Nj {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  max-width: fit-content;
}
.communityhomeheader_Search_r2myG {
  position: relative;
  max-width: 350px;
  width: 100%;
  margin: 0px auto;
}
.communityhomeheader_Search_r2myG .communityhomeheader_SearchBar_BhYo9 {
  background: #181a21;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  display: flex;
  align-items: center;
  position: relative;
}
.communityhomeheader_Search_r2myG
  .communityhomeheader_SearchBar_BhYo9
  .communityhomeheader_InputContainer_8AoAY {
  flex: 1;
}
.communityhomeheader_Search_r2myG
  .communityhomeheader_SearchBar_BhYo9
  .communityhomeheader_InputContainer_8AoAY
  .communityhomeheader_Input_1WV5g {
  border: none;
  background-color: #181a21;
  padding-right: 45px;
  color: #fff;
}
.communityhomeheader_Search_r2myG
  .communityhomeheader_SearchBar_BhYo9
  .communityhomeheader_InputContainer_8AoAY
  Input::placeholder {
  color: rgba(198, 212, 223, 0.5);
  opacity: 1;
}
.communityhomeheader_Search_r2myG
  .communityhomeheader_SearchBar_BhYo9
  .communityhomeheader_InputContainer_8AoAY
  Input:-ms-input-placeholder {
  color: rgba(198, 212, 223, 0.5);
}
.communityhomeheader_Search_r2myG
  .communityhomeheader_SearchBar_BhYo9
  .communityhomeheader_InputContainer_8AoAY
  Input::-ms-input-placeholder {
  color: rgba(198, 212, 223, 0.5);
}
.communityhomeheader_Search_r2myG
  .communityhomeheader_SearchBar_BhYo9
  .communityhomeheader_SearchIcon_2WLXg {
  position: absolute;
  right: 10px;
  width: 24px;
  opacity: 0.5;
}
.communityhomeheader_Search_r2myG .communityhomeheader_SearchResultsCtn_23v0A {
  background: #181a21;
  position: absolute;
  z-index: 5;
  transform: translate3d(0, 0, 0);
  width: 100%;
}
.communityhomeheader_Search_r2myG
  .communityhomeheader_SearchResultsCtn_23v0A
  .communityhomeheader_SearchResult_2f5QM {
  font-size: 14px;
  line-height: 20px;
  color: #ccd8e3;
  padding: 4px 6px;
  display: block;
}
.communityhomeheader_AppHubShortcutsCtn_1BQW_ {
  padding: 8px;
}
.communityhomeheader_AppHubShortcutsCtn_1BQW_
  .communityhomeheader_AppHubTitle_1cmkh {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ccd8e3;
  margin-bottom: 6px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.communityhomeheader_AppHubShortcutsCtn_1BQW_
  .communityhomeheader_AppHubShortcutLinks_Xhben {
  display: flex;
  flex-direction: row;
}
.communityhomeheader_AppHubShortcutsCtn_1BQW_
  .communityhomeheader_AppHubShortcutLinks_Xhben
  .communityhomeheader_ShortcutLink_12bMm {
  margin-right: 16px;
}
.communityhomeheader_AppHubShortcutsCtn_1BQW_
  .communityhomeheader_AppHubShortcutLinks_Xhben
  .communityhomeheader_ShortcutLink_12bMm
  .communityhomeheader_ShortcutImage_irepM {
  width: 92px;
}
.communityhomeheader_AppHubShortcutsCtn_1BQW_
  .communityhomeheader_Divider_3sA9t {
  border-right: solid 1px rgba(204, 216, 227, 0.5);
}
.communityhomeheader_TabContainer_HY3Yt {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0px auto;
  padding: 24px 12px 12px 12px;
  max-width: fit-content;
}
.communityhomeheader_TabContainer_HY3Yt .communityhomeheader_Tab_1oAgo {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 6px 16px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 64px;
  white-space: nowrap;
}
.communityhomeheader_TabContainer_HY3Yt .communityhomeheader_ActiveTab_3Jb_4 {
  background: rgba(103, 139, 166, 0.7);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.communityhomeheader_SortContainer_16Dei {
  max-width: 948px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 6px 12px;
  margin: 0px auto;
  align-items: center;
}
.communityhomeheader_SortContainer_16Dei .communityhomeheader_Sort_1sg_E {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding: 6px;
  letter-spacing: 0.015em;
  color: #67c1f5;
}
.communityhomeheader_SortContainer_16Dei .communityhomeheader_ActiveSort_3whf2 {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}
.communityhomeheader_SortContainer_16Dei .communityhomeheader_SortIcon_2g7dI {
  height: 20px;
  width: 20px;
  color: #67c1f5;
  padding-right: 4px;
}
.throbber_LoadingWrapper_3Z36h {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.throbber_LoadingWrapper_3Z36h.throbber_Static_kwzRJ {
  animation-name: throbber_none_2iT5l;
}
.throbber_LoadingWrapper_3Z36h.throbber_Static_kwzRJ * {
  animation-name: throbber_none_2iT5l !important;
  stroke-dasharray: initial !important;
  stroke-dashoffset: initial !important;
  stroke-width: 5px !important;
  opacity: 1 !important;
}
.throbber_LoadingWrapper_3Z36h.throbber_Static_kwzRJ
  .throbber_bottomCircle_3-sjx
  path {
  stroke-width: 0 !important;
}
.throbber_LoadingWrapper_3Z36h.throbber_noString_M4pF_ {
  flex-direction: row;
}
.throbber_LoadingWrapper_3Z36h .throbber_Throbber_7MdwT,
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber,
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber path {
  width: 100%;
  height: 100%;
  position: relative;
}
.throbber_LoadingWrapper_3Z36h .throbber_Throbber_7MdwT {
  align-self: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.throbber_LoadingWrapper_3Z36h.throbber_throbber_small_29-XT
  .throbber_Throbber_7MdwT {
  width: 32px;
  height: 32px;
}
.throbber_LoadingWrapper_3Z36h.throbber_throbber_medium_1yqSo
  .throbber_Throbber_7MdwT {
  width: 64px;
  height: 64px;
}
.throbber_LoadingWrapper_3Z36h.throbber_throbber_large_1u2tL
  .throbber_Throbber_7MdwT {
  width: 92px;
  height: 92px;
}
.throbber_throbber_center_wrapper_Yi4EM {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.throbber_ThrobberText_1Zlvf,
.throbber_LoadingWrapper_3Z36h .throbber_ThrobberText_1Zlvf {
  color: #3d85c8;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  user-select: none;
  margin-top: 8px;
  font-weight: 500;
}
.throbber_LoadingWrapper_3Z36h.throbber_throbber_medium_1yqSo
  .throbber_ThrobberText_1Zlvf {
  margin-top: 4px;
}
.throbber_LoadingWrapper_3Z36h.throbber_throbber_small_29-XT
  .throbber_ThrobberText_1Zlvf {
  margin-top: 2px;
}
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber.throbber_blur_3ebLc {
  filter: blur(3px);
  position: absolute;
  left: 0;
  top: 0px;
}
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber.throbber_blur_3ebLc path {
  stroke: #4375fd;
}
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber path {
  stroke: #67c1f5;
  animation-name: throbber_ThrobberRoundLoop_3SEk8;
  animation-duration: 0.7s;
  stroke-linecap: butt;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundOuterOutline_3M8Ar,
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber .throbber_roundOuter_3H7At {
  stroke-dashoffset: 0;
  stroke-dasharray: 116;
  stroke-width: 6px;
}
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber .throbber_roundOuter_3H7At {
  opacity: 1;
  stroke: #3b8bb9;
  stroke-width: 6px;
  transform-origin: 50% 50%;
  stroke-linecap: round;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundOuterOutline_3M8Ar {
  display: none;
}
@keyframes throbber_ThrobberRoundLoop_3SEk8 {
  to {
    stroke-dashoffset: -232;
  }
}
.throbber_LoadingWrapper_3Z36h .SVGIcon_Throbber .throbber_roundFill_2FWWt {
  animation-name: throbber_ThrobberFillLoop_1-rlb;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 1;
  stroke-width: 0;
}
@keyframes throbber_ThrobberFillLoop_1-rlb {
  0% {
    fill: rgba(103, 193, 245, 0);
  }
  50% {
    fill: rgba(103, 193, 245, 0.05);
  }
  100% {
    fill: rgba(103, 193, 245, 0);
  }
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_topCircle_3znUF
  .throbber_circlePulse_1oQUO,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_topCircle_3znUF
  circle {
  stroke: #67c1f5;
  animation-name: throbber_ThrobberTopCircleLoop_3oqZE;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 67% 36%;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_topCircle_3znUF
  circle {
  animation-name: throbber_ThrobberBottomCircleLoop_3veQr;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_bottomCircle_3-sjx
  path {
  fill: #67c1f5;
  stroke-width: 0;
  animation-name: throbber_ThrobberBottomCircleLoop_3veQr;
  animation-duration: 3s;
  animation-delay: -0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes throbber_ThrobberTopCircleLoop_3oqZE {
  0% {
    opacity: 0;
    transform: scale(0.75);
    stroke-width: 4px;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
  100% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
}
@keyframes throbber_ThrobberBottomCircleLoop_3veQr {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber15_1gQte,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber14_3DXeR,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber13_5VEyI,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber12_wOdFm,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber11_3Jmyz,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber10_3QwXn,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber09_2Yhvq,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber08_3HcIU,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber07__2fn3,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber06_2gCCI,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber05_1SrtW,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber04_2P5xs,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber03_3zYDa,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber02_2_KYJ,
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber01_3N41H {
  animation-name: throbber_ThrobberRoundLoopThickness_1wAwc;
  animation-duration: 3s;
  stroke-dasharray: 150 950;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber01_3N41H {
  animation-delay: 0s;
  opacity: 0.06;
  stroke-width: 0.5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber02_2_KYJ {
  animation-delay: -0.1s;
  opacity: 0.13;
  stroke-width: 1px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber03_3zYDa {
  animation-delay: -0.2s;
  opacity: 0.2;
  stroke-width: 1.5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber04_2P5xs {
  animation-delay: -0.3s;
  opacity: 0.26;
  stroke-width: 2px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber05_1SrtW {
  animation-delay: -0.4s;
  opacity: 0.33;
  stroke-width: 2.5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber06_2gCCI {
  animation-delay: -0.5s;
  opacity: 0.4;
  stroke-width: 3px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber07__2fn3 {
  animation-delay: -0.6s;
  opacity: 0.46;
  stroke-width: 3.5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber08_3HcIU {
  animation-delay: -0.7s;
  opacity: 0.53;
  stroke-width: 4px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber09_2Yhvq {
  animation-delay: -0.8s;
  opacity: 0.6;
  stroke-width: 4.5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber10_3QwXn {
  animation-delay: -0.9s;
  opacity: 0.66;
  stroke-width: 5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber11_3Jmyz {
  animation-delay: -1s;
  opacity: 0.73;
  stroke-width: 5.5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber12_wOdFm {
  animation-delay: -1.1s;
  opacity: 0.8;
  stroke-width: 6px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber13_5VEyI {
  animation-delay: -1.2s;
  opacity: 0.86;
  stroke-width: 6.5px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber14_3DXeR {
  animation-delay: -1.3s;
  opacity: 0.93;
  stroke-width: 7px;
}
.throbber_LoadingWrapper_3Z36h
  .SVGIcon_Throbber
  .throbber_roundThrobber15_1gQte {
  animation-delay: -1.4s;
  opacity: 1;
  stroke-width: 7.5px;
}
@keyframes throbber_ThrobberRoundLoopThickness_1wAwc {
  100% {
    stroke-dashoffset: -1100;
  }
}
.throbber_throbber_small_29-XT {
  width: 36px;
  height: 36px;
}
.throbber_throbber_medium_1yqSo {
  width: 64px;
  height: 64px;
}
.throbber_throbber_large_1u2tL {
  width: 92px;
  height: 92px;
}
.throbber_throbber_xlarge_2jzZM {
  width: 120px;
  height: 120px;
}
.throbber_throbber_xxlarge_1DFOT {
  width: 240px;
  height: 240px;
}
.throbber_ThrobberDelayAppear_34XSs {
  opacity: 0;
  transition: opacity 1s;
}
.throbber_ThrobberDelayAppear_34XSs.throbber_Visible_1ziaT {
  opacity: 1;
}
