._3DZHUf7uLxFhqpWQ03npUj {
  padding-top: 5px;
}
._3DZHUf7uLxFhqpWQ03npUj h2 {
  font-family: "Motiva Sans", Arial, Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 2px;
  font-weight: normal;
  padding-top: 2px;
}
@media screen and (max-width: 910px) {
  ._1BdU3ODLnmsZ3KbvtJiHnd {
    margin-top: 58px;
  }
}
._1GTuE6_ao1Qwvew5Lusg6U {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: -21px;
  margin-top: -5px;
}
._1-yPTyNLjIAr7TpssNaC3w {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  padding: 2px 15px;
  line-height: normal;
  width: fit-content;
  cursor: pointer;
  position: relative;
  bottom: 30px;
}
._1-yPTyNLjIAr7TpssNaC3w:hover {
  border: 1px solid #fff;
}
._2UHtoCnFCyDjJS4BJk7mwt {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow-x: auto;
}
.BasicUI ._2UHtoCnFCyDjJS4BJk7mwt {
  margin: unset;
  gap: var(--gpSpace-Gap);
}
.fKrItA-LyyNbtBHpBCjT7 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.zbw9bsuwCymNm_EVq-TxJ {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.zbw9bsuwCymNm_EVq-TxJ svg {
  height: 20px;
  width: 20px;
  fill: #fff;
}
._3F6YMCF6Zs8AuGfzk0Ir85 {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 5px 15px;
  line-height: normal;
  width: fit-content;
  cursor: pointer;
}
._3F6YMCF6Zs8AuGfzk0Ir85:hover {
  border: 1px solid #fff;
}
