._2Jd3MGaOu0C9Ydswf8Q4Tn {
  padding-top: 5px;
}
._2Jd3MGaOu0C9Ydswf8Q4Tn h2 {
  font-family: "Motiva Sans", Arial, Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 2px;
  font-weight: normal;
  padding-top: 2px;
}
@media screen and (max-width: 910px) {
  ._3YyCpH32HRhZtt4BOM5wM5 {
    margin-top: 58px;
  }
}
._1HP0yfVUrZ-TPBYhiQkye2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: -21px;
  margin-top: -5px;
}
._3n8swQFM3I_ARVM_5bPhAs {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  padding: 2px 15px;
  line-height: normal;
  width: fit-content;
  cursor: pointer;
  position: relative;
  bottom: 30px;
}
._3n8swQFM3I_ARVM_5bPhAs:hover {
  border: 1px solid #fff;
}
._1snIw0RvJduvDtqpmwtKJ9 {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow-x: auto;
}
.BasicUI ._1snIw0RvJduvDtqpmwtKJ9 {
  margin: unset;
  gap: var(--gpSpace-Gap);
}
._2vEwZPNBe2qcTuxZf5cpiD {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mq3ROvmcn5_HdCKG6JXDa {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.mq3ROvmcn5_HdCKG6JXDa svg {
  height: 20px;
  width: 20px;
  fill: #fff;
}
._1TRFtE8IfXpDQ_loHnB_bU {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 5px 15px;
  line-height: normal;
  width: fit-content;
  cursor: pointer;
}
._1TRFtE8IfXpDQ_loHnB_bU:hover {
  border: 1px solid #fff;
}
