._3cln317VYhwhE1fSeMCG48 {
  display: inline;
  font-weight: bold;
}
._3TPGDj4kc0QGKvO8FJmGz8 {
  display: inline;
  font-style: italic;
}
p._3lnqGBzYap-Z2T81XBiBUU {
  margin: .5em 0;
}
._DE_6XhnSqABczbJ55rNJ p._3lnqGBzYap-Z2T81XBiBUU,
._2Hj1tfDjpLvBVTHTqAVcYB p._3lnqGBzYap-Z2T81XBiBUU,
.syKgzmlrcUIJHIBfWsn4h p._3lnqGBzYap-Z2T81XBiBUU {
  margin: 0;
}
th > p._3lnqGBzYap-Z2T81XBiBUU:first-child,
td > p._3lnqGBzYap-Z2T81XBiBUU:first-child {
  margin-top: 0;
}
th > p._3lnqGBzYap-Z2T81XBiBUU:first-child,
td > p._3lnqGBzYap-Z2T81XBiBUU:first-child {
  margin-bottom: 0;
}
._2LYsFAwy8wdRJQTNJOUcsT,
._6-VR2WCBCDupCcUN5INQM,
._1sGnlGwCeaGUp63h4Lx-pU,
._3VHY5vmO07MFpoOgTB9eOi,
._1Vk-9-C_y-lBA5ucPl6t8X {
  margin: 0;
}
._2LYsFAwy8wdRJQTNJOUcsT {
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 4px;
}
._6-VR2WCBCDupCcUN5INQM {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
}
._1sGnlGwCeaGUp63h4Lx-pU {
  color: #fff;
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
}
._3VHY5vmO07MFpoOgTB9eOi {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
._1Vk-9-C_y-lBA5ucPl6t8X {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
}
.zCnp-VELUMybbfxOD-ze9 {
  align-items: center;
}
.WBzrd438Bd8Z3J-j_iglW {
  color: #fff;
  font-size: 11px;
  line-height: 13px;
}
.GrhFWtBdrSZP611s1UqqT {
  display: inline;
  text-decoration: underline;
}
._3pK7sh9FYdigMXxcUVI4DY {
  display: inline;
  text-decoration: line-through;
}
._3kRr4bh8twnlt_7wcEFZr3 {
  display: inline;
  box-sizing: border-box;
  color: #000;
  background-color: #000;
  padding: 0px 8px;
}
._3kRr4bh8twnlt_7wcEFZr3:hover,
._3kRr4bh8twnlt_7wcEFZr3._3g1-8c9NBcNDwW4-6x1pM6 {
  color: #fff;
}
._3kRr4bh8twnlt_7wcEFZr3:hover ._3r66KOH_Vckmfps3XUOVrY,
._3kRr4bh8twnlt_7wcEFZr3._3g1-8c9NBcNDwW4-6x1pM6 ._3r66KOH_Vckmfps3XUOVrY {
  visibility: visible;
  transition-delay: 80ms;
  transition-duration: 120ms;
}
._3kRr4bh8twnlt_7wcEFZr3 ._3r66KOH_Vckmfps3XUOVrY {
  visibility: hidden;
  transition-delay: 80ms;
  transition-duration: 120ms;
}
._1O62-3Y03GsnA0709QyJ_O {
  pointer-events: none;
}
._3MQ0Cuf_h-nZ81xIubg8rh {
  display: table;
  box-sizing: border-box;
  border: 1px solid #56707f;
  border-radius: 3px;
  padding: 12px;
  margin: 8px;
  font-size: 92%;
}
._3MQ0Cuf_h-nZ81xIubg8rh > p:first-child {
  margin-top: 0;
}
._3MQ0Cuf_h-nZ81xIubg8rh > p:last-child {
  margin-bottom: 0;
}
._1MzmaZcQPMRfrTHs3k0fIZ {
  display: block;
  font-style: italic;
}
._2kA0eAmv8ifh0zphoq4ntM {
  width: 33%;
  min-width: 200px;
  float: right;
  border-radius: 3px;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  display: table;
  word-break: break-word;
  line-height: 28px;
  padding: 0px 0px 10px 20px;
}
._2ODaX8lO7DKLKke76c2Wya,
._1I3OP84ayrCIMuBrCrkosi {
  font-size: 13px;
  font-family: Consolas, monospace;
  white-space: pre;
  white-space: pre-wrap;
}
._1I3OP84ayrCIMuBrCrkosi {
  display: block;
  border: 1px solid #535354;
  border-radius: 3px;
  padding: 12px;
  margin: 8px;
  overflow-x: auto;
}
._3Y-LRoi5aeZ9-3ujWjXuG3 {
  display: block;
  padding-inline-start: 40px;
}
.DojPxwyYpx3hwuPIaJPCq {
  display: block;
  padding-inline-start: 40px;
}
.DojPxwyYpx3hwuPIaJPCq .DojPxwyYpx3hwuPIaJPCq {
  margin-top: 4px;
}
._1iXxYKOlzzXiVr02E7n2Fe {
  list-style-position: outside;
  margin-bottom: 5px;
}
.-xPK0REpludHjRG8xQfih {
  border: none;
  height: 1px;
  color: #6e7577;
  background-color: #6e7577;
  margin: 12px 0px;
}
._2CAsiFd9UHbUOqzd0e7ioe {
  display: table;
  border-collapse: collapse;
  font-size: 14px;
}
._2CAsiFd9UHbUOqzd0e7ioe._1rO4D9vLxJRWz9sW4-ahSY {
  position: relative;
}
._2CAsiFd9UHbUOqzd0e7ioe._1rO4D9vLxJRWz9sW4-ahSY ._3FJk0y6E6I8nSYfCIqGP8,
._2CAsiFd9UHbUOqzd0e7ioe._1rO4D9vLxJRWz9sW4-ahSY
  ._3FJk0y6E6I8nSYfCIqGP8:first-of-type,
._2CAsiFd9UHbUOqzd0e7ioe._1rO4D9vLxJRWz9sW4-ahSY ._3rLIt0O8F7iG6B2RmC3cYa,
._2CAsiFd9UHbUOqzd0e7ioe._1rO4D9vLxJRWz9sW4-ahSY
  ._3rLIt0O8F7iG6B2RmC3cYa:first-of-type {
  border: none;
}
._2CAsiFd9UHbUOqzd0e7ioe._1CtoyG6UPAlYp7PCGLXx8L {
  width: 100%;
  table-layout: fixed;
}
._2CAsiFd9UHbUOqzd0e7ioe ._3FJk0y6E6I8nSYfCIqGP8 {
  border-bottom: 1px solid rgba(226, 229, 233, 0.3);
}
._2CAsiFd9UHbUOqzd0e7ioe ._3FJk0y6E6I8nSYfCIqGP8:first-of-type {
  border-top: 1px solid rgba(226, 229, 233, 0.3);
}
._2CAsiFd9UHbUOqzd0e7ioe ._3rLIt0O8F7iG6B2RmC3cYa {
  border-right: 1px solid rgba(226, 229, 233, 0.3);
}
._2CAsiFd9UHbUOqzd0e7ioe ._3rLIt0O8F7iG6B2RmC3cYa:first-of-type {
  border-left: 1px solid rgba(226, 229, 233, 0.3);
}
._3rLIt0O8F7iG6B2RmC3cYa {
  display: table-cell;
  vertical-align: middle;
  padding: 4px;
}
th._3rLIt0O8F7iG6B2RmC3cYa {
  display: table-cell;
  font-weight: bold;
  padding: 4px;
  color: #f0f2f4;
  border-right: 1px solid rgba(226, 229, 233, 0.3);
  background: rgba(198, 202, 210, 0.2);
}
th._3rLIt0O8F7iG6B2RmC3cYa:first-of-type {
  border-left: 1px solid rgba(226, 229, 233, 0.3);
}
._3FJk0y6E6I8nSYfCIqGP8 {
  display: table-row;
}
._2cmZMzZlRrszDBF97Di0cD .uAvfe31kBh5TZrse069d1 {
  padding: 3px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.11);
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  color: #aebac2;
}
._2cmZMzZlRrszDBF97Di0cD .uAvfe31kBh5TZrse069d1 ._3tVf4GSoWxEOZrxL_PQ4iA svg {
  margin-left: 10px;
  width: 12px;
  height: 12px;
  fill: #aebac2;
  transition: transform;
  transition-duration: .2s;
}
._2cmZMzZlRrszDBF97Di0cD .uAvfe31kBh5TZrse069d1:hover {
  color: #fff;
}
._2cmZMzZlRrszDBF97Di0cD
  .uAvfe31kBh5TZrse069d1:hover
  ._3tVf4GSoWxEOZrxL_PQ4iA
  svg {
  fill: #fff;
}
._2cmZMzZlRrszDBF97Di0cD ._33CTl_a7XYxFIng-fm4A5K {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px;
  border-radius: 2px;
}
._2cmZMzZlRrszDBF97Di0cD._1dfVJUq9KmDOuhyOZ7lcXv {
  padding-bottom: 8px;
}
._2cmZMzZlRrszDBF97Di0cD._1dfVJUq9KmDOuhyOZ7lcXv .uAvfe31kBh5TZrse069d1 {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  color: #fff;
  font-size: 19px;
  line-height: 22px;
  font-weight: 300;
}
._2cmZMzZlRrszDBF97Di0cD._1dfVJUq9KmDOuhyOZ7lcXv
  .uAvfe31kBh5TZrse069d1
  ._3tVf4GSoWxEOZrxL_PQ4iA {
  margin-left: auto;
}
._2cmZMzZlRrszDBF97Di0cD._1dfVJUq9KmDOuhyOZ7lcXv
  .uAvfe31kBh5TZrse069d1
  ._3tVf4GSoWxEOZrxL_PQ4iA
  svg {
  margin-right: 8px;
}
a._3TN0uESBGJ-kUDPWWX2YWz {
  background-color: #2681da;
  font-size: 14px;
  padding: 6px 20px;
  display: inline-block;
  border-radius: 3px;
  margin: 4px 0px;
}
a._3TN0uESBGJ-kUDPWWX2YWz span {
  color: #fff;
  padding-bottom: 6px;
}
a._3TN0uESBGJ-kUDPWWX2YWz:hover {
  background-color: #3691fa;
  color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
._3K0NuxYUYncdQ-cNK7udMn {
  max-width: 100%;
}
._3YMzBRWJTOo7eai1uFGV7i ._3SEDw4GZynd3ZmTQWlyOcS {
  color: #999;
  display: inline-block;
  margin: 0 2px;
}
.S-ElBHomDkV0L3K4XChxt.S-ElBHomDkV0L3K4XChxt.S-ElBHomDkV0L3K4XChxt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 8px;
  margin-bottom: 0;
}
.S-ElBHomDkV0L3K4XChxt.S-ElBHomDkV0L3K4XChxt.S-ElBHomDkV0L3K4XChxt
  ._106tp5gLWBvoekGEC8HXQ._106tp5gLWBvoekGEC8HXQ._106tp5gLWBvoekGEC8HXQ {
  border-radius: 20px;
  padding: 4px 22px;
  color: #fff;
  background-color: red;
}
.ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}
.ProseMirror-gapcursor:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid #000;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}
@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}
.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}
.ProseMirror {
  position: relative;
}
.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
}
.ProseMirror pre {
  white-space: pre-wrap;
}
.ProseMirror li {
  position: relative;
}
.ProseMirror-hideselection *::selection {
  background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}
.ProseMirror-hideselection {
  caret-color: transparent;
}
.ProseMirror [draggable][contenteditable="false"] {
  user-select: text;
}
.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}
li.ProseMirror-selectednode {
  outline: none;
}
li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}
img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}
._1lo3nIamSX1TzzE4TlhFXA {
  position: fixed;
  background: #ccc;
  color: #000;
  padding: 4px;
}
._1ds3uh7ntoekPm635F2Ziv {
  font-size: 12px;
}
._3Vn5X8bzPjWx5p545nkB6k {
  font-size: 10px;
  font-weight: italic;
}
._2wAKy-0ZkO_vhbiQCP9MgE {
  display: flex;
  flex-direction: column;
  margin: 0;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1QfwpLmLTSuiIRLDzdY_7l {
  animation-name: _1F0lzP-Krz_y5P9ewZEvBD;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1QfwpLmLTSuiIRLDzdY_7l * {
  animation-name: _1F0lzP-Krz_y5P9ewZEvBD !important;
  stroke-dasharray: initial !important;
  stroke-dashoffset: initial !important;
  stroke-width: 5px !important;
  opacity: 1 !important;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1QfwpLmLTSuiIRLDzdY_7l ._2qjZm0dB7I6lcRkZhNTqvD path {
  stroke-width: 0 !important;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1Sy0pXVZOdWbgouFyD2zJj {
  flex-direction: row;
}
._2wAKy-0ZkO_vhbiQCP9MgE .lYUEjD8Qh3GM_ZrZeLwpI,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber path {
  width: 100%;
  height: 100%;
  position: relative;
}
._2wAKy-0ZkO_vhbiQCP9MgE .lYUEjD8Qh3GM_ZrZeLwpI {
  align-self: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2zbyh5jEDlV5HVD3iUve-k .lYUEjD8Qh3GM_ZrZeLwpI {
  width: 32px;
  height: 32px;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2CphUsHNDgIWItNIzeIldY .lYUEjD8Qh3GM_ZrZeLwpI {
  width: 64px;
  height: 64px;
}
._2wAKy-0ZkO_vhbiQCP9MgE._1x18vR7Qop8v8_G8qSR6CL .lYUEjD8Qh3GM_ZrZeLwpI {
  width: 92px;
  height: 92px;
}
._3IYPzqtvB2ZE7x710d5x2C {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
._21nVi2jNuF_prxLY1mAaKK,
._2wAKy-0ZkO_vhbiQCP9MgE ._21nVi2jNuF_prxLY1mAaKK {
  color: #3d85c8;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  user-select: none;
  margin-top: 8px;
  font-weight: 500;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2CphUsHNDgIWItNIzeIldY ._21nVi2jNuF_prxLY1mAaKK {
  margin-top: 4px;
}
._2wAKy-0ZkO_vhbiQCP9MgE._2zbyh5jEDlV5HVD3iUve-k ._21nVi2jNuF_prxLY1mAaKK {
  margin-top: 2px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber._1ctjA2yjeB21eCDj_r1mVz {
  filter: blur(3px);
  position: absolute;
  left: 0;
  top: 0px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber._1ctjA2yjeB21eCDj_r1mVz path {
  stroke: #4375fd;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber path {
  stroke: #67c1f5;
  animation-name: _1O-cWE6nuIVO3x6-Onw0IU;
  animation-duration: .7s;
  stroke-linecap: butt;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1Vv--mA6PueyEKXXMTwljt,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2K0LzwjOXDopMHoqY_v_CO {
  stroke-dashoffset: 0;
  stroke-dasharray: 116;
  stroke-width: 6px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2K0LzwjOXDopMHoqY_v_CO {
  opacity: 1;
  stroke: #3b8bb9;
  stroke-width: 6px;
  transform-origin: 50% 50%;
  stroke-linecap: round;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1Vv--mA6PueyEKXXMTwljt {
  display: none;
}
@keyframes _1O-cWE6nuIVO3x6-Onw0IU {
  to {
    stroke-dashoffset: -232;
  }
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3sQFkavAEPhliH6DiFmHRH {
  animation-name: ofdi9VLSRZ5W98WsXVHiq;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 1;
  stroke-width: 0;
}
@keyframes ofdi9VLSRZ5W98WsXVHiq {
  0% {
    fill: rgba(103, 193, 245, 0);
  }
  50% {
    fill: rgba(103, 193, 245, 0.05);
  }
  100% {
    fill: rgba(103, 193, 245, 0);
  }
}
._2wAKy-0ZkO_vhbiQCP9MgE
  .SVGIcon_Throbber
  ._1LZffuoDq-N25wNHckxsf
  ._1XN6ZJ1l8nVoUxp1WnOBqw,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1LZffuoDq-N25wNHckxsf circle {
  stroke: #67c1f5;
  animation-name: _1jALk36CiS_T9Pg7vBjpIQ;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 67% 36%;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1LZffuoDq-N25wNHckxsf circle {
  animation-name: _1KvOgdKiNE9XuSYUau3hKW;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2qjZm0dB7I6lcRkZhNTqvD path {
  fill: #67c1f5;
  stroke-width: 0;
  animation-name: _1KvOgdKiNE9XuSYUau3hKW;
  animation-duration: 3s;
  animation-delay: -0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes _1jALk36CiS_T9Pg7vBjpIQ {
  0% {
    opacity: 0;
    transform: scale(0.75);
    stroke-width: 4px;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
  100% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
}
@keyframes _1KvOgdKiNE9XuSYUau3hKW {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2LGHpu_-ihfOhQwdfR3Kiy,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2FGCneH2AemMrIrZnZskw_,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1X-5j16jaQntVrZfadibyc,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1pj1Q3Ef4FdHDdl9QEtpxp,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .xFmZaMe5nZpoTc5PQBKn3,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3MGYowzMQ6TwbH3fu9SVjt,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .ktVJ42jiVhWEVV9O6z2FK,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3s_7my869lIOj-1vnqJ39y,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._11MVp53Me_frOuaJfsQ4FE,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2cl-maglen-RF0YQjShgqG,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3-JE0FpIzECzeqtd5cyjGI,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1xNIKvHdzLhBldONo6yIZs,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1S17yicfcrPc11m83ydGp3,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1-oUJqmCLOoGqVJz5dgj6J,
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2tXgejjqNKy6cSX1Lv7PrG {
  animation-name: _1fs4RGcMBRzbQQirDBiFoM;
  animation-duration: 3s;
  stroke-dasharray: 150 950;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2tXgejjqNKy6cSX1Lv7PrG {
  animation-delay: 0s;
  opacity: 0.06;
  stroke-width: .5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1-oUJqmCLOoGqVJz5dgj6J {
  animation-delay: -0.1s;
  opacity: 0.13;
  stroke-width: 1px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1S17yicfcrPc11m83ydGp3 {
  animation-delay: -0.2s;
  opacity: 0.2;
  stroke-width: 1.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1xNIKvHdzLhBldONo6yIZs {
  animation-delay: -0.3s;
  opacity: 0.26;
  stroke-width: 2px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3-JE0FpIzECzeqtd5cyjGI {
  animation-delay: -0.4s;
  opacity: 0.33;
  stroke-width: 2.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2cl-maglen-RF0YQjShgqG {
  animation-delay: -0.5s;
  opacity: 0.4;
  stroke-width: 3px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._11MVp53Me_frOuaJfsQ4FE {
  animation-delay: -0.6s;
  opacity: 0.46;
  stroke-width: 3.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3s_7my869lIOj-1vnqJ39y {
  animation-delay: -0.7s;
  opacity: 0.53;
  stroke-width: 4px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .ktVJ42jiVhWEVV9O6z2FK {
  animation-delay: -0.8s;
  opacity: 0.6;
  stroke-width: 4.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._3MGYowzMQ6TwbH3fu9SVjt {
  animation-delay: -0.9s;
  opacity: 0.66;
  stroke-width: 5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber .xFmZaMe5nZpoTc5PQBKn3 {
  animation-delay: -1s;
  opacity: 0.73;
  stroke-width: 5.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1pj1Q3Ef4FdHDdl9QEtpxp {
  animation-delay: -1.1s;
  opacity: 0.8;
  stroke-width: 6px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._1X-5j16jaQntVrZfadibyc {
  animation-delay: -1.2s;
  opacity: 0.86;
  stroke-width: 6.5px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2FGCneH2AemMrIrZnZskw_ {
  animation-delay: -1.3s;
  opacity: 0.93;
  stroke-width: 7px;
}
._2wAKy-0ZkO_vhbiQCP9MgE .SVGIcon_Throbber ._2LGHpu_-ihfOhQwdfR3Kiy {
  animation-delay: -1.4s;
  opacity: 1;
  stroke-width: 7.5px;
}
@keyframes _1fs4RGcMBRzbQQirDBiFoM {
  100% {
    stroke-dashoffset: -1100;
  }
}
._2zbyh5jEDlV5HVD3iUve-k {
  width: 36px;
  height: 36px;
}
._2CphUsHNDgIWItNIzeIldY {
  width: 64px;
  height: 64px;
}
._1x18vR7Qop8v8_G8qSR6CL {
  width: 92px;
  height: 92px;
}
._1gYeZMYKBDqNpVuw58_LCl {
  width: 120px;
  height: 120px;
}
._3j-p4JOqdpaF4obGtIeAB {
  width: 240px;
  height: 240px;
}
.I3aEq3lbK7Pm8ujENvtri {
  opacity: 0;
  transition: opacity 1s;
}
.I3aEq3lbK7Pm8ujENvtri._2SwSJd-DlX2dRiDGxZWHI5 {
  opacity: 1;
}
._1m8iQOSVziKDHiInrfskv_ img {
  width: 100%;
}
._30v-6zb_axOypIUr5VRHE1 > .ProseMirror {
  padding: 12px;
}
._2i9qH2AM6Wg5660Tkf_fTt .ProseMirror {
  min-height: unset !important;
}
p.pm_paragraph {
  min-height: 8px;
}
.ProseMirror table {
  overflow: hidden;
}
.ProseMirror td,
.ProseMirror th {
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}
.ProseMirror .ProseMirror-gapcursor:after {
  border-top: none;
  border-left: 1px solid #fff;
  height: 1em;
  top: .5em;
}
.ProseMirror .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}
.ProseMirror td:not([data-colwidth]):not(.column-resize-dragging),
.ProseMirror th:not([data-colwidth]):not(.column-resize-dragging) {
  min-width: var(--default-cell-min-width);
}
.ProseMirror .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: #adf;
  pointer-events: none;
}
.ProseMirror.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
.nXEH21nf47u2OH7BjQKei {
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 4px;
}
.LCeIT0gmFTY8fdfaVgk4j {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
}
.LCeIT0gmFTY8fdfaVgk4j ._19z0fjj7o0n9vAjVjvYZNU {
  width: 12px;
}
.LCeIT0gmFTY8fdfaVgk4j ._2m1BBIp5Ewr1TI-BkqFGLM {
  flex: 1;
  min-width: 12px;
}
.LCeIT0gmFTY8fdfaVgk4j ._DialogInputContainer {
  padding-top: 8px;
  padding-bottom: 8px;
}
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN {
  margin-right: 4px;
  width: 30px;
  height: 30px;
}
.BasicUI button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN {
  padding: unset;
  margin-right: 4px;
  min-width: unset;
}
.BasicUI button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.gpfocus {
  color: #0e141b;
}
.BasicUI button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.gpfocus svg {
  fill: currentColor;
  stroke: currentColor;
  color: inherit;
}
.BasicUI button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.gpfocus svg path {
  stroke: currentColor;
}
.BasicUI button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.gpfocus svg line,
.BasicUI button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.gpfocus svg polygon {
  stroke: currentColor;
  fill: currentColor;
}
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button {
  width: 20px;
  height: 20px;
  padding-bottom: 4px;
  margin-right: 0px;
}
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton
  .SVGIcon_Button.SVGIcon_TextBold,
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton
  .SVGIcon_Button.SVGIcon_TextItalic,
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton
  .SVGIcon_Button.SVGIcon_TextUnderline,
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton
  .SVGIcon_Button.SVGIcon_TextStrikethrough {
  width: 18px;
  height: 18px;
}
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton
  .SVGIcon_Button.SVGIcon_SpellCheck {
  width: 20px;
  height: 20px;
  margin-left: 1px;
  margin-top: 1px;
}
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton
  .SVGIcon_Button.SVGIcon_TextBullets {
  width: 25px;
  height: 25px;
}
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN.DialogButton
  .SVGIcon_Button.SVGIcon_TextUnderline {
  padding-bottom: 5px;
}
button.DialogButton._1dEi5qzSDdPOzoOQXYbNLN._1Iw5xoXQXfmRjgjWTKbm_G {
  color: #fff;
  outline: 2px solid #1a9fff;
  outline-offset: -2px;
}
._2P-FBc3tZWGeeBFplDSb9g {
  position: relative;
  display: inline-block;
}
._2P-FBc3tZWGeeBFplDSb9g ._3QpIkO3kkVZmnulwmiZRHH {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
._2P-FBc3tZWGeeBFplDSb9g ._3QpIkO3kkVZmnulwmiZRHH .VIY8ZV4g4NpEMnF-_pHOh {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
._2P-FBc3tZWGeeBFplDSb9g
  ._3QpIkO3kkVZmnulwmiZRHH
  .VIY8ZV4g4NpEMnF-_pHOh
  ._12t6JmDCFT6MqtNVrSi5NJ {
  align-items: center;
}
._2P-FBc3tZWGeeBFplDSb9g img._2HezQYTfmFfdRmuB8l9QPI,
._2P-FBc3tZWGeeBFplDSb9g video._2HezQYTfmFfdRmuB8l9QPI {
  display: inline-block;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  max-width: 100%;
  filter: grayscale(1) brightness(0.8) saturate(0.5);
}
._1WRaNQqBKcUp67ntgoyEeQ {
  position: relative;
}
._1WRaNQqBKcUp67ntgoyEeQ .I2CE9X_I0GBNYbJf7VYBg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: #ccc;
  text-shadow: 2px 2px 4px #000;
  pointer-events: none;
}
.zT2msZmm-jBeLe4Dt7smo {
  text-align: center;
}
.zT2msZmm-jBeLe4Dt7smo ._3mZEV9CXrIn4FITvJk3Xy- {
  display: inline-block;
  font-size: .8em;
  line-height: 1.25em;
  background: #3d4450;
  color: #fff;
  border-radius: 3px;
  padding: 0 6px;
}
._2cT7wst-UhvDbRqPOUFLHl {
  margin: 10px auto 5px auto;
  width: fit-content;
}
._2cT7wst-UhvDbRqPOUFLHl svg {
  display: flex;
  padding: 5px 10px;
  margin: auto;
  width: 18px;
}
._2cT7wst-UhvDbRqPOUFLHl ._1SFKrl2Gt5OR-Nop7cqHIP {
  border: 1px solid #67707b;
}
._2cT7wst-UhvDbRqPOUFLHl input {
  background-color: #fff;
}
._3qTvksxeNcdLlXlVi5T__3 input {
  background-color: #fff;
}
._28ykIGBc90adpzjihQeOoC {
  display: flex;
  flex-direction: row;
  margin: 12px 2%;
  min-height: 50vh;
  max-height: 90vh;
}
._28ykIGBc90adpzjihQeOoC ._3gyO-3quMbybtCQl67Dmf7 {
  flex: 1;
  display: flex;
  min-width: 0;
}
._3Sf_ShCtdfWp5P04k2cIgp {
  flex: 1;
  height: auto;
  min-height: 0;
}
._3Sf_ShCtdfWp5P04k2cIgp .DialogContentTransition {
  width: auto;
  max-width: none;
  min-width: 0;
}
._3Sf_ShCtdfWp5P04k2cIgp .PageListColumn {
  min-height: unset !important;
}
._3Sf_ShCtdfWp5P04k2cIgp .t6CDOdcwTIZM8UA8NN41V > .DialogContent_InnerWidth {
  max-width: none;
  min-height: 0;
}
.BasicUI
  ._3Sf_ShCtdfWp5P04k2cIgp
  .t6CDOdcwTIZM8UA8NN41V
  > .DialogContent_InnerWidth {
  overflow: hidden;
}
._3Sf_ShCtdfWp5P04k2cIgp._1JfX5TwbiYNVMRiU6Gthga .DialogContentTransition {
  background: none;
}
._3Sf_ShCtdfWp5P04k2cIgp._1JfX5TwbiYNVMRiU6Gthga .PageListColumn {
  visibility: hidden;
}
._3Sf_ShCtdfWp5P04k2cIgp._1JfX5TwbiYNVMRiU6Gthga .t6CDOdcwTIZM8UA8NN41V {
  background: none;
}
._3Sf_ShCtdfWp5P04k2cIgp._1JfX5TwbiYNVMRiU6Gthga .gdKTXjvFuMeVN2qa6o8EL,
._3Sf_ShCtdfWp5P04k2cIgp._1JfX5TwbiYNVMRiU6Gthga ._1fu6xumTI1nCY5wc6FG_N2 {
  visibility: hidden;
}
._3Sf_ShCtdfWp5P04k2cIgp._1JfX5TwbiYNVMRiU6Gthga
  ._1AL7l2CN6z-vuLfp1iCLa
  ._1Ve4VFO2EEkeNZdel_Asky {
  overflow: hidden;
}
._3Sf_ShCtdfWp5P04k2cIgp ._3Sjbkvk647UKKVLX6J7gsW {
  width: 36px;
  height: 36px;
  margin: 10px;
  padding: 0px;
}
.BasicUI ._3Sf_ShCtdfWp5P04k2cIgp ._3Sjbkvk647UKKVLX6J7gsW {
  padding: 0px;
  min-width: unset;
  width: 100%;
  box-sizing: unset;
}
.BasicUI ._3Sf_ShCtdfWp5P04k2cIgp ._3Sjbkvk647UKKVLX6J7gsW.gpfocus {
  color: #0e141b;
}
.BasicUI ._3Sf_ShCtdfWp5P04k2cIgp ._3Sjbkvk647UKKVLX6J7gsW.gpfocus svg {
  fill: currentColor;
  stroke: currentColor;
  color: inherit;
}
.BasicUI ._3Sf_ShCtdfWp5P04k2cIgp ._3Sjbkvk647UKKVLX6J7gsW.gpfocus svg path {
  stroke: currentColor;
}
.BasicUI ._3Sf_ShCtdfWp5P04k2cIgp ._3Sjbkvk647UKKVLX6J7gsW.gpfocus svg line,
.BasicUI ._3Sf_ShCtdfWp5P04k2cIgp ._3Sjbkvk647UKKVLX6J7gsW.gpfocus svg polygon {
  stroke: currentColor;
  fill: currentColor;
}
._3Sf_ShCtdfWp5P04k2cIgp ._3Sjbkvk647UKKVLX6J7gsW svg {
  margin-bottom: 4px;
}
._1AL7l2CN6z-vuLfp1iCLa {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  margin-top: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 10px;
  margin-bottom: 25px;
  position: relative;
  color: #c1c6cf;
}
.BasicUI ._1AL7l2CN6z-vuLfp1iCLa {
  min-height: 75vh;
  max-height: 75vh;
  max-width: 75vw;
}
._1AL7l2CN6z-vuLfp1iCLa ._1Ve4VFO2EEkeNZdel_Asky {
  flex: 1;
  overflow: auto;
  min-height: 0;
  scrollbar-gutter: stable;
}
._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 {
  position: absolute;
  inset-inline-end: 8px;
  bottom: 8px;
  display: flex;
  flex-direction: row;
}
._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .DialogButton {
  width: 22px;
  height: 30px;
  padding: 8px 8px 0px 8px;
  opacity: 0.5;
}
._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .DialogButton:hover {
  opacity: 0.8;
}
.BasicUI ._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .DialogButton {
  padding: 8px 8px 0px 8px;
  min-width: unset;
  box-sizing: unset;
}
.BasicUI
  ._1AL7l2CN6z-vuLfp1iCLa
  ._1fu6xumTI1nCY5wc6FG_N2
  .DialogButton.gpfocus {
  color: #0e141b;
}
.BasicUI
  ._1AL7l2CN6z-vuLfp1iCLa
  ._1fu6xumTI1nCY5wc6FG_N2
  .DialogButton.gpfocus
  svg {
  fill: currentColor;
  stroke: currentColor;
  color: inherit;
}
.BasicUI
  ._1AL7l2CN6z-vuLfp1iCLa
  ._1fu6xumTI1nCY5wc6FG_N2
  .DialogButton.gpfocus
  svg
  path {
  stroke: currentColor;
}
.BasicUI
  ._1AL7l2CN6z-vuLfp1iCLa
  ._1fu6xumTI1nCY5wc6FG_N2
  .DialogButton.gpfocus
  svg
  line,
.BasicUI
  ._1AL7l2CN6z-vuLfp1iCLa
  ._1fu6xumTI1nCY5wc6FG_N2
  .DialogButton.gpfocus
  svg
  polygon {
  stroke: currentColor;
  fill: currentColor;
}
._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .vKXl-xWkUZL5iNvaT5mzW {
  margin-inline-start: 8px;
  width: fit-content;
  padding: 0px 8px;
  height: 38px;
}
.gdKTXjvFuMeVN2qa6o8EL {
  padding: 12px 0;
  -webkit-app-region: no-drag;
  position: relative;
  z-index: 3;
}
._1Ve4VFO2EEkeNZdel_Asky {
  background: #111;
  box-shadow: inset 0 8px 6px -6px #000;
  display: flex;
  flex-direction: column;
}
._1Ve4VFO2EEkeNZdel_Asky > .ProseMirror {
  flex: 1;
  min-height: 0;
}
._1Ve4VFO2EEkeNZdel_Asky > .ProseMirror:focus-visible {
  outline: none;
}
._1Ve4VFO2EEkeNZdel_Asky a {
  color: #aad8ec;
  text-decoration: none;
  border-bottom: 1px dotted rgba(109, 207, 246, 0.6);
}
._1Ve4VFO2EEkeNZdel_Asky a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted rgba(176, 233, 255, 0.5);
}
._1Ve4VFO2EEkeNZdel_Asky h1,
._1Ve4VFO2EEkeNZdel_Asky h2,
._1Ve4VFO2EEkeNZdel_Asky h3,
._1Ve4VFO2EEkeNZdel_Asky h4,
._1Ve4VFO2EEkeNZdel_Asky h5 {
  margin: .5em 0;
}
._1Ve4VFO2EEkeNZdel_Asky ul,
._1Ve4VFO2EEkeNZdel_Asky ol {
  margin: .5em 0;
}
._1Ve4VFO2EEkeNZdel_Asky li > p:first-of-type {
  margin: 0;
}
