._3OZdTvCTb6CpiavJuyAgSs {
  display: flex;
  flex-direction: column;
}
._3OZdTvCTb6CpiavJuyAgSs ._10C-FSg2FYguFXDoPyD78V {
  position: relative;
}
.J-nthH7XkPeYzGyWmMie0 {
  color: hotpink;
}
._2cO3kFkGdQ18nyd13zq3N9 {
  position: relative;
  width: 20px;
  height: 20px;
}
._2cO3kFkGdQ18nyd13zq3N9 > svg {
  height: 20px;
  width: 20px;
}
._2cO3kFkGdQ18nyd13zq3N9 ._2NMjllZJNreOrU15alJFZd {
  position: absolute;
  top: 0;
  left: 0;
}
._2cO3kFkGdQ18nyd13zq3N9 ._2FGULl1_K4iPUGvrp55Hu- {
  position: absolute;
  top: 0;
  left: 0;
}
._2TszC_-PWGNjvyEvg4pkXs,
._1mcSATMDg6RMTkBMGQpRMH {
  color: #c44848;
}
._15HwAwBDsrswtG8dV7Kght,
._1mcSATMDg6RMTkBMGQpRMH,
._3Ht2evgC8Noz3Rb3mkvNWC {
  display: block;
  padding: 10px;
  padding-left: 42px;
  background-image: url("https://community.cloudflare.steamstatic.com/public/images//sharedfiles/icons/icon_warning.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 6px;
}
._3Ht2evgC8Noz3Rb3mkvNWC {
  background-color: #472025;
}
._1mcSATMDg6RMTkBMGQpRMH._1mTCTkOGLH-mcVoFCHB6xV {
  padding: 5px;
  padding-left: 32px;
  font-size: 14px;
  position: absolute;
  bottom: -5px;
  background-color: #682d2c;
  z-index: 1;
  box-shadow: 2px 2px 5px #000;
}
._2TszC_-PWGNjvyEvg4pkXs > div,
._1mcSATMDg6RMTkBMGQpRMH > div {
  display: inline;
  color: #d78484;
}
._1C_ImsUlzg82M_O5-Dg--x,
._3p5KOjA4ruC7BQyqMZNe1P {
  color: #b8860b;
}
._3POKG03Bgn3Fofqrijx-tH,
._3p5KOjA4ruC7BQyqMZNe1P,
._2MAqlRrFcSDNSdhq-MmyTo {
  padding: 10px;
  padding-left: 42px;
  background-image: url("https://community.cloudflare.steamstatic.com/public/images//sharedfiles/icons/icon_warning.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
}
._2MAqlRrFcSDNSdhq-MmyTo {
  background-color: #b8860b;
  color: #fff;
}
._2MAqlRrFcSDNSdhq-MmyTo ._2JqXLwG70-H-cFwcoiLLio {
  position: sticky;
  top: 89px;
  z-index: 1;
}
._3p5KOjA4ruC7BQyqMZNe1P.NcOahVPzIJEqCPIb8UE9e {
  padding: 5px;
  padding-left: 32px;
  font-size: 14px;
  position: absolute;
  bottom: -5px;
  background-color: #523d07;
  z-index: 1;
  box-shadow: 2px 2px 5px #000;
}
._2Zq0UvVupNHRmv-AcOcE89,
._2TYAoWWtHLG3CtVbJF8al0 {
  color: #556b2f;
}
.qgVd4PZiD-jTyQCioKYz4,
._2TYAoWWtHLG3CtVbJF8al0,
._3YqPicnANA2QCmuZdBuzHa {
  padding: 10px;
  padding-left: 42px;
  background-image: url("https://community.cloudflare.steamstatic.com/public/images//sharedfiles/icons/icon_spoiler_tag.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
}
._3YqPicnANA2QCmuZdBuzHa {
  background-color: #556b2f;
  color: #fff;
}
._3YqPicnANA2QCmuZdBuzHa ._2JqXLwG70-H-cFwcoiLLio {
  position: sticky;
  top: 89px;
  z-index: 1;
}
._2oWai6yw7SRKZ3UtbQqcZt {
  padding-top: 10px;
}
.ModalPosition_Content ._3P6SelqDLJPtYY0xlkOEfE.DialogContent {
  width: initial;
}
.ModalPosition_Content
  ._3P6SelqDLJPtYY0xlkOEfE.DialogContent
  .DialogContent_InnerWidth
  > form {
  padding-right: 8px;
}
._3Z36hMlC0g5rhADc86JeV8 {
  display: flex;
  flex-direction: column;
  margin: 0;
}
._3Z36hMlC0g5rhADc86JeV8.kwzRJNhtPiQO0D4Wn0PLU {
  animation-name: _2iT5lTDKhbxllUncFnJhS0;
}
._3Z36hMlC0g5rhADc86JeV8.kwzRJNhtPiQO0D4Wn0PLU * {
  animation-name: _2iT5lTDKhbxllUncFnJhS0 !important;
  stroke-dasharray: initial !important;
  stroke-dashoffset: initial !important;
  stroke-width: 5px !important;
  opacity: 1 !important;
}
._3Z36hMlC0g5rhADc86JeV8.kwzRJNhtPiQO0D4Wn0PLU ._3-sjxBwrq1aRP-xn0Pwx37 path {
  stroke-width: 0 !important;
}
._3Z36hMlC0g5rhADc86JeV8.M4pF_ij_g5aN0m2FqZc7u {
  flex-direction: row;
}
._3Z36hMlC0g5rhADc86JeV8 ._7MdwTzlZhzNS1NzYBn7Sk,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber path {
  width: 100%;
  height: 100%;
  position: relative;
}
._3Z36hMlC0g5rhADc86JeV8 ._7MdwTzlZhzNS1NzYBn7Sk {
  align-self: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
._3Z36hMlC0g5rhADc86JeV8._29-XTCJVnFYwvPS6oJ6liL ._7MdwTzlZhzNS1NzYBn7Sk {
  width: 32px;
  height: 32px;
}
._3Z36hMlC0g5rhADc86JeV8._1yqSoIPxWwEa9VRtAQdhdy ._7MdwTzlZhzNS1NzYBn7Sk {
  width: 64px;
  height: 64px;
}
._3Z36hMlC0g5rhADc86JeV8._1u2tLqxQCBluyLGN_QvmRf ._7MdwTzlZhzNS1NzYBn7Sk {
  width: 92px;
  height: 92px;
}
.Yi4EMhptGPt8XWnnnT_nC {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
._1ZlvfuG4Q4e9GfTYNuNI5b,
._3Z36hMlC0g5rhADc86JeV8 ._1ZlvfuG4Q4e9GfTYNuNI5b {
  color: #3d85c8;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  user-select: none;
  margin-top: 8px;
  font-weight: 500;
}
._3Z36hMlC0g5rhADc86JeV8._1yqSoIPxWwEa9VRtAQdhdy ._1ZlvfuG4Q4e9GfTYNuNI5b {
  margin-top: 4px;
}
._3Z36hMlC0g5rhADc86JeV8._29-XTCJVnFYwvPS6oJ6liL ._1ZlvfuG4Q4e9GfTYNuNI5b {
  margin-top: 2px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber._3ebLcY6yz7RZRSTq7EK5Lo {
  filter: blur(3px);
  position: absolute;
  left: 0;
  top: 0px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber._3ebLcY6yz7RZRSTq7EK5Lo path {
  stroke: #4375fd;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber path {
  stroke: #67c1f5;
  animation-name: _3SEk8c3qDYTigYcVaGHzE8;
  animation-duration: 0.7s;
  stroke-linecap: butt;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3M8ArwlB5FKwDNDos_gbXp,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3H7At8KqRfv4ttYb4hHZmf {
  stroke-dashoffset: 0;
  stroke-dasharray: 116;
  stroke-width: 6px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3H7At8KqRfv4ttYb4hHZmf {
  opacity: 1;
  stroke: #3b8bb9;
  stroke-width: 6px;
  transform-origin: 50% 50%;
  stroke-linecap: round;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3M8ArwlB5FKwDNDos_gbXp {
  display: none;
}
@keyframes _3SEk8c3qDYTigYcVaGHzE8 {
  to {
    stroke-dashoffset: -232;
  }
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2FWWtb-RoV2eWwZb_2ZPr- {
  animation-name: _1-rlbGjslOZcEUwLtOMFS5;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 1;
  stroke-width: 0;
}
@keyframes _1-rlbGjslOZcEUwLtOMFS5 {
  0% {
    fill: rgba(103, 193, 245, 0);
  }
  50% {
    fill: rgba(103, 193, 245, 0.05);
  }
  100% {
    fill: rgba(103, 193, 245, 0);
  }
}
._3Z36hMlC0g5rhADc86JeV8
  .SVGIcon_Throbber
  ._3znUFhu51nKns1e7TS-OBI
  ._1oQUOQrI5F662TJKj8jekS,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3znUFhu51nKns1e7TS-OBI circle {
  stroke: #67c1f5;
  animation-name: _3oqZEXhIGxrXv-k0LZdnuL;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 67% 36%;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3znUFhu51nKns1e7TS-OBI circle {
  animation-name: _3veQroNYTh9QYnoChKR3i1;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3-sjxBwrq1aRP-xn0Pwx37 path {
  fill: #67c1f5;
  stroke-width: 0;
  animation-name: _3veQroNYTh9QYnoChKR3i1;
  animation-duration: 3s;
  animation-delay: -0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes _3oqZEXhIGxrXv-k0LZdnuL {
  0% {
    opacity: 0;
    transform: scale(0.75);
    stroke-width: 4px;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
  100% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px;
  }
}
@keyframes _3veQroNYTh9QYnoChKR3i1 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._1gQteFwGxkIYjnc1R4AL_t,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3DXeREA7bfuQHY6ZAO5R7z,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._5VEyIcKdWadQBWrX_4GCB,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber .wOdFmL5yGGcFtnTeTPuAN,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3JmyzD1dUjgGEcteE8b03N,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3QwXntItGtkPzHCFTKc5On,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2Yhvqy6YdHoDKOcEV54b81,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3HcIUW0RNk5mvnktXyklQD,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2fn3JdojytIMXkgwwLUB,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2gCCIKg5sL-lL99W0oqlJ6,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._1SrtWs_sS-Wy3tdC3r9KPR,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2P5xsTUWq0FH2XucpPH7p,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3zYDaDqGDHQ_1O4RQC5I9V,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2_KYJ4u1lx7hqumdoEPrUC,
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3N41HATXmBYltNBZ9VLB5N {
  animation-name: _1wAwc7KLLRgbm44_3xm4ie;
  animation-duration: 3s;
  stroke-dasharray: 150 950;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3N41HATXmBYltNBZ9VLB5N {
  animation-delay: 0s;
  opacity: 0.06;
  stroke-width: 0.5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2_KYJ4u1lx7hqumdoEPrUC {
  animation-delay: -0.1s;
  opacity: 0.13;
  stroke-width: 1px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3zYDaDqGDHQ_1O4RQC5I9V {
  animation-delay: -0.2s;
  opacity: 0.2;
  stroke-width: 1.5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2P5xsTUWq0FH2XucpPH7p {
  animation-delay: -0.3s;
  opacity: 0.26;
  stroke-width: 2px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._1SrtWs_sS-Wy3tdC3r9KPR {
  animation-delay: -0.4s;
  opacity: 0.33;
  stroke-width: 2.5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2gCCIKg5sL-lL99W0oqlJ6 {
  animation-delay: -0.5s;
  opacity: 0.4;
  stroke-width: 3px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2fn3JdojytIMXkgwwLUB {
  animation-delay: -0.6s;
  opacity: 0.46;
  stroke-width: 3.5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3HcIUW0RNk5mvnktXyklQD {
  animation-delay: -0.7s;
  opacity: 0.53;
  stroke-width: 4px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._2Yhvqy6YdHoDKOcEV54b81 {
  animation-delay: -0.8s;
  opacity: 0.6;
  stroke-width: 4.5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3QwXntItGtkPzHCFTKc5On {
  animation-delay: -0.9s;
  opacity: 0.66;
  stroke-width: 5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3JmyzD1dUjgGEcteE8b03N {
  animation-delay: -1s;
  opacity: 0.73;
  stroke-width: 5.5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber .wOdFmL5yGGcFtnTeTPuAN {
  animation-delay: -1.1s;
  opacity: 0.8;
  stroke-width: 6px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._5VEyIcKdWadQBWrX_4GCB {
  animation-delay: -1.2s;
  opacity: 0.86;
  stroke-width: 6.5px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._3DXeREA7bfuQHY6ZAO5R7z {
  animation-delay: -1.3s;
  opacity: 0.93;
  stroke-width: 7px;
}
._3Z36hMlC0g5rhADc86JeV8 .SVGIcon_Throbber ._1gQteFwGxkIYjnc1R4AL_t {
  animation-delay: -1.4s;
  opacity: 1;
  stroke-width: 7.5px;
}
@keyframes _1wAwc7KLLRgbm44_3xm4ie {
  100% {
    stroke-dashoffset: -1100;
  }
}
._29-XTCJVnFYwvPS6oJ6liL {
  width: 36px;
  height: 36px;
}
._1yqSoIPxWwEa9VRtAQdhdy {
  width: 64px;
  height: 64px;
}
._1u2tLqxQCBluyLGN_QvmRf {
  width: 92px;
  height: 92px;
}
._2jzZM2psF7_vBjlIDursjn {
  width: 120px;
  height: 120px;
}
._1DFOT-9kxLv8eKb1pLdpgs {
  width: 240px;
  height: 240px;
}
._34XSshkALVD06dF8SeeOq {
  opacity: 0;
  transition: opacity 1s;
}
._34XSshkALVD06dF8SeeOq._1ziaTBu8AaZL6yQ50_GkKQ {
  opacity: 1;
}
.tAKvsRBaqaemRb6OJSM0o img {
  width: 100%;
}
