.greenenvelope_NotificationsMenu_DHpNP {
  width: 300px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: radial-gradient(
      circle at top left,
      rgba(74, 81, 92, 0.4) 0%,
      rgba(75, 81, 92, 0) 60%
    ),
    #25282e;
}
.greenenvelope_NotificationsMenu_DHpNP svg {
  fill: #8b929a;
}
.greenenvelope_NotificationsMenuEntriesContainer_1UQTO {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 6px;
}
.greenenvelope_NotificationsMenuScrollable_3t5NP {
  overflow-y: auto;
  max-height: 350px;
  margin-left: 4px;
  padding-bottom: 4px;
}
.greenenvelope_NotificationsMenuScrollable_3t5NP.greenenvelope_MenuScrollbarHidden_20aP8 {
  margin-right: 4px;
}
.greenenvelope_NotificationHeader_2CF6o {
  padding: 5px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 160px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.greenenvelope_NotificationHeader_2CF6o.greenenvelope_ResponsiveViewAll_3jVNI {
  justify-content: end;
}
.greenenvelope_NotificationHeader_2CF6o
  .greenenvelope_AllNotificationsTitle_nyDUh {
  font-size: 16px;
  align-self: center;
}
.greenenvelope_NotificationHeader_2CF6o
  .greenenvelope_AllNotificationsButton__Oohj {
  background-color: #454953;
  color: #fff;
  border-style: none;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
}
.greenenvelope_NotificationHeader_2CF6o
  .greenenvelope_AllNotificationsButton__Oohj:hover {
  background-color: #67707b;
  transition-property: background;
  transition-duration: 250ms;
}
.greenenvelope_NotificationsButton_2Z7Ed {
  width: 46px;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 402;
}
.greenenvelope_NotificationsButton_2Z7Ed .greenenvelope_SVGNotifications_D68s6 {
  width: 14px;
}
.greenenvelope_NotificationsButton_2Z7Ed.greenenvelope_Grey_2Sj0M {
  background-color: rgba(103, 112, 123, 0.2);
}
.greenenvelope_NotificationsButton_2Z7Ed.greenenvelope_Grey_2Sj0M:not(
    .greenenvelope_Disabled_3KMlw
  ):hover {
  background-color: #3d4450;
  transition-property: background;
  transition-duration: 250ms;
}
.greenenvelope_NotificationsButton_2Z7Ed.greenenvelope_Grey_2Sj0M svg {
  fill: #8b929a;
}
.greenenvelope_NotificationsButton_2Z7Ed.greenenvelope_Green_1ad8S {
  background-color: #5c7e10;
  color: #fff;
}
.greenenvelope_NotificationsButton_2Z7Ed.greenenvelope_Green_1ad8S:not(
    .greenenvelope_Disabled_3KMlw
  ):hover {
  background-color: #7ea64b;
  transition-property: background;
  transition-duration: 250ms;
}
.greenenvelope_NotificationsButton_2Z7Ed.greenenvelope_Green_1ad8S svg {
  fill: #fff;
}
.greenenvelope_NotificationsButton_2Z7Ed.greenenvelope_Green_1ad8S:hover
  .greenenvelope_SVGNotifications_D68s6
  g,
.greenenvelope_NotificationsButton_2Z7Ed.greenenvelope_Green_1ad8S.greenenvelope_AnimateBell_2YD8w
  .greenenvelope_SVGNotifications_D68s6
  g {
  animation: greenenvelope_NotificationBellAnimation_1a4Fd 5s ease-in;
  animation-iteration-count: 1;
  transform-origin: 50% 0%;
}
.greenenvelope_NotificationsButton_2Z7Ed.greenenvelope_Green_1ad8S:hover
  .greenenvelope_SVGNotifications_D68s6
  g
  .SVGIcon_Notification_Uvula,
.greenenvelope_NotificationsButton_2Z7Ed.greenenvelope_Green_1ad8S.greenenvelope_AnimateBell_2YD8w
  .greenenvelope_SVGNotifications_D68s6
  g
  .SVGIcon_Notification_Uvula {
  animation: greenenvelope_NotificationBellUvula_21Ilh 5s ease-in;
  animation-iteration-count: 1;
}
.greenenvelope_NotificationsButton_2Z7Ed.greenenvelope_Disabled_3KMlw {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(169, 169, 169, 0.5);
}
.greenenvelope_NotificationsButton_2Z7Ed.greenenvelope_Disabled_3KMlw svg {
  fill: #d3d3d3;
}
.greenenvelope_EmptyNotificationsCtn_1-M8K {
  padding: 20px;
  text-align: center;
  font-size: 12px;
}
.greenenvelope_EmptyNotificationsCtn_1-M8K
  .greenenvelope_EmptyNotificationsTitle_m0jm4 {
  font-weight: 400;
}
.greenenvelope_EmptyNotificationsCtn_1-M8K
  .greenenvelope_EmptyNotificationsBody_3YAs6 {
  padding-top: 15px;
  color: #b8bcbf;
}
@keyframes greenenvelope_NotificationBellAnimation_1a4Fd {
  0% {
    transform: rotateZ(0deg);
  }
  3% {
    transform: rotateZ(16deg);
  }
  6% {
    transform: rotateZ(-16deg);
  }
  9% {
    transform: rotateZ(15deg);
  }
  12% {
    transform: rotateZ(-15deg);
  }
  15% {
    transform: rotateZ(14deg);
  }
  18% {
    transform: rotateZ(-14deg);
  }
  21% {
    transform: rotateZ(8deg);
  }
  24% {
    transform: rotateZ(-8deg);
  }
  27% {
    transform: rotateZ(3deg);
  }
  30% {
    transform: rotateZ(-3deg);
  }
  33% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes greenenvelope_NotificationBellUvula_21Ilh {
  0% {
    transform: translateX(0px);
  }
  3% {
    transform: translateX(6px);
  }
  5% {
    transform: translateX(-6px);
  }
  8% {
    transform: translateX(5px);
  }
  11% {
    transform: translateX(-5px);
  }
  14% {
    transform: translateX(4px);
  }
  17% {
    transform: translateX(-4px);
  }
  20% {
    transform: translateX(4px);
  }
  23% {
    transform: translateX(-2px);
  }
  26% {
    transform: translateX(2px);
  }
  29% {
    transform: translateX(1px);
  }
  32% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}
