.DHpNPo4VknQQgZ-Endjnr {
  width: 300px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: radial-gradient(
      circle at top left,
      rgba(74, 81, 92, 0.4) 0%,
      rgba(75, 81, 92, 0) 60%
    ),
    #25282e;
}
.DHpNPo4VknQQgZ-Endjnr svg {
  fill: #8b929a;
}
.DHpNPo4VknQQgZ-Endjnr a {
  text-decoration: none;
}
._1UQTO5JHEeKV5-jO0lZLJn {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 6px;
}
._3t5NPou8z4TK-P2_w3zZeG {
  overflow-y: auto;
  max-height: 350px;
  margin-left: 4px;
  padding-bottom: 4px;
}
._3t5NPou8z4TK-P2_w3zZeG._20aP8h5zqDN-E-A9xRuIpj {
  margin-right: 4px;
}
._2CF6oPHsaCLQ5tLo3ThpA8 {
  padding: 5px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 160px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
._2CF6oPHsaCLQ5tLo3ThpA8 a {
  text-decoration: none;
}
._2CF6oPHsaCLQ5tLo3ThpA8._3jVNImLETg7K6nmBlKrr17 {
  justify-content: end;
}
._2CF6oPHsaCLQ5tLo3ThpA8 .nyDUhA2in_idbdfRysxhy {
  font-size: 16px;
  align-self: center;
}
._2CF6oPHsaCLQ5tLo3ThpA8 ._OohjXs6g1bZWWSDjc3sQ {
  background-color: #454953;
  color: #fff;
  border-style: none;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
}
._2CF6oPHsaCLQ5tLo3ThpA8 ._OohjXs6g1bZWWSDjc3sQ:hover {
  background-color: #67707b;
  transition-property: background;
  transition-duration: 250ms;
}
._2Z7EdkE4UF7dnGM4VibIvZ {
  width: 46px;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 402;
}
._2Z7EdkE4UF7dnGM4VibIvZ .D68s6aL7C_YAjt1Vw77Sw {
  width: 14px;
}
._2Z7EdkE4UF7dnGM4VibIvZ._2Sj0MS5lHpROEv7qTMLEsn {
  background-color: rgba(103, 112, 123, 0.2);
}
._2Z7EdkE4UF7dnGM4VibIvZ._2Sj0MS5lHpROEv7qTMLEsn:not(
    ._3KMlwWjyKj6H0MWpR9jscq
  ):hover {
  background-color: #3d4450;
  transition-property: background;
  transition-duration: 250ms;
}
._2Z7EdkE4UF7dnGM4VibIvZ._2Sj0MS5lHpROEv7qTMLEsn svg {
  fill: #8b929a;
}
._2Z7EdkE4UF7dnGM4VibIvZ._1ad8S4q3EoWrectZjRucjc {
  background-color: #5c7e10;
  color: #fff;
}
._2Z7EdkE4UF7dnGM4VibIvZ._1ad8S4q3EoWrectZjRucjc:not(
    ._3KMlwWjyKj6H0MWpR9jscq
  ):hover {
  background-color: #7ea64b;
  transition-property: background;
  transition-duration: 250ms;
}
._2Z7EdkE4UF7dnGM4VibIvZ._1ad8S4q3EoWrectZjRucjc svg {
  fill: #fff;
}
._2Z7EdkE4UF7dnGM4VibIvZ._1ad8S4q3EoWrectZjRucjc:hover .D68s6aL7C_YAjt1Vw77Sw g,
._2Z7EdkE4UF7dnGM4VibIvZ._1ad8S4q3EoWrectZjRucjc._2YD8wdg8zcTlmlysT-dNWz
  .D68s6aL7C_YAjt1Vw77Sw
  g {
  animation: _1a4Fd8zgf-zfcy2INky5BM 5s ease-in;
  animation-iteration-count: 1;
  transform-origin: 50% 0%;
}
._2Z7EdkE4UF7dnGM4VibIvZ._1ad8S4q3EoWrectZjRucjc:hover
  .D68s6aL7C_YAjt1Vw77Sw
  g
  .SVGIcon_Notification_Uvula,
._2Z7EdkE4UF7dnGM4VibIvZ._1ad8S4q3EoWrectZjRucjc._2YD8wdg8zcTlmlysT-dNWz
  .D68s6aL7C_YAjt1Vw77Sw
  g
  .SVGIcon_Notification_Uvula {
  animation: _21Ilh43U_kNoYvs-CnYkU9 5s ease-in;
  animation-iteration-count: 1;
}
._2Z7EdkE4UF7dnGM4VibIvZ._3KMlwWjyKj6H0MWpR9jscq {
  background-color: transparent;
  color: rgba(169, 169, 169, 0.5);
}
._2Z7EdkE4UF7dnGM4VibIvZ._3KMlwWjyKj6H0MWpR9jscq svg {
  fill: #d3d3d3;
}
._1-M8KMwgL_DOmQZBALEpWx {
  display: none;
  padding: 20px;
  text-align: center;
  font-size: 12px;
}
._1-M8KMwgL_DOmQZBALEpWx:first-child {
  display: block;
}
._1-M8KMwgL_DOmQZBALEpWx .m0jm4f6OZD7WSl06uabEs {
  font-weight: 400;
}
._1-M8KMwgL_DOmQZBALEpWx ._3YAs6zz26YfBaANe6L3uJS {
  padding-top: 15px;
  color: #b8bcbf;
}
@keyframes _1a4Fd8zgf-zfcy2INky5BM {
  0% {
    transform: rotateZ(0deg);
  }
  3% {
    transform: rotateZ(16deg);
  }
  6% {
    transform: rotateZ(-16deg);
  }
  9% {
    transform: rotateZ(15deg);
  }
  12% {
    transform: rotateZ(-15deg);
  }
  15% {
    transform: rotateZ(14deg);
  }
  18% {
    transform: rotateZ(-14deg);
  }
  21% {
    transform: rotateZ(8deg);
  }
  24% {
    transform: rotateZ(-8deg);
  }
  27% {
    transform: rotateZ(3deg);
  }
  30% {
    transform: rotateZ(-3deg);
  }
  33% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes _21Ilh43U_kNoYvs-CnYkU9 {
  0% {
    transform: translateX(0px);
  }
  3% {
    transform: translateX(6px);
  }
  5% {
    transform: translateX(-6px);
  }
  8% {
    transform: translateX(5px);
  }
  11% {
    transform: translateX(-5px);
  }
  14% {
    transform: translateX(4px);
  }
  17% {
    transform: translateX(-4px);
  }
  20% {
    transform: translateX(4px);
  }
  23% {
    transform: translateX(-2px);
  }
  26% {
    transform: translateX(2px);
  }
  29% {
    transform: translateX(1px);
  }
  32% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}
