.login_LoginContainer_2vAS_ {
  padding-top: 80px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .login_LoginContainer_2vAS_ {
    padding-top: 12px;
    padding-bottom: 0px;
  }
}
