










.throbber_LoadingWrapper_2wAKy {
  display: flex;
  flex-direction: column;
  margin: 0; }
  .throbber_LoadingWrapper_2wAKy.throbber_Static_1Qfwp {
    animation-name: throbber_none_1F0lz; }
    .throbber_LoadingWrapper_2wAKy.throbber_Static_1Qfwp * {
      animation-name: throbber_none_1F0lz !important;
      stroke-dasharray: initial !important;
      stroke-dashoffset: initial !important;
      stroke-width: 5px !important;
      opacity: 1 !important; }
    .throbber_LoadingWrapper_2wAKy.throbber_Static_1Qfwp .throbber_bottomCircle_2qjZm path {
      stroke-width: 0 !important; }

.throbber_LoadingWrapper_2wAKy.throbber_noString_1Sy0p {
  flex-direction: row; }

.throbber_LoadingWrapper_2wAKy .throbber_Throbber_lYUEj,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber path {
  width: 100%;
  height: 100%;
  position: relative; }

.throbber_LoadingWrapper_2wAKy .throbber_Throbber_lYUEj {
  align-self: center;
  margin: 0px;
  width: 100%;
  height: 100%; }

.throbber_LoadingWrapper_2wAKy.throbber_throbber_small_2zbyh .throbber_Throbber_lYUEj {
  width: 32px;
  height: 32px; }

.throbber_LoadingWrapper_2wAKy.throbber_throbber_medium_2CphU .throbber_Throbber_lYUEj {
  width: 64px;
  height: 64px; }

.throbber_LoadingWrapper_2wAKy.throbber_throbber_large_1x18v .throbber_Throbber_lYUEj {
  width: 92px;
  height: 92px; }

.throbber_throbber_center_wrapper_3IYPz {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.throbber_ThrobberText_21nVi,
.throbber_LoadingWrapper_2wAKy .throbber_ThrobberText_21nVi {
  color: #3d85c8;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  user-select: none;
  margin-top: 8px;
  font-weight: 500; }

.throbber_LoadingWrapper_2wAKy.throbber_throbber_medium_2CphU .throbber_ThrobberText_21nVi {
  margin-top: 4px; }

.throbber_LoadingWrapper_2wAKy.throbber_throbber_small_2zbyh .throbber_ThrobberText_21nVi {
  margin-top: 2px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber.throbber_blur_1ctjA {
  filter: blur(3px);
  position: absolute;
  left: 0;
  top: 0px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber.throbber_blur_1ctjA path {
  stroke: #4375fd; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber path {
  stroke: #67c1f5;
  animation-name: throbber_ThrobberRoundLoop_1O-cW;
  animation-duration: 0.7s;
  stroke-linecap: butt;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0.0; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundOuterOutline_1Vv--,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundOuter_2K0Lz {
  stroke-dashoffset: 0;
  stroke-dasharray: 116;
  /*stroke-dasharray: 40 10 30 20 20 30 10 40;*/
  stroke-width: 6px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundOuter_2K0Lz {
  opacity: 1;
  stroke: #3b8bb9;
  stroke-width: 6px;
  transform-origin: 50% 50%;
  stroke-linecap: round; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundOuterOutline_1Vv-- {
  display: none; }

@keyframes throbber_ThrobberRoundLoop_1O-cW {
  to {
    stroke-dashoffset: -232.00; } }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundFill_3sQFk {
  animation-name: throbber_ThrobberFillLoop_ofdi9;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 1;
  stroke-width: 0; }

@keyframes throbber_ThrobberFillLoop_ofdi9 {
  0% {
    fill: rgba(103, 193, 245, 0); }
  50% {
    fill: rgba(103, 193, 245, 0.05); }
  100% {
    fill: rgba(103, 193, 245, 0); } }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_topCircle_1LZff .throbber_circlePulse_1XN6Z,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_topCircle_1LZff circle {
  stroke: #67c1f5;
  animation-name: throbber_ThrobberTopCircleLoop_1jALk;
  animation-duration: 3s;
  animation-delay: -1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 67% 36%; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_topCircle_1LZff circle {
  animation-name: throbber_ThrobberBottomCircleLoop_1KvOg; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_bottomCircle_2qjZm path {
  fill: #67c1f5;
  stroke-width: 0;
  animation-name: throbber_ThrobberBottomCircleLoop_1KvOg;
  animation-duration: 3s;
  animation-delay: -0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes throbber_ThrobberTopCircleLoop_1jALk {
  0% {
    opacity: 0;
    transform: scale(0.75);
    stroke-width: 4px; }
  20% {
    opacity: 0.3; }
  40% {
    opacity: 0; }
  50% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px; }
  100% {
    opacity: 0;
    transform: scale(5);
    stroke-width: 0px; } }

@keyframes throbber_ThrobberBottomCircleLoop_1KvOg {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber15_2LGHp,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber14_2FGCn,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber13_1X-5j,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber12_1pj1Q,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber11_xFmZa,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber10_3MGYo,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber09_ktVJ4,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber08_3s_7m,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber07_11MVp,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber06_2cl-m,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber05_3-JE0,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber04_1xNIK,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber03_1S17y,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber02_1-oUJ,
.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber01_2tXge {
  animation-name: throbber_ThrobberRoundLoopThickness_1fs4R;
  animation-duration: 3s;
  stroke-dasharray: 150 950; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber01_2tXge {
  animation-delay: -0.0s;
  opacity: 0.06;
  stroke-width: 0.5px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber02_1-oUJ {
  animation-delay: -0.1s;
  opacity: 0.13;
  stroke-width: 1.0px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber03_1S17y {
  animation-delay: -0.2s;
  opacity: 0.20;
  stroke-width: 1.5px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber04_1xNIK {
  animation-delay: -0.3s;
  opacity: 0.26;
  stroke-width: 2.0px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber05_3-JE0 {
  animation-delay: -0.4s;
  opacity: 0.33;
  stroke-width: 2.5px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber06_2cl-m {
  animation-delay: -0.5s;
  opacity: 0.40;
  stroke-width: 3.0px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber07_11MVp {
  animation-delay: -0.6s;
  opacity: 0.46;
  stroke-width: 3.5px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber08_3s_7m {
  animation-delay: -0.7s;
  opacity: 0.53;
  stroke-width: 4.0px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber09_ktVJ4 {
  animation-delay: -0.8s;
  opacity: 0.6;
  stroke-width: 4.5px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber10_3MGYo {
  animation-delay: -0.9s;
  opacity: 0.66;
  stroke-width: 5.0px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber11_xFmZa {
  animation-delay: -1.0s;
  opacity: 0.73;
  stroke-width: 5.5px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber12_1pj1Q {
  animation-delay: -1.1s;
  opacity: 0.8;
  stroke-width: 6.0px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber13_1X-5j {
  animation-delay: -1.2s;
  opacity: 0.86;
  stroke-width: 6.5px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber14_2FGCn {
  animation-delay: -1.3s;
  opacity: 0.93;
  stroke-width: 7.0px; }

.throbber_LoadingWrapper_2wAKy .SVGIcon_Throbber .throbber_roundThrobber15_2LGHp {
  animation-delay: -1.4s;
  opacity: 1;
  stroke-width: 7.5px; }

@keyframes throbber_ThrobberRoundLoopThickness_1fs4R {
  0% { }
  /*
	10%
	{
		stroke-width: 4.5px;
	}
	20%
	{
		stroke-width: 2px;
	}
	30%
	{
		stroke-width: 4.5px;
	}
	40%
	{
		stroke-width: 2px;
	}
	50%
	{
		stroke-width: 4.5px;
	}
	60%
	{
		stroke-width: 9px;
	}
	70%
	{
		stroke-width: 4.5px;
	}
	80%
	{
		stroke-width: 9px;
	}
	90%
	{
		stroke-width: 9px;
	}*/
  100% {
    stroke-dashoffset: -1100.00; } }

.throbber_throbber_small_2zbyh {
  width: 36px;
  height: 36px; }

.throbber_throbber_medium_2CphU {
  width: 64px;
  height: 64px; }

.throbber_throbber_large_1x18v {
  width: 92px;
  height: 92px; }

.throbber_throbber_xlarge_1gYeZ {
  width: 120px;
  height: 120px; }

.throbber_throbber_xxlarge_3j-p4 {
  width: 240px;
  height: 240px; }

.SVGIcon_Button {
  fill: #ffffff;
  overflow: visible;
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 320px; }

.shared_svg_library_EmoticonBow_2Llzt {
  position: absolute;
  top: -15px;
  right: 0;
  bottom: 0;
  left: 0; }

.shared_svg_library_EmoticonBow_st0_Fw2WG {
  opacity: 0.4;
  fill: #231F20; }

.shared_svg_library_EmoticonBow_st1_luj0t {
  fill: #E41E25; }

.toggle_Toggle_3POJz {
  width: 40px;
  height: 16px;
  position: relative;
  cursor: pointer;
  transition: opacity .2s ease-in-out; }
  .toggle_Toggle_3POJz.toggle_Disabled_1jIKG {
    cursor: default;
    opacity: 0.6; }
  .toggle_Toggle_3POJz .toggle_ToggleRail_3DiLY {
    height: 10.66667px;
    width: 36px;
    border-radius: 5.33333px;
    box-shadow: inset 1px 1px 1px #0007;
    position: absolute;
    left: 2.66667px;
    top: 2.66667px;
    background-color: #26292e; }
    .toggle_Toggle_3POJz .toggle_ToggleRail_3DiLY.toggle_Highlight_2FNJu {
      background-color: #2d5a81;
      transition: width .2s ease-in-out; }
      .toggle_Toggle_3POJz .toggle_ToggleRail_3DiLY.toggle_Highlight_2FNJu.toggle_On_3N31m {
        width: 36px; }
      .toggle_Toggle_3POJz .toggle_ToggleRail_3DiLY.toggle_Highlight_2FNJu.toggle_Off_1Qa-r {
        width: 0; }
  .toggle_Toggle_3POJz .toggle_ToggleSwitch_21X4K {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px #000a;
    position: absolute;
    left: 0;
    transition: transform .2s ease-in-out, background-color .2s ease-in-out; }
    .toggle_Toggle_3POJz .toggle_ToggleSwitch_21X4K.toggle_On_3N31m {
      background-color: #16a1e1;
      background-image: linear-gradient(to bottom, #01c7f9, #3066f5);
      transform: translateX(25.33333px); }
    .toggle_Toggle_3POJz .toggle_ToggleSwitch_21X4K.toggle_Off_1Qa-r {
      background-color: #4b525d; }

.toggle_ToggleRow_NnxzA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 3px;
  background-color: rgba(59, 63, 72, 0.5); }
  .toggle_ToggleRow_NnxzA .toggle_Label_xK7Vv {
    color: #dfe3e6;
    font-size: 14px;
    font-weight: 300; }
    .toggle_ToggleRow_NnxzA .toggle_Label_xK7Vv.toggle_Disabled_1jIKG {
      opacity: 0.3; }

.contextmenu_ContextMenuMouseOverlay_3Knd7 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1599; }

.contextmenu_ContextMenuFocusContainer_1S6CC:focus {
  outline: none; }

.contextmenu_contextMenu_PP7LM {
  position: absolute;
  background: radial-gradient(ellipse farthest-corner at 50% 0%, #3c4047 0%, #3c4047 50%, #33363d 100%);
  box-shadow: 0 10px 32px 0px #000000ab;
  opacity: 1.0;
  transition: opacity 200ms;
  z-index: 1600;
  user-select: none;
  padding: 4px; }

.web_chat_frame .contextmenu_contextMenu_PP7LM {
  max-height: calc( 100% - 128px);
  overflow-y: auto;
  overflow-x: hidden; }

html.contextmenu_ContextMenuPopup_14wqd .contextmenu_contextMenu_PP7LM {
  position: static;
  box-shadow: none;
  display: inline-block;
  padding: 0; }

html.contextmenu_ContextMenuPopup_14wqd .contextmenu_contextMenuContents_2EstN {
  padding: 4px; }

html.contextmenu_ContextMenuPopup_14wqd .contextmenu_contextMenuItem_1n7Wl {
  min-width: fit-content; }

.contextmenu_contextMenuContents_2EstN {
  display: flex;
  flex-direction: column;
  padding: 0px;
  font-size: 14px;
  -webkit-app-region: no-drag; }

.contextmenu_contextMenu_PP7LM:not(.visible) {
  opacity: 0;
  pointer-events: none; }

.contextmenu_contextMenuItem_1n7Wl {
  padding: 4px 6px;
  line-height: 20px;
  color: #9ca4a7;
  border-top: 0.5px solid rgba(80, 87, 94, 0.5);
  border-bottom: 0.5px solid rgba(80, 87, 94, 0);
  cursor: default;
  position: relative;
  min-width: 120px;
  /* Separate menu sections with extra space and different header text style. */
  /* Visually separate from items above it */ }
  .contextmenu_contextMenuItem_1n7Wl:first-child {
    border-top: 0.5px solid rgba(80, 87, 94, 0); }
  .contextmenu_contextMenuItem_1n7Wl:hover, .contextmenu_contextMenuItem_1n7Wl.contextmenu_active_18z-3 {
    background: #5a6069;
    color: #b8c5c9; }
  .contextmenu_contextMenuItem_1n7Wl.disabled {
    background: none;
    color: #6b7072;
    cursor: default;
    pointer-events: none; }
    .contextmenu_contextMenuItem_1n7Wl.disabled:hover {
      background: none;
      color: #6b7072;
      cursor: default; }
  .contextmenu_contextMenuItem_1n7Wl.menuChecked {
    color: #6dcff6; }
    .contextmenu_contextMenuItem_1n7Wl.menuChecked.contextMenuCheckMark {
      display: block; }
  .contextmenu_contextMenuItem_1n7Wl.contextmenu_MenuSectionHeader_2Bb4J {
    padding-top: 8px;
    font-size: 12px;
    text-transform: uppercase; }
  .contextmenu_contextMenuItem_1n7Wl.contextmenu_StrongerSeparation_1BNck {
    border-top-color: dimgray; }
  .contextmenu_contextMenuItem_1n7Wl.contextmenu_UpperCase_uz1Xm {
    text-transform: uppercase; }
  .contextmenu_contextMenuItem_1n7Wl .SVGIcon_Button {
    height: 10px;
    width: 10px;
    margin-right: 4px; }
  .contextmenu_contextMenuItem_1n7Wl.contextmenu_SubMenu_2RlEO {
    display: flex;
    padding-right: 2px; }
    .contextmenu_contextMenuItem_1n7Wl.contextmenu_SubMenu_2RlEO .contextmenu_Label_2qdHl {
      flex: 1 0 auto; }
    .contextmenu_contextMenuItem_1n7Wl.contextmenu_SubMenu_2RlEO .contextmenu_Arrow_114nF {
      flex: 0 0 auto;
      margin: 0px 0px 0px 4px; }
    .contextmenu_contextMenuItem_1n7Wl.contextmenu_SubMenu_2RlEO .SVGIcon_DownArrowContextMenu {
      height: 14px;
      width: 14px;
      transform: rotateZ(-90deg);
      fill: #9ca4a7;
      margin: 0px 3px; }
  .contextmenu_contextMenuItem_1n7Wl .SVGIcon_PlusCircle {
    height: 16px;
    width: 16px;
    margin-left: -3px;
    margin-bottom: -3px; }
    .contextmenu_contextMenuItem_1n7Wl .SVGIcon_PlusCircle line {
      stroke: gray;
      shape-rendering: crispEdges;
      stroke-width: 20px; }
    .contextmenu_contextMenuItem_1n7Wl .SVGIcon_PlusCircle circle {
      opacity: 0; }

.contextMenuCheckMark {
  width: 4px;
  height: 18px;
  background-color: #6dcff6;
  min-height: 1px;
  display: inline-block;
  position: absolute;
  left: -4px;
  margin-top: 0px;
  display: none; }

.contextmenu_PopoutSubMenu_Baq37 {
  position: relative;
  width: 100%;
  overflow: visible; }
  .contextmenu_PopoutSubMenu_Baq37 .contextmenu_PopoutSubMenuItems_2fZ_e {
    position: absolute;
    width: 60%;
    height: fit-content;
    left: 100%;
    top: 0;
    background: radial-gradient(ellipse farthest-corner at 50% 0%, #3c4047 0%, #3c4047 50%, #33363d 100%);
    box-shadow: 0 10px 32px 0px #000000ab;
    opacity: 1.0;
    word-wrap: break-word; }

.dropdown_DialogDropDownMenu_Item_2oAiZ {
  padding: 10px 15px;
  cursor: pointer; }
  .dropdown_DialogDropDownMenu_Item_2oAiZ:hover {
    background: #3e444d; }

.dropdown_DialogDropDownMenu_30wJO._DialogInputContainer {
  background: #373c44;
  box-shadow: 0px 8px 26px 2px rgba(0, 0, 0, 0.2);
  margin-top: 2px; }

.hoverposition_HoverPosition_3vg1v {
  position: fixed;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.25s;
  pointer-events: none; }
  .hoverposition_HoverPosition_3vg1v.hoverposition_Ready_1Ye_0 {
    opacity: 1; }
  .hoverposition_HoverPosition_3vg1v.hoverposition_NoSpace_pxVZH {
    display: none; }

.hoverposition_EnablePointerEvents_2b9OE {
  pointer-events: all; }

.hoverposition_HoverAboveModal_EQqOx {
  z-index: 2000; }

.tooltip_TextToolTip_2FxbH {
  box-sizing: border-box;
  font-size: 13px;
  background-color: #696773;
  border-radius: 2px;
  color: #e0e1e6;
  padding: 6px 8px;
  box-shadow: 1px 1px 8px #0005, 2px 2px 16px 1px #0005;
  max-width: 300px;
  user-select: none; }

.tooltip_ToolTipCustom_3XGRk {
  box-sizing: border-box;
  font-size: 13px;
  background-color: #696773;
  border-radius: 2px;
  color: #e0e1e6;
  padding: 6px 8px;
  box-shadow: 1px 1px 8px #0005, 2px 2px 16px 1px #0005;
  max-width: 300px;
  user-select: none; }
  .tooltip_ToolTipCustom_3XGRk .tooltip_ToolTipTitle_1LhVf {
    color: #e0e1e6; }
    .tooltip_ToolTipCustom_3XGRk .tooltip_ToolTipTitle_1LhVf.tooltip_Center_2ZDqE {
      text-align: center; }
  .tooltip_ToolTipCustom_3XGRk .tooltip_ToolTipInsetContent_i4LuY {
    color: #aaacb6;
    margin: 6px 4px; }

.pagedsettings_PagedSettingsDialog_2sssI {
  /*width: 842px;*/
  display: flex;
  flex-direction: row;
  height: 720px; }

.pagedsettings_PagedSettingsDialog_PageContent_CFTLX {
  flex: 3; }

.pagedsettings_PagedSettingsDialog_PageContent_CFTLX .DialogHeader {
  margin-right: 0; }

.pagedsettings_PagedSettingsDialog_PageListColumn_2kwFF {
  background: #2a2d34;
  flex: 1;
  min-width: 140px;
  max-width: 220px;
  padding-left: 24px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  position: relative; }

.pagedsettings_PagedSettingsDialog_Title_2rjVT {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #4297f8;
  font-weight: 300;
  font-size: 13px;
  user-select: none; }

.pagedsettings_PagedSettingsDialog_PageList_18QCu {
  line-height: 16px;
  white-space: nowrap;
  overflow-y: overlay;
  flex-shrink: 1; }

.pagedsettings_PagedSettingsDialog_PageListItem_1-vlr {
  white-space: normal;
  max-width: 180px;
  text-overflow: ellipsis;
  color: #7e7e7e;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 14px;
  user-select: none; }
  .pagedsettings_PagedSettingsDialog_PageListItem_1-vlr.pagedsettings_DisabledItem_oUzYn, .pagedsettings_PagedSettingsDialog_PageListItem_1-vlr.pagedsettings_DisabledItem_oUzYn:hover, .pagedsettings_PagedSettingsDialog_PageListItem_1-vlr.pagedsettings_DisabledItem_oUzYn:not(.pagedsettings_Active_2DpXj):hover {
    color: #414141; }
  .pagedsettings_PagedSettingsDialog_PageListItem_1-vlr:not(.pagedsettings_Active_2DpXj):hover {
    color: #cccccc; }
  .pagedsettings_PagedSettingsDialog_PageListItem_1-vlr.pagedsettings_Active_2DpXj {
    color: #ffffff;
    cursor: default; }

body.modals_BodyNoScroll_32ZiC {
  overflow-y: hidden;
  height: 100vh; }

body.modals_BodyNoScrollDialog_105OB {
  overflow-y: hidden;
  height: 100vh; }

.modals_OverlayModal_1yDps {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1500; }

body,
body.shared_common_v6_2Lxgd {
  color: #969696;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif; }

button {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif; }

img {
  -webkit-user-drag: none; }

/* Style scrollbar elements */
::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: transparent;
  z-index: 12;
  overflow: visible; }

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #434953;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color .32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px; }

::-webkit-scrollbar-thumb:hover {
  background: #4E5157; }

::-webkit-scrollbar-corner {
  background: #202020; }

::selection {
  background: #54a5d4;
  text-shadow: 1px 1px 2px #000000aa;
  color: #fff; }

.shared_common_SubText_vg0EO {
  color: gray;
  font-size: 10px; }

.shared_common_AvatarImageContainer_33hdF {
  width: 34px;
  height: 34px;
  border-radius: 25%;
  overflow: hidden;
  margin-right: 4px; }

.shared_common_GameImageContainer_2OYAD {
  width: 70px;
  height: 45px;
  border-radius: 25%;
  overflow: hidden;
  margin-right: 4px; }

.shared_common_AvatarImage_2CQYc {
  width: 100%;
  height: 100%;
  border-radius: 25%;
  position: relative; }
  .shared_common_AvatarImage_2CQYc:after {
    content: "N/A";
    display: block;
    color: #555;
    font-size: 10px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #201e25; }
  .shared_common_STV_HomeGridPreviewDetails_Yncr- .shared_common_AvatarImage_2CQYc {
    border: 2px solid red; }

.shared_common_ChatAvatarImage_1cUR_ {
  width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #201e25; }

.shared_common_EditButton_VsZ-b {
  text-transform: uppercase;
  /*background: linear-gradient(to right, #3366ff, #7d6ebc);*/
  background: rgba(0, 0, 0, 0);
  border: 1px #7d6ebc solid;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 2px;
  font-size: 14px;
  color: #7d6ebc;
  user-select: none;
  cursor: pointer;
  margin-top: 4px;
  margin-right: 4px; }
  .shared_common_EditButton_VsZ-b.shared_common_Small_3M4j8 {
    font-size: 9px;
    padding: 4px 8px; }

.shared_common_FlexCenter_1R3yc {
  display: flex;
  align-items: center;
  justify-content: center; }

.shared_common_ThrobberCtn_3m7p6 {
  height: 100%;
  min-height: 420px; }

.shared_common_MarkdownLink_1Wqum {
  text-decoration: underline;
  color: inherit; }

.shared_common_SummaryTextArea_cNMZ- {
  width: 100%;
  resize: none;
  max-height: 100px;
  background: rgba(59, 63, 72, 0.5);
  color: #dfe3e6;
  font-size: 14px;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 4px;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px #0000;
  transition: all .2s ease-in-out; }
  .shared_common_SummaryTextArea_cNMZ-:focus {
    background: rgba(67, 73, 83, 0.6);
    box-shadow: inset 1px 1px 8px #000a;
    padding-left: 6px;
    outline: none; }

.shared_common_RemoveIcon_3NeLW {
  cursor: pointer;
  width: 16px;
  height: 16px; }

/* reset browser styles */
button.DialogButton {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

button.DialogButton {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  margin: 2px 0;
  user-select: none;
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input.DialogInput::-moz-focus-inner,
button.DialogButton::-moz-focus-inner {
  border: 0;
  padding: 0; }

.DialogInputPlaceholder::placeholder,
.DialogInputPlaceholder::-webkit-input-placeholder {
  color: #969696;
  font-style: italic; }

/* for some reason, mixing these with ::placeholder confuses chrome */
.DialogInputPlaceholder::-ms-input-placeholder,
.DialogInputPlaceholder:-ms-input-placeholder {
  color: #969696;
  font-style: italic; }

.PopupFullWindow {
  height: 100%; }

.FullModalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1500; }

.FullModalOverlay.NotReadyToRender {
  background: black; }

.FullModalOverlay .ModalPosition_Content {
  height: initial;
  width: initial;
  max-width: 88vw;
  max-height: 90vh; }

@media screen and (max-height: 640px) {
  .FullModalOverlay .ModalPosition_Content {
    max-height: 95vh; } }

.ModalOverlayContent {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.ModalOverlayContent.inactive {
  z-index: 5; }

.ModalOverlayContent.active {
  z-index: 10; }

.ModalOverlayBackground {
  background: rgba(0, 0, 0, 0.8);
  z-index: 7; }

.ModalOverlayBackground.NotificationBrowserWarning {
  background: rgba(0, 0, 0, 0.9); }

.DialogBody {
  /*border: 2px dotted #f005;*/
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto; }

.DialogBody a {
  color: #6dcff6;
  text-decoration: none; }

.DialogBody a:hover {
  color: #b0e9ff; }

.ModalDialogPopup .DialogContentTransition .DialogBody {
  overflow-y: scroll; }

.DialogInnerBody {
  flex: 1;
  overflow: auto;
  padding-right: 2px;
  padding-bottom: 16px; }

.ModalDialogPopup .ModalDialogBody {
  margin: 0px; }

/* We need .title-area for dragging the window, but if it covers the entire dialog, it blocks click events from the buttons. */
.ModalDialogPopup .ModalDialogBody .title-area {
  height: 80px; }

.ModalDialogPopup .DialogInnerBody {
  overflow-y: scroll;
  overflow-x: hidden; }

.ModalPosition {
  display: flex;
  align-content: center;
  height: 100%;
  flex-direction: column; }

.ModalPosition:focus {
  outline: none; }

.ModalPosition.Hidden .ModalPosition_Content {
  visibility: hidden; }

.ModalDialogPopup .ModalPosition_Dismiss {
  display: none; }

.ModalPosition_Dismiss {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 1; }

.ModalPosition_Dismiss .closeButton {
  width: 14px;
  height: 14px;
  padding: 4px;
  background-size: cover;
  cursor: pointer;
  background-image: none;
  border-radius: 4px; }

.ModalPosition_Dismiss .closeButton .SVGIcon_X_Line line {
  stroke: #788a92;
  stroke-width: 24px; }

.ModalPosition_Dismiss .closeButton:hover .SVGIcon_X_Line line {
  stroke: white; }

.ModalPosition_Dismiss .closeButton:hover {
  opacity: 1.0; }

.ModalPosition_Content {
  box-shadow: 0px 8px 38px 5px rgba(0, 0, 0, 0.75);
  margin: auto;
  font-weight: 300;
  color: #969696;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: column; }

.ModalPosition_Content > div:not(.ModalPosition_TopBar):not(.ModalPosition_Dismiss) {
  min-height: 0;
  min-width: 0;
  flex-shrink: 1;
  flex-grow: 1; }

.PopupFullWindow .ModalPosition_Content > div:not(.ModalPosition_TopBar):not(.ModalPosition_Dismiss) {
  flex: 1; }

.DialogContent,
.DialogContentTransition {
  background: radial-gradient(circle at top left, rgba(74, 81, 92, 0.4) 0%, rgba(75, 81, 92, 0) 60%), #25282e;
  user-select: none; }

.DialogContentTransition {
  display: flex;
  width: 664px;
  max-width: calc( 100% - 64px);
  flex: 3.3;
  position: relative; }

.ModalDialogPopup .DialogContentTransition {
  display: block; }

.ModalDialogPopup .DialogContentTransition > .DialogContent {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0; }

.DialogContent {
  padding: 24px;
  display: flex;
  overflow: visible;
  position: relative; }

.DialogToggle_Label {
  user-select: none; }

.contextMenuItem .DialogToggle_Label {
  white-space: nowrap; }

._DialogNote {
  font-size: 12px;
  text-transform: uppercase; }

._DialogCenterVertically {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.DialogContent_InnerWidth {
  max-width: 600px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  /*border: 0.5px dashed #f805;*/ }

.DialogContent.DialogContentFullSize {
  width: max-content; }

.DialogContentFullSize .DialogContent_InnerWidth {
  max-width: none; }

.ModalDialogPopup .DialogContent {
  overflow: visible; }

.ModalDialogPopup .DialogContent_InnerWidth {
  max-width: none; }

.DialogContent_InnerWidth > form {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1; }

.ModalPosition_TopBar {
  height: 1px;
  background: linear-gradient(to right, #00ccff, #3366ff); }

.Destructive .ModalPosition_TopBar {
  background: linear-gradient(to right, #c44848, #c44848); }

/* Needs to target only the ModalPosition provided to the popup window and avoid being applied
   to the additional, generic popups that can be placed inside the modal */
.ModalDialogPopup .PopupFullWindow > .ModalPosition,
.ModalDialogPopup .PopupFullWindow > .ModalPosition > .ModalPosition_Content {
  max-width: none;
  max-height: none;
  width: 100%;
  height: 100%; }

.DialogHeader {
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  flex-shrink: 0;
  user-select: none;
  margin-right: 26px;
  margin-bottom: 12px; }

.DialogSubHeader {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  flex-shrink: 0;
  user-select: none;
  margin-right: 26px; }

.DialogContent_InnerWidth .DialogBody .DialogHeader {
  margin-right: 0px; }

.DialogHeaderSubtitle {
  color: #6e7985;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: none; }

.DialogHighlight {
  color: #4297f8; }

.DialogFooter {
  margin-top: 16px;
  flex-shrink: 0; }

.DialogBodyText {
  color: #969696;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  margin-bottom: 32px;
  user-select: none; }

.DialogBodyText p {
  user-select: text; }

.DialogBodyText p a {
  color: #969696;
  text-decoration: underline; }

.DialogBodyText p a:hover {
  color: #ffffff; }

.DialogLabel {
  cursor: default; }

.DialogLabel,
.DialogLabelStrong {
  font-weight: 300;
  color: #969696;
  text-transform: uppercase;
  line-height: 19px;
  font-size: 13px;
  margin-bottom: 4px;
  user-select: none;
  letter-spacing: initial; }

.DialogLabelStrong .DialogLabel,
.DialogLabel.DialogLabelStrong {
  text-transform: none;
  color: #dedede; }

.disabled .DialogLabelStrong .DialogLabel,
.disabled .DialogLabel.DialogLabelStrong {
  color: #424853; }

.DialogHBar {
  flex: 1;
  min-height: 1px;
  max-height: 1px;
  background: linear-gradient(to right, #393e47 0%, #40464f 20%, #393e47 100%);
  margin-bottom: 16px; }

.OrSeparator .DialogHBar {
  margin: 0; }

._DialogRow {
  display: flex;
  flex-direction: row;
  padding: 4px;
  padding-left: 12px;
  margin-bottom: 6px;
  justify-content: space-between;
  flex-shrink: 0; }

._DialogRow._DialogRowBackground {
  background: linear-gradient(to right, #383d45, #383d45); }

._DialogRow ._DialogRowAction {
  flex: 1; }

._DialogRow ._DialogRowSecondaryLabel,
._DialogRow ._DialogRowLabel {
  flex: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  align-self: center;
  display: flex;
  flex-direction: row; }

._DialogRow ._DialogRowSecondaryLabel {
  display: block;
  flex: 1;
  line-height: 32px;
  text-align: center;
  margin: 2px 0; }

._DialogRow ._DialogRowLabel .SVGIcon_Button {
  width: 24px;
  height: 24px; }

.disabledNotice {
  color: rgba(184, 156, 80, 0.75);
  margin-left: 4px; }

.DialogLabelExplainer {
  text-transform: none;
  text-align: center;
  font-weight: 300;
  color: #7e7e7e;
  font-size: 13px;
  margin-top: 4px; }

.DialogInput {
  border: 1px solid white; }

.DialogLabelExplainer.Left {
  text-align: left; }

.DialogInputRequirementLabel {
  color: #b80505;
  margin-left: 15px; }

.DialogRequirementLabel {
  color: #b80505; }

.DialogInputLabelGroup {
  margin-bottom: 22px; }

._DialogSection {
  margin-bottom: 26px; }

.DialogTextInputBase,
._DialogInputContainer {
  background: rgba(59, 63, 72, 0.5);
  color: #dfe3e6;
  font-size: 14px;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px #0000;
  transition: all .2s ease-in-out; }

.DialogTextInputBase:focus {
  background: rgba(67, 73, 83, 0.6);
  box-shadow: inset 1px 1px 8px #000a;
  padding-left: 11px; }

.DialogTextInputBase:not(disabled):hover {
  background: rgba(67, 73, 83, 0.6); }

.DialogTextInputBase:disabled:hover {
  background: rgba(67, 73, 83, 0.3); }

._DialogInputContainer {
  padding: 12px;
  line-height: 18px;
  margin-bottom: 22px; }

._DialogInputContainer:focus {
  outline: none; }

.DialogOnOffToggle._DialogInputContainer {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  padding-left: 12px; }

.DialogOnOffToggle.Disabled .DialogToggle_Label {
  color: #555; }

._DialogInputContainer.Active {
  /*outline: 1px solid rgba( 31, 141, 254, 1.0 );*/ }

.DialogDropDown._DialogInputContainer.Active {
  outline: none; }

.DialogTextInputBase.inviteURLLink {
  padding: 0 12px;
  background: #30353b;
  margin-right: 4px;
  flex-grow: 4;
  box-shadow: inset 0px 0px 4px #0006;
  border: 0.5px solid rgba(139, 153, 170, 0.4);
  border-style: inset; }

.DialogTextInputBase:disabled,
.DialogTextInputBase:read-only {
  color: rgba(136, 136, 136, 0.7); }

.InviteLinksTable .DialogInput {
  padding: 5px;
  margin: 5px;
  margin-right: 30px; }

.DialogInput_Wrapper {
  display: flex;
  flex-direction: row;
  position: relative; }

.DialogInput_Wrapper > input.DialogInput {
  flex: 1; }

.DialogInput_Wrapper > input.DialogInput:focus {
  outline: none; }

button.DialogButton:focus {
  outline: none; }

button.DialogButton.DialogInput_CopyAction {
  width: auto;
  padding-left: 16px;
  padding-right: 16px; }

.DialogInput_ClearAction {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  width: 24px;
  cursor: pointer; }

.DialogInput_ClearAction .SVGIcon_X_Line line {
  stroke-width: 22px;
  stroke: #aaa; }

.DialogInput_ClearAction:hover .SVGIcon_X_Line line {
  stroke: #fff; }

.DialogInput {
  display: block;
  line-height: 22px;
  padding: 10px; }

button.DialogButton {
  display: block;
  line-height: 32px;
  color: #dfe3e6;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  /*margin-bottom: 22px;*/
  cursor: pointer;
  transition: 0.1s all;
  width: 100%;
  background: transparent;
  transition: all 0.2s ease-out;
  background: #3d4450;
  background-position: 99% 1%;
  background-size: 300% 300%;
  position: relative; }

button.DialogButton::before {
  pointer-events: none;
  user-select: none;
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 200ms ease-in-out; }

button.DialogButton:disabled:hover::before,
button.DialogButton:disabled::before {
  opacity: 0; }

button.DialogButton:hover::before {
  opacity: 1; }

button.DialogButton:active::before {
  opacity: 0; }

button.DialogButton.DialogButtonTall {
  height: 44px; }

.VoiceSettings .advancedSettingsButton {
  margin-bottom: 0px;
  margin-top: 16px; }

.VoiceSettings .advancedSettings {
  margin-bottom: 16px; }

.DialogBody.VoiceSettings ._FixedHeight {
  padding-bottom: 16px; }

button.DialogButton.Primary {
  background: transparent;
  background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
  background-position: 25%;
  background-size: 330% 100%; }

button.DialogButton.GreenPlay {
  background: linear-gradient(to right, #8ac329 0%, #4a7a16 60%);
  background-position: 25%;
  background-size: 330% 100%; }

button.DialogButton.GreenPlay:hover {
  background: linear-gradient(to right, #8ac329 0%, #4a7a16 60%);
  background-position: 0%;
  background-size: 330% 100%;
  color: white; }

button.DialogButton.GreenPlay:active,
button.DialogButton.GreenPlay:active:hover {
  background: linear-gradient(to right, #8ac329 0%, #4a7a16 60%);
  background-position: 40%;
  transition-duration: .04s; }

button.DialogButton.Secondary.Off {
  box-shadow: inset 1px 1px 4px #0003; }

button.DialogButton:enabled:active,
button.DialogButton:enabled:active:hover {
  background: #393f49;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
  transition-duration: .04s; }

button.DialogButton.Primary:hover {
  background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
  background-position: 0%;
  background-size: 330% 100%;
  color: white; }

button.DialogButton.Primary:enabled:active,
button.DialogButton.Primary:enabled:hover:active {
  background: linear-gradient(to right, #47bfff 0%, #1a44c2 60%);
  background-position: 40%;
  transition-duration: .04s; }

button.DialogButton:hover {
  background: #464d58;
  color: white; }

button.DialogButton:disabled,
button.DialogButton:disabled:hover {
  background: rgba(61, 67, 77, 0.35);
  color: #464d58;
  box-shadow: none;
  cursor: default; }

button.DialogButton.Small {
  line-height: 22px; }

button.TextButton {
  background-color: transparent;
  border: 0px hidden transparent;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  padding: 0;
  color: white;
  cursor: pointer;
  font-weight: 100;
  border-bottom: 1px dotted #0000; }

button.TextButton .SVGIcon_Button {
  transition: all .20s ease-in-out;
  margin-right: 2px; }

button.TextButton:hover {
  color: white; }

button.TextButton:focus {
  outline: none; }

.DialogButton .SVGIcon_Button {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 2px; }

.DialogButton:disabled .SVGIcon_Button {
  opacity: .1; }

.DialogOnOffToggle_NewUIContainer {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.DialogOnOffToggle_Control {
  float: right;
  position: relative;
  line-height: 30px;
  overflow: hidden;
  border-radius: 3px;
  background: #3a3f48;
  color: rgba(223, 227, 230, 0.5);
  font-size: 14px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
  align-self: flex-start;
  flex-shrink: 0;
  margin-left: 6px; }

.DialogOnOffToggle_Option {
  text-transform: uppercase;
  width: 66px;
  text-align: center;
  cursor: pointer;
  transition-property: color, background;
  transition-duration: 250ms; }

.DialogOnOffToggle_Option:hover:not(.Active) {
  background: #464d58; }

.Disabled .DialogOnOffToggle_Option:hover:not(.Active),
.Disabled .DialogOnOffToggle_Option.Active,
.Disabled .DialogOnOffToggle_Option {
  background-color: transparent;
  color: #555;
  cursor: default; }

.Disabled .DialogOnOffToggle_Option.Active {
  color: #666; }

.Disabled .DialogOnOffToggle_Option.Active {
  background-color: #434953; }

.DialogToggle_Description {
  color: #808080;
  line-height: 19px;
  font-size: 13px;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  padding-top: 8px; }

.DialogOnOffToggle_Option.Active {
  color: #dfe3e6;
  background: #2d73ff; }

.DialogOnOffToggle_Option.Off.Active {
  color: #dfe3e6;
  background: #5f6875; }

.DialogOnOffToggle_Option:hover {
  color: white; }

.DialogMenuPosition {
  position: absolute;
  z-index: 1600;
  overflow: auto; }

.DialogMenuPosition:not(.visible) {
  opacity: 0;
  pointer-events: none; }

.DialogDropDown {
  cursor: pointer;
  position: relative; }

.DialogDropDown.Disabled {
  cursor: initial; }

.DialogDropDown:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.16); }

.DialogDropDown._DialogInputContainer {
  margin-bottom: 0;
  user-select: none; }

.DialogDropDown_Arrow {
  position: absolute;
  width: 18px;
  top: 14px;
  right: 10px; }

.DialogDropDown_Arrow .SVGIcon_DownArrowContextMenu {
  fill: #189cff; }

._DialogColLayout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

._DialogColLayout > ._DialogLayout {
  flex: 1;
  box-sizing: border-box; }

.DialogTwoColLayout > ._DialogLayout {
  max-width: calc( 50% - 14px);
  min-width: 200px; }

.DialogThreeColLayout > ._DialogLayout,
.DialogTwoThirdColLayout > ._DialogLayout:nth-child(2n+1) {
  max-width: calc( 33.33% - 9px);
  min-width: 133px; }

.DialogTwoThirdColLayout > ._DialogLayout {
  max-width: calc( 66.66% - 18px);
  min-width: 266px; }

.DialogLayout_NoMinWidth > ._DialogLayout,
.DialogTwoThirdColLayout.DialogLayout_NoMinWidth > ._DialogLayout {
  min-width: 0; }

.DialogDraggable {
  cursor: -webkit-grab;
  cursor: grab;
  user-select: none; }

.DialogDraggable.DraggedOut {
  display: none; }

.DialogDraggable_DropGhost {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  opacity: 0.75; }

.DialogDraggable_DragGhost {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  position: fixed;
  opacity: 0.75;
  z-index: 5000; }

.DialogDropRegion.Active {
  /* border: 1px dashed salmon; */ }

.DialogSlider_Container:focus {
  outline: none; }

.DialogSlider_Slider {
  border: 4px solid #2a2d33;
  border-radius: 10px;
  position: relative;
  height: 10px;
  background: #202226;
  cursor: pointer;
  box-shadow: inset 0px 11px 8px -10px #131313;
  user-select: none; }

.DialogSlider_Value {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #00ccff 0%, #2d73ff 80%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.DialogSlider_Grabber {
  position: absolute;
  top: -1px;
  bottom: -3px;
  margin-left: -6px;
  /* should be half of width */
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #89e7ff 0%, #80aaff 80%);
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }

.DialogProgressBar_ProgressBarContainer {
  border: 4px solid #2a2d33;
  border-radius: 10px;
  position: relative;
  height: 10px;
  background: #202226;
  cursor: pointer;
  box-shadow: inset 0px 11px 8px -10px #131313;
  user-select: none;
  overflow: hidden; }

.DialogProgressBar_Value {
  height: 100%;
  background: linear-gradient(to bottom, #00ccff 0%, #2d73ff 80%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 0px;
  transition: all .2s linear; }

.DialogListBuilderInput_List {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  line-height: 26px; }

.DialogListBuilderInput_Input {
  border: none;
  background: transparent;
  color: white;
  outline: none; }

.DialogListBuilderInput_Input:focus {
  outline: none; }

.DialogSpanningTable {
  width: 100%;
  border-spacing: 0px 6px;
  table-layout: fixed; }

.DialogSpanningTable th {
  font-weight: normal;
  text-align: left;
  font-size: 12px;
  height: 20px;
  text-transform: uppercase; }

.DialogSpanningTable.BannedUsersTable tr.hoverRow,
.DialogSpanningTable.InvitedUsersTable tr.hoverRow,
.DialogSpanningTable.InviteLinksTable tbody tr {
  background: linear-gradient(to right, #383d45, #383d45); }

.DialogSpanningTable tr.hoverRow:hover {
  background-color: #393d46; }

.DialogSpanningTable td.friendCell {
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px; }

.DialogSpanningTable td.dateCell {
  text-align: left;
  font-size: 14px; }

.DialogSpanningTable td.buttonCell {
  padding-left: 5px;
  padding-right: 10px; }

.BannedUsersTable th.friendColumn,
.InvitedUsersTable th.friendColumn {
  width: auto; }

.BannedUsersTable th.dateColumn,
.InvitedUsersTable th.dateColumn {
  width: 175px; }

.BannedUsersTable th.buttonColumn,
.InvitedUsersTable th.buttonColumn {
  width: 130px; }

.InviteLinksTable .inviteCodeColumn {
  width: auto; }

.InviteLinksTable .dateColumn {
  width: 175px; }

.InviteLinksTable .buttonColumn {
  width: 130px; }

.DialogSpanningTable th.tableAlignRight,
.DialogSpanningTable td.tableAlignRight {
  text-align: right; }

.DialogCheckbox_Container {
  cursor: pointer;
  padding: 4px;
  margin-bottom: 8px; }

.DialogCheckbox_Container .DialogCheckbox {
  float: left;
  margin-right: 8px; }

.DialogCheckbox {
  width: 22px;
  height: 22px;
  background-color: #0004;
  padding: 0;
  box-shadow: inset 1px 0.5px 3px rgba(1, 1, 1, 0.4);
  cursor: pointer;
  border-radius: 2px; }

.DialogCheckbox .SVGIcon_DialogCheck {
  opacity: 0;
  transition: all .1s ease-in-out;
  width: 18px;
  height: 18px;
  margin-top: 9%;
  margin-left: 12%; }

.DialogCheckbox .SVGIcon_DialogCheck path {
  stroke-width: 40px;
  stroke-dashoffset: -270.00;
  transition: all .18s ease-out;
  transition-timing-function: cubic-bezier(1, 0, 1, 0.65);
  transition-delay: .3s; }

.DialogCheckbox.Active .SVGIcon_DialogCheck path {
  stroke-dashoffset: 90.00;
  transition-timing-function: cubic-bezier(1, 0, 1, 0.65);
  transition-delay: 0s; }

.DialogCheckbox.Active .SVGIcon_DialogCheck {
  opacity: 1; }

.DialogCheckbox.Active .SVGIcon_DialogCheck #stop0 {
  opacity: 1; }

.DialogCheckbox.Disabled {
  cursor: default;
  opacity: .5;
  filter: saturate(0.35);
  box-shadow: none; }

.DialogCheckbox_Container:hover .DialogCheckbox:not(.Disabled),
.DialogCheckbox:hover:not(.Disabled),
.DialogCheckbox_Container:focus .DialogCheckbox:not(.Disabled),
.DialogCheckbox:focus:not(.Disabled) {
  background-color: #1e1f23; }

.DialogCheckbox_Container:focus,
.DialogCheckbox:focus {
  outline: none; }

.DialogCheckbox .DialogCheck {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.DialogRoundCheckbox {
  width: 24px;
  height: 24px;
  border-radius: 50%; }

.DialogRoundCheckbox_Control {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  background-color: #24262b; }

.DialogRoundCheckbox_OuterCircle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  box-shadow: inset 0.5px 1px 3px rgba(1, 1, 1, 0.4);
  display: flex;
  justify-content: center;
  transition: background-color .08s ease-in-out; }

.DialogRoundCheckbox_Container {
  cursor: pointer; }

.DialogRoundCheckbox_Container:focus {
  outline: none; }

.DialogRoundCheckbox_Container:hover .DialogRoundCheckbox_OuterCircle {
  background-color: #1e1f23; }

.DialogRoundCheckbox_Container.WithLabel .DialogRoundCheckbox {
  float: left;
  margin-right: 6px; }

.DialogRoundCheckbox_Container .DialogToggle_Label {
  overflow: hidden; }

.DialogRoundCheckbox_Control .DialogRoundCheckbox_InnerCircle {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  align-self: center;
  box-shadow: 0px 0px 8px rgba(31, 141, 254, 0.5);
  background: linear-gradient(to bottom, #00ccff 0%, #2d73ff 80%);
  transform: scale(0);
  opacity: 0;
  transition: all .1s ease-in-out; }

.DialogRoundCheckbox_Control.Active .DialogRoundCheckbox_InnerCircle {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  opacity: 1; }

.copiedAnimation {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #1b98ff;
  transition: all 0s ease-out;
  z-index: 0;
  pointer-events: none;
  user-select: none; }

.copiedAnimation.animationComplete {
  opacity: 0;
  transition-duration: 1s;
  transition-delay: 0.5s; }

.copiedAnimation.animationPlaying {
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 0s, 0.6s; }

._FixedHeight {
  flex-shrink: 0; }

._FillAvailableHeightAndScroll {
  flex: 1;
  min-height: 0;
  overflow-y: scroll; }

ul {
  list-style-type: disc;
  list-style-position: inside; }

/*
* Title Bar styles
*/
.title-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 18px;
  -webkit-app-region: drag;
  z-index: 2; }

body.in_global_drag .title-area {
  -webkit-app-region: no-drag; }

.titleBarContainer {
  position: relative; }

.titleBarContainer .no-drag {
  -webkit-app-region: no-drag;
  z-index: 3; }

.title-area .title-bar-actions {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 0px;
  right: 2px;
  bottom: 0;
  max-height: 24px;
  -webkit-app-region: no-drag;
  pointer-events: auto; }

.singleWindowFocusBar {
  width: 100%;
  height: 24px;
  background: linear-gradient(to right, #007896, #1f3d96);
  -webkit-mask: linear-gradient(to bottom, black 0px, black 1px, rgba(0, 0, 0, 0.4) 1px, rgba(0, 0, 0, 0.2) 8px, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity .18s ease-in-out;
  pointer-events: none;
  user-select: none; }

.focused .singleWindowFocusBar {
  opacity: 1;
  z-index: 15; }

.title-area-highlight {
  height: 24px;
  background: linear-gradient(to right, #007896, #1f3d96);
  -webkit-mask: linear-gradient(to bottom, black 0px, black 1px, rgba(0, 0, 0, 0.4) 1px, rgba(0, 0, 0, 0.2) 8px, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  transition: opacity .18s ease-in-out;
  pointer-events: none;
  user-select: none; }

.focused:not(.singlewindow) .title-area-highlight {
  opacity: 1; }

.title-area-icon {
  width: 24px;
  height: 18px;
  margin: auto 0px auto 0px;
  /*background-size: 10px;*/
  background-repeat: no-repeat;
  background-position: center;
  -webkit-app-region: no-drag; }

.title-area-children {
  float: right;
  margin-right: 84px;
  -webkit-app-region: no-drag;
  pointer-events: auto;
  position: absolute;
  top: 4px;
  right: 0px;
  text-align: right; }

.title-area-icon .SVGIcon_Minimize {
  width: 14px;
  height: 14px;
  margin-top: -2px;
  margin-left: 4px; }

.title-area-icon .SVGIcon_Maximize {
  width: 14px;
  height: 14px;
  margin-top: -2px;
  margin-left: 4px; }

.title-area-icon .SVGIcon_X_Line {
  width: 14px;
  height: 14px;
  margin-top: -2px;
  margin-left: 4px; }

.title-area-icon .SVGIcon_X_Line line {
  stroke: #788a92;
  stroke-width: 24px; }

.title-area-icon:hover .SVGIcon_Button rect,
.title-area-icon:hover .SVGIcon_Button line,
.title-area-icon:hover .SVGIcon_Button polyline {
  stroke: white; }

.ModalDialogPopup .maximizeRestoreButton {
  display: none; }

.window_resize_grip {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAR0lEQVRIx2P8z0AZYKJQPwMLyTqQncxIBReMGsDAwDjg6WAYGIAvKaMlWuyiA++FYWDAaFKmWlImKtFiFx14LwwDAwY+KQMAmkcKPwxTSEoAAAAASUVORK5CYII=);
  background-size: 16px 16px;
  background-position: 4px 4px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  opacity: .3;
  position: fixed;
  right: 0px;
  bottom: 0px;
  /* force above other ui. even when fixed, seeing other ui on top */
  z-index: 1000; }

.DialogBodyNotificationBar {
  font-size: 12px;
  letter-spacing: 0px;
  color: #52b8e0;
  line-height: 18px;
  height: 18px;
  display: flex;
  margin-top: -2px; }

.DialogBodyNotificationBar svg {
  height: 13px;
  width: 13px;
  margin-left: 0px;
  margin-right: 2px;
  margin-top: 2px; }

.DialogBodyNotificationBar .SVGIcon_Lock .topLock {
  fill: #52b8e0; }

.DialogBodyNotificationBar .SVGIcon_Lock .baseLock {
  stroke: #52b8e0; }

.GenericConfirmDialog .friend {
  margin-top: 10px; }

.GenericConfirmDialog .DialogButton {
  min-width: 120px; }

.displayColumn {
  display: flex;
  flex-direction: column; }

.displayRow {
  display: flex;
  flex-direction: row; }

.fullheight {
  height: 100%;
  top: 0px;
  bottom: 0px; }

.fullWidth {
  width: 100%; }

.alignItemsCenter {
  align-items: center; }

.alignSelfCenter {
  align-self: center; }

.tempText {
  font-size: 10px;
  color: #f50;
  width: 400px;
  align-self: center; }

.allCaps {
  text-transform: uppercase; }

.flexShrinkNone {
  flex-shrink: 0; }

/*
 * Throbber
 */
.throbber {
  width: 60px;
  height: 90px;
  display: inline-block; }

.throbber_small {
  width: 36px;
  height: 36px; }

.throbber_medium {
  width: 60px;
  height: 60px; }

.throbber_large {
  width: 92px;
  height: 92px; }

.throbber_xlarge {
  width: 120px;
  height: 120px; }

.throbber_fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.throbber_absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.throbber > div {
  float: left;
  width: 25%;
  height: 100%;
  background-color: #67c1f5; }

.throbber > div {
  animation: loading_throbber_bar 1s ease-in-out infinite; }

.throbber > div:nth-child(1) {
  transform: scaleX(1) scaleY(0.6); }

.throbber > div:nth-child(2) {
  margin-left: 12%;
  transform: scaleX(1) scaleY(0.6);
  animation-delay: 0.16s; }

.throbber > div:nth-child(3) {
  margin-left: 12%;
  transform: scaleX(1) scaleY(0.6);
  animation-delay: 0.32s; }

.WaitingForInterFaceReadyContainer {
  width: 100%;
  height: 100%;
  background-color: #1f2126;
  display: flex; }

.WaitingForInterFaceReadyThrobber {
  margin: auto;
  align-self: center;
  width: fit-content; }

.Throbber_Blur {
  position: absolute;
  filter: blur(12px);
  transform: scale(1.25); }

@keyframes loading_throbber_bar {
  0% {
    transform: scaleX(1) scaleY(0.6); }
  30% {
    transform: scaleX(1) scaleY(1); }
  55% {
    transform: scaleX(1) scaleY(0.6); }
  100% {
    transform: scaleX(1) scaleY(0.6); } }

/*=============TEST STUFF BELOW PLZ DONT DELETE=======================*/
.innerwidth {
  border: 3px dashed #f80;
  flex: 1;
  color: white; }

.form {
  border: 1px dotted cyan;
  height: 100%;
  display: flex;
  flex-direction: column; }

.A {
  background-color: #F006;
  height: 40px; }

.B {
  background-color: #0f06;
  display: flex;
  flex-direction: column; }

.ScrollList {
  border: 2px solid pink;
  background-color: #000a;
  margin: 16px 32px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 200px;
  min-height: 40px; }

.FixedHeight {
  border: 2px outset red;
  height: 60px;
  margin: 4px 32px;
  background-color: #000a;
  margin-bottom: 16px; }

.VariableHeight {
  border: 2px inset blue;
  height: 60px;
  margin: 4px 32px;
  background-color: #000a; }

.C {
  background-color: #00f6;
  height: 40px; }

/*=============TEST STUFF ABOVE PLZ DONT DELETE=======================*/
.largeThrobber {
  width: 64px;
  height: 64px;
  margin-bottom: 18px; }

.mediumThrobber {
  width: 32px;
  height: 32px;
  margin-bottom: 24px; }

.smallThrobber {
  width: 16px;
  height: 24px; }

.whiteText {
  color: white; }

.textLink {
  color: white;
  text-decoration: underline; }

.allCaps {
  text-transform: uppercase; }

