._NIZ2fYFBu6WSnEE1H6i3 {
  object-fit: var(--object-fit);
}
._3OZ4rrlKzwAYOKP9HdqUrq {
  object-position: var(--object-position);
}
.OkZ2olcxw9WPWea9VGVr6 {
  white-space: pre-wrap;
}
.RRZZP47ujIKbmOpZ61w_T {
  clear: both;
}
._2XJ9_vd4z2Vp9NFllH7sfv {
  filter: blur(10px) opacity(20%);
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  left: -36%;
  background-position-y: center;
  transition: filter 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
}
@media screen and (prefers-reduced-motion: no-preference) {
  ._2lzAMSOlpWNjJRcqFGwxpR:hover ._2XJ9_vd4z2Vp9NFllH7sfv,
  ._2lzAMSOlpWNjJRcqFGwxpR:focus-visible ._2XJ9_vd4z2Vp9NFllH7sfv {
    filter: blur(8px) opacity(20%);
    transform: translateX(5%);
  }
  ._2lzAMSOlpWNjJRcqFGwxpR:hover ._2XJ9_vd4z2Vp9NFllH7sfv[data-active="true"],
  ._2lzAMSOlpWNjJRcqFGwxpR:focus-visible
    ._2XJ9_vd4z2Vp9NFllH7sfv[data-active="true"] {
    filter: blur(10px) opacity(10%);
  }
}
._2XJ9_vd4z2Vp9NFllH7sfv[data-active="true"] {
  filter: blur(10px) opacity(10%);
}
._2lzAMSOlpWNjJRcqFGwxpR,
._3V5IjC_ZPSm6AYNrG_TxIH {
  transition: background 100ms ease-in-out;
  transition: box-shadow 100ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  position: relative;
}
._2lzAMSOlpWNjJRcqFGwxpR:focus-visible,
._3V5IjC_ZPSm6AYNrG_TxIH:focus-visible {
  outline: 2px solid #fff;
  outline-offset: -2px;
}
._2lzAMSOlpWNjJRcqFGwxpR[data-active="true"]::after,
._3V5IjC_ZPSm6AYNrG_TxIH[data-active="true"]::after {
  content: "";
  outline: 1px solid var(--color-accent-8);
  outline-offset: -1px;
  position: absolute;
  inset: 0;
  border-radius: var(--radius-sm);
  pointer-events: none;
}
._2lzAMSOlpWNjJRcqFGwxpR[data-muted="true"],
._3V5IjC_ZPSm6AYNrG_TxIH[data-muted="true"] {
  opacity: 0.6;
  color: #6d6d6d;
}
._3vaVGwEWyzdBk2qShNHAXp:hover,
._1yO0Yb-sqZJEjjMYT3Cd_v:hover,
._3V5IjC_ZPSm6AYNrG_TxIH:hover,
._3xdjQos6PV3wwD8xfObB_T:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background: var(--color-dull-8);
}
._1yO0Yb-sqZJEjjMYT3Cd_v {
  border-top-right-radius: var(--radius-sm);
  border-bottom-right-radius: var(--radius-sm);
}
._3vaVGwEWyzdBk2qShNHAXp {
  border-top-left-radius: var(--radius-sm);
  border-bottom-left-radius: var(--radius-sm);
  --border-color: rgb(from var(--color-dull-12) r g b / 10%);
  border-right: 1px solid var(--border-color);
  isolation: isolate;
}
._3vaVGwEWyzdBk2qShNHAXp svg {
  transform: scale(1);
  height: 16px;
  width: 16px;
  color: rgba(26, 160, 255, 0.5019607843);
  transition-property: scale, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
._3vaVGwEWyzdBk2qShNHAXp:hover svg {
  color: #1a9fff;
  transform: scale(1.1);
}
._3vaVGwEWyzdBk2qShNHAXp[data-active="true"],
._1yO0Yb-sqZJEjjMYT3Cd_v[data-active="true"] {
  background: var(--color-dull-8);
}
._3xdjQos6PV3wwD8xfObB_T {
  border-radius: var(--radius-sm);
}
.NLSqZ9dW14eyrJHMGtMXq {
  background-color: currentColor;
  mask: var(--mask) no-repeat center;
}
._3tuJ3SHrhBu16Q7GZBtKyt {
  padding: 0;
}
._3tuJ3SHrhBu16Q7GZBtKyt:focus-visible {
  outline: none;
}
._3tuJ3SHrhBu16Q7GZBtKyt:focus-visible ._2OvUYpkiij1e7K-4vW8i9W {
  outline: 2px solid #fff;
}
._3XFGk1-WmLNC9KlGi7IYtN {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  width: 100%;
  isolation: isolate;
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
}
._1Dgxrv7wtUW1EViSgrdMlA {
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  padding: var(--spacing-1) 0;
  position: absolute;
  inset: 0;
  z-index: -1;
}
._1Dgxrv7wtUW1EViSgrdMlA:where(:nth-child(2)) {
  width: calc((100% - 2 * var(--spacing-1)) / 1);
}
._1Dgxrv7wtUW1EViSgrdMlA:where(:nth-child(3)) {
  width: calc((100% - 2 * var(--spacing-1)) / 2);
}
._1Dgxrv7wtUW1EViSgrdMlA:where(:nth-child(4)) {
  width: calc((100% - 2 * var(--spacing-1)) / 3);
}
._1Dgxrv7wtUW1EViSgrdMlA:where(:nth-child(5)) {
  width: calc((100% - 2 * var(--spacing-1)) / 4);
}
._1Dgxrv7wtUW1EViSgrdMlA:where(:nth-child(6)) {
  width: calc((100% - 2 * var(--spacing-1)) / 5);
}
._1Dgxrv7wtUW1EViSgrdMlA:where(:nth-child(7)) {
  width: calc((100% - 2 * var(--spacing-1)) / 6);
}
._1Dgxrv7wtUW1EViSgrdMlA:where(:nth-child(8)) {
  width: calc((100% - 2 * var(--spacing-1)) / 7);
}
._1Dgxrv7wtUW1EViSgrdMlA:where(:nth-child(9)) {
  width: calc((100% - 2 * var(--spacing-1)) / 8);
}
._1Dgxrv7wtUW1EViSgrdMlA:where(:nth-child(10)) {
  width: calc((100% - 2 * var(--spacing-1)) / 9);
}
._1Dgxrv7wtUW1EViSgrdMlA:where(:nth-child(11)) {
  width: calc((100% - 2 * var(--spacing-1)) / 10);
}
:where(._2aNlsjcdOdHOtP8uACA3bM[data-selected="true"]:nth-child(1))
  ~ ._1Dgxrv7wtUW1EViSgrdMlA {
  --selected-index: 0;
}
:where(._2aNlsjcdOdHOtP8uACA3bM[data-selected="true"]:nth-child(2))
  ~ ._1Dgxrv7wtUW1EViSgrdMlA {
  --selected-index: 1;
}
:where(._2aNlsjcdOdHOtP8uACA3bM[data-selected="true"]:nth-child(3))
  ~ ._1Dgxrv7wtUW1EViSgrdMlA {
  --selected-index: 2;
}
:where(._2aNlsjcdOdHOtP8uACA3bM[data-selected="true"]:nth-child(4))
  ~ ._1Dgxrv7wtUW1EViSgrdMlA {
  --selected-index: 3;
}
:where(._2aNlsjcdOdHOtP8uACA3bM[data-selected="true"]:nth-child(5))
  ~ ._1Dgxrv7wtUW1EViSgrdMlA {
  --selected-index: 4;
}
:where(._2aNlsjcdOdHOtP8uACA3bM[data-selected="true"]:nth-child(6))
  ~ ._1Dgxrv7wtUW1EViSgrdMlA {
  --selected-index: 5;
}
:where(._2aNlsjcdOdHOtP8uACA3bM[data-selected="true"]:nth-child(7))
  ~ ._1Dgxrv7wtUW1EViSgrdMlA {
  --selected-index: 6;
}
:where(._2aNlsjcdOdHOtP8uACA3bM[data-selected="true"]:nth-child(8))
  ~ ._1Dgxrv7wtUW1EViSgrdMlA {
  --selected-index: 7;
}
:where(._2aNlsjcdOdHOtP8uACA3bM[data-selected="true"]:nth-child(9))
  ~ ._1Dgxrv7wtUW1EViSgrdMlA {
  --selected-index: 8;
}
:where(._2aNlsjcdOdHOtP8uACA3bM[data-selected="true"]:nth-child(10))
  ~ ._1Dgxrv7wtUW1EViSgrdMlA {
  --selected-index: 9;
}
._1Dgxrv7wtUW1EViSgrdMlA {
  transform: translateX(calc(var(--spacing-1) + 100% * var(--selected-index)));
}
._2OvUYpkiij1e7K-4vW8i9W {
  border-radius: calc(var(--outer-radius) - var(--outer-radius) / 3);
  background-color: var(--bg-highlight-color);
  width: 100%;
  height: 100%;
}
:where(._2aNlsjcdOdHOtP8uACA3bM) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  border-radius: calc(var(--outer-radius) - var(--outer-radius) / 3);
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
  font-weight: var(--font-weight-regular);
}
:where(._2aNlsjcdOdHOtP8uACA3bM)[data-selected="false"] {
  cursor: pointer;
  color: var(--text-muted-color);
  transition: background-color 0.2s ease-in-out;
}
:where(._2aNlsjcdOdHOtP8uACA3bM)[data-selected="true"] {
  color: var(--text-color);
}
:where(._2aNlsjcdOdHOtP8uACA3bM):where(._2Y43gK-c1jI0x35n45iZ0) {
  padding-top: 0;
  padding-bottom: 0;
}
:where(._2aNlsjcdOdHOtP8uACA3bM):where(._3ohjaEz8PkzSzIrIZKEdt9) {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}
:where(._2aNlsjcdOdHOtP8uACA3bM):disabled,
:where(._2aNlsjcdOdHOtP8uACA3bM)._3gVhaCZ4k3QSnF9WhRZk5m {
  opacity: 0.35;
  cursor: default;
}
:where(._2aNlsjcdOdHOtP8uACA3bM):disabled:hover,
:where(._2aNlsjcdOdHOtP8uACA3bM)._3gVhaCZ4k3QSnF9WhRZk5m:hover {
  background: var(--background);
}
:where(
    .d2NNa31iY_ztalFCMja9O ._2aNlsjcdOdHOtP8uACA3bM[data-selected="false"]:hover
  ) {
  background-color: var(--color-dull-9);
}
:where(
    ._1FRhoIifZWCKbnl4jrnmG2
      ._2aNlsjcdOdHOtP8uACA3bM[data-selected="false"]:hover
  ) {
  background-color: var(--color-dull-6);
}
:where(
    ._1gVVovvLBjwCxSH4wWUabt
      ._2aNlsjcdOdHOtP8uACA3bM[data-selected="false"]:not(
        ._3gVhaCZ4k3QSnF9WhRZk5m
      ):hover
  ) {
  background-color: rgb(from var(--color-dull-12) r g b / 60%);
}
:where(
    ._3qc1Re1q3AH_JYfN49uj8r
      ._2aNlsjcdOdHOtP8uACA3bM[data-selected="false"]:hover
  ) {
  background-color: var(--color-dull-7);
}
:where(._3qc1Re1q3AH_JYfN49uj8r) {
  --bg-highlight-color: var(--color-dull-8);
}
.Fjfz2cC73ckcYluf8xJXh {
  background: var(--color-dull-8);
  transition: box-shadow 0.2s ease-in-out;
  outline: none;
}
.Fjfz2cC73ckcYluf8xJXh:hover {
  background: var(--color-dull-9);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.Fjfz2cC73ckcYluf8xJXh:focus-visible {
  outline: 2px solid #fff;
  outline-offset: -2px;
}
.Fjfz2cC73ckcYluf8xJXh[aria-pressed="true"] {
  outline-offset: -1px;
  outline: 1px solid var(--color-accent-8);
}
.Fjfz2cC73ckcYluf8xJXh[aria-pressed="true"]:focus-visible {
  outline-width: 2px;
  outline-offset: -2px;
}
.Fjfz2cC73ckcYluf8xJXh ._1t5uZMQ4sN1vXrw3I6-KY6 {
  width: 30px;
  height: 30px;
  color: #fff;
}
._3PoANvDgGaHNvlIXvT7cEA {
  color: #afafaf;
  font-size: 13px;
}
._3PoANvDgGaHNvlIXvT7cEA:hover {
  cursor: pointer;
  color: #fff;
}
._1nAGBiWu7n1ggCy-E5i035 {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  height: 138px;
  padding: 8px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
}
._1nAGBiWu7n1ggCy-E5i035 img {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}
._1nAGBiWu7n1ggCy-E5i035 img:hover {
  filter: drop-shadow(4px 6px 4px rgba(0, 0, 0, 0.2));
  transform: scale(1.05);
}
._1nAGBiWu7n1ggCy-E5i035._2-ehABIcetU1glyLdFi0tY {
  flex-wrap: nowrap;
  overflow-x: auto;
  height: auto;
  scroll-snap-type: x mandatory;
  gap: 12px;
}
._1nAGBiWu7n1ggCy-E5i035._2-ehABIcetU1glyLdFi0tY img {
  scroll-snap-align: start;
}
._3g3vv3kHTPCWqMi7peBikQ {
  border: 1px solid var(--color-accent-8);
}
._2gmdvGWIS321h7LVeTHB4w {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
._2gmdvGWIS321h7LVeTHB4w[data-focused="true"] {
  background: linear-gradient(
    90deg,
    rgba(14, 20, 27, 0.3) 0%,
    rgba(163, 186, 211, 0.14) 100%
  );
}
._3mYz6ZF851JdnrGU3Lo-8 {
  transition: width 200ms ease-in-out;
  width: auto;
  overflow: hidden;
  interpolate-size: allow-keywords;
}
._3mYz6ZF851JdnrGU3Lo-8[data-visible="false"] {
  width: 0px;
}
._3WQHXUuRRrVY0Xkb98Oafq {
  text-decoration: none;
}
._1PUg8GjnBeN7rBK-dcyQFl:focus-visible {
  outline: none;
}
._1PUg8GjnBeN7rBK-dcyQFl {
  filter: drop-shadow(4px 6px 4px rgba(0, 0, 0, 0.2));
  overscroll-behavior: contain;
}
._20oF9tLSfptitLraDOp6X6 {
  color: var(--color-text-body-subtitle);
  font-weight: var(--font-weight-regular);
  font-size: var(--text-size-2);
  cursor: pointer;
}
._20oF9tLSfptitLraDOp6X6[data-focused="true"] {
  background: var(--color-dull-9);
  color: #fff;
}
._20oF9tLSfptitLraDOp6X6[data-selected="true"] {
  background: var(--color-dull-9);
}
._20oF9tLSfptitLraDOp6X6:focus-visible {
  outline: none;
}
._20oF9tLSfptitLraDOp6X6[aria-disabled="true"] {
  background: var(--color-dull-7);
  color: var(--color-text-body-note);
  cursor: default;
}
:where(.xqG5GdDEeYauX2ots2DLl) {
  --bg-color: var(--color-dull-8);
  --bg-color-hover: var(--color-dull-9);
  --bg-color-focus: var(--color-dull-9);
  --bg-color-active: var(--color-dull-9);
  --bg-highlight-color: var(--color-accent-8);
  --text-color: #ffffff;
  --text-muted-color: #acb2b8;
  --padding: 0 var(--spacing-2);
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}
:where(.xqG5GdDEeYauX2ots2DLl)._1K_Ve980-qBq8l1-cZJdw1 {
  --padding: 0 var(--spacing-3);
}
:where(.xqG5GdDEeYauX2ots2DLl):focus-visible:not(textarea) {
  outline: 2px solid #fff;
  outline-offset: -2px;
}
:where(.xqG5GdDEeYauX2ots2DLl):hover {
  box-shadow: var(--box-shadow-elevation-1);
}
:where(._2Z-Zr4UW8-jHrU5olM_rpn) {
  --bg-color: #1d1f23;
  --bg-color-hover: var(--bg-color);
  --bg-color-focus: var(--bg-color);
  --bg-color-active: var(--bg-color);
  --bg-highlight-color: #3d4450;
  --text-color: #e3e3e3;
  --text-muted-color: #afafaf;
  --padding: 0 var(--spacing-3);
  box-shadow: var(--box-shadow-elevation--1);
}
:where(._2Z-Zr4UW8-jHrU5olM_rpn)[data-has-value="true"] {
  outline: 1px solid var(--color-accent-8);
  outline-offset: -1px;
}
:where(._2RYWJyn7v0tvoY5cR63QuI) {
  --bg-color: var(--color-dull-8);
  --bg-color-hover: var(--color-dull-9);
  --bg-color-focus: rgb(from var(--color-dull-8) r g b / 50%);
  --bg-color-active: var(--bg-color);
  --bg-highlight-color: var(--color-dull-8);
  --text-color: #e3e3e3;
  --text-muted-color: #afafaf;
  --padding: 0 var(--spacing-3);
}
:where(._2RYWJyn7v0tvoY5cR63QuI)._1cd-wdIp5lIWsydAxII-vY:focus,
:where(._2RYWJyn7v0tvoY5cR63QuI)._1cd-wdIp5lIWsydAxII-vY:focus-within {
  box-shadow: var(--box-shadow-elevation--1);
}
:where(._32JdL4FubsmwHfHXm6OB9I) {
  --bg-color: rgb(from var(--color-dull-12) r g b / 50%);
  --bg-color-hover: var(--color-dull-9);
  --bg-color-focus: rgb(from var(--color-dull-8) r g b / 50%);
  --bg-color-active: var(--color-dull-12);
  --bg-highlight-color: white;
  --text-color: #222222;
  --text-muted-color: white;
  --padding: 0 var(--spacing-3);
  box-shadow: var(--box-shadow-elevation--1);
}
:where(.yV_Aq5WutzzittgbOJ1R-) {
  --bg-color: transparent;
  --bg-color-hover: var(--bg-color);
  --bg-color-focus: var(--bg-color);
  --bg-color-active: var(--bg-color);
  --text-color: #e3e3e3;
  --text-muted-color: #afafaf;
  --padding: 0;
  border-bottom: 1px solid var(--status-outline-color, var(--color-dull-11));
}
:where(.yV_Aq5WutzzittgbOJ1R-)._1cd-wdIp5lIWsydAxII-vY:focus,
:where(.yV_Aq5WutzzittgbOJ1R-)._1cd-wdIp5lIWsydAxII-vY:focus-within {
  border-color: var(--status-outline-color, var(--color-accent-8));
}
:where(._2qQgKJgeeqc9lEI-i7HdsM) {
  --bg-color: var(--color-dull-6);
  --bg-color-hover: var(--bg-color);
  --bg-color-focus: var(--bg-color);
  --bg-color-active: var(--bg-color);
  --text-color: #e3e3e3;
  --text-muted-color: #afafaf;
  --padding: 0 var(--spacing-2);
}
:where(._2qQgKJgeeqc9lEI-i7HdsM):hover {
  box-shadow: var(--box-shadow-elevation-1);
}
:where(.EFvA4gLIikUE06LDGCqg5) {
  --bg-color: var(--color-dull-8);
  --bg-color-hover: var(--color-dull-9);
  --bg-color-focus: var(--color-dull-9);
  --bg-color-active: var(--color-dull-9);
  --text-color: var(--color-dull-12);
  --text-muted-color: var(--color-dull-12);
  --padding: 0 var(--spacing-2);
}
:where(.EFvA4gLIikUE06LDGCqg5)._1K_Ve980-qBq8l1-cZJdw1 {
  --padding: 0 var(--spacing-3);
}
:where(.EFvA4gLIikUE06LDGCqg5)[data-has-value="true"] {
  outline: 1px solid var(--color-accent-8);
  outline-offset: -1px;
  --bg-color: var(--color-dull-8);
}
:where(.EFvA4gLIikUE06LDGCqg5):focus-visible:not(textarea) {
  outline: 2px solid #fff;
  outline-offset: -2px;
}
:where(.EFvA4gLIikUE06LDGCqg5):hover {
  box-shadow: var(--box-shadow-elevation-1);
}
:where(._3vxqpebgJYIYNTcigTXx21) {
  --bg-color: transparent;
  --bg-color-hover: rgb(from var(--color-dull-6) r g b / 50%);
  --bg-color-focus: var(--bg-color-hover);
  --bg-color-active: transparent;
  --padding: 0 var(--spacing-2);
  --text-color: var(--color-text-body-body);
  --text-muted-color: var(--color-text-body-description);
}
:where(._2gL71Yq-HzVI9oOGyWu3jH) {
  background-color: var(--bg-color, var(--color-debug));
  transition: background-color 0.2s ease-in-out;
}
:where(._2gL71Yq-HzVI9oOGyWu3jH)._8JNTStqpIYaMWQJx6g6hK:hover {
  background-color: var(--bg-color-hover, var(--color-debug));
}
:where(._2gL71Yq-HzVI9oOGyWu3jH)._1KONo9A0HE0_NOK2F6uvXy:active {
  background-color: var(--bg-color-active, var(--color-debug));
}
:where(._2gL71Yq-HzVI9oOGyWu3jH)._1cd-wdIp5lIWsydAxII-vY:focus-visible,
:where(._2gL71Yq-HzVI9oOGyWu3jH)._1cd-wdIp5lIWsydAxII-vY:focus-within {
  background-color: var(--bg-color-focus, var(--color-debug));
}
:where(._2gL71Yq-HzVI9oOGyWu3jH)._2I6xXve3oCxh8fra7SWTnq {
  opacity: 0.35;
  cursor: default;
}
:where(._2gL71Yq-HzVI9oOGyWu3jH)._2I6xXve3oCxh8fra7SWTnq:focus-visible,
:where(._2gL71Yq-HzVI9oOGyWu3jH)._2I6xXve3oCxh8fra7SWTnq:focus-within {
  outline: 1px solid #fff;
}
:where(._2gL71Yq-HzVI9oOGyWu3jH) {
  position: relative;
  color: var(--text-color);
  padding: var(--padding);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  border-radius: 2px;
}
:where(._2gL71Yq-HzVI9oOGyWu3jH)._2e1xlPghh48rkP13ydQOPb {
  min-height: var(--control-height-1);
  --font-size: var(--text-size-2);
  --line-height: var(--line-height-2);
  --letter-spacing: var(--letter-spacing-2);
}
:where(._2gL71Yq-HzVI9oOGyWu3jH).B7HtDxiiORArIRcBR9kVB {
  min-height: var(--control-height-2);
  --font-size: var(--text-size-3);
  --line-height: var(--line-height-3);
  --letter-spacing: var(--letter-spacing-3);
}
:where(._2gL71Yq-HzVI9oOGyWu3jH)._1K_Ve980-qBq8l1-cZJdw1 {
  min-height: var(--control-height-3);
  --font-size: var(--text-size-4);
  --line-height: var(--line-height-4);
  --letter-spacing: var(--letter-spacing-4);
}
:where([data-status="highlight"]) {
  --status-outline-color: var(--color-accent-8);
}
:where([data-status="error"]) {
  --status-outline-color: var(--color-error-9);
}
:where([data-status="warning"]) {
  --status-outline-color: var(--color-warning-9);
}
:where([data-status="success"]) {
  --status-outline-color: var(--color-success-9);
}
:where([data-status]:not(.yV_Aq5WutzzittgbOJ1R-)) {
  outline: 1px solid var(--status-outline-color);
  outline-offset: -1px;
}
._2Vc3a-PM4tOhJcD72NEq1U {
  color: var(--icon-color);
}
._20lX82QaoUw-iHboSsmZBI {
  width: var(--font-size, var(--default-font-size));
  height: var(--font-size, var(--default-font-size));
  --hit-slop: calc(var(--font-size, var(--default-font-size)) / 2);
}
._1zRMg9IjPqEIAejKQDDLYW {
  width: var(--text-size-1);
  height: var(--text-size-1);
  --hit-slop: calc(var(--text-size-1) / 2);
}
._3dn_hJnXYKfl38rjqz4y91 {
  width: var(--text-size-2);
  height: var(--text-size-2);
  --hit-slop: calc(var(--text-size-2) / 2);
}
._2aoIykgGddbEHeCGgMR79l {
  width: var(--text-size-3);
  height: var(--text-size-3);
  --hit-slop: calc(var(--text-size-3) / 2);
}
._1Ypu_MleveHHMyLy8PVNy {
  width: var(--text-size-4);
  height: var(--text-size-4);
  --hit-slop: calc(var(--text-size-4) / 2);
}
.e8vp9esm_uAhUEdfq5zjr {
  width: var(--text-size-5);
  height: var(--text-size-5);
  --hit-slop: calc(var(--text-size-5) / 2);
}
.hXAsxCohKrk8qBq6Enfgt {
  width: var(--text-size-6);
  height: var(--text-size-6);
  --hit-slop: calc(var(--text-size-6) / 2);
}
._5TifSVb5dMP2wAaHIDqM_ {
  width: var(--text-size-7);
  height: var(--text-size-7);
  --hit-slop: calc(var(--text-size-7) / 2);
}
._32KP-QSJpecoxuWZfWkqmy {
  width: var(--text-size-8);
  height: var(--text-size-8);
  --hit-slop: calc(var(--text-size-8) / 2);
}
._3TcYJ4xwprVIVhcdzwF17m {
  width: var(--text-size-9);
  height: var(--text-size-9);
  --hit-slop: calc(var(--text-size-9) / 2);
}
._1tiFDvBjIAQRZDbVwz8k2u {
  margin: calc(var(--hit-slop-custom, var(--hit-slop)) * -1);
  padding: var(--hit-slop-custom, var(--hit-slop));
}
._3mh9mimYdqEileUp-cYkQh {
  animation: _12eclucgixaW8U7dizVBcD 2s ease-in-out infinite;
  --bg-color: rgb(from var(--color-dull-10) r g b / 60%);
  background-color: var(--bg-color);
}
@keyframes _12eclucgixaW8U7dizVBcD {
  0% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 50%;
  }
}
._1kIuUssJvopWbHik1IKMG6 {
  --icon-color: var(--color-accent-8, white);
  --checkbox-size: calc(var(--spacing-4) + var(--spacing-1));
  --bg-default: var(--color-dull-8);
  --bg-focus: var(--color-dull-9);
  --bg-disabled: rgb(from var(--bg-focus) r g b / 50%);
}
._1kIuUssJvopWbHik1IKMG6.zcrlDqGBY0Lrl7faLFoJI {
  --bg-default: var(--color-dull-9);
  --bg-focus: var(--color-dull-8);
  --bg-disabled: rgb(from var(--bg-focus) r g b / 50%);
}
._1kIuUssJvopWbHik1IKMG6._3b6kFRuG8ILziz88w8GESp {
  --bg-default: var(--color-dull-6);
  --bg-focus: var(--color-dull-8);
  --bg-disabled: rgb(from var(--bg-focus) r g b / 50%);
}
._1kIuUssJvopWbHik1IKMG6.wlcXkTKJWe-SE0fCwIRwQ {
  --bg-default: transparent;
  --bg-focus: rgb(from var(--color-dull-8) r g b / 50%);
  --bg-disabled: transparent;
  --border-color: var(--color-dull-8);
  --border-width: 2px;
}
._1kIuUssJvopWbHik1IKMG6 {
  display: flex;
  gap: var(--spacing-2);
  --background-color: var(--bg-default);
}
._1kIuUssJvopWbHik1IKMG6:disabled,
._1kIuUssJvopWbHik1IKMG6.kLcGKsNxkoEqxgok6YzML {
  --icon-color: rgb(from var(--color-dull-11) r g b / 50%);
  --background-color: var(--bg-disabled);
}
._1kIuUssJvopWbHik1IKMG6 ._3babFLLB0YYBf8znrlE7Dt {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: var(--radius-sm);
  background-color: var(--background-color);
  border: var(--border-width, 1px) solid var(--border-color, transparent);
  width: var(--checkbox-size);
  min-width: var(--checkbox-size);
  height: var(--checkbox-size);
  min-height: var(--checkbox-size);
  color: var(--icon-color);
}
._1kIuUssJvopWbHik1IKMG6 ._3babFLLB0YYBf8znrlE7Dt .cngAYeP7ZvFo2pT_v3-xO {
  width: 14px;
  height: 14px;
}
._1kIuUssJvopWbHik1IKMG6 ._3babFLLB0YYBf8znrlE7Dt svg {
  width: 16px;
  height: 16px;
}
._1kIuUssJvopWbHik1IKMG6 ._3babFLLB0YYBf8znrlE7Dt:hover {
  cursor: pointer;
}
._1kIuUssJvopWbHik1IKMG6:hover {
  --background-color: var(--bg-focus);
}
._1kIuUssJvopWbHik1IKMG6:focus-visible {
  outline: none;
}
._1kIuUssJvopWbHik1IKMG6:focus-visible ._3babFLLB0YYBf8znrlE7Dt {
  outline: 2px solid #fff;
}
._1vE-LsK6l_D_5yjbywZV1p {
  width: 100%;
  box-sizing: border-box;
  --color-placeholder-text: var(--text-muted-color, #afafaf);
}
._1vE-LsK6l_D_5yjbywZV1p::placeholder,
._1vE-LsK6l_D_5yjbywZV1p::-webkit-input-placeholder {
  color: var(--color-placeholder-text);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  font-style: italic;
}
._1vE-LsK6l_D_5yjbywZV1p::-ms-input-placeholder,
._1vE-LsK6l_D_5yjbywZV1p:-ms-input-placeholder {
  color: var(--color-placeholder-text);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  font-style: italic;
}
._1vE-LsK6l_D_5yjbywZV1p:read-only {
  cursor: default;
}
textarea._1vE-LsK6l_D_5yjbywZV1p {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
  max-width: 100%;
  max-height: 100%;
}
._3xFYpKNlOZ6xjQ529ZgRbr {
  --border: 1px solid var(--color-dull-9);
}
._3xFYpKNlOZ6xjQ529ZgRbr._310cGk80jWCZr6LxeueX_5 {
  border-top: var(--border);
}
._3xFYpKNlOZ6xjQ529ZgRbr.nLYMJhpffeKLN_8VkTcD_ {
  border-bottom: var(--border);
}
._3i_h6xYLxqWT-wquwrB4P8 {
  --toggle-timing: 0.2s;
  --toggle-transition: transform 0.2s cubic-bezier(0.1, 0.12, 0.53, 1.72);
  width: var(--track-width);
  height: var(--track-height);
  border-radius: 9000px;
  position: relative;
}
._3i_h6xYLxqWT-wquwrB4P8:hover {
  outline: 4px solid hsla(0, 0%, 100%, 0.2);
  cursor: pointer;
}
._3i_h6xYLxqWT-wquwrB4P8:focus,
._3i_h6xYLxqWT-wquwrB4P8.gpfocus {
  outline: 4px solid hsla(0, 0%, 100%, 0.4);
}
._3i_h6xYLxqWT-wquwrB4P8:where(._2BS49hUFyqY2YQ3X6Am-Oe) {
  --track-width: 24px;
  --track-height: 14px;
}
._3i_h6xYLxqWT-wquwrB4P8:where(._3GAcWYWoOxZKAt2NY-d-M-) {
  --track-width: 38px;
  --track-height: 22px;
}
._3i_h6xYLxqWT-wquwrB4P8:where(.q85ksguLIHUIA6Z5aWE2b) {
  --track-width: 56px;
  --track-height: 32px;
}
.wCPKWvwCOuo-4mHzhEcBW {
  position: absolute;
  overflow: hidden;
  width: var(--track-width);
  height: var(--track-height);
  background: var(--color-dull-8);
  border-radius: 9000px;
}
.wCPKWvwCOuo-4mHzhEcBW::before {
  content: "";
  width: var(--track-width);
  height: var(--track-height);
  transition: transform 0.2s ease-out;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 9000px;
  background: var(--color-accent-8);
}
[aria-checked="true"] .wCPKWvwCOuo-4mHzhEcBW::before {
  transform: translateX(0);
}
[aria-checked="false"] .wCPKWvwCOuo-4mHzhEcBW::before {
  transform: translateX(calc(-1 * var(--track-width)));
}
._14qr0P2xMoRiEbcekixcZh {
  width: var(--track-height);
  height: var(--track-height);
  transition: var(--toggle-transition);
  border-radius: 9000px;
  background: #fff;
  transform: translateX(0);
}
[aria-checked="true"] ._14qr0P2xMoRiEbcekixcZh {
  transform: translateX(calc(var(--track-width) - var(--track-height)));
}
:where(._2IVd64AHN6R428cgcPqW7M) {
  box-sizing: border-box;
  display: grid;
  justify-content: flex-start;
  align-items: stretch;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: none;
}
._2PUyyAEGuZenuwES7VJvQO {
  display: var(--grid-display);
}
._16FZUyKiH6Z7trthKypJwf {
  grid-template-columns: var(--grid-columns);
}
._2QdiX1hDsJmlkrHmcCOMbV {
  grid-template-rows: var(--grid-rows);
}
.Cr7YIMQn6_lDRU4-3BR8b {
  grid-auto-columns: var(--grid-auto-columns);
}
._3kyzvGnYVLT0DW6nzP9n18 {
  grid-auto-rows: var(--grid-auto-rows);
}
._3AvZKfpfaIQbfczVRBASsX {
  grid-auto-flow: var(--grid-auto-flow);
}
._1-yfCTWkj4tOFfb3EKXx6N {
  grid-template-areas: var(--grid-areas);
}
._1yUwWGTk4IX0IhdJiKfFBf {
  grid-auto-flow: var(--grid-flow);
}
._2Tglp6488nVBhU976Llfpe {
  align-content: var(--grid-align-content);
}
.TT1_g1XWXbbLgxOPIpczV {
  justify-content: var(--grid-justify-content);
}
._1ve3GjJA-d6MfYcIiXdqz0 {
  align-items: var(--grid-align-items);
}
._2LsmJGVn3g0GHmBPNWVn5T {
  justify-items: var(--grid-justify-items);
}
.c0C2uHpDLCegllhH1rM3M {
  gap: var(--grid-gap-y, var(--grid-gap, 0))
    var(--grid-gap-x, var(--grid-gap, 0));
}
.Ib6RCjwueJUjl7aWNipFW {
  padding-left: 10px;
  padding-right: 10px;
  touch-action: none;
}
.Ib6RCjwueJUjl7aWNipFW .-nNjOur8lh62cpxs1Jnth {
  display: grid;
  align-items: center;
  height: 20px;
  position: relative;
  cursor: pointer;
}
._32V6MAuLhIp8s5_OPJxur1 {
  height: 3px;
  flex-grow: 1;
  position: relative;
  background-color: var(--color-dull-9);
  border-radius: 2px;
}
._1S38a0lsWaX1bdlroIEyXQ {
  position: absolute;
  left: var(--pct-left);
  right: var(--pct-right);
  height: 3px;
  background-color: var(--color-accent-8);
}
._1VoJsIZhjVss7lO_vZxCFC {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 8px #000;
  position: absolute;
  left: var(--handle-pct);
  transform: translateX(-50%);
  cursor: pointer;
}
._1VoJsIZhjVss7lO_vZxCFC:focus-visible {
  outline: 4px solid var(--color-accent-11);
  outline-offset: -2px;
}
._2v8lnOhHPKk5DrlAD0yAwc {
  background-color: var(--separator-color, var(--color-text-body-description));
}
._2v8lnOhHPKk5DrlAD0yAwc[aria-orientation="horizontal"] {
  width: var(--separator-length);
  height: 1px;
  min-height: 1px;
}
._2v8lnOhHPKk5DrlAD0yAwc[aria-orientation="vertical"] {
  height: var(--separator-length);
  width: 1px;
}
.HA_T1szVWGIw7_cDibhei {
  --separator-length: var(--spacing-4);
}
.oSgUz2qE-NgHuOm4wt_OC {
  --separator-length: var(--spacing-6);
}
.f9Ra4JmQiBJz_dBLijs_x {
  --separator-length: var(--spacing-9);
}
._1zkUYDDyfzPgesBbGmMsxP {
  --separator-length: 100%;
}
.CsBvls5vHRsxv-ZseyEhc {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
}
._2qj5isrN95ajQb8c2nAuMs {
  background-color: #325396;
  border-color: #253e70;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-left: 20px;
  transform: translate(0px, 6px);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 8px 2px 20px;
}
._2EE-ZampXjpepog8RdkfIJ {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
}
._2rGNh4nOuEfSbNbyXrEMEz {
  background-color: #c99810;
  border-color: #f6bd1c;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-left: 20px;
  transform: translate(0px, 6px);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 8px 2px 20px;
}
._2MixhMbHTxS0qJ2uAefnVy {
  background: radial-gradient(circle 224px at 50% 108px, #333333, #1e1e1e);
  word-wrap: break-word;
}
._3LTPlbh1oIRZyLjujpw83H,
._27u72fjp-gJgeD5k7NQ1Vf {
  display: block;
  width: 32px;
  height: 32px;
}
._12ldq1_X5RuLWAAs_ODwt7 {
  color: var(--text-color, var(--color-text-body-title));
  font-size: var(--font-size, var(--default-font-size));
  line-height: var(--line-height, var(--default-line-height));
  letter-spacing: var(--letter-spacing, var(--default-letter-spacing));
}
:where(._12ldq1_X5RuLWAAs_ODwt7) {
  margin: 0;
}
.-YHuRmP6nUp0IqPQ4F3wk {
  --font-size: var(--text-size-1);
  --line-height: var(--heading-line-height-1);
  --letter-spacing: var(--heading-letter-spacing-1);
}
._20m6yPkrPwQ8XwlhPdMtqu {
  --font-size: var(--text-size-2);
  --line-height: var(--heading-line-height-2);
  --letter-spacing: var(--heading-letter-spacing-2);
}
._2jvih9p3Mc3zUn2nnxzDv7 {
  --font-size: var(--text-size-3);
  --line-height: var(--heading-line-height-3);
  --letter-spacing: var(--heading-letter-spacing-3);
}
._1zvMJY9dUjwMSI0j5QoEdq {
  --font-size: var(--text-size-4);
  --line-height: var(--heading-line-height-4);
  --letter-spacing: var(--heading-letter-spacing-4);
}
._1196Oisy8jDA4szPu-KrKP {
  --font-size: var(--text-size-5);
  --line-height: var(--heading-line-height-5);
  --letter-spacing: var(--heading-letter-spacing-5);
}
.R1W-zMFN4WGw9JK48Yqez {
  --font-size: var(--text-size-6);
  --line-height: var(--heading-line-height-6);
  --letter-spacing: var(--heading-letter-spacing-6);
}
.Ena8Nl7MJg7YAYsWql_jo {
  --font-size: var(--text-size-7);
  --line-height: var(--heading-line-height-7);
  --letter-spacing: var(--heading-letter-spacing-7);
}
.jyf9-rlT4iFrHQOAVn298 {
  --font-size: var(--text-size-8);
  --line-height: var(--heading-line-height-8);
  --letter-spacing: var(--heading-letter-spacing-8);
}
._3L0vs4_Y96AtsR3P5GUkUa {
  --font-size: var(--text-size-9);
  --line-height: var(--heading-line-height-9);
  --letter-spacing: var(--heading-letter-spacing-9);
}
