._2DCeN21MQJGwVpPCXcT2QJ {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
}
@media screen and (max-width: 980px) {
  ._2DCeN21MQJGwVpPCXcT2QJ {
    margin: 0 20px;
  }
}
._35hlMprL--UdgfHJGuGnJR {
  min-height: 224px;
  display: flex;
  gap: 20px;
}
._1bLYafVT6_4DisbgdimwXc {
  display: block;
  font-size: 18px;
  padding: 5px 0px;
  color: #fff;
}
._1bLYafVT6_4DisbgdimwXc ._39iFFMnPRQXd5IL6PGoOcn {
  padding-right: 5px;
}
._1bLYafVT6_4DisbgdimwXc ._3iXuG9K_6ttnP8gOhOR7Iv {
  font-size: 16px;
}
._1cj-7JmCC_IQ4ZdxxUo43Q {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 77%;
  min-width: 0;
}
.KG3qM6Y1DpK-afn15yeaT {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
._3Y-y3pAcXpqgpuUTLQkz86 {
  height: 70px;
}
._1uSw_aqus0W7yb3vT9_-22 {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: sticky;
  top: 20px;
  z-index: 1;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 33%;
  min-width: 200px;
  max-width: 340px;
}
@media screen and (max-width: 910px) {
  ._1uSw_aqus0W7yb3vT9_-22 {
    top: 80px;
  }
}
@media screen and (max-width: 500px) {
  html.responsive ._1uSw_aqus0W7yb3vT9_-22 {
    display: none;
  }
}
._3t24BJeKfB-KBIct4_UuX8 {
  font-size: 14px;
  color: #fff;
  background-color: rgba(58, 62, 71, 0.5);
  min-height: 200px;
}
._3t24BJeKfB-KBIct4_UuX8 ._uGFLI7t_2emsn37l93hZ {
  padding-top: 50px;
  font-weight: 500;
  text-align: center;
}
._3t24BJeKfB-KBIct4_UuX8 ._3Iomc0Ep9lyBB_QNlE8p4n {
  padding: 20px;
  font-weight: 200;
  text-align: center;
  color: #dfe3e6;
}
._3B7mJdJw-FhqV6l5q-IFO_ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
._3ZlbZ5ev0L-hcx-z4JItgd {
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 0;
  white-space: nowrap;
  display: flex;
}
button.DialogButton._37UjwIEFODwKdnz3d90mdF,
button.DialogButton.T8q00Eg6Sx2u-N2ySzMrg {
  padding: 0px 14px;
  width: auto;
  flex-grow: 1;
}
button.DialogButton._37UjwIEFODwKdnz3d90mdF ._1XXJX0-wXgz7O3Bd0qimBX,
button.DialogButton.T8q00Eg6Sx2u-N2ySzMrg ._1XXJX0-wXgz7O3Bd0qimBX {
  height: 16px !important;
  width: 16px !important;
  padding-right: 5px;
}
._37UjwIEFODwKdnz3d90mdF {
  width: unset !important;
}
._4T-jWhXP-AWt4AatyamIk {
  padding-top: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: #9298a0;
}
._1YDIAzUAWf7ueOLgHLbGeF {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
._2C4dM9ELcMmtBLz8SavLK4 {
  padding-left: 10px !important;
  color: #9298a0;
}
._3Z8otCycVht4XocANv_EPb {
  margin-top: 10px !important;
  width: unset !important;
  padding: 0px 20px !important;
}
.o_I3vYqgbLhw7c8iXVwb3 {
  fill: #8c8c8c;
  width: 24px;
  height: 24px;
}
.-GWy_nsP_d9rJnCNgx8NK {
  position: relative;
  padding-left: 40px;
}
.-GWy_nsP_d9rJnCNgx8NK .irq6koPKVmtQ5H7U8EAoA {
  max-height: 0px;
  overflow: hidden;
}
.-GWy_nsP_d9rJnCNgx8NK .irq6koPKVmtQ5H7U8EAoA._2hRRl_cNi9X4Veh7FeK-F4 {
  max-height: none;
}
.-GWy_nsP_d9rJnCNgx8NK ._2_xVHbSZ7fCv3LUz-THkR5 {
  flex-direction: column !important;
  gap: 4px;
  background: none !important;
  box-shadow: none !important;
  position: relative;
}
.MjW-ILAVK028V2xI8eCfW {
  transition: height .3s ease-in-out;
  overflow: hidden;
}
._3R-McPl3j1ANvRa0U9reMV {
  margin: 17px 0 0 0;
  padding: 12px 0 0 0;
  border-top: 1px solid #67707b;
}
._3R-McPl3j1ANvRa0U9reMV a {
  margin-bottom: 8px;
}
