.collapseablesection_SectionTitleHeader_2g5oN {
  display: flex;
}
.collapseablesection_SectionTitleHeader_2g5oN .DialogButton {
  width: 36px;
  height: 30px;
  margin-left: auto;
  margin-top: auto;
}
.collapseablesection_required_title_3yDPZ {
  display: flex;
}
.collapseablesection_SectionTitleHeader_2g5oN .EventEditorTextTitle {
  padding-top: 6px;
}
